


// ##############################################################################
// ##############################################################################
// accordion

.block-accordion {
  .rwd-p(@site-width-1-bp,767px,/**/30px,0px,0px,0px,/**/30px,30px,0px,30px,/**/30px,0px,0px,0px);
  .panel {
    background: none;
    border: 1px solid @color1;
    margin-bottom: 20px;
    .close {
      color: @color-error;
      opacity: 1;
    }
  }
  .panel-heading {
    background: none;
    padding: 0;
  }
  .panel-title {
    background: none;
    border: 1px solid @color1;
    border-left: 10px solid @color1;
    color: @color1;
    font-family: @font-family-sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    button {
      display: block;
      padding: 16px 20px;
      text-align: left;
      width: 100%;
    }
    .excerpt {
      color: inherit;
      font-size: @fsb * 0.9;
      font-weight: 400;
      padding: 5px 5px;
    }
    .icon {
      background: none;
      bottom: 1px;
      color: inherit;
      padding: 10px 0 0;
      position: absolute;
      right: 1px;
      text-align: center;
      top: 1px;
      width: 30px;
    }
  }




  .panel-body {
    //background: @colorw;
    font-weight: 400;
    a {
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .accordion-heading {
    background: none;
    border: none;
    display: block;
  }




// COLOURS

  .panel {


    &.color-one {
      border-color: @color1;
      &.style-outline {
        .panel-title {
          border-color: @color1;
          color: @color1;
        }
      }
      &.style-solid {
        .panel-title {
          background: @color1;
          border-color: @color1;
          color: @color1-text-color;
        }
      }
    }

    &.color-two {
      border-color: @color2;
      &.style-outline {
        .panel-title {
          border-color: @color2;
          color: @color2;
        }
      }
      &.style-solid {
        .panel-title {
          background: @color2;
          border-color: @color2;
          color: @color2-text-color;
        }
      }
    }

    &.color-three {
      border-color: @color3;
      &.style-outline {
        .panel-title {
          border-color: @color3;
          color: @color3;
        }
      }
      &.style-solid {
        .panel-title {
          background: @color3;
          border-color: @color3;
          color: @color3-text-color;
        }
      }
    }
    
    &.color-four {
      border-color: @color4;
      &.style-outline {
        .panel-title {
          border-color: @color4;
          color: @color4;
        }
      }
      &.style-solid {
        .panel-title {
          background: @color4;
          border-color: @color4;
          color: @color4-text-color;
        }
      }
    }

    &.color-white {
      border-color: @colorw;
      &.style-outline {
        .panel-title {
          border-color: @colorw;
          color: @colorw;
        }
      }
      &.style-solid {
        .panel-title {
          background: @colorw;
          border-color: @colorw;
          color: @colord;
        }
      }
    }

    &.color-grey {
      border-color: @colorg;
      &.style-outline {
        .panel-title {
          border-color: @colorg;
          color: @colorg;
        }
      }
      &.style-solid {
        .panel-title {
          background: @colorg;
          border-color: @colorg;
          color: @colord;
        }
      }
    }

    &.color-dark {
      border-color: @colord;
      &.style-outline {
        .panel-title {
          border-color: @colord;
          color: @colord;
        }
      }
      &.style-solid {
        .panel-title {
          background: @colord;
          border-color: @colord;
          color: @colorw;
        }
      }
    }

    &.color-error {
      border-color: @color-error;
      &.style-outline {
        .panel-title {
          border-color: @color-error;
          color: @color-error;
        }
      }
      &.style-solid {
        .panel-title {
          background: @color-error;
          border-color: @color-error;
          color: @colorw;
        }
      }
    }
  }


}
