

.content-blocks {
.block-audio {

  article {
    display: inline-block;
    .rwd-max-width(@screen-sm-max,767px,70%,85%,100%);
  }


  &.has-border-1 {
    article {
      border: 1px solid;
      margin-bottom: 20px;
      padding: 15px;

      .heading {
        margin-top: 0;
      }
    }
  }

  &.border-color-one {
    article {
      border-color: @color1;
    }
  }






} // blocks
} // rwd
