


.block-full {
  background: @colord;
  position: relative;
  .col-image {
    .rwd-height(@screen-sm-max,767px,/**/100%,350px,200px);
    left: 0;
    position: absolute;
    top: 0;
    .col-overlay {
      #gradient > .horizontal(@start-color: fade(@colord,1%); @end-color: @colord; @start-percent: 0%; @end-percent: 100%);
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 60%;
    }
    .default-image {
      padding-top: 100px;
      position: relative;
      text-align: center;
      z-index: 10;
      img {
        display: inline-block;
      }
    }
  }
  .col-content {
    color: @colorw;
    float: right;
    padding: 30px 50px 30px 0;
    position: relative;
    text-align: right;
    z-index: 50;
    h1 {
      color: @color1;
    }
    .text {
      display: inline-block;
      width: 70%;
      h2 {
        font-size: @fsb * 1.5;
        text-align: right;
        text-transform: initial;
        span {
          text-transform: uppercase;
        }
      }
    }
    .small {
      margin: 20px 0 0;
      font-size: @fsb * 0.85;
      a {
        color: @color1;
        &:hover {
          color: @colorw;
          text-decoration: underline;
        }
      }
    }

  }

  &.block-1 {
    .col-image {
      width: 70%;
    }
    .col-content {
      width: 65%;
    }
  }

  &.block-2 {
    .col-image {
      width: 50%;
    }
    .col-content {
      width: 80%;
    }
  }

} // block





@media only screen and (max-width: @site-width-1-bp) {



} // rwd







@media only screen and (max-width: @screen-sm-max) {



  .block-full {
    .col-image {
      height: 300px;
      left: auto;
      position: relative;
      top: auto;
      width: 100%;
      .col-overlay {
        display: none;
      }
      .default-image {
        padding-top: 50px;
      }
    }

    .col-content {
      float: none;
      padding: 10px 20px 20px;
      text-align: center;
      width: 100%;
      .text {
        display: block;
        width: 100%;
        h2 {
          text-align: center;
        }
      }
    }

    &.block-1, &.block-2 {
      .col-image {
        width: 100%;
      }
      .col-content {
        width: 100%;
      }
    }

  } //




} // rwd
