
@cbb-t-var: 2%;
@cbb-m-var: 4%;


// vw padding 
  .cbbt-0sw {
    padding-top: 0vw;
  }
  .cbbt-1sw {
    padding-top: 1vw;
  }
  .cbbt-2sw {
    padding-top: 2vw;
  }
  .cbbt-3sw {
    padding-top: 3vw;
  }
  .cbbt-4sw {
    padding-top: 4vw;
  }
  .cbbt-5sw {
    padding-top: 5vw;
  }
  .cbbt-6sw {
    padding-top: 6vw;
  }  
  .cbbt-7sw {
    padding-top: 7vw;
  }
  .cbbt-8sw {
    padding-top: 8vw;
  }
  .cbbt-9sw {
    padding-top: 9vw;
  }
  .cbbt-10sw {
    padding-top: 10vw;
  }
  .cbbt-11sw {
    padding-top: 11vw;
  }  
  .cbbt-12sw {
    padding-top: 12vw;
  }
  .cbbt-13sw {
    padding-top: 13vw;
  }
  .cbbt-14sw {
    padding-top: 14vw;
  }
  .cbbt-15sw {
    padding-top: 15vw;
  }
  .cbbt-16sw {
    padding-top: 16vw;
  }  
  .cbbt-17sw {
    padding-top: 17vw;
  }
  .cbbt-18sw {
    padding-top: 18vw;
  }
  .cbbt-19sw {
    padding-top: 19vw;
  }
  .cbbt-20sw {
    padding-top: 20vw;
  }
  .cbbt-21sw {
    padding-top: 21vw;
  }  
  .cbbt-22sw {
    padding-top: 22vw;
  }
  .cbbt-23sw {
    padding-top: 23vw;
  }
  .cbbt-24sw {
    padding-top: 24vw;
  }
  .cbbt-25sw {
    padding-top: 25vw;
  }
  .cbbt-26sw {
    padding-top: 26vw;
  }  
  .cbbt-27sw {
    padding-top: 27vw;
  }
  .cbbt-28sw {
    padding-top: 28vw;
  }
  .cbbt-29sw {
    padding-top: 29vw;
  }
  .cbbt-30sw {
    padding-top: 30vw;
  }
  .cbbt-31sw {
    padding-top: 31vw;
  }  
  .cbbt-32sw {
    padding-top: 32vw;
  }
  .cbbt-33sw {
    padding-top: 33vw;
  }
  .cbbt-34sw {
    padding-top: 34vw;
  }
  .cbbt-35sw {
    padding-top: 35vw;
  }
  .cbbt-36sw {
    padding-top: 36vw;
  }
  .cbbt-37sw {
    padding-top: 37vw;
  }
  .cbbt-38sw {
    padding-top: 38vw;
  }
  .cbbt-39sw {
    padding-top: 39vw;
  }
  .cbbt-40sw {
    padding-top: 40vw;
  }
  .cbbt-41sw {
    padding-top: 41vw;
  }  
  .cbbt-42sw {
    padding-top: 42vw;
  }
  .cbbt-43sw {
    padding-top: 43vw;
  }
  .cbbt-44sw {
    padding-top: 44vw;
  }
  .cbbt-45sw {
    padding-top: 45vw;
  }
  .cbbt-46sw {
    padding-top: 46vw;
  }
  .cbbt-47sw {
    padding-top: 47vw;
  }
  .cbbt-48sw {
    padding-top: 48vw;
  }
  .cbbt-49sw {
    padding-top: 49vw;
  }
  .cbbt-50sw {
    padding-top: 50vw;
  }  
  .cbbt-51sw {
    padding-top: 51vw;
  }  
  .cbbt-52sw {
    padding-top: 52vw;
  }
  .cbbt-53sw {
    padding-top: 53vw;
  }
  .cbbt-54sw {
    padding-top: 54vw;
  }
  .cbbt-55sw {
    padding-top: 55vw;
  }
  .cbbt-56sw {
    padding-top: 56vw;
  }
  .cbbt-57sw {
    padding-top: 57vw;
  }
  .cbbt-58sw {
    padding-top: 58vw;
  }
  .cbbt-59sw {
    padding-top: 59vw;
  }
  .cbbt-60sw {
    padding-top: 60vw;
  }  
  .cbbt-61sw {
    padding-top: 61vw;
  }  
  .cbbt-62sw {
    padding-top: 62vw;
  }
  .cbbt-63sw {
    padding-top: 63vw;
  }
  .cbbt-64sw {
    padding-top: 64vw;
  }
  .cbbt-65sw {
    padding-top: 65vw;
  }
  .cbbt-66sw {
    padding-top: 66vw;
  }
  .cbbt-67sw {
    padding-top: 67vw;
  }
  .cbbt-68sw {
    padding-top: 68vw;
  }
  .cbbt-69sw {
    padding-top: 69vw;
  }
  .cbbt-70sw {
    padding-top: 70vw;
  }  
  .cbbt-71sw {
    padding-top: 71vw;
  }  
  .cbbt-72sw {
    padding-top: 72vw;
  }
  .cbbt-73sw {
    padding-top: 73vw;
  }
  .cbbt-74sw {
    padding-top: 74vw;
  }
  .cbbt-75sw {
    padding-top: 75vw;
  }
  .cbbt-76sw {
    padding-top: 76vw;
  }
  .cbbt-77sw {
    padding-top: 77vw;
  }
  .cbbt-78sw {
    padding-top: 78vw;
  }
  .cbbt-79sw {
    padding-top: 79vw;
  }
  .cbbt-80sw {
    padding-top: 80vw;
  }  


  // Bottom



    .cbbb-0sw {
    padding-bottom: 0vw;
  }
  .cbbb-1sw {
    padding-bottom: 1vw;
  }
  .cbbb-2sw {
    padding-bottom: 2vw;
  }
  .cbbb-3sw {
    padding-bottom: 3vw;
  }
  .cbbb-4sw {
    padding-bottom: 4vw;
  }
  .cbbb-5sw {
    padding-bottom: 5vw;
  }
  .cbbb-6sw {
    padding-bottom: 6vw;
  }  
  .cbbb-7sw {
    padding-bottom: 7vw;
  }
  .cbbb-8sw {
    padding-bottom: 8vw;
  }
  .cbbb-9sw {
    padding-bottom: 9vw;
  }
  .cbbb-10sw {
    padding-bottom: 10vw;
  }
  .cbbb-11sw {
    padding-bottom: 11vw;
  }  
  .cbbb-12sw {
    padding-bottom: 12vw;
  }
  .cbbb-13sw {
    padding-bottom: 13vw;
  }
  .cbbb-14sw {
    padding-bottom: 14vw;
  }
  .cbbb-15sw {
    padding-bottom: 15vw;
  }
  .cbbb-16sw {
    padding-bottom: 16vw;
  }  
  .cbbb-17sw {
    padding-bottom: 17vw;
  }
  .cbbb-18sw {
    padding-bottom: 18vw;
  }
  .cbbb-19sw {
    padding-bottom: 19vw;
  }
  .cbbb-20sw {
    padding-bottom: 20vw;
  }
  .cbbb-21sw {
    padding-bottom: 21vw;
  }  
  .cbbb-22sw {
    padding-bottom: 22vw;
  }
  .cbbb-23sw {
    padding-bottom: 23vw;
  }
  .cbbb-24sw {
    padding-bottom: 24vw;
  }
  .cbbb-25sw {
    padding-bottom: 25vw;
  }
  .cbbb-26sw {
    padding-bottom: 26vw;
  }  
  .cbbb-27sw {
    padding-bottom: 27vw;
  }
  .cbbb-28sw {
    padding-bottom: 28vw;
  }
  .cbbb-29sw {
    padding-bottom: 29vw;
  }
  .cbbb-30sw {
    padding-bottom: 30vw;
  }
  .cbbb-31sw {
    padding-bottom: 31vw;
  }  
  .cbbb-32sw {
    padding-bottom: 32vw;
  }
  .cbbb-33sw {
    padding-bottom: 33vw;
  }
  .cbbb-34sw {
    padding-bottom: 34vw;
  }
  .cbbb-35sw {
    padding-bottom: 35vw;
  }
  .cbbb-36sw {
    padding-bottom: 36vw;
  }
  .cbbb-37sw {
    padding-bottom: 37vw;
  }
  .cbbb-38sw {
    padding-bottom: 38vw;
  }
  .cbbb-39sw {
    padding-bottom: 39vw;
  }
  .cbbb-40sw {
    padding-bottom: 40vw;
  }
  .cbbb-41sw {
    padding-bottom: 41vw;
  }  
  .cbbb-42sw {
    padding-bottom: 42vw;
  }
  .cbbb-43sw {
    padding-bottom: 43vw;
  }
  .cbbb-44sw {
    padding-bottom: 44vw;
  }
  .cbbb-45sw {
    padding-bottom: 45vw;
  }
  .cbbb-46sw {
    padding-bottom: 46vw;
  }
  .cbbb-47sw {
    padding-bottom: 47vw;
  }
  .cbbb-48sw {
    padding-bottom: 48vw;
  }
  .cbbb-49sw {
    padding-bottom: 49vw;
  }
  .cbbb-50sw {
    padding-bottom: 50vw;
  }  
  .cbbb-51sw {
    padding-bottom: 51vw;
  }  
  .cbbb-52sw {
    padding-bottom: 52vw;
  }
  .cbbb-53sw {
    padding-bottom: 53vw;
  }
  .cbbb-54sw {
    padding-bottom: 54vw;
  }
  .cbbb-55sw {
    padding-bottom: 55vw;
  }
  .cbbb-56sw {
    padding-bottom: 56vw;
  }
  .cbbb-57sw {
    padding-bottom: 57vw;
  }
  .cbbb-58sw {
    padding-bottom: 58vw;
  }
  .cbbb-59sw {
    padding-bottom: 59vw;
  }
  .cbbb-60sw {
    padding-bottom: 60vw;
  }  
  .cbbb-61sw {
    padding-bottom: 61vw;
  }  
  .cbbb-62sw {
    padding-bottom: 62vw;
  }
  .cbbb-63sw {
    padding-bottom: 63vw;
  }
  .cbbb-64sw {
    padding-bottom: 64vw;
  }
  .cbbb-65sw {
    padding-bottom: 65vw;
  }
  .cbbb-66sw {
    padding-bottom: 66vw;
  }
  .cbbb-67sw {
    padding-bottom: 67vw;
  }
  .cbbb-68sw {
    padding-bottom: 68vw;
  }
  .cbbb-69sw {
    padding-bottom: 69vw;
  }
  .cbbb-70sw {
    padding-bottom: 70vw;
  }  
  .cbbb-71sw {
    padding-bottom: 71vw;
  }  
  .cbbb-72sw {
    padding-bottom: 72vw;
  }
  .cbbb-73sw {
    padding-bottom: 73vw;
  }
  .cbbb-74sw {
    padding-bottom: 74vw;
  }
  .cbbb-75sw {
    padding-bottom: 75vw;
  }
  .cbbb-76sw {
    padding-bottom: 76vw;
  }
  .cbbb-77sw {
    padding-bottom: 77vw;
  }
  .cbbb-78sw {
    padding-bottom: 78vw;
  }
  .cbbb-79sw {
    padding-bottom: 79vw;
  }
  .cbbb-80sw {
    padding-bottom: 80vw;
  }  



@media only screen and (max-width: 991px) {
  .cbbt-1sw {
    padding-top: 1vw + @cbb-t-var;
  }  
  .cbbt-2sw {
    padding-top: 2vw + @cbb-t-var;
  }  
  .cbbt-3sw {
    padding-top: 3vw + @cbb-t-var;
  }  
  .cbbt-4sw {
    padding-top: 4vw + @cbb-t-var;
  }  
  .cbbt-5sw {
    padding-top: 5vw + @cbb-t-var;
  }  
  .cbbt-6sw {
    padding-top: 6vw + @cbb-t-var;
  }  
  .cbbt-7sw {
    padding-top: 7vw + @cbb-t-var;
  }  
  .cbbt-8sw {
    padding-top: 8vw + @cbb-t-var;
  }  
  .cbbt-9sw {
    padding-top: 9vw + @cbb-t-var;
  }  
  .cbbt-10sw {
    padding-top: 10vw + @cbb-t-var;
  }  

  .cbbb-1sw {
    padding-bottom: 1vw + @cbb-t-var;
  }  
  .cbbb-2sw {
    padding-bottom: 2vw + @cbb-t-var;
  }  
  .cbbb-3sw {
    padding-bottom: 3vw + @cbb-t-var;
  }  
  .cbbb-4sw {
    padding-bottom: 4vw + @cbb-t-var;
  }  
  .cbbb-5sw {
    padding-bottom: 5vw + @cbb-t-var;
  }  
  .cbbb-6sw {
    padding-bottom: 6vw + @cbb-t-var;
  }  
  .cbbb-7sw {
    padding-bottom: 7vw + @cbb-t-var;
  }  
  .cbbb-8sw {
    padding-bottom: 8vw + @cbb-t-var;
  }  
  .cbbb-9sw {
    padding-bottom: 9vw + @cbb-t-var;
  }  
  .cbbb-10sw {
    padding-bottom: 10vw + @cbb-t-var;
  }    
}//rwd 




@media only screen and (max-width: 767px) {
  .cbbt-1sw {
    padding-top: 1vw + @cbb-m-var;
  }  
  .cbbt-2sw {
    padding-top: 2vw + @cbb-m-var;
  }  
  .cbbt-3sw {
    padding-top: 3vw + @cbb-m-var;
  }  
  .cbbt-4sw {
    padding-top: 4vw + @cbb-m-var;
  }  
  .cbbt-5sw {
    padding-top: 5vw + @cbb-m-var;
  }  
  .cbbt-6sw {
    padding-top: 6vw + @cbb-m-var;
  }  
  .cbbt-7sw {
    padding-top: 7vw + @cbb-m-var;
  }  
  .cbbt-8sw {
    padding-top: 8vw + @cbb-m-var;
  }  
  .cbbt-9sw {
    padding-top: 9vw + @cbb-m-var;
  }  
  .cbbt-10sw {
    padding-top: 10vw + @cbb-m-var;
  }  

  .cbbb-1sw {
    padding-bottom: 1vw + @cbb-m-var;
  }  
  .cbbb-2sw {
    padding-bottom: 2vw + @cbb-m-var;
  }  
  .cbbb-3sw {
    padding-bottom: 3vw + @cbb-m-var;
  }  
  .cbbb-4sw {
    padding-bottom: 4vw + @cbb-m-var;
  }  
  .cbbb-5sw {
    padding-bottom: 5vw + @cbb-m-var;
  }  
  .cbbb-6sw {
    padding-bottom: 6vw + @cbb-m-var;
  }  
  .cbbb-7sw {
    padding-bottom: 7vw + @cbb-m-var;
  }  
  .cbbb-8sw {
    padding-bottom: 8vw + @cbb-m-var;
  }  
  .cbbb-9sw {
    padding-bottom: 9vw + @cbb-m-var;
  }  
  .cbbb-10sw {
    padding-bottom: 10vw + @cbb-m-var;
  }    
}//rwd 

  







.block-break-bg {


  &.bg-color-none {
    background: none;
  }
  &.bg-color-white {
    background: @colorw;
  }
  &.bg-color-dark {
    background: @colord;
  }
  &.bg-color-black {
    background: @colorb;
  }
  &.bg-color-grey {
    background: @colorg;
  }
  &.bg-color-warning {
    background: @color-error;
  }
  &.bg-color-one {
    background: @color1;
  }
  &.bg-color-two {
    background: @color2;
  }
  &.bg-color-three {
    background: @color3;
  }
  &.bg-color-four {
    background: @color4;
  }
  &.bg-color-onedark {
    background: @color1-dark;
  }
  &.bg-color-twodark {
    background: @color2-dark;
  }
  &.bg-color-onelight {
    background: @color1-light;
  }
  &.bg-color-twolight {
    background: @color2-light;
  }

}//



&.border-align-center {
  text-align: center;
  .break-border {
    display: inline-block;
  }
}
&.border-align-left {
  text-align: left;
  .break-border {
    display: inline-block;
  }
}
&.border-align-right {
  text-align: right;
  .break-border {
    display: inline-block;
  }
}









// pixel padding 


// TOP
.cbbt-0 {
  padding-top:10px;
  }
.cbbt-10 {
  padding-top:10px;
  }
.cbbt-20 {
  padding-top:20px;
  }
.cbbt-30 {
  padding-top:30px;
  }
.cbbt-40 {
  padding-top:40px;
  }
.cbbt-50 {
  padding-top:50px;
  }
.cbbt-60 {
  padding-top:60px;
  }
.cbbt-70 {
  padding-top:70px;
  }
.cbbt-80 {
  padding-top:80px;
  }
.cbbt-90 {
  padding-top:90px;
  }
.cbbt-100 {
  padding-top:100px;
}
.cbbt-110 {
  padding-top:110px;
}
.cbbt-120 {
  padding-top:120px;
}
.cbbt-130 {
  padding-top:130px;
}
.cbbt-140 {
  padding-top:140px;
}
.cbbt-150 {
  padding-top:150px;
}
.cbbt-160 {
  padding-top:160px;
}
.cbbt-170 {
  padding-top:170px;
}
.cbbt-180 {
  padding-top:180px;
}
.cbbt-190 {
  padding-top:190px;
}
.cbbt-200 {
  padding-top:200px;
}
.cbbt-210 {
  padding-top:210px;
}
.cbbt-220 {
  padding-top:220px;
}
.cbbt-230 {
  padding-top:230px;
}
.cbbt-240 {
  padding-top:240px;
}
.cbbt-250 {
  padding-top:250px;
}
.cbbt-260 {
  padding-top:260px;
}
.cbbt-270 {
  padding-top:270px;
}
.cbbt-280 {
  padding-top:280px;
}
.cbbt-290 {
  padding-top:290px;
}
.cbbt-300 {
  padding-top:300px;
}
.cbbt-310 {
  padding-top:310px;
}
.cbbt-320 {
  padding-top:320px;
}
.cbbt-330 {
  padding-top:330px;
}
.cbbt-340 {
  padding-top:340px;
}
.cbbt-350 {
  padding-top:350px;
}
.cbbt-360 {
  padding-top:360px;
}
.cbbt-370 {
  padding-top:370px;
}
.cbbt-380 {
  padding-top:380px;
}
.cbbt-390 {
  padding-top:390px;
}
.cbbt-400 {
  padding-top:400px;
}
.cbbt-410 {
  padding-top:410px;
}
.cbbt-420 {
  padding-top:420px;
}
.cbbt-430 {
  padding-top:430px;
}
.cbbt-440 {
  padding-top:440px;
}
.cbbt-450 {
  padding-top:450px;
}
.cbbt-460 {
  padding-top:460px;
}
.cbbt-470 {
  padding-top:470px;
}
.cbbt-480 {
  padding-top:480px;
}
.cbbt-490 {
  padding-top:490px;
}
.cbbt-500 {
  padding-top:500px;
}
.cbbt-500 {
  padding-top:500px;
}
.cbbt-510 {
  padding-top:510px;
}
.cbbt-520 {
  padding-top:520px;
}
.cbbt-530 {
  padding-top:530px;
}
.cbbt-540 {
  padding-top:540px;
}
.cbbt-550 {
  padding-top:550px;
}
.cbbt-560 {
  padding-top:560px;
}
.cbbt-570 {
  padding-top:570px;
}
.cbbt-580 {
  padding-top:580px;
}
.cbbt-590 {
  padding-top:590px;
}
.cbbt-600 {
  padding-top:600px;
}











// BOTTOM
.cbbb-0 {
  padding-bottom:10px;
  }
.cbbb-10 {
  padding-bottom:10px;
  }
.cbbb-20 {
  padding-bottom:20px;
  }
.cbbb-30 {
  padding-bottom:30px;
  }
.cbbb-40 {
  padding-bottom:40px;
  }
.cbbb-50 {
  padding-bottom:50px;
  }
.cbbb-60 {
  padding-bottom:60px;
  }
.cbbb-70 {
  padding-bottom:70px;
  }
.cbbb-80 {
  padding-bottom:80px;
  }
.cbbb-90 {
  padding-bottom:90px;
  }
.cbbb-100 {
  padding-bottom:100px;
}
.cbbb-110 {
  padding-bottom:110px;
}
.cbbb-120 {
  padding-bottom:120px;
}
.cbbb-130 {
  padding-bottom:130px;
}
.cbbb-140 {
  padding-bottom:140px;
}
.cbbb-150 {
  padding-bottom:150px;
}
.cbbb-160 {
  padding-bottom:160px;
}
.cbbb-170 {
  padding-bottom:170px;
}
.cbbb-180 {
  padding-bottom:180px;
}
.cbbb-190 {
  padding-bottom:190px;
}
.cbbb-200 {
  padding-bottom:200px;
}
.cbbb-210 {
  padding-bottom:210px;
}
.cbbb-220 {
  padding-bottom:220px;
}
.cbbb-230 {
  padding-bottom:230px;
}
.cbbb-240 {
  padding-bottom:240px;
}
.cbbb-250 {
  padding-bottom:250px;
}
.cbbb-260 {
  padding-bottom:260px;
}
.cbbb-270 {
  padding-bottom:270px;
}
.cbbb-280 {
  padding-bottom:280px;
}
.cbbb-290 {
  padding-bottom:290px;
}
.cbbb-300 {
  padding-bottom:300px;
}
.cbbb-310 {
  padding-bottom:310px;
}
.cbbb-320 {
  padding-bottom:320px;
}
.cbbb-330 {
  padding-bottom:330px;
}
.cbbb-340 {
  padding-bottom:340px;
}
.cbbb-350 {
  padding-bottom:350px;
}
.cbbb-360 {
  padding-bottom:360px;
}
.cbbb-370 {
  padding-bottom:370px;
}
.cbbb-380 {
  padding-bottom:380px;
}
.cbbb-390 {
  padding-bottom:390px;
}
.cbbb-400 {
  padding-bottom:400px;
}
.cbbb-410 {
  padding-bottom:410px;
}
.cbbb-420 {
  padding-bottom:420px;
}
.cbbb-430 {
  padding-bottom:430px;
}
.cbbb-440 {
  padding-bottom:440px;
}
.cbbb-450 {
  padding-bottom:450px;
}
.cbbb-460 {
  padding-bottom:460px;
}
.cbbb-470 {
  padding-bottom:470px;
}
.cbbb-480 {
  padding-bottom:480px;
}
.cbbb-490 {
  padding-bottom:490px;
}
.cbbb-500 {
  padding-bottom:500px;
}
.cbbb-500 {
  padding-bottom:500px;
}
.cbbb-510 {
  padding-bottom:510px;
}
.cbbb-520 {
  padding-bottom:520px;
}
.cbbb-530 {
  padding-bottom:530px;
}
.cbbb-540 {
  padding-bottom:540px;
}
.cbbb-550 {
  padding-bottom:550px;
}
.cbbb-560 {
  padding-bottom:560px;
}
.cbbb-570 {
  padding-bottom:570px;
}
.cbbb-580 {
  padding-bottom:580px;
}
.cbbb-590 {
  padding-bottom:590px;
}
.cbbb-600 {
  padding-bottom:600px;
}





      @media only screen and (max-width: 991px) {






// TOP Tablet



.cbbtt-0 {
  padding-top:10px;
  }
.cbbtt-10 {
  padding-top:10px;
  }
.cbbtt-20 {
  padding-top:20px;
  }
.cbbtt-30 {
  padding-top:30px;
  }
.cbbtt-40 {
  padding-top:40px;
  }
.cbbtt-50 {
  padding-top:50px;
  }
.cbbtt-60 {
  padding-top:60px;
  }
.cbbtt-70 {
  padding-top:70px;
  }
.cbbtt-80 {
  padding-top:80px;
  }
.cbbtt-90 {
  padding-top:90px;
  }
.cbbtt-100 {
  padding-top:100px;
}
.cbbtt-110 {
  padding-top:110px;
}
.cbbtt-120 {
  padding-top:120px;
}
.cbbtt-130 {
  padding-top:130px;
}
.cbbtt-140 {
  padding-top:140px;
}
.cbbtt-150 {
  padding-top:150px;
}
.cbbtt-160 {
  padding-top:160px;
}
.cbbtt-170 {
  padding-top:170px;
}
.cbbtt-180 {
  padding-top:180px;
}
.cbbtt-190 {
  padding-top:190px;
}
.cbbtt-200 {
  padding-top:200px;
}
.cbbtt-210 {
  padding-top:210px;
}
.cbbtt-220 {
  padding-top:220px;
}
.cbbtt-230 {
  padding-top:230px;
}
.cbbtt-240 {
  padding-top:240px;
}
.cbbtt-250 {
  padding-top:250px;
}
.cbbtt-260 {
  padding-top:260px;
}
.cbbtt-270 {
  padding-top:270px;
}
.cbbtt-280 {
  padding-top:280px;
}
.cbbtt-290 {
  padding-top:290px;
}
.cbbtt-300 {
  padding-top:300px;
}
.cbbtt-310 {
  padding-top:310px;
}
.cbbtt-320 {
  padding-top:320px;
}
.cbbtt-330 {
  padding-top:330px;
}
.cbbtt-340 {
  padding-top:340px;
}
.cbbtt-350 {
  padding-top:350px;
}
.cbbtt-360 {
  padding-top:360px;
}
.cbbtt-370 {
  padding-top:370px;
}
.cbbtt-380 {
  padding-top:380px;
}
.cbbtt-390 {
  padding-top:390px;
}
.cbbtt-400 {
  padding-top:400px;
}
.cbbtt-410 {
  padding-top:410px;
}
.cbbtt-420 {
  padding-top:420px;
}
.cbbtt-430 {
  padding-top:430px;
}
.cbbtt-440 {
  padding-top:440px;
}
.cbbtt-450 {
  padding-top:450px;
}
.cbbtt-460 {
  padding-top:460px;
}
.cbbtt-470 {
  padding-top:470px;
}
.cbbtt-480 {
  padding-top:480px;
}
.cbbtt-490 {
  padding-top:490px;
}
.cbbtt-500 {
  padding-top:500px;
}
.cbbtt-500 {
  padding-top:500px;
}
.cbbtt-510 {
  padding-top:510px;
}
.cbbtt-520 {
  padding-top:520px;
}
.cbbtt-530 {
  padding-top:530px;
}
.cbbtt-540 {
  padding-top:540px;
}
.cbbtt-550 {
  padding-top:550px;
}
.cbbtt-560 {
  padding-top:560px;
}
.cbbtt-570 {
  padding-top:570px;
}
.cbbtt-580 {
  padding-top:580px;
}
.cbbtt-590 {
  padding-top:590px;
}
.cbbtt-600 {
  padding-top:600px;
}







// BOTTOM Tablet



.cbbbt-0 {
  padding-bottom:10px;
  }
.cbbbt-10 {
  padding-bottom:10px;
  }
.cbbbt-20 {
  padding-bottom:20px;
  }
.cbbbt-30 {
  padding-bottom:30px;
  }
.cbbbt-40 {
  padding-bottom:40px;
  }
.cbbbt-50 {
  padding-bottom:50px;
  }
.cbbbt-60 {
  padding-bottom:60px;
  }
.cbbbt-70 {
  padding-bottom:70px;
  }
.cbbbt-80 {
  padding-bottom:80px;
  }
.cbbbt-90 {
  padding-bottom:90px;
  }
.cbbbt-100 {
  padding-bottom:100px;
}
.cbbbt-110 {
  padding-bottom:110px;
}
.cbbbt-120 {
  padding-bottom:120px;
}
.cbbbt-130 {
  padding-bottom:130px;
}
.cbbbt-140 {
  padding-bottom:140px;
}
.cbbbt-150 {
  padding-bottom:150px;
}
.cbbbt-160 {
  padding-bottom:160px;
}
.cbbbt-170 {
  padding-bottom:170px;
}
.cbbbt-180 {
  padding-bottom:180px;
}
.cbbbt-190 {
  padding-bottom:190px;
}
.cbbbt-200 {
  padding-bottom:200px;
}
.cbbbt-210 {
  padding-bottom:210px;
}
.cbbbt-220 {
  padding-bottom:220px;
}
.cbbbt-230 {
  padding-bottom:230px;
}
.cbbbt-240 {
  padding-bottom:240px;
}
.cbbbt-250 {
  padding-bottom:250px;
}
.cbbbt-260 {
  padding-bottom:260px;
}
.cbbbt-270 {
  padding-bottom:270px;
}
.cbbbt-280 {
  padding-bottom:280px;
}
.cbbbt-290 {
  padding-bottom:290px;
}
.cbbbt-300 {
  padding-bottom:300px;
}
.cbbbt-310 {
  padding-bottom:310px;
}
.cbbbt-320 {
  padding-bottom:320px;
}
.cbbbt-330 {
  padding-bottom:330px;
}
.cbbbt-340 {
  padding-bottom:340px;
}
.cbbbt-350 {
  padding-bottom:350px;
}
.cbbbt-360 {
  padding-bottom:360px;
}
.cbbbt-370 {
  padding-bottom:370px;
}
.cbbbt-380 {
  padding-bottom:380px;
}
.cbbbt-390 {
  padding-bottom:390px;
}
.cbbbt-400 {
  padding-bottom:400px;
}
.cbbbt-410 {
  padding-bottom:410px;
}
.cbbbt-420 {
  padding-bottom:420px;
}
.cbbbt-430 {
  padding-bottom:430px;
}
.cbbbt-440 {
  padding-bottom:440px;
}
.cbbbt-450 {
  padding-bottom:450px;
}
.cbbbt-460 {
  padding-bottom:460px;
}
.cbbbt-470 {
  padding-bottom:470px;
}
.cbbbt-480 {
  padding-bottom:480px;
}
.cbbbt-490 {
  padding-bottom:490px;
}
.cbbbt-500 {
  padding-bottom:500px;
}
.cbbbt-500 {
  padding-bottom:500px;
}
.cbbbt-510 {
  padding-bottom:510px;
}
.cbbbt-520 {
  padding-bottom:520px;
}
.cbbbt-530 {
  padding-bottom:530px;
}
.cbbbt-540 {
  padding-bottom:540px;
}
.cbbbt-550 {
  padding-bottom:550px;
}
.cbbbt-560 {
  padding-bottom:560px;
}
.cbbbt-570 {
  padding-bottom:570px;
}
.cbbbt-580 {
  padding-bottom:580px;
}
.cbbbt-590 {
  padding-bottom:590px;
}
.cbbbt-600 {
  padding-bottom:600px;
}






}// rwd tablet





      @media only screen and (max-width: 767px) {






// TOP Mobile



.cbbtm-0 {
  padding-top:10px;
  }
.cbbtm-10 {
  padding-top:10px;
  }
.cbbtm-20 {
  padding-top:20px;
  }
.cbbtm-30 {
  padding-top:30px;
  }
.cbbtm-40 {
  padding-top:40px;
  }
.cbbtm-50 {
  padding-top:50px;
  }
.cbbtm-60 {
  padding-top:60px;
  }
.cbbtm-70 {
  padding-top:70px;
  }
.cbbtm-80 {
  padding-top:80px;
  }
.cbbtm-90 {
  padding-top:90px;
  }
.cbbtm-100 {
  padding-top:100px;
}
.cbbtm-110 {
  padding-top:110px;
}
.cbbtm-120 {
  padding-top:120px;
}
.cbbtm-130 {
  padding-top:130px;
}
.cbbtm-140 {
  padding-top:140px;
}
.cbbtm-150 {
  padding-top:150px;
}
.cbbtm-160 {
  padding-top:160px;
}
.cbbtm-170 {
  padding-top:170px;
}
.cbbtm-180 {
  padding-top:180px;
}
.cbbtm-190 {
  padding-top:190px;
}
.cbbtm-200 {
  padding-top:200px;
}
.cbbtm-210 {
  padding-top:210px;
}
.cbbtm-220 {
  padding-top:220px;
}
.cbbtm-230 {
  padding-top:230px;
}
.cbbtm-240 {
  padding-top:240px;
}
.cbbtm-250 {
  padding-top:250px;
}
.cbbtm-260 {
  padding-top:260px;
}
.cbbtm-270 {
  padding-top:270px;
}
.cbbtm-280 {
  padding-top:280px;
}
.cbbtm-290 {
  padding-top:290px;
}
.cbbtm-300 {
  padding-top:300px;
}
.cbbtm-310 {
  padding-top:310px;
}
.cbbtm-320 {
  padding-top:320px;
}
.cbbtm-330 {
  padding-top:330px;
}
.cbbtm-340 {
  padding-top:340px;
}
.cbbtm-350 {
  padding-top:350px;
}
.cbbtm-360 {
  padding-top:360px;
}
.cbbtm-370 {
  padding-top:370px;
}
.cbbtm-380 {
  padding-top:380px;
}
.cbbtm-390 {
  padding-top:390px;
}
.cbbtm-400 {
  padding-top:400px;
}
.cbbtm-410 {
  padding-top:410px;
}
.cbbtm-420 {
  padding-top:420px;
}
.cbbtm-430 {
  padding-top:430px;
}
.cbbtm-440 {
  padding-top:440px;
}
.cbbtm-450 {
  padding-top:450px;
}
.cbbtm-460 {
  padding-top:460px;
}
.cbbtm-470 {
  padding-top:470px;
}
.cbbtm-480 {
  padding-top:480px;
}
.cbbtm-490 {
  padding-top:490px;
}
.cbbtm-500 {
  padding-top:500px;
}
.cbbtm-500 {
  padding-top:500px;
}
.cbbtm-510 {
  padding-top:510px;
}
.cbbtm-520 {
  padding-top:520px;
}
.cbbtm-530 {
  padding-top:530px;
}
.cbbtm-540 {
  padding-top:540px;
}
.cbbtm-550 {
  padding-top:550px;
}
.cbbtm-560 {
  padding-top:560px;
}
.cbbtm-570 {
  padding-top:570px;
}
.cbbtm-580 {
  padding-top:580px;
}
.cbbtm-590 {
  padding-top:590px;
}
.cbbtm-600 {
  padding-top:600px;
}










// BOTTOM Mobile




.cbbbm-0 {
  padding-bottom:10px;
  }
.cbbbm-10 {
  padding-bottom:10px;
  }
.cbbbm-20 {
  padding-bottom:20px;
  }
.cbbbm-30 {
  padding-bottom:30px;
  }
.cbbbm-40 {
  padding-bottom:40px;
  }
.cbbbm-50 {
  padding-bottom:50px;
  }
.cbbbm-60 {
  padding-bottom:60px;
  }
.cbbbm-70 {
  padding-bottom:70px;
  }
.cbbbm-80 {
  padding-bottom:80px;
  }
.cbbbm-90 {
  padding-bottom:90px;
  }
.cbbbm-100 {
  padding-bottom:100px;
}
.cbbbm-110 {
  padding-bottom:110px;
}
.cbbbm-120 {
  padding-bottom:120px;
}
.cbbbm-130 {
  padding-bottom:130px;
}
.cbbbm-140 {
  padding-bottom:140px;
}
.cbbbm-150 {
  padding-bottom:150px;
}
.cbbbm-160 {
  padding-bottom:160px;
}
.cbbbm-170 {
  padding-bottom:170px;
}
.cbbbm-180 {
  padding-bottom:180px;
}
.cbbbm-190 {
  padding-bottom:190px;
}
.cbbbm-200 {
  padding-bottom:200px;
}
.cbbbm-210 {
  padding-bottom:210px;
}
.cbbbm-220 {
  padding-bottom:220px;
}
.cbbbm-230 {
  padding-bottom:230px;
}
.cbbbm-240 {
  padding-bottom:240px;
}
.cbbbm-250 {
  padding-bottom:250px;
}
.cbbbm-260 {
  padding-bottom:260px;
}
.cbbbm-270 {
  padding-bottom:270px;
}
.cbbbm-280 {
  padding-bottom:280px;
}
.cbbbm-290 {
  padding-bottom:290px;
}
.cbbbm-300 {
  padding-bottom:300px;
}
.cbbbm-310 {
  padding-bottom:310px;
}
.cbbbm-320 {
  padding-bottom:320px;
}
.cbbbm-330 {
  padding-bottom:330px;
}
.cbbbm-340 {
  padding-bottom:340px;
}
.cbbbm-350 {
  padding-bottom:350px;
}
.cbbbm-360 {
  padding-bottom:360px;
}
.cbbbm-370 {
  padding-bottom:370px;
}
.cbbbm-380 {
  padding-bottom:380px;
}
.cbbbm-390 {
  padding-bottom:390px;
}
.cbbbm-400 {
  padding-bottom:400px;
}
.cbbbm-410 {
  padding-bottom:410px;
}
.cbbbm-420 {
  padding-bottom:420px;
}
.cbbbm-430 {
  padding-bottom:430px;
}
.cbbbm-440 {
  padding-bottom:440px;
}
.cbbbm-450 {
  padding-bottom:450px;
}
.cbbbm-460 {
  padding-bottom:460px;
}
.cbbbm-470 {
  padding-bottom:470px;
}
.cbbbm-480 {
  padding-bottom:480px;
}
.cbbbm-490 {
  padding-bottom:490px;
}
.cbbbm-500 {
  padding-bottom:500px;
}
.cbbbm-500 {
  padding-bottom:500px;
}
.cbbbm-510 {
  padding-bottom:510px;
}
.cbbbm-520 {
  padding-bottom:520px;
}
.cbbbm-530 {
  padding-bottom:530px;
}
.cbbbm-540 {
  padding-bottom:540px;
}
.cbbbm-550 {
  padding-bottom:550px;
}
.cbbbm-560 {
  padding-bottom:560px;
}
.cbbbm-570 {
  padding-bottom:570px;
}
.cbbbm-580 {
  padding-bottom:580px;
}
.cbbbm-590 {
  padding-bottom:590px;
}
.cbbbm-600 {
  padding-bottom:600px;
}






}// rwd mobile


