



// ##############################################################################
// ##############################################################################
// cta


.content-blocks {


  .block-cta {
    padding: 10px 0 0;
    a {
      text-decoration: none;

      &.btn- {
        .btn-one;
      }
    }
    .align- {
      text-align: center;
    }
    .align-center {
      text-align: center;
    }
    .align-left {
      text-align: left;
    }
    .align-right {
      text-align: right;
    }

    @media only screen and (max-width: 991px) {

    .mobile-align-override-center {
      &.align-left, &.align-right {
        text-align: center;
      }
    }
    
    }

  }



}//cb
