

// content blocks

@import "settings/override.less";
@import "settings/block-settings.less";
@import "settings/overlay.less";
@import "settings/colors.less";
@import "settings/clip-path.less";
@import "settings/svg-border.less";
@import "settings/bg-texture.less";
@import "cols/cols.less";
@import "gallery.less";
@import "image.less";
@import "rabbit-holes/rabbit-holes.less";
@import "text-image.less";
@import "media.less";
@import "quote.less";
@import "table.less";
@import "list-items.less";
@import "block-full.less";
@import "hero/hero.less";
@import "accordion.less";
@import "read-more.less";
@import "text/text.less";
@import "slider/slider.less";
@import "break.less";
@import "audio.less";
@import "video.less"; 
@import "buttons.less"; //CTA
@import "random.less"; //CTA


.content-blocks {
  .block-html-embed {
    &.align-center {
      text-align: center;
    }
    &.align-right {
      text-align: right;
    }
  }
}