

.content-blocks {

  .block-gallery {

    &.kind-standard {
      padding: 0 @gallery-border-width * 2;
      &.full-width-1 {

      }
    }

    .item {
      position: relative;
    }

    .item-content {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    
    .caption {
      
      background: fade(@colorb,90%);
      bottom: @gallery-border-width * 2;
      left: @gallery-border-width;
      color: @colorw;
      display: inline-block;
      font-size: @fsb * 1.1;
      font-weight: bold;
      padding: 4px 10px;
      position: absolute;
      
    }
    

    .gallery-masked {
      .image-wrapper {
        margin: @gallery-border-width;
      }
      .image-inner {
        position: relative;
        &:after {
          .overlay-base;
          background: #000;
          opacity: 0;
        }
      }

      .gallery-search-icon {
        position: absolute;
        .center-b;
        opacity: 0.2;
        color: @colorw;
        .transition(1s opacity);
      }

      @media only screen and (min-width: 992px) {

        .image-inner {
          &:hover {
            .gallery-search-icon {
              opacity: 1;
              z-index: 20;
            }
            &:after {
              opacity: 0.3;
            }
          }
        }
      }

    }


    &.kind-masonry {
      .item {

        &:after {
          .overlay-base;
          background: #000;
          opacity: 0;
        }

        .fa {
          position: absolute;
          .center-b;
          opacity: 0.2;
          color: @colorw;
          .transition(1s opacity);
        }

        &:hover {
          .fa {
            font-size: @font-size-base * 2;
            opacity: 1;
            z-index: 20;
          }
          &:after {
            opacity: 0.3;
          }
        }
      }

      .caption-masonry {
        background: @color1;
        color: @colorw;
        display: block;
        font-size: @fsb * 1;
        font-weight: normal;
        margin: 5px 0 15px;
        padding: 5px 5px;
        text-align: center;
      }

      @media only screen and (max-width: 767px) {

        .item {
          text-align: center;
          display: block;
          img {
            display: inline-block
          }
        }

      }

    }



    .gallery-slider {
      .item {
        display: block;
        height: 250px;
        position: relative;
        overflow: hidden;

        &:after {
          .overlay-base;
          background: #000;
          opacity: 0;
        }

        .fa {
          position: absolute;
          .center-b;
          opacity: 0.2;
          color: @colorw;
          .transition(1s opacity);
        }

        &:hover {
          .fa {
            font-size: @font-size-base * 2;
            opacity: 1;
            z-index: 20;
          }
          &:after {
            opacity: 0.3;
          }
        }

        &.item-size-md {
          height: 380px;
        }

        &.item-size-lg {
          height: 500px;
        }



            @media only screen and (max-width: 991px) {

              height: 270px;

              &.item-size-lg {
                height: 280px;
              }
              &.item-size-md {
                height: 350px;
              }

            } // rwd

            @media only screen and (max-width: 767px) {

              height: 260px;

              &.item-size-lg,&.item-size-md {
                height: 260px;
              }


            } // rwd




      }//item
    }// slider

  }
} //.content-blocks



// ##############################################################################
// ##############################################################################
// rwd
