

.content-blocks {

  .image-lightbox {
    a {
      display: block;
      float: left;
      position: relative;

      &:hover {
        .icon {
          opacity: 1;

        }
      }
    }
    .icon {

      color: @colorw;
      display: inline-block;
      .center-b;
      height: 70px;
      opacity: 0.3;
      padding-top: 16px;
      position: absolute;
      text-align: center;
      width: 70px;
      .transition(0.6s all);
    }

    .block-image {
      &.align-center, &.align-right {
        a {
          float: none;
        }
      }
    }

  }// lightbox



  .block-image {
    
    img {
      display: inline-block;
    }
    &.align-center {
      text-align: center;
      img {
        display: inline-block;
      }
    }
    &.align-right {
      text-align: right;
      img {
        display: inline-block;
      }
    }
    &.stacked-1 {
      img {
        display: block;

      }
    }
    &.captions-1 {
      display: table;
    }

    &.has-multiple {
      img {

      }
    }
    &.has-border {
      img {
        border: 1px solid @colord;
      }
    }


    figcaption {
      background: @colord;
      color: @colorw;
      display: table-caption;
      caption-side: bottom;
      font-size: @fsb * 0.95;
      font-style: italic;
      padding: 10px 15px;
    }




  }//block image



  .block-single-image {
    margin: 0 0 30px;
    position: relative;
    img {

    }
    figcaption {
      border-bottom: 1px solid @color1;
      color: mix(#fff,@colord,30%);
      display: table-caption;
      margin: 5px 0 20px;
      padding-bottom: 5px;
    }
  }



  .block-full-image {
    margin: 40px 0 0;
    position: relative;

    .image {
      min-height: 150px;
      position: relative;
    }

    .content {
      bottom: 30px;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 20;
    }
    h1 {
      color: @colorw;
      font-size: @font-size-base * 2.3;
      font-weight: 600;
      margin: 0;
      text-transform: uppercase;
      text-align: left;

      .site-width-centered;

      span {
        background: fade(@colorb,20%);
        display: inline-block;
        padding: 10px 20px;
      }

    }
    &.size-full {
      .image {
        min-height: 100vh;
      }
    }
    &.size-xl {
      .image {
        min-height: 700px;
      }
    }
    &.size-lg {
      .image {
        min-height: 400px;
      }
    }
    &.size-md {
      .image {
        min-height: 250px;
      }
    }
    &.size-sm {
      .image {
        min-height: 150px;
      }
    }



  }



} //.content-blocks







// ##############################################################################
// ##############################################################################
// rwd



@media only screen and (max-width: 767px) {

.content-blocks {

  .block-full-image {

    .content {
      position: relative;
      right: auto;
      top: auto;
    }

    h1 {
      background: @colord;
      bottom: auto;
      left: auto;
      font-size: @font-size-base * 1.4;
      transform: none;
      text-align: left;
      span {
        background: none;
        padding: 15px 20px;
      }
    }

    &.size-sm {
      .image {
        min-height: 150px;
      }
    }
    &.size-md {
      .image {
        min-height: 200px;
      }
    }
    &.size-lg {
      .image {
        min-height: 300px;
      }
    }
    &.size-xl {
      .image {
        min-height: 450px;
      }
    }
}


} // blocks
} // rwd
