


.content-blocks, .user-content {

  .block-text.align-center {
    ol, ul {
      padding-left: 0;
    }
  }


  ol, ul {
    &:not(.slick-dots) {
      margin: 0 0 25px;
      padding: 0 0 0 25px;
      counter-reset: li;
      list-style-type: none;
      li {
        position: relative;
        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          color: @color-darklight-1;
          counter-increment: li;
          display: inline-block;
          font-size: 0.85714em;
          font-weight: 700;
          margin: 0 15px 0 -25px;
        }

        ol, ul {
     //     background: fade(@color-darklight-1, 10%);
          border: none;
          margin-top: 5px;
          padding: 5px 40px;
          li {

          }
        }
        ul {
          &:before {
            height: 10px;
            padding: 1px 0 0 6px;
            width: 10px;
          }
        }
      }
    }
  }



    ol {
      &:not(.slick-dots) {
        li {
          margin: 0 0 15px 0;
          &:before {
            content: counter(li, decimal);
            padding: 1px 0 0 5px;
          }
        }
      }
    }
    ul {
      &:not(.slick-dots) {
        li {
          margin: 0 0 15px 0;
          &:before {
            background: @color-darklight-1;
            border-radius: 100px;
            content: "";
            height: 10px;
            padding: 2px 0 0 7px;
            width: 10px;
          }

            // ul indented
            ul {
              li {
                margin: 0 0 15px 0;
                &:before {
                  background: mix(@colorb,@color-darklight-1,30%);
                  border-radius: 0;
                }
              }
            }



        }
      }
    }


} // blocks








// ##############################################################################
// ##############################################################################
// rwd


@media only screen and (max-width: 767px) {



} // rwd
