

    //overrides
.content-blocks {
  .block-media-wrapper {

    &.overlay-black {

      .popup-gallery {
        .item, .item-alt {
          border-color: @colord;
        }
      }

    }//black

    &.overlay-grey {

      .popup-gallery {
        .item, .item-alt {
          border-color: @colorg;
        }
      }

    }//grey

    &.overlay-one {

      .popup-gallery {
        .item, .item-alt {
          border-color: @color1;
        }
      }

    }//one

    &.overlay-two {

      .popup-gallery {
        .item, .item-alt {
          border-color: @color2;
        }
      }

    }//two

  }
}










.content-blocks {

  .block-media-bg {

    &.has-heading {
      padding: 80px 0 100px;
    }
    .bg-heading {

      padding: 0 0 40px;
      text-align: center;

    }

    &.bg-margin-sm {
      padding: 60px 0 40px;
      &.has-bg-heading {
        padding-top: 20px;
      }
    }
    &.bg-margin-, &.bg-margin-md {
      padding: 80px 0 60px;
      &.has-bg-heading {
        padding-top: 40px;
      }
    }
    &.bg-margin-lg {
      padding: 140px 0 120px;
      &.has-bg-heading {
        padding-top: 60px;
      }
    }
    &.bg-margin-none {
      padding: 10px 0 0;
      &.has-bg-heading {
        padding-top: 20px;
      }
    }

    .block-media {
      position: relative;
      z-index: 20;



    }//





      @media only screen and (max-width: 767px) {



      }//rwd

  }//bg

  .block-media {



    @media only screen and (max-width: 767px) {


    }//rwd

  }

} //.content-blocks





// ##############################################################################
// ##############################################################################
// bg overlay

.content-blocks {
  .block-media-wrapper {

    .block-media-bg {
      position: relative;

      &:before {
        .overlay-dark;
        opacity: .7;
        z-index: 5;
      }

    }//bg

    &.overlay-none {
      .block-media-bg {
        color: @colord;
        h1,h2,h3,h4,h5 {
          color: @colord;
        }

        &:before {
          background: none;
          opacity: 0;
        }
        .bg-heading {
          color: @colord;
          h1,h2,h3,h4,h5 {
            color: @colord;
          }
        }


      }
    }

    &.overlay-black {
      .block-media-bg {
        color: @colorw;
        h1,h2,h3,h4,h5 {
          color: @colorw;
        }
        &:before {
          background: @colord;
        }
        .bg-heading {
          color: @colorw;
          h1,h2,h3,h4,h5 {
            color: @colorw;
          }
        }
      }
      &.gradient-1 {
        .block-media-bg {
          &:before {
            background: @colorb;
            .bg-gradient(fade(@colorb,25%),fade(@colorb,100%),none);
          }
        }
      }
    }

    &.overlay-white {
      .block-media-bg {
        color: @colord;
        h1,h2,h3,h4,h5 {
          color: @colord;
        }
        &:before {
          background: @colorw;
        }
        .bg-heading {
          color: @colord;
          h1,h2,h3,h4,h5 {
            color: @colord;
          }
        }
      }
      &.gradient-1 {
        .block-media-bg {
          &:before {
            background: @color1;
            .bg-gradient(fade(@colorw,25%),fade(@colorw,100%),none);
          }
        }
      }
    }

    &.overlay-grey {
      .block-media-bg {
        color: @colord;
        h1,h2,h3,h4,h5 {
          color: @colord;
        }
        &:before {
          background: @colorg;
        }
        .bg-heading {
          color: @colord;
          h1,h2,h3,h4,h5 {
            color: @colord;
          }
        }
      }
      &.gradient-1 {
        .block-media-bg {
          &:before {
            background: @colorg;
            .bg-gradient(fade(@colorg,25%),fade(@colorg,100%),none);
          }
        }
      }
    }

    &.overlay-one {
      .block-media-bg {
        color: @colorw;
        h1,h2,h3,h4,h5 {
          color: @colorw;
        }
        &:before {
          background: @color1;
        }
      }
      &.gradient-1 {
        .block-media-bg {
          &:before {
            background: @color1;
            //.bg-gradient(fade(@color2,25%),fade(@color2,90%),none);
            .bg-gradient(@color1,@color1-dark,none);
          }
        }
      }
    }

    &.overlay-two {
      .block-media-bg {
        color: @colorw;
        h1,h2,h3,h4,h5 {
          color: @colorw;
        }
        &:before {
          background: @color2;
        }
      }
      &.gradient-1 {
        .block-media-bg {
          &:before {
            background: @color2;
            //.bg-gradient(fade(@color2,25%),fade(@color2,90%),none);
            .bg-gradient(@color2,@color2-dark,none);
          }
        }
      }
    }


    //overlay opacity overrides
    &.opacity-1 {
      .block-media-bg {
        &:before {
          opacity: .1;
        }
      }
    }
    &.opacity-2 {
      .block-media-bg {
        &:before {
          opacity: .2;
        }
      }
    }
    &.opacity-3 {
      .block-media-bg {
        &:before {
          opacity: .3;
        }
      }
    }
    &.opacity-4 {
      .block-media-bg {
        &:before {
          opacity: .4;
        }
      }
    }
    &.opacity-5 {
      .block-media-bg {
        &:before {
          opacity: .5;
        }
      }
    }
    &.opacity-6 {
      .block-media-bg {
        &:before {
          opacity: .6;
        }
      }
    }
    &.opacity-7 {
      .block-media-bg {
        &:before {
          opacity: .7;
        }
      }
    }
    &.opacity-8 {
      .block-media-bg {
        &:before {
          opacity: .8;
        }
      }
    }
    &.opacity-9 {
      .block-media-bg {
        &:before {
          opacity: .9;
        }
      }
    }
    &.opacity-10 {
      .block-media-bg {
        &:before {
          opacity: 1;
        }
      }
    }
    &.opacity-, &.opacity-0, &.opacity-none {
      .block-media-bg {
        &:before {
          opacity: 0;
        }
      }
    }

  }//bg
}//cb
