

.content-blocks {

  .block-quote {
    margin: 30px 0;
    .item {
      background: @color1;
      color: @colorw;
   //   .rwd-p(767px,40px,80px,40px,150px,30px,30px,30px,30px);
      position: relative;

      p {
        line-height: 1.5;
      }
      .fa-stack {
        left: 40px;
        position: absolute;
        top: 50%;
        // OMFG OMG OMF FFF OMG IT VERTICALLY ALIGNS OMG
        transform: translateY(-50%);
      }
      .fa-inverse {
        color: @color1;
      }

      &.color-one {
        background: @color1;
        color: @colorw;
        .fa-inverse {
          color: @color1;
        }
      }

      &.color-two {
        background: @colord;
        color: @colorw;
        .fa-inverse {
          color: @colord;
        }
      }

      &.color-three {
        background: @color2;
        color: @colorw;
        .fa-inverse {
          color: @color2;
        }
      }

/*

      &.has-image {
        overflow: hidden;
        .item-image {
          height: 300px;
          position: absolute;
          top: 0;
          width: 400px;
        }
      }

      &.orient-left.has-image {
        padding-right: 440px;
        .item-image {
          right: 0;
        }
      }

      &.orient-right.has-image {
        padding-left: 440px;
        .item-image {
          left: 0;
        }
      }

      */

    } // item
  } // parent


} //.content-blocks




// ##############################################################################
// ##############################################################################
// rwd






@media only screen and (min-width: 768px) {

.content-blocks {
    .block-quote {
      .item {

      &.orient-left {
        padding-left: 150px;
        padding-right: 80px;
        .fa-stack {
          left: 40px;
        }
      }

      &.orient-right {
        padding-left: 80px;
        padding-right: 150px;
        .fa-stack {
          left: auto;
          right: 40px;
        }
      }

      }
    }
  }
} // rwd



@media only screen and (max-width: 767px) {
.content-blocks {


  .block-quote {
    .item {
      .fa-stack {
        bottom: 15px;
        left: auto;
        opacity: 0.3;
        right: 15px;
        top: auto;
        transform: none;
      }
    }
  }



}// block
}// rwd
