
//override

.container-cb {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: @site-width-1-bp) {
body {
  .site-width-centered {
    .container-cb {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
}

.text-center {
  .content-blocks {
    .block-text, .block-redactor {
      .rwd-margin(@screen-sm-max,767px,/**/30px,0px,0px,10%,/**/30px,0px,0px,5%,/**/30px,0px,0px,0px);
    }
  }
}

//other shizzle


.content-block-wrapper {
  padding: 30px 0 0;
}

.content-blocks {

/*
  .page-content-padding {
    :first-child {
      margin-top: 0;
    }
  }
*/



// ##############################################################################
// ##############################################################################
// redactor fml


  .block-redactor {
    margin: 0 0 30px;
    .rwd-max-width(@screen-sm-max,767px,80%,90%,100%);
    padding: 0;

    img {
      max-width: 100%;
    }

    &.kind-lead {
      .lead;
    }

    &.align- {
      text-align: left;
    }
    &.align-center {
      .rwd-margin(@screen-sm-max,767px,/**/30px,0px,0px,10%,/**/30px,0px,0px,5%,/**/30px,0px,0px,0px);
      text-align: center;
    }
    &.align-left {
      text-align: left;
    }
    &.align-right {
      .rwd-margin(@screen-sm-max,767px,/**/30px,0,0,20%,/**/30px,0,0,10%,/**/30px,0px,0px,0px);
      text-align: right;
    }

  }






// ##############################################################################
// ##############################################################################
// downloads


  .block-downloads, .block-links {

    &.kind-, &.kind-none {
      a {
        display: inline-block;
        font-size: @fsb * 1.1;
        padding: 5px 0;
        .fa {
          padding-right: 5px;
          .transition(0.7s all);
        }
      }
    }//none




    &.align- {
      text-align: left;
    }
    &.align-center {
      text-align: center;
    }
    &.align-left {
      text-align: left;
    }
    &.align-right {
      text-align: right;
    }


  }//downloads









  // ##############################################################################
  // ##############################################################################
  // map


    .block-map {
      .orient-left {
        text-align: left;
      }
      .orient-center {
        text-align: center;
      }
    }





// ##############################################################################
// ##############################################################################
// scroll to


  .block-scroll {
    margin-top: 30px;
  }









// ##############################################################################
// ##############################################################################
// break


  .block-break {
    text-align: center;
    .item {
      display: inline-block;
      width: 100%;
    }

  }




  figcaption {
    background: @colorg;
    color: @colord;
    display: block;
    font-size: @fsb * 0.8;
    padding: 4px 10px;
  }

  figure {
    img {

    }
  }



} // content blocks



// column overrides

.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8 {
  .content-blocks {
    .block-text {
      .rwd-max-width(@screen-sm-max,767px,90%,95%,100%);
    }
  }
}








// ##############################################################################
// ##############################################################################
//
// ##############################################################################
// ##############################################################################
//
// ##############################################################################
// ##############################################################################
// rwd









@media only screen and (max-width: 767px) {

.content-blocks {

  .block-text {

  }





} // end blocks
} // rwd
