
@cb-read-more-border-color: @colorg;



// ##############################################################################
// ##############################################################################
// read more

.block-read-more {
  margin-bottom: 30px;

  .btn-wrapper {
    text-align: left;
  }

  &.btn-align-left {
    button {
      text-align: left;
    }
  }

  &.btn-align-center {
    .btn-wrapper {
      text-align: center;
    }
  }
  &.btn-align-right {
    .btn-wrapper {
      text-align: right;
    }
  }

  button {
    background: none;
    border: 1px solid @color1;
    color: @link-color;
    display: inline-block;
    font-size: @fsb * 1.1;
    margin: 15px 0 0;
    padding: 15px 20px;
    .icon-open {
      position: relative;
      top: 2px;
    }
    .fa {
      .transition(.6s all);
    }

    &:hover {
      .fa {
        padding-left: 6px;
      }
    }
  }

  &.width-half {
    button {
      display: inline-block;
      font-size: @fsb * 1.3;
      padding: 15px 20px;
      .rwd-width(@screen-sm-max,767px,50%,66%,80%);
      .icon-open {
        float: right;
      }
    }
  }

  &.width-full {
    button {
      display: block;
      font-size: @fsb * 1.3;
      padding: 15px 20px;
      width: 100%;
      .icon-open {
        float: right;
      }
    }
  }


  &.color-one {
    &.style-outline {
      button {
        border: 1px solid @color1;
        color: @color1;
      }
    }
    &.style-solid {
      button {
        background: @color1;
        border: 1px solid @color1;
        color: @color1-text-color;
      }
    }
  }

  &.color-two {
    &.style-outline {
      button {
        border: 1px solid @color2;
        color: @color2;
      }
    }
    &.style-solid {
      button {
        background: @color2;
        border: 1px solid @color2;
        color: @color2-text-color;
      }
    }
  }

  &.color-three {
    &.style-outline {
      button {
        border: 1px solid @color3;
        color: @color3;
      }
    }
    &.style-solid {
      button {
        background: @color3;
        border: 1px solid @color3;
        color: @color3-text-color;
      }
    }
  }

  &.color-dark {
    &.style-outline {
      button {
        border: 1px solid @colord;
        color: @colord;
      }
    }
    &.style-solid {
      button {
        background: @colord;
        border: 1px solid @colord;
        color: @colorw;
      }
    }
  }

  &.color-white {
    &.style-outline {
      button {
        border: 1px solid @colorw;
        color: @colorw;
      }
    }
    &.style-solid {
      button {
        background: @colorw;
        border: 1px solid @colorw;
        color: @colord;
      }
    }
  }

  &.color-grey {
    &.style-outline {
      button {
        border: 1px solid @colorg;
        color: @colorg;
      }
    }
    &.style-solid {
      button {
        background: @colorg;
        border: 1px solid @colorg;
        color: @colord;
      }
    }
  }

  &.color-error {
    &.style-outline {
      button {
        border: 1px solid @color-error;
        color: @color-error;
      }
    }
    &.style-solid {
      button {
        background: @color-error;
        border: 1px solid @color-error;
        color: @colorw;
      }
    }
  }


  .read-more-inner {
    border: 1px solid @cb-read-more-border-color;
    margin: 3px 0 20px;
    min-height: 100px;
    padding: 25px 15px;

    .close {
      bottom: 10px;
      color: @color6;
      position: relative;
      opacity: 1;
    }



  }// inner

}
