
@cb-table-colour: mix(@colorb,@color2-dark,0%);


.content-blocks {


  .block-info {
    padding: 0;
    .block-section-heading {
      background: @cb-table-colour;
      border-color: mix(#fff, @cb-table-colour, 20%);
      color: @colorw;
      display: inline-block;
      margin: 0;
      padding: 10px 20px;
    }

    table {
      background: @colorw;
      margin: 0;
      padding: 0;

      .block-text {
        max-width: 100%;
        &.default-margin-bottom-1 {
          margin-bottom: 0;
        }
      }

    }
    td {
      background: mix(@colorw,@colorg,0%);
      border: 2px solid mix(@colorw,@colord,70%);
      color: @cb-table-colour;
      padding: 12px 20px;

      p:nth-last-child(1) {
        margin-bottom: 0;
      }
      h1,h2,h3,h4,h5 {
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
    .tr-header {
      background: @cb-table-colour;
      td {
        background: @cb-table-colour;
        color: mix(@colorw, @cb-table-colour, 95%);
        font-size: @fsb * 1.1;
        font-weight: 600;
      }
      td.highlight-col {
        background: @cb-table-colour;
      }
    }
    .highlight-col {
      background: mix(@colorw, @cb-table-colour, 75%);
      color: @cb-table-colour;
      font-weight: 600;
    }

    &.table-align-none {
      
    }    
    &.table-align-left {
      text-align: left;
      .block-text {
        &.align-left, &.align-right, &.align-center {
          text-align: left;
        }
      }
    }
    &.table-align-center {
      text-align: center;
      .block-text {
        &.align-left, &.align-right, &.align-center {
          text-align: center;
        }
      }
    } 
    &.table-align-right {
      text-align: right;
      .block-text {
        &.align-left, &.align-right, &.align-center {
          text-align: right;
        }
      }
    }

    &.table-size-md {
      td {
        font-size: @fsb * 1.17;
      }
      .tr-header {
        td {
          font-size: @fsb * 1.27;
        }
      }
    }

    &.table-size-lg {
      td {
        font-size: @fsb * 1.3;
      }
      .tr-header {
        td {
          font-size: @fsb * 1.4;
        }
      }
    }    

    &.table-color-highlight {
      table {
        background: @colord;
      }
      td {
        background: @colord;
        border: 1px solid @colorg;
        color: @colorw;
      }
      .tr-header {
        background: @colord;
        td {
          color: @colorw;
        }
        td.highlight-col {
          background: @color1;
        }
      }
      .highlight-col {
        background: @color1;
        color: @colorw;
      }
    }

  }//info























  .block-table {
    table {
      //background: @colorw;
      border: 1px solid @cb-table-colour;
      margin: 0;
      padding: 0;
    }
    tr {

    }
    th {
      background: @cb-table-colour;
      border: 1px solid @cb-table-colour;
      color: @colorw;
      padding: 15px 20px;
      p {
        margin: 0;
      }
    }
    td {
      background: mix(@colorw,@colorg,0%);
      border: 2px solid mix(@colorw,@colord,70%);
      color: @cb-table-colour;
      padding: 15px 20px;
      p {
        margin: 0;
      }
      
      a {
        color: @cb-table-colour;
        display: block;
        text-decoration: underline;
        .fa {
          color: @cb-table-colour;
          margin-left: 10px;
        }
      }


      &.highlight {
        background: mix(#fff,@cb-table-colour,85%);
        color: @cb-table-colour;
        font-weight: bold;
      }

    }


    &.table-align-none {
      
    }    
    &.table-align-left {
      text-align: left;
      td, th {
        text-align: left;
      }
    }
    &.table-align-center {
      text-align: center;
      td, th {
        text-align: center;
      }
    } 
    &.table-align-right {
      text-align: right;
      td, th {
        text-align: right;
      }
    }

    &.table-size-md {
      td, th {
        font-size: @fsb * 1.17;
      }
      .tr-header {
        td, th {
          font-size: @fsb * 1.27;
        }
      }
    }

    &.table-size-lg {
      td, th {
        font-size: @fsb * 1.3;
      }
      .tr-header {
        td, th {
          font-size: @fsb * 1.4;
        }
      }
    }    

    &.table-color-highlight {
      table {
        background: @colord;
      }
      td {
        background: @colord;
        border: 1px solid @colorg;
        color: @colorw;
      }
      .tr-header {
        background: @colord;
        td {
          color: @colorw;
        }
        td.highlight {
          background: @color1;
        }
      }
      .highlight {
        background: @color1;
        color: @colorw;
      }
    }

  }







} //.content-blocks



