
.content-blocks {
  .block-text-image {

    @media only screen and (min-width: 5px) {
      .block-text {
        max-width: 100%;
      }
    }

    &.text-image-align-center {
      @media only screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .image {
      float: left;
      margin: 0 30px 30px 0;
    }

    &.side-right {
      .image {
        float: right;
        margin: 0 0 30px 30px;
      }
    }


    ul,ol {
      li {
        left: 2%;
        position: relative;
      }
    }

    @media only screen and (max-width: 767px) {

      .image {
        float: none;
        margin: 0 0 30px 0;
      }

      &.side-right {
        .image {
          float: none;
          margin: 0 0 30px 0;
        }
      }

    }



  }//block
}//cb 







// ##############################################################################
// ##############################################################################
// rwd



@media only screen and (max-width: @screen-sm-max) {

  .block-text-image {

    .images {
      max-width: 250px;
    }
    &.size-md {
      .images {
        max-width: 300px;
      }
    }
    &.size-md {
      .images {
        max-width: 400px;
      }
    }
    &.size-lg {
      .images {
        max-width: 450px;
      }
    }

  }


}// rwd




@media only screen and (max-width: 767px) {

  .block-text-image {

    .images {
      float: none;
      margin: 0;
      max-width: 100%;
      .image {
        margin-bottom: 10px;
      }
    }
      &.size-xs {
        .images {
          max-width: 100%;
        }
      }
      &.size-md {
        .images {
          max-width: 100%;
        }
      }
      &.size-lg {
        .images {
          max-width: 100%;
        }
      }

      &.kind-float.side-right, &.kind-float.side-left,  {
        .images {
          float: none;
          margin: 0;
        }
      }

  }


}// rwd
