

// ##############################################################################
// ##############################################################################
// video


  .block-video {
    &.align-center {
      text-align: center;
      .rwd-iframe-wrapper {
        display: inline-block;
      }
    }
  }
