{{ partial:item_header item_heading="Message Archives" }}

{{ partial:nav/back var_no_dynamic="true" var_link="{gv_to_sermons}" var_text="All Sermons" }}

<div class="page-content-padding site-width-centered">
  <div class="archive-list">
{{ collection:sermons as="posts" group_by_date="Y" limit="500" }}
  {{ date_groups }}
    <h4>{{ date_group }}</h4>
    {{ posts }}
      <a class="item" href="{{ url }}"><span class="title">{{ date }} &nbsp;•&nbsp;
        {{ if author }}
        <strong>{{ author }}{{ title | title }} {{ /author }} &nbsp; • &nbsp;</strong>
        {{ /if }}
        {{ title }}</span>
        <span class="btn-icon post">View Archived Message <i class="fa fa-angle-right"></i> &nbsp; </span>
      </a>
    {{ /posts }}
  {{ /date_groups }}
{{ /collection:sermons }}
  </div>
</div>

<br><br><br><br><br>
