{{ partial:item_header }}
<br>
<div class="site-width-centered page-content-padding">

{{ if content_blocks }}
  <div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
  </div>
{{ /if }}


  <div class="list-sermons">
  {{ collection:sermons limit="1" }}
  <h2>Latest Message</h2>
  <div class="latest-sermon">
{{ partial:collection/sermon }}
  </div>
  {{ /collection:sermons }}
  </div>

<br><br>
  <div class="archive-list">
    <h3>Older Messages</h3>
    {{ collection:sermons as="posts" group_by_date="Y" offset="1" limit="30" }}
      {{ date_groups }}
        <h4>{{ date_group }}</h4>
        {{ posts }}
          <a class="item" href="{{ url }}"><span class="title">{{ date }} &nbsp;•&nbsp;
            {{ if author }}
            <strong>{{ author }}{{ title | title }} {{ /author }} &nbsp; • &nbsp;</strong>
            {{ /if }}
            {{ title }}</span>
            <span class="btn-icon post">View Archived Message <i class="fa fa-angle-right"></i> &nbsp; </span>
          </a>
        {{ /posts }}
      {{ /date_groups }}
    {{ /collection:sermons }}
    <hr>

    <p>For older messages visit the messages archive page:</p>
    <p><a href="{{ gv_to_sermons_archive }}" class="btn btn-one">Messages Archive Page &nbsp; <i class="fa fa-angle-double-right"></i> </a></p>

<br><br><br>
  </div>

</div>
