
<div class="details-sermon">
{{ partial:item_header item_heading="Sermon Details" }}

{{ partial:nav/back var_no_dynamic="true" var_link="{gv_to_sermons}" var_text="All Messages" }}

<br>
<div class="page-content-padding site-width-centered clearfix">

<h1 class="title">{{ title }}</h1>
<hr>
  <div class="date-tags">
    <strong>{{ date }}</strong>
    {{ if author }}
      &nbsp; • &nbsp; <strong>{{ author }}{{ title | title }} {{ /author }}</strong>
    {{ /if }}
    {{ if sermon_length }}
      &nbsp; • &nbsp; <strong> <i class="fa fa-clock-o"></i> {{ sermon_length }}</strong>
    {{ /if }}
    {{ assets:item_file }}
      &nbsp; • &nbsp; <strong>{{ size }}</strong>
    {{ /assets:item_file }}
    {{ if tags }}
      <div class="tags">
        <i class="fa fa-tags"></i>&nbsp; {{ tags }}{{ title|title }}{{ unless last }}, {{ /if }}{{ /tags }}
      </div>
    {{ /if }}
  </div>

<br><br>
{{ if item_file }}
<div class="audio-player">
  <audio id="player" controls>
    <source src="{{ item_file }}" type="audio/mp3" />
  </audio>
  <div class="instructions">
    <button type="button" class="btn btn-two" data-toggle="modal" data-target="#modal-sermon-download"> Download this Message &nbsp;&nbsp;<i class="fa fa-download"></i></button>
  </div>
</div>
{{ /if }}

  <div class="modal fade modal-sermon-download" id="modal-sermon-download" tabindex="-1" role="dialog" aria-labelledby="modal-sermon-download-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> <i class="fa fa-times"></i></span></button>
          <h4 class="modal-title" id="modal-sermon-download-label">Download this Message  </h4>
        </div>
        <div class="modal-body">
          <div class="modal-body-content">

            <h3>To download this sermon:</h3>

            <h4>1. Read these instructions then close this window. </h4>
            <h4>2. Find the audio player - like the example image shown here:</h4>
            <img class="img-responsive" src='{{ theme:asset src="img/audio-player.png" }}' alt="">
            <h4>2. Press the 3 small dots on the right hand side of the player.</h4>
            <h4>3. Press 'download'.</h4>

          </div>
        </div>
      </div>
    </div>
  </div>

<br><br>

  {{ if excerpt }}
  <div class="excerpt">{{ excerpt | markdown }}</div>
  {{ /if }}



</div>

<div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
</div>

<br><br><br>

</div>
