{{ partial:item_header }}
{{ partial:nav/secondary }}

<br>
<div class="content-blocks">
  {{ partial:auto-layouts/auto-layout }}
</div>

<div class="site-width-centered">
  <section class="list-search-terms">
    <br><br>
    {{ collection:search-terms paginate="true" as="posts" limit="100" }}
    {{ if no_results }}
    {{ else }}

    <div class="content-blocks">
      <div class="block-rabbit-holes block-size-md color-one style-two type-inset bg-color-none bg-opacity-">
        <div class="site-width-centered page-content-padding">
          <div class="container-fluid">
            <div class="row">
              {{ posts }}
              <a href="{{ url }}" class="col-sm-4 col-md-3 item">
                <div class="content">
                  <div class="image lazyload"
                    data-src='{{ glide:cover_img format="" width="650" height="450" fit="crop_focal" }}'>
                  </div>
                  <div class="inner-content">
                    <h2><span class="text1">{{ title }}</span></h2>
                  </div>
                </div>
              </a>
              {{ /posts }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ partial:nav/pagination }}
    {{ /if }}
    {{ /collection:search-terms }}
  </section>

</div>

<br><br><br><br><br><br>