{{ if redirect_do }}
{{ redirect to="{redirect_to}" }}
{{ else }}
<div class="item-details">
  {{ partial:item_header item_heading="{title}" }}
  {{ partial:nav/back var_link="{gv_to_search_terms}" var_text="All Search Terms" }}

  {{ if show_excerpt }}
  {{ if excerpt OR cover_img }}
  <div class="page-container site-width-centered clearfix">
    <div class="container-fluid container-swc">
      <div class="row">
        <div class="col-md-5">
          {{ if cover_img }}
          <img class="img-responsive" src='{{ glide:cover_img format="" width="700" height="500" fit="" }}' alt="{{ title }}" />
          {{ /if }}
        </div>
        <div class="col-md-7">
          {{ excerpt | markdown }}
        </div>
      </div>
    </div>
  </div>
  {{ /if }}
  {{ /if }}

  {{ if is_custom }}
  <div class="content-blocks">
    {{ partial:auto-layouts/auto-layout }}
  </div>
  {{ else }}

  <div class="search-terms-detail type-{{ style }}">

    <div class="content-blocks">
      <div class="block-set-wrapper is-first has-bg-image bg-color-black gradient- opacity-5">

        <div class="block-set-bg bg-margin-none"
          style="background-image: url('{{ glide:cover_img format="" width="1500" height="1200" fit="crop_focal" }}');">

          <div class="block-sets">
            <div class="block-break-bg bg-color-none">
              <div class="site-width-centered page-content-padding">
                <div class="block-break border-align- clearfix">
                  <div class="item break-top cbbt-6sw cbbtt- cbbtm-">
                  </div>
                </div>
              </div>
            </div>

            <div class="site-width-centered page-content-padding">
              <div class="block-text align-left kind-lead default-margin- default-margin-bottom-1 ">
                <div class="text-content">
                  <div class="text-content-inner">

                    {{ text | markdown }}

                  </div>
                </div>
              </div>
            </div>

            <div class="block-break-bg bg-color-none">
              <div class="site-width-centered page-content-padding">
                <div class="block-break border-align- clearfix">
                  <div class="item break-top cbbt-3sw cbbtt- cbbtm-">
                  </div>
                </div>
              </div>
            </div>

            {{ button_set }}
            <div class="site-width-centered page-content-padding">
              <div class="block-cta">
                <div class="align-{{ align }}">
                  {{ cta }}
                  {{ if link }}
                  <a {{ if new_window }}target="blank" {{ /if }}rel="pagescroll" title="{{ text }}" href="{{ link }}"
                    class="btn btn-{{ kind }} {{ style }} size-{{ size }}">{{ text }} &nbsp;&nbsp; <span class="icon"><i
                        class="fa fa-angle-right"></i></span></a>
                  {{ else }}
                  <span class="btn btn-{{ kind }} btn-no-link">{{ text }}</span>
                  {{ /if }}
                  {{ if is_block }} <br> {{ /if }}
                  {{ /cta }}
                </div>
              </div>
            </div>
            {{ /button_set }}

            <div class="block-break-bg bg-color-none">
              <div class="site-width-centered page-content-padding">
                <div class="block-break border-align- clearfix">
                  <div class="item break-top cbbt-25sw cbbtt- cbbtm-">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


    </div>

  </div>

  <div class="content-blocks">
    {{ partial:auto-layouts/auto-layout }}
  </div>
  {{ /if }}
  <br><br><br>


</div>
{{ /if }}