



.fb-homepage {
  min-width: 500px;
  @media (max-width: 550px) {
    min-width: 10px;
    max-width: 300px;
    overflow: scroll;
  }
}


.site-icon {
  display: inline-block;
  margin-top: -3px;
  width: 55px;
  vertical-align: middle;
}


.auto-gallery-margin {
  margin: 0 -8px;
}


.row-ehc {
  display: flex;
  flex-wrap: wrap;
}



// equal height custom columns
.ehcs {
  @media (min-width: 992px) {
    display: flex;
    //justify-content: center;
    .ehc {
      //width: 50%;
      flex: 1;
    }
    &.aic {
      align-items: center;
    }
  }
}

@media (min-width: 992px) {
  .v-align-cols {
    .row.is-col-row {
      display: flex;
      flex-flow: row;
      .col-item {
        display: flex;
        align-items: center;
        //justify-content: center;
      }
    }
  }
}





.single-circle-icon {

}


.circle-icons {
  .item {
    border-radius: 100px;
    display: inline-block;
    font-size: @fsb * 1.1;
    height: 42px;
    margin: 0 10px 10px 0;
    padding: 8px 0 0;
    text-align: center;
    width: 42px;
    vertical-align: middle;
    .transition(.7s all);
  }

  &.pt-5 {
    .item {
      padding-top: 5px;
    }
  }

  &.white {
    .item, .btn-alt {
      background: @colorw;
      color: @colord;
      &:hover {
        background: @color1;
        color: @colorw;
      }
    }
  }
  &.one {
    .item, .btn-alt {
      background: @color1;
      color: @color1-text-color;
      &:hover {
        background: @color1-text-color;
        color: @color1;
      }
    }
  }

  .btn-alt {
    border-radius: 50px;
    font-weight: bold;
    padding: 8px 20px;
    position: relative;
    vertical-align: middle;
    text-decoration: none;
    top: -4px;
    .transition(.7s all);
  }

}

.class-override-contact-page {

  .content-blocks {
    padding-bottom: 0;
  }


}
