

.page-home {

  // overrides
  // #############################

.content-blocks {
  padding-bottom: 0;
}

.main-content {
  padding-bottom: 0;
}


  // content
  // #############################




.cams {
  background: @color1;
  padding: 0 0 40px;

  h2,h3 {
    color: @colorw;
  }

  .list-section-heading {
    margin-bottom: 40px;
  }



.list-section-heading {
  background: @colorw;
  h2 {
    color: @color1;
    padding: 30px 15px;
    position: relative;

    &:after {
      .after-arrow-bottom(@colorw,15px,-14px,50px,auto);
    }

  }
}

}// cams 




.mh-support {
  .rwd-p(@site-width-1-bp,767px,/**/50px,0px,50px,0px,/**/50px,0px,50px,0px,/**/20px,15px,20px,15px);
  text-align: center;
  margin: 10px 0 40px;
  a {
    border: 1px solid #ef2e4c;
    color: #ef2e4c;
    font-size: @fsb * 1.1;
    max-width: 430px;
    display: inline-block;
    padding: 10px 20px;
    &:hover {
      background: #ef2e4c;
      color: @colorw;
      text-decoration: none;
    }
  }
  .text {
    display: inline-block;
    margin-top: 20px;
  }
}





// ##############################################################################
// ##############################################################################
//






}// page








// ##############################################################################
// ##############################################################################
// rwd




@media only screen and (max-width: (@site-width-1 - 1)) {
.page-home {





} // page
} // rwd




@media only screen and (max-width: 991px) {
.page-home {






} // page
} // rwd









@media only screen and (max-width: 767px) {
.page-home {




.feature {

}






}//page-home
}//rwd



@media only screen and (max-width: 680px) {
  .page-home {


  .intro {

    h1 {

    }
  }


.feature {

}




  } // page
} // rwd
