

//secure page



.form-secure-login {

  margin: 40px 0 0;

  .form-heading {
    background: @colord;
    color: @colorw;
    font-size: @fsb * 1.3;
    margin: 0;
    padding: 15px 20px;
  }

  form {
    border: 1px solid @colord;
    padding: 20px 30px;

    input {
      border: 1px solid @colord;
      border-left-width: 10px;
      border-radius: 0;
    }

    .btn-submit {
      background: @color1;
      border-radius: 0;
      color: @colorw;
      padding: 10px 20px;
    }
  }

}//



.secure-page {

  .logged-in-message {
    background: mix(@colorw,@colord,90%);
    color: @colord;
    padding: 10px 15px;
  }


}//secure page
