
@cm-color1: @color2;
@cm-color2: @color1;
@cm-color3: @color3;

@cm-bg-one: @color1;
@cm-bg-light: #97a7b4;
@cm-bg-mid: #5D7589;
@cm-bg-dark: mix(@colorb,#5D7589,30%);

@cm-color-error: #900;
@cm-color-success: green;

@import "style.less";
@import "profile.less";

@import "override.less";
