
// profile

.custom-members {



  .member-profile {

    .subs-due {
      border: 1px dashed @cm-color2;
      padding: 15px 20px;
      .subs {
        font-size: @fsb * 1.3;
        color: @cm-color2;
      }
      .subs-overdue {
        color: @color-warning;
        font-weight: 600;
      }
    }

    .profile-account-details {
      border: 1px dashed @cm-color3;
      padding: 15px 20px;
    }


    .profile-status-pending {
      border: 1px dashed @cm-color3;
      margin-top: 15px;
      padding: 0 20px 15px;

      .heading {
        background: @cm-color3;
        color: @colorw;
        margin: 0 -20px 20px;
        padding: 10px 15px;
      }
    }



  }






}//cm
