

.custom-members {


.already-logged-in {
  background: @cm-color2;
}



.custom-members-header {
  a {

  }
  .col-logout {
    text-align: right;
  }
}


.register-text {
  padding: 30px 0;
}

.due-message {
  border: 1px dashed @cm-color3;
  color: @cm-color3;
  display: inline-block;
  font-size: @fsb * 1.3;
  font-weight: bold;
  margin: 0 0 13px;
  padding: 10px 20px;
}






}//cm
