


.list-apartments {

  padding: 30px 0 60px;

  .item {
    margin-bottom: 30px;

    .item-content {
      //border: 1px solid @color3;
    }
  }

  .cover-image {
    display: block;
    .rwd-min-height(@screen-sm-max,767px,400px,300px,300px);
    position: relative;

  }

  .title {
    background: fade(@colord,50%);
    bottom: 0;
    color: @colorw;
    display: block;
    padding: 10px 20px;
    position: absolute;
    text-decoration: none;
    width: 100%;

    h2 {
      color: @colorw;
      margin: 0 0 10px;
    }
    h3 {
      color: @colorw;
      font-size: @fsb * 1.1;
      font-weight: 100;
      margin: 0 0 0px;
    }
  }

  .text-content {
    border: 1px solid @color1;
    padding: 15px;
  }



          @media only screen and (max-width: 991px) {




          }//rwd



}// list











// === details ===============================================


.details-apartment {

  .specs {
    background: @color2;
    color: @colorw;
    padding: 20px 0;


        @media only screen and (max-width: @site-width-1-bp) {

          padding: 20px;



        }//rwd
  }






}// details
