{{ if toggle_back OR var_link }}
<div class="back-wrapper {{ if var_center }}align-center{{ /if }}">
<div class="site-width-centered">
{{ unless var_no_dynamic }}
 <a onclick="window.history.go(-1); return false;" href="" class="btn btn-back"><i class="fa fa-angle-double-left"></i>&nbsp; back</a>
{{ /if }}
{{ if var_link }}
 <a href="{{ var_link }}" class="btn btn-back"><i class="fa fa-angle-double-left"></i>&nbsp; back to {{ var_text }}</a>
{{ /if }}
{{ if var_link2 }}
<a href="{{ var_link2 }}" class="btn btn-back"><i class="fa fa-angle-double-left"></i>&nbsp; back to {{ var_text2 }}</a>
{{ /if }}
{{ if item_back }}
  {{ item_back }}
  <a class="btn btn-back" href="{{ link }}"><i class="fa fa-angle-double-left"></i>&nbsp; {{ text }}</a>
  {{ /item_back }}
{{ /if }}
</div>
</div>
{{ /if }}
