<nav class="nav-breadcrumbs">
  <div class="site-width-centered">
    <ul class="">
        <li><a href="/"> <i class="fa fa-home"></i> </a> <span class="divider"><i class="fa fa-angle-right"></i></span></li>
        {{ nav:breadcrumbs include_home="no" }}
            {{ if is_current }}
                <li class="current">{{ title }}</li>
            {{ else }}
                <li><a href="{{ url }}">{{ title }}</a> <span class="divider"><i class="fa fa-angle-right"></i></span></li>
            {{ /if }}
        {{ /nav:breadcrumbs }}
    </ul>
  </div>
</nav>
