<nav class="navbar nav-primary not-nav-scroll">
{{#
  <a class="site-logo-nav" href="/">
    <span class="alt"><img class="img-responsive" src='{{ theme:asset src="{gv_site_logo}" }}' alt="{{ site_name }}"></span>
  </a>
#}}
  <div class="">
    <div class="collapse navbar-collapse" id="nav-primary-collapse">
      <ul class="nav navbar-nav">
        <li><a class="{{ if !segment_1 }}active{{ /if }} nav-home-link" href="/">Home</a></li>
        {{ if gvnav:nav_primary_manual }}
        {{ partial:nav/nav-primary-inner }}
        {{ else }}
        {{ partial:nav/nav-primary-auto }}
        {{ /if }}
      </ul>
    </div><!-- /.navbar-collapse -->

  </div>
</nav>

<nav class="navbar nav-primary nav-scroll">
  <div class="site-width-2-centered">
    <div class="collapse navbar-collapse" id="nav-primary-collapse">
      <ul class="nav navbar-nav">
        <li><a class="{{ if !segment_1 }}active{{ /if }}" href="/">Home</a></li>
        {{ if gvnav:nav_primary_manual }}
        {{ partial:nav/nav-primary-inner }}
        {{ else }}
        {{ partial:nav/nav-primary-auto }}
        {{ /if }}
      </ul>
{{ unless gvcustomshop:gs_kill_shop }}
      <a href="#cs-cart-popout" class="cs-btn-cart-popout-nav-scroll js-cs-btn-cart-popout">
        <i class="fa fa-shopping-cart" alt="Open Cart"></i>
        <span class="num-items {{ if {payamic:getCartCount} == 0 }}hide{{ /if }}">{{ payamic:getCartCount }}</span>
      </a>
{{ /if }}

    </div><!-- /.navbar-collapse -->

  </div>
</nav>