{{ nav from="/" toggle_hidden:isnt="true" include_home="false" scope="tag" max_depth="2" }}
<li class="{{ if children }} dropdown{{ /if }}{{ if is_parent }} open-parent{{ /if }}">
  <a href="{{ url }}" class="item-{{ count }}{{ if is_current || is_parent }} active{{ /if }}{{ if children }} dropdown-toggle{{ /if }}"{{ if children }} data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{{ /if }}>{{ title }} {{ if children }}<i class="fa fa-angle-down"></i>{{ /if }}</a>
   {{ if children }}
    <ul class="dropdown-menu ul-{{ count }}" role="menu">
    {{ if toggle_nav_first }}
    {{ else }}
    <li><a href="{{ url }}">{{ title }} <span class="hover"></span> </a></li>
    {{ /if }}
    {{ children }}
      <li><a href="{{ url }}" class="{{ if is_current }} active-child{{ /if }} {{ if last }} last{{ /if }}">{{ title }}  <span class="hover"></span> </a></li>
    {{ /children }}
    </ul>
  {{ /if }}
</li>
{{ /nav }}
{{#
<li> <a class="item dni" target="_blank" href="{{ gvcontact:gv_facebook }}"> <i class="fa fa-facebook"></i> </a></li>#}}
{{#<li> <a class="item dni" target="_blank" href="{{ gvcontact:gv_instagram }}"> <i class="fa fa-instagram"></i> </a></li>#}}
{{#<li><button type="button" class="nav-search-button" data-toggle="modal" data-target="#modal-global-search"><i class="fa fa-search"></i></button></li>#}}
{{ unless gvcustomshop:gs_kill_shop }}
{{ if gvcustomshop:dynamic_cart }}
<li>
  <a href="#cs-cart-popout" class="cs-btn-cart-popout-nav-scroll js-cs-btn-cart-popout">
    <i class="fa fa-shopping-cart" alt="Open Cart"></i>
    <span class="num-items {{ if {payamic:getCartCount} == 0 }}hide{{ /if }}">{{ payamic:getCartCount }}</span>
  </a>
</li>
{{ else }}
<li>
  <a href="/cart" class="">
    <i class="fa fa-shopping-cart" alt="Open Cart"></i>
    <span class="num-items {{ if {payamic:getCartCount} == 0 }}hide{{ /if }}">{{ payamic:getCartCount }}</span>
  </a>
</li>
{{ /if }}
{{ /if }}