<div id="nav-burger" class="">
  <div id="btn-close-modal" class="close-nav-burger">
    <img class="img-responsive" src='{{ theme:asset src="img/icon-burger-close-thick.svg" }}' alt="Close Menu">
  </div>
  <div class="animated-modal-content">

    <a href="/" class="site-logo-burger">
      <span class="alt"><img class="img-responsive" src='{{ theme:asset src="{gv_site_logo}" }}'
          alt="{{ site_name }}"></span>
    </a>

    <nav class="nav-burger-inner" id="">
    <ul class="list-reset" role="menu">
{{ if gvnav:nav_mobile_manual }}
{{ partial:nav/nav-mobile }}
{{ else }}
{{ partial:nav/nav-mobile-auto }}
{{ /if }}
    </ul>
    </nav>

  </div>
</div>
