<li><a href="/">Home</a></li>
{{ nav from="/" toggle_hidden:isnt="true" include_home="false" scope="tag" max_depth="2" }}
  <li class="{{ if children }} dropdown{{ /if }}{{ if is_parent }} open-parent{{ /if }}">
    <a href="{{ url }}" class="item-{{ count }}{{ if is_current || is_parent }} active{{ /if }}{{ if children }} dropdown-toggle{{ /if }}"{{ if children }} data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{{ /if }}>{{ title }} {{ if children }}<i class="fa fa-angle-double-down"></i>{{ /if }}</a>
     {{ if children }}
      <ul class="dropdown-menu" role="menu">
      {{ if toggle_nav_first }}
      {{ else }}
      <li><a href="{{ url }}">{{ title }} <span class="hover"></span> </a></li>
      {{ /if }}
      {{ children }}
        <li><a href="{{ url }}" class="{{ if is_current }} active-child{{ /if }} {{ if last }} last{{ /if }}">{{ title }}  <span class="hover"></span> </a></li>
      {{ /children }}
      </ul>
    {{ /if }}
  </li>
{{ /nav }}
{{ unless gvcustomshop:gs_kill_shop }}
<br>
<li>
  <a href="/cart" class="">
    View Cart &nbsp; <i class="fa fa-shopping-cart" alt="Open Cart"></i>
  </a>
</li>
<li>
  {{ payamic:cart }}
  <a href="/checkout/{{ payamic:getPaymentStr amount='cart' desc='Cart Payment' item_id='cart' }}"
    class="mobile-nav-checkout"> Checkout &nbsp; <i class="fa fa-dollar"></i> &nbsp;<i class="fa fa-angle-right"></i>
  </a>
  {{ /payamic:cart }}
</li>
{{ /if }}