
{{ if gvnav:nav_mobile:0 }}
{{ gvnav:nav_mobile }}
{{ if nav_sets:0 }}
<li class="dropdown">
  {{ if custom_link }}
    {{ custom_link }}
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="{{ link }}">{{ text }} <i class="fa fa-angle-double-down"></i> </a>
        <ul class="dropdown-menu" role="menu">
          {{ nav_sets}}

          {{ if type == "sub_page_set" }}
            {{ relate:sub_link }}
              <li><a href="{{ url }}" class="">{{ title }}  <span class="hover"></span> </a></li>
            {{ /relate:sub_link }}
          {{ elseif type == "sub_custom_set" }}
              <li><a href="{{ link }}" class="">{{ text }}  <span class="hover"></span> </a></li>
          {{ /if }}
          {{ /nav_sets }}
        </ul>
    {{ /custom_link }}
  {{ else }}
    {{ relate:page_link }}
    <a href="{{ url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ title }} <i class="fa fa-angle-double-down"></i> </a>
      <ul class="dropdown-menu" role="menu">
        {{ nav_sets}}

        {{ if type == "sub_page_set" }}
          {{ relate:sub_link }}
            <li><a href="{{ url }}" class="">{{ title }}  <span class="hover"></span> </a></li>
          {{ /relate:sub_link }}
        {{ elseif type == "sub_custom_set" }}
            <li><a href="{{ link }}" class="">{{ text }}  <span class="hover"></span> </a></li>
        {{ /if }}
        {{ /nav_sets }}
      </ul>
      {{ /relate:page_link }}
    {{ /if }}
</li>
{{ else }}
  {{ if custom_link }}
    {{ custom_link }}
      <li><a class="" href="{{ link }}">{{ text }}</a></li>
    {{ /custom_link }}
  {{ else }}
    {{ relate:page_link }}
      <li><a class="" href="{{ url }}">{{ title }}</a></li>
    {{ /relate:page_link }}
  {{ /if }}
{{ /if }}
{{ /gvnav:nav_mobile }}
{{ /if }}

