{{ if toggle_page_menu }}
  {{ if segment_1 AND !toggle_nav_secondary }}
  {{ nav:exists from="{segment_1}" }}
  <div class="section-navigation-btn">
  <button class="btn btn-section-navigation" type="button" data-toggle="collapse" data-target="#section-navigation" aria-expanded="false" aria-controls="section-navigation"><i class="fa fa-bars"></i> &nbsp; Section Menu </button>
  </div>
  <div class="collapse navbar-collapse section-navigation" id="section-navigation">
  {{ partial:nav/secondary }}
  {{ if !toggle_nav_tertiary }}
  {{ partial:nav/tertiary }}
  {{ /if }}
  </div>
  {{ /nav:exists }}
  {{ /if }}
{{ else }}
  {{ if segment_1 AND !toggle_nav_secondary }}
  {{ nav:exists from="{segment_1}" }}
    {{ partial:nav/secondary }}
    {{ if !toggle_nav_tertiary }}
    {{ partial:nav/tertiary }}
    {{ /if }}
  {{ /nav:exists }}
  {{ /if }}
{{ /if }}