<div class="section-page-nav-btn">
<button class="btn btn-page-nav" type="button" data-toggle="collapse" data-target="#page-nav" aria-expanded="false" aria-controls="page-nav"><i class="fa fa-bars"></i> &nbsp; Page Sub Menu </button>
</div>
{{ nav:exists from="{url}" }}
<nav class="collapse navbar-collapse nav-page-nav" role="navigation" id="page-nav">
  <ul class="list-reset">
{{ nav from="{url}" toggle_hidden:isnt="true" scope="tag" max_depth="2" }}
      <li class="">
        <a href="{{ url }}"{{ if is_current }} class="active"{{ /if }}>{{ title }}</a>
      </li>
 {{ /nav }}
  </ul>
</nav>
{{ /nav:exists }}
