<div class="pagination-wrap">
{{ if paginate:total_pages > 1 }}
    {{ paginate }}
        <p>Page {{ current_page }} of {{ total_pages }} ({{ total_results }} total entries)</p>
    {{ /paginate }}
    {{ paginate:auto_links }}
{{ /if }}
</div>
