
<nav class="nav-secondary" role="navigation" id="nav-secondary">
  <div class="site-width-centered">
    <ul class="list-reset">
      {{ if segment_3}}

      {{ elseif !segment_2 }}
        {{ if toggle_nav_first }}
        {{ else }}
        <li><a class="{{ if slug == segment_1 }}active{{ /if }}" href="{{ url }}">{{ title }} &nbsp;<i class="fa fa-angle-right"></i> </a></li>
        {{ /if }}
      {{ else }}
        {{ if {parent:toggle_nav_first} }}
        <li><span class="parent-no-link"> {{ parent:title }} &nbsp;<i class="fa fa-angle-right"></i> </span></li>
        {{ else }}
        <li><a href="{{ parent:url }}">{{ parent:title }} &nbsp;<i class="fa fa-angle-right"></i> </a></li>
        {{ /if }}
      {{ /if }}
  {{ nav from="{segment_1}" toggle_hidden:isnt="true" scope="tag" max_depth="2" }}
        <li class="">
          <a href="{{ url }}"{{ if is_current || is_parent }} class="active"{{ /if }}>{{ title }}</a>
        </li>
   {{ /nav }}
    </ul>
  </div>
</nav>
