<nav class="nav-secondary" role="navigation" id="nav-secondary">
  <div class="site-width-centered">
    <ul class="list-reset">
      <li><a {{ link_active url="{{ gv_to_web_design }}" }}>Website Design</a></li>
      <li><a {{ link_active url="{{ gv_to_hosting }}" }}>Website & Email Hosting</a></li>
      <li><a {{ link_active url="{{ gv_to_social_media }}" }}>Social Media & Email Marketing</a></li>
    </ul>
  </div>
</nav>
