{{ nav:exists from="{segment_1}/{segment_2}" }}
<nav class="nav-tertiary" role="navigation" id="nav-tertiary">
  <div class="site-width-centered">
    <ul class="list-reset">
      {{ if segment_4 }}

      {{ elseif !segment_3 }}
        {{ if toggle_nav_first }}
        {{ else }}
        <li><a class="{{ if slug == segment_2 }}active{{ /if }}" href="{{ url }}">{{ title }}  &nbsp;<i class="fa fa-angle-double-right"></i> </a></li>
        {{ /if }}
      {{ else }}
        {{ if {parent:toggle_nav_first} }}
        {{ else }}
        <li><a href="{{ parent:url }}">{{ parent:title }} &nbsp;<i class="fa fa-angle-double-right"></i> </a></li>
        {{ /if }}
      {{ /if }}
  {{ nav from="{segment_1}/{segment_2}" toggle_hidden:isnt="true" scope="tag" max_depth="2" }}
        <li class="">
          <a href="{{ url }}"{{ if is_current }} class="active"{{ /if }}>{{ title }}</a>
        </li>
   {{ /nav }}
    </ul>
  </div>
</nav>
{{ /nav:exists }}
