<div class="item-heading color-{{ item_heading_color }}">
  {{ if var_swc }}
  <h1 class="swc-left">{{ item_heading }}</h1>
  {{ else }}
  <h1 class="site-width-centered">{{ item_heading }}</h1>
  {{ /if }}
</div>
