  <header class="item-header is-single-image size-{{ header_size }}">
  {{ header_img limit="1" }}
      <figure class="image">
      {{ if header_size =="full" }}
          <div class="item" style="background:url('{{ glide src="{file}" format="" width="1400" height="1000" fit="crop_focal" }}') center center; background-size:cover;">
      {{ elseif header_size =="xl" }}
          <div class="item" style="background:url('{{ glide src="{file}" format="" width="1400" height="700" fit="crop_focal" }}') center center; background-size:cover;">
      {{ elseif header_size =="lg" }}
         <div class="item" style="background:url('{{ glide src="{file}" format="" width="1400" height="550" fit="crop_focal" }}') center center; background-size:cover;">
      {{ elseif header_size =="md" }}
         <div class="item" style="background:url('{{ glide src="{file}" format="" width="1400" height="320" fit="crop_focal" }}') center center; background-size:cover;">
      {{ else }}
         <div class="item" style="background:url('{{ glide src="{file}" format="" width="1400" height="200" fit="crop_focal" }}') center center; background-size:cover;">
      {{ /if }}

      {{ if image_content }}
{{ partial:item-header/image-content }}
      {{ /if }}

          {{ if gv_item_heading_in_image && item_heading }}
            {{ partial:item-header/heading var_swc="true" }}
          {{ /if }}
        </div>

<div class="triangle-up-left"></div>
      </figure>
  {{ /header_img }}

  {{ if !gv_item_heading_in_image && item_heading }}
  {{ partial:item-header/heading }}
  {{ /if }}
  </header>
