{{ image_content }}
<div class="site-width-centered">
  <div class="image-content color-{{ bg }} {{ if var_swc }} swc-left{{ /if }}">
    <div class="inner opacity-{{ bg_opacity }}">
      <div class="inner-content{{ if heading }} has-heading{{ /if }}">
        {{ if heading }} <h2 class="heading">{{ heading }}</h2> {{ /if }}
        {{ if text }}
        <div class="inner-text">
          <div class="text">{{ text | markdown }}</div>
          {{ if button_text }}
            <a href="{{ link }}" class="btn btn-alt">{{ button_text }} &nbsp; <i class="fa fa-angle-right"></i> </a>
          {{ /if }}
        </div>
        {{ /if }}
      </div>
    </div>
  </div>

  {{ if link && !button_text }}
      <a href="{{ link }}" class="overlay-link"></a>
  {{ /if }}

</div>
{{ /image_content }}
