<div class="content-blocks">
  <div class="block-set-wrapper"{{ if header_bg_angle }}{{ header_bg_angle }} style="clip-path: polygon({{ clip_path }}); z-index: {{ angle_z_index }}"{{ /header_bg_angle }}{{ /if }}>
    <div class="block-slider cb-slider-header cb-slider-dots-margin-{{ header_slider_dots_margin }}">
      {{ header_sets }}
      <div
        class="slide-content slide-content-full-width-{{ slide_content_full_width }} slide-vertical-align-{{ slide_vertical_align }} slide-margin-{{ header_margin }} slide-bg-color-{{ slide_bg_color }} slide-bg-opacity-{{ slide_bg_opacity }} {{ if file }} has-image{{ /if }} {{ if slide_content_sets }} has-content{{ /if }}"
        {{ unless slide_bg_video }}style="background-image:url('{{ glide src="{file}" format="" width="1900" height="{{ if image_height }}{image_height}{{ else }}1200{{ /if }}"
        fit="crop_focal" }}')"{{ /if }}>
        {{ if slide_bg_video }}
        <div class="cb-video-background">
          <div class="cb-video-foreground">
            {{ slide_bg_video }}
            {{ if video_url | is_embeddable }}
            {{ if video_type == "youtube" }}
            <iframe
              src="{{ video_url | embed_url }}?controls={{ if video_controls }}1{{ else }}0{{ /if }}&autoplay={{ if video_autoplay }}1{{ else }}0{{ /if }}&loop={{ if video_loop }}1{{ else }}0{{ /if }}&mute={{ if video_mute }}1{{ else }}0{{ /if }}&showinfo=0&rel=0"
              frameborder="0" allowfullscreen></iframe>
            {{ else }}
            <iframe
              src="{{ video_url | embed_url }}?controls={{ if video_controls }}1{{ else }}0{{ /if }}&autoplay={{ if video_autoplay }}1{{ else }}0{{ /if }}&loop={{ if video_loop }}1{{ else }}0{{ /if }}&muted={{ if video_mute }}1{{ else }}0{{ /if }}"
              frameborder="0" allowfullscreen></iframe>
            {{ /if }}
            {{ /if }}
            {{ /slide_bg_video }}
          </div>
        </div>
        {{ /if }}
        <div class="slide-inner total-results-{{ total_results }}">
          {{ slide_content_sets }}

          {{ if  type == "slider_text_set" }}
          {{ partial:content-blocks/blocks/text }}

          {{ elseif type == "slider_button_set" }}
          {{ partial:content-blocks/blocks/button }}

          {{ elseif type == "slider_image_set" }}
          {{ partial:content-blocks/blocks/image }}

          {{ elseif type == "slider_col_set" }}
          {{ partial:content-blocks/blocks/cols }}

          {{ elseif type == "slider_break_set" }}
          {{ partial:content-blocks/blocks/break }}

          {{ /if }}
          {{ /slide_content_sets }}
        </div>
        {{ if slide_link }}
        <a href="{{ slide_link }}" class="overlay-link"></a>
        {{ /if }}
        <div class="angle"></div>
      </div>
      {{ /header_sets }}
    {{ if header_svg_border_mask }}
      {{ header_svg_border_mask }}
        {{ partial:content-blocks/blocks/settings/borders/index }}
      {{ /header_svg_border_mask }}
    {{ /if }}
    </div>
  </div>
</div>