<script type="text/javascript" src="/site/themes/site/partials/custom-form/js/libs/jquery.validate.min.js"></script>
<script type="text/javascript" src="/site/themes/site/partials/custom-form/js/libs/additional-methods.min.js"></script>
<script>
  function handle_form_submission() {
    // Ensure our username (email) is lowercase
    $('#email').val($('#email').val().toLowerCase());
    $('#form-register')[0].submit();
  }

  function ccToggle() {
    if ($('input[name=payment_gateway]:checked').val() == 'stripe') {
      $('#levy-note').removeClass('hide');
      $('#credit-card-details').removeClass('hide');
    } else {
      $('#levy-note').addClass('hide');
      $('#credit-card-details').addClass('hide');
    }
  }

  function calcRegoPrice() {
    $('#payment_registration_total').val($('#form-register input[name=membership_type]:checked').data('price'));
    $('input[name=payment]').val($('input[name=payment]').data($('input[name=membership_type]:checked').val()));
  }

  // Set up handlers
  $('#form-register input[name=membership_type]').change(function() {
    calcRegoPrice();
  });
  $('#form-register input[name=payment_gateway]').change(function() {
    ccToggle();
  });

  // Init our stuff
  $(document).ready(function() {
    $('#form-register').validate({
      rules: {
        password: {
          required: true,
          minlength: 6
        },
      },
      messages: {
        password: {
          required: "Please provide a password",
          minlength: "Your password must be at least 6 characters long"
        },
      },
      submitHandler: function(form, e) {
        // Stop our form submitting until we have processed the card via stripe
        e.preventDefault();
        $('body').addClass('submitting');
        // Check if we have a Stripe payment to process
        if ($('input[name=payment_gateway]:checked').val() == 'stripe' || $('input[type=hidden][name=payment_gateway]').val() == 'stripe') {
          // Check if we have a payment
          if ($('input[name=payment]').val() != '') {
            handle_stripe_payment_submission();
          } else {
            handle_form_submission();
          }
        } else {
          handle_form_submission();
        }
      }
    });

    calcRegoPrice();

    ccToggle();

  });
</script>

{{ partial:custom-form/js/payamic-js }}
