<script type="text/javascript" src="/site/themes/site/partials/custom-form/js/libs/jquery.validate.min.js"></script>
<script type="text/javascript" src="/site/themes/site/partials/custom-form/js/libs/additional-methods.min.js"></script>
<script>
  function handle_form_submission() {
    $('#form-renewal')[0].submit();
  }

  function ccToggle() {
    if ($('input[name=payment_gateway]:checked').val() == 'stripe') {
      $('#levy-note').removeClass('hide');
      $('#credit-card-details').removeClass('hide');
    } else {
      $('#levy-note').addClass('hide');
      $('#credit-card-details').addClass('hide');
    }
  }
  
  // Set up handlers
  $('#form-renewal input[name=payment_gateway]').change(function() {
    ccToggle();
  });

  // Init our stuff
  $(document).ready(function() {
    $('#form-renewal').validate({
      submitHandler: function(form, e) {
        // Stop our form submitting until we have processed the card via stripe
        e.preventDefault();
        $('body').addClass('submitting');
        // Check if we have a Stripe payment to process
        if ($('input[name=payment_gateway]:checked').val() == 'stripe' || $('input[type=hidden][name=payment_gateway]').val() == 'stripe') {
          // Check if we have a payment
          if ($('input[name=payment]').val() != '') {
            handle_stripe_payment_submission();
          } else {
            handle_form_submission();
          }
        } else {
          handle_form_submission();
        }
      }
    });
    
    ccToggle();
    
  });
</script>

{{ partial:custom-form/js/payamic-js }}
