
.footer-global {
  background: linear-gradient(30deg, #123 10%, #345 90%) !important;
  position: relative;
  z-index: 20;
}


.footer-copyright {
  background: @colorb;
  color: @colorw;
  font-size: @fsb * 0.9;
  font-weight: bold;
  text-align: center;
  .rwd-p(@site-width-1-bp,767px,/**/20px,0px,20px,0px,/**/20px,30px,20px,30px,/**/20px,30px,20px,30px);
  position: relative;
  .meta-links {
    display: inline-block;
    .divider {
      color: fade(@colorw,50%);
      font-weight: 100;
    }
    a {
      color: fade(@colorw,70%);
      font-weight: 400;
      &:hover {
        color: @colorw;
      }
      &.site-author {
        color: fade(@colorw,40%);
        &:hover {
          color: @colorw;
        }
      }
    }
  }

  .shop-terms {
    margin: 10px 0 0;
    a {
      color: @colorw;
      &:hover, &:active {
        color: @colorw;
      }
    }
  }

}



// ##############################################################################
// ##############################################################################
// rwd


@media only screen and (max-width: 767px) {
footer.global {

.copyright {
  .meta-links {
    display: block;
    margin: 15px 0 0;
    .divider {
      &.first, &.last {
        display: none;
      }
    }
    a {
      &.site-author {
        display: block;
        margin-top: 15px;
      }
    }
  }
}

}
}//rwd


