

header.global {

  background: @color1;
  position: relative;

  //min-height: 230px;

    .header-cols {
      .row {
        @media only screen and (min-width: 992px) {
          display: flex;
          flex-flow: row;
        }
      }
    }

    

    .site-logo3 {
      background: none;
      display: block;
      text-align: center;
      margin: 0;
      padding: 10px 20px 5px;
      z-index: 2000;
      position: absolute;
      top: 190px;
      ///border-right: 1px solid #ddd;

      span {
        display: inline-block;
        width: 210px;
      }
      @media only screen and (max-width: 991px) {
        position: relative;
        top:auto;
        text-align: left;
        padding: 10px 15px;
        span {
          width: 160px;
        }
      }
    }

    .col-logo {
      background: @colorw;
      text-align: center;
      .site-logo2 {
        background: @colorw;
        display: block;
        padding: 20px 5px 10px;
        position: absolute;
        top: 0px;
        //text-align: center;
        span {
          display: inline-block;
          width: 250px;
        }
      }
      @media only screen and (max-width: 500px) {
        text-align: left;
        .site-logo2 {
          text-align: left;
          span {
            //width: 75vw;
          }
        }
      }
    }
    .col-nav {
      .item.email {
        background: @color1;
        display: block;
      }
    }
    .col-contacts {
      background: @colorw;
      padding: 0 0 0;
      //text-align: center;
      font-size: @fsb * 1.2;
      a {
        color: @color1;
        display: block;
        padding: 5px;
        &.phone {
          font-size: @fsb * 1.7;
        }
      }

      .btn {
        background: @colorw;
        color: @color1;
        margin: 15px 10px 0 0;
        padding: 5px 10px;
      }

      .location {
        display: block;
        span {
          font-size: @fsb * 1.5;
        }
      }
      .contacts {
        padding: 20px 25px;


      }
      .login {
        background: @colorw;
        color: @color1;
        font-weight: 500;
        padding: 5px 15px;
        
        @media only screen and (min-width: 992px) {
          
          position: absolute;
          right: 0;
          top: 0;
        }
        @media only screen and (max-width: 991px) {
          margin: 3px 0;
        }

      }
    }



  .top-bar {  
    background: @colorw;
    text-align: center;
    padding: 0 15px;
    a {
      color: @color1;
      display: inline-block;
      font-size: @fsb * 0.9;
      letter-spacing: 0;
      font-weight: 600;
      padding: 13px;
      //text-transform: uppercase;
    }


    @media only screen and (max-width: 991px) {
      display: none;
      opacity: 0;
    }

  }
}// header 


.site-logo-wrapper {
  .contacts {
    display: inline-block;

  .phone {
    display: block;
    font-size: @fsb * 2;
    font-weight: bold;
  }
  .email {
    display: inline-block;
    font-size: @fsb * 1.3;
  }

  }
      @media only screen and (max-width: 767px) {
        .contacts {
          display: block;
          padding: 0 15px 15px;
        }
      }//

}





.logo-contacts {
  background: @colorw;
  


  .contacts {
    #gradient > .horizontal(@start-color: fade(@color1,100%); @end-color: @color2; @start-percent: 0%; @end-percent: 100%);
    height: 100%;
    padding: 25px 7% 0 0;
    text-align: right;
  }

  a {
    color: @colorw;
    padding: 0 0 10px;
    &:hover {
      color: @colord;
    }
  }

  .phone {
    display: block;
    font-size: @fsb * 2;
    font-weight: bold;
  }
  .email {
    display: inline-block;
    font-size: @fsb * 1.3;
  }

    @media only screen and (max-width: 991px) {

      .contacts {
        padding: 25px 25px 15px;
        text-align: center;
      }
      
      .phone {
        display: inline-block;
        font-size: @fsb * 1.3;
        margin-right: 15px;
      }

      

    }//


}

  


