

.site-logo-nav {
  display: block;
  position: absolute;
  left: 20px;
  top: 100px;
  width: 130px;
  @media only screen and (min-width: 1420px) {
    top: 20px;
  }
}
.mobile-site-logo {
  display: none;
  opacity: 0;
  padding: 20px;
  a {
    display: inline-block;
    width: 140px;
  }
}
@media only screen and (max-width: @nav-primary-breakpoint) {
  .mobile-site-logo {
    display: block;
    opacity: 1;
  }
}



.site-logo-wrapper {
  background: none;
  position: relative;
  text-align: center;

    @media only screen and (max-width: 991px) {
      text-align: left;
    }

}

.site-logo {

  display: inline-block;
  //left: 0;
  height: auto;
  //position: absolute;
  position: relative;
  text-align: center;
  //top: 0;
  width: auto;
  z-index: 1050;
  .alt {

    display: inline-block;
    padding: 25px;
    position: relative;
    //text-align: center;
    z-index: 50;
    width: 550px;
    img {
      // SVG color convert https://codepen.io/sosuke/pen/Pjoqqp
      //filter: invert(23%) sepia(7%) saturate(317%) hue-rotate(341deg) brightness(92%) contrast(89%);
      display: inline-block;
    }
  }


  &:hover {
    text-decoration: none;
  }

  @media only screen and (max-width: @site-width-1-bp) {
    .alt {

    }

  }

  @media only screen and (max-width: 991px) {

    text-align: left;
    

      .alt {
        
        

      }

  }


  @media only screen and (max-width: 600px) {

    .alt {
      width: 80vw;
      
    }



  }


}//site logo


.page-home {
  .site-logo {
    .alt {

      @media only screen and (min-width: 992px) and (max-width: 1250px) {



      }

    }


      @media only screen and (max-width: 500px) {

        .alt {

        }


      }//rwd

  }
}