


// sticky footer

/*

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
  position: relative;
}

*/


.sticky-parent {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sticky-content {
  flex: 1;
}
