<div class="custom-form-wrapper no-margin form-alignment-left color-light tile-one" id="custom-form-wrapper">
<div class="custom-form-wrapper-inner">
<div class="custom-form-wrapper-inner-inner">
  <div class="form-header">
    <h3 class="form-heading">{{ var_heading }}</h3>
  </div>
  <div class="custom-form-content-wrapper">
