{{ partial:custom-members/forms/cm-header var_heading="Member Login" }}

  {{ user:login_form redirect="{ var_return }" attr="id:form-login|class:custom-form form-login" }}

    {{ if errors }}

        <div class="message message-error">
          <span class="icon"> <i class="fa fa-times fa-3x"></i> </span>
          <h3 class="heading">Error!</h3>
          <div class="">
            {{ errors }}
                {{ value }}<br>
            {{ /errors }}
          </div>
        </div>

    {{ /if }}

    <div class="custom-form-page-contents">

    <fieldset class="container-fluid clearfix">
      <div class="form-group">
        <label>Email (your email is your username)  <span class="is-required">(Required)</span></label>
        <input type="text" name="username" class="form-control" id="username" value="{{ old:username }}">
      </div>

      <div class="form-group">
        <label>Password  <span class="is-required">(Required)</span></label>
        <input type="password" name="password" class="form-control" id="password">
      </div>
    </fieldset>

    <button type="submit" class="btn btn-cf-submit" name="submit-form">Login &nbsp;<i class="fa fa-sign-in"></i> </button>

    <br><br>
    <a href="{{ gv_to_member_forgot }}">Forgot your password?</a>

    </div>

{{ /user:login_form }}

</div>
</div>
</div>
</div>
