<div class="custom-form-wrapper  form-alignment-left color-light tile-one form-has-payments" id="custom-form-wrapper">
<div class="custom-form-wrapper-inner">
<div class="custom-form-wrapper-inner-inner">

  <div class="form-header">
    <h3 class="form-heading">Membership Renewal</h3>
  </div>

{{ partial:custom-members/forms/renew-partial-success }}

<div class="custom-form-content-wrapper">
  <form action="{{ payamic:action }}" method="POST" id="form-renewal" class="custom-form form-validate form-register payment-form">
    {{ csrf_field }}
    <input type='hidden' name="payment_success" value="{{ gv_to_member_renew_success }}">
    <input type='hidden' name="user_id" value="{{ id }}">
    <input type='hidden' name="payment" value="{{ payamic:getMemberRenewalStr user_id='{id}' }}">

    <div class="cf-message is-error hide" id="form-errors">
      <h2 class="heading"><i class="fa fa-times"></i> Error!</h2>
      <div class="">
      </div>
    </div>


    <div class="custom-form-page-contents">
      <h3 class="fieldset-heading">Member Details</h3>
      <fieldset class="container-fluid  clearfix">
        <div class="form-group">
          <label class="" for="name">Name</label>
          <input type="text" class="form-control" name="name" readonly value="{{ first_name }} {{ last_name }}">
        </div>

        <div class="form-group">
          <label class="" for="email">Email</label><br>
          <input type="text" class="form-control" name="email" readonly value="{{ email }}">
        </div>

        <span class="text-error"><i class="fa fa-warning"></i> If the details above are NOT YOU, please <a class="" href="{{ user:logout_url redirect="/contact" }}">Sign Out and Contact Us &nbsp;<i class="fa fa-sign-out"></i> </a> </span>
      </fieldset>

      <h3 class="fieldset-heading">Amount &amp; Description</h3>
      <fieldset class="container-fluid  clearfix">
        <div class="form-group">
          <label class="" for="amount">Amount</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" name="amount" readonly value="{{ gvcustommembers:membership_prices }}{{ if value == membership_type }}{{ price }}{{ /if }}{{ /gvcustommembers:membership_prices }}">
          </div>
        </div>

        <div class="form-group">
          <label class="" for="desc">Description</label><br>
          <input type="text" class="form-control" name="desc" readonly value="{{ membership_type | ucfirst }} Membership Renewal">
        </div>
        <span class="text-error"><i class="fa fa-warning"></i> If you want to change your membership type please do NOT fill out this form, and <a href="{{ gv_to_contact }}">contact us</a> </span>
      </fieldset>
    </div>

    <div class="custom-form-page-contents">
      <h3 class="fieldset-heading">Payment Method</h3>
      <fieldset class="container-fluid cf-payment-payments">
        <div class="row">
          <div class="col-md-12">

            <div class="radio-wrapper gateways" id="gateways">
              <label for="">Select Payment Method</label>

        {{ if gvcustommembers:show_cc }}
              <div class="gateway reveal-fieldset">
                <input type="radio" class="do-reveal" id="gateway_stripe" name="payment_gateway" value="stripe" checked required>
                <input type="hidden" id="cf_gateway_levy_stripe" name="cf_gateway_levy_stripe" value="0">
                <label class="" for="gateway_stripe">
                  <span class="show-selection"> <i class="fa fa-check"></i> </span>
                  <span class="name">Credit / Debit Card</span> <small></small>  </label>
                <div class="reveal-if-active">
                  <div class="gateway-note">
                  Payment by Credit Card is MasterCard or VISA only. All major bank debit cards are also accepted. Please contact us if you have any issues.</div>
                </div>
              </div>
        {{ /if }}

        {{ if gvcustommembers:show_offline }}
              <div class="gateway reveal-fieldset">
                <input type="radio" class="do-reveal" id="gateway_offline" name="payment_gateway" value="offline" data-levy="0"  required>
                <input type="hidden" id="cf_gateway_levy_offline" name="cf_gateway_levy_offline" value="">
                <label class="" for="gateway_offline">
                  <span class="show-selection"> <i class="fa fa-check"></i> </span>
                  <span class="name">Offline</span> <small>(Bank Transfer, Cheque or other offline method)</small>  </label>
                <div class="reveal-if-active">
                  <div class="gateway-note">
                  You will receive an email with the details of how to finalise your offline payment - bank transfer, cheque etc.
                  </div>
                </div>
              </div>
        {{ /if }}

            </div>
          </div>
        </div>
      </fieldset>

      <section class="credit-card-details hide" id="credit-card-details">
        <h3 class="fieldset-heading">Credit / Debit Card Details</h3>
        <fieldset>
          <div class="stripe">
            <div class="form-group no-border">
              <label for="card-element">
                  Please enter your Card Number, Expiry &amp; CVC
              </label>
              <br><br>
              <div id="card-element"></div>
              <div class="card-errors" id="card-errors"></div>
              <br>
            </div>

            <div class="kind-warning-alone">
              Please click the submit button below and wait for your payment to process. Do NOT click the button more than once in quick succession or your credit / debit card may be charged multiple times.
            </div>
          </div>
        </fieldset>
      </section>

      <input type='hidden' name="success_subject" value="Your {{ site_name }} Membership Renewal">
      <input type='hidden' name="admin_subject" value="Membership Renewal">
      <input type='hidden' name="email_template" value="output/renew">

      <button type="submit" class="btn btn-cf-submit" name="submit-form">Submit Form & Process Payment &nbsp; <i class="fa fa-send"></i> </button>

    </div>

  </form>
</div>

</div>
</div>
</div>
