
<br>
<div class="site-width-centered">
  Please use the form below to enter a new password.
</div>
<br>

{{ partial:custom-members/forms/cm-header var_heading="Enter a New Password" }}

{{ user:reset_password_form attr="id:form-reset|class:custom-form form-reset" }}

    {{ if success }}

    <div class="message message-success">
      <span class="icon"> <i class="fa fa-check fa-3x"></i> </span>
      <h3 class="heading">Your password has been reset!</h3>
      <div class="">
          <p>If you still cannot login, please <a class="link-underline" href="/contact"> contact us</a> </p>
          <br>
          <a href="{{ gv_to_member_profile }}" class="btn btn-one">Login To Your Profile </a>
        </div>
      </div>
    </div>

    {{ elseif url_invalid }}

      <div class="alert alert-danger text-center">
        <h3 class="alert-danger">This reset URL is invalid. </h3>
        <p>Please try the password reset process again. If you still cannot reset your password, please <a class="link-underline" href="/contact"> contact us</a> </p>
        <br>
      </div>

    {{ else }}

    {{ if errors }}

        <div class="message message-error">
          <span class="icon"> <i class="fa fa-times fa-3x"></i> </span>
          <h3 class="heading">Error!</h3>
          <div class="">
            {{ errors }}
                {{ value }}<br>
            {{ /errors }}
          </div>
        </div>

    {{ /if }}

      <div class="custom-form-page-contents">
        <fieldset class="container-fluid clearfix">
          <label for="">Please enter a new secure password for your account:</label> <br><br>
          <div class="form-group">
              <label>Password</label>
              <input type="password" name="password" class="form-control">
          </div>

          <div class="form-group">
              <label>Password Confirmation</label>
              <input type="password" name="password_confirmation" class="form-control">
          </div>

          <button type="submit" class="btn btn-cf-submit" name="submit-form">Reset my Password &nbsp; <i class="fa fa-reset"></i> </button>

        </fieldset>
      </div>

    {{ /if }}

{{ /user:reset_password_form }}

</div>
</div>
</div>
</div>
