
<br>
<div class="site-width-centered">
  Please use the form below to reset your password.
</div>
<br>

{{ partial:custom-members/forms/cm-header var_heading="Reset Password" }}

{{ user:forgot_password_form reset_url="{gv_to_member_reset}" attr="id:form-forgot|class:custom-form form-forgot" }}
  {{ if email_sent }}

    <div class="alert alert-success text-center">
      <h3 class="alert-success">Your password reset email has been sent!</h3>
      <p>If you do not receive it, please check your spam folder and if you still cannot find it, <a class="link-underline" href="/contact"> contact us</a> </p>
      <br>
    </div>

  {{ else }}

    {{ if errors }}

        <div class="message message-error">
          <span class="icon"> <i class="fa fa-times fa-3x"></i> </span>
          <h3 class="heading">Error!</h3>
          <div class="">
            {{ errors }}
                {{ value }}<br>
            {{ /errors }}
          </div>
        </div>

    {{ /if }}

    <div class="custom-form-page-contents">

      <p>Enter the email address you registered with and we'll email you a link to reset your password.</p>

      <fieldset class="container-fluid clearfix">
        <div class="form-group">
          <label>Email (your email is your username)  <span class="is-required">(Required)</span></label>
          <input type="email" name="username" class="form-control" id="username" value="{{ old:username }}">
        </div>
      </fieldset>

      <button type="submit" class="btn btn-cf-submit" name="submit-form">Send me a password reset &nbsp;<i class="fa fa-sign-in"></i> </button>

      <br><br>
      <a href="{{ gv_to_member_login }}">Nevermind, I remembered <i class="fa fa-smile-o"></i>  </a>

    </div>
{{ /if }}
{{ /user:forgot_password_form }}

</div>
</div>
</div>
</div>
