<div class="custom-form-wrapper no-margin form-alignment-left color-light tile-one" id="custom-form-wrapper">
<div class="custom-form-wrapper-inner">
<div class="custom-form-wrapper-inner-inner">
  <div class="form-header">
    <h3 class="form-heading">New Member Registration</h3>
  </div>
  <div class="custom-form-content-wrapper">
{{ user:register_form redirect="{gv_to_member_register_success}" attr="id:form-register|class:custom-form form-validate form-register payment-form" }}
    <input type="hidden" name="user_num" id="user_num" value="{{ old:user_num }}">
    <input type="hidden" name="status" id="status" value="pending">

    {{ if errors }}
    <div class="cf-message is-error {{ if !errors }}hide{{ /if }}" id="form-errors">
      <h2 class="heading"><i class="fa fa-times"></i> Error!</h2>
      <div class="">
        {{ errors }}
            {{ value }}<br>
        {{ /errors }}
      </div>
    </div>
    {{ /if }}

  {{ partial:custom-members/forms/register-fields }}

{{ /user:register_form }}

</div>
</div>
</div>
</div>
