
<div class="custom-form-page-contents">
<h3 class="fieldset-heading">Account Details</h3>

<fieldset class="container-fluid  clearfix">
  <div class="form-group">
    <label>Email (becomes your username)  <span class="is-required">(Required)</span></label>
    <input type="email" name="email" class="form-control" id="email" value="{{ old:email }}"  data-required="true" required>
  </div>

  <div class="form-group">
    <label>Password  <span class="is-required">(Required)</span></label>
    <input type="password" name="password" class="form-control" id="password" data-required="true" required>
  </div>

  <div class="form-group">
    <label>Password Confirmation  <span class="is-required">(Required)</span></label>
    <input type="password" name="password_confirmation" class="form-control" id="password_confirmation" equalTo="#password" data-required="true" required>
  </div>
</fieldset>

<h3 class="fieldset-heading">Contact Details</h3>
<fieldset class="container-fluid clearfix">
  <div class="form-group">
    <label>First Name  <span class="is-required">(Required)</span></label>
    <input type="text" name="first_name" class="form-control" id="first_name" value="{{ old:first_name }}"  data-required="true" required>
  </div>

  <div class="form-group">
    <label>Last Name  <span class="is-required">(Required)</span></label>
    <input type="text" name="last_name" class="form-control" id="last_name" value="{{ old:last_name }}" data-required="true" required>
  </div>

  <div class="form-group">
    <label>Contact Phone Number  <span class="is-required">(Required - only numbers can be input)</span></label>
    <input type="number" name="phone" class="form-control" id="phone" value="{{ old:phone }}"  data-required="true" required>
  </div>
</fieldset>

<h3 class="fieldset-heading">Address</h3>
<fieldset class="container-fluid  clearfix">
  <label>Home Address</label>
  <div class="form-group">
    <label class="smaller">Building / Property Name</label>
    <input type="text" name="address_building" value="{{ old:address_building }}" class="form-control">
  </div>
  <div class="form-group">
    <label class="smaller">Street / Road Name and Number</label>
    <input type="text" name="address_street" value="{{ old:address_street }}" class="form-control">
  </div>
  <div class="form-group">
    <label class="smaller">Town / City</label>
    <input type="text" name="address_town" value="{{ old:address_town }}" class="form-control">
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="smaller">State / Locality / County</label>
        <input type="text" name="address_state" value="{{ old:address_state }}" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="smaller">Postcode / Zip</label>
        <input type="text" name="address_postcode" value="{{ old:address_postcode }}" class="form-control">
      </div>
    </div>
  </div>
  <label class="smaller" for="address_country">Country</label>
  <select id="address_country" name="address_country" class="form-control">
  <option value="" >Please Select</option>
  <option value="Australia"  selected="selected">Australia</option>
  <option value="New Zealand"  >New Zealand</option>
  <option value="United Kingdom"  >United Kingdom</option>
  <option value="United States"  >United States</option>
  <option value="France"  >France</option>
  <option value="Germany"  >Germany</option>
  <option value="Ireland (Republic)"  >Ireland (Republic)</option>
  <option value="Italy"  >Italy</option>
  <option value="Spain"  >Spain</option>
  <option value="Canada"  >Canada</option>
  <option value="------"  >------</option>
  <option value="Afghanistan"  >Afghanistan</option>
  <option value="Albania"  >Albania</option>
  <option value="Algeria"  >Algeria</option>
  <option value="Andorra"  >Andorra</option>
  <option value="Angola"  >Angola</option>
  <option value="Antigua & Deps"  >Antigua & Deps</option>
  <option value="Argentina"  >Argentina</option>
  <option value="Armenia"  >Armenia</option>
  <option value="Austria"  >Austria</option>
  <option value="Azerbaijan"  >Azerbaijan</option>
  <option value="Bahamas"  >Bahamas</option>
  <option value="Bahrain"  >Bahrain</option>
  <option value="Bangladesh"  >Bangladesh</option>
  <option value="Barbados"  >Barbados</option>
  <option value="Belarus"  >Belarus</option>
  <option value="Belgium"  >Belgium</option>
  <option value="Belize"  >Belize</option>
  <option value="Benin"  >Benin</option>
  <option value="Bhutan"  >Bhutan</option>
  <option value="Bolivia"  >Bolivia</option>
  <option value="Bosnia Herzegovina"  >Bosnia Herzegovina</option>
  <option value="Botswana"  >Botswana</option>
  <option value="Brazil"  >Brazil</option>
  <option value="Brunei"  >Brunei</option>
  <option value="Bulgaria"  >Bulgaria</option>
  <option value="Burkina"  >Burkina</option>
  <option value="Burundi"  >Burundi</option>
  <option value="Cambodia"  >Cambodia</option>
  <option value="Cameroon"  >Cameroon</option>
  <option value="Cape Verde"  >Cape Verde</option>
  <option value="Central African Rep"  >Central African Rep</option>
  <option value="Chad"  >Chad</option>
  <option value="Chile"  >Chile</option>
  <option value="China"  >China</option>
  <option value="Colombia"  >Colombia</option>
  <option value="Comoros"  >Comoros</option>
  <option value="Congo"  >Congo</option>
  <option value="Congo (Democratic Rep)"  >Congo (Democratic Rep)</option>
  <option value="Costa Rica"  >Costa Rica</option>
  <option value="Croatia"  >Croatia</option>
  <option value="Cuba"  >Cuba</option>
  <option value="Cyprus"  >Cyprus</option>
  <option value="Czech Republic"  >Czech Republic</option>
  <option value="Denmark"  >Denmark</option>
  <option value="Djibouti"  >Djibouti</option>
  <option value="Dominica"  >Dominica</option>
  <option value="Dominican Republic"  >Dominican Republic</option>
  <option value="East Timor"  >East Timor</option>
  <option value="Ecuador"  >Ecuador</option>
  <option value="Egypt"  >Egypt</option>
  <option value="El Salvador"  >El Salvador</option>
  <option value="Equatorial Guinea"  >Equatorial Guinea</option>
  <option value="Eritrea"  >Eritrea</option>
  <option value="Estonia"  >Estonia</option>
  <option value="Ethiopia"  >Ethiopia</option>
  <option value="Fiji"  >Fiji</option>
  <option value="Finland"  >Finland</option>
  <option value="Gabon"  >Gabon</option>
  <option value="Gambia"  >Gambia</option>
  <option value="Georgia"  >Georgia</option>
  <option value="Ghana"  >Ghana</option>
  <option value="Greece"  >Greece</option>
  <option value="Grenada"  >Grenada</option>
  <option value="Guatemala"  >Guatemala</option>
  <option value="Guinea"  >Guinea</option>
  <option value="Guinea-Bissau"  >Guinea-Bissau</option>
  <option value="Guyana"  >Guyana</option>
  <option value="Haiti"  >Haiti</option>
  <option value="Honduras"  >Honduras</option>
  <option value="Hungary"  >Hungary</option>
  <option value="Iceland"  >Iceland</option>
  <option value="India"  >India</option>
  <option value="Indonesia"  >Indonesia</option>
  <option value="Iran"  >Iran</option>
  <option value="Iraq"  >Iraq</option>
  <option value="Israel"  >Israel</option>
  <option value="Ivory Coast"  >Ivory Coast</option>
  <option value="Jamaica"  >Jamaica</option>
  <option value="Japan"  >Japan</option>
  <option value="Jordan"  >Jordan</option>
  <option value="Kazakhstan"  >Kazakhstan</option>
  <option value="Kenya"  >Kenya</option>
  <option value="Kiribati"  >Kiribati</option>
  <option value="Korea North"  >Korea North</option>
  <option value="Korea South"  >Korea South</option>
  <option value="Kosovo"  >Kosovo</option>
  <option value="Kuwait"  >Kuwait</option>
  <option value="Kyrgyzstan"  >Kyrgyzstan</option>
  <option value="Laos"  >Laos</option>
  <option value="Latvia"  >Latvia</option>
  <option value="Lebanon"  >Lebanon</option>
  <option value="Lesotho"  >Lesotho</option>
  <option value="Liberia"  >Liberia</option>
  <option value="Libya"  >Libya</option>
  <option value="Liechtenstein"  >Liechtenstein</option>
  <option value="Lithuania"  >Lithuania</option>
  <option value="Luxembourg"  >Luxembourg</option>
  <option value="Macedonia"  >Macedonia</option>
  <option value="Madagascar"  >Madagascar</option>
  <option value="Malawi"  >Malawi</option>
  <option value="Malaysia"  >Malaysia</option>
  <option value="Maldives"  >Maldives</option>
  <option value="Mali"  >Mali</option>
  <option value="Malta"  >Malta</option>
  <option value="Marshall Islands"  >Marshall Islands</option>
  <option value="Mauritania"  >Mauritania</option>
  <option value="Mauritius"  >Mauritius</option>
  <option value="Mexico"  >Mexico</option>
  <option value="Micronesia"  >Micronesia</option>
  <option value="Moldova"  >Moldova</option>
  <option value="Monaco"  >Monaco</option>
  <option value="Mongolia"  >Mongolia</option>
  <option value="Montenegro"  >Montenegro</option>
  <option value="Morocco"  >Morocco</option>
  <option value="Mozambique"  >Mozambique</option>
  <option value="Myanmar, (Burma)"  >Myanmar, (Burma)</option>
  <option value="Namibia"  >Namibia</option>
  <option value="Nauru"  >Nauru</option>
  <option value="Nepal"  >Nepal</option>
  <option value="Netherlands"  >Netherlands</option>
  <option value="Nicaragua"  >Nicaragua</option>
  <option value="Niger"  >Niger</option>
  <option value="Nigeria"  >Nigeria</option>
  <option value="Norway"  >Norway</option>
  <option value="Oman"  >Oman</option>
  <option value="Pakistan"  >Pakistan</option>
  <option value="Palau"  >Palau</option>
  <option value="Panama"  >Panama</option>
  <option value="Papua New Guinea"  >Papua New Guinea</option>
  <option value="Paraguay"  >Paraguay</option>
  <option value="Peru"  >Peru</option>
  <option value="Philippines"  >Philippines</option>
  <option value="Poland"  >Poland</option>
  <option value="Portugal"  >Portugal</option>
  <option value="Qatar"  >Qatar</option>
  <option value="Romania"  >Romania</option>
  <option value="Russian Federation"  >Russian Federation</option>
  <option value="Rwanda"  >Rwanda</option>
  <option value="St Kitts & Nevis"  >St Kitts & Nevis</option>
  <option value="St Lucia"  >St Lucia</option>
  <option value="Saint Vincent & the Grenadines"  >Saint Vincent & the Grenadines</option>
  <option value="Samoa"  >Samoa</option>
  <option value="San Marino"  >San Marino</option>
  <option value="Sao Tome & Principe"  >Sao Tome & Principe</option>
  <option value="Saudi Arabia"  >Saudi Arabia</option>
  <option value="Senegal"  >Senegal</option>
  <option value="Serbia"  >Serbia</option>
  <option value="Seychelles"  >Seychelles</option>
  <option value="Sierra Leone"  >Sierra Leone</option>
  <option value="Singapore"  >Singapore</option>
  <option value="Slovakia"  >Slovakia</option>
  <option value="Slovenia"  >Slovenia</option>
  <option value="Solomon Islands"  >Solomon Islands</option>
  <option value="Somalia"  >Somalia</option>
  <option value="South Africa"  >South Africa</option>
  <option value="South Sudan"  >South Sudan</option>
  <option value="Sri Lanka"  >Sri Lanka</option>
  <option value="Sudan"  >Sudan</option>
  <option value="Suriname"  >Suriname</option>
  <option value="Swaziland"  >Swaziland</option>
  <option value="Sweden"  >Sweden</option>
  <option value="Switzerland"  >Switzerland</option>
  <option value="Syria"  >Syria</option>
  <option value="Taiwan"  >Taiwan</option>
  <option value="Tajikistan"  >Tajikistan</option>
  <option value="Tanzania"  >Tanzania</option>
  <option value="Thailand"  >Thailand</option>
  <option value="Togo"  >Togo</option>
  <option value="Tonga"  >Tonga</option>
  <option value="Trinidad & Tobago"  >Trinidad & Tobago</option>
  <option value="Tunisia"  >Tunisia</option>
  <option value="Turkey"  >Turkey</option>
  <option value="Turkmenistan"  >Turkmenistan</option>
  <option value="Tuvalu"  >Tuvalu</option>
  <option value="Uganda"  >Uganda</option>
  <option value="Ukraine"  >Ukraine</option>
  <option value="United Arab Emirates"  >United Arab Emirates</option>
  <option value="Uruguay"  >Uruguay</option>
  <option value="Uzbekistan"  >Uzbekistan</option>
  <option value="Vanuatu"  >Vanuatu</option>
  <option value="Vatican City"  >Vatican City</option>
  <option value="Venezuela"  >Venezuela</option>
  <option value="Vietnam"  >Vietnam</option>
  <option value="Yemen"  >Yemen</option>
  <option value="Zambia"  >Zambia</option>
  <option value="Zimbabwe"  >Zimbabwe</option>

  </select> <br>
</fieldset>

<h3 class="fieldset-heading">Additional Notes</h3>
<fieldset class="container-fluid  clearfix">
  <div class="form-group">
    <label>Please add any additional notes about your registration if needed here </label>
    <textarea class="form-control" autocomplete="off" rows="5" name="message" id="message">{{ old:message }}</textarea>
  </div>
</fieldset>

<h3 class="fieldset-heading">Membership</h3>
<fieldset class="container-fluid  clearfix">
  <div class="payment-option-set payment-set">
    <div class="radio-wrapper purchase-single" >
      <label>Membership Type </label>
{{ gvcustommembers }}
  {{ membership_prices }}
      {{ if public }}
      <div class="radio has-price">
        <label>
          <input class="add-price " type="radio" name="membership_type" value="{{ value }}" data-price="{{ price }}" data-summary="true" data-label="{{ name }}"  >
          {{ name }} <span class="option-price">${{ price }}</span>
        </label>
      </div>
      {{ /if }}
  {{ /membership_prices }}
{{ /gvcustommembers }}
    </div>
  </div>
</fieldset>

</div>
<div class="custom-form-page-contents">

<h3 class="fieldset-heading">Payment Method</h3>
<fieldset class="container-fluid cf-payment-payments">
  <div class="row">
    <div class="col-md-12">
      <div class="radio-wrapper gateways" id="gateways">
        <label for="">Select Payment Method</label>
    {{ if gvcustommembers:show_cc }}
        <div class="gateway reveal-fieldset">
          <input type="radio" class="do-reveal" id="gateway_stripe" name="payment_gateway" value="stripe" checked required>
          <label class="" for="gateway_stripe">
          <span class="show-selection"> <i class="fa fa-check"></i> </span>
          <span class="name">Credit / Debit Card</span></label>
          <div class="reveal-if-active">
            <div class="gateway-note">
            Payment by Credit Card is MasterCard or VISA only. All major bank debit cards are also accepted. Please contact us if you have any issues.
            </div>
          </div>
        </div>
    {{ /if }}
    {{ if gvcustommembers:show_offline }}
        <div class="gateway reveal-fieldset">
          <input type="radio" class="do-reveal" id="gateway_offline" name="payment_gateway" value="offline" required>
          <label class="" for="gateway_offline">
          <span class="show-selection"> <i class="fa fa-check"></i> </span>
          <span class="name">Offline</span> <small>(Bank Transfer, Cheque or other offline method)</small>  </label>
          <div class="reveal-if-active">
          <div class="gateway-note">
          You will receive an email with the details of how to finalise your offline payment - bank transfer, cheque etc.
          </div>
          </div>
        </div>
    {{ /if }}

      </div>

      <br>
      <div class="form-group total-amount no-border">
        <label class="field-label" for="cf_payment_amount">Total Amount Due </label>
        <div class="input-group error-no-margin">
          <div class="input-group-addon">AUD $</div>
          <input type="text" class="form-control no-border no-hover display-total-amount" value="" name="payment_total" id="payment_registration_total" readonly>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<section class="credit-card-details hide" id="credit-card-details">
  <h3 class="fieldset-heading">Credit / Debit Card Details</h3>
  <fieldset>
    <div class="stripe">
      <div class="form-group no-border">
        <label for="card-element">
        Please enter your Card Number, Expiry &amp; CVC
        </label>
        <br><br>
        <div id="card-element"></div>
        <div class="card-errors" id="card-errors"></div>
        <br>
      </div>

      <div class="kind-warning-alone">
      Please click the submit button below and wait for your payment to process. Do NOT click the button more than once in quick succession or your credit / debit card may be charged multiple times.
      </div>
    </div>
    <div class="payments-ssl-badge">
      <div class="image">
        <img class="img-responsive" src="/site/themes/site/partials/custom-form/img/ssl-badge.png" alt="">
      </div>
      <div class="text">
        Our website and payments are protected by the highest level encryption with SSL/HTTPS. Your data is securely and safely encrypted. Click the lock in the URL bar at the top for more information.
      </div>
    </div>
  </fieldset>
</section>

<input type='hidden' name="success_subject" value="Your Registration">
<input type='hidden' name="admin_subject" value="New Registration">
<input type='hidden' name="start_date" value="{{ now }}">

<div class="hidden">
  <label for="website1">If you are a human and can see this field, please refrain from filling it out</label>
  <input type="text" name="website1" value="">
</div>

<button type="submit" class="btn btn-cf-submit" name="submit-form">Submit Form & Process Payment &nbsp; <i class="fa fa-send"></i> </button>

</div>
