<div class="ajax-form-success hide" id="form-success">
  <div class="cf-message is-success">
    <h2 class="text-success"> <i class="fa fa-check-circle"></i> Your Membership Renewal was successful</h2>
    <p>Thank you for renewing your {{ site_name }} membership. We have sent you an email confirmation of your renewal details. Please contact us if you do not receive this email.</p>
  </div>

  <h2>Submission Details </h2>
  <p id="success-name"><strong>Name:</strong> <span id="success-out-name"></span></p>
  <p id="success-email"><strong>Email:</strong> <span id="success-out-email"></span></p>
  <p><strong>Submission Date:</strong> <span id="success-out-date"></span></p>

  <p class="text-cf-success" id="text-cf-success"><strong>Your submission details have been sent to you in an email.</strong></p>

  <div id="success-payment" class="success-payment hide">

  </div>

  <div class="buttons">
    <a class="btn btn-cf-one" href="/">Go Home &nbsp; <i class="fa fa-angle-double-right"></i> </a>
    <a class="btn btn-cf-one" href="/contact">Contact Us &nbsp; <i class="fa fa-angle-double-right"></i> </a>
  </div>
</div>
