{{ partial:item_header  item_heading="Success!" }}
<div class="page-container site-width-centered">
  <div class="message message-success text-success">
    <i class="fa fa-check-circle fa-3x"></i>
    <h2 class="text-success">Submission Successful</h2>
    <p>Thank you for contacting us. We will be in touch with you shortly.</p>
    <p><strong>{{ site_name }}</strong></p>
    <br>
    <p>Where to next?</p>
    <a href="/">Go Home</a> | <a href="/contact">Contact Us Again</a>
  </div>
</div>
