
<script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_code }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ ga_code }}');
</script>
{{#
{{ if segment_1 == "contact-success" }}
<script>
  gtag('event', 'conversion', { 'send_to': 'AW-878614238/wuSpCIf79GoQ3q36ogM' });
</script>
{{ /if }}
{{ if segment_1 == "booking-success" }}
<script>
  gtag('event', 'conversion', { 'send_to': 'AW-878614238/X7ZSCMqEvo0DEN6t-qID' });
</script>
{{ /if }}
#}}