<script src="{{ theme:js src='moment.js' }}"></script>
<script src="{{ theme:js src='underscore-min.js' }}"></script>
<script src="{{ theme:js src='clndr.min.js' }}"></script>
<script>
    // Load our calendar
    var calLength;
    if ($('#clndr-large').data('cal-view') == 'week') {
      calLength = {
        days: 7,
        interval: 7
      };
    } else {
      calLength = {};
    }
    var myCal = $('#clndr-large').clndr({
      multiDayEvents: {
          endDate: 'end_date',
          startDate: 'start_date',
          singleDay: 'date'
      },
      lengthOfTime: calLength,
      constraints: {
          startDate: moment()
      },
      events: my_events,
      clickEvents: {
        onMonthChange: function (month) {
          // Get the new month's events
          $('body').addClass('loading');
          $.getJSON( "/booking-api", {"year": month.format('Y'), "month": month.format('MM')}, function(data) {
            my_events = data;
            myCal.setEvents(my_events);
          })
          .fail(function() {
            console.log( "Ajax calendar loading error" );
            console.log(this);
          })
          .always(function() {
            // Remove the loading class
            $('body').removeClass('loading');
          });
        }
      },
      template: $('#cal_template').html()
    });
    $('body').on('click', '.jump-today', function() {
      myCal.today({ withCallbacks: true });
    });
    $('#modal-calendar-booking').on('show.bs.modal', handle_cal_modal);
    function handle_cal_modal(e) {
      var i, next_date, this_date, our_date, items = "";
      if (e.relatedTarget) {
        our_date = moment($(e.relatedTarget).data('date'), 'YYYY-MM-DD hh:mm a');
      } else {
        our_date = moment($(e.target).data('date'), 'YYYY-MM-DD hh:mm a');
      }
      // Display the selected date + time, and fill our form
      $('#modal-calendar-booking-time').html(our_date.format('hh:mm a') + " on " + our_date.format('dddd, DD MMMM YYYY'));
      $('input[name=booking_date]').val(our_date.format('hh:mm a') + " on " + our_date.format('dddd, DD MMMM YYYY'));
    }
</script>
