<div class="col-md-4 item {{ if last }}is-last{{ /if }}">
  <div class="item-wrapper">
    <div class="cover-image">
        <img class="img-responsive" src='{{ glide:cover_img format="" width="700" height="500" fit="crop_focal" }}' alt="{{ title }}" />
    </div>
    <div class="content">
      <div class="text">
        <h3 class="title">{{ title }} </h3>
        <div class="excerpt">{{ excerpt | markdown }}</div>
      </div>
      <a class="btn btn-one" href="{{ url }}"> MORE DETAILS &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
    </div>
    <a class="overlay-link" href="{{ url }}"></a>
  </div>
</div>