<div class="item {{ if last }}is-last{{ /if }}">
  <div class="swc">
  <div class="container-fluid container-swc">
    <div class="row">

  {{ if cover_img }}
    <div class="col-sm-4 col-md-3 col-image">
      <div class="cover-image">
        <a href="{{ url }}">
          <img class="img-responsive" src='{{ glide:cover_img width="300" height="300" fit="" }}' alt="{{ title }}" />
        </a>
      </div>
    </div>
    <div class="col-sm-8 col-md-9 col-content">
      <div class="content">
        <div class="text">
          <h3 class="title"><a href="{{ url }}">{{ title }}</a></h3>
          <div class="excerpt">{{ excerpt | markdown }}</div>
        </div>
        <a class="link" href="{{ url }}"> View Business Details &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
      </div>
    </div>

  {{ else }}

    <div class="col-md-12 no-image">
      <div class="content">
        <div class="text">
          <h3 class="title"><a href="{{ url }}">{{ title }}</a></h3>
          <div class="excerpt">{{ excerpt | markdown }}</div>
        </div>
        <a class="link" href="{{ url }}"> View Business Details &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
      </div>
    </div>

  {{ /if }}
</div>
</div>
</div>
</div>
