{{ if var_in_col }}{{ var:var_crop is="crop_focal"}}{{ /if }}

<div class="item {{ if last }}is-last{{ /if }}">
  <div class="container-fluid container-swc">
    <div class="row">

  {{ if cover_img }}
    <div class="{{ if var_in_col }}col-md-12{{ else }}col-md-4{{ /if }} col-image">
      <div class="cover-image">
        <a href="{{ url }}">
          <img class="img-responsive" src='{{ glide:cover_img format="" width="700" height="500" fit="{var:var_crop}" }}' alt="{{ title }}" />
        </a>
      </div>
    </div>
    <div class="{{ if var_in_col }}col-md-12{{ else }}col-md-8{{ /if }} col-content">
      <div class="content">

        <div class="text">
          <h3 class="title">{{ if show_kind == 'article' }}<a href="{{ url }}">{{ title }}</a>{{ else }}{{ title }}{{ /if }}</h3>
          <div class="date"><span class="inner"><span class="icon"><i class="fa fa-calendar"></i></span>&nbsp; {{ date format="jS F, Y" }} {{ if toggle_end_date }}- {{ end_date format="jS F, Y" }} {{ /if }}</span> </div>
      {{ if tags }}
          <div class="tags">
            <i class="fa fa-tags"></i>&nbsp; {{ tags }}{{ title|title }}{{ unless last }}, {{ /if }}{{ /tags }}
          </div>
      {{ /if }}
          <p class="excerpt">{{ excerpt | safe_truncate:200:... }}</p>
        </div>
        {{ if show_kind == 'article' }}
          <a class="link" href="{{ url }}"> View Event Details &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
        {{ else }}
          {{ assets:item_file }}
          <a class="link" target="_blank" href="{{ url }}"> View Event Details &nbsp;&nbsp;<i class="fa fa-download"></i></a>
          {{ /assets:item_file }}
        {{ /if }}
        {{ if toggle_registration }}
          <a class="link" href="{{ url }}#jump-rego"> Buy Tickets &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
        {{ /if }}
      </div>
    </div>

  {{ else }}

    <div class="col-md-12 no-image">
      <div class="content">

        <div class="text">
          <h3 class="title">{{ if show_kind == 'article' }}<a href="{{ url }}">{{ title }}</a>{{ else }}{{ title }}{{ /if }}</h3>
          <div class="date"><span class="inner"><span class="icon"><i class="fa fa-calendar"></i></span>&nbsp; {{ date }}</span> </div>
      {{ if tags }}
          <div class="tags">
            <i class="fa fa-tags"></i>&nbsp; {{ tags }}{{ title|title }}{{ unless last }}, {{ /if }}{{ /tags }}
          </div>
      {{ /if }}
          <p class="excerpt">{{ excerpt | safe_truncate:200:... }}</p>
        </div>
      {{ if show_kind == 'article' }}
        <a class="link" href="{{ url }}"> View Event Details &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
      {{ else }}
        {{ assets:item_file }}
        <a class="link" target="_blank" href="{{ url }}"> View Event Details &nbsp;&nbsp;<i class="fa fa-download"></i></a>
        {{ /assets:item_file }}
      {{ /if }}
      </div>
    </div>

  {{ /if }}
</div>
</div>
</div>
