{{ if var_home }}

<div class="item col-sm-6">
  {{ if cover_img }}
    <div class="cover-image jqmh" data-match-height="member-logo">
    <a href="{{ gv_to_members }}#{{ title | slugify }}">
      <img class="img-responsive" src='{{ glide:cover_img format="" width="300" height="200" fit="" }}' alt="{{ title }}" />
    </a>
  </div>
  {{ /if }}
  <div class="content">
    <div class="text">
      <h2 class="title"><a href="{{ gv_to_members }}#{{ title | slugify }}">{{ title }}</a></h2>
      <div class="excerpt">
      {{ excerpt | markdown }}
      </div>
    </div>
  </div>
</div>

{{ else }}

<div class="item col-sm-12" id="{{ title | slugify }}">
  {{ if cover_img }}
  <div class="cover-image">
    <img class="img-responsive" src='{{ glide:cover_img format="" width="300" height="200" fit="" }}' alt="{{ title }}" />
  </div>
  {{ /if }}
  <div class="content">
    <div class="text">
      <h2 class="title">{{ title }}</h2>
      <div class="excerpt">
      {{ excerpt | markdown }}
      </div>
      {{ if link }}
      <a target="_blank" class="link" href="{{ link }}">Member Website &nbsp; <i class="fa fa-angle-double-right"></i> </a>
      {{ /if }}
    </div>
  </div>
</div>

{{ /if }}
