
<div class="text">
  <h3 class="title"><a class="dni" href="{{ url }}">{{ title }}</a></h3>
  <div class="date-tags">
    <strong>{{ date }}</strong>
    {{ if author }}
      &nbsp; • &nbsp; <strong>{{ author }}{{ title | title }} {{ /author }}</strong>
    {{ /if }}
    {{ if sermon_length }}
      &nbsp; • &nbsp; <strong><i class="fa fa-clock-o"></i>  {{ sermon_length }}</strong>
    {{ /if }}
    {{ assets:item_file }}
      &nbsp; • &nbsp; <strong>{{ size }}</strong>
    {{ /assets:item_file }}
    {{ if tags }}
      <div class="tags">
        <i class="fa fa-tags"></i>&nbsp; {{ tags }}{{ title|title }}{{ unless last }}, {{ /if }}{{ /tags }}
      </div>
    {{ /if }}
  </div>

  {{ if excerpt }}
  <p class="excerpt">{{ excerpt | safe_truncate:420:... }} <a href="{{ url }}">View Full Details <i class="fa fa-angle-right"></i> </a></p>
  {{ /if }}

</div>
{{ if item_file }}
<div class="audio-player">
  <audio id="player" controls>
    <source src="{{ item_file }}" type="audio/mp3" />
  </audio>
  <div class="instructions">
    <button type="button" class="btn {{ if var_bg_dark }}btn-white{{ else }}btn-two{{ /if }}" data-toggle="modal" data-target="#modal-sermon-download"> Download this Message &nbsp;&nbsp;<i class="fa fa-download"></i></button>
    <a class="btn {{ if var_bg_dark }}btn-white{{ else }}btn-two{{ /if }}" href="{{ url }}"> View Message Details &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
  </div>
</div>
{{ /if }}

<div class="modal fade modal-sermon-download" id="modal-sermon-download" tabindex="-1" role="dialog" aria-labelledby="modal-sermon-download-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> <i class="fa fa-times"></i></span></button>
        <h4 class="modal-title" id="modal-sermon-download-label">Download this Message  </h4>
      </div>
      <div class="modal-body">
        <div class="modal-body-content">

          <h3>To download this message:</h3>

          <h4>1. Read these instructions then close this window. </h4>
          <h4>2. Find the audio player - like the example image shown here:</h4>
          <img class="img-responsive" src='{{ theme:asset src="img/audio-player.png" }}' alt="">
          <h4>2. Press the 3 small dots on the right hand side of the player.</h4>
          <h4>3. Press 'download'.</h4>

        </div>
      </div>
    </div>
  </div>
</div>
