 <div class="item{{ if index == 1 }} active{{ /if }}">
  <div class="content">
     <span class="fa-stack fa-lg fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-quote-left fa-stack-1x fa-inverse"></i>
    </span>
    <span class="text">
       {{ content strip_tags="img|a|p|h1|h2|h3|h4|h5" safe_truncate="300" ensure_right="..." }} <a class="read-more" href="{{ url }}">Read Full Story &nbsp;<i class="fa fa-angle-double-right"></i> </a>
    </span>
    <span class="title">{{ title }}</span>
    {{ if img }}
    <div class="item-image" style="background: url('') center center; background-size:cover;"></div>
    {{ /if }}
  </div>
</div>
