

  .form-user {
    background: mix(@colorw,@color2,93%);
    padding: 50px 0;
    margin: 40px 0 0;

    .form-heading {
      background: @color3;
      color: mix(@colorw,@color2,93%);
      font-size: @fsb * 1.7;
      margin: 0;
      padding: 15px 20px;
      text-align: center;
    }

    .form-content {
      margin: 0 0 0 20%;
      width: 60%;
    }

    fieldset {
      border: 1px solid @color1;
      margin: 0 0 30px;
      padding: 20px 40px;

      .container-fluid {
        padding: 0;
      }
    }

    .fieldset-heading {
      color: @color1;
      border-bottom: 1px dashed @color1;
      font-size: @fsb * 1.6;
      font-weight: 100;
      margin: 0 0 30px;
      padding-bottom: 10px;
    }

    .form-control {
      background: @colorw;
      border: 1px solid @color1;
      border-radius: 0;
      color: @colord;
      &:active,&:hover {
        border-color: @colord;
        border-width: 2px;
      }
    }
    label {
      color: @colord;
      font-size: @fsb * 1.1;
      font-weight: 600;
    }


    .radio-wrapper {
      border: 1px solid mix(@colorw,@colord,80%);
      margin: 0 0 10px;
      padding: 10px 15px;
    }

    &.form-sidebar {
      padding: 10px 0;
      margin: 10px 0 0;
      .form-content {
        margin: 0 0 0 0;
        width: 100%;
      }
    }


    @media only screen and (max-width: 991px) {

      .form-content {
        margin: 0 0 0 5%;
        width: 90%;
      }

      fieldset {
        padding: 20px 15px;
      }

    }//rwd

    @media only screen and (max-width: 600px) {

      .form-content {
        margin: 0 0 0 2%;
        width: 96%;
      }

    }//rwd
  }//form user
