
.user-page {

  

  &.page-form {
    .page-content {

      .rwd-p((@site-width-1 - 1),767px,/**/40px,0px,0px,0px,/**/40px,15px,0px,15px,/**/30px,15px,0px,15px);
      text-align: center;
    }
  }

}
