

.profile-page {

}


.col-logout {
  text-align: right;
  .btn-logout {
    background: none;
    padding: 4px;
  }
}

.profile-stats {
  background: mix(@colorw,@colord,90%);
  .content {
    padding: 10px 20px;
  }
}


.profile-info {

  .content {
    padding: 10px 20px;
    .subs-due {
      background: @color1;
      color: @colord;
      display: inline-block;
      font-size: @fsb * 1.3;
      padding: 15px 20px;
    }
  }
}
