{{ partial:item_header item_heading="Author: Articles by {segment_3|deslugify|title}" }}
{{ partial:collection/blog/back var_authors="true" }}
<div class="site-width-centered">
<div class="container-fluid container-swc">
<div class="row">
  <div class="col-md-9">

  {{ taxonomy use="author" from="blog" author:contains="{segment_3}" limit="1" }}
    <div class="author-info">
      {{ if cover_img }}
      <br>
      <div class="row">
        <div class="col-md-5">
          <img class="img-responsive" src='{{ glide:cover_img format="" width="350" height="400" fit="max" }}' alt="{{ title }}" />
        </div>
        <div class="col-md-7">
          <div class="text">
            <h3>About {{ title }}</h3>
            <hr>
            {{ content | markdown }}
          </div>
        </div>
      </div>

      {{ else }}
      <div class="text">
        <h3>About {{ title }}</h3>
        <hr>
        {{ content | markdown }}
      </div>
      {{ /if }}
    </div>
  {{ /taxonomy }}

    <section class="list-blog">
    <h3>Author Posts</h3>
    <hr>
{{ collection:blog paginate="true" taxonomy:author="{segment_3}" as="posts" limit="{gvblog:gv_blog_posts_quantity}" }}
{{ if no_results }}
  <p>No current items.</p>
{{ else }}
  <article class="clearfix">

{{ partial:collection/blog/post var_other="true" }}

  </article>
  {{ partial:nav/pagination }}
{{ /if }}
{{ /collection:blog }}

    </section>

  </div>
  <div class="col-md-3">

    <div class="favourites">
    {{ taxonomy use="tags" from="blog" author:contains="{segment_3}" as="posts" sort="" min_count="2" limit="5" }}
      {{ if no_results}}
      {{ else }}
        <h4>Favourite Topics</h4>
        {{ posts }}
        <a class="" href="{{ gvblog:gv_to_blog }}/tag/{{ slug }}">{{ title | deslugify | title }} {{ unless last }}|{{ /if }} </a>
        {{ /posts }}
      {{ /if }}
    {{ /taxonomy }}
    {{ taxonomy use="categories" from="blog" author:contains="{segment_3}" as="posts" sort="" min_count="2" limit="5" }}
      {{ if no_results}}
      {{ else }}
        <h4>Favourite Categories</h4>
        {{ posts }}
        <a class="" href="{{ gvblog:gv_to_blog }}/category/{{ slug }}">{{ title | deslugify | title }} {{ unless last }}|{{ /if }} </a>
        {{ /posts }}
      {{ /if }}
    {{ /taxonomy }}
    </div>

  </div>
</div>
</div>
</div>
