<div class="item {{ if last }}is-last{{ /if }}">

    <div class="row">

  {{ if cover_img }}

    <div class="col-sm-4 col-image">
      <div class="cover-image">
        <a href="{{ gvblog:gv_to_blog }}/author/{{ slug }}">
          <img class="img-responsive" src='{{ glide:cover_img format="" width="700" height="500" fit="" }}' alt="{{ title }}" />
        </a>
      </div>
    </div>
    <div class="col-sm-8 col-content">
      <div class="content">

        <div class="text">
          <h3 class="title"><a href="{{ gvblog:gv_to_blog }}/author/{{ slug }}">{{ title }}</a></h3>
          <p class="excerpt">{{ content | markdown }}</p>
          <a class="btn btn-two" href="{{ gvblog:gv_to_blog }}/author/{{ slug }}">View All Author Articles</a>
          {{ if link }}  <a class="btn btn-two" href="{{ link }}">{{ link_text }}</a>{{ /if }}

          <div class="favourites">
          {{ taxonomy use="tags" from="blog" author:contains="{slug}" as="posts" sort="" min_count="2" limit="5" }}
            {{ if no_results}}
            {{ else }}
              <h4>Favourite Topics</h4>
              {{ posts }}
              <a class="" href="{{ gvblog:gv_to_blog }}/tag/{{ slug }}">{{ title | deslugify | title }} {{ unless last }}|{{ /if }} </a>
              {{ /posts }}
            {{ /if }}
          {{ /taxonomy }}
          {{ taxonomy use="categories" from="blog" author:contains="{slug}" as="posts" sort="" min_count="2" limit="5" }}
            {{ if no_results}}
            {{ else }}
              <h4>Favourite Categories</h4>
              {{ posts }}
              <a class="" href="{{ gvblog:gv_to_blog }}/category/{{ slug }}">{{ title | deslugify | title }} {{ unless last }}|{{ /if }} </a>
              {{ /posts }}
            {{ /if }}
          {{ /taxonomy }}
          </div>

        </div>

      </div>
    </div>

  {{ else }}

    <div class="col-md-12 no-image">
      <div class="content">

        <div class="text">
          <h3 class="title"><a href="{{ gvblog:gv_to_blog }}/author/{{ slug }}">{{ title }}</a></h3>
          <p class="excerpt">{{ excerpt | markdown }}</p>
          <a class="btn btn-two" href="{{ gvblog:gv_to_blog }}/author/{{ slug }}">View All Author Articles</a>
          {{ if link }}  <a class="btn btn-two" href="{{ link }}">{{ link_text }}</a>{{ /if }}
          <div class="favourites">
          {{ taxonomy use="tags" from="blog" author:contains="{slug}" as="posts" sort="" min_count="2" limit="5" }}
            {{ if no_results}}
            {{ else }}
              <h4>Favourite Topics</h4>
              {{ posts }}
              <a class="" href="{{ gvblog:gv_to_blog }}/tag/{{ slug }}">{{ title | deslugify | title }} {{ unless last }}|{{ /if }} </a>
              {{ /posts }}
            {{ /if }}
          {{ /taxonomy }}
          {{ taxonomy use="categories" from="blog" author:contains="{slug}" as="posts" sort="" min_count="2" limit="5" }}
            {{ if no_results}}
            {{ else }}
              <h4>Favourite Categories</h4>
              {{ posts }}
              <a class="" href="{{ gvblog:gv_to_blog }}/category/{{ slug }}">{{ title | deslugify | title }} {{ unless last }}|{{ /if }} </a>
              {{ /posts }}
            {{ /if }}
          {{ /taxonomy }}
          </div>
        </div>

      </div>
    </div>

  {{ /if }}
</div>
</div>
