<div class="back-wrapper">
<div class="site-width-centered">
  <a onclick="window.history.go(-1); return false;" href="" class="btn btn-back"> <i class="fa fa-angle-double-left"></i>&nbsp; back</a>
  {{ if var_authors }}
  <a href="{{ gvblog:gv_to_blog_authors }}" class="btn btn-back"> <i class="fa fa-angle-double-left"></i>&nbsp; View all Authors</a>
  {{ /if }}
  {{ if var_archives }}
  <a href="{{ gvblog:gv_to_blog_archives }}" class="btn btn-back"> <i class="fa fa-angle-double-left"></i>&nbsp; Year Archives</a> <span class="divider">&nbsp;|&nbsp;&nbsp;
  <a href="{{ gvblog:gv_to_blog_archives }}/month" class="btn btn-back"> <i class="fa fa-angle-double-left"></i>&nbsp; Year / Month Archives</a> <span class="divider">&nbsp;|&nbsp;&nbsp;
  {{ /if }}
  <a href="{{ gvblog:gv_to_blog }}" class="btn btn-back"> <i class="fa fa-angle-double-left"></i>&nbsp; All Posts</a>
</div>
</div>
