{{ partial:item_header item_heading="Category: {segment_3|deslugify|title}" }}
{{ partial:collection/blog/back }}
<div class="site-width-centered">
<div class="container-fluid container-swc">
<div class="row">
  <div class="col-md-9">

    <section class="list-blog">

{{ collection:blog paginate="true" taxonomy:categories="{segment_3}" as="posts" limit="{gvblog:gv_blog_posts_quantity}" }}
{{ if no_results }}
  <p>No current items.</p>
{{ else }}
  <article class="clearfix">

{{ partial:collection/blog/post }}

  </article>
  {{ partial:nav/pagination }}
{{ /if }}
{{ /collection:blog }}

    </section>

  </div>
  <div class="col-md-3">
{{ partial:collection/blog/sidebar var_tax="true" }}
  </div>
</div>
</div>
</div>
