<h3>Archives</h3>
<hr>
<div class="blog-archives">
{{ collection:blog group_by_date="Y" limit="30" }}
  {{ date_groups }}
    <a href="{{ gvblog:gv_to_blog }}/{{ date_group }}">{{ date_group }}</a> {{ unless last }}&nbsp;<span class="divider">|</span>&nbsp;{{ /if }}
  {{ /date_groups }}
{{ /collection:blog }}
  <hr>
  <a href="{{ gvblog:gv_to_blog_archives }}">View All Archives &nbsp;<i class="fa fa-angle-right"></i> </a>
</div>

<br><br><br><br>
