Your payment to {{ global:site_name }} was successful. To view the details, see the HTML view of this email.
---
{{ partial:email/email-header var_color="{global:email_color}" var_title="{global:site_name} Payment" var_heading="Payment Successful" type="payment" var_desc="" }}
<br>
<div class="email-message">
  {{ gvcustommembers:payment_message }}
</div>
{{ partial:email/payment var_type="{payment_type}" var_name="{event_name}" var_personalised="Your" }}

{{ partial:email/email-footer var_desc="You are receiving this email because <br> you made a payment to {global:site_name}." }}
