
<div class="add-cart-buttons">
  <div class="content">
    <form class="form-add-cart">
    {{ if item_options }}
        <select name="options" class="form-control" required>
          <option value="">Select an option</option>
      {{ item_options }}
          <option value="{{ text|slugify }}"{{ if option_inv < 1 }} disabled{{ /if }} data-price="{{ option_price }}" data-desc="{{ title }} - {{ text }}" data-payment="{{ payamic:getPaymentStr amount='{option_price}' desc='{title} - {text}' item_id='{id}' }}">{{ if option_inv < 1 }}OUT OF STOCK -{{ /if }} {{ text }}</option>
      {{ /item_options }}
        </select>
      <span class="cart-price" id="price-option">$</span>
    {{ else }}
      {{ if sale }} <span class="on-sale">ON SALE! - Regular Price ${{ sale }}</span> {{ /if }}
      <input type="hidden" name="options" value="base" required data-price="{{ price }}" data-desc="{{ title }}" data-payment="{{ payamic:getPaymentStr amount='{price}' desc='{title}' item_id='{id}' }}">
      {{ if price }}<span class="cart-price">${{ price }}</span>{{ /if }}
    {{ /if }}
    {{ if item_inv > 0 }}
    {{ if max_quantity != 1 }}
      <div class="quantity-wrap clearfix">
        <span class="btn btn-quantity btn-minus">-</span>
        <input type="number" class="form-control product-quantity quantity" name="quantity" value="1" step="1" pattern="[0-9]*" placeholder="Enter the quantity" required min="1" {{ if max_quantity != '' }}max="{{ max_quantity }}"{{ /if }}>
        <span class="btn btn-quantity btn-plus">+</span>
      </div>
    {{ else }}
      <input type="hidden" name="quantity" value="1">
    {{ /if }}
      <button type="button" class="btn btn-purchase" data-toggle="modal" data-target="#modal-payment">Purchase &nbsp; <i class="fa fa-angle-double-right"></i> </button>
    </form>
    {{ /if }}
    {{ if cost_note }}<p class="cost-note"><small>{{ cost_note }}</small></p> {{ /if }}
    <div class="cart-stock clearfix">
      <div class="stock">
        {{ if item_inv > 0 }}
          <span class="inv in"><i class="fa fa-check-circle"></i> In Stock</span>
        {{ else }}
          <span class="inv out"><i class="fa fa-times-circle"></i> Out of Stock</span>
        {{ /if }}
      </div>
    </div>
  </div>
</div>
