<div class="form-payment form-event-register">


  <form action="{{ payamic:action }}" method="POST" id="payment-form">
    {{ csrf_field }}
    <input type='hidden' name="payment" value="{{ if payment == 'custom' }}{{ segment_2 }}{{ /if }}">
    <input type='hidden' name="quantity" value="{{ if payment == 'custom' }}1{{ /if }}">

<div class="form-content">

    <h1>{{ title }}</h1>
    <h3 class="info">
      {{ if event_type =="camp" }}
        <span> Date:</span> {{ date format="l F j, Y" }} - {{ end_date format="l F j, Y" }} <br>
      {{ /if }}
      <span> Price:</span> ${{ price }} &nbsp;•&nbsp; <span> Location:</span> {{ location }}
    </h3>

    <div class="highlight-payment">
      <div class="js-payment-errors hidden">
        <span class="icon"> <i class="fa fa-times fa-2x"></i> </span>
        <span class="error"></span>
      </div>

      {{ if payment == 'custom' }}
      <div class="payment-reason">
        <h5>Please set the amount you want to pay in the amount field below and then include a detailed description of what the payment is for.</h5>
        <i>Visa and Mastercard payments only are accepted.</i>
        <br><br>
        <i>Please note:</i> this amount is not automatically set or checked by our system - whatever amount you enter is the amount that will come off your credit card. Please check that the amount is correct before submitting.
      </div>
      {{ /if }}

    </div>


    <h5 class="fieldset-heading">Your Details</h5>
    <fieldset>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="" for="full_name">Full Name <span class="req">(required)</span></label>
        <input type="text" class="form-control" name="full_name" required value="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="" for="phone">Phone</label>
        <input type="text" class="form-control" name="phone" value="">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label class="" for="email">Email Address <span class="req">(required)</span></label>
        <input type="email" class="form-control" name="email" required value="">
      </div>
    </div>
</div>
</div>
    </fieldset>

    <h5 class="fieldset-heading amount-heading">Additional Information</h5>
    <fieldset>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
              <textarea class="form-control" autocomplete="off" rows="3" name="message" id="message"></textarea>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

      <h5 class="fieldset-heading amount-heading">Payment Details</h5>
      <fieldset>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-4">
        <div class="form-group">
          <label class="" for="amount">Payment Amount{{ if payment == 'custom' }} - in format 20.00 <span class="req">(required)</span>{{ /if }}</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" value="{{ price }}" name="amount" readonly>
          </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
          <label class="" for="desc">Item Description</label><br>
          <input type="text" class="form-control" value="{{ title }} - {{ date }}" name="desc" readonly>
        </div>
    </div>
  </div>
</div>
      </fieldset>

    <h5 class="fieldset-heading">Payment Type</h5>
    <fieldset>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="">
        <label class="" for="gateway">Please select your payment method:</label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" class="" name="gateway" required value="stripe" data-levy="{{ payamic:getLevy gateway='stripe' }}" checked>
          <strong>Credit Card</strong>
          {{ if {payamic:getLevy gateway='stripe'} != '' }}
          <small class="note">(Please Note: this payment option incurs a fee of {{ payamic:getLevy gateway='stripe' }}% or $<span class="levy-amount" data-levy="{{ payamic:getLevy gateway='stripe' }}"></span> on top of this purchase)</small>
          {{ /if }}
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" class="" name="gateway" required value="offline">
          <strong>Offline Payment</strong> (Bank Transfer, Cheque etc)
        </label>
      </div>
    </div>
  </div>
</div>
    </fieldset>
    <br>
    <button type="submit" class="btn btn-payment" name="btn-submit">Confirm Payment &nbsp; <i class="fa fa-arrow-right"></i></button>
    <br><br>

</div>

  </form>
</div>
