



.content-blocks {
.block-text {



// ====== TEXT BORDER

  .text-content {


    &[class*='border-top-'] {
      padding-top: 20px;
    }
    &.border-top-, &.border-top-0 {
      padding-top: 0;
    }

    &[class*='border-right-'] {
      padding-right: 20px;
    }
    &.border-right-, &.border-right-0 {
      padding-right: 0;
    }

    &[class*='border-bottom-'] {
      padding-bottom: 20px;
    }
    &.border-bottom-, &.border-bottom-0 {
      padding-bottom: 0;
    }

    &[class*='border-left-'] {
      padding-left: 20px;
    }
    &.border-left-, &.border-left-0 {
      padding-left: 0;
    }



// style

    &.border-style-solid {
      border-style: solid;
    }
    &.border-style-dashed {
      border-style: dashed;
    }
    &.border-style-dotted {
      border-style: dotted;
    }
    &.border-style-double {
      border-style: double;
    }
    &.border-style-groove {
      border-style: groove;
    }
    &.border-style-outset {
      border-style: outset;
    }
    &.border-style-inset {
      border-style: inset;
    }
    &.border-style-ridge {
      border-style: ridge;
    }
    &.border-style-warning  {
      border-style: warnin;
    }



/// colour

    &.has-border {

      &.text-border-color-white {
        border-color: @colorw;
      }
      &.text-border-color-dark {
        border-color: @colord;
      }
      &.text-border-color-grey {
        border-color: @colorg;
      }
      &.text-border-color-warning {
        border-color: @color-error-dark;
      }
      &.text-border-color-one {
        border-color: @color1;
      }
      &.text-border-color-two {
        border-color: @color2;
      }
      &.text-border-color-three {
        border-color: @color3;
      }
      &.text-border-color-four {
        border-color: @color4;
      }
      &.text-border-color-onedark {
        border-color: @color1-dark;
      }
      &.text-border-color-twodark {
        border-color: @color2-dark;
      }
      &.text-border-color-onelight {
        border-color: @color1-light;
      }
      &.text-border-color-twolight {
        border-color: @color2-light;
      }

    } //border

  }





// widths

// Top


  .border-top-, .border-top-0 {
    border-top-width: 0;
  }
  .border-top-1 {
    border-top-width: 1px;
  }
  .border-top-2 {
    border-top-width: 2px;
  }
  .border-top-3 {
    border-top-width: 3px;
  }
  .border-top-4 {
    border-top-width: 4px;
  }
  .border-top-5 {
    border-top-width: 5px;
  }
  .border-top-6 {
    border-top-width: 6px;
  }
  .border-top-7 {
    border-top-width: 7px;
  }
  .border-top-8 {
    border-top-width: 8px;
  }
  .border-top-9 {
    border-top-width: 9px;
  }
  .border-top-10 {
    border-top-width: 10px;
  }
  .border-top-11 {
    border-top-width: 11px;
  }
  .border-top-12 {
    border-top-width: 12px;
  }
  .border-top-13 {
    border-top-width: 13px;
  }
  .border-top-14 {
    border-top-width: 14px;
  }
  .border-top-15 {
    border-top-width: 15px;
  }
  .border-top-16 {
    border-top-width: 16px;
  }
  .border-top-17 {
    border-top-width: 17px;
  }
  .border-top-18 {
    border-top-width: 18px;
  }
  .border-top-19 {
    border-top-width: 19px;
  }
  .border-top-20 {
    border-top-width: 20px;
  }
  .border-top-21 {
    border-top-width: 21px;
  }
  .border-top-22 {
    border-top-width: 22px;
  }
  .border-top-23 {
    border-top-width: 23px;
  }
  .border-top-24 {
    border-top-width: 24px;
  }
  .border-top-25 {
    border-top-width: 25px;
  }



// right



  .border-right-, .border-right-0 {
    border-right-width: 0;
  }
  .border-right-1 {
    border-right-width: 1px;
  }
  .border-right-2 {
    border-right-width: 2px;
  }
  .border-right-3 {
    border-right-width: 3px;
  }
  .border-right-4 {
    border-right-width: 4px;
  }
  .border-right-5 {
    border-right-width: 5px;
  }
  .border-right-6 {
    border-right-width: 6px;
  }
  .border-right-7 {
    border-right-width: 7px;
  }
  .border-right-8 {
    border-right-width: 8px;
  }
  .border-right-9 {
    border-right-width: 9px;
  }
  .border-right-10 {
    border-right-width: 10px;
  }
  .border-right-11 {
    border-right-width: 11px;
  }
  .border-right-12 {
    border-right-width: 12px;
  }
  .border-right-13 {
    border-right-width: 13px;
  }
  .border-right-14 {
    border-right-width: 14px;
  }
  .border-right-15 {
    border-right-width: 15px;
  }
  .border-right-16 {
    border-right-width: 16px;
  }
  .border-right-17 {
    border-right-width: 17px;
  }
  .border-right-18 {
    border-right-width: 18px;
  }
  .border-right-19 {
    border-right-width: 19px;
  }
  .border-right-20 {
    border-right-width: 20px;
  }
  .border-right-21 {
    border-right-width: 21px;
  }
  .border-right-22 {
    border-right-width: 22px;
  }
  .border-right-23 {
    border-right-width: 23px;
  }
  .border-right-24 {
    border-right-width: 24px;
  }
  .border-right-25 {
    border-right-width: 25px;
  }



// bottom



  .border-bottom-, .border-bottom-0 {
    border-bottom-width: 0;
  }
  .border-bottom-1 {
    border-bottom-width: 1px;
  }
  .border-bottom-2 {
    border-bottom-width: 2px;
  }
  .border-bottom-3 {
    border-bottom-width: 3px;
  }
  .border-bottom-4 {
    border-bottom-width: 4px;
  }
  .border-bottom-5 {
    border-bottom-width: 5px;
  }
  .border-bottom-6 {
    border-bottom-width: 6px;
  }
  .border-bottom-7 {
    border-bottom-width: 7px;
  }
  .border-bottom-8 {
    border-bottom-width: 8px;
  }
  .border-bottom-9 {
    border-bottom-width: 9px;
  }
  .border-bottom-10 {
    border-bottom-width: 10px;
  }
  .border-bottom-11 {
    border-bottom-width: 11px;
  }
  .border-bottom-12 {
    border-bottom-width: 12px;
  }
  .border-bottom-13 {
    border-bottom-width: 13px;
  }
  .border-bottom-14 {
    border-bottom-width: 14px;
  }
  .border-bottom-15 {
    border-bottom-width: 15px;
  }
  .border-bottom-16 {
    border-bottom-width: 16px;
  }
  .border-bottom-17 {
    border-bottom-width: 17px;
  }
  .border-bottom-18 {
    border-bottom-width: 18px;
  }
  .border-bottom-19 {
    border-bottom-width: 19px;
  }
  .border-bottom-20 {
    border-bottom-width: 20px;
  }
  .border-bottom-21 {
    border-bottom-width: 21px;
  }
  .border-bottom-22 {
    border-bottom-width: 22px;
  }
  .border-bottom-23 {
    border-bottom-width: 23px;
  }
  .border-bottom-24 {
    border-bottom-width: 24px;
  }
  .border-bottom-25 {
    border-bottom-width: 25px;
  }


// left

  .border-left-, .border-left-0 {
    border-left-width: 0;
  }
  .border-left-1 {
    border-left-width: 1px;
  }
  .border-left-2 {
    border-left-width: 2px;
  }
  .border-left-3 {
    border-left-width: 3px;
  }
  .border-left-4 {
    border-left-width: 4px;
  }
  .border-left-5 {
    border-left-width: 5px;
  }
  .border-left-6 {
    border-left-width: 6px;
  }
  .border-left-7 {
    border-left-width: 7px;
  }
  .border-left-8 {
    border-left-width: 8px;
  }
  .border-left-9 {
    border-left-width: 9px;
  }
  .border-left-10 {
    border-left-width: 10px;
  }
  .border-left-11 {
    border-left-width: 11px;
  }
  .border-left-12 {
    border-left-width: 12px;
  }
  .border-left-13 {
    border-left-width: 13px;
  }
  .border-left-14 {
    border-left-width: 14px;
  }
  .border-left-15 {
    border-left-width: 15px;
  }
  .border-left-16 {
    border-left-width: 16px;
  }
  .border-left-17 {
    border-left-width: 17px;
  }
  .border-left-18 {
    border-left-width: 18px;
  }
  .border-left-19 {
    border-left-width: 19px;
  }
  .border-left-20 {
    border-left-width: 20px;
  }
  .border-left-21 {
    border-left-width: 21px;
  }
  .border-left-22 {
    border-left-width: 22px;
  }
  .border-left-23 {
    border-left-width: 23px;
  }
  .border-left-24 {
    border-left-width: 24px;
  }
  .border-left-25 {
    border-left-width: 25px;
  }





}
}//cb
