
@import "text-bg.less";
@import "text-color.less";
@import "text-kind.less";
@import "text-size.less";
@import "text-margins.less";
@import "text-border.less";
@import "text-footer.less";
@import "text-svg-bg.less";




.content-blocks {

  .full-width-text-block {
    .block-text {
      &[class*='align-'] {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .block-text {
    margin: 0;

    font-size: @fsb * @cb-text-size;

    .rwd-max-width(@screen-sm-max,767px,80%,90%,100%);

    &.full-width, &.text-width-full-1 {
      .rwd-max-width(@screen-sm-max,767px,100%,100%,100%);
    }

    &.text-width-full-1 {
      &[class*='align-'] {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &.no-pt {
      padding-top: 0;
    }

    &.default-margin-1 {
      padding-top: 30px;
    }
    &.default-margin-bottom-1 {
      margin-bottom: 20px;
    }

    a:not(.no-td):not(.dni) {
      font-weight: 300;
      text-decoration: underline;
    }
    
    .markdown-br {
      margin-bottom: 24px;
    }

    .text-content {
      //position: relative;

      :first-child {
        //margin-top: 0;
      }

      :last-child {
        //margin-bottom: 0;
      }
      
      &.text-display-ib-1 {
        display: inline-block;
      }
    }

    &.text-transform-none {
      text-transform: none;
    }

    &.text-font-sans {
      font-family: @font-family-sans-serif;
      h1,h2,h3,h4,h5,a,blockquote {
        font-family: inherit;
      }
    }
    &.text-font-serif {
      font-family: @font-family-serif;
      h1,h2,h3,h4,h5,a,blockquote {
        font-family: inherit;
      }
    }
    &.text-font-decorative {
      .ffh;
      h1,h2,h3,h4,h5,a,blockquote {
        font-family: inherit;
      }
    }

    &[class*='font-weight-'] {
      &:not(.font-weight-none) {
        h1,h2,h3,h4,h5,a,blockquote {
          font-family: inherit;
          font-weight: inherit;
        }
      }
    }



    &.align- {
      text-align: left;
    }
    &.align-left {
      text-align: left;
    }

    &.align-center {
      margin-left: 10%;
      text-align: center;
    }
    &.align-right {
      margin-left: 20%;
      text-align: right;
    }




          @media only screen and (max-width: 991px) {

          &.align-center {
            margin-left: 5%;
          }
          &.align-right {
            margin-left: 10%;
          }

          &.align-override-md-center {
            margin-left: 5%;
            text-align: center;
          }

          &.align-override-md-left {
            margin-left: 0;
            text-align: left;
          }

          &.align-override-md-right {
            margin-left: 10%;
            text-align: right;
          }

        }// rwd
        @media only screen and (max-width: 767px) {

          &.align-override-md-center, &.align-override-md-right, &.align-override-md-left {
            margin-left: 0;
          }

          &.align-override-sm-left {
            text-align: left;
          }

          &.align-override-sm-center {
            margin-left: 0;
            text-align: center;
          }

          &.align-override-sm-left {
            margin-left: 0;
            text-align: left;
          }

          &.align-override-sm-right {
            margin-left: 0;
            text-align: right;
          }

          &.align-center {
            margin-left: 0;
          }
          &.align-right {
            margin-left: 0;
          }

        }//rwd





    &.highlight-one, &.highlight-alert {
        display: inline-block;
      }





  } // block












}//cb
