



.content-blocks {
.block-text {


  &.has-margin {

      @media only screen and (min-width: 5px) {
        max-width: 100%;
      }//rwd

  }


  &[class*='align-'] {

    // RIGHT
    &.text-margin-right-0 {
      margin-right: 0;
    }
    &.text-margin-right-1 {
      margin-right: 1%;
    }
    &.text-margin-right-2 {
      margin-right: 2%;
    }
    &.text-margin-right-3 {
      margin-right: 3%;
    }
    &.text-margin-right-4 {
      margin-right: 4%;
    }
    &.text-margin-right-5 {
      margin-right: 5%;
    }
    &.text-margin-right-6 {
      margin-right: 6%;
    }
    &.text-margin-right-7 {
      margin-right: 7%;
    }
    &.text-margin-right-8 {
      margin-right: 8%;
    }
    &.text-margin-right-9 {
      margin-right: 9%;
    }
    &.text-margin-right-10 {
      margin-right: 10%;
    }
    &.text-margin-right-11 {
      margin-right: 11%;
    }
    &.text-margin-right-12 {
      margin-right: 12%;
    }
    &.text-margin-right-13 {
      margin-right: 13%;
    }
    &.text-margin-right-14 {
      margin-right: 14%;
    }
    &.text-margin-right-15 {
      margin-right: 15%;
    }
    &.text-margin-right-16 {
      margin-right: 16%;
    }
    &.text-margin-right-17 {
      margin-right: 17%;
    }
    &.text-margin-right-18 {
      margin-right: 18%;
    }
    &.text-margin-right-19 {
      margin-right: 19%;
    }
    &.text-margin-right-20 {
      margin-right: 20%;
    }
    &.text-margin-right-21 {
      margin-right: 21%;
    }
    &.text-margin-right-22 {
      margin-right: 22%;
    }
    &.text-margin-right-23 {
      margin-right: 23%;
    }
    &.text-margin-right-24 {
      margin-right: 24%;
    }
    &.text-margin-right-25 {
      margin-right: 25%;
    }
    &.text-margin-right-26 {
      margin-right: 26%;
    }
    &.text-margin-right-27 {
      margin-right: 27%;
    }
    &.text-margin-right-28 {
      margin-right: 28%;
    }
    &.text-margin-right-29 {
      margin-right: 29%;
    }
    &.text-margin-right-30 {
      margin-right: 30%;
    }
    &.text-margin-right-31 {
      margin-right: 31%;
    }
    &.text-margin-right-32 {
      margin-right: 32%;
    }
    &.text-margin-right-33 {
      margin-right: 33%;
    }
    &.text-margin-right-34 {
      margin-right: 34%;
    }
    &.text-margin-right-35 {
      margin-right: 35%;
    }
    &.text-margin-right-36 {
      margin-right: 36%;
    }
    &.text-margin-right-37 {
      margin-right: 37%;
    }
    &.text-margin-right-38 {
      margin-right: 38%;
    }
    &.text-margin-right-39 {
      margin-right: 39%;
    }
    &.text-margin-right-40 {
      margin-right: 40%;
    }
    &.text-margin-right-41 {
      margin-right: 41%;
    }
    &.text-margin-right-42 {
      margin-right: 42%;
    }
    &.text-margin-right-43 {
      margin-right: 43%;
    }
    &.text-margin-right-44 {
      margin-right: 44%;
    }
    &.text-margin-right-45 {
      margin-right: 45%;
    }
    &.text-margin-right-46 {
      margin-right: 46%;
    }
    &.text-margin-right-47 {
      margin-right: 47%;
    }
    &.text-margin-right-48 {
      margin-right: 48%;
    }
    &.text-margin-right-49 {
      margin-right: 49%;
    }
    &.text-margin-right-50 {
      margin-right: 50%;
    }









  // LEFT
    &.text-margin-left-0 {
      margin-left: 0;
    }
    &.text-margin-left-1 {
      margin-left: 1%;
    }
    &.text-margin-left-2 {
      margin-left: 2%;
    }
    &.text-margin-left-3 {
      margin-left: 3%;
    }
    &.text-margin-left-4 {
      margin-left: 4%;
    }
    &.text-margin-left-5 {
      margin-left: 5%;
    }
    &.text-margin-left-6 {
      margin-left: 6%;
    }
    &.text-margin-left-7 {
      margin-left: 7%;
    }
    &.text-margin-left-8 {
      margin-left: 8%;
    }
    &.text-margin-left-9 {
      margin-left: 9%;
    }
    &.text-margin-left-10 {
      margin-left: 10%;
    }
    &.text-margin-left-11 {
      margin-left: 11%;
    }
    &.text-margin-left-12 {
      margin-left: 12%;
    }
    &.text-margin-left-13 {
      margin-left: 13%;
    }
    &.text-margin-left-14 {
      margin-left: 14%;
    }
    &.text-margin-left-15 {
      margin-left: 15%;
    }
    &.text-margin-left-16 {
      margin-left: 16%;
    }
    &.text-margin-left-17 {
      margin-left: 17%;
    }
    &.text-margin-left-18 {
      margin-left: 18%;
    }
    &.text-margin-left-19 {
      margin-left: 19%;
    }
    &.text-margin-left-20 {
      margin-left: 20%;
    }
    &.text-margin-left-21 {
      margin-left: 21%;
    }
    &.text-margin-left-22 {
      margin-left: 22%;
    }
    &.text-margin-left-23 {
      margin-left: 23%;
    }
    &.text-margin-left-24 {
      margin-left: 24%;
    }
    &.text-margin-left-25 {
      margin-left: 25%;
    }
    &.text-margin-left-26 {
      margin-left: 26%;
    }
    &.text-margin-left-27 {
      margin-left: 27%;
    }
    &.text-margin-left-28 {
      margin-left: 28%;
    }
    &.text-margin-left-29 {
      margin-left: 29%;
    }
    &.text-margin-left-30 {
      margin-left: 30%;
    }
    &.text-margin-left-31 {
      margin-left: 31%;
    }
    &.text-margin-left-32 {
      margin-left: 32%;
    }
    &.text-margin-left-33 {
      margin-left: 33%;
    }
    &.text-margin-left-34 {
      margin-left: 34%;
    }
    &.text-margin-left-35 {
      margin-left: 35%;
    }
    &.text-margin-left-36 {
      margin-left: 36%;
    }
    &.text-margin-left-37 {
      margin-left: 37%;
    }
    &.text-margin-left-38 {
      margin-left: 38%;
    }
    &.text-margin-left-39 {
      margin-left: 39%;
    }
    &.text-margin-left-40 {
      margin-left: 40%;
    }
    &.text-margin-left-41 {
      margin-left: 41%;
    }
    &.text-margin-left-42 {
      margin-left: 42%;
    }
    &.text-margin-left-43 {
      margin-left: 43%;
    }
    &.text-margin-left-44 {
      margin-left: 44%;
    }
    &.text-margin-left-45 {
      margin-left: 45%;
    }
    &.text-margin-left-46 {
      margin-left: 46%;
    }
    &.text-margin-left-47 {
      margin-left: 47%;
    }
    &.text-margin-left-48 {
      margin-left: 48%;
    }
    &.text-margin-left-49 {
      margin-left: 49%;
    }
    &.text-margin-left-50 {
      margin-left: 50%;
    }







    @media only screen and (max-width: 991px) {




    // RIGHT Tablet
    &.text-margin-right-t-0 {
      margin-right: 0;
    }
    &.text-margin-right-t-1 {
      margin-right: 1%;
    }
    &.text-margin-right-t-2 {
      margin-right: 2%;
    }
    &.text-margin-right-t-3 {
      margin-right: 3%;
    }
    &.text-margin-right-t-4 {
      margin-right: 4%;
    }
    &.text-margin-right-t-5 {
      margin-right: 5%;
    }
    &.text-margin-right-t-6 {
      margin-right: 6%;
    }
    &.text-margin-right-t-7 {
      margin-right: 7%;
    }
    &.text-margin-right-t-8 {
      margin-right: 8%;
    }
    &.text-margin-right-t-9 {
      margin-right: 9%;
    }
    &.text-margin-right-t-10 {
      margin-right: 10%;
    }
    &.text-margin-right-t-11 {
      margin-right: 11%;
    }
    &.text-margin-right-t-12 {
      margin-right: 12%;
    }
    &.text-margin-right-t-13 {
      margin-right: 13%;
    }
    &.text-margin-right-t-14 {
      margin-right: 14%;
    }
    &.text-margin-right-t-15 {
      margin-right: 15%;
    }
    &.text-margin-right-t-16 {
      margin-right: 16%;
    }
    &.text-margin-right-t-17 {
      margin-right: 17%;
    }
    &.text-margin-right-t-18 {
      margin-right: 18%;
    }
    &.text-margin-right-t-19 {
      margin-right: 19%;
    }
    &.text-margin-right-t-20 {
      margin-right: 20%;
    }
    &.text-margin-right-t-21 {
      margin-right: 21%;
    }
    &.text-margin-right-t-22 {
      margin-right: 22%;
    }
    &.text-margin-right-t-23 {
      margin-right: 23%;
    }
    &.text-margin-right-t-24 {
      margin-right: 24%;
    }
    &.text-margin-right-t-25 {
      margin-right: 25%;
    }
    &.text-margin-right-t-26 {
      margin-right: 26%;
    }
    &.text-margin-right-t-27 {
      margin-right: 27%;
    }
    &.text-margin-right-t-28 {
      margin-right: 28%;
    }
    &.text-margin-right-t-29 {
      margin-right: 29%;
    }
    &.text-margin-right-t-30 {
      margin-right: 30%;
    }
    &.text-margin-right-t-31 {
      margin-right: 31%;
    }
    &.text-margin-right-t-32 {
      margin-right: 32%;
    }
    &.text-margin-right-t-33 {
      margin-right: 33%;
    }
    &.text-margin-right-t-34 {
      margin-right: 34%;
    }
    &.text-margin-right-t-35 {
      margin-right: 35%;
    }
    &.text-margin-right-t-36 {
      margin-right: 36%;
    }
    &.text-margin-right-t-37 {
      margin-right: 37%;
    }
    &.text-margin-right-t-38 {
      margin-right: 38%;
    }
    &.text-margin-right-t-39 {
      margin-right: 39%;
    }
    &.text-margin-right-t-40 {
      margin-right: 40%;
    }
    &.text-margin-right-t-41 {
      margin-right: 41%;
    }
    &.text-margin-right-t-42 {
      margin-right: 42%;
    }
    &.text-margin-right-t-43 {
      margin-right: 43%;
    }
    &.text-margin-right-t-44 {
      margin-right: 44%;
    }
    &.text-margin-right-t-45 {
      margin-right: 45%;
    }
    &.text-margin-right-t-46 {
      margin-right: 46%;
    }
    &.text-margin-right-t-47 {
      margin-right: 47%;
    }
    &.text-margin-right-t-48 {
      margin-right: 48%;
    }
    &.text-margin-right-t-49 {
      margin-right: 49%;
    }
    &.text-margin-right-t-50 {
      margin-right: 50%;
    }









  // LEFT Tablet
    &.text-margin-left-t-0 {
      margin-left: 0;
    }
    &.text-margin-left-t-1 {
      margin-left: 1%;
    }
    &.text-margin-left-t-2 {
      margin-left: 2%;
    }
    &.text-margin-left-t-3 {
      margin-left: 3%;
    }
    &.text-margin-left-t-4 {
      margin-left: 4%;
    }
    &.text-margin-left-t-5 {
      margin-left: 5%;
    }
    &.text-margin-left-t-6 {
      margin-left: 6%;
    }
    &.text-margin-left-t-7 {
      margin-left: 7%;
    }
    &.text-margin-left-t-8 {
      margin-left: 8%;
    }
    &.text-margin-left-t-9 {
      margin-left: 9%;
    }
    &.text-margin-left-t-10 {
      margin-left: 10%;
    }
    &.text-margin-left-t-11 {
      margin-left: 11%;
    }
    &.text-margin-left-t-12 {
      margin-left: 12%;
    }
    &.text-margin-left-t-13 {
      margin-left: 13%;
    }
    &.text-margin-left-t-14 {
      margin-left: 14%;
    }
    &.text-margin-left-t-15 {
      margin-left: 15%;
    }
    &.text-margin-left-t-16 {
      margin-left: 16%;
    }
    &.text-margin-left-t-17 {
      margin-left: 17%;
    }
    &.text-margin-left-t-18 {
      margin-left: 18%;
    }
    &.text-margin-left-t-19 {
      margin-left: 19%;
    }
    &.text-margin-left-t-20 {
      margin-left: 20%;
    }
    &.text-margin-left-t-21 {
      margin-left: 21%;
    }
    &.text-margin-left-t-22 {
      margin-left: 22%;
    }
    &.text-margin-left-t-23 {
      margin-left: 23%;
    }
    &.text-margin-left-t-24 {
      margin-left: 24%;
    }
    &.text-margin-left-t-25 {
      margin-left: 25%;
    }
    &.text-margin-left-t-26 {
      margin-left: 26%;
    }
    &.text-margin-left-t-27 {
      margin-left: 27%;
    }
    &.text-margin-left-t-28 {
      margin-left: 28%;
    }
    &.text-margin-left-t-29 {
      margin-left: 29%;
    }
    &.text-margin-left-t-30 {
      margin-left: 30%;
    }
    &.text-margin-left-t-31 {
      margin-left: 31%;
    }
    &.text-margin-left-t-32 {
      margin-left: 32%;
    }
    &.text-margin-left-t-33 {
      margin-left: 33%;
    }
    &.text-margin-left-t-34 {
      margin-left: 34%;
    }
    &.text-margin-left-t-35 {
      margin-left: 35%;
    }
    &.text-margin-left-t-36 {
      margin-left: 36%;
    }
    &.text-margin-left-t-37 {
      margin-left: 37%;
    }
    &.text-margin-left-t-38 {
      margin-left: 38%;
    }
    &.text-margin-left-t-39 {
      margin-left: 39%;
    }
    &.text-margin-left-t-40 {
      margin-left: 40%;
    }
    &.text-margin-left-t-41 {
      margin-left: 41%;
    }
    &.text-margin-left-t-42 {
      margin-left: 42%;
    }
    &.text-margin-left-t-43 {
      margin-left: 43%;
    }
    &.text-margin-left-t-44 {
      margin-left: 44%;
    }
    &.text-margin-left-t-45 {
      margin-left: 45%;
    }
    &.text-margin-left-t-46 {
      margin-left: 46%;
    }
    &.text-margin-left-t-47 {
      margin-left: 47%;
    }
    &.text-margin-left-t-48 {
      margin-left: 48%;
    }
    &.text-margin-left-t-49 {
      margin-left: 49%;
    }
    &.text-margin-left-t-50 {
      margin-left: 50%;
    }



  }// rwd tablet





    @media only screen and (max-width: 767px) {


    // RIGHT Mobile
    &.text-margin-right-m-0 {
      margin-right: 0;
    }
    &.text-margin-right-m-1 {
      margin-right: 1%;
    }
    &.text-margin-right-m-2 {
      margin-right: 2%;
    }
    &.text-margin-right-m-3 {
      margin-right: 3%;
    }
    &.text-margin-right-m-4 {
      margin-right: 4%;
    }
    &.text-margin-right-m-5 {
      margin-right: 5%;
    }
    &.text-margin-right-m-6 {
      margin-right: 6%;
    }
    &.text-margin-right-m-7 {
      margin-right: 7%;
    }
    &.text-margin-right-m-8 {
      margin-right: 8%;
    }
    &.text-margin-right-m-9 {
      margin-right: 9%;
    }
    &.text-margin-right-m-10 {
      margin-right: 10%;
    }
    &.text-margin-right-m-11 {
      margin-right: 11%;
    }
    &.text-margin-right-m-12 {
      margin-right: 12%;
    }
    &.text-margin-right-m-13 {
      margin-right: 13%;
    }
    &.text-margin-right-m-14 {
      margin-right: 14%;
    }
    &.text-margin-right-m-15 {
      margin-right: 15%;
    }
    &.text-margin-right-m-16 {
      margin-right: 16%;
    }
    &.text-margin-right-m-17 {
      margin-right: 17%;
    }
    &.text-margin-right-m-18 {
      margin-right: 18%;
    }
    &.text-margin-right-m-19 {
      margin-right: 19%;
    }
    &.text-margin-right-m-20 {
      margin-right: 20%;
    }
    &.text-margin-right-m-21 {
      margin-right: 21%;
    }
    &.text-margin-right-m-22 {
      margin-right: 22%;
    }
    &.text-margin-right-m-23 {
      margin-right: 23%;
    }
    &.text-margin-right-m-24 {
      margin-right: 24%;
    }
    &.text-margin-right-m-25 {
      margin-right: 25%;
    }
    &.text-margin-right-m-26 {
      margin-right: 26%;
    }
    &.text-margin-right-m-27 {
      margin-right: 27%;
    }
    &.text-margin-right-m-28 {
      margin-right: 28%;
    }
    &.text-margin-right-m-29 {
      margin-right: 29%;
    }
    &.text-margin-right-m-30 {
      margin-right: 30%;
    }
    &.text-margin-right-m-31 {
      margin-right: 31%;
    }
    &.text-margin-right-m-32 {
      margin-right: 32%;
    }
    &.text-margin-right-m-33 {
      margin-right: 33%;
    }
    &.text-margin-right-m-34 {
      margin-right: 34%;
    }
    &.text-margin-right-m-35 {
      margin-right: 35%;
    }
    &.text-margin-right-m-36 {
      margin-right: 36%;
    }
    &.text-margin-right-m-37 {
      margin-right: 37%;
    }
    &.text-margin-right-m-38 {
      margin-right: 38%;
    }
    &.text-margin-right-m-39 {
      margin-right: 39%;
    }
    &.text-margin-right-m-40 {
      margin-right: 40%;
    }
    &.text-margin-right-m-41 {
      margin-right: 41%;
    }
    &.text-margin-right-m-42 {
      margin-right: 42%;
    }
    &.text-margin-right-m-43 {
      margin-right: 43%;
    }
    &.text-margin-right-m-44 {
      margin-right: 44%;
    }
    &.text-margin-right-m-45 {
      margin-right: 45%;
    }
    &.text-margin-right-m-46 {
      margin-right: 46%;
    }
    &.text-margin-right-m-47 {
      margin-right: 47%;
    }
    &.text-margin-right-m-48 {
      margin-right: 48%;
    }
    &.text-margin-right-m-49 {
      margin-right: 49%;
    }
    &.text-margin-right-m-50 {
      margin-right: 50%;
    }









  // LEFT Mobile
    &.text-margin-left-m-0 {
      margin-left: 0;
    }
    &.text-margin-left-m-1 {
      margin-left: 1%;
    }
    &.text-margin-left-m-2 {
      margin-left: 2%;
    }
    &.text-margin-left-m-3 {
      margin-left: 3%;
    }
    &.text-margin-left-m-4 {
      margin-left: 4%;
    }
    &.text-margin-left-m-5 {
      margin-left: 5%;
    }
    &.text-margin-left-m-6 {
      margin-left: 6%;
    }
    &.text-margin-left-m-7 {
      margin-left: 7%;
    }
    &.text-margin-left-m-8 {
      margin-left: 8%;
    }
    &.text-margin-left-m-9 {
      margin-left: 9%;
    }
    &.text-margin-left-m-10 {
      margin-left: 10%;
    }
    &.text-margin-left-m-11 {
      margin-left: 11%;
    }
    &.text-margin-left-m-12 {
      margin-left: 12%;
    }
    &.text-margin-left-m-13 {
      margin-left: 13%;
    }
    &.text-margin-left-m-14 {
      margin-left: 14%;
    }
    &.text-margin-left-m-15 {
      margin-left: 15%;
    }
    &.text-margin-left-m-16 {
      margin-left: 16%;
    }
    &.text-margin-left-m-17 {
      margin-left: 17%;
    }
    &.text-margin-left-m-18 {
      margin-left: 18%;
    }
    &.text-margin-left-m-19 {
      margin-left: 19%;
    }
    &.text-margin-left-m-20 {
      margin-left: 20%;
    }
    &.text-margin-left-m-21 {
      margin-left: 21%;
    }
    &.text-margin-left-m-22 {
      margin-left: 22%;
    }
    &.text-margin-left-m-23 {
      margin-left: 23%;
    }
    &.text-margin-left-m-24 {
      margin-left: 24%;
    }
    &.text-margin-left-m-25 {
      margin-left: 25%;
    }
    &.text-margin-left-m-26 {
      margin-left: 26%;
    }
    &.text-margin-left-m-27 {
      margin-left: 27%;
    }
    &.text-margin-left-m-28 {
      margin-left: 28%;
    }
    &.text-margin-left-m-29 {
      margin-left: 29%;
    }
    &.text-margin-left-m-30 {
      margin-left: 30%;
    }
    &.text-margin-left-m-31 {
      margin-left: 31%;
    }
    &.text-margin-left-m-32 {
      margin-left: 32%;
    }
    &.text-margin-left-m-33 {
      margin-left: 33%;
    }
    &.text-margin-left-m-34 {
      margin-left: 34%;
    }
    &.text-margin-left-m-35 {
      margin-left: 35%;
    }
    &.text-margin-left-m-36 {
      margin-left: 36%;
    }
    &.text-margin-left-m-37 {
      margin-left: 37%;
    }
    &.text-margin-left-m-38 {
      margin-left: 38%;
    }
    &.text-margin-left-m-39 {
      margin-left: 39%;
    }
    &.text-margin-left-m-40 {
      margin-left: 40%;
    }
    &.text-margin-left-m-41 {
      margin-left: 41%;
    }
    &.text-margin-left-m-42 {
      margin-left: 42%;
    }
    &.text-margin-left-m-43 {
      margin-left: 43%;
    }
    &.text-margin-left-m-44 {
      margin-left: 44%;
    }
    &.text-margin-left-m-45 {
      margin-left: 45%;
    }
    &.text-margin-left-m-46 {
      margin-left: 46%;
    }
    &.text-margin-left-m-47 {
      margin-left: 47%;
    }
    &.text-margin-left-m-48 {
      margin-left: 48%;
    }
    &.text-margin-left-m-49 {
      margin-left: 49%;
    }
    &.text-margin-left-m-50 {
      margin-left: 50%;
    }



  }//rwd mobile





}//align


}
}//cb
