


.content-blocks {

  .block-text {







// ====== TEXT COLOURS

  &.text-color-white {
    color: @colorw;
  }
  &.text-color-dark {
    color: @colord;
  }
  &.text-color-grey {
    color: @colorg;
  }
  &.text-color-warning {
    color: @color-error;
  }
  &.text-color-one {
    color: @color1;
  }
  &.text-color-two {
    color: @color2;
  }
  &.text-color-three {
    color: @color3;
  }
  &.text-color-four {
    color: @color4;
  }
  &.text-color-onedark {
    color: @color1-dark;
  }
  &.text-color-twodark {
    color: @color2-dark;
  }
  &.text-color-onelight {
    color: @color1-light;
  }
  &.text-color-twolight {
    color: @color2-light;
  }

  &[class*='text-color-'] {
    &:not(.text-color-none) {
      h1,h2,h3,h4,h5,a,blockquote {
        color: inherit;
        border-color: inherit;
      }
    }
  }

  &.has-custom-color {
    h1,h2,h3,h4,h5,a,blockquote {
      color: inherit;
      border-color: inherit;
    }
  }







  }//block
}//cb
