

// ====== SIZE

.text-size-sm {
  font-size: @fsb * @textsm;
  h1 {
    font-size: @fsb * @h1sm;
  }
  h2 {
    font-size: @fsb * @h2sm;
  }
  h3 {
    font-size: @fsb * @h3sm;
  }
  h4 {
    font-size: @fsb * @h4sm;
  }
  h5 {
    font-size: @fsb * @h5sm;
  }
  blockquote {
    font-size: @fsb * @textsm;
  }
}//sm

.text-size-lg {
  font-size: @fsb * @textlg;
  h1 {
    font-size: @fsb * @h1lg;
  }
  h2 {
    font-size: @fsb * @h2lg;
  }
  h3 {
    font-size: @fsb * @h3lg;
  }
  h4 {
    font-size: @fsb * @h4lg;
  }
  h5 {
    font-size: @fsb * @h5lg;
  }
  blockquote {
    font-size: @fsb * @textlg;
  }
}//lg

.text-size-xl {
  font-size: @fsb * @textxl;
  h1 {
    font-size: @fsb * @h1xl;
  }
  h2 {
    font-size: @fsb * @h2xl;
  }
  h3 {
    font-size: @fsb * @h3xl;
  }
  h4 {
    font-size: @fsb * @h4xl;
  }
  h5 {
    font-size: @fsb * @h5xl;
  }
  blockquote {
    font-size: @fsb * @textxl;
  }
}//xl

@media only screen and (max-width: 767px) {

  .text-size-lg {
    font-size: (@fsb * @textlg) * 0.7;
    h1 {
      font-size: (@fsb * @h1lg) * 0.75;
    }
    h2 {
      font-size: (@fsb * @h2lg) * 0.75;
    }
    h3 {
      font-size: (@fsb * @h3lg) * 0.75;
    }
    h4 {
      font-size: (@fsb * @h4lg) * 0.75;
    }
    h5 {
      font-size: (@fsb * @h5lg) * 0.75;
    }
    blockquote {
      font-size: (@fsb * @textlg) * 0.75;
    }
  }//lg

  .text-size-xl {
    font-size: (@fsb * @textxl) * 0.7;
    h1 {
      font-size: (@fsb * @h1xl) * 0.75;
    }
    h2 {
      font-size: (@fsb * @h2xl) * 0.75;
    }
    h3 {
      font-size: (@fsb * @h3xl) * 0.75;
    }
    h4 {
      font-size: (@fsb * @h4xl) * 0.75;
    }
    h5 {
      font-size: (@fsb * @h5xl) * 0.75;
    }
    blockquote {
      font-size: (@fsb * @textxl) * 0.75;
    }
  }//xl


}//rwd






.content-blocks {

  .block-text {

// ====== SIZE

  &.text-size-sm {
    font-size: @fsb * @textsm;
    h1 {
      font-size: @fsb * @h1sm;
    }
    h2 {
      font-size: @fsb * @h2sm;
    }
    h3 {
      font-size: @fsb * @h3sm;
    }
    h4 {
      font-size: @fsb * @h4sm;
    }
    h5 {
      font-size: @fsb * @h5sm;
    }
    blockquote {
      font-size: @fsb * @textsm;
    }
  }//sm

  &.text-size-lg {
    font-size: @fsb * @textlg;
    h1 {
      font-size: @fsb * @h1lg;
    }
    h2 {
      font-size: @fsb * @h2lg;
    }
    h3 {
      font-size: @fsb * @h3lg;
    }
    h4 {
      font-size: @fsb * @h4lg;
    }
    h5 {
      font-size: @fsb * @h5lg;
    }
    blockquote {
      font-size: @fsb * @textlg;
    }
  }//lg

  &.text-size-xl {
    font-size: @fsb * @textxl;
    h1 {
      font-size: @fsb * @h1xl;
    }
    h2 {
      font-size: @fsb * @h2xl;
    }
    h3 {
      font-size: @fsb * @h3xl;
    }
    h4 {
      font-size: @fsb * @h4xl;
    }
    h5 {
      font-size: @fsb * @h5xl;
    }
    blockquote {
      font-size: @fsb * @textxl;
    }
  }//xl





          @media only screen and (max-width: 767px) {
          
              &.text-size-lg {
                font-size: (@fsb * @textlg) * 0.7;
                h1 {
                  font-size: (@fsb * @h1lg) * 0.75;
                }
                h2 {
                  font-size: (@fsb * @h2lg) * 0.75;
                }
                h3 {
                  font-size: (@fsb * @h3lg) * 0.75;
                }
                h4 {
                  font-size: (@fsb * @h4lg) * 0.75;
                }
                h5 {
                  font-size: (@fsb * @h5lg) * 0.75;
                }
                blockquote {
                  font-size: (@fsb * @textlg) * 0.75;
                }
              }//lg

              &.text-size-xl {
                font-size: (@fsb * @textxl) * 0.7;
                h1 {
                  font-size: (@fsb * @h1xl) * 0.75;
                }
                h2 {
                  font-size: (@fsb * @h2xl) * 0.75;
                }
                h3 {
                  font-size: (@fsb * @h3xl) * 0.75;
                }
                h4 {
                  font-size: (@fsb * @h4xl) * 0.75;
                }
                h5 {
                  font-size: (@fsb * @h5xl) * 0.75;
                }
                blockquote {
                  font-size: (@fsb * @textxl) * 0.75;
                }
              }//xl


          }//rwd









  }//block
}//cb
