


.content-blocks {

  .block-text {





// ====== TEXT BG COLOURS

  &[class*='text-bg-color-'] {
    &:not(.text-bg-color-none) {
      .text-content {
        padding: 20px;
        position: relative;
        h1 {
          margin-top: 0;
        }
        &:before {
          .overlay-base;
          z-index: 5;
        }
      }
      .text-content-inner {
        position: relative;
        z-index: 10;
      }
    }
  }

  &.text-bg-color-white {
    .text-content {
      &:before {
        background: @colorw;
      }
    }
  }
  &.text-bg-color-dark {
    .text-content {
      &:before {
        background: @colord;
      }
    }
  }
  &.text-bg-color-black {
    .text-content {
      &:before {
        background: @colorb;
      }
    }
  }
  &.text-bg-color-grey {
    .text-content {
      &:before {
        background: @colorg;
      }
    }
  }
  &.text-bg-color-warning {
    .text-content {
      &:before {
        background: @color-error-dark;
      }
    }
  }
  &.text-bg-color-one {
    .text-content {
      &:before {
        background: @color1;
      }
    }
  }
  &.text-bg-color-two {
    .text-content {
      &:before {
        background: @color2;
      }
    }
  }
  &.text-bg-color-three {
    .text-content {
      &:before {
        background: @color3;
      }
    }
  }
  &.text-bg-color-four {
    .text-content {
      &:before {
        background: @color4;
      }
    }
  }
  &.text-bg-color-onedark {
    .text-content {
      &:before {
        background: @color1-dark;
      }
    }
  }
  &.text-bg-color-twodark {
    .text-content {
      &:before {
        background: @color2-dark;
      }
    }
  }
  &.text-bg-color-onelight {
    .text-content {
      &:before {
        background: @color1-light;
      }
    }
  }
  &.text-bg-color-twolight {
    .text-content {
      &:before {
        background: @color2-light;
      }
    }
  }



// ====== TEXT BG OPACITY


    &.text-bg-opacity-1 {
      .text-content {
        &:before {
          opacity: .1
        }
      }
    }
    &.text-bg-opacity-2 {
      .text-content {
        &:before {
          opacity: .2
        }
      }
    }
    &.text-bg-opacity-3 {
      .text-content {
        &:before {
          opacity: .3
        }
      }
    }
    &.text-bg-opacity-4 {
      .text-content {
        &:before {
          opacity: .4
        }
      }
    }
    &.text-bg-opacity-5 {
      .text-content {
        &:before {
          opacity: .5
        }
      }
    }
    &.text-bg-opacity-6 {
      .text-content {
        &:before {
          opacity: .6
        }
      }
    }
    &.text-bg-opacity-7 {
      .text-content {
        &:before {
          opacity: .7
        }
      }
    }
    &.text-bg-opacity-8 {
      .text-content {
        &:before {
          opacity: .8
        }
      }
    }
    &.text-bg-opacity-9 {
      .text-content {
        &:before {
          opacity: .9
        }
      }
    }
    &.text-bg-opacity-, &.text-bg-opacity-10, .text-bg-opacity-full {
      .text-content {
        &:before {
          opacity: 1
        }
      }
    }

    &.text-bg-opacity-0, &.text-bg-opacity-none {
      .text-content {
        &:before {
          opacity: 0
        }
      }
    }







  }//block
}//cb
