


.content-blocks {

  .block-text {





    &.kind-lead {
      .lead;
    }

    &.kind-quote {
      background: @colorw;
      border: none;
      color: @color2;
      margin-left: 5%;
      margin-right: 5%;
      .text-heading {
        background: @color2;
        color: @colorw;
        margin: 0;
        padding: 15px 20px 10px;
      }
      .text-content {
        border-left: 10px solid @color2;
        padding: 20px 20px 20px 45px;
      }
      h1,h2,h3,h4,h5,h6,a, blockquote {
        color: inherit;
        border-color: inherit;
        &:first-child {
          margin-top: 0;
        }
      }
      .text-content-inner {
        :last-child {
          margin-bottom: 0;
        }
      }
    }

    &.kind-one {
      //background: @colorw;
      border: 1px solid @colord;
      border-left-width: 10px;
      .text-heading {
        background: @colord;
        color: @colorw;
        margin: 0;
        padding: 15px 20px 10px;
      }
      .text-content {
        padding: 20px;
      }

      h1,h2,h3,h4,h5,h6 {
        &:first-child {
          margin-top: 0;
        }
      }
      .text-content-inner {
        :last-child {
          margin-bottom: 0;
        }
      }
    }

    &.kind-two {
      background: @color1;
      border: 1px solid mix(@colorb,@color1,20%);
      border-left-width: 10px;
      color: @color1-text-color;
      .text-heading {
        background: mix(@colorb,@color1,20%);
        color: @color1-text-color;
        margin: 0;
        padding: 15px 20px 10px;
      }
      .text-content {
        padding: 20px;
      }

      h1,h2,h3,h4,h5,h6,a,blockquote {
        color: inherit;
        &:first-child {
          margin-top: 0;
        }
      }
      .text-content-inner {
        :last-child {
          margin-bottom: 0;
        }
      }
    }

    &.kind-warning {
      background: @colorw;
      border: 1px solid @color-warning;
      border-left-width: 10px;
      .text-heading {
        background: @color-warning;
        color: @colorw;
        margin: 0;
        padding: 10px 20px;
      }
      .text-content {
        padding: 20px;
      }

      h1,h2,h3,h4,h5,h6 {
        color: @color-warning;
        &:first-child {
          margin-top: 0;
        }
      }
      .text-content-inner {
        :last-child {
          margin-bottom: 0;
        }
      }
    }






  }//block
}//cb
