{{ partial:item_header }}
<div class="site-width-centered">

<div class="content-blocks no-pb">
{{ partial:auto-layouts/auto-layout }}
</div>

<section class="list-apartments">
{{ collection:apartments paginate="false" as="posts" limit="50" }}
{{ if no_results }}
{{ else }}
  <article class="clearfix">

    <div class="container-fluid container-swc">
      <div class="row">
    	{{ posts }}

      <div class="item col-md-6 {{ if last }}is-last{{ /if }}">
        <div class="item-content">
        {{ assets:cover_img }}
          <div class="cover-image" style="background: url('{{ glide:url format="" width="700" height="500" fit="crop_focal" }}') center center; background-size:cover;">
        {{ /assets:cover_img }}
            <a class="title" href="{{ url }}">
              <h2 class="">{{ title }} &nbsp; <i class="fa fa-angle-right"></i> </h2>
              <h3 class="tagline">{{ tagline }}</h3>
              <i class="fa fa-bed"></i>&nbsp; {{ sleeps }}
              &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-bath"></i>&nbsp; {{ bathrooms }}
              &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-car"></i>&nbsp; {{ carpark }}
              &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cutlery"></i>&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-wifi"></i>&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-camera"></i>&nbsp;

              {{#&nbsp;&nbsp;&nbsp;&nbsp; <span class="custom-icon no-smoking"><img class="img-responsive" src='{{ theme:asset src="img/icon-no-smoking.png" }}' alt="{{ site_name }}"></span>#}}

            <a href="{{ url }}" class="overlay-link"></a>
          </div>

          <div class="text-content jqmh" data-match-height="apartment-content">
            <div class="text">
              <p class="excerpt">{{ excerpt }}</p>
            </div>
            <a href="{{ url }}" class="btn btn-one"> View Apartment &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
            <a href="{{ gv_to_booking_external }}" class="btn btn-one"> Book Now &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
          </div>

        </div>
      </div>

    	{{ /posts }}
      </div>
    </div>
  </article>

{{ /if }}
{{ /collection:apartments }}
</section>

</div>
