
<div class="item-details details-apartment">
{{ partial:item_header item_heading="{title}" }}

<div class="specs">
  <div class="swc">
    <i class="fa fa-bed"></i>&nbsp; {{ sleeps }}
    &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-bath"></i>&nbsp; {{ bathrooms }}
    &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-car"></i>&nbsp; {{ carpark }}
    &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-cutlery"></i>&nbsp; Kitchenette
    &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-wifi"></i>&nbsp; {{ wifi }}
    &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-camera"></i>&nbsp; {{ views }}
  </div>
</div>

{{ partial:nav/back var_link="{gv_to_apartments}" var_text="All Apartments" }}

<div class="content-blocks no-pb">
{{ partial:auto-layouts/auto-layout }}
</div>

</div>
