{{ partial:item_header }}
{{ partial:nav/secondary }}
  <div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
  </div>
<div class="site-width-centered">
<section class="list-news">
{{ collection:events paginate="true" as="posts" limit="50" show_past="yes" show_future="no" sort="date:asc" }}
{{ if no_results }}
  <p class="page-content-padding">No past events to show.</p>
{{ else }}
  <article class="clearfix">

	{{ posts }}
{{ partial:collection/event }}
	{{ /posts }}

  </article>
  {{ partial:nav/pagination }}
{{ /if }}
{{ /collection:events }}
</section>

</div>
