{{ partial:header }}
<div class="page-container site-width-centered">
  <div class="clearfix clndr-wrapper">
    <div id="clndr-large" class="clearfix clndr-large">
    </div>
  </div>
</div>
<script>
    var my_events = [
        {{ collection:events paginate="false" as="posts" show_future="yes" show_past="yes" }}
            {{ posts }}
                {
                    {{ if end_date|format:U > date|format:U }}
                        start_date: "{{ date format='Y-m-d' }}",
                        end_date: "{{ end_date }}",
                    {{ else }}
                        date: "{{ date format='Y-m-d' }}",
                    {{ /if }}
                    title: "{{ title }}",
                    url: "{{ url }}"
                }
                {{ if !last }},{{ /if }}
            {{ /posts }}
        {{ /collection:events }}
    ];
</script>
<script type="text/template" id="cal_template">
        <div class="clndr-controls">
            <div class="clndr-next-button"><i class="fa fa-angle-double-right"></i>   <span class="fa-fallback">&rsaquo;</span> </div>
            <div class="clndr-previous-button"><i class="fa fa-angle-double-left"></i>   <span class="fa-fallback">&lsaquo;</span> </div>
            <div class="month">
              <span class="jump-today">today</span>
              <span class="text"><%= month %> <%= year %></span>
            </div>
        </div>
        <div class="clndr-grid">
            <div class="days-of-the-week">
            <% _.each(daysOfTheWeek, function (day) { %>
                <div class="header-day"><%= day %></div>
            <% }); %>
                <div class="days">
                <% _.each(days, function (day) { %>
                    <div class="<%= day.classes %>">
                        <span class="day-number"><%= day.day %></span>
                        <div class="events-list">
                        <% _.each(day.events, function (evnt) { %>
                            <div class="event-item">
                                <a href="<%= evnt.url %>">
                                    <%= evnt.title %>
                                </a>
                            </div>
                        <% }); %>
                        </div>
                        <% if (day.events.length > 0) { %>
                        <a href="" class="view-all"><i class="fa fa-eye"></i><span class="fa-fallback">view</span></a>
                        <% } %>
                    </div>
                <% }); %>
                </div>
            </div>
        </div>
</script>
