{{ partial:item_header }}

  <div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
  </div>
  <br><br>
<div class="site-width-centered page-content-padding">
<section class="list-news">
{{ collection:events paginate="true" as="posts" limit="15" show_past="no" show_future="yes" sort="date:asc" }}
{{ if no_results }}
  <br><br>
  <div class="page-content-padding">
    <p class="text-center lead"> There are no current events.</p>
  </div>
  <br><br><br><br>
{{ else }}
  <article class="clearfix">

	{{ posts }}
{{ partial:collection/event }}
	{{ /posts }}

  </article>
  {{ partial:nav/pagination }}
{{ /if }}
{{ /collection:events }}
</section>

</div>
