{{ if redirect_do }}
  {{ redirect to="{redirect_to}" }}
{{ else }}
<div class="item-details">
{{ partial:item_header item_heading="Event Details" }}
{{ partial:nav/back var_link="{gv_to_events}" var_text="All Events" }}

<div class="page-container site-width-centered clearfix">
  {{ if date | is_past }}
  <div class="expired">
    <i class="fa fa-warning"></i>&nbsp; This event was in the past. <a href="{{ gv_to_events }}">View current events</a>
  </div>
  <br>
  {{ /if }}

<h1>{{ title }}</h1>
<hr>
  <div class="date-tags">
  {{ partial:tags }}
  </div>
  <br><br>
</div>

{{ if show_excerpt }}
{{ if excerpt }}
<div class="page-container site-width-centered clearfix">
<div class="container-fluid container-swc">
  <div class="row">
    <div class="col-md-7">
      {{ excerpt | markdown }}
    </div>
    <div class="col-md-5">
      {{ if cover_img }}
        <img class="img-responsive" src='{{ glide:cover_img format="" width="700" height="500" fit="" }}' alt="{{ title }}" />
      {{ /if }}
    </div>
  </div>
</div>
</div>
{{ /if }}
{{ /if }}

<div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
</div>

<br><br><br>


</div>
{{ /if }}
