<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>if (typeof ($.fn.validate) === 'undefined') { document.write('<script src="/site/themes/site/partials/custom-form/js/libs/jquery.validate.min.js"><\/script>') }</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js"></script>
<script>if (typeof ($.fn.validate) === 'undefined') { document.write('/site/themes/site/partials/custom-form/js/libs/additional-methods.min.js"><\/script>') }</script>
<script type="text/javascript" src="/site/themes/site/partials/custom-form/js/libs/gsld-additional-methods.js"></script>
<script type="text/javascript">
  var formValidator;

  function handle_form_submission() {
    // Parse our textboxes and replace any double quotes with singles for the CSV
    $('input[type=text]').each(function() {
      $(this).val($(this).val().replace(/"/g, '\''));
    });
    $('textarea').each(function() {
      $(this).val($(this).val().replace(/"/g, '\''));
    });
    $('#cf_payment_summary').val($('#total_amount_summary').html());
    var myData = new FormData($('.custom-form')[0]);
    if ($('#cf_payment_form_subtotal').data('optional') == true && $('#cf_payment_form_subtotal').val() <= 0) {
      // We don't need a payment and the value is 0 so remove our amount and subs fields so Payamic ignores this submission
      myData.delete('cf_payment_total');
      myData.delete('cf_subscription_id');
      myData.delete('cf_payment_gateway');
    }
    $.ajax({
      xhr: function() {
        var xhr = new window.XMLHttpRequest();
        // Upload progress
        xhr.upload.addEventListener("progress", function(evt) {
          if (evt.lengthComputable) {
            var percentComplete = evt.loaded / evt.total;
            // Do something with upload progress
            $('#submission-upload-progress')
              .html((percentComplete * 100).toFixed(0) + '%')
              .attr('aria-valuenow', (percentComplete * 100))
              .css('width', (percentComplete * 100) + '%');
          }
        }, false);
        return xhr;
      },
      processData:false,
      contentType:false,
      type: 'POST',
      url: $('.custom-form').attr('action'),
      data: myData,
      success: function(result) {
        // Show our repsponse
        // If response is error, show errors
        if (result.errors) {
          // Show our errors
          $('#form-errors div').html(result.errors.join('<br>'));
          // Unhide our errors
          $('#form-errors').removeClass('hide');
          $('html, body').animate({scrollTop: $('#form-errors').offset().top - 200}, 400);
          // Clear any old Stripe fields
          $('input[name=stripe_token]').remove();
          $('input[name=stripe_source]').remove();
{{ if !hide_recaptcha }}
          // Reset our reCaptcha
          grecaptcha.reset();
{{ /if }}
          // Hide our loading popup
          $('body').removeClass('submitting');
        } else {
          // Setup the success message
          var ourName = '';
          if (typeof result.submission.name != 'undefined') {
            ourName = result.submission.name;
          } else if (typeof result.submission.firstname != 'undefined') {
            ourName = result.submission.firstname;
          } else if (typeof result.submission.first_name != 'undefined') {
            ourName = result.submission.first_name;
          }
          if (typeof result.submission.surname != 'undefined') {
            ourName += ' ' + result.submission.surname;
          } else if (typeof result.submission.lastname != 'undefined') {
            ourName += ' ' + result.submission.lastname;
          } else if (typeof result.submission.last_name != 'undefined') {
            ourName += ' ' + result.submission.last_name;
          }
          if (ourName != '') {
            $('#success-out-name').html(ourName);
            $('#success-name').removeClass('hide');
          } else {
            $('#success-name').addClass('hide');
          }
          if (typeof result.submission.email != 'undefined') {
            $('#success-out-email').html(result.submission.email);
            $('#success-email').removeClass('hide');
          } else {
            // Hide our email field
            $('#success-email').addClass('hide');
            $('#text-cf-success').addClass('hide');
          }
          $('#success-out-date').html(result.submission.submission_date);
          if (typeof result.submission.cf_payment_gateway != 'undefined') {
            // Set the payment details
            $('.id-success-out-total').html(result.submission.cf_payment_total);
            $('#success-out-gateway').html(result.submission.cf_payment_gateway);
            // Unhide the details for this gateway
            $('#success-payment').removeClass('hide');
            $('#success-gateway-' + result.submission.cf_payment_gateway).removeClass('hide');
            if (result.submission.cf_payment_gateway != 'stripe') {
              $('#success-gateway-else').removeClass('hide');
            } else {
              if (typeof result.submission.cf_card_ending != 'undefined') {
                $('#success-out-card-ending').html(result.submission.cf_card_ending);
              } else {
                $('#success-card-details').addClass('hide');
              }
              $('#success-gateway-else').addClass('hide');
            }
          }
          // Show our stuff
          $('#form-success').removeClass('hide');
          $('.form-header .form-save-warning').addClass('hide');
          $('.custom-form-content-wrapper').addClass('hide');
          // Update our sidebar cart and hide our icon count for now (will update on page change)
          $('.cart-info').html('');
          $('.js-cs-btn-cart-popout .num-items').addClass('hide').html(0);
          $.get('/cart-inline', function(result) {
            $('#cs-cart-popout .cart-contents').html(result);
          });
    {{ if cf_form_fb_track }}
          {{ cf_form_fb_track }}
{{ /if }}
          // Clear any old Stripe tokens
          $('input[name=stripe_token]').remove();
          $('input[name=stripe_source]').remove();
          // Scroll to the top
          $('html, body').animate({scrollTop: $('#form-success').offset().top - 50}, 400);
          // Hide our loading popup
          $('body').removeClass('submitting');
          // Notify GA of this request
          if (typeof ga != 'undefined') {
            ga('send', 'pageview', result.form_name + '_success');
          }
          // Clear our form data
{{ if environment == "live" || gvcustomform:gv_form_clear_form == "true" }}
          if (typeof formSaver != 'undefined') {
            formSaver.deleteForm($('[data-form-delete]')[0], '#' + $('.custom-form').attr('id'), { deleteClear: false });
          }
{{ /if }}
        }
      },
      error: function(jqXHR, status, error) {
        if (typeof(jqXHR.responseJSON) != 'undefined' && typeof(jqXHR.responseJSON.errors) != 'undefined') {
          $('#form-errors div').html(jqXHR.responseJSON.errors.join('<br>'));
        } else if (typeof(jqXHR.responseJSON) != 'undefined' && typeof(jqXHR.responseJSON.exception) != 'undefined') {
          $('#form-errors div').html(jqXHR.responseJSON.exception);
        } else {
          var msg = 'There was an unknown error. Please contact the site owners to report this issue';
          if (typeof jqXHR.responseText != 'undefined' && jqXHR.responseText.indexOf('Whoops, looks like something went wrong.') > 0) {
            msg += " providing these details:<br><br>\n" + $(jqXHR.responseText).find('.exception_title a')[0].innerText;
          } else {
            msg += '.';
          }
          $('#form-errors div').html(msg);
        }
        // Unhide our errors
        $('#form-errors').removeClass('hide');
        $('html, body').animate({scrollTop: $('#form-errors').offset().top - 50}, 400);
{{ if !hide_recaptcha }}
        // Reset our reCaptcha
        grecaptcha.reset();
{{ /if }}
        // Hide our loading popup
        $('body').removeClass('submitting');
        // Notify GA of this request
        if (typeof ga != 'undefined') {
          ga('send', 'pageview', $('input[name=form_name]').attr('name') + '_error');
        }
      }
    });
  }

  $(document).ready(function() {
    // find when we're at the bottom of the form
    var cfbody = $("body");
    $(window).scroll(function() {
       var hT = $('#form_progress').offset().top,
           hH = $('#form_progress').outerHeight(),
           wH = $(window).height(),
           wS = $(this).scrollTop();
       if (wS > (hT+hH-wH)){
         cfbody.addClass("cf-bottom");
       }
       else {
         cfbody.removeClass("cf-bottom");
       }
    });

    // Bootstrap Tabs fix for 2 Tab Navs on page
    $('body').on('shown.bs.tab', 'a[data-toggle="tab"]', function(event) {
        var $relatedTarget, $target;

        if (event.relatedTarget != null) {
          $relatedTarget = $(event.relatedTarget);
          $('a[data-toggle="' +
            $relatedTarget.attr('data-toggle') +
            '"][href="' +
            $relatedTarget.attr('href') +
            '"]').parent('li').removeClass('active');
        }

        if (event.target != null) {
          $target = $(event.target);
          $('a[data-toggle="' +
            $target.attr('data-toggle') +
            '"][href="' +
            $target.attr('href') +
            '"]').parent('li').addClass('active');
        }
        // Scroll to the top of the tab
        $('html, body').animate({scrollTop: $('#nav-tabs-top').offset().top - 50}, 400);
    });
    $('.btn-tab-next').click(function(){
      $('#nav-tabs-top > .active').next('li').find('a').trigger('click');
    });
    $('.btn-tab-prev').click(function(){
      $('#nav-tabs-top > .active').prev('li').find('a').trigger('click');
    });


    // Validation
    $('body').on('click', '.nav a[data-toggle="tab"]', function(e) {
      e.preventDefault();
      if ($(".form-validate").find('.tab-pane.active :input').length > 0 && !$(".form-validate").find('.tab-pane.active :input').valid()) {
        // Jump to the first invalid field
        var el = $(formValidator.errorList[0].element);
        if (el.attr('name') == 'hiddenRecaptcha') {
          el = $('#recaptcha');
        }
        $('html, body').animate({
          scrollTop: el.offset().top - 35
        }, 2000);
        return false;
      }
      // Show the tab
      $(this).tab('show');
    }); // DOC ready


    formValidator = $('.form-validate').validate({
      highlight: function(label) {
        $(label).closest('.form-group').addClass('has-error');
      },
      invalidHandler: function(event, validator) {
        var errors = validator.numberOfInvalids();
        if (errors && $('.tab-pane').length > 0) {
          $('a[href="#' + $(validator.errorList[0].element).parents('.tab-pane')[0].id + '"]').first().tab('show');
        }
      },
{{ if environment == "live" OR gvcustomform:gv_form_tabs_validate == "true" }}
      ignore: "",
{{ else }}
      ignore: "*",
{{ /if }}
      // validate reCAPTCHA
      rules: {
{{ if !hide_recaptcha }}
        hiddenRecaptcha: {
          required: function () {
            if (grecaptcha.getResponse() == '') {
              return true;
            } else {
              return false;
            }
          }
        },
{{ /if }}
        cf_payment_total: {
          required: true,
          min: function() {
            if ($('#cf_payment_form_subtotal').data('optional') == true && $('#cf_payment_form_total').val() == 0) {
              return 0;
            } else {
              var minimum = $('input[name=cf_payment_gateway]:checked').data('minimum');
              if (typeof minimum == 'undefined') {
                minimum = $('input[type=hidden][name=cf_payment_gateway]').data('minimum');
              }
              return (!isNaN(minimum) ? parseFloat(minimum) : 1);
            }
          }
        }
      },
      errorPlacement: function(error, element) {
        if ( element.is(":radio") ) {
            error.prependTo( element.parent() );
        }
        else { // This is the default behavior of the script for all fields
            error.insertAfter( element );
        }
      },
      submitHandler: function(form, e) {
        // Stop our form submitting until we have processed the card via stripe
        e.preventDefault();
        $('body').addClass('submitting');
        // Check if we have a Stripe payment to process
        if ($('input[name=cf_payment_gateway]:checked').val() == 'stripe' || $('input[type=hidden][name=cf_payment_gateway]').val() == 'stripe') {
          // Check if we have a price
          if ($('#cf_payment_form_subtotal').val() > 0) {
            handle_stripe_payment_submission();
          } else {
            handle_form_submission();
          }
        } else {
          handle_form_submission();
        }
      }
    });

    // Add validation for checkboxes
    $('.checkbox-wrapper[data-required=true]').each(function() {
      $(this).find('input[type=checkbox]').rules('add', {
        require_from_group: [1, '.' + $(this).data('field') + '-group']
      });
    });

{{ partial src="js/custom-validation" }}
  });// doc ready

  function recaptchaCallback() {
    $('#hiddenRecaptcha').valid();
  };

  // Handle the required status of hidden toggled fields
  $('.custom-form').on('change', 'input[data-hidden-toggle]', function() {
    var that = this;
    // Toggle any regular fields
    $(this).siblings('.reveal-if-active').find('[data-required="true"]').prop('required', $(this).hasClass('do-reveal'));
    // Check if there are any "Other" checkbox/radio fields to toggle
    $(this).siblings('.reveal-if-active').find('.option-other-wrapper').each(function() {
      // We have to handle checkboxes and radio separately sadly
      var obj = $(this).find('[data-other-required]');
      if (obj.attr('type') == 'checkbox') {
        $(this).find('input[type=text]').prop('required', $(that).data('hidden-toggle') == 'Yes' && obj.prop('checked'));
      } else if (obj.attr('type') == 'radio') {
        $(this).find('input[type=text]').prop('required', $(that).data('hidden-toggle') == 'Yes' && $('input[name=' + obj.attr('name') + ']:checked').val() == 'Other');
      } else {
        $(this).find('input[type=text]').prop('required', $(that).data('hidden-toggle') == 'Yes' && obj.val() == 'Other');
      }
    });
  });
  // Handle the required status of "Other" fields for checkboxes and radios
  $('.custom-form').on('change', '.option-other input[type=checkbox]', function() {
    $(this).parents('.option-other-wrapper').find('[data-other-required-input]').prop('required', $(this).prop('checked'));
  });
  $('.option-other input[type=radio]').each(function() {
    $('input[name=' + $(this).attr('name') + ']').change(function() {
      $(this).parents('.radio-wrapper').first().find('[data-other-required-input]').prop('required', $(this).val() == 'Other');
    });
  });
  // Handle our select "other" options
  $('.custom-form').on('change', 'select.reveal-select', function() {
    // Toggle the visibility
    if ($(this).find('option:selected').hasClass('select-reveal')) {
      $(this).siblings('.reveal-if-selected').removeClass('hide');
    } else {
      $(this).siblings('.reveal-if-selected').addClass('hide');
    }
    // Set the required property
    $(this).siblings('.reveal-if-selected').find('[data-other-required-input]').each(function() {
      $(this).prop('required', $(this).parents('.select-wrapper').find('option:selected').hasClass('select-reveal'));
    });
  });

  // Handle our fieldset duplicate "Add" buttons
  $('.custom-form').on('click', '.fieldset-duplicate-button', function() {
    // Check if we are within our max for this fieldset
    var name = $(this).parent().prev().find(':input').first().attr('name');
    var num = parseInt(name.substr(name.lastIndexOf('_') + 1)) + 1;
    // Check if we've hit our max and hide our button
    if (num == $(this).data('max') - 1) {
      $('.fieldset-duplicate-button').addClass('hide');
    }
    // Check if we are still adding rows
    if (num <= $(this).data('max') - 1) {
      // Find our fieldset (the element above)
      var obj = $(this).parent().prev().clone();
      // Set up this new fieldset (adjust fieldnames and id's, and clear old values)
      obj.find('span.duplicate-count').html(parseInt(obj.find('span.duplicate-count').html()) + 1);
      obj.find(':input').each(function() {
        var thisName = $(this).attr('name');
        var thisID = $(this).attr('id');
        // Find the last _ in this fieldname, grab the count and increment it
        var count = thisName.substr(thisName.lastIndexOf('_') + 1);
        count = parseInt(count) + 1;
        $(this).attr('name', thisName.substr(0, thisName.lastIndexOf('_') + 1) + count);
        // Do the same for the ID if set
        if (typeof thisID != 'undefined') {
          count = thisID.substr(thisID.lastIndexOf('_') + 1);
          count = parseInt(count) + 1;
          $(this).attr('id', thisID.substr(0, thisID.lastIndexOf('_') + 1) + count);
        }
        // And clear the old value from this field
        if (thisName.indexOf('_fenabled_') > -1) {
          // Ignore this field because it's our check if this fieldset duplicate is enabled
        } else if ($(this).attr('type') == 'textarea') {
          $(this).html('');
        } else if ($(this).attr('type') == 'select') {
          $(this).find('option:selected').prop('selected', false);
        } else if ($(this).attr('type') == 'radio' || $(this).attr('type') == 'checkbox') {
          $(this).prop('checked', false);
        } else {
          $(this).val('');
        }
      });
      // Show our "remove" button
      obj.find('.cf-duplicate-remove').removeClass('hide');
      // Add this to our form
      $(this).parent().before(obj);
    }
  });
  // Handle our fieldset duplication "Remove" buttons
  $('.custom-form').on('click', '.cf-duplicate-remove', function() {
    var formID = '#' + $(this).parents('form').attr('id');
    $(this).parents('fieldset').remove();
    if (formSaver) {
      formSaver.saveForm(null, formID, saverOpts);
    }
  });

  // Handle our page duplicate "Add" buttons
  $('.custom-form').on('click', 'a[data-toggle="page-dup"]', function(e) {
    e.preventDefault();
    $('.tab-pane[data-type="' + $(this).data('type') + '"]').find('.cf-page-duplicate-btn').click();
  });
  $('.custom-form').on('click', '.cf-page-duplicate-btn', function() {
    // Find our last of this type of page
    var baseObj = $(this).parents('.tab-content').find('[data-type="' + $(this).parents('.tab-pane').data('type') + '"]').last();
    var obj = baseObj.clone();
    var num = parseInt(obj.find('.cf-page-duplicate-heading').find('.duplicate-count').text());
    // Check if we are still adding pages
    if (num <= $(this).data('max') - 1) {
      // Tweak our new page
      obj.find('.cf-page-duplicate-heading').find('.duplicate-count').text(num + 1);
      obj.removeClass('active').attr('id', obj.attr('id') + '-' + num);
      var thisPrefix = baseObj.data('type') + num;
      obj.find(':input').each(function() {
        var thisName = $(this).attr('name');
        var thisID = $(this).attr('id');
        // Check this field name is in the correct format (prefixed with {$name}{$num}_)
        if (thisName.indexOf(baseObj.data('type')) !== 0) {
          console.log('EEK! It appears this field\'s name is wrong: ' + thisName, $(this));
        }
        // Find the first _ after our page prefix in this fieldname and build our new fieldname
        $(this).attr('name', thisPrefix + thisName.substr(thisName.indexOf('_', thisPrefix.length - 1)));
        // Do the same for the ID if set
        if (typeof thisID != 'undefined') {
          $(this).attr('id', thisPrefix + thisID.substr(thisID.indexOf('_', thisPrefix.length - 1)));
        }
        // And clear the old value from this field
        if (thisName.indexOf('_penabled') > -1) {
          // Ignore this field because it's our check if this fieldset duplicate is enabled
        } else if ($(this).attr('type') == 'textarea') {
          $(this).html('');
        } else if ($(this).attr('type') == 'select') {
          $(this).find('option:selected').prop('selected', false);
        } else if ($(this).attr('type') == 'radio' || $(this).attr('type') == 'checkbox') {
          $(this).prop('checked', false);
        } else {
          $(this).val('');
        }
      });
      // Show our "remove" button
      obj.find('.cf-page-duplicate-remove').removeClass('hide');
      // Attach it to our form
      baseObj.after(obj);

      // Add our tab buttons
      obj = $(this).parents('.custom-form-tabs').find('a[href="#' + baseObj.attr('id') + '"]').first().parent().clone();
      obj.find('span').text(num + 1);
      obj.find('a').attr('href', obj.find('a').attr('href') + '-' + num);
      obj.removeClass('active');
      $(this).parents('.custom-form-tabs').find('a[href="#' + baseObj.attr('id') + '"]').parent().after("\n", obj);
      // Attempt to switch to this tab
      obj.find('a').trigger('click');
    }
  });
  // Handle our page duplicate "Remove" buttons
  $('.custom-form').on('click', '.cf-page-duplicate-remove', function() {
    var formID = '#' + $(this).parents('form').attr('id');
    var prevTab = $('#nav-tabs-top > .active').prev('li');
    $(this).parents('.custom-form-tabs').find('a[href="#' + $(this).parents('.tab-pane').attr('id') + '"]').parent().remove();
    $(this).parents('.tab-pane').remove();
    prevTab.find('a').trigger('click');
    if (formSaver) {
      formSaver.saveForm(null, formID, saverOpts);
    }
  });


  $(document).ready(function() {
    // Check for any hidden fields and ensure their required property is set correctly
    $('.do-reveal').each(function() {
      var that = this;
      $(this).siblings('.reveal-if-active').find('[data-required="true"]').prop('required', $(this).prop('checked'));
      $(this).siblings('.reveal-if-active').find('[data-other-required-input]').each(function() {
        var obj = $(this).parents('.option-other-wrapper').find('[data-other-required]');
        if (obj.attr('type') == 'checkbox') {
          $(this).prop('required', $(that).prop('checked') && obj.prop('checked'));
        } else {
          $(this).prop('required', $(that).prop('checked') && $('input[name=' + obj.attr('name') + ']:checked').val() == 'Other');
        }
      });
    });
    // Set an initial value for our checkboxes and radios
    $('.option-other input[type=checkbox]').each(function() {
      $(this).parents('.option-other-wrapper').find('[data-other-required-input]').prop('required', $(this).prop('checked'));
    });
    $('.option-other input[type=radio]').each(function() {
      $('input[name=' + $(this).attr('name') + ']:checked').each(function() {
        $(this).parents('.radio-wrapper').first().find('[data-other-required-input]').prop('required', $(this).val() == 'Other');
      });
    });
    // Set the initial visibility and required properties for our selects
    $('.reveal-if-selected').each(function() {
      var selActive = $(this).parents('.select-wrapper').find('option:selected').hasClass('select-reveal');
      if (selActive) {
        $(this).removeClass('hide');
      } else {
        $(this).addClass('hide');
      }
      $(this).find('[data-other-required-input]').each(function() {
        $(this).prop('required', selActive);
      });
    });
  });

</script>
