{{ if form_name }}
  {{ partial:custom-form/js/custom-form-js }}
  {{ partial:custom-form/js/form-saver-js }}
  {{ partial:js/custom-cf-js }}
{{ /if }}
{{ if has_cf_payment }}
  {{ partial:custom-form/js/cf-payment-js }}
  {{ partial:custom-form/js/payamic-js }}
{{ /if }}
<div class="cf-submission-overlay form-submit">
  <div class="content">
    <span class="icon"><i class="fa fa-refresh fa-spin fa-3x"></i></span>
    <h2>Please Wait, Processing Submission.</h2>
    <p>Do not refresh or leave this page until loading complete.</p>
    <div id="submission-upload-progress"></div>
  </div>
</div>
