{{ if cf_save_form_data == "true" }}
<script src="/site/themes/site/partials/custom-form/js/libs/form-saver.min.js"></script>
<script type="text/javascript">
  // Set up our form saver
  var saverOpts = {
    saveMessage: 'Your Form Data Has Been Saved!',
    deleteMessage: 'Your Form Data Has Been Deleted!',
    saveClass: 'form-data-saved',
    deleteClass: 'form-data-deleted',
    callbackSave: function ( btn, form ) {
      // Set a time out to clear our "saved" message
      setTimeout(function() {
        $('.form-save-status').html('');
      }, 5000);
    },
    callbackDelete: function ( btn, form ) {
      // Set a time out to clear our "deleted" message
      setTimeout(function() {
        $('.form-save-status').html('');
      }, 5000);
    }
  };
  formSaver.init(saverOpts);
  // Save our fields on change
  $(".custom-form").on('change', ':input', function() {
    formSaver.saveForm(null, '#' + $(this).parents('form').attr('id'), saverOpts);
  });

  // Handle the auto-save-off toggling
  $('#form_save_off').click(function() {
    // Delete data and disable our formSaver
    console.log('Disabling formSaver');
    formSaver.deleteForm($('[data-form-delete]')[0], '#' + $('.custom-form').attr('id'), { deleteClear: false });
    formSaver.destroy();
    formSaver = null;
    $(this).attr('disabled', 'disabled');
    $('label[for=form_save_off]').html('Please refresh this page to re-enable form data saving');
  });

  // Load the saved data from the storage so we can process any duplicates
  var formID = $('.custom-form').attr('id');
  var formSaverData = JSON.parse( localStorage.getItem('formSaver-' + formID) );
  // Check if we have page duplicates
  if (formSaverData && $('.cf-page-duplicate-heading').length > 0) {
    // Handle any duplicate pages that need replicating
    $('.cf-page-duplicate-heading').each(function() {
      // Grab the first field and parse the name for the base fieldname
      var thisName = $(this).parents('.tab-pane').find(':input').first().attr('name');
      var thisPrefix = $(this).parents('.tab-pane').data('type');
      thisName = thisName.substr(thisPrefix.length + 1);
      // Search our data for the number of duplicates
      var dups = [];
      var maxDups = 0;
      for (var i = 0; i < 10; i++) {
        if (typeof formSaverData[thisPrefix + i + thisName] != 'undefined') {
          dups.push(i);
          maxDups = i;
        }
      }
      // Create our duplicate pages
      for (i = 1; i <= maxDups; i++) {
        $(this).parents('.tab-pane').find('.cf-page-duplicate-btn').click();
      }
    });
    // Reload our data
    formSaver.loadForm($('#' + formID)[0], saverOpts);
  }
  // Check if we have fieldset duplicates
  if (formSaverData && $('fieldset.has-duplicates').length > 0) {
    // Handle any duplicate fields that need replicating
    $('fieldset.has-duplicates').each(function() {
      // Grab the first field and parse the name for the base fieldname
      var thisName = $(this).find(':input').first().attr('name');
      thisName = thisName.substr(0, thisName.lastIndexOf('_') + 1);
      // Search our data for the number of duplicates
      var dups = [];
      var maxDups = 0;
      for (var i = 0; i < 10; i++) {
        if (typeof formSaverData[thisName + i] != 'undefined') {
          dups.push(i);
          maxDups = i;
        }
      }
      // Create our duplicate fields and remove any unneeded ones
      for (i = 1; i <= maxDups; i++) {
        $(this).parent().find('.fieldset-duplicate-button').click();
      }
      for (i = 1; i <= maxDups; i++) {
        if (dups.indexOf(i) == -1) {
          $(this).parent().children('fieldset:nth-of-type(' + (i + 1) + ')').remove();
        }
      }
      // Check if we've hit our max and hide our button
      if (maxDups == $(this).parent().find('.fieldset-duplicate-button').data('max') - 1) {
        $('.fieldset-duplicate-button').addClass('hide');
      }
    });
    // Reload our data
    formSaver.loadForm($('#' + formID)[0], saverOpts);
  }
</script>
{{ /if }}
