<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  var stripe = Stripe('{{ payamic:getStripePubKey }}');
  var elements = stripe.elements();
  // Create an instance of the card Element

  var card = elements.create('card', {
    iconStyle: 'solid',
    style: {
      base: {
        iconColor: '#008dc8',
        color: '#000',
        fontWeight: 500,
        fontSize: '15px',
        fontSmoothing: 'antialiased',

        ':-webkit-autofill': {
          color: '#008dc8',
        },
        '::placeholder': {
          color: '#008dc8',
        },
      },
      invalid: {
        iconColor: '#c00',
        color: '#c00',
      },
    },
  });


  // Add an instance of the card Element into the `card-element` <div>
  card.mount('#card-element');
  card.addEventListener('change', function(event) {
    $('#card-errors').toggleClass('no-error', !event.error).find('.error-message').html(event.error ? event.error.message : '');
  });

  function handle_stripe_payment_submission() {
    // Check if we are doing a payment or a subscription
    if ($('.payment-form [name=cf_subscription_id]').length > 0) {
//      console.log('Creating Stripe Source');
      // Process the card details
      stripe.createSource(card).then(function(result) {
//        console.log(result);
        if (result.error) {
          // Inform the customer that there was an error.
          $('#card-errors').html(result.error.message);
          // Hide our loading popup
          $('html, body').animate({scrollTop: $('#card-errors').offset().top - 50}, 400);
          $('body').removeClass('submitting');
        } else {
          // Add our Stripe Source and a Card-last-4 hidden element
          $('.payment-form').append('<input type="hidden" name="stripe_source" value="' + result.source.id + '">');
          handle_form_submission();
        }
      });
    } else {
//      console.log('Creating Stripe Token');
      // Process the card details
      stripe.createToken(card).then(function(result) {
//        console.log(result);
        if (result.error) {
          // Inform the customer that there was an error.
          $('#card-errors').html(result.error.message);
          // Hide our loading popup
          $('html, body').animate({scrollTop: $('#card-errors').offset().top - 50}, 400);
          $('body').removeClass('submitting');
        } else {
          // Add our Stripe Token hidden element
          $('.payment-form').append('<input type="hidden" name="stripe_token" value="' + result.token.id + '">');
          handle_form_submission();
        }
      });
    }
  }
</script>
