<div class="modal fade modal-global-contact" id="modal-global-contact" tabindex="-1" role="dialog" aria-labelledby="modal-global-contact-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> <i class="fa fa-times"></i></span></button>
        <h4 class="modal-title" id="modal-global-contact-label">Contact Us </h4>
      </div>
      <div class="modal-body">
        <div class="modal-body-content">
          <div class="container-fluid">
            <div class="row">
    {{ gvcontact:gv_global_contact }}
      {{ if total_results == 2 }}
        <div class="col-md-6 item">
          {{ text | markdown }}
        </div>
      {{ else }}
        <div class="col-md-12 item">
          {{ text | markdown }}
        </div>
      {{ /if }}
    {{ /gvcontact:gv_global_contact }}
            </div>
          </div>
    <br>
    {{ gvcontact:gv_global_contact_btns }}
    <a href="{{ link }}" class="btn btn-three">{{ text }} &nbsp;&nbsp; <i class="fa fa-angle-double-right"></i></a>
    {{ /gvcontact:gv_global_contact_btns }}

        </div>
      </div>
    </div>
  </div>
</div>
