<div class="modal fade modal-global-search" id="modal-global-search" tabindex="-1" role="dialog" aria-labelledby="modal-global-search-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> <i class="fa fa-times"></i></span></button>
        <h4 class="modal-title" id="modal-global-search-label">Site Search </h4>
      </div>
      <div class="modal-body">
        <div class="modal-body-content">

        <h4 class="">Enter a search term:</h4>
          <div class="form form-search" id="form">
            <div class="form-content">
            <form role="search" action="/search" method="GET">
            <input type="text" name="q" class="form-control giant search" placeholder="Search for...">
            <br>
            <button type="submit" class="btn btn-site-search" name="submit">
              Search &nbsp;&nbsp;<i class="fa fa-search"></i>
            </button>
            <br><br>
            </form>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
