

@import "hero-colors.less";
@import "hero-size.less";
@import "hero-image-text.less";


.content-blocks {

  .block-hero {
    margin-top: 0px;
    overflow: hidden;
    position: relative;

    .image {
      background-color: inherit;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      position: absolute;
      top: 0;
    }

    .cb-hero-slider-wrapper {
      background-color: inherit;
      height: 100%;
      position: absolute;
      top: 0;
    }
    .cb-hero-slider  {
      height: 100%;
      position: absolute;
      top: 0;
      .hero-slider-set {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }

      .slick-list,
      .slick-track,
      .slick-slide {
        height: 100%;   
      }

    }

    .content {
      position: relative;
      z-index: 90;

      .site-width-centered {
        max-width: 100%;
      }

      .block-text {
        //margin: 0;
        max-width: 90%;
        .text-content-inner {
        }
      }

      .block-accordion {
        h4.panel-title {
          margin: 0;
        }
      }

    }//content

    &.padding-none {
      .content {
        padding-bottom: 0;
        padding-top: 0;
      }
    }    
    &.padding-xs {
      .content {
        padding-bottom: 2vw;
        padding-top: 1vw;
      }
    }
    &.padding-sm {
      .content {
        padding-bottom: 4vw;
        padding-top: 3vw;
      }
    }
    &.padding-md {
      .content {
        padding-bottom: 6vw;
        padding-top: 5vw;
      }
    }
    &.padding-lg {
      .content {
        padding-bottom: 9vw;
        padding-top: 8vw;
      }
    }
    &.padding-xl {
      .content {
        padding-bottom: 12vw;
        padding-top: 11vw;
      }
    }


    @media only screen and (max-width: 991px) {
        &.mobile-align-center {
          text-align: center;

          .block-text {
            max-width: 100%;
            &.align-, &.align-left {
            text-align: center;
            }
          }
          .hero-image-images {
            margin: 0 auto;
          }
          .block-cta {
            .align-left, .align-right {
              text-align: center;
            }
          }
          
        }
      }


  } // hero

} //.content-blocks






  // ##############################################################################
  // ##############################################################################
  // rwd


  @media only screen and (min-width: 992px) {
    .content-blocks {
      .block-hero {

        .image, .cb-hero-slider-wrapper {
          .arrow {
            background-color: inherit;
            width: 40px;
            height: 70px;
            position: absolute;
            top: 90px;
            z-index: 105;
          }
        }

        &.orient-left {
          .image, .cb-hero-slider, .cb-hero-slider-wrapper {
            left: 0;
            .arrow {
              clip-path: polygon(0 50%, 100% 100%, 100% 0);
              right: -1px;
            }
          }
        }
        &.orient-right {
          .image, .cb-hero-slider, .cb-hero-slider-wrapper {
            right: 0;
            .arrow {
              clip-path: polygon(100% 50%, 0 100%, 0 0);
              left: -1px;
            }
          }
        }
        
        .content {
          .page-content-padding {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }//cb
  }

  @media only screen and (max-width: 991px) {
  .content-blocks {
    .block-hero {
      &.style-full, &.style- {

        .image, .cb-hero-slider, .cb-hero-slider-wrapper {
          height: 55vw;
          left: auto;
          position: relative;
          right: auto;
          top: auto;
          .arrow {
            clip-path: polygon(50% 100%, 0 0, 100% 0);
            background-color: inherit;
            width: 70px;
            height: 40px;
            position: absolute;
            left: 30px;
            top: -1px;
            z-index: 105;
          }
        }
        .content {
          .block-text {
            max-width: 100%;
          }
        }
        &.size-sm, &.size-md, &.size-lg {
          .image, .cb-hero-slider, .cb-hero-slider-wrapper {
            width: 100%;
          }
          &.orient-left, &.orient-right {
            padding: 2px;
            .content {
              padding-right: 0;
              &.full-width {
                padding-left: 0;
              }
            }
          }
        }
        &.mobile-size-sm {
          .image, .cb-hero-slider, .cb-hero-slider-wrapper {
            height: 52vw;
          }
        }
        &.mobile-size-md {
          .image, .cb-hero-slider, .cb-hero-slider-wrapper {
            height: 75vw;
          }
        }
        &.mobile-size-lg {
          .image, .cb-hero-slider, .cb-hero-slider-wrapper {
            height: 90vw;
          }
        }

        &.hide-image-tablet {
          .image, .cb-hero-slider, .cb-hero-slider-wrapper {
            display: none;
            opacity: 0;
          }
        }

      }
    }

  }// block
  }// rwd

    
  @media only screen and (max-width: 767px) {
    .content-blocks {
      .block-hero {
        &.hide-image-mobile {
          .image {
            display: none;
            opacity: 0;
          }
        }
      }
    }
  }//rwd 
