
@hero-size-sm: 33%;
@hero-size-md: 50%;
@hero-size-lg: 63%;

.content-blocks {
  .block-hero {

    // This is test stuff
    /*
    .content {
      background: fade(@colorb,20%);
      .hero-sets {
        background: fade(#c00,20%);
      }
      .block-text {
        background: fade(@colorg,50%);
      }
    }//end test 
    /**/

    .cb-hero-slider {
      width: 100%;
    }

    @media only screen and (min-width: @site-width-1-bp) {
      .content {
        &.swc {
          padding-left: 0;
          padding-right: 0;    
        }
      }
    }//rwd 


    // ===== SM ===================================
    &.size-sm, &.size-xs {
      .image, .cb-hero-slider-wrapper {
        width: @hero-size-sm;
      }
      // ===== LEFT ===================================
      &.orient-left {
        @media only screen and (min-width: 992px) {
          .content {
            &.swc {
              padding-left: (@hero-size-sm + 3);
            }
            &.full-width {
              padding-right: 3%;
              padding-left: (@hero-size-sm + 3);
            }
          }
        }//rwd 
        @media only screen and (min-width: @site-width-1-bp) {
          .content {
            &.full-width {
              padding-right: 7vw;
              max-width: 95%;
            }
          }
        }//rwd 
      }//left 

      // ===== RIGHT ===================================
      &.orient-right {
        @media only screen and (min-width: 992px) {
          .content {
            .block-text {
              max-width: 100%;
            }
            &.swc {
              padding-left: 3%;
              padding-right: (@hero-size-sm + 3);
            }
            &.full-width {
              padding-left: 3%;
              padding-right: (@hero-size-sm + 3);
            }
          }
        }//rwd 
        @media only screen and (min-width: @site-width-1-bp) {
          .content {
            &.swc {
              padding-left: 0;
              padding-right: 20%;
              .hero-sets {
                max-width: 820px;
              }                
            }
            &.full-width {
              padding-left: 7vw;
              max-width: 95%;
            }
          }
        }//rwd 
        @media only screen and (min-width: 1750px) {
          .content {
            &.swc {
              padding-right: 0;
              .hero-sets {
                max-width: 880px;
              }                
            }
          }
        }//rwd 
      }//right
    }//sm 














    // ===== MD ===================================
    &.size-md {
      .image, .cb-hero-slider-wrapper {
        width: @hero-size-md;
      }
      // ===== LEFT ===================================
      &.orient-left {
        @media only screen and (min-width: 992px) {
          .content {
            .block-text {
              max-width: 100%;
            }
            &.swc {
              padding-left: (@hero-size-md + 3);
            }
            &.full-width {
              padding-right: 3%;
              padding-left: (@hero-size-md + 3);
            }
          }
        }//rwd 
      }//left 

      // ===== RIGHT ===================================
      &.orient-right {
        @media only screen and (min-width: 992px) {
          .content {
            .block-text {
              max-width: 100%;
            }
            &.swc {
              padding-left: 3%;
              padding-right: (@hero-size-md + 3);
            }
            &.full-width {
              padding-left: 3%;
              padding-right: (@hero-size-md + 3);
            }
          }
        }//rwd 
        @media only screen and (min-width: @site-width-1-bp) {
          .content {
            &.swc {
              padding-left: 0;
              padding-right: 0;
              .hero-sets {
                max-width: 580px;
              }                
            }
            &.full-width {
              padding-left: 3vw;
            }
          }
        }//rwd 
      }//right
    }//md 










    // ===== LG ===================================
    &.size-lg {
      .image, .cb-hero-slider-wrapper {
        width: @hero-size-lg;
      }
      // ===== LEFT ===================================
      &.orient-left {
        @media only screen and (min-width: 992px) {
          .content {
            .block-text {
              max-width: 100%;
            }
            &.swc {
              padding-left: (@hero-size-lg + 3);
            }
            &.full-width {
              padding-right: 3%;
              padding-left: (@hero-size-lg + 3);
            }
          }
        }//rwd 
      }//left 

      // ===== RIGHT ===================================
      &.orient-right {
        @media only screen and (min-width: 992px) {
          .content {
            .block-text {
              max-width: 100%;
            }
            &.swc {
              padding-left: 3%;
              padding-right: (@hero-size-lg + 3);
            }
            &.full-width {
              padding-left: 3%;
              padding-right: (@hero-size-lg + 3);
            }
          }
        }//rwd 
        @media only screen and (min-width: @site-width-1-bp) {
          .content {
            &.swc {
              padding-left: 0;
              padding-right: 0;
              .hero-sets {
                max-width: 380px;
              }                
            }
            &.full-width {
              padding-left: 3vw;
            }
          }
        }//rwd 
        @media only screen and (min-width: 1630px) {
          .content {
            &.swc {
              .hero-sets {
                max-width: 340px;
              }                
            }
          }
        }//rwd 
      }//right
    }//md 





  }//hero 
}//cb
