

.content-blocks {

  .block-hero {

    &.kind-white {
      background: @colorw;
      color: @colord;
    }//white

    &.kind-dark {
      color: @colorw;
      background: @colord;
    }

    &.kind-black {
      color: @colorw;
      background: @colorb;
    }

    &.kind-grey {
      color: @colord;
      background: @colorg;
    }

    &.kind-warning {
      color: @colorw;
      background: @color-error-dark;
    }

    &.kind-one {
      background: @color1;
      color: @color1-text-color;
      &.gradient-1 {
        background-color: @color1;
        .bgg1-130;
      }
    }//one 

    &.kind-two {
      color: @color2-text-color;
      background: @color2;
      &.gradient-1 {
        background-color: @color1;
        .bgg2-130;
      }
    }

    &.kind-three {
      background: @color3;
      color: @color3-text-color;
      &.gradient-1 {
        background-color: @color1;
        .bgg3-130;
      }
    }//     

    &.kind-four {
      background: @color4;
      color: @color4-text-color;
    }//one 

    &.kind-onedark {
      color: @color1-text-color;
      background: @color1-dark;
    }

    &.kind-twodark {
      color: @color2-text-color;
      background: @color2-dark;
    }

    &.kind-onelight {
      color: @color1-text-color;
      background: @color1-light;
    }

    &.kind-twolight {
      color: @color2-text-color;
      background: @color2-light;
    }


    &[class*='kind-'] {
      h1,h2,h3,h4,h5,blockquote {
        color: inherit;
        border-color: inherit;
      }
      a:not(.btn) {
        color: inherit;
        border-color: inherit;
        text-decoration: underline;
      }
      ul {
        li {
          &:before {
            background: currentColor !important;
            color: currentColor !important;
          }
        }
      }

    }




}
}//cb
