

.content-blocks {
  .block-hero {

    &.style-image {
      padding: 25px 20px 5px;
      
      .cb-hero-image-slider-wrapper {
        position: relative;
        width: 100%;
        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
      }
      .cb-hero-image-slider {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      img {
        margin: 0 0 20px;
      }

      &.padding-none {
        padding-bottom: 0;
        padding-top: 20px;
      }

      &.padding-xs {
        padding-bottom: 1vw;
        padding-top: 2vw;
      }
      &.padding-sm {
        padding-bottom: 3vw;
        padding-top: 4vw;
      }
      &.padding-md {
        padding-bottom: 6vw;
        padding-top: 7vw;
      }
      &.padding-lg {
        padding-bottom: 8vw;
        padding-top: 9vw;
      }
      &.padding-xl {
        padding-bottom: 11vw;
        padding-top: 12vw;
      }

      @media only screen and (max-width: 767px) {
        &.padding-xs, &.padding-sm {
          padding-top: 6vw;
        }
      }

      &.orient-left {
        .content {
          @media only screen and (min-width: 992px) {
            padding-left: 30px;
          }
        }
      }

      &.size-xs {
        .hero-image-images {
          max-width: 250px;
        }
      }
      &.size-sm {
        .hero-image-images {
          max-width: 400px;
        }
      }
      &.size-md {
        .hero-image-images {
          max-width: 550px;
        }
      }
      &.size-lg {
        .hero-image-images {
          max-width: 650px;
        }
      }


      @media only screen and (max-width: 991px) {

        &.hide-image-tablet {
          .col-image {
            display: none;
            opacity: 0;
          }
        }

      }//


      @media only screen and (max-width: 767px) {

        &.hide-image-mobile {
          .col-image {
            display: none;
            opacity: 0;
          }
        }

      }//

    }
  }
}//

