{{ partial:item_header }}
{{ partial:nav/secondary }}

<div class="pseudo-row">
  <div class="site-width-centered">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">

          <div class="content-blocks">
          {{ partial:auto-layouts/auto-layout }}
          </div>

        </div>
        <div class="col-md-6 col-pseudo">

    <div class="contact-form-wrapper">
      <div class="form contact-form">
        <h3 class="form-heading">Registration Form</h3>

          <div class="form-register">

          <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" _lpchecked="1">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="4J3SA9FB5HSE2">
          <table>
          <tbody><tr><td><input type="hidden" name="on0" value="Membership Options">Membership Options</td></tr><tr><td><select name="os0">
          	<option value="Family">Family $40.00 AUD</option>
          	<option value="Single">Single $30.00 AUD</option>
          </select> </td></tr>
          <tr><td>
            <br>
            <input type="hidden" name="on1" value="Telephone Number">Telephone Number</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
          <tr><td>
            <br>
            <input type="hidden" name="on2" value="Are you renewing membership?">Are you renewing membership?</td></tr><tr><td><input type="text" name="os2" maxlength="200"></td></tr>
          </tbody></table>
          <input type="hidden" name="currency_code" value="AUD">

          <br>
          <button type="submit" class="btn btn-submit" name="submit">Join Now</button>
              <br><br>

          <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
          </form>

          </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
