{{ partial:item_header }}
{{ partial:nav/secondary }}

<div class="pseudo-row">
  <div class="site-width-centered">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">

          <div class="content-blocks">
          {{ partial:auto-layouts/auto-layout }}
          </div>

        </div>
        <div class="col-md-6 col-pseudo">

    <div class="contact-form-wrapper">
      <div class="form contact-form">
        <h3 class="form-heading">Sponsor Register Form</h3>
        <div class="site-width-centered">
      {{ partial:forms/sponsor }}
        </div>
      </div>
    </div>

      </div>
    </div>
  </div>
</div>
