<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>if (typeof ($.fn.slick) === 'undefined') { document.write('<script src="/site/themes/site/partials/content-blocks/js/slider/slick.min.js"><\/script>') }</script>

{{ if header_sets | count > 1 }}
<script>
$(document).ready(function(){
  $('.cb-slider-header').slick({
    autoplay: true,
    dots: true,
    autoplaySpeed: {{ if header_slider_speed }}{{ header_slider_speed }}{{ else }}7000{{ /if }},
    slidesToShow: {{ if header_slider_show }}{{ header_slider_show }}{{ else }}1{{ /if }},
    slidesToScroll: {{ if header_slider_show }}{{ header_slider_show }}{{ else }}1{{ /if }},
    nextArrow: "<button class='cb-slider-control cb-right'><i class='fa fa-angle-right'></i></button>",
    prevArrow:"<button class='cb-slider-control cb-left'><i class='fa fa-angle-left'></i></button>",
    responsive: [
      {
        breakpoint: 991,
        settings: {
          slidesToShow: {{ if header_slider_show < 2 }}1{{ else }}2{{ /if }},
          slidesToScroll: {{ if header_slider_show < 2 }}1{{ else }}2{{ /if }}
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  });
});
</script>
{{ /if }}

{{ if product_images | count > 1 }}
<script>
$(document).ready(function(){
  $('.slider-product-images').slick({
    autoplay: true,
    dots: true,
    autoplaySpeed: 7000,
    slidesToShow: 1,
    slidesToScroll: 1,
    nextArrow: "<button class='cb-slider-control cb-right'><i class='fa fa-angle-right'></i></button>",
    prevArrow:"<button class='cb-slider-control cb-left'><i class='fa fa-angle-left'></i></button>",
    {{ if product_thumbnails == "thumbs" }}
      customPaging: function(slider, i) {
        var thumb = $(slider.$slides[i]).data('thumb');
        //return '<a><img src="' + thumb + '"></a>';
        return '<span style="background-image:url(' + thumb + ');"></span>';
      },
    {{ /if }}
    appendDots: $(".slick-thumbs-product-slider")
  });

  {{ if product_thumbnails == "thumb_slider" }}
    $('.slider-product-images-nav').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      asNavFor: '.slider-product-images',
      dots: false,
      centerMode: true,
      nextArrow: "<button class='cb-slider-control cb-right'><i class='fa fa-angle-right'></i></button>",
      prevArrow: "<button class='cb-slider-control cb-left'><i class='fa fa-angle-left'></i></button>",
      focusOnSelect: true
    });
  {{ /if }}

});
</script>
{{ /if }}

{{ content_blocks }}
  {{ block_sets }}
    {{ if type == "slider_set" }}
<script>
$(document).ready(function(){
  $('.cb-slider-{{ type }}-{{ slider_number }}').slick({
    autoplay: true,
    dots: true,
    autoplaySpeed: {{ slider_speed }},
    slidesToShow: {{ slider_show }},
    nextArrow: "<button class='cb-slider-control cb-right'><i class='fa fa-angle-right'></i></button>",
    prevArrow:"<button class='cb-slider-control cb-left'><i class='fa fa-angle-left'></i></button>",
    responsive: [
      {
        breakpoint: 991,
        settings: {
          slidesToShow: {{ if slider_show < 2 }}1{{ else }}2{{ /if }}
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1
        }
      }
    ]
  });
});
</script>
{{ /if }}
{{ if type == "gallery_set" AND kind == "slider" }}
<script>
$(document).ready(function(){
  $('.cb-slider-{{ type }}-{{ gallery_number }}').slick({
    autoplay: false,
    dots: true,
    slidesToShow: {{ if slider_show }}{{ slider_show }}{{ else }}1{{ /if }},
    slidesToScroll: {{ if slider_show }}{{ slider_show }}{{ else }}1{{ /if }},
    nextArrow: "<button class='cb-slider-control cb-right'><i class='fa fa-angle-right'></i></button>",
    prevArrow:"<button class='cb-slider-control cb-left'><i class='fa fa-angle-left'></i></button>",
    {{ if slider_thumbnails == "thumbs" }}
    customPaging: function(slider, i) {
      var thumb = $(slider.$slides[i]).data('thumb');
      //return '<a><img src="' + thumb + '"></a>';
      return '<span style="background-image:url(' + thumb + ');"></span>';
    },
    appendDots: $(".slick-thumbs-{{ type }}-{{ gallery_number }}"),
    {{ /if }}
    responsive: [
      {
        breakpoint: 991,
        settings: {
          slidesToShow: {{ if slider_show < 2 }}1{{ else }}2{{ /if }},
          slidesToScroll: {{ if slider_show < 2 }}1{{ else }}2{{ /if }}
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: {{ if slider_show < 2 }}1{{ else }}2{{ /if }},
          slidesToScroll: {{ if slider_show < 2 }}1{{ else }}2{{ /if }}
        }
      },
      {
        breakpoint: 520,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  });
    {{ if slider_thumbnails == "thumb_slider" }}
    $('.cb-slider-{{ type }}-{{ gallery_number }}-nav').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      asNavFor: '.cb-slider-{{ type }}-{{ gallery_number }}',
      dots: false,
      centerMode: true,
      nextArrow: "<button class='cb-slider-control cb-right'><i class='fa fa-angle-right'></i></button>",
      prevArrow: "<button class='cb-slider-control cb-left'><i class='fa fa-angle-left'></i></button>",
      focusOnSelect: true
    });
  {{ /if }}
});
</script>
{{ /if }}
{{ if type == "hero_set" AND hero_images | count > 1 }}
<script>
$(document).ready(function(){
  $('.cb-hero-slider-set-{{ hero_slider_number }}').slick({
    autoplay: false,
    dots: true,
    slidesToShow: {{ if slider_show }}{{ slider_show }}{{ else }}1{{ /if }},
    slidesToScroll: {{ if slider_show }}{{ slider_show }}{{ else }}1{{ /if }},
    nextArrow: "<button class='cb-slider-control cb-right'><i class='fa fa-angle-right'></i></button>",
    prevArrow:"<button class='cb-slider-control cb-left'><i class='fa fa-angle-left'></i></button>",
    responsive: [
      {
        breakpoint: 991,
        settings: {
          slidesToShow: {{ if slider_show < 2 }}1{{ else }}2{{ /if }},
          slidesToScroll: {{ if slider_show < 2 }}1{{ else }}2{{ /if }}
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: {{ if slider_show < 2 }}1{{ else }}2{{ /if }},
          slidesToScroll: {{ if slider_show < 2 }}1{{ else }}2{{ /if }}
        }
      },
      {
        breakpoint: 520,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  });
});
</script>
{{ /if }}
{{ if type == "col_set" }} 
{{ col_sets }}
{{ column_content_sets }}
{{ if type == "col_gallery_set" AND kind == "slider" }}
<script>
$(document).ready(function(){
  $('.cb-slider-{{ type }}-{{ gallery_number }}').slick({
    autoplay: false,
    dots: true,
    slidesToShow: {{ if slider_show }}{{ slider_show }}{{ else }}1{{ /if }},
    slidesToScroll: {{ if slider_show }}{{ slider_show }}{{ else }}1{{ /if }},
    nextArrow: "<button class='cb-slider-control cb-right'><i class='fa fa-angle-right'></i></button>",
    prevArrow:"<button class='cb-slider-control cb-left'><i class='fa fa-angle-left'></i></button>",
    {{ if slider_thumbnails == "thumbs" }}
    customPaging: function(slider, i) {
      var thumb = $(slider.$slides[i]).data('thumb');
      //return '<a><img src="' + thumb + '"></a>';
      return '<span style="background-image:url(' + thumb + ');"></span>';
    },
    {{ /if }}
    appendDots: $(".slick-thumbs-{{ type }}-{{ gallery_number }}"),
    responsive: [
      {
        breakpoint: 991,
        settings: {
          slidesToShow: {{ if slider_show < 2 }}1{{ else }}2{{ /if }},
          slidesToScroll: {{ if slider_show < 2 }}1{{ else }}2{{ /if }}
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: {{ if slider_show < 2 }}1{{ else }}2{{ /if }},
          slidesToScroll: {{ if slider_show < 2 }}1{{ else }}2{{ /if }}
        }
      },
      {
        breakpoint: 520,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ],
  });
    {{ if slider_thumbnails == "thumb_slider" }}
    $('.cb-slider-{{ type }}-{{ gallery_number }}-nav').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      asNavFor: '.cb-slider-{{ type }}-{{ gallery_number }}',
      dots: false,
      centerMode: true,
      nextArrow: "<button class='cb-slider-control cb-right'><i class='fa fa-angle-right'></i></button>",
      prevArrow: "<button class='cb-slider-control cb-left'><i class='fa fa-angle-left'></i></button>",
      focusOnSelect: true
    });
  {{ /if }}
});
</script>
{{ /if }}
{{ if type == "col_slider_set" }}
<script>
$(document).ready(function(){
  $('.cb-slider-{{ type }}-{{ slider_number }}').slick({
    autoplay: true,
    dots: true,
    autoplaySpeed: {{ slider_speed }},
    slidesToShow: {{ slider_show }},
    nextArrow: "<button class='cb-slider-control cb-right'><i class='fa fa-angle-right'></i></button>",
    prevArrow:"<button class='cb-slider-control cb-left'><i class='fa fa-angle-left'></i></button>",
    responsive: [
      {
        breakpoint: 991,
        settings: {
          slidesToShow: {{ if slider_show < 2 }}1{{ else }}2{{ /if }}
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1
        }
      }
    ]
  });
});
</script>
{{ /if }}
{{ /column_content_sets }}
{{ /col_sets }}
{{ /if }}
  {{ /block_sets }}
{{ /content_blocks }}
