<div class="checkout-ehc-col col-checkout-info">
  <div class="cart-info">

    <button class="cart-items-btn" type="button" data-toggle="collapse" data-target="#cart-items-hide"
        aria-expanded="false" aria-controls="cart-items-hide"><i class="fa fa-bars"></i> &nbsp; View Items </button>
    <div class="collapse cart-items-hide-wrapper" id="cart-items-hide">
      <div class="cart-items">
        {{ items }}
        <div class="cart-item">
          <div class="row">
            <div class="col-md-9">

              <div class="item-details">
                <div class="image-wrapper">
                  <img class="img-responsive"
                    src="{{ get_content from='{itemid}' }}{{ assets:product_images limit='1' }}{{ glide:url width='65' height='65' fit='crop_focal' }}{{ /assets:product_images }}{{ /get_content }}">
                  <span class="cart-item-qty">{{ quantity }}</span>
                </div>
                <h3 class="cart-title"><a
                    href="{{ get_content from='{itemid}' }}{{ url }}{{ /get_content }}">{{ name ? title | ucfirst }}</a>
                </h3>
              </div>
            </div>

            <div class="col-md-3">
              {{ unless gvcustomshop:gs_hide_prices }}
              <div class="item-subtotal">$<span>{{ subtotal format_number='2|.|' }}</span></div>
              {{ /if }}
            </div>
          </div>
        </div>
        {{ /items }}
      </div>

    </div>

    <div class="checkout-cart-totals">
      {{ unless gvcustomshop:gs_hide_prices }}
      <div class="totals-row subtotal-row">
        <div class="cart-totals-heading">Subtotal: </div>
        <div class="totals-last cart-totals-item"> ${{ amount format_number='2|.|' }}</div>
      </div>
      {{ /if }}
      {{ if cf_payment_shipping }}
      <div class="totals-row shipping-row">
        <div class="cart-totals-heading">{{ gvcustomshop:shipping_title }}: </div>
        <div class="totals-last cart-totals-item"> <span class="shipping-option">Please select a shipping option</span> </div>
      </div>
      {{ /if }}
      {{ if cf_payment_vouchers }}
      <div class="totals-row voucher-row">
          <div class="cart-totals-heading">Voucher: </div>
          <div class="totals-last cart-totals-item"> </div>
      </div>
      {{ /if }}
      {{ unless gvcustomshop:gs_hide_prices }}
      {{ if {payamic:getLevy gateway='stripe'} != '' }}
      <div class="totals-row levy-row">
          <div class="cart-totals-heading">Card Processing Fee: </div>
          <div class="totals-last cart-totals-item"> $<span></span></div>
      </div>
      {{ /if }}
      <div class="cart-totals">
        <div class="totals-row">
          <div class="cart-total">TOTAL: </div>
          <div class="totals-last cart-total-price"> $<span class=""></span> </div>
        </div>
        <div class="cart-total-note">Including $<span></span> in taxes </div>
      </div>
      {{ /if }}
    </div>

  </div>
</div><!-- cart info col -->