<fieldset class="container-fluid   clearfix">
  <div class="reveal-fieldset clearfix">
    <label>Is this a gift? <span class="is-required">(Required)</span></label> <br>
    <input id="checkout_gift_Yes" data-hidden-toggle="Yes" class="do-reveal" type="radio" name="checkout_gift"
      value="yes">
    <label for="checkout_gift_Yes">Yes</label><br>
    <input id="checkout_gift_No" data-hidden-toggle="No" type="radio" name="checkout_gift" value="no" checked="">
    <label for="checkout_gift_No">No</label><br>
    <div class="reveal-if-active">
      <hr>
      <div class="form-group">
        <label>Recipient Name </label>
        <input type="text" name="gift_name" class="form-control" id="gift_name" value="">
      </div>
      <div class="selectable-set">
        <div class="checkbox-wrapper" data-field="gift_wrapping">
          <label>Do you want gift wrapping? </label>
          <div class="checkbox">
            <label>
              <input class="gift_wrapping-group" type="checkbox" name="gift_wrapping_yes" value="Selected">
              Yes </label>
          </div>
        </div>
      </div>
    </div>
  </div>

</fieldset>