<div class="site-width-centered page-container">
  <div class="custom-members">
    <div class="custom-members-header">
      <div class="container-fluid container-swc">
        <br>
        <div class="row">
          <div class="col-md-8">

              {{ user:profile username="{email}" }}
                <p>You are already logged in as {{ name }}. If this is not you, please <a href="{{ user:logout_url redirect='/contact' }}">Sign Out</a> and <a href="/contact">Contact Us</a> </p>
              {{ /user:profile }}

          </div>
          <div class="col-md-4 col-logout">
            <a class="" href="{{ user:logout_url redirect="/" }}">Sign Out &nbsp;<i class="fa fa-sign-out"></i> </a>
          </div>
        </div>
      </div>
      <a class="btn btn-one" href="{{ gv_to_member_profile }}">View Your Profile &nbsp;<i class="fa fa-angle-right"></i> </a>
    </div>
  </div>
</div>
