<div class="custom-members-header">
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="col-md-8">
        <p>You are logged in as {{ name }}. If this is not you, please <a href="{{ user:logout_url redirect='{gv_to_contact}' }}">Sign Out</a> and <a class="link-underline" href="{{ gv_to_contact }}">Contact Us</a> </p>
      </div>
      <div class="col-md-4 col-logout">
        <a class="" href="{{ user:logout_url redirect="/" }}">Sign Out &nbsp;<i class="fa fa-sign-out"></i> </a>
      </div>
    </div>
  </div>
</div>
<hr>
