{{ if logged_out }}
  <li><a href="{{ gv_to_member_login }}">Member Login</a></li>
  <li><a href="{{ gv_to_member_register }}">Register</a></li>
{{ else }}
{{ if gvcustommembers:show_news }}
  <li><a href="{{ gv_to_member_news }}">Member News</a></li>
{{ /if }}
  <li><a href="{{ gv_to_member_profile }}">My Profile</a></li>
  <li><a href="{{ gv_to_member_transactions }}">Transaction History</a></li>
  <li><a href="{{ user:logout_url redirect='/' }}">Logout</a></li>
{{ /if }}
