
<div class="site-width-centered page-container">
  {{ if var_type1 }}You need to be logged in to see this page. {{ /if }}If you are not yet an existing member, please <a class="link-underline" href="{{ gv_to_member_register }}">register</a>.
</div>

{{ partial:custom-members/forms/login-form var_return="{var_url}" }}
