
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      {{ if gv_to_member_news }}
      <a class="btn btn-two" href="{{ gv_to_member_news }}">View Member Only News</a>
      {{ /if }}
      <a class="btn btn-two" href="{{ gv_to_member_transactions }}">View Your Transactions</a>
      <a class="btn btn-two" href="{{ gv_to_member_forgot }}">Change Your Password</a>
    </div>

    <div class="col-md-6 col-md-push-6 profile-info">

      <div class="content">
        <h2>Membership Subscription</h2>
        <p>You became a member of {{ site_name }} on {{ start_date format="jS F Y" }}. We thank you for your continued support.</p>
        <div class="subs-due">
          <span class="subs"><strong>Your next Membership Subscription is due: <br> </strong> {{ valid_until format="jS F Y" }}</span>
          <div class="days-till">

          {{ if valid_until | is_past }}
          <span class="subs-overdue">({{ valid_until | days_ago }} DAYS OVERDUE)</span>
          {{ else }}
          <span class="subs-upcoming">(Due in {{ valid_until | days_ago | add:1 }} days)</span>
          {{ /if }}

          </div>

          {{ if valid_until | days_ago | add:1 > 30 }}
          <br>
          <p><strong>We will send you an email 30 days before your next payment is due.</strong> </p>
          {{ /if }}
        </div>
        <br>
        {{ if {payamic:regoDue} }}
          {{ foreach:gvcustommembers:membership_prices }}
            {{ if key == type }}
              <a class="btn btn-action" href="{{ gv_to_member_renew }}">Renew Your Membership Now</a>
            {{ /if }}
          {{ /foreach:gvcustommembers:membership_prices }}
        {{ /if }}
        {{ if member_status == "pending" }}
        <div class="profile-status-pending">
          <h2 class="heading">Status 'Pending'</h2>
          <p>Your Membership Status is showing as 'Pending'. If you opted to pay your member registration or renewal via the 'offline' payment option, please ensure you have made an offline payment (Bank, Cheque etc).</p>
          <p> <strong>Once we have confirmed your offline payment we will update your member status to current.</strong> </p>
          <h4>Offline Payment Options</h4>
          <strong>If you haven't paid already, please make payment for the total amount shown in the registration or renewal email you received and use the reference '{{ last_name }}-{{ user_num }}'.</strong>
          <h4>Bank Details</h4>
          <strong>{{ gvcustomform:cf_gateway_offline_bank }}</strong><br>
          <strong>Account Name:</strong> {{ gvcustomform:cf_gateway_offline_bank_account_name }} <br>
          <strong>BSB:</strong> {{ gvcustomform:cf_gateway_offline_bank_bsb }} <br>
          <strong>Account Number:</strong> {{ gvcustomform:cf_gateway_offline_bank_account }}
          <h4>Cheque</h4>
          <strong>Send a cheque to:</strong> <br>
          <strong>{{ gvcustomform:cf_gateway_offline_cheque }} </strong> <br>
          <strong>{{ gvcustomform:cf_gateway_offline_cheque_address }}</strong> <br>
        </div>
        {{ /if }}
      </div>

    </div>
    <div class="col-md-6 col-md-pull-6 profile-stats">
      <div class="content">
        <h2>Your Account Information</h2>
        <h4>Your Details</h4>
        <p><strong>Name:</strong> {{ first_name }} {{ last_name }} <br>
        <strong>Email (also username):</strong> {{ email }} <br>
        <strong>Phone:</strong> {{ phone }}</p>
        <h4>Address</h4>
          <p>
            {{ if address_building }}
            <strong>Building:</strong> {{ address_building }} <br>
            {{ /if }}
            <strong>Street:</strong> {{ address_street }} <br>
            <strong>Town:</strong> {{ address_town }} <br>
            <strong>State:</strong> {{ address_state }} <br>
            <strong>Postcode:</strong> {{ address_postcode }} <br>
            <strong>Country:</strong> {{ address_country }} <br>
          </p>
        <div class="profile-account-details">
          <p><strong>Membership Type:</strong> {{ membership_type | deslugify | title }}</p>
          <p><strong>Membership Start Date:</strong> {{ start_date format="jS F Y" }}</p>
          <p><strong>Next Membership Subscription due date:</strong> {{ valid_until format="jS F Y" }}</p>
          <p><strong>Membership Number:</strong> {{ user_num }}</p>
          <p><strong>Membership Status:</strong> {{ member_status | title }}</p>
        </div>
      </div>

    </div>

  </div>
</div>
