<div class="member-transactions">
<div class="content">
  <h2>Your Transactions</h2>
  <table class="table">
    <thead>
      <th>Date</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Payment Method</th>
    </thead>
    <tbody>
  {{ payamic:getUserTransactions }}
    {{ if no_results }}
      <tr><td colspan="4">You have no transactions recorded.</td></tr>
    {{ else }}
      <tr>
        <td>{{ timestamp format="d/m/Y H:i:a" }}</td>
        <td class="price {{ currency }}">${{ amount format_number="2" }}</td>
        <td>{{ desc }}</td>
        <td>{{ gateway_pretty }}</td>
      </tr>
    {{ /if }}
  {{ /payamic:getUserTransactions }}
    </tbody>
  </table>
</div>
</div>
