{{ partial:item_header }}
{{ if segment_1 AND !toggle_nav_secondary }}
{{ partial:nav/secondary }}
{{ /if }}
{{ if toggle_page_nav }}
{{ partial:nav/tertiary }}
{{ /if }}
<div class="">
  <div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
  </div>
</div>

{{ if logged_out }}

{{ partial:custom-members/not-logged-in var_url="{gv_to_member_profile}" }}

{{ else }}

{{ partial:custom-members/already-logged-in }}

{{ /if }}
