{{ partial:item_header }}
{{ if segment_1 AND !toggle_nav_secondary }}
{{ partial:nav/secondary }}
{{ /if }}
{{ if toggle_page_nav }}
{{ partial:nav/tertiary }}
{{ /if }}
<div class="">
  <div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
  </div>
</div>

{{ if logged_out }}

{{ partial:custom-members/not-logged-in var_url="{url}" }}

{{ else }}

<div class="site-width-centered">
  <div class="custom-members">
    <div class="member-profile">
    {{ user:profile username="{email}" }}

{{ partial:custom-members/header }}
{{ partial:custom-members/profile }}

    {{ /user:profile }}

    </div>
  </div>
</div>

{{ /if }}
