{{ partial:referrer }}
{{ partial:item_header item_header="Membership Renewal" }}

{{ if segment_3 }}
    {{ if logged_in }}
      {{ user }}
        {{ if id != segment_3 }}
          <!-- block one -->
          <div class="site-width-centered page-container">
              <div class="message message-error">
                <span class="icon"> <i class="fa fa-times fa-3x"></i> </span>
                <h3 class="heading">Error!</h3>
                  <p>You are logged in as a different member to the one you are trying to renew. Please check your link or log out and try again.</p>
                  <p>If this issue persists please contact us asap.</p>
              </div>
            <a class="btn btn-one" href="{{ gv_to_member_login }}">Login </a> <a class="btn btn-one" href="{{ gv_to_member_profile }}">View My Profile</a>
          </div>
        {{ else }}
        <!-- block two -->
          <div class="site-width-centered">
            <div class="custom-members">
              {{ partial:custom-members/header }}
            </div>
          </div>

          {{ if {payamic:regoDue} }}
          <!-- block three -->
            {{ partial:custom-members/forms/member-renew }}
          {{ else }}
          <!-- block four -->
            <div class="site-width-centered page-container">
              <h3>Your Membership is not due yet. Your membership is due on {{ valid_until format="jS F Y" }} which is in {{ valid_until | days_ago }} days.</h3>
              <br>
              <a class="btn btn-one" href="{{ gv_to_member_profile }}">View Your Profile</a>
            </div>
          {{ /if }}
        {{ /if }}
      {{ /user }}
    {{ else }}
      {{ user id="{segment_3}" }}
        {{ if no_results }}
        <!-- block five -->
        <div class="site-width-centered page-container">
            <div class="message message-error">
              <span class="icon"> <i class="fa fa-times fa-3x"></i> </span>
              <h3 class="heading">Error!</h3>
              <p>There is no user to match this ID. Please check your link, or log in and try again.</p>
            </div>
          <a class="btn btn-one" href="{{ gv_to_member_login }}">Login </a> <a class="btn btn-one" href="{{ gv_to_member_profile }}">View My Profile</a>
        </div>
        {{ else }}
          {{ if {payamic:regoDue user="{id}"} }}
          <!-- block seven -->
          <div class="site-width-centered">
            <div class="custom-members">
              <div class="custom-members-header">
                <br>
                <p>This renewal is for {{ name }} ({{ username }}). If this is not you, please DO NOT fill out this form and <a href="{{ gv_to_contact }}"> contact us</a> ASAP. </p>
                {{ if valid_until | is_past }}
                <div class="due-message">Your membership was due on {{ valid_until format="jS F Y" }} which was {{ valid_until | days_ago }} days ago.</div>
                {{ else }}
                <div class="due-message">Your membership is due on {{ valid_until format="jS F Y" }} which is in {{ valid_until | days_ago | add:1 }} days.</div>
                {{ /if }}
                <p><strong>Note:</strong> Paying now increases your membership from the due date, not the day you pay, there is no loss of days (or increase if you are overdue). </p>
              </div>
            </div>
          </div>
            {{ partial:custom-members/forms/member-renew }}
          {{ else }}
          <!-- block eight -->
          <div class="site-width-centered">
            <div class="custom-members">
              <div class="custom-members-header">
                <br>
                <p>This link is for {{ name }}. If this is not you, please <a href="{{ gv_to_contact }}"> contact us</a> ASAP. </p>
              </div>
            </div>
          </div>
          <div class="site-width-centered page-container">
            <h3>Your Membership is not due yet. Your membership is due on {{ valid_until format="jS F Y" }} which is in {{ valid_until | days_ago }} days.</h3>
            <br>
            <a class="btn btn-one" href="{{ gv_to_member_profile }}">View Your Profile</a>
          </div>
          {{ /if }}
        {{ /if }}
      {{ /user }}
    {{ /if }}
{{ else }}
    {{ user }}
        {{ if no_results }}
        <!-- block nine -->
          <div class="site-width-centered page-container">
              <div class="message message-error">
                <span class="icon"> <i class="fa fa-times fa-3x"></i> </span>
                <h3 class="heading">Error!</h3>
                <p>You are not logged in. Please login and try again.</p>
              </div>
          </div>
          {{ partial:custom-members/forms/login-form var_return="{url}" }}
        {{ else }}
        <!-- block ten -->
            <div class="site-width-centered">
              <div class="custom-members">
                {{ partial:custom-members/header }}
              </div>
            </div>

            {{ if {payamic:regoDue} }}
            <!-- block eleven -->
            <div class="site-width-centered">
              {{ if valid_until | is_past }}
              <div class="due-message">Your membership was due on {{ valid_until format="jS F Y" }} which was {{ valid_until | days_ago }} days ago.</div>
              {{ else }}
              <div class="due-message">Your membership is due on {{ valid_until format="jS F Y" }} which is in {{ valid_until | days_ago | add:1 }} days.</div>
              {{ /if }}
            </div>
              {{ partial:custom-members/forms/member-renew }}
            {{ else }}
            <!-- block twelve -->
            <div class="site-width-centered page-container">
              <h3>Your Membership is not due yet. View your profile to see when your membership is due next.</h3>
              <br>
              <a class="btn btn-one" href="{{ gv_to_member_profile }}">View Your Profile</a>
            </div>
            {{ /if }}

        {{ /if }}
    {{ /user }}
{{ /if }}
