{{ if content_blocks }}
{{ content_blocks }}
{{ block_sets }}
{{ if type == "gallery_set" }}
{{ if kind == "masonry" }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
<script>if (typeof ($.masonry) === 'undefined') { document.write('<script src="{{ theme:js src='masonry.min.js' }}"><\/script>') }</script>
<script>if (typeof ($.imagesLoaded) === 'undefined') { document.write('<script src="{{ theme:js src='imagesloaded.min.js' }}"><\/script>') }</script>
<script>
$(document).ready(function() {
    // Init Masonry
    var $grid = $('.masonry-grid-{{ type }}-{{ gallery_number }}').masonry({
      //columnWidth: 200,
      columnWidth: '.grid-sizer',
      percentPosition: true,
      itemSelector: '.grid-item',
      resize: true,
      horizontalOrder: true,
      percentPosition: true
    });
    // Update Masonry after each image loads
    $grid.imagesLoaded().progress( function() {
      $grid.masonry('layout');
    });

});
</script>

{{ /if }}
{{ /if }}
{{ /block_sets }}
{{ /content_blocks }}
{{ /if }}
