<script type="text/javascript" src="{{ theme:js src='/matchheight.js' }}"></script>
<script type="text/javascript">
$(document).ready(function() {
  if ($(window).width() < 768) {
    $('.jqmh').matchHeight({ remove: true });
  }
});
</script>
