<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<script>
  if (typeof $.Lazy === 'undefined') {
    document.write('<script src="/site/themes/site/partials/js/blocks/lazyload.min.js">\x3C/script>');
  }
</script>
<script type="text/javascript">
window.onload = function() {
  document.body.classList.remove("fade-out");
};

$(document).ready(function(){

  $("#nav-burger-btn").animatedModal({
    animatedIn:'bounceInUp',
    animatedOut:'bounceOutDown',
    animationDuration:'.5s',
  });

{{ if !gvcustomshop:gs_kill_shop and gvcustomshop:dynamic_cart }}
  $(".js-cs-btn-cart-popout").animatedModal({
    animatedIn:'bounceInRight',
    animatedOut:'bounceOutRight',
    animationDuration:'.5s',
  });
{{ /if }}

  $(function () {
    $('.lazyload').Lazy();
  });

  var body = $(".at-top");
  $(window).scroll(function() {
      var scroll = $(window).scrollTop();
      if (scroll >= 200) {
          body.removeClass('at-top').addClass("off-top");
      } else {
          body.removeClass("off-top").addClass('at-top');
      }
  });

  var viewportWidth = $(window).width();
  if (viewportWidth > 1264) {
    // calc left offset of site-width-centered
    var swcLeft = $("#site-width-centered-marker").offset().left;
    $('.swc-left').css('left', swcLeft);
    $('.swc-left-margin-1').css('padding-left', swcLeft);
  }
  
  // scroll to anchors
  $('a[href*="#"]')
    // Remove links that don't actually link to anything
    .not('[href="#"]')
    .not('[href="#0"]')
    .not('.nav-tabs a')
    .not('.carousel-control')
    .not('.nav-burger-btn')
    .click(function (event) {
      // On-page links
      if (
        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
        &&
        location.hostname == this.hostname
      ) {
        // Figure out element to scroll to
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        // Does a scroll target exist?
        if (target.length) {
          // Only prevent default if animation is actually gonna happen
          event.preventDefault();
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 1000, function () {
            // Callback after animation
            // Must change focus!
            var $target = $(target);
            $target.focus();
            if ($target.is(":focus")) { // Checking if the target was focused
              return false;
            } else {
              $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
              $target.focus(); // Set focus again
            };
          });
        }
      }
    });

  $('form.submit-overlay').submit(function(e) {
    $('body').addClass('submitting');
  });

});// doc ready
</script>

{{ content_blocks }}
  {{ block_sets }}
    {{ if block_bg_settings:0:block_bg_video }}
      {{ block_bg_settings:0:block_bg_video }}
      <script type="text/javascript">
        $(window).on("load", function () {
          $('#{{ video_id }}').html('<iframe src="{{ video_url | embed_url }}?background=1&autoplay={{ video_autoplay }}&loop={{ video_loop }}&muted={{ video_mute }}&byline=0&title=0" frameborder="0"></iframe>');
        });
      </script>
      {{ /block_bg_settings:0:block_bg_video }}
    {{ /if }}
  {{ /block_sets }}
{{ /content_blocks }}
