{{ partial:item_header }}
<div class="page-container site-width-centered">
  {{ taxonomy:tags }}
    <h4>Tag: {{ title }}</h4>
    <ul>
      {{ collection }}
        <li><a href="{{ url }}">{{ title }}</a> ({{ collection|title }})</li>
      {{ /collection }}
    </ul>
  {{ /taxonomy:tags }}

</div>
