
.payment-error-message-wrapper {
  display: none;
}

.payment-error-message {
  border: 1px solid @color-error;
  border-top-width: 20px;
  color: @color-error;
  margin: 20px 15px;
  padding: 20px;
  text-align: center;

  a {
    background: @color-error;
    border: 1px solid @color-error;
    color: @colorw;
    padding: 6px 15px;
    &:hover {
      background: @colorw;
      color: @color-error;
    }
  }

  h1,h2,h3,h4,h5 {
    color: @color-error;
    font-size: @fsb * 2;
    margin: 0 0 20px;
  }
}





body.has-payment-error {
  .site-logo, .item-header, .nav-secondary, .farmer-intro, .content-blocks {
    display: none;
  }
  .payment-error-message-wrapper {
    display: block;
  }
  .payment-error {
    border: 1px solid @color-error;
    margin: 10px 0 14px;
    padding: 15px 20px;
  }

}
