

  .input-group-addon {
    background: @color3;
    border-color: @color3;
    color: @colorw;
  }


.StripeElement {
  background-color: @colorw;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 mix(@colorw,@colord,60%);
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 @color2;
}

.StripeElement--invalid {
  border-color: #c00;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

// jesus fucking christ i fucking hate you you fucking cunt christ bastard shit fuck christ mother fucker

#card-errors {
  color: #c00;
  margin-top: 10px;
}


.payment-error {
  padding: 10px 0;
  color: #c00;
  font-weight: bold;
  margin: 10px 0;
}




.modal-payment {
  .modal-body {
    background: @colorw;
  }
}


.btn-payment {
  background: @color1;
  border: 1px solid @color1;
  border-bottom: 4px solid mix(@colorb,@color2,60%);
  border-right: 2px solid mix(@colorb,@color2,60%);
  border-radius: 0;
  box-shadow: 1px 1px 3px 0 @color1;
  color: @colorw;
  font-size: @font-size-base * 0.9;
  font-weight: 600;
  margin: 0 10px 10px 0;
  padding: 10px 20px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  .transition(0.5s all);

  &:hover, &:active, &:focus {
    background: @colorw;
    border-color: @colord;
    box-shadow: 2px 2px 5px 0 @colord;
    color: @colord;
    .translate(1px,4px);
    text-decoration: none;
  }
}





.form-payment {

  .form-warning {
    .content {
      border: 1px dashed @color-error;
      color: @color-error;
      display: inline-block;
      margin: 10px 0 10px;
      padding: 10px 20px;
    }
  }



/*
  .form-content {

  }

  .form-control {
    background: @colorw;
    border: 1px solid @colord;
    border-radius: 0;
    color: @color1;
  }
  label {
    color: mix(@colorw, @colord, 20%);
    font-weight: 600;
  }
  .req {
    font-size: 14px;
  }

  .fieldset-heading {
    background: @color1;
    color: @colorw;
    display: inline-block;
    font-size: @fsb * 1;
    font-weight: 600;
    margin: 10px 0 0;
    padding: 4px 15px;
    text-transform: capitalize;
  }
  fieldset {
    background: @colorw;
    border: 1px solid @color1;// mix(@colorw,@colorb,80%);
    margin: 0 0 10px;
    padding: 10px 0 5px;
  }

  */


}
