

.payment-cc-note {
  background: @color-success;
  color: @colorw;
  font-size: @fsb * 0.92;
  line-height: 1.5;
  margin: 0 0 20px;
  padding: 15px 20px;
}


  .payment-total {

    .input-total {
      border-color: @colord;
    }

    .input-group-addon {
      background: @colord;
      border-color: @colord;
      color: @colorw;
    }

    &.is-lg {
      font-size: @fsb * 1.6;
      padding: 20px 15px 25px;
      .input-group-addon {
        font-size: @fsb * 1.4;
      }
    }
  }



.cart-stock {
  margin-top: 10px;
  .inv {
    border-radius: 30px;
    display: inline-block;
    line-height: 25px;
    margin: 0;
    padding: 0 8px;
    position: relative;
    top: -3px;

    &.in {
      border: 1px dashed @color-success;
      color: @color-success;
    }
    &.out {
      border: 1px dashed @color-error;
      color: @color-error;
    }
  }

}


@btn-purchase-color: @color3;
.btn-purchase {
  background: @btn-purchase-color;
  border: 1px solid @btn-purchase-color;
  border-bottom: 4px solid mix(@colorb,@btn-purchase-color,60%);
  border-right: 2px solid mix(@colorb,@btn-purchase-color,60%);
  border-radius: 0;
  box-shadow: 1px 1px 3px 0 @btn-purchase-color;
  color: @colorw;
  font-size: @font-size-base * 0.9;
  font-weight: 600;
  margin: 10px 10px 10px 0;
  padding: 10px 20px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  .transition(0.5s all);

  &:hover, &:active, &:focus {
    background: @colorw;
    border-color: @colord;
    box-shadow: 2px 2px 5px 0 @colord;
    color: @colord;
    .translate(1px,4px);
    text-decoration: none;
  }

}


.add-cart-buttons {
  color: @color1;
  vertical-align: middle;
  .content {
    background: @colorw;
    border: 1px solid @color1;
    display: inline-block;
    padding: 15px 20px;
  }
  .cart-price {
    border: 1px dashed @color2;
    color: @color2;
    display: inline-block;
    font-size: @fsb * 1.5;
    font-weight: bold;
    margin: 0 15px 10px 0;
    padding: 0px 10px 5px;
  }

  .on-sale {
    background: @color1;
    color: @colorw;
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px;
  }

  .cost-note {
    line-height: 1.2;
  }

  .form-add-cart {
    display: inline-block;
    .quantity-wrap {
      display: inline-block;
      margin: 15px 15px 0 0;
      vertical-align: top;
    }
    input.product-quantity {
      border: 1px solid @color1;
      border-radius: 0;
      display: inline-block;
      float: left;
      height: 35px;
      padding: 3px 10px;
      vertical-align: top;
      width: 70px;
    }
    .btn-quantity {
      background: @color1;
      border: 1px solid @color1;
      color: @colord;
      font-size: 25px;
      float: left;
      height: 35px;
      padding: 0;
      text-align: center;
      vertical-align: top;
      width: 35px;
      &.btn-minus {
        border-right: none;
        border-radius: 4px 0px 0px 4px;
        color: @colorw;
        font-size: 20px;
        font-weight: bold;
      }
      &.btn-plus {
        border-left: none;
        border-radius: 0 4px 4px 0;
        color: @colorw;
        font-size: 20px;
        font-weight: bold;
      }

      &:hover {
        background: @colord;
        color: @color1;
      }
    }
  }


} // cart buttons










// ##############################################################################
// ##############################################################################
// RWD




@media only screen and (min-width: @site-width-1-bp) {

  .site-width-centered .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}//rwd
