


.payment-success {
  background: @colorw;
  color: @colord;
  padding: 10px 30px 100px;

  h4 {

  }

  .thankyou {
    font-size: @fsb * 1.3;
  }

  .offline-box {
    border: 2px solid @color2;
    h3 {
      background: @color2;
      color: @colorw;
      font-size: @fsb * 0.9;
      margin: 0;
      padding: 10px 20px;
    }
    .content {
      padding: 10px 20px;
    }
  }

  .order-details {
    border-bottom: 1px dashed @color2;
    margin-bottom: 10px;
    padding-bottom: 15px;
  }

  .postal-warning {
    color: #c00;
  }
  .postal-warning2 {
    color: #800;
  }



}//payment-success
