{{ if gvcustomshop:gs_shop_off }}
  {{ if gvcustomshop:gs_shop_off_message }}
  <div class="shop-off-message">
    {{ gvcustomshop:gs_shop_off_message | markdown }}
  </div>
  {{ /if }}
{{ else }}
<form class="add-to-cart-form">
  <input type="hidden" name="_token" value="{{ csrf_token }}">
  <input type="hidden" name="itemid" value="{{ id }}">
  <input type="hidden" name="name" value="{{ title }}">

  {{ if options }}
  <div class="product-options">
    <h4 class="section-heading"><strong>Options</strong></h4>
  {{ options }}
  {{ if type == "options_set" }}
    <div class="options-set">
      {{ option_name }}:<br>
      <select name="{{ option_name }}">
        {{ option_items }}
        <option {{ if option_select }}selected{{ /if }} value="{{ option_value }}" {{ unless gvcustomshop:gs_hide_prices }}data-price="{{ option_price }}{{ /if }}">{{ option_value }} {{ unless gvcustomshop:gs_hide_prices }}{{ if option_display_price }} {{ option_display_price }} {{ elseif option_price }}- ${{ if option_price > 0 }}+{{ /if }}{{ option_price }}{{ /if }}{{ if option_price_original }}- ${{ price format_number='2|.|' }}{{ /if }}{{ /if }}</option>
        {{ /option_items }}
      </select><br>
    </div>
    {{ /if }}
  {{ /options }}
  </div>
  {{ /if }}

  {{ unless disallow_purchase }}
    {{ if quantity > 0 }}
      <input type="hidden" name="price" value="{{ price }}">
      <div class="qty">
        <span class="text">Quantity</span> <input type="number" min="{{ min_order }}" name="quantity" value="1"><br>
      </div>
      {{ if purchase_type == "both" }}
        <input type="submit" class="btn-add-to-cart" value="{{ gvcustomshop:add_to_cart_text }}">
        {{#<button type="button" class="btn-product-subscribe" data-toggle="modal" data-target="#modal-product-subscribe">OR SUBSCRIBE</button>#}}
        <a href="{{ product_subscription_link }}" class="btn-product-subscribe">OR SUBSCRIBE</a>
      {{ else }}
      <input type="submit" class="btn-add-to-cart" value="{{ gvcustomshop:add_to_cart_text }}">
        {{ unless gvcustomshop:gs_hide_prices }}
        <a class="btn-buy-now" href="/checkout/{{ payamic:getPaymentStr amount='{price}' desc='{title}' item_id='{id}' }}">Buy Now</a>
        {{ /if }}
      {{ /if }}
    {{ /if }}
  {{ /if }}

</form>
{{ /if }}