{{ if gvcustomshop:dynamic_cart }}
<div id="cs-cart-popout" class="cs-cart-popout">
  <div id="btn-close-modal" class="close-cs-cart-popout">
    <img class="img-responsive" src='{{ theme:asset src="img/icon-burger-close-thick.svg" }}' alt="Close Menu">
  </div>
  <div class="animated-modal-content">

    <div class="cart-contents" id="">

{{ partial:custom-shop/cart-popout-content }}

    </div>

  </div>
</div>
{{ /if }}

<div class="cart-toast hidden">
  <div class="close-toast"> <i class="fa fa-times"></i> </div>
  <div class="toast-message" id="cart-message"></div>
</div>

{{ payamic:cart }}
<a href="/checkout/{{ payamic:getPaymentStr amount='cart' desc='Cart Payment' item_id='cart' }}"
  class="cart-has-items-checkout"> <i class="fa fa-shopping-cart"></i>&nbsp; Checkout &nbsp;<i
    class="fa fa-arrow-right"></i> </a>
{{ /payamic:cart }}
