{{ payamic:cart }}
<div class="cart-header">
  <h4>Shopping Cart</h4>
</div>

{{ if no_items }}
<div class="cart-empty text-center">
  <div class="text-center">
    <p class="lead">Your shopping cart is empty. <a href="/">Go Shopping</a></p>
  </div>
</div>
{{ else }}
<div class="cart-inner">
  {{ items }}
  <div class="cart-item clearfix">
    <div class="image-wrapper">
      <img class="img-responsive"
        src="{{ get_content from='{itemid}' }}{{ assets:product_images limit='1' }}{{ glide:url width='65' height='65' fit='crop_focal' }}{{ /assets:product_images }}{{ /get_content }}">
    </div>
    <div class="item-details">
      <a class="cart-title" href="{{ get_content from='{itemid}' }}{{ url }}{{ /get_content }}">
        {{ name | ucfirst }}</a>
      {{ fields }}
      {{ field_name | ucfirst }}: {{ field_value }}<br>
      {{ /fields }}
      {{ unless gvcustomshop:gs_hide_prices }}
      <span class="cart-price">${{ price format_number='2|.|' }}</span>
      {{ /if }}
      <div class="cart-qty">
        <input type="number" name="quantity" class="cart-quantity" value="{{ quantity }}" data-id="{{ cid }}"
          data-qty="{{ quantity }}" required min="0">
      </div>
    </div>
  </div>
  {{ /items }}
</div>
{{ /if }}
<div class="cart-footer">
  <a class="btn-empty" href="/!/Payamic/empty-cart">Empty Cart</a> &nbsp;<span class="divider">|</span>&nbsp;
  <a class="view-full-cart" href="/cart">View Full Cart</a>
  {{ unless gvcustomshop:gs_hide_prices }}
  <div id="cart-total">
    <h4>Subtotal: $<span>{{ total format_number='2|.|' }}</span></h4>
  </div>
  <div class="note">Shipping & taxes calculated at checkout</div>
  {{ /if }}
  <a class="btn-checkout"
    href="/checkout/{{ payamic:getPaymentStr amount='cart' desc='Cart Payment' item_id='cart' }}">{{ if gvcustomshop:gs_hide_prices }}Get Quote {{ else }} Checkout {{ /if }}</a>
</div>
{{ /payamic:cart }}
