<div class="cs-mega-menu container-fluid">
  <div class="row">
{{ gvcustomshop:cs_mega_menu }}
      <div class="col-md-2 cs-mm-item">
        {{ if text }}
        <h2><a href="{{ link }}">{{ text }}</a></h2>
        {{ /if }}
        {{ nav_sets }}
        <div class="cs-mm-child all-primary-{{ all_primary }}">
          <a href="{{ link }}">{{ text }}</a>
        </div> 
        {{ /nav_sets }}
      </div>
{{ /gvcustomshop:cs_mega_menu }}
  </div>
</div>