<div class="list-products list-categories site-width-centered page-content-padding">
  <div class="container-fluid">
    <div class="row row-ehc">
      {{ posts }}
      <div class="col-xs-12 col-sm-6 col-md-3 col-item">
        <div class="item-wrapper">
          <a class="item-link" href="{{ url }}">
            <div class="image-wrapper">
              {{ if taxonomy_img }}
              <img class="img-responsive lazyload" data-src="{{ glide:taxonomy_img width="750" height="750" fit="{gvcustomshop:category_list_image_crop}" }}">
              {{ else }}
              <div class="image-placeholder-280-180"></div>
              {{ /if }}
            </div>
          </a>
          <h3 class="category-title dni"> <a href="{{ url }}">{{ title }}</a> </h3>
        </div>
      </div>
      {{ /posts }}
    </div>
  </div>
</div>