{{ if gvcustomshop:allow_sorting }}
<br>
<div class="row">
  <div class="col-md-12">
    <div class="clearfix">
      <div class="product-sort-button">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort Products
          <span class="caret"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dLabel">
          <a href="">Featured</a>
          <a href="{{ url }}?sort=price:asc">Price, low to high</a>
          <a href="{{ url }}?sort=price:desc">Price, high to low</a>
          <a href="{{ url }}?sort=order:desc">Newest</a>
          <a href="{{ url }}?sort=order:asc">Oldest</a>
          <a href="{{ url }}?sort=title">Alphabetical</a>
          <a href="">Best Selling</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{ /if }}