<div class="col-xs-12 col-sm-6 col-md-{{ gvcustomshop:product_list_qty }} col-item">
  <div class="item-wrapper">
    <a href="{{ url }}" class="item-link">
      <div class="image-wrapper image-crop-{{ gvcustomshop:product_list_image_crop }}">
        {{ if product_images }}
        {{ assets:product_images limit="1" }}
        {{ if gvcustomshop:product_list_image_crop == "crop_focal" }}
        <img class="img-responsive lazyload"
          data-src="{{ glide:url width="450" height="320" fit="{gvcustomshop:product_list_image_crop}" }}">
        {{ else }}
        <img class="img-responsive lazyload"
          data-src="{{ glide:url width="280" height="180" fit="{gvcustomshop:product_list_image_crop}" }}">
        {{ /if }}
        {{ /assets:product_images }}
        {{ else }}
        <div class="image-placeholder-280-180"></div>
        {{ /if }}
      </div>
    </a>
    <h3 class="product-title"><a href="{{ url }}">{{ title }}</a></h3>
    {{ unless gvcustomshop:gs_hide_prices or product_hide_price }}
    <div class="display-price">
      {{ if price_text_pre }} <span class="price-pre-text">{{ price_text_pre }}</span>
      {{ /if }}${{ price format_number='2|.|' }}
      {{ if regular_price and price != regular_price }} <span
        class="price-strike">${{ regular_price format_number='2|.|' }}</span>{{ /if }}
    </div>
    {{ /if }}
    {{ if product_excerpt }}
    <div class="product-excerpt">{{ product_excerpt }}</div>
    {{ /if }}
    {{ unless gvcustomshop:hide_all_buttons }}
    <div class="product-buttons global-hide-add-cart-{{ gvcustomshop:hide_add_cart }} product-hide-add-cart-{{ product_hide_add_cart }} clearfix">

      {{ if gvcustomshop:hide_add_cart or product_hide_add_cart }}
      {{ elseif product_change_add_cart }}
      <a class="btn dni" href="{{ url }}">{{ product_change_add_cart }}</a>
      {{ else }}
      <a class="btn add-cart-button add-to-cart dni"
        href="/!/Payamic/add-to-cart?itemid={{ id }}&quantity=1">{{ gvcustomshop:add_to_cart_text }}</a>
      {{ /if }}
      
      <a class="btn view-product-button dni" href="{{ url }}">View</a>
    </div>
    {{ /if }}
  </div>
</div>
