
<div class="site-width-centered">

  <div class="container-fluid">
    <div class="row">

  {{ get_content from="{var:pagerefer}" }}

    {{ var:producttitle }}{{ title }}{{ /var:producttitle }}
    {{ var:productprice }}{{ price }}{{ /var:productprice }}
    {{ var:producturl }}{{ url }}{{ /var:producturl }}

      <div class="col-md-12">
        <br>
        <a href="{{ url }}"> <i class="fa fa-angle-left"></i> &nbsp; Back to {{ title }}</a>
        <br> <br>
      </div>
      <div class="col-md-12">
        <h3>Start a Subscription for: <a href="{{ url }}">{{ title }}</a> </h3>
    {{ if product_images }}
      {{ assets:product_images limit="1" }}
        <div class="shipping-image">
          <img src="{{ glide:url width="130" height="130" fit="max" }}" />
        </div>
        <br>
      {{ /assets:product_images }}
    {{ /if }}
      </div>

  {{ /get_content }}
    </div>
  </div>

</div>
