

.custom-form-wrapper {
  background-color: @cf-bg-light;

  .custom-form-content-wrapper {
    background: @colorw;
    border: 1px solid @cf-color1;
    .box-shadow(0 5px 5px fade(@colorb,20%));
    padding: 20px 30px 30px;
    .cf-padding;

  }

  &.color-one {
    background-color: @cf-bg-one;
  }
  &.color-mid {
    background-color: @cf-bg-mid;
  }
  &.color-dark {
    background-color: @cf-bg-dark;
  }
  &.color-black {
    background-color: @colorb;
  }
  &.color-white {
    background-color: @colorw;
  }
  &.tile-one {
    background-image: url('/site/themes/site/partials/custom-form/img/cf-bg.png');
  }
  &.tile-two {
    background-image: url('/site/themes/site/partials/custom-form/img/cf-bg2.png');
  }
  &.tile-three {
    background-image: url('/site/themes/site/partials/custom-form/img/cf-bg3.png');
  }



  &.has-bg {
    background-repeat: repeat;
    background-position: center top;
    position: relative;

    .form-header {
      position: relative;
      z-index: 20;
    }
    .custom-form-content-wrapper {
    //  background: fade(@colorw,80%);
      position: relative;
      z-index: 20;
    }

    &.bg-dark {
      .custom-form-content-wrapper {
      //  border-color: fade(@colorw,30%);
        border-top: none;
      }
    }
    &.bg-light {

      &:before {
        .overlay-light;
        opacity: .4;
      }

    }

    &:before {
      .overlay-dark;
      opacity: .4;
    }

    //overlay opacity overrides
    &.opacity-1 {
      &:before {
        opacity: .1;
      }
    }
    &.opacity-2 {
      &:before {
        opacity: .2;
      }
    }
    &.opacity-3 {
      &:before {
        opacity: .3;
      }
    }
    &.opacity-4 {
      &:before {
        opacity: .4;
      }
    }
    &.opacity-5 {
      &:before {
        opacity: .5;
      }
    }
    &.opacity-6 {
      &:before {
        opacity: .6;
      }
    }
    &.opacity-7 {
      &:before {
        opacity: .7;
      }
    }
    &.opacity-8 {
      &:before {
        opacity: .8;
      }
    }
    &.opacity-9 {
      &:before {
        opacity: .9;
      }
    }

    &.opacity-0 {
      &:before {
        opacity: 0;
      }
    }


  }// has bg




}//cf wrapper
