

  .btn-cf-submit {
    background: @cf-color2;
    border: 1px solid @cf-color2;
    border-radius: 0;
    color: @colorw;
    display: inline-block;
    font-size: @fsb * 1.2;
    margin-top: 15px;
    padding: 12px 20px;
    .transition(.5s padding);

    .fa {
      .transition(.5s padding);
    }

    &:hover, &:focus, &:active {
      background: none;
      border-color: @cf-color2;
      color: @cf-color2;
      .fa {
        .cf-icon-hover;
      }
    }
  }


.btn-cf-one {
  background: @cf-color2;
  border: 1px solid @cf-color2;
  border-radius: 0;
  color: @colorw;
  display: inline-block;
  font-size: @fsb * 1;
  margin: 0 0 5px 0;
  padding: 6px 20px;
  .transition(.5s padding);

  .fa {
    .transition(.5s padding);
  }

  &:hover {
    background: none;
    border-color: @cf-color2;
    color: @cf-color2;

    .fa {
      .cf-icon-hover;
    }
  }
    @media only screen and (max-width: 767px) {



    }//rwd
}




.custom-form {

// UPLOAD
//================================================================================================
  .btn-upload {
    background: @cf-color1;
    color: @colorw;
    width: 120px;
  }



}//custom form
