
@cf-color1: @colord;
@cf-color2: @color1;
@cf-color3: @color2;

@cf-bg-one: @color1;
@cf-bg-light: #97a7b4;
@cf-bg-mid: #5D7589;
@cf-bg-dark: mix(@colorb,#5D7589,30%);

@cf-color-error: #900;
@cf-color-success: green;

@cf-group-border: #bbb;

@cf-bp-lg: 1250px;
@cf-bp-md: 992px;
@cf-bp-sm: 768px;
@cf-bp-xs: 580px;

@import "mixins.less";
@import "index.less";
@import "type.less";
@import "reveal.less";
@import "price.less";
@import "style.less";
@import "payment.less";
@import "stripe.less";
@import "message.less";
@import "buttons.less";
@import "sets.less";
@import "modals.less";
@import "instructions.less";
@import "nav.less";
@import "bg.less";
@import "submit.less";
@import "utilities.less";
@import "inputs.less";
@import "subscriptions.less";
@import "random.less";
@import "duplicate.less";
@import "col.less";
@import "heading.less";
@import "fieldset.less";
@import "form-saver.less";

@import "override.less";
