
.custom-form {




// page dupes

.cf-page-duplicated-page {
  border: 3px solid @cf-color1;
  padding: 4px 12px;
}

.cf-page-duplicate-heading {
  color: @cf-color1;
  font-size: @fsb * 1.7;
  font-weight: bold;
  margin: 0 0 10px -20px;
  padding: 10px 20px;
}

.cf-page-duplicate-btn-wrapper {
  background: @cf-color1;
  margin-bottom: 70px;
  padding: 20px 16px;

  .note {
    color: @colorw;
    font-size: @fsb * 0.9;
    margin: 15px 0 0;
  }
}

.cf-page-duplicate-btn {
  display: inline-block;

  .pseudo-btn {
    background: @cf-color1;
    border: 1px solid @colorw;
    color: @colorw;
    cursor: pointer;
    display: inline-block;
    font-size: @fsb * 1.15;
    font-weight: bold;
    padding: 15px 20px;
    .transition(.6s all);

    &:hover {
      background: @cf-color2;
    }


  }
}


.cf-page-duplicate-remove {
  background: fade(@colorw,70%);
  border: 1px solid @cf-color-error;
  color: @cf-color-error;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: @fsb * 1;
  font-weight: bold;
  margin: 3px 0 0;
  padding: 15px 20px;
  .transition(.6s all);

  &:hover {
    background: @colorw;
  }

}




// fieldset dupes

fieldset.has-duplicates {

  .cf-duplicate-remove {
    border: 1px solid @cf-color-error;
    border-radius: 100px;
    color: @cf-color-error;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    text-align: center;
    width: 30px;
  }

}//


  .fieldset-duplicate-button, {
    display: inline-block;
    margin-top: 30px;
    .cf-fieldset-margin;

    .pseudo-btn {
      background: @colorw;
      border: 1px solid @cf-color2;
      border-left-width: 7px;
      color: @cf-color2;
      cursor: pointer;
      display: inline-block;
      padding: 10px 20px;
      .transition(.6s all);

      &:hover {
        border-left-width: 12px;
      }

    }
  }


.fieldset-heading-duplicate {
  background: mix(@colorw,@cf-color1,90%);
  border-bottom: none;
  margin: -30px -30px 10px;
  padding: 10px 30px;
  @media only screen and (max-width: @cf-bp-sm) {
    margin: -30px -15px 10px;
  }
  @media only screen and (max-width: @cf-bp-xs) {
    margin: -30px -10px 10px;
  }
}



}//cf
