

.custom-form {




  h3.fieldset-heading {
    background: @cf-color1;
    border: 1px solid mix(@colorw,@cf-color1,30%);
    border-bottom: none;
    color: @colorw;
    font-size: @fsb * 1.6;
    font-weight: 600;
    margin: 10px 0 0;
    padding: 10px;
    .cf-padding;
  }

  fieldset {
    background: @colorw;
    border: 1px solid mix(@colorw,@cf-color1,30%);
    .box-shadow(0 5px 5px fade(@colorb,20%));
    margin: 0;
    .cf-fieldset-margin;
    padding: 30px;
    .cf-padding;

    .container-fluid {
      padding: 0;
    }

    &.has-duplicates {
      margin-bottom: 0;
    }

  }





}//cf
