

.custom-form-wrapper {


  .btn-form-save-warning {
    background: fade(@colorw,10%);
    color: fade(@cf-color1,60%);
    margin: 0 0 20px;
  }


  .form-save-warning {
    background: @colorw;
    color: @cf-color-error;
    font-size: @fsb * 1;
    line-height: 1.7;
    margin: 0 0 30px;
    padding: 15px 20px 10px;
    position: relative;

    .form-save-off {
    //  border: 1px dashed @cf-color1;
      color: @cf-color1;
      display: inline-block;
      margin: 5px 0 0;
      padding: 1px 15px 1px 1px;

      span {
        padding-left: 10px;
      }

      button {
        background: @cf-color1;
        border: 1px solid @cf-color1;
        color: @colorw;
        font-size: @fsb * 1;
        margin: 10px 0;
        padding: 6px 15px;
        .transition(.5s all);

        &:hover {
          background: @colorw;
          color: @cf-color1;
        }
      }
    }

    .section-close {
      bottom: 5px;
      cursor: pointer;
      position: absolute;
      right: 10px;
    }

  }// form save


}//wrapper
