

.custom-form-wrapper {

// form heading
  .form-heading {
    background: @cf-color1;
    border: 1px solid @cf-color1;
    color: mix(@colorw,@cf-color1,93%);
    font-size: @fsb * 1.7;
    margin: 0;
    padding: 25px 20px;
    text-align: center;
    text-transform: uppercase;

  }

  &.bg-dark {
    .form-heading {
    //  border: 1px solid fade(@colorw,40%);
      border-bottom: none;
    }
  }
  &.bg-light {
    .form-heading {
    //  border: 1px solid @cf-color1;
      border-bottom: none;
    }
  }


}// cf wrapper






.custom-form {



// section heading

  h2.section-heading {
    background: @cf-color2;
    color: @colorw;
    margin: 20px 0;
    padding: 20px;
    .cf-padding;
    text-transform: uppercase;
    &.has-content {
      margin-bottom: 0;
    }
  }
  .section-heading-content {
    background: @colorw;
    border: 1px solid @cf-color2;
    margin: 0 0 20px;
    padding: 20px;

    h1,h2,h3,h4,h5 {
      margin: 5px 0 10px;
    }
    .content {
      &.kind-highlight {
        .kind-highlight-mixin;
        border-style: dashed;
      }
      &.kind-warning {
        .kind-warning-mixin;
        border-style: dashed;
        .icon {
          display: inline-block;
          left: auto;
          position: relative;
          top: auto;

          float: left;
          margin: 0 20px 20px 0;
        }
      }
    }
  }



}//cf
