

.custom-form {

  .form-group {
    border-bottom: 1px dashed @cf-group-border;
    padding-bottom: 15px;
    &.no-border {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  .input-group-addon {
    background: @cf-color1;
    border-color: @cf-color1;
    color: @colorw;
  }
  .hidden-textarea {
    border-bottom: 1px dashed @cf-group-border;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  .form-control {
    background: @colorw;
    border: 1px solid @cf-color1;
    border-left-width: 7px;
    border-radius: 0;
    .box-shadow(0 2px 2px fade(@colorb,15%));
    color: @cf-color1;
    position: relative;
    .transition(.2s all);

    &:active,&:hover {
      border-color: @cf-color2;
      border-width: 1px;
    }
    &:before {

    }
    &.no-border {
      border-left-width: 1px;
    }
    &.no-hover {
      &:active,&:hover {
        border-color: @cf-color1;
        border-width: 1px;
      }
    }
  }

  .select-wrapper {
    border-bottom:  1px dashed @cf-group-border;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  label {
    color: @cf-color1;
    font-size: @fsb * 1.2;
    font-weight: 600;
    &.smaller {
      font-size: @fsb * 1;
      font-weight: 400;
      color: mix(@colorw,@cf-color1,10%);
    }
  }
  .is-required {
    color: @cf-color-error;
    font-size: @fsb * 0.9;
  }



}//form user
