
.custom-form {

  .field-instructions {

    h1,h2,h3,h4,h5 {
      margin: 5px 0 10px;
    }

    h1 {
      font-size: @fsb * 1.8;
      font-weight: 600;
      color: @cf-color2;
    }
    h2 {
      font-size: @fsb * 1.6;
      font-weight: 300;
      color: @cf-color1;
    }
    h3 {
      font-size: @fsb * 1.4;
      font-weight: 600;
      color: @cf-color1;
    }
    h4 {
      font-size: @fsb * 1.2;
      font-weight: 300;
      color: @cf-color1;
    }

    &.kind-highlight {
      .field-instructions-normal {

        .kind-highlight-mixin;

        p:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
    &.kind-warning {
      .field-instructions-normal {

        .kind-warning-mixin;

        p:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }

  }//

  .field-instructions-detail {
    .content {
      background: @colorw;
      border: 1px solid @cf-color1;
      border-left: 7px solid @cf-color1;
      margin: 0 0 10px;
      padding: 10px 10px 20px 10px;
      position: relative;
      .close {
        bottom: 0;
        color: @cf-color-error;
        position: absolute;
        opacity: 1;
        right: 0;
      }
      .arrow {
        .after-arrow-bottom(@cf-color1,8px,-8px,20px,auto);
      }
    }

    .btn-instructions-detail {
      background: @cf-color1;
      border-radius: 4px;
      color: @colorw;
      font-size: @fsb * 0.95;
      margin: 0 0 5px;
      padding: 3px 6px;

      .icon {
        left: -21px;
        padding-top: 3px;
        position: absolute;
        top: 0;
      }

    }

    &.kind-highlight {
      .btn-instructions-detail {
        border-left: 30px solid @cf-color2;
        position: relative;
      }
      .content {
        .kind-highlight-mixin;
      }
    }
    &.kind-warning {
      .btn-instructions-detail {
        border-left: 30px solid @cf-color-error;
        position: relative;
      }
      .content {

        .kind-warning-mixin;
      }
    }
  }


}
