
.custom-form {


  label.error {
    background: @colorw;
    border: 1px solid @cf-color-error;
    border-left-width: 7px;
    display: inline-block;
    font-weight: bold;
    color: @cf-color-error;
    margin-top: 4px;
    padding: 2px 8px;
    position: relative;
    &:before {
      // color, size, position, left, right
      .after-arrow-top(@cf-color-error, 7px, -7px, 7px, auto);
    }
    &.valid {
      &:before {
        display: none;
      }
    }
  }

  .radio-wrapper, .checkbox-wrapper {
    label.error {
      display: block;

    }
  }

  .input-group {
    label.error {
      margin-left: 10px;
      margin-top: 50px;
    }
    &.error-no-margin {
      label.error {
        margin-top: 10px;
      }
    }
  }


}//cf





.cf-message {
  border: 1px solid #999;
  color: #666;
  margin: 20px 0;
  padding: 10px 20px 20px;
  position: relative;
  .heading {
    margin-top: 13px;
  }
  .fa {
    color: @colorw;
    font-size: @fsb * 3;
    left: -70px;
    position: absolute;
    top: 30px;
  }
  ul li {
    margin-bottom: 10px;
  }

  a {
    text-decoration: underline;
  }

  &.is-error {
    color: @cf-color-error;
    border: 1px solid @cf-color-error;
    border-left: 100px solid @cf-color-error;
    h1, h2, h3, h4 {
      color: @cf-color-error;
      margin: 10px 0;
    }
  }

  &.is-success {
    border: 1px solid @cf-color-success;
    border-left: 100px solid @cf-color-success;
    color: @cf-color1;

    h1, h2, h3, h4 {
      color: @cf-color-success;
      margin: 10px 0;
    }
  }


}//cf message




@media only screen and (max-width: 600px) {

  .cf-message {

    border: 1px solid #999;
    color: #666;
    margin: 20px 0;
    padding: 10px 20px 20px;
    position: relative;
    .heading {
      margin-top: 13px;
    }
    .fa {
      font-size: @fsb * 1.7;
      left: auto;
      position: relative;
      top: auto;
    }


    &.is-error {
      border-left: 10px solid @cf-color-error;
      .fa {
        color: @cf-color-error;
      }
    }

    &.is-success {
      border-left: 10px solid @cf-color-success;
      .fa {
        color: @cf-color-success;
      }
    }


  }//message

}//rwd
