

.text-cf-success {
  color: @cf-color-success;
}

.cf-padding {
  padding-left: 30px;
  padding-right: 30px;
    @media only screen and (max-width: @cf-bp-sm) {
      padding-left: 15px;
      padding-right: 15px;
    }
    @media only screen and (max-width: @cf-bp-xs) {
      padding-left: 10px;
      padding-right: 10px;
    }
}


.cf-fieldset-margin {
  margin-bottom: 50px;

    @media only screen and (max-width: @cf-bp-sm) {
      margin-bottom: 30px;
    }
}


.cf-icon-hover {
  padding-left: 15px;
  @media only screen and (max-width: @cf-bp-sm) {
    padding-left: 0;
  }
}

// text style mixins
.kind-highlight-mixin {
  border: 1px solid @cf-color2;
//  border-left-width: 7px;
  color: @cf-color2;
  display: block;
  margin-bottom: 10px;
  padding: 10px;

  h1,h2,h3,h4,h5 {
    color: @cf-color2;
    margin: 10px 0;
  }
}
.kind-warning-mixin {
  border: 1px solid @cf-color-error;
//  border-left-width: 7px;
  color: @cf-color-error;
  display: block;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  position: relative;

  h1,h2,h3,h4,h5 {
    color: @cf-color-error;
    margin: 10px 0;
  }


  .icon {
    background: @cf-color-error;
    display: none;
    left: 0;
    padding: 1px 6px;
    position: absolute;
    top: 0;
    .fa-warning {
      color: @colorw;
    }
  }

}


.kind-highlight-alone {
  .kind-highlight-mixin;
}
.kind-warning-alone {
  .kind-warning-mixin;
}
