
// Clear Form ================================================
// ===========================================================
  .modal-custom-form-delete {
    .modal-body {

      .modal-message {
        border: 2px solid @cf-color-error;
        color: @cf-color-error;
        padding: 15px;
        .fa-times {
          display: block;
        }
      }

      .btn-clear {
        background: @cf-color-error;
        color: @colorw;
      }
    }

  }//modal
