

.custom-form {


// TABS ===================================================================
// ========================================================================
  .custom-form-tabs {

    //override
    .tab-pane {
      outline: 0;
    }

    .nav {
      background: @cf-color2;
      margin: 0 0 20px;
      padding: 5px 5px 0;
      li {
        display: inline-block;
        .item {
          background: ;
          border: 1px solid @colorw;
          color: @colorw;
          cursor: pointer;
          display: inline-block;
          margin: 0 0 5px;
          padding: 10px 20px;
          .transition(.5s all);

           &:active, &:focus {
             background: none;
             color: @colorw;
           }
          &:hover {
            background: @colorw;
            color: @cf-color2;
          }
        }

        &.active {
          .item {
            background: @colorw;
            color: @cf-color2;
            font-weight: 600;
          }
        }
      }
    }
  }//cf tabs



// PREV NEXT ===================================================================
// ========================================================================
  .prev-next {
    border-top: 1px dashed @cf-group-border;
    margin: 50px 0 30px;
    padding-top: 30px;
    .btn {
      background: @cf-color2;
      color: @colorw;
      font-size: @fsb * 1.2;
      padding: 10px 20px;
      text-transform: uppercase;

      &.btn-next {
        float: right;
      }
    }
  }

}//cf


// PROGRESS NAV ===================================================================
// ========================================================================


body.cf-bottom {
  .custom-form {
    .form-progress {
      .form-data-saved, .form-total-progress {
        bottom: auto;
        left: auto;
        position: relative;
      }
    }
  }
}



.custom-form {

  .form-progress {
    margin-top: 30px;

    .form-save-status {
      min-height: 60px;
    }

    .form-data-saved {
      background: @cf-color-success;
      border: 1px solid @cf-color-success;
      color: @colorw;
      display: inline-block;
      margin: 10px 0 0;
      padding: 10px 20px;
      .transition(.5s all);
      z-index: 9999;

      bottom: 3px;
      left: 3px;
      position: fixed;
    }
    .form-data-deleted {
      border: 1px solid @cf-color-error;
      color: @cf-color-error;
      display: inline-block;
      margin: 10px 0 0;
      padding: 10px 20px;
    }


    .btn {
      background: #ccc;
      color: @cf-color1;
      margin-bottom: 5px;
      text-transform: uppercase;

      &.btn-save {
        background: @cf-color-success;
        color: @colorw;
      }

      &.btn-clear {
        background: @cf-color-error;
        color: @colorw;
      }
    }

    .form-total-progress {
      background: @cf-color-success;
      color: @colorw;
      cursor: default;
      display: inline-block;
      float: right;
      padding-left: 75px;
      position: relative;
      .transition(.5s all);

      bottom: 3px;
      right: 3px;
      position: fixed;

      .icon {
        background: @cf-color1;
        height: 100%;
        left: 0;
        font-size: @fsb * 1;
        padding-top: 6px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 65px;
      }
    }


          @media only screen and (max-width: @cf-bp-sm) {

            .btn {

            }

            .form-total-progress {
              float: none;

            }

          }//rwd
  }// progress nav




}// custom form
