
// override




.custom-form-wrapper {

  margin: 0;

  .form-heading {
    background: @cf-color2;
    border-color: @cs-color2;
  }

  .custom-form-content-wrapper {
    border-color: @cs-colorg;
  }

}


.custom-form {

  h3.fieldset-heading {
    background: @cs-colorg-light;
    border: 1px solid @colorg;
    color: mix(@colorb,@cf-color2,20%);
    font-size: @fsb * 1.3;
  }

  fieldset {
    border-color: @cs-colorg;
    box-shadow: 0 5px 5px @cs-colorg-light;
  }

  .form-group {
    border-bottom-color: @cs-colorg-light;
    margin-bottom: 4px;
    //padding-bottom: 8px;

    border-bottom: none;
  }

  .form-control {
    border-color: @cs-colorg;
    box-shadow: 0 2px 2px @cs-colorg-light;
    height: auto;
    padding: 8px 15px;

    &.no-border {
      box-shadow: none;
    }
  }

  .input-group-addon {
    background: @cs-colorg;
    border-color: @cs-colorg;
    color: @cs-colord;
  }

  label {
    color: mix(@colorb,@cf-color2,40%);
    font-size: @fsb * 1.1;
    font-weight: 400;
  }

  .cf-payment-payments {
    .total-amount {
      background: @cf-color2;
    }
  }

  .credit-card-details {
    fieldset {
      .stripe {
        .form-group {
          background: @color-success;
          color: @colorw;
          margin-bottom: 20px;
          padding: 15px 15px 0;
          label {
            color: @colorw;
            font-weight: bold;
          }
        }
        #card-errors {

          &.no-error {
            display: none;
            opacity: 0;
          }

          background: @colorw;
          border: 2px solid @color-error;
          color: @color-error;
          display: block;
          opacity: 1;
          font-weight: bold;
          margin: 10px 0 20px;
          position: relative;
          padding: 10px;

          .arrow {
            clip-path: polygon(50% 50%, 0 100%, 100% 100%);
            left: 20px;
            background-color: @color-error;
            width: 30px;
            height: 20px;
            position: absolute;
            top: -20px;
            z-index: 105;
          }

        }        
      }
    }
  }

  




}//cf 