

.payments-ssl-badge {
    border: 1px solid #56a43b;
    color: #56a43b;
    min-height: 85px;
    margin: 20px 0 0;
    padding: 10px 0 10px 90px;
    position: relative;
    .image {
      left: 5px;
      position: absolute;
      top: 5px;
      width: 70px;
    }
  }




.custom-form {

  .cf-payment-payments {

    .total-amount {
      background: @cf-color-success;
      padding: 15px 20px 20px;
      .input-group-addon {
        font-size: @fsb * 1.3;
        font-weight: 600;
      }
      input.display-total-amount {
        font-size: @fsb * 1.4;
        height: auto;
        padding: 5px 10px;
      }
      .field-label {
        color: @colorw;
      }
      .levy-note {
        color: @colorw;
        display: inline-block;
        margin: 10px 0 0;
      }
    }

    .total-amount-summary {
      margin: 30px 0 0;
      h4 {
        background: @cf-color2;
        color: @colorw;
        font-size: @fsb * 1;
        margin: 0;
        padding: 10px 20px;
      }

      .btn-show-summary {
        background: @cf-color-success;
        border-radius: 4px;
        color: @colorw;
        font-size: @fsb * 0.95;
        margin: 0 0 5px;
        padding: 3px 6px;
      }
      .content {
        background: @colorw;
        border: 2px solid @cf-color2;
        color: @cf-color2;
        line-height: 1.8;
        margin: 0 0 10px;
        min-height: 100px;
        padding: 10px 20px;
        position: relative;

        .price {
          color: @cf-color1;
          font-weight: bold;
          margin-left: 5px;

          &:before {
            content: "$";
            display: inline-block;
          }

          &.GBP {
            &:before {
              content: "£";
            }
          }
          &.EUR {
            &:before {
              content: "€";
            }
          }
        }

        .close {
          bottom: 0;
          color: @cf-color-error;
          position: absolute;
          opacity: 1;
          right: 0;
        }
      }
    }

    .gateways {

      .gateway {
        padding: 10px 0;
        label {
          cursor: pointer;
          display: inline;
          font-size: @fsb * 1;
        }
        input.do-reveal:checked + label .show-selection {
          display: inline-block;
          opacity: 1;
        }
        .show-selection {
          background: @cf-color-success;
          border-radius: 4px;
          color: @colorw;
          display: none;
          opacity: 0;
          height: 25px;
          margin: 0 0 0 5px;
          text-align: center;
          width: 25px
        }
        .name {
          background: @cf-color2;
          border-radius: 4px;
          color: @colorw;
          height: 25px;
          margin-left: 5px;
          font-weight: 600;
          padding: 1px 5px;

        }
      }
      .gateway-note {
        border: 1px solid @cf-color2;
        color: @cf-color2;
        margin: 15px 0;
        padding: 10px;
        &:after {
          .after-arrow-top(@cf-color2,8px,-8px,50px,auto);
        }
      }
    }

  }


.has-price {

}

  .price-unavailable {
    .psuedo {
      display: inline-block;
      opacity: 0.6;
      label {
        cursor: default;
        text-decoration: line-through;
      }
      .show-unavailable {
        color: @cf-color-error;
      }
    }
  }



    .purchase-custom-text {
      .form-group {
        margin-top: 7px;
      }
    }

  .option-price {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: @cf-color1;
    display: inline-block;
    font-size: @fsb * 1;
    font-weight: 600;
    height: 28px;
    line-height: 1.5;
    margin-right: 10px;
    padding: 1px 6px;
    vertical-align: top;
  }

  .option-inv {
    background: mix(@colorw,@cf-color2,30%);
    border: 1px solid @cf-color2;
    border-radius: 4px;
    color: @colorw;
    display: inline-block;
    font-size: @fsb * 0.9;
    font-weight: 600;
    height: 28px;
    line-height: 1.5;
    margin-right: 10px;
    padding: 1px 8px;
    vertical-align: top;
    text-transform: uppercase;
  }

  .purchase-multiple {
    margin: 10px 0 0;

    .form-group {
      border-bottom: none;
    }

    .option-price {

    }
    .option-instructions {
      font-size: @fsb * 0.97;
    }

    .quantity-wrap {
      display: block;
      margin: 0 15px 0 0;
      position: relative;
      top: -2px;
      vertical-align: top;


      @media only screen and (min-width: 992px) {
        display: inline-block;
      }//rwd

      input.purchase-quantity {
        border: 1px solid @cf-color1;
        border-radius: 0;
        display: inline-block;
        float: left;
        height: 32px;
        padding: 3px 10px;
        vertical-align: top;
        width: 70px;
      }
      .btn-quantity {
        background: @cf-color1;
        border: 1px solid @cf-color1;
        color: @cf-color1;
        font-size: 25px;
        float: left;
        height: 32px;
        padding: 0;
        text-align: center;
        vertical-align: top;
        width: 35px;
        &.btn-minus {
          border-right: none;
          border-radius: 4px 0px 0px 4px;
          color: @colorw;
          font-size: 19px;
          font-weight: bold;

        }
        &.btn-plus {
          border-left: none;
          border-radius: 0 4px 4px 0;
          color: @colorw;
          font-size: 19px;
          font-weight: bold;

        }

        &:hover {
          background: @cf-color1;
          color: @colorw;
        }
      }

    }// quantity wrap

}


}//custom form
