

.custom-form {


  // select reveal

  .reveal-if-selected {
    margin-top: 14px;
    .option-other-wrapper {
      position: relative;
      &:after {
        .after-arrow-top(#999,8px,-7px,20px,auto);
        .transition(1s all);
      }
    }
  }



  // other reveals

  .reveal-fieldset, .reveal-field {
    .reveal-if-active {
      opacity: 0;
      height: 0;
      overflow: hidden;
      .scale(0.8,0.8);
      .transition(0.5s);
    }
    input.do-reveal {
      &:checked ~ .reveal-if-active {
        opacity: 1;
        height: auto;
        overflow: visible;
        .scale(1,1);
      }
    }
  }

  .reveal-option {
    input[type=checkbox], input[type=radio] {
      margin-left: 0;
    }
    .reveal-if-active {
      opacity: 0;
      height: 0;
      overflow: hidden;
      .scale(0.8,0.8);
      .transition(0.5s);
    }
    input[type="radio"]:checked ~ .reveal-if-active,
    input[type="checkbox"]:checked ~ .reveal-if-active {
      opacity: 1;
      height: auto;
      overflow: visible;
      .scale(1,1);
    }
  }


}//form
