
.custom-form {

  .address-label-hr { 
    margin: 10px 0;
  }

  .radio-wrapper, .checkbox-wrapper, .purchase-multiple-wrapper {
    border: 1px dashed @cf-group-border;
    margin: 0 0 10px;
    padding: 10px 15px;
  }
  .option-instructions {
    font-weight: 100;
  }

  .break-set {
    text-align: center;
    .item {
      display: inline-block;
      width: 100%;
    }
  }



//



  .upload-set {
    border: 1px dashed @cf-group-border;
    margin: 0 0 10px;
    padding: 10px 15px;

    .file-upload {
      margin: 10px 0 0;
      span.btn {
        background: @cf-color2;
        color: @colorw;
        font-weight: bold;
        padding: 5px 16px;
      }
    }
    .divider {
      height: 1px;
      display: block;
    }
    .label-info {
      background: @cf-color1;
      font-size: @fsb * 0.9;
      margin-left: 15px;

    }

  }



//



  .payment-single-set {
    .checkbox, .radio {
      margin-bottom: 20px;
    }
  }


  .payment-multiple-set {

  }


//


  // Selectable and payment options

  .option-other-wrapper {

    &.reveal-field {
      .checkbox, .radio {
        .do-reveal {
          margin-left: 0;
        }
      }
    }

    .reveal-if-active {
      margin-top: 10px;
      &:after {
        .after-arrow-top(#999,8px,-7px,20px,auto);
        .transition(1s all);
      }
    }

    .form-group {
      border-bottom: none;
      padding-bottom: 0;
    }

    .option-other-fields {
      border: 1px solid #999;
      padding: 10px;
    }

    .checkbox, .radio {
      &.option-other {
        margin-bottom: 0;

      }
    }

  }

  .purchase-single {
    .option-other-wrapper {
      .option-other-fields {
        padding: 0 10px 5px;
      }
    }
  }

  .info-set {
    position: relative;

    a {
      text-decoration: underline;
    }

    &.kind-highlight {
      .kind-highlight-mixin;
    }
    &.kind-warning {
      .kind-warning-mixin;
    }

    h1,h2,h3,h4,h5 {
      &:first-child {
        margin-top: 0;
      }
    }

  }//set




}//custom form
