
.custom-form {

  .StripeElement {
    background-color: @colorw;
    border: 1px solid @cf-color1;
    border-left-width: 7px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 mix(@colorw,@colorb,60%);
    min-height: 40px;
    padding: 10px 12px;

    .transition(.5s all);
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 fade(@colorb,50%);
  }

  .StripeElement--invalid {
    border-color: @cf-color-error;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }


  .card-errors {
    color: @cf-color-error;
    margin-top: 10px;
  }

}
