

.custom-form-wrapper {

  margin: 50px 0 0;
  padding: 30px 0 100px;

  &.cf-in-col, &.no-margin {
    margin: 0;
  }

  .custom-form-wrapper-inner {
    position: relative;
    z-index: 20;
  }

  &.form-alignment-center {
    .custom-form-wrapper-inner {

      margin: 0 15%;
      max-width: 1080px;

      @media only screen and (min-width: (@site-width-1 + 30)) {
        margin: 0 auto;
      }

      @media only screen and (max-width: @cf-bp-lg) {
        margin: 0 7%
      }
      @media only screen and (max-width: @cf-bp-sm) {
        margin: 0 5%
      }
      @media only screen and (max-width: @cf-bp-xs) {
        margin: 0 3%;
      }


    }
  }

  &.form-alignment-, &.form-alignment-left {
    .custom-form-wrapper-inner {

      .site-width-centered;

      .custom-form-wrapper-inner-inner {
        padding-right: 20%;
      }

      @media only screen and (max-width: (@site-width-1 + 15)) {
        padding: 0 30px;
      }

      @media only screen and (max-width: 1150px) {
        .custom-form-wrapper-inner-inner {
          padding-right: 13%;
        }
      }

      @media only screen and (max-width: 997px) {
        .custom-form-wrapper-inner-inner {
          padding-right: 6%;
        }
      }

      @media only screen and (max-width: 767px) {
        padding: 0 15px;
        .custom-form-wrapper-inner-inner {
          padding-right: 0;
        }
      }

    }

    &.cf-in-col {
      @media only screen and (min-width: 992px) {
        .custom-form-wrapper-inner {
          padding-left: 30px;
        }
        .custom-form-wrapper-inner-inner {
          padding-right: 0;
        }
      }
      @media only screen and (max-width: 991px) {
        .custom-form-wrapper-inner {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }


  &:focus {
    outline: 0;
  }



}//wrapper
