
.custom-form-wrapper {

  .ajax-form-success {
    background: @colorw;
    padding: 10px 20px 30px;
    position: relative;

    .buttons {
      margin: 30px 0 0;

    }

    .gateway-info {
      border: 1px solid @cf-color-success;
      color: @cf-color-success;
      margin: 0 0 10px;
      padding: 10px 20px;

      h1,h2,h3,h4,h5 {
        color: @cf-color-success;
      }

      p:nth-last-child(1) {
        margin-bottom: 0;
      }

      a {
        color: @cf-color1;
        text-decoration: underline;
        &:hover {
          color: @cf-color2;
        }
      }

    }

  }//



}//cf
