


@media only screen and (min-width: 1px) {

  .site-width-centered {
    .custom-form {
      fieldset.container-fluid {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

}// rwd




body.submitting {
  .cf-submission-overlay {
    &.form-submit {
      display: block;
      height: auto;
      opacity: 1;
    }
  }
}

.cf-submission-overlay {
  background: @colorw;
  bottom: 0;
  color: @cf-color-error;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2000;

  h2 {
    color: @colorb;
  }
  .content {
    background: @colorw;
    max-width: 500px;
    position: absolute;
    padding: 20px 40px;
    .center-b;
  }

  &.form-submit {
    background: fade(@colorb,60%);
    display: none;
    height: 0;
    opacity: 0;
  }
}






// ##############################################################################
// ##############################################################################

// rwd



@media only screen and (max-width: 767px) {


.cf-submission-overlay {
  .content {
    max-width: 90%;
    position: relative;
    padding: 20px 15px;
    left: auto;
    top: auto;
    transform: none;
    margin-left: 5%;
    margin-top: 20vh;
    h2 {
      font-size: @fsb * 1.6;
    }
  }
}


}// rwd
