
//footer

.content-blocks{
  .block-cols {

    .has-col-footer {
      display: flex;
      flex-direction: column;

      .col-content {
        flex: 1;
      }
    }


    .col-footer {

      font-size: 95%;
      margin: 40px 0 0;
      padding: 20px 15px;
      position: relative;
      text-align: center;
      z-index: 10;

      @media only screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;

        &.has-image {
          .footer-text {
            margin-left: 20px;
            text-align: left;
          }
        }
      }

      h1,h2,h3,h4,h5,h6 {
        margin: 3px 0 8px;
      }

      .footer-text {
        :last-child {
          margin-bottom: 0;
        }
      }

      .footer-image {
        display: inline-block;
        min-width: 90px;
      }

      &.has-arrow-sm {
        padding: 30px 15px 25px;
      }
      &.has-arrow-md {
        padding: 40px 15px 25px;
      }
      &.has-arrow-lg {
        padding: 55px 15px 35px;
      }











    // ====== Footer Arrow

      .arrow {
        background-color: @colorw;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        position: absolute;
        top: -1px;
        .center-h;

        &.size-sm {
          width: 25px;
          height: 15px;
        }
        &.size-md {
          width: 45px;
          height: 25px;
        }
        &.size-lg {
          width: 60px;
          height: 35px;
        }

        &.color-white {
          background: @colorw;
        }
        &.color-dark {
          background: @colord;
        }
        &.color-black {
          background: @colorb;
        }
        &.color-grey {
          background: @colorg;         
        }
        &.color-warning {
          background: @color-error-dark;
        }
        &.color-one {
          background: @color1;
        }
        &.color-two {
          background: @color2;
        }
        &.color-three {
          background: @color3;
        }
        &.color-four {
          background: @color4;          
        }
        &.color-onedark {
          background: @color1-dark;
        }
        &.color-twodark {
          background: @color2-dark;
        }
        &.color-onelight {
          background: @color1-light;          
        }
        &.color-twolight {
          background: @color2-light;          
        }

      }// arrow 



    // ====== Footer BG COLOURS

      &.footer-bg-color-white {
        background: @colorw;
        color: @colord;
      }
      &.footer-bg-color-dark {
        background: @colord;
        color: @colorw;
      }
      &.footer-bg-color-black {
        background: @colorb;
        color: @colorw;
      }
      &.footer-bg-color-grey {
        background: @colorg;
        color: @colord;
      }
      &.footer-bg-color-warning {
        background: @color-error-dark;
        color: @colorw;
      }
      &.footer-bg-color-one {
        background: @color1;
        color: @color1-text-color;
      }
      &.footer-bg-color-two {
        background: @color2;
        color: @color2-text-color;
      }
      &.footer-bg-color-three {
        background: @color3;
        color: @color3-text-color;
      }
      &.footer-bg-color-four {
        background: @color4;
        color: @color4-text-color;
      }
      &.footer-bg-color-onedark {
        background: @color1-dark;
        color: @color1-text-color;
      }
      &.footer-bg-color-twodark {
        background: @color2-dark;
        color: @color2-text-color;
      }
      &.footer-bg-color-onelight {
        background: @color1-light;
        color: @color1-text-color;
      }
      &.footer-bg-color-twolight {
        background: @color2-light;
        color: @color2-text-color;
      }

      &[class*='footer-bg-color-'] {
        &:not(.footer-bg-color-none) {
          h1,h2,h3,h4,h5,blockquote {
            color: inherit;
            border-color: inherit;
          }
        }
      }








      
    }//
  }// block
}//cb 