

.content-blocks {

  .block-cols {



// ====== COL BG COLOURS

    .col-item {

      &.has-bg, &.has-bg-image {
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .col-content {
          padding-left: 30px;
          padding-right: 30px;
          position: relative;
          z-index: 10;
        }

        &:before {
          .overlay-base;
          z-index: 5;
        }

              @media only screen and (max-width: 767px) {
                .col-content {
                  padding-left: 15px;
                  padding-right: 15px;
                }
              }

      }

      &.col-bg-color-none {
        color: inherit;
        &:before {
          background: none;
        }
      }
      &.col-bg-color-white {
        color: @colord;
        &:before {
          background: @colorw;
        }
      }
      &.col-bg-color-dark {
        color: @colord-text-color;
        &:before {
          background: @colord;
        }
      }
      &.col-bg-color-black {
        color: @colorw;
        &:before {
          background: @colorb;
        }
      }
      &.col-bg-color-grey {
        color: @colord;
        &:before {
          background: @colorg;
        }
      }
      &.col-bg-color-warning {
        color: @colorw;
        &:before {
          background: @color-error-dark;
        }
      }
      &.col-bg-color-one {
        color: @color1-text-color;
        &:before {
          background: @color1;
        }
      }
      &.col-bg-color-two {
        color: @color2-text-color;
        &:before {
          background: @color2;
        }
      }
      &.col-bg-color-three {
        color: @color3-text-color;
        &:before {
          background: @color3;
        }
      }
      &.col-bg-color-four {
        color: @color4-text-color;
        &:before {
          background: @color4;
        }
      }
      &.col-bg-color-onedark {
        color: @color1-text-color;
        &:before {
          background: @color1-dark;
        }
      }
      &.col-bg-color-twodark {
        color: @color2-text-color;
        &:before {
          background: @color2-dark;
        }
      }
      &.col-bg-color-onelight {
        color: @color1-text-color;
        &:before {
          background: @color1-light;
        }
      }
      &.col-bg-color-twolight {
        color: @color2-text-color;
        &:before {
          background: @color2-light;
        }
      }

      &[class*='col-bg-color-'] {
        &:not(.col-bg-color-none) {
          h1,h2,h3,h4,h5,blockquote {
            color: inherit;
            border-color: inherit;
          }
          a:not(.btn) {
            color: inherit;
            border-color: inherit;
            text-decoration: underline;
          }
        }
      }



// ##############################################################################
// ##############################################################################
// bg overlay




        &.col-bg-opacity-1 {
          &:before {
            opacity: .1
          }
        }
        &.col-bg-opacity-2 {
          &:before {
            opacity: .2
          }
        }
        &.col-bg-opacity-3 {
          &:before {
            opacity: .3
          }
        }
        &.col-bg-opacity-4 {
          &:before {
            opacity: .4
          }
        }
        &.col-bg-opacity-5 {
          &:before {
            opacity: .5
          }
        }
        &.col-bg-opacity-6 {
          &:before {
            opacity: .6
          }
        }
        &.col-bg-opacity-7 {
          &:before {
            opacity: .7
          }
        }
        &.col-bg-opacity-8 {
          &:before {
            opacity: .8
          }
        }
        &.col-bg-opacity-9 {
          &:before {
            opacity: .9
          }
        }
        &.col-bg-opacity-, &.col-bg-opacity-10, .col-bg-opacity-full {
          &:before {
            opacity: 1
          }
        }

        &.col-bg-opacity-0, &.col-bg-opacity-none {
          &:before {
            opacity: 0
          }
        }





      &.has-bg-image {
        &.col-bg-opacity- {
          &:before {
            opacity: .5;
          }
        }
      }




    }//item


  }//col b
} //.content-blocks
