

@import "cols-bg.less";
@import "cols-margins.less";
@import "cols-footer.less";

// remove padding override 
body {
  @media (min-width: 5px) {
    .content-blocks {
      .block-cols {
        .col-item {
          &.col-remove-padding-1 {
            .col-content {
              padding: 0;
            }
          }
        }
      }
    }
  }
}


.content-blocks {

  .col-full-width {

    .col-item {
      &.no-settings {
        .col-content {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }


    &.page-content-padding {
      @media (min-width: 5px) {
      padding-left: 0;
      padding-right: 0;
      }
    }


      @media only screen and (max-width: 767px) {
        .col-item {
          &.has-bg, &.has-bg-image {
            margin-left: 0;
            margin-right: 0;
          }
        }

        .col-item {
          &.no-settings {
            .col-content {
              padding-left: 15px;
              padding-right: 15px;
            }
          }
        }

      }//rwd



  }// full width

  .swc {

      @media only screen and (min-width: @site-width-1-bp) {
        .block-cols {
          margin-left: -15px;
          margin-right: -15px;
          .col-item {
            .col-content {
              padding-left: 15px;
              padding-right: 15px;
            }
          }
        }

      }

      @media only screen and (max-width: @site-width-1-bp) {

        .col-item {
          &.no-settings {
            .col-content {
              padding-left: 30px;
              padding-right: 30px;
            }
          }
        }

      }


        @media only screen and (max-width: 767px) {
          &.has-bg, &.has-bg-image {
            margin-left: -15px;
            margin-right: -15px;
          }

          .col-item {
            &.no-settings {
              .col-content {
                padding-left: 15px;
                padding-right: 15px;
              }
            }
          }

        }//rwd

  }//swc


  .block-cols {

    //overrides
    .col-md-4 {
      .block-text {
        @media only screen and (min-width: 5px) {
          max-width: 100%;
        }
      }
    }

      .block-text {
        .rwd-max-width(@screen-sm-max,767px,90%,90%,100%);

          &.align-center {
            margin-left: 5%;
          }
          &.align-right {
            margin-left: 10%;
          }

            @media only screen and (max-width: 991px) {

            &.align-center {
              margin-left: 2.5%;
            }
            &.align-right {
              margin-left: 5%;
            }

          }// rwd
          @media only screen and (max-width: 767px) {

            &.align-center {
              margin-left: 0;
            }
            &.align-right {
              margin-left: 0;
            }

          }//rwd


      }// text




      @media only screen and (min-width: 5px) {

        .col-content {
          .page-content-padding {
            padding: 0;
          }
        }

      }//rwd



    margin-bottom: 0px;

    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }

    .row {
      margin-left: 0;
      margin-right: 0;

      .row {
        margin-left: -15px;
        margin-right: -15px;
      }
    }

    .col-item {
      padding-left: 0;
      padding-right: 0;

      .col-content {
        padding-top: 0px;
      }

    }


        @media only screen and (min-width: 768px) {



        }// rwd


        @media only screen and (max-width: 767px) {

          margin-bottom: 0;

          .col-item {

            &.show-border-mobile {
              border-bottom: 1px solid #eee;
              margin-bottom: 15px;
              padding-bottom: 15px;
            }

          }// item

        }//rwd



// ====== EQUAL HEIGHT / VERTICAL ALIGN COLS
   @media (min-width: 992px) {

      &.col-equal-height-1 {
        .row.is-col-row {
          display: flex;
          flex-flow: row;
          //flex-wrap: wrap;
        }
      }
      &.col-vertical-align-1 {
        .row.is-col-row {
          .col-item {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }//rwd 

  @media (min-width: 992px) {
    &.col-equal-height-1 {
      &.col-add-margins-1 {
        .col-item {
          margin-left: 15px;
          margin-right: 15px;
        }
      }
    }
  }//rwd 
  @media (min-width: 768px) and (max-width: 991px) {
    &.col-equal-height-1 {
      &.col-add-margins-1 {
        .col-item.col-sm-6 {
          margin-left: 2%;
          max-width: 47%;
        }
      }
    }
  }//rwd 
  @media (max-width: 767px) {
    &.col-equal-height-1 {
      &.col-add-margins-1 {
        .col-item {
          margin-left: 15px;
          margin-right: 15px;
        }
      }
    }
  }//rwd 

    &.col-margin-bottom-1 {
      .col-item {
        margin-bottom: 30px;
      }
    }




  }//col b
} //.content-blocks
