



.content-blocks {
.block-cols {

.col-item {
.col-content {


  &.has-margin {

      @media only screen and (min-width: 5px) {
        max-width: 100%;
      }//rwd

  }

  // RIGHT
  &.col-margin-right-0 {
    margin-right: 0;
  }
  &.col-margin-right-1 {
    margin-right: 1%;
  }
  &.col-margin-right-2 {
    margin-right: 2%;
  }
  &.col-margin-right-3 {
    margin-right: 3%;
  }
  &.col-margin-right-4 {
    margin-right: 4%;
  }
  &.col-margin-right-5 {
    margin-right: 5%;
  }
  &.col-margin-right-6 {
    margin-right: 6%;
  }
  &.col-margin-right-7 {
    margin-right: 7%;
  }
  &.col-margin-right-8 {
    margin-right: 8%;
  }
  &.col-margin-right-9 {
    margin-right: 9%;
  }
  &.col-margin-right-10 {
    margin-right: 10%;
  }
  &.col-margin-right-11 {
    margin-right: 11%;
  }
  &.col-margin-right-12 {
    margin-right: 12%;
  }
  &.col-margin-right-13 {
    margin-right: 13%;
  }
  &.col-margin-right-14 {
    margin-right: 14%;
  }
  &.col-margin-right-15 {
    margin-right: 15%;
  }
  &.col-margin-right-16 {
    margin-right: 16%;
  }
  &.col-margin-right-17 {
    margin-right: 17%;
  }
  &.col-margin-right-18 {
    margin-right: 18%;
  }
  &.col-margin-right-19 {
    margin-right: 19%;
  }
  &.col-margin-right-20 {
    margin-right: 20%;
  }
  &.col-margin-right-21 {
    margin-right: 21%;
  }
  &.col-margin-right-22 {
    margin-right: 22%;
  }
  &.col-margin-right-23 {
    margin-right: 23%;
  }
  &.col-margin-right-24 {
    margin-right: 24%;
  }
  &.col-margin-right-25 {
    margin-right: 25%;
  }
  &.col-margin-right-26 {
    margin-right: 26%;
  }
  &.col-margin-right-27 {
    margin-right: 27%;
  }
  &.col-margin-right-28 {
    margin-right: 28%;
  }
  &.col-margin-right-29 {
    margin-right: 29%;
  }
  &.col-margin-right-30 {
    margin-right: 30%;
  }
  &.col-margin-right-31 {
    margin-right: 31%;
  }
  &.col-margin-right-32 {
    margin-right: 32%;
  }
  &.col-margin-right-33 {
    margin-right: 33%;
  }
  &.col-margin-right-34 {
    margin-right: 34%;
  }
  &.col-margin-right-35 {
    margin-right: 35%;
  }
  &.col-margin-right-36 {
    margin-right: 36%;
  }
  &.col-margin-right-37 {
    margin-right: 37%;
  }
  &.col-margin-right-38 {
    margin-right: 38%;
  }
  &.col-margin-right-39 {
    margin-right: 39%;
  }
  &.col-margin-right-40 {
    margin-right: 40%;
  }
  &.col-margin-right-41 {
    margin-right: 41%;
  }
  &.col-margin-right-42 {
    margin-right: 42%;
  }
  &.col-margin-right-43 {
    margin-right: 43%;
  }
  &.col-margin-right-44 {
    margin-right: 44%;
  }
  &.col-margin-right-45 {
    margin-right: 45%;
  }
  &.col-margin-right-46 {
    margin-right: 46%;
  }
  &.col-margin-right-47 {
    margin-right: 47%;
  }
  &.col-margin-right-48 {
    margin-right: 48%;
  }
  &.col-margin-right-49 {
    margin-right: 49%;
  }
  &.col-margin-right-50 {
    margin-right: 50%;
  }









 // LEFT
  &.col-margin-left-0 {
    margin-left: 0;
  }
  &.col-margin-left-1 {
    margin-left: 1%;
  }
  &.col-margin-left-2 {
    margin-left: 2%;
  }
  &.col-margin-left-3 {
    margin-left: 3%;
  }
  &.col-margin-left-4 {
    margin-left: 4%;
  }
  &.col-margin-left-5 {
    margin-left: 5%;
  }
  &.col-margin-left-6 {
    margin-left: 6%;
  }
  &.col-margin-left-7 {
    margin-left: 7%;
  }
  &.col-margin-left-8 {
    margin-left: 8%;
  }
  &.col-margin-left-9 {
    margin-left: 9%;
  }
  &.col-margin-left-10 {
    margin-left: 10%;
  }
  &.col-margin-left-11 {
    margin-left: 11%;
  }
  &.col-margin-left-12 {
    margin-left: 12%;
  }
  &.col-margin-left-13 {
    margin-left: 13%;
  }
  &.col-margin-left-14 {
    margin-left: 14%;
  }
  &.col-margin-left-15 {
    margin-left: 15%;
  }
  &.col-margin-left-16 {
    margin-left: 16%;
  }
  &.col-margin-left-17 {
    margin-left: 17%;
  }
  &.col-margin-left-18 {
    margin-left: 18%;
  }
  &.col-margin-left-19 {
    margin-left: 19%;
  }
  &.col-margin-left-20 {
    margin-left: 20%;
  }
  &.col-margin-left-21 {
    margin-left: 21%;
  }
  &.col-margin-left-22 {
    margin-left: 22%;
  }
  &.col-margin-left-23 {
    margin-left: 23%;
  }
  &.col-margin-left-24 {
    margin-left: 24%;
  }
  &.col-margin-left-25 {
    margin-left: 25%;
  }
  &.col-margin-left-26 {
    margin-left: 26%;
  }
  &.col-margin-left-27 {
    margin-left: 27%;
  }
  &.col-margin-left-28 {
    margin-left: 28%;
  }
  &.col-margin-left-29 {
    margin-left: 29%;
  }
  &.col-margin-left-30 {
    margin-left: 30%;
  }
  &.col-margin-left-31 {
    margin-left: 31%;
  }
  &.col-margin-left-32 {
    margin-left: 32%;
  }
  &.col-margin-left-33 {
    margin-left: 33%;
  }
  &.col-margin-left-34 {
    margin-left: 34%;
  }
  &.col-margin-left-35 {
    margin-left: 35%;
  }
  &.col-margin-left-36 {
    margin-left: 36%;
  }
  &.col-margin-left-37 {
    margin-left: 37%;
  }
  &.col-margin-left-38 {
    margin-left: 38%;
  }
  &.col-margin-left-39 {
    margin-left: 39%;
  }
  &.col-margin-left-40 {
    margin-left: 40%;
  }
  &.col-margin-left-41 {
    margin-left: 41%;
  }
  &.col-margin-left-42 {
    margin-left: 42%;
  }
  &.col-margin-left-43 {
    margin-left: 43%;
  }
  &.col-margin-left-44 {
    margin-left: 44%;
  }
  &.col-margin-left-45 {
    margin-left: 45%;
  }
  &.col-margin-left-46 {
    margin-left: 46%;
  }
  &.col-margin-left-47 {
    margin-left: 47%;
  }
  &.col-margin-left-48 {
    margin-left: 48%;
  }
  &.col-margin-left-49 {
    margin-left: 49%;
  }
  &.col-margin-left-50 {
    margin-left: 50%;
  }







  @media only screen and (max-width: 991px) {




  // RIGHT Tablet
  &.col-margin-right-t-0 {
    margin-right: 0;
  }
  &.col-margin-right-t-1 {
    margin-right: 1%;
  }
  &.col-margin-right-t-2 {
    margin-right: 2%;
  }
  &.col-margin-right-t-3 {
    margin-right: 3%;
  }
  &.col-margin-right-t-4 {
    margin-right: 4%;
  }
  &.col-margin-right-t-5 {
    margin-right: 5%;
  }
  &.col-margin-right-t-6 {
    margin-right: 6%;
  }
  &.col-margin-right-t-7 {
    margin-right: 7%;
  }
  &.col-margin-right-t-8 {
    margin-right: 8%;
  }
  &.col-margin-right-t-9 {
    margin-right: 9%;
  }
  &.col-margin-right-t-10 {
    margin-right: 10%;
  }
  &.col-margin-right-t-11 {
    margin-right: 11%;
  }
  &.col-margin-right-t-12 {
    margin-right: 12%;
  }
  &.col-margin-right-t-13 {
    margin-right: 13%;
  }
  &.col-margin-right-t-14 {
    margin-right: 14%;
  }
  &.col-margin-right-t-15 {
    margin-right: 15%;
  }
  &.col-margin-right-t-16 {
    margin-right: 16%;
  }
  &.col-margin-right-t-17 {
    margin-right: 17%;
  }
  &.col-margin-right-t-18 {
    margin-right: 18%;
  }
  &.col-margin-right-t-19 {
    margin-right: 19%;
  }
  &.col-margin-right-t-20 {
    margin-right: 20%;
  }
  &.col-margin-right-t-21 {
    margin-right: 21%;
  }
  &.col-margin-right-t-22 {
    margin-right: 22%;
  }
  &.col-margin-right-t-23 {
    margin-right: 23%;
  }
  &.col-margin-right-t-24 {
    margin-right: 24%;
  }
  &.col-margin-right-t-25 {
    margin-right: 25%;
  }
  &.col-margin-right-t-26 {
    margin-right: 26%;
  }
  &.col-margin-right-t-27 {
    margin-right: 27%;
  }
  &.col-margin-right-t-28 {
    margin-right: 28%;
  }
  &.col-margin-right-t-29 {
    margin-right: 29%;
  }
  &.col-margin-right-t-30 {
    margin-right: 30%;
  }
  &.col-margin-right-t-31 {
    margin-right: 31%;
  }
  &.col-margin-right-t-32 {
    margin-right: 32%;
  }
  &.col-margin-right-t-33 {
    margin-right: 33%;
  }
  &.col-margin-right-t-34 {
    margin-right: 34%;
  }
  &.col-margin-right-t-35 {
    margin-right: 35%;
  }
  &.col-margin-right-t-36 {
    margin-right: 36%;
  }
  &.col-margin-right-t-37 {
    margin-right: 37%;
  }
  &.col-margin-right-t-38 {
    margin-right: 38%;
  }
  &.col-margin-right-t-39 {
    margin-right: 39%;
  }
  &.col-margin-right-t-40 {
    margin-right: 40%;
  }
  &.col-margin-right-t-41 {
    margin-right: 41%;
  }
  &.col-margin-right-t-42 {
    margin-right: 42%;
  }
  &.col-margin-right-t-43 {
    margin-right: 43%;
  }
  &.col-margin-right-t-44 {
    margin-right: 44%;
  }
  &.col-margin-right-t-45 {
    margin-right: 45%;
  }
  &.col-margin-right-t-46 {
    margin-right: 46%;
  }
  &.col-margin-right-t-47 {
    margin-right: 47%;
  }
  &.col-margin-right-t-48 {
    margin-right: 48%;
  }
  &.col-margin-right-t-49 {
    margin-right: 49%;
  }
  &.col-margin-right-t-50 {
    margin-right: 50%;
  }









 // LEFT Tablet
  &.col-margin-left-t-0 {
    margin-left: 0;
  }
  &.col-margin-left-t-1 {
    margin-left: 1%;
  }
  &.col-margin-left-t-2 {
    margin-left: 2%;
  }
  &.col-margin-left-t-3 {
    margin-left: 3%;
  }
  &.col-margin-left-t-4 {
    margin-left: 4%;
  }
  &.col-margin-left-t-5 {
    margin-left: 5%;
  }
  &.col-margin-left-t-6 {
    margin-left: 6%;
  }
  &.col-margin-left-t-7 {
    margin-left: 7%;
  }
  &.col-margin-left-t-8 {
    margin-left: 8%;
  }
  &.col-margin-left-t-9 {
    margin-left: 9%;
  }
  &.col-margin-left-t-10 {
    margin-left: 10%;
  }
  &.col-margin-left-t-11 {
    margin-left: 11%;
  }
  &.col-margin-left-t-12 {
    margin-left: 12%;
  }
  &.col-margin-left-t-13 {
    margin-left: 13%;
  }
  &.col-margin-left-t-14 {
    margin-left: 14%;
  }
  &.col-margin-left-t-15 {
    margin-left: 15%;
  }
  &.col-margin-left-t-16 {
    margin-left: 16%;
  }
  &.col-margin-left-t-17 {
    margin-left: 17%;
  }
  &.col-margin-left-t-18 {
    margin-left: 18%;
  }
  &.col-margin-left-t-19 {
    margin-left: 19%;
  }
  &.col-margin-left-t-20 {
    margin-left: 20%;
  }
  &.col-margin-left-t-21 {
    margin-left: 21%;
  }
  &.col-margin-left-t-22 {
    margin-left: 22%;
  }
  &.col-margin-left-t-23 {
    margin-left: 23%;
  }
  &.col-margin-left-t-24 {
    margin-left: 24%;
  }
  &.col-margin-left-t-25 {
    margin-left: 25%;
  }
  &.col-margin-left-t-26 {
    margin-left: 26%;
  }
  &.col-margin-left-t-27 {
    margin-left: 27%;
  }
  &.col-margin-left-t-28 {
    margin-left: 28%;
  }
  &.col-margin-left-t-29 {
    margin-left: 29%;
  }
  &.col-margin-left-t-30 {
    margin-left: 30%;
  }
  &.col-margin-left-t-31 {
    margin-left: 31%;
  }
  &.col-margin-left-t-32 {
    margin-left: 32%;
  }
  &.col-margin-left-t-33 {
    margin-left: 33%;
  }
  &.col-margin-left-t-34 {
    margin-left: 34%;
  }
  &.col-margin-left-t-35 {
    margin-left: 35%;
  }
  &.col-margin-left-t-36 {
    margin-left: 36%;
  }
  &.col-margin-left-t-37 {
    margin-left: 37%;
  }
  &.col-margin-left-t-38 {
    margin-left: 38%;
  }
  &.col-margin-left-t-39 {
    margin-left: 39%;
  }
  &.col-margin-left-t-40 {
    margin-left: 40%;
  }
  &.col-margin-left-t-41 {
    margin-left: 41%;
  }
  &.col-margin-left-t-42 {
    margin-left: 42%;
  }
  &.col-margin-left-t-43 {
    margin-left: 43%;
  }
  &.col-margin-left-t-44 {
    margin-left: 44%;
  }
  &.col-margin-left-t-45 {
    margin-left: 45%;
  }
  &.col-margin-left-t-46 {
    margin-left: 46%;
  }
  &.col-margin-left-t-47 {
    margin-left: 47%;
  }
  &.col-margin-left-t-48 {
    margin-left: 48%;
  }
  &.col-margin-left-t-49 {
    margin-left: 49%;
  }
  &.col-margin-left-t-50 {
    margin-left: 50%;
  }



}// rwd tablet





  @media only screen and (max-width: 767px) {


  // RIGHT Mobile
  &.col-margin-right-m-0 {
    margin-right: 0;
  }
  &.col-margin-right-m-1 {
    margin-right: 1%;
  }
  &.col-margin-right-m-2 {
    margin-right: 2%;
  }
  &.col-margin-right-m-3 {
    margin-right: 3%;
  }
  &.col-margin-right-m-4 {
    margin-right: 4%;
  }
  &.col-margin-right-m-5 {
    margin-right: 5%;
  }
  &.col-margin-right-m-6 {
    margin-right: 6%;
  }
  &.col-margin-right-m-7 {
    margin-right: 7%;
  }
  &.col-margin-right-m-8 {
    margin-right: 8%;
  }
  &.col-margin-right-m-9 {
    margin-right: 9%;
  }
  &.col-margin-right-m-10 {
    margin-right: 10%;
  }
  &.col-margin-right-m-11 {
    margin-right: 11%;
  }
  &.col-margin-right-m-12 {
    margin-right: 12%;
  }
  &.col-margin-right-m-13 {
    margin-right: 13%;
  }
  &.col-margin-right-m-14 {
    margin-right: 14%;
  }
  &.col-margin-right-m-15 {
    margin-right: 15%;
  }
  &.col-margin-right-m-16 {
    margin-right: 16%;
  }
  &.col-margin-right-m-17 {
    margin-right: 17%;
  }
  &.col-margin-right-m-18 {
    margin-right: 18%;
  }
  &.col-margin-right-m-19 {
    margin-right: 19%;
  }
  &.col-margin-right-m-20 {
    margin-right: 20%;
  }
  &.col-margin-right-m-21 {
    margin-right: 21%;
  }
  &.col-margin-right-m-22 {
    margin-right: 22%;
  }
  &.col-margin-right-m-23 {
    margin-right: 23%;
  }
  &.col-margin-right-m-24 {
    margin-right: 24%;
  }
  &.col-margin-right-m-25 {
    margin-right: 25%;
  }
  &.col-margin-right-m-26 {
    margin-right: 26%;
  }
  &.col-margin-right-m-27 {
    margin-right: 27%;
  }
  &.col-margin-right-m-28 {
    margin-right: 28%;
  }
  &.col-margin-right-m-29 {
    margin-right: 29%;
  }
  &.col-margin-right-m-30 {
    margin-right: 30%;
  }
  &.col-margin-right-m-31 {
    margin-right: 31%;
  }
  &.col-margin-right-m-32 {
    margin-right: 32%;
  }
  &.col-margin-right-m-33 {
    margin-right: 33%;
  }
  &.col-margin-right-m-34 {
    margin-right: 34%;
  }
  &.col-margin-right-m-35 {
    margin-right: 35%;
  }
  &.col-margin-right-m-36 {
    margin-right: 36%;
  }
  &.col-margin-right-m-37 {
    margin-right: 37%;
  }
  &.col-margin-right-m-38 {
    margin-right: 38%;
  }
  &.col-margin-right-m-39 {
    margin-right: 39%;
  }
  &.col-margin-right-m-40 {
    margin-right: 40%;
  }
  &.col-margin-right-m-41 {
    margin-right: 41%;
  }
  &.col-margin-right-m-42 {
    margin-right: 42%;
  }
  &.col-margin-right-m-43 {
    margin-right: 43%;
  }
  &.col-margin-right-m-44 {
    margin-right: 44%;
  }
  &.col-margin-right-m-45 {
    margin-right: 45%;
  }
  &.col-margin-right-m-46 {
    margin-right: 46%;
  }
  &.col-margin-right-m-47 {
    margin-right: 47%;
  }
  &.col-margin-right-m-48 {
    margin-right: 48%;
  }
  &.col-margin-right-m-49 {
    margin-right: 49%;
  }
  &.col-margin-right-m-50 {
    margin-right: 50%;
  }









 // LEFT Mobile
  &.col-margin-left-m-0 {
    margin-left: 0;
  }
  &.col-margin-left-m-1 {
    margin-left: 1%;
  }
  &.col-margin-left-m-2 {
    margin-left: 2%;
  }
  &.col-margin-left-m-3 {
    margin-left: 3%;
  }
  &.col-margin-left-m-4 {
    margin-left: 4%;
  }
  &.col-margin-left-m-5 {
    margin-left: 5%;
  }
  &.col-margin-left-m-6 {
    margin-left: 6%;
  }
  &.col-margin-left-m-7 {
    margin-left: 7%;
  }
  &.col-margin-left-m-8 {
    margin-left: 8%;
  }
  &.col-margin-left-m-9 {
    margin-left: 9%;
  }
  &.col-margin-left-m-10 {
    margin-left: 10%;
  }
  &.col-margin-left-m-11 {
    margin-left: 11%;
  }
  &.col-margin-left-m-12 {
    margin-left: 12%;
  }
  &.col-margin-left-m-13 {
    margin-left: 13%;
  }
  &.col-margin-left-m-14 {
    margin-left: 14%;
  }
  &.col-margin-left-m-15 {
    margin-left: 15%;
  }
  &.col-margin-left-m-16 {
    margin-left: 16%;
  }
  &.col-margin-left-m-17 {
    margin-left: 17%;
  }
  &.col-margin-left-m-18 {
    margin-left: 18%;
  }
  &.col-margin-left-m-19 {
    margin-left: 19%;
  }
  &.col-margin-left-m-20 {
    margin-left: 20%;
  }
  &.col-margin-left-m-21 {
    margin-left: 21%;
  }
  &.col-margin-left-m-22 {
    margin-left: 22%;
  }
  &.col-margin-left-m-23 {
    margin-left: 23%;
  }
  &.col-margin-left-m-24 {
    margin-left: 24%;
  }
  &.col-margin-left-m-25 {
    margin-left: 25%;
  }
  &.col-margin-left-m-26 {
    margin-left: 26%;
  }
  &.col-margin-left-m-27 {
    margin-left: 27%;
  }
  &.col-margin-left-m-28 {
    margin-left: 28%;
  }
  &.col-margin-left-m-29 {
    margin-left: 29%;
  }
  &.col-margin-left-m-30 {
    margin-left: 30%;
  }
  &.col-margin-left-m-31 {
    margin-left: 31%;
  }
  &.col-margin-left-m-32 {
    margin-left: 32%;
  }
  &.col-margin-left-m-33 {
    margin-left: 33%;
  }
  &.col-margin-left-m-34 {
    margin-left: 34%;
  }
  &.col-margin-left-m-35 {
    margin-left: 35%;
  }
  &.col-margin-left-m-36 {
    margin-left: 36%;
  }
  &.col-margin-left-m-37 {
    margin-left: 37%;
  }
  &.col-margin-left-m-38 {
    margin-left: 38%;
  }
  &.col-margin-left-m-39 {
    margin-left: 39%;
  }
  &.col-margin-left-m-40 {
    margin-left: 40%;
  }
  &.col-margin-left-m-41 {
    margin-left: 41%;
  }
  &.col-margin-left-m-42 {
    margin-left: 42%;
  }
  &.col-margin-left-m-43 {
    margin-left: 43%;
  }
  &.col-margin-left-m-44 {
    margin-left: 44%;
  }
  &.col-margin-left-m-45 {
    margin-left: 45%;
  }
  &.col-margin-left-m-46 {
    margin-left: 46%;
  }
  &.col-margin-left-m-47 {
    margin-left: 47%;
  }
  &.col-margin-left-m-48 {
    margin-left: 48%;
  }
  &.col-margin-left-m-49 {
    margin-left: 49%;
  }
  &.col-margin-left-m-50 {
    margin-left: 50%;
  }



}//rwd mobile




}
}

}
}//cb
