{{ if page_bottom_margin }}
<div class="content-blocks">
  <div class="block-break-bg bg-color-{{ page_bottom_margin_color }}">
    <div class="block-break clearfix">
      <div class="item break-top cbbt-{{ page_bottom_margin }}">
      </div>
    </div>
  </div>
</div>
{{ /if }}