
.header-slider {
  &.show-header-bg-1 {
    background: @nav-secondary-color;
  }

}

.default-header-image {

  .item {
    position: relative;
    padding-bottom: 30px;
    
    .spacer {
      //.rwd-min-height(@site-width-1,992px,260px,140px,120px);
    //.rwd-min-height(@site-width-1,768px,380px,250px,180px);
    //padding-top: 15vw;

    }

  }

  &.heading-in-image {
    .item-heading {
      background: none;
      //border-bottom: 3px solid @colorw;
      //bottom: 0;
      //height: 100%;
      //position: absolute;
      //width: 100%;
      h1 {
        //background: fade(@colorw,100%);
        color: @colorw;
        //display: inline-block;
        margin: 0 auto;
        position: relative;
        text-align: center;

        //text-transform: uppercase;
        
        //.rwd-max-width(@screen-sm-max,767px,80%,85%,90%);
        .rwd-p((@site-width-1 - 1),767px,/**/20px,0,20px,0,/**/15px,15px,15px,15px,/**/15px,15px,15px,15px);
        z-index: 20;
      }
    }
  }

    @media only screen and (min-width: @site-width-1) {


        &.heading-in-image {
          .item-heading {
            h1 {
              //bottom: 20px;
              //position: absolute;
            }
          }
        }

    }//rwd





  .item {

    position: relative;

    &:before {
      .overlay-dark;
      z-index: 5;
    }

    //overlay opacity overrides
    &.bg-opacity-1 {
      &:before {
        opacity: .1;
      }
    }
    &.bg-opacity-2 {
      &:before {
        opacity: .2;
      }
    }
    &.bg-opacity-3 {
        &:before {
          opacity: .3;
        }
    }
    &.bg-opacity-4 {
      &:before {
        opacity: .4;
      }
    }
    &.bg-opacity-5  {
      &:before {
        opacity: .5;
      }
    }
    &.bg-opacity-6 {
      &:before {
        opacity: .6;
      }
    }
    &.bg-opacity-7 {
      &:before {
        opacity: .7;
      }
    }
    &.bg-opacity-8 {
      &:before {
        opacity: .8;
      }
    }
    &.bg-opacity-9 {
      &:before {
        opacity: .9;
      }
    }
    &.bg-opacity-, &.bg-opacity-0, &.bg-opacity-none {
      &:before {
        opacity: 0;
      }
    }

  }// item

}
