



// ##############################################################################
// ##############################################################################
// specific settings




.item-header-block {
  .image-content {

    // ## width
    .rwd-max-width(@screen-sm-max,767px,65%,72%,80%);

    .inner {
      .animate-this(.7s,1s,1);
      .zoomIn;
    }

    &.color-dark {
      .inner {
        .inner-content {
          h2.heading {
            background: fade(@colorb,20%);
          }
        }
      }
    }//dark
    &.color-light {
      .inner {
        .inner-content {
          h2.heading {
            background: fade(@colorw,20%);
          }
        }
      }
    }//light

  }//image-content



  // ## Single image positioning
  .is-single-image {
    .image-content {
      left: auto;
    //  .center-v;
      right: auto;
      top: auto;
      bottom: 50px;
    }
  }
  // ## Slider positioning
  .is-slider {
    .image-content {
      left: auto;
    //  .center-v;
    right: auto;
      top: auto;
      bottom: 50px;
    }
  }


      @media only screen and (max-width: 1350px) {

        .is-single-image {
          .image-content {
            left: 10%;
            bottom: 80px;
          }
        }
        // ## Slider positioning
        .is-slider {
          .image-content {
            left: 10%;
            bottom: 80px;
          }
        }

      }//rwd



}









// ##############################################################################
// ##############################################################################
// defaults



.item-header-block {
.image-content {

  .inner {
    position: relative;
    z-index: 10;

    // ## background
      &:before {
        .pseudo-item(0,0,0,0,100%,100%);
        z-index: 5;
      }

    .inner-content {
      position: relative;
      z-index: 10;

    // heading style
      h2.heading {
        font-size: @fsb * 2;
        line-height: 1.4;
        margin: 0;
        padding: 10px 20px 15px;
        font-weight: 400;
        //text-transform: uppercase;
      }
      .inner-text {
        font-size: @fsb * 1.2;
        font-weight: 100;
        padding: 20px;
      }

      &.has-heading {
        .inner-text {
          padding: 10px 20px 20px;
        }
      }
    }


// .item-header-block .image-content .inner .inner-content.has-heading .inner-text
// .item-header-block .image-content .inner.opacity-none .inner-text
    // padding override for no bg
    &.opacity-none {
      h2.heading {
        padding: 5px 5px;
      }
      .inner-content {
        &.has-heading {
          .inner-text {
            padding: 5px 8px 20px;
          }
        }
      }
    }

  }

// ## styles

  .btn-alt {
    margin: 15px 0 0;
    padding: 10px 20px;

    .transition(.5s all);

    .fa {
      .transition(.5s all);
    }

    &:hover {
      .fa {
        padding-left: 10px;
      }
    }
  }

  &.color-dark {
    color: @colorw;
    h1,h2,h3,h4 {
      color: @colorw;
    }
    a {
      color: @colorw;
      text-decoration: underline;
      &:hover {

      }
    }
    .btn-alt {
      background: @colorw;
      border: 1px solid @colorw;
      color: @colord;
      text-decoration: none;

      &:hover {
        background: none;
        color: @colorw;
      }
    }
  }//dark


  &.color-light {
    color: @colord;
    h1,h2,h3,h4 {
      color: @colord;
    }
    a {
      color: @colord;
      text-decoration: underline;
      &:hover {

      }
    }
    .btn-alt {
      background: @colord;
      border: 1px solid @colord;
      color: @colorw;
      text-decoration: none;

      &:hover {
        background: @color1;
        color: @colorw;
      }
    }
  }//light


  &.color-one {
    color: @colorw;
    h1,h2,h3,h4 {
      color: @colorw;
    }
    a {
      color: @colorw;
      text-decoration: underline;
      &:hover {

      }
    }
    .btn-alt {
      background: @colorw;
      border: 1px solid @colorw;
      color: @color1;
      &:hover {
        background: none;
        color: @colorw;
      }
    }
  }//dark


}// image-content

  .is-single-image {

    .image-content {
      position: absolute;

    }

  }

  .is-slider {
    .image-content {
      position: absolute;

    }

  }


}//item-header-block












// ##############################################################################
// ##############################################################################
// background opacity


.item-header-block {
  .image-content {

    &.color-dark {
      .inner {
        &:before {
        // default
          .bg-gradient(fade(@colorb,70%),fade(@colorb,40%),none);
        }
        // user settings
        &.opacity-none {
          .inner-content {
            h2.heading {
              background: none;
            }
          }
          &:before {
            background: none;
          }
        }
        &.opacity-1 {
          &:before {
            .bg-gradient(fade(@colorb,10%),fade(@colorb,0%),none);
          }
        }
        &.opacity-2 {
          &:before {
            .bg-gradient(fade(@colorb,20%),fade(@colorb,5%),none);
          }
        }
        &.opacity-3 {
          &:before {
            .bg-gradient(fade(@colorb,30%),fade(@colorb,10%),none);
          }
        }
        &.opacity-4 {
          &:before {
            .bg-gradient(fade(@colorb,40%),fade(@colorb,20%),none);
          }
        }
        &.opacity-5 {
          &:before {
            .bg-gradient(fade(@colorb,50%),fade(@colorb,20%),none);
          }
        }
        &.opacity-6 {
          &:before {
            .bg-gradient(fade(@colorb,60%),fade(@colorb,30%),none);
          }
        }
        &.opacity-7 {
          &:before {
            .bg-gradient(fade(@colorb,70%),fade(@colorb,40%),none);
          }
        }
        &.opacity-8 {
          &:before {
            .bg-gradient(fade(@colorb,80%),fade(@colorb,70%),none);
          }
        }
        &.opacity-9 {
          &:before {
            .bg-gradient(fade(@colorb,90%),fade(@colorb,70%),none);
          }
        }
        &.opacity-10 {
          &:before {
            background: @colorb;
          }
        }

      }
    }//dark

    &.color-light {
      .inner {
        &:before {
        // default
          .bg-gradient(fade(@colorw,70%),fade(@colorw,40%),none);
        }
        // user settings
        &.opacity-none {
          .inner-content {
            h2.heading {
              background: none;
            }
          }
          &:before {
            background: none;
          }
        }
        &.opacity-1 {
          &:before {
            .bg-gradient(fade(@colorw,10%),fade(@colorw,0%),none);
          }
        }
        &.opacity-2 {
          &:before {
            .bg-gradient(fade(@colorw,20%),fade(@colorw,5%),none);
          }
        }
        &.opacity-3 {
          &:before {
            .bg-gradient(fade(@colorw,30%),fade(@colorw,10%),none);
          }
        }
        &.opacity-4 {
          &:before {
            .bg-gradient(fade(@colorw,40%),fade(@colorw,20%),none);
          }
        }
        &.opacity-5 {
          &:before {
            .bg-gradient(fade(@colorw,50%),fade(@colorw,20%),none);
          }
        }
        &.opacity-6 {
          &:before {
            .bg-gradient(fade(@colorw,60%),fade(@colorw,30%),none);
          }
        }
        &.opacity-7 {
          &:before {
            .bg-gradient(fade(@colorw,70%),fade(@colorw,40%),none);
          }
        }
        &.opacity-8 {
          &:before {
            .bg-gradient(fade(@colorw,80%),fade(@colorw,70%),none);
          }
        }
        &.opacity-9 {
          &:before {
            .bg-gradient(fade(@colorw,90%),fade(@colorw,70%),none);
          }
        }
        &.opacity-10 {
          &:before {
            background: @colorw;
          }
        }

      }
    }//light


    &.color-one {
      .inner {
        &:before {
        // default
          .bg-gradient(fade(@color1,70%),fade(@color1,40%),none);
        }
        // user settings
        &.opacity-none {
          .inner-content {
            h2.heading {
              background: none;
            }
          }
          &:before {
            background: none;
          }
        }
        &.opacity-1 {
          &:before {
            .bg-gradient(fade(@color1,10%),fade(@color1,0%),none);
          }
        }
        &.opacity-2 {
          &:before {
            .bg-gradient(fade(@color1,20%),fade(@color1,5%),none);
          }
        }
        &.opacity-3 {
          &:before {
            .bg-gradient(fade(@color1,30%),fade(@color1,10%),none);
          }
        }
        &.opacity-4 {
          &:before {
            .bg-gradient(fade(@color1,40%),fade(@color1,20%),none);
          }
        }
        &.opacity-5 {
          &:before {
            .bg-gradient(fade(@color1,50%),fade(@color1,20%),none);
          }
        }
        &.opacity-6 {
          &:before {
            .bg-gradient(fade(@color1,60%),fade(@color1,30%),none);
          }
        }
        &.opacity-7 {
          &:before {
            .bg-gradient(fade(@color1,70%),fade(@color1,40%),none);
          }
        }
        &.opacity-8 {
          &:before {
            .bg-gradient(fade(@color1,80%),fade(@color1,70%),none);
          }
        }
        &.opacity-9 {
          &:before {
            .bg-gradient(fade(@color1,90%),fade(@color1,70%),none);
          }
        }
        &.opacity-10 {
          &:before {
            background: @color1;
          }
        }

      }
    }//one

  }//image-content
}











// ##############################################################################
// ##############################################################################
// RWD




@media only screen and (max-width: 767px) {

.item-header-block {
  .image-content {
    .inner {
      .inner-content {
        h2.heading {
          font-size: @fsb * 1.2;
          line-height: 1.2;
        }
        h1,h2,h3,h4 {
          font-size: @fsb * 1.2;
        }
        .inner-text {
          padding: 20px;
          font-size: @fsb * 0.9;
        }
      }
    }
  }

    // ## Single image positioning
    .is-single-image, .is-slider {
      .image-content {
        left: auto;
        position: relative;
        right: auto;
        top: auto;
        bottom: auto;

        padding: 40px;
      }
    }





}



}//rwd


@media only screen and (max-width: 500px) {


.item-header-block {


}



}//rwd
