


.item-header-block {

  .item-header {
    position: relative;
    .image {
      position: relative;
    }
  }



  &.size-, &.size-sm {
    .item-header {
      &.is-single-image {
        .item {
          .rwd-min-height(@screen-md-min,767px,200px,200px,150px);
        }
      }
      &.is-slider {
        .slider-size {
          .rwd-min-height(@screen-md-min,767px,200px,200px,150px);
        }
      }
    }
  } // size

  &.size-md {
    .item-header {
      &.is-single-image {
        .item {
          .rwd-min-height(@screen-md-min,767px,320px,200px,180px);
        }
      }
      &.is-slider {
        .slider-size {
          .rwd-min-height(@screen-md-min,767px,320px,200px,180px);
        }
      }
    }
    .item-heading {
      font-size: @font-size-base * 2.2;
    }
  } // size

  &.size-lg {
    .item-header {
      &.is-single-image {
        .item {
          .rwd-min-height(@screen-md-min,767px,550px,390px,260px);
        }
      }
      &.is-slider {
        .slider-size {
          .rwd-min-height(@screen-md-min,767px,550px,390px,260px);
        }
      }
    }
    .item-heading {
      font-size: @font-size-base * 2.2;
    }
  } // size

  &.size-xl {
    .item-header {
      &.is-single-image {
        .item {
          .rwd-min-height(@screen-md-min,767px,700px,400px,300px);
        }
      }
      &.is-slider {
        .slider-size {
          .rwd-min-height(@screen-md-min,767px,700px,400px,300px);
        }
      }
    }
    .item-heading {
      font-size: @font-size-base * 2.2;
    }
  } // size

  &.size-full {
    .item-header {
      &.is-single-image {
        .item {
          .rwd-min-height(@screen-md-min,767px,100vh,100vh,100vh);
        }
      }
      &.is-slider {
        .slider-size {
          .rwd-min-height(@screen-md-min,767px,100vh,100vh,100vh);
        }
      }
    }
    .item-heading {
      font-size: @font-size-base * 2.2;
    }
  } // size







}
