



// ##############################################################################
// ##############################################################################
// specific settings




.item-header-block {
  .image-content-2 {

    // ## width
    .rwd-width(@screen-sm-max,767px,55%,70%,99%);
    left: 0;
    height: 100%;
    top: 0;

    .inner {
      .animate-this(.7s,1s,1);
      .fadeInLeft;
    }

    &.color-dark {
      .inner {
        .inner-content {
          h2 {

          }
        }
      }
    }//dark
    &.color-light {
      .inner {
        .inner-content {
          h2 {

          }
        }
      }
    }//light

  }//image-content



  // ## Single image positioning
  .is-single-image {
    .image-content-2 {

    }
  }
  // ## Slider positioning
  .is-slider {
    .image-content-2 {

    }
  }
}









// ##############################################################################
// ##############################################################################
// defaults



.item-header-block {
.image-content-2 {

  .inner {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 10;

    // ## background
      &:before {

        .pseudo-item(0,0,0,-20%,auto,auto);

        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 10;

        .skew(20deg, 0deg);

        @media only screen and (max-width: 991px) {

          left: -15%;

        }//rwd

      }

    .inner-content {
      bottom: 30px;
      position: absolute;
      padding: 0 25% 30px;
      right: 20px;
      z-index: 20;

    // heading style
      h2 {
        font-size: @fsb * 1.8;
        line-height: 1.4;
        margin: 0;

        text-transform: uppercase;
        text-align: left;
      }
      .inner-text {
        text-align: left;
      }

      &.has-heading {
        .inner-text {

        }
      }


            @media only screen and (max-width: 991px) {
              bottom: 0;
              position: absolute;
              padding: 0 20% 10px;
              right: 0;

                h2 {
                  font-size: @fsb * 1.4;
                  line-height: 1.3;
                }
            }//rwd


    }//inner content

    // padding override for no bg
    &.opacity-none {
      h2 {
        padding: 5px 5px;
      }
      .inner-text {
        padding: 5px 5px 20px;
      }
    }

  }

// ## styles

  .btn-alt {
    margin: 15px 0 0;
    padding: 5px 15px;
    .transition(.5s all);

    .fa {
      .transition(.5s all);
    }

    &:hover {
      .fa {
        padding-left: 10px;
      }
    }
  }

  &.color-dark {
    color: @colorw;
    h1,h2,h3,h4 {
      color: @colorw;
    }
    a {
      color: @colorw;
      text-decoration: underline;
      &:hover {

      }
    }
    .btn-alt {
      background: @colorw;
      border: 1px solid @colorw;
      color: @colord;
      &:hover {
        background: none;
        color: @colorw;
      }
    }
  }//dark


  &.color-light {
    color: @colord;
    h1,h2,h3,h4 {
      color: @colord;
    }
    a {
      color: @colord;
      text-decoration: underline;
      &:hover {

      }
    }
    .btn-alt {
      background: @colord;
      border: 1px solid @colord;
      color: @colorw;
      &:hover {
        background: none;
        color: @colord;
      }
    }
  }//light

  &.color-one {
    color: @colorw;
    h1,h2,h3,h4 {
      color: @colorw;
    }
    a {
      color: @colorw;
      text-decoration: underline;
      &:hover {

      }
    }
    .btn-alt {
      background: @colorw;
      border: 1px solid @colorw;
      color: @color1;
      &:hover {
        background: none;
        color: @colorw;
      }
    }
  }//light

}// image-content

  .is-single-image {

    .image-content-2 {
      position: absolute;

    }

  }

  .is-slider {
    .image-content-2 {
      position: absolute;

    }

  }


}//item-header-block












// ##############################################################################
// ##############################################################################
// background opacity


.item-header-block {
  .image-content-2 {

    &.color-dark {
      .inner {
        &:before {
        // default
          .bg-gradient(fade(@colorb,70%),fade(@colorb,40%),none);
        }
        // user settings
        &.opacity-none {
          .inner-content {
            h2 {
              background: none;
            }
          }
          &:before {
            background: none;
          }
        }
        &.opacity-1 {

            .bg-gradient(fade(@colorb,10%),fade(@colorb,0%),none);

        }
        &.opacity-2 {
          &:before {
            .bg-gradient(fade(@colorb,20%),fade(@colorb,5%),none);
          }
        }
        &.opacity-3 {
          &:before {
            .bg-gradient(fade(@colorb,30%),fade(@colorb,10%),none);
          }
        }
        &.opacity-4 {
          &:before {
            .bg-gradient(fade(@colorb,40%),fade(@colorb,20%),none);
          }
        }
        &.opacity-5 {
          &:before {
            .bg-gradient(fade(@colorb,50%),fade(@colorb,20%),none);
          }
        }
        &.opacity-6 {
          &:before {
            .bg-gradient(fade(@colorb,60%),fade(@colorb,30%),none);
          }
        }
        &.opacity-7 {

            .bg-gradient(fade(@colorb,70%),fade(@colorb,40%),none);

        }
        &.opacity-8 {

            .bg-gradient(fade(@colorb,80%),fade(@colorb,70%),none);

        }
        &.opacity-9 {
          &:before {
            .bg-gradient(fade(@colorb,90%),fade(@colorb,70%),none);
          }
        }
        &.opacity-10 {
          &:before {
            background: @colorb;
          }
        }

      }
    }//dark

    &.color-light {
      .inner {
        &:before {
        // default
          .bg-gradient(fade(@colorw,70%),fade(@colorw,40%),none);
        }
        // user settings
        &.opacity-none {
          .inner-content {
            h2 {
              background: none;
            }
          }
          &:before {
            background: none;
          }
        }
        &.opacity-1 {
          &:before {
            .bg-gradient(fade(@colorw,10%),fade(@colorw,0%),none);
          }
        }
        &.opacity-2 {
          &:before {
            .bg-gradient(fade(@colorw,20%),fade(@colorw,5%),none);
          }
        }
        &.opacity-3 {
          &:before {
            .bg-gradient(fade(@colorw,30%),fade(@colorw,10%),none);
          }
        }
        &.opacity-4 {
          &:before {
            .bg-gradient(fade(@colorw,40%),fade(@colorw,20%),none);
          }
        }
        &.opacity-5 {
          &:before {
            .bg-gradient(fade(@colorw,50%),fade(@colorw,20%),none);
          }
        }
        &.opacity-6 {
          &:before {
            .bg-gradient(fade(@colorw,60%),fade(@colorw,30%),none);
          }
        }
        &.opacity-7 {
          &:before {
            .bg-gradient(fade(@colorw,70%),fade(@colorw,40%),none);
          }
        }
        &.opacity-8 {
          &:before {
            .bg-gradient(fade(@colorw,80%),fade(@colorw,70%),none);
          }
        }
        &.opacity-9 {
          &:before {
            .bg-gradient(fade(@colorw,90%),fade(@colorw,70%),none);
          }
        }
        &.opacity-10 {
          &:before {
            background: @colorw;
          }
        }

      }
    }//light

    &.color-one {
      .inner {
        &:before {
        // default
          .bg-gradient(fade(@color1,70%),fade(@color1,40%),none);
        }
        // user settings
        &.opacity-none {
          .inner-content {
            h2 {
              background: none;
            }
          }
          &:before {
            background: none;
          }
        }
        &.opacity-1 {
          &:before {
            .bg-gradient(fade(@color1,10%),fade(@color1,0%),none);
          }
        }
        &.opacity-2 {
          &:before {
            .bg-gradient(fade(@color1,20%),fade(@color1,5%),none);
          }
        }
        &.opacity-3 {
          &:before {
            .bg-gradient(fade(@color1,30%),fade(@color1,10%),none);
          }
        }
        &.opacity-4 {
          &:before {
            .bg-gradient(fade(@color1,40%),fade(@color1,20%),none);
          }
        }
        &.opacity-5 {
          &:before {
            .bg-gradient(fade(@color1,50%),fade(@color1,20%),none);
          }
        }
        &.opacity-6 {
          &:before {
            .bg-gradient(fade(@color1,60%),fade(@color1,30%),none);
          }
        }
        &.opacity-7 {
          &:before {
            .bg-gradient(fade(@color1,70%),fade(@color1,40%),none);
          }
        }
        &.opacity-8 {
          &:before {
            .bg-gradient(fade(@color1,80%),fade(@color1,70%),none);
          }
        }
        &.opacity-9 {
          &:before {
            .bg-gradient(fade(@color1,90%),fade(@color1,70%),none);
          }
        }
        &.opacity-10 {
          &:before {
            background: @color1;
          }
        }

      }
    }//one

  }//image-content
}











// ##############################################################################
// ##############################################################################
// RWD





@media only screen and (max-width: 450px) {


.item-header-block {
  .image-content-2 {
    display: none;
    opacity: 0;
  }
}



}//rwd
