

.item-header-block {



.item-heading {
  background: @colorw;
  padding: 20px;
  h1 {
    color: @color1;
    font-size: @fsb * 2.3;
    //font-weight: bold;
    margin: 0 auto;
    //text-align: left;
    text-align: center;
    text-transform: uppercase;
  }

      @media only screen and (max-width: 767px) {

        h1 {
          font-size: @fsb * 1.6;
        }

      }//rwd

  &.color-white {
    h1 {
      color: @colorw;
    }
  }
  &.color-black {
    h1 {
      color: @colord;
    }
  }
  &.color-one {
    h1 {
      color: @color1;
    }
  }
  &.color-two {
    h1 {
      color: @color2;
    }
  }
  &.color-three {
    h1 {
      color: @color3;
    }
  }
  &.color-four {
    h1 {
      color: @color4;
    }
  }
  
}//heading


  &.heading-in-image {

    .item-heading {
      background: none;
      //border-bottom: 3px solid @colorw;
      //bottom: 0;
      //height: 100%;
      //position: absolute;
      //width: 100%;
      h1 {
        //background: fade(@colorw,100%);
        bottom: 0;
        color: @colorw;
        display: inline-block;
        .rwd-max-width(@screen-sm-max,767px,40%,50%,80%);
        .rwd-p((@site-width-1 - 1),767px,/**/20px,0,20px,0,/**/15px,15px,15px,15px,/**/15px,15px,15px,15px);
        position: absolute;
        z-index: 20;
      }

      &.color-white {
        h1 {
          color: @colorw;
        }
      }
      &.color-black {
        h1 {
          color: @colord;
        }
      }
      &.color-one {
        h1 {
          color: @color1;
        }
      }
      &.color-two {
        h1 {
          color: @color2;
        }
      }
/*
// fancy angled bg over image
      &:before {

        .pseudo-item(0,0,0,-10%,auto,auto);
        background: fade(@colorb,40%);
        height: 100%;
        position: absolute;
        .rwd-width(@screen-sm-max,767px,60%,70%,95%);
        z-index: 10;

        .skew(20deg, 0deg);

      }

*/


          @media only screen and (max-width: 991px) {

            h1 {

            }



          }//rwd
    }

    .is-slider {
      .item-heading {
        h1 {

        }
      }
    }


          @media only screen and (max-width: 991px) {

            .item-header {
              &.size-sm {

                .item-heading {

                }

              }
            }



          }//rwd



  }// item heading in image



&.no-item-header {
  .item-heading {
    h1 {

    }
  }
}




}// header block











@media only screen and (min-width: @site-width-1) {



} // rwd







@media only screen and (max-width: @screen-md-min) {





} // rwd




@media only screen and (max-width: 767px) {



} // rwd




@media only screen and (max-width: 650px) {

  .item-header-block {




}


} // rwd
