{{ partial:item_header item_heading="All Product Categories" }}
{{ partial:nav/back }}

  {{ taxonomy use="product-categories" as="posts" sort="title" show="all" }}
  {{ if no_results }}
  {{ else }}
  
{{ partial:custom-shop/item-categories }}
  
  {{ /if }}
  {{ /taxonomy }}

  <br><br><br><br><br><br>