{{ partial:item_header }}
{{ partial:nav/back }}
<div class="detail-categories">
  <div class="category-title">
    <h1>{{ title }}</h1>
  </div> 

{{ if excerpt }}
{{ excerpt }}
<div class="content-blocks">
  <div class="block-set-wrapper is-first ">
    <div class="block-sets">
      <div class="site-width-centered page-content-padding">
        <div class="block-text align-{{ align }} kind-normal default-margin- default-margin-bottom-1 ">
          <div class="text-content">
            <div class="text-content-inner">
  {{ text | markdown }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ /excerpt }}
{{ /if }}

  {{ if kind == "subcats" }}
    
    {{ relate:child_subcats as="posts" limit="200" }}
    {{ if no_results }}
    {{ else }}

    <div class="list-products list-categories list-sub-categories site-width-centered">
      <div class="container-fluid">
        <div class="row row-ehc">
          {{ posts }}
          <div class="col-xs-12 col-sm-6 col-md-3 col-item">
            <a class="item-wrapper" href="{{ url }}">
              <div class="image-wrapper">
                {{ if taxonomy_img }}
                <img class="img-responsive lazyload" data-src="{{ glide:taxonomy_img width="280" height="180" fit="max" }}">
                {{ else }}
                <div class="image-placeholder-280-180"></div>
                {{ /if }}
              </div>
              <h3 class="category-title">{{ title }} </h3>
            </a>
          </div>
          {{ /posts }}
        </div>
      </div>
    </div>

    <br><br> <br><br>
    <div class="list-products site-width-centered page-content-padding">
      <div class="text-center">
        <a class="btn btn-one outline" href="{{ url }}/all">View All {{ title }} Products</a>
      </div>
    </div>

    {{ /if }}
    {{ /relate:child_subcats }}

  {{ elseif kind == "featured" }}

    {{ relate:child_subcats as="posts" limit="200" }}
    {{ if no_results }}
    {{ else }}

    <div class="list-products list-categories list-sub-categories site-width-centered">

      <div class="text-center">
        <h2>Categories</h2>
      </div>
      
      <div class="container-fluid">
        <div class="row row-ehc">
          {{ posts }}
          <div class="col-xs-12 col-sm-6 col-md-3 col-item">
            <a class="item-wrapper" href="{{ url }}">
              <div class="image-wrapper">
                {{ if taxonomy_img }}
                <img class="img-responsive lazyload" data-src="{{ glide:taxonomy_img width="280" height="180" fit="max" }}">
                {{ else }}
                <div class="image-placeholder-280-180"></div>
                {{ /if }}
              </div>
              <h3 class="category-title">{{ title }} </h3>
            </a>
          </div>
          {{ /posts }}
        </div>
      </div>
    </div>

    {{ /if }}
    {{ /relate:child_subcats }}

    {{ collection:products paginate="false" as="posts" limit="24" show_past="yes" taxonomy:product-categories="{segment_2}" product_featured:exists="true" }}
    {{ if no_results }}
    {{ else }}

    <br><br><br>
    <div class="text-center">
      <h2>Featured Products</h2>
    </div>
    
    <div class="list-products site-width-centered page-content-padding">
      <div class="container-fluid">
        <div class="row row-ehc">
          {{ posts }}
          {{ partial:custom-shop/product-list-inner }}
          {{ /posts }}
        </div>
      </div>
    </div>
    {{ /if }}
    {{ /collection:products }}

    <br><br> <br><br>
    <div class="list-products site-width-centered page-content-padding">
      <div class="text-center">
        <a class="btn btn-one outline" href="{{ url }}/all">View All {{ title }} Products</a>
      </div>
    </div>

  {{ else }}

    {{ collection:products paginate="true" as="posts" limit="25" show_past="yes" taxonomy:product-categories="{segment_2}" }}
    {{ if no_results }}
    <br><br>
      <div class="site-width-centered page-content-padding">
      <div class="lead">
      <p class="text-center">There are no products in this category yet</p>
      </div>
      <div class="text-center">
      <a class="btn btn-one outline btn-center" href="{{ gv_to_product_categories }}">View All Product Categories</a>
      </div>
    </div>
    <br><br><br>
    {{ else }}
    <div class="list-products site-width-centered page-content-padding">
      <div class="container-fluid">
        <div class="row row-ehc">
    {{ posts }}
    {{ partial:custom-shop/product-list-inner }}
    {{ /posts }}
        </div>
      </div>
    </div>
    {{ /if }}
    {{ partial:nav/pagination }}
    {{ /collection:products }}

  {{ /if }}

  <br><br><br><br><br><br>

</div>