{{ partial:item_header }}
{{ partial:nav/back }}
<div class="detail-categories">
  <div class="category-title">
    <h1>{{ segment_2 | deslugify | title }}</h1>
  </div> 

    {{ collection:products paginate="true" as="posts" limit="25" show_past="yes" taxonomy:product-categories="{segment_2}" }}

    {{ if no_results }}
    <div class="site-width-centered page-content-padding">
      <br><br>
      <div class="lead">
      <p class="text-center">There are no products in this category yet</p>
      </div>
      <div class="text-center">
      <a class="btn btn-one outline btn-center" href="{{ gv_to_product_categories }}">View All Product Categories</a>
      </div>
      <br><br><br>
    </div>
    {{ else }}
    <div class="list-products site-width-centered">
      <div class="container-fluid">
        <div class="row row-ehc">
    {{ posts }}
    {{ partial:custom-shop/product-list-inner }}
    {{ /posts }}
        </div>
      </div>
    </div>
    {{ /if }}
    {{ partial:nav/pagination }}
    {{ /collection:products }}
  </div>

  <br><br><br><br><br><br>