{{ partial:item_header }}
{{ partial:nav/page-menu }}
{{ partial:nav/back }}

<div class="content-blocks">
  {{ partial:auto-layouts/auto-layout }}
</div>

<div class="list-products site-width-centered">

  <div class="container-fluid">
{{ partial:custom-shop/product-sorting }}
    <div class="row row-ehc">

{{ collection:products paginate="true" as="posts" limit="25" show_past="yes" sort="order" }}

  {{ posts }}
  {{ partial:custom-shop/product-list-inner }}
	{{ /posts }}

  {{ partial:nav/pagination }}
{{ /collection:products }}

    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br>
