{{ if product_redirect }}
  {{ redirect to="{product_redirect}" }}
{{ else }}

{{ partial:item_header }}
{{ partial:nav/page-menu }}
{{ partial:nav/back }}

<div class="product-details container-fluid">

<div class="swc page-content-padding">
  <div class="shop-crumbs">
    <a href="/">Home</a> <span class="divider"> <i class="fa fa-angle-right"></i> </span> <a href="/{{ gvcustomshop:shop_title }}">{{ gvcustomshop:shop_title | title }}</a> 
    {{ product-categories }}{{ if first }}<span class="divider"><i class="fa fa-angle-right"></i></span> <a href="/{{ gvcustomshop:shop_title }}/{{ slug }}">{{ title }}</a>{{ /if }}{{ /product-categories }}
    {{ product-sub-categories }}{{ if first }}<span class="divider"><i class="fa fa-angle-right"></i></span> <a href="/{{ gvcustomshop:shop_title }}/{{ slug }}">{{ title }}</a>{{ /if }}{{ /product-sub-categories }}
    <span class="divider"><i class="fa fa-angle-right"></i></span> <span class="product-name">{{ title }}</span>
  </div>
<div class="row">
  <div class="col-md-6">
    {{ if product_images }}
    <div class="product-slideshow">
      <div class="content-blocks">
        <div class="block-gallery kind-slider">
          <div class="block-slider slider-product-images image-crop-{{ gvcustomshop:product_list_image_crop }} gallery-slider slider-thumbnails-thumbs">
            {{ assets:product_images }}
              <div data-thumb='{{ glide:url width="130" height="130" fit="crop_focal" }}' class="gallery-slider-item magnific-gallery">
                <a class="item item-size-lg" href='{{ glide:url format="" width="1600" height="1600" fit="max" }}'
                  title="{{ caption }}">
                  {{ if gvcustomshop:product_list_image_crop == "crop_focal" }}
                  <img class="img-responsive" src="{{ glide:url width="750" height="550" fit="crop_focal" }}" alt="{{ title }} {{ count }}">
                  {{ else }}
                  <img class="img-responsive" src="{{ glide:url width="300" height="300" fit="max" }}" alt="{{ title }} {{ count }}">
                  {{ /if }}
                  <i class="fa fa-search-plus fa-2x"></i>
                      {{ if show_captions }}
                      {{ if caption }}
                      <span class="caption"> {{ caption }}</span>
                      {{ /if }}
                      {{ /if }}
                    </a>
              </div>
        {{ /assets:product_images }}
          </div>
          {{ if product_images | count > 1 }}
            {{ if product_thumbnails == "thumbs" }}
            <div class="slick-thumbs slick-thumbs-product-slider">
            </div>
            {{ elseif product_thumbnails == "thumb_slider" }}
            <br>
            <div class="block-slider slider-product-images-nav gallery-slider-nav">
              {{ assets:product_images }}
              <div class="item">
                <img class="img-responsive" src='{{ glide:url width="200" height="200" fit="crop_focal" }}' alt="" />
              </div>
              {{ /assets:product_images }}
            </div>
            {{ else }}
            {{ /if }}
          {{ /if }}
        </div>
      </div>
    </div>
    {{ /if }}
  </div>
  <div class="col-md-6">

    <div class="product-info">

      <h1 class="product-title">{{ title }}</h1>
      {{ unless gvcustomshop:gs_hide_prices or product_hide_price }}
      <div class="display-price">
        {{ if price_text_pre AND !price_text_pre_list_only }} <span class="price-pre-text">{{ price_text_pre }}</span> {{ /if }}
        Price: $<span class="amount" data-price="{{ price format_number='2|.|' }}">{{ price format_number='2|.|' }}</span>
        {{ if regular_price and price != regular_price }} $<span class="price-strike">{{ regular_price format_number='2|.|' }}</span>{{ /if }}
        {{ if tax > 0 AND gvcustomshop:tax_text }}<span class="tax-text">{{ gvcustomshop:tax_text }}</span>{{ /if }}
        {{ if price_text_post }} <span class="price-post-text">{{ price_text_post }}</span> {{ /if }}
      </div>
      {{ /if }}
      <div class="availability">
        <span class="text">Availability:</span> 
        {{ if quantity != 0 }}
        <span class="stock in-stock"> <i class="fa fa-check"></i> In Stock</span>
        {{ else }}
        <span class="stock no-stock"><i class="fa fa-times"></i> Unavailable</span>
        {{ /if }}
      </div> <br>
      {{ if product_short_description}}
      <div class="short-description">
        {{ product_short_description }}
      </div>
      {{ /if }}
      {{ if product_order_instructions}}
      <div class="order-instructions">
        {{ product_order_instructions }}
      </div>
      {{ /if }}
      {{ if product_sku }}
      <div class="sku">
        <strong>SKU:</strong> {{ product_sku }}
      </div>
      {{ /if }}

  {{ partial:custom-shop/add-to-cart-form  }} <br>

      {{ if product_files }}
      <div class="product-files">
      {{ product_files }}
        <a target="_blank" href="{{ file }}"> <i class="fa fa-file"></i> &nbsp; {{ text }}</a> <br>
      {{ /product_files }}
      </div>
      {{ /if }}
    </div>

  </div>
</div>
</div>

<div class="product-info-tabs">
  <div class="nav-tab-wrapper">
    <div class="swc page-content-padding">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          {{ if content_blocks }}
          <li role="presentation" class="active"><a href="#product-description" aria-controls="product-description" role="tab" data-toggle="tab">Product Details</a></li>
          {{ /if }}
          {{ if product_specs }}
          <li role="presentation"><a href="#product-specifications" aria-controls="product-specifications" role="tab" data-toggle="tab">Specifications</a></li>
          {{ /if }}
          {{ if product_reviews }}
          <li role="presentation"><a href="#product-reviews" aria-controls="product-reviews" role="tab" data-toggle="tab">Reviews</a></li>
          {{ /if }}
          {{ if product_videos }}
          <li role="presentation"><a href="#product-videos" aria-controls="product-videos" role="tab" data-toggle="tab">Videos</a></li>
          {{ /if }}

        </ul>
    </div>
  </div>

    <div class="tab-content">
      {{ if content_blocks }}
      <div role="tabpanel" class="tab-pane active" id="product-description">
        <div class="content-blocks">
          {{ partial:auto-layouts/auto-layout }}
        </div>
      </div>
      {{ /if }}
      {{ if product_specs }}
      <div role="tabpanel" class="tab-pane" id="product-specifications">
        <div class="swc page-content-padding">
          <br>
          <div class="content-blocks">
            <div class="block-sets">
            {{ product_specs }}
            {{ info_sets }}
            {{ if type == "item_text_set" }}
            {{ partial:content-blocks/blocks/text }}

            {{ elseif type == "item_info_set" }}
            {{ partial:content-blocks/blocks/table }}

            {{ elseif type == "item_image_set" }}
            {{ partial:content-blocks/blocks/image }}

            {{ elseif type == "item_break_set" }}
            {{ partial:content-blocks/blocks/break }}
            {{ /if }}

            {{ /info_sets }}
            {{ /product_specs }}
            </div>
          </div>
        </div>
      </div>
      {{ /if }}
      {{ if product_reviews }}
      <div role="tabpanel" class="tab-pane" id="product-reviews">
        <div class="swc page-content-padding">
          <br>
          <div class="content-blocks">
            <div class="block-sets">
              {{ product_reviews }}
              {{ info_sets }}
              {{ if type == "item_text_set" }}
              {{ partial:content-blocks/blocks/text }}
          
              {{ elseif type == "item_break_set" }}
              {{ partial:content-blocks/blocks/break }}
          
              {{ elseif type == "item_video_set" }}
              {{ partial:content-blocks/blocks/video }}
          
              {{ /if }}
              {{ /info_sets }}
              <hr>
              {{ /product_reviews }}
            </div>
          </div>
        </div>
      </div>
      {{ /if }}
      {{ if product_videos }}
      <div role="tabpanel" class="tab-pane" id="product-videos">
        <div class="swc page-content-padding">
          <br><br>
          <div class="content-blocks">
            <div class="block-sets">
              {{ product_videos }}
              {{ info_sets }}
              {{ if type == "item_text_set" }}
              {{ partial:content-blocks/blocks/text }}
          
              {{ elseif type == "item_break_set" }}
              {{ partial:content-blocks/blocks/break }}
          
              {{ elseif type == "item_video_set" }}
              {{ partial:content-blocks/blocks/video }}
          
              {{ /if }}
              {{ /info_sets }}
              {{ /product_videos }}
            </div>
          </div>
        </div>
      </div>
      {{ /if }}

    </div><!-- tab content -->

</div><!-- tabs -->

{{ if item_related }}
<div class="related-products">
  <h2 class="section-heading">{{ gvcustomshop:related_text }}</h2>
{{ relate:item_related as="posts" limit="12" }}
{{ if no_results }}
{{ else }}

<div class="list-products site-width-centered page-content-padding">
  <div class="container-fluid">
    <div class="row row-ehc">
      {{ posts }}
      {{ partial:custom-shop/product-list-inner }}
      {{ /posts }}
    </div>
  </div>
</div>

{{ /if }}
{{ /relate:item_related }}
</div><!-- related -->
{{ /if }}

</div><!-- product details -->

{{ /if }}