{{ partial:item_header }}
{{ partial:nav/back }}
<div class="detail-categories">
  <div class="category-title">
    <h1>{{ title }}</h1>
  </div> 

  <div class="swc page-content-padding">
    <div class="category-crumbs">
      <a href="/">Home</a> <span class="divider"> <i class="fa fa-angle-right"></i> </span> <a href="/shop">Shop</a>
      {{ get_content from={parent_cat} }}
      <span class="divider"><i class="fa fa-angle-right"></i></span> <a
        href="/shop/{{ slug }}">{{ title }}</a>
      {{ /get_content }}
      <span class="divider"><i class="fa fa-angle-right"></i></span> <span class="product-name">{{ title }}</span>
    </div>
  </div>

    {{ collection:products paginate="true" as="posts" limit="25" show_past="yes" taxonomy:product-sub-categories="{segment_2}" }}
    {{ if no_results }}
    <div class="site-width-centered page-content-padding">
      <br><br>
      <div class="lead">
      <p class="text-center">There are no products in this category yet</p>
      </div>
      <div class="text-center">
      <a class="btn btn-one outline btn-center" href="{{ gv_to_product_categories }}">View All Product Categories</a>
      </div>
      <br><br><br>
    </div>
    {{ else }}
    <div class="list-products site-width-centered">
      <div class="container-fluid">
        {{ partial:custom-shop/product-sorting }}
        <div class="row row-ehc">
      {{ posts }}
        {{ partial:custom-shop/product-list-inner }}
      {{ /posts }}
      </div>
      </div>
    </div>
    {{ /if }}
    {{ partial:nav/pagination }}
    {{ /collection:products }}

  <br><br><br><br><br><br>

</div>