{{ partial:item_header }}
{{ partial:nav/back }}
<div class="detail-categories site-width-centered page-content-padding">
  <div class="category-title">
    <h1>{{ segment_1 | title | deslugify }}</h1>
  </div>
{{ if content_blocks }}
<div class="content-blocks">
  {{ partial:auto-layouts/auto-layout }}
</div>
{{ /if }}

  {{ if kind == "subcats" }}
  
  {{ else }}

<div class="list-products site-width-centered">
  <div class="container-fluid">
    {{ partial:custom-shop/product-sorting }}
    <div class="row row-ehc">

      {{ collection:products paginate="true" as="posts" limit="25" show_past="yes" sort="{get:sort}" taxonomy:product-categories="{segment_1}" }}

      {{ posts }}
      {{ partial:custom-shop/product-list-inner }}
      {{ /posts }}

      {{ partial:nav/pagination }}
      {{ /collection:products }}

    </div>
  </div>
</div>

{{ /if }}

    <br><br><br><br><br><br>
</div>