{{ if cf_payment_type == 'checkout' }}
<input type='hidden' name="order_status" value="{{ gvcustomshop:order_statuses:0 }}">
<input type="hidden" name="cart_amount" value="{{ amount format_number='2|.|' }}">
<input type="hidden" name="cart_desc" value="{{ desc }}">
<input type="hidden" name="cart_summary" value="{{ payment_summary }}">
<input type="hidden" name="cart_tax" value="{{ payment_tax }}">
{{ /if }}
  
{{ if cf_payment_shipping }}
  <h3 class="fieldset-heading">{{ gvcustomshop:shipping_title }}</h3>
  <fieldset class="container-fluid clearfix">
    <div class="radio-wrapper">
        {{ if gvcustomshop:use_cart_weights }}
        <label>{{ gvcustomshop:shipping_title }} for package of {{ payamic:getShippingWeight item_id='{item_id}' }}g <span
            class="is-required">(Required)</span></label><br>
        {{ /if }}


        {{ payamic:getShipping item_id='{item_id}' }}
        <div class="radio">
        <label>
            <input class="" type="radio" name="shipping_option" value="{{ id }}" data-price="{{ price }}"
            data-name="{{ name }}" data-required="true" required>
            {{ name }}{{ if price > 0 }} - ${{ price format_number='2|.|' }}{{ /if }}
        </label>
        </div>
        {{ /payamic:getShipping }}
    </div>
  </fieldset>
{{ /if }}

{{ if cf_payment_vouchers }}
  <h3 class="fieldset-heading">Gift Card or Discount Code</h3>
  <fieldset class="container-fluid clearfix">
    <div class="form-group">
      <input type="text" class="form-control" id="voucher" value=""> <br>
      <a id="voucher-apply" class="btn-voucher">Apply Voucher</a>
      <div id="voucher-error"></div>
    </div>
  </fieldset>
{{ /if }}

