{{ if form_name }}
{{ form:set is="{form_name}" }}
 {{ if {form:success} }}
  {{ form:submission }}
    {{ if has_cf_payment && payment_type == "stripe" }}
      <script type="text/javascript">
        window.location.replace("{{ payamic:getPaymentUrl amount='{amount}' desc='{form_name} {name}' item_id='{form_name}' }}?email={{ email }}&name={{ name }}")
      </script>
    {{ /if }}
  {{ /form:submission }}
{{ else }}

{{ if form_bg }}
  {{ assets:form_bg }}
    <div class="custom-form-wrapper {{ var_in_col }} form-alignment-{{ form_alignment }} has-bg opacity-{{ form_bg_opacity }} bg-{{ form_bg_hue }}{{ if has_cf_payment }} form-has-payments{{ /if }}" id="custom-form-wrapper" style="background-image: url('{{ glide:url width="1700" height="1700" fit="max" }}');">
  {{ /assets:form_bg }}
{{ else }}
<div class="custom-form-wrapper {{ var_in_col }} form-alignment-{{ form_alignment }} color-{{ form_bg_color }} tile-{{ form_bg_type }} {{ if has_cf_payment }} form-has-payments{{ /if }}" id="custom-form-wrapper"{{ if form_bg_color == "custom" }} style="background-color: #{{ form_bg_custom_color }}"{{ /if }}>
{{ /if }}
<div class="custom-form-wrapper-inner">
<div class="custom-form-wrapper-inner-inner">
{{ if has_cf_payment }}  
<noscript>
  <div class="nojs-warning">
    You appear to have Javascript turned off. This form requires javascript to be enabled to work. Please update to a modern browser or consider turning javascript on to use this form.
  </div>
  <br>
</noscript>
{{ /if }}
  <div class="form-header">
    {{ if cf_save_form_data == "true" }}
    <button class="btn btn-form-save-warning" type="button" data-toggle="collapse" data-target="#form-save-warning" aria-expanded="false" aria-controls="form-save-warning"><i class="fa fa-warning"></i>&nbsp;  Click here and read if you are on a public device</button>
    <div class="form-save-warning collapse" id="form-save-warning">
      <strong>NOTE:</strong> This form autosaves the form data that you enter as you progress to ensure you don't accidentally lose your data if the page reloads accidentally etc.
      <strong>IF YOU ARE ON A PUBLIC DEVICE</strong> <em>and there is potential that you may not complete the form</em>, you can click the button below and we will not autosave your form data.
      <strong>All form data is cleared after the form is submitted successfully.</strong>
      <br>
      <div class="form-save-off">
        <button class="" id="form_save_off" name="form-save-off" data-form-save-off>Disable Form AutoSaving</button>
      </div>
      <span class="section-close"  data-toggle="collapse" data-target="#form-save-warning"> <i class="fa fa-times"></i> </span>
    </div>
    {{ /if }}
    <h3 class="form-heading">{{ form_heading }}</h3>
  </div>

{{ partial:custom-form/success }}

  <div class="custom-form-content-wrapper">
{{ if gvcustomform:gv_kill_forms }}
    <div class="cf-message is-error" id="form-errors">
      <h2 class="heading"><i class="fa fa-times"></i> Error!</h2>
      <div class="">
      {{ gvcustomform:gv_kill_forms_message }}
      </div>
    </div>
{{ else }}
{{ form:create attr="class:custom-form form-validate cf-payment-form payment-form|id:form-{form_name}|onsubmit:return false;" files="true" }}
    <div class="cf-message is-error {{ if !errors }}hide{{ /if }}" id="form-errors">
      <h2 class="heading"><i class="fa fa-times"></i> Error!</h2>
      <div class="">
  {{ if errors }}
        {{ errors }}
            {{ value }}<br>
        {{ /errors }}
  {{ /if }}
      </div>
    </div>

{{ if form_pages:0 }}
  {{ if form_pages | count > 1 }}
    <div class="custom-form-tabs">
      <ul class="nav" id="nav-tabs-top" role="tablist">
        {{ form_pages }}
        <li class="{{ if first }}active{{ /if }}">
          <a class="item" href="#custom-form-page{{ index }}" data-toggle="tab" data-form-save="#form-{{ form_name }}">
            {{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:label }} <span>1</span>{{ elseif form_page_nav }}{{ form_page_nav }}{{ else }}Page {{ index }}{{ /if }}
          </a>
        </li>
        {{ if cf_page_duplicate:0 }}
        <li>
          <a class="item" data-toggle="page-dup" data-type="{{ cf_page_duplicate:0:name }}"><i class="fa fa-plus"></i></a>
        </li>
        {{ /if }}
        {{ /form_pages }}
      {{ if has_last_page }}
        <li class=""><a class="item" href="#custom-form-last" data-toggle="tab">Submission</a></li>
      {{ /if }}
      </ul>
      <div class="tab-content">
{{ form_pages }}
        <div class="tab-pane{{ if first }} active{{ /if }}" id="custom-form-page{{ index }}"{{ if cf_page_duplicate:0 }} data-type="{{ cf_page_duplicate:0:name }}"{{ /if }}>
  {{ partial:custom-form/pages }}
    {{ if !has_last_page AND last }}
{{ partial:custom-form/last var_multiple="true" }}
    {{ /if }}
          <div class="prev-next clearfix">
            {{ unless first }}
            <span class="btn btn-prev btn-tab-prev"><i class="fa fa-angle-double-left"></i> &nbsp; Prev</span>
            {{ /if }}
            {{ unless last }}
            <span class="btn btn-next btn-tab-next">Next &nbsp; <i class="fa fa-angle-double-right"></i> </span>
            {{ /if }}
            {{ if last && has_last_page }}
            <span class="btn btn-next btn-tab-next">Next &nbsp; <i class="fa fa-angle-double-right"></i> </span>
            {{ /if }}
          </div>
        </div>
{{ /form_pages }}
    {{ if has_last_page }}
        <div class="tab-pane" id="custom-form-last">
  {{ partial:custom-form/last var_multiple="true" }}
        </div>
    {{ /if }}
      </div>

      <ul class="nav" role="tablist">
        {{ form_pages }}
        <li class="{{ if first}}active{{ /if }}">
          <a class="item" href="#custom-form-page{{ index }}" data-toggle="tab" data-form-save="#form-{{ form_name }}">
            {{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:label }} <span>1</span>{{ elseif form_page_nav }}{{ form_page_nav }}{{ else }}Page {{ index }}{{ /if }}
          </a>
        </li>
        {{ if cf_page_duplicate:0 }}
        <li>
          <a class="item" data-toggle="page-dup" data-type="{{ cf_page_duplicate:0:name }}"><i class="fa fa-plus"></i></a>
        </li>
        {{ /if }}
        {{ /form_pages }}
      {{ if has_last_page }}
        <li class=""><a class="item" href="#custom-form-last" data-toggle="tab">Submission</a></li>
      {{ /if }}
      </ul>

    </div>

  {{ else }}

    {{ form_pages }}
      {{ partial:custom-form/pages }}
    {{ /form_pages }}
      {{ partial:custom-form/last }}

  {{ /if }}

    <div class="form-progress" id="form_progress">

    {{ unless gvcustomshop:gs_hide_prices }}
      {{ if has_cf_payment && cf_payment_type != 'subs' }}
      <div class="btn form-total-progress"><span class="icon">{{ cf_payment_currency }} {{ partial:custom-form/currency-symbol }}</span> <span id="form-total-progress"></span> &nbsp;</div>
      {{ /if }}
    {{ /if }}

      {{ if cf_save_form_data == "true" }}
      <a href="" class="btn btn-form btn-save" data-form-save="#form-{{ form_name }}">Save Form Progress</a>
      <button type="button" class="btn btn-form btn-clear" data-toggle="modal" data-target="#modal-custom-form-delete">Clear Form</button>
      <div class="form-save-status" data-form-status></div>
      {{ /if }}

    </div>

    <div class="hidden">
      <input type='hidden' name="offline_link" value="{{ offline_link }}">
      <input type='hidden' name="form_name" value="{{ form_name }}">
      <input type='hidden' name="submission_id" value="{{ now format="YmdGis" }}">
      <input type='hidden' name="submission_date" value="{{ now }}">
      <input type='hidden' name="site_name" value="{{ site_name }}">
      <input type='hidden' name="cf_payment_currency" value="{{ cf_payment_currency }}">
    </div>

{{ /if }}

{{ /form:create }}
{{ /if }}
</div>
    </div>
  </div>
<div class="break-top cbbt-{{ cf_break_bottom_height }} cbbtt-{{ cf_break_bottom_tablet_height }} cbbtm-{{ cf_break_bottom_mobile_height }}">
</div>
</div><!-- cf wrapper -->
{{ /if }}
{{ /form:set }}
{{ partial:custom-form/modal/form-delete }}
{{ /if }}
