<div class="gateway reveal-fieldset">
  <input type="radio" class="do-reveal" id="gateway_{{ gateway_value | slugify }}" name="cf_payment_gateway" value="{{ gateway_value }}" {{ if gateway_value == "stripe" }}data-levy="{{ if cf_stripe_levy }}{{ payamic:getLevy gateway='stripe' }}{{ /if }}" data-minimum="{{ payamic:getMinimum gateway='stripe' }}" {{ else }}data-levy="0"{{ /if}} {{ if first or hide_gateways }}checked{{ /if }} required>
  <input type="hidden" id="cf_gateway_levy_{{ gateway_value | slugify }}" name="cf_gateway_levy_{{ gateway_value | slugify }}" value="{{ if gateway_value == 'stripe' }}{{ cf_stripe_levy }}{{ /if }}">
  <label class="" for="gateway_{{ gateway_value | slugify }}">
    <span class="show-selection"> <i class="fa fa-check"></i> </span>
    <span class="name">{{ gateway_name }}</span> {{ if gateway_text }}<small>{{ gateway_text }}</small>{{ else }}<small>{{ gvcustomform:gateway_offline_text }}</small>{{ /if }}
  </label>
  {{ if gateway_instructions }}
  <div class="reveal-if-active">
    <div class="gateway-note">
    {{ gateway_instructions }}
    </div>
  </div>
  {{ /if }}
</div>
