<div class="reveal-fieldset clearfix">
  <label>{{ fieldset_hidden:0:set_hidden_label }} <span class="is-required">(Required)</span></label> <br>
{{ fieldset_hidden }}
  {{ show_hide_items }}
    <input id="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ fieldset_hidden:0:set_hidden_name | underscored }}_{{ item_label }}" data-hidden-toggle="{{ if item_toggle }}Yes{{ else }}No{{ /if }}" {{ if item_toggle }}class="do-reveal"{{ /if }} type="radio" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ fieldset_hidden:0:set_hidden_name | underscored }}" value="{{ item_value }}" {{ if item_checked }}checked{{ /if }} {{ if is_required }} data-required="true" required {{ /if }}>
    <label for="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ fieldset_hidden:0:set_hidden_name | underscored }}_{{ item_label }}">{{ item_label }}</label><br>
  {{ /show_hide_items }}
{{ /fieldset_hidden }}
  <div class="reveal-if-active">
    <hr>
    <div class="row">
    {{ form_blocks }}
  {{ partial:custom-form/blocks/form-blocks var_is_hidden="true" }}
    {{ /form_blocks }}
    </div>
  </div>
</div>
