<div class="custom-form-page-contents">
{{ if var_multiple AND has_last_page }}
  <h2 class="section-heading{{ if last_page_info }} has-content{{ /if }}">Submission</h2>
  {{ if last_page_info }}
    <div class="section-heading-content">
    {{ last_page_info }}
      <div class="content kind-{{ kind }}">
        {{ if kind == "warning" }} <span class="icon"><i class="fa fa-warning"></i></span>{{ /if }}
      {{ text | markdown }}
      </div>
    {{ /last_page_info }}
    </div>
  {{ /if }}
{{ /if }}
{{ if has_cf_payment }}
  {{ if cf_payment_type == 'checkout' }}
{{ partial:custom-form/checkout }}
  {{ /if }}

<h3 class="fieldset-heading">{{ payment_fieldset_heading }}</h3>
<fieldset class="container-fluid cf-payment-payments">
  <div class="row">
    <div class="col-md-12">

  {{ if cf_payment_type == 'subs' }}
{{ partial:custom-form/subscriptions }}
  {{ else }}

      <div class="radio-wrapper gateways {{ if hide_gateways }} hidden{{ /if }}" id="gateways">
        <label for="">{{ payment_fieldset_label }}</label>

    {{ gvcustomform:cf_payment_gateways }}
      {{ if (show_gateways | in_array:gateway_value) }}

{{ partial:custom-form/gateways }}

      {{ /if }}
    {{ /gvcustomform:cf_payment_gateways }}

      </div>
    {{ unless gvcustomshop:gs_hide_prices }}
      <div class="total-amount-summary">
        <div class="" id="total_amount_summary_section">
          <h4>Payment Summary</h4>
          <div class="content">
            <div id="total_amount_summary"></div>
            <input type="hidden" id="cf_payment_summary" name="cf_payment_summary" value="">
          </div>
        </div>
      </div>
    {{ /if }}
  {{ /if }}
    
    {{ unless gvcustomshop:gs_hide_prices }}
      <br>
      <div class="form-group total-amount no-border">
        <label class="field-label" for="cf_payment_amount">Total Amount Due {{ if cf_payment_type == 'subs' }}Today{{ /if }}</label>
        <div class="input-group error-no-margin">
          <div class="input-group-addon">{{ cf_payment_currency }} {{ partial:custom-form/currency-symbol }}</div>
          <input type="text" class="form-control no-border no-hover display-total-amount" value="" name="cf_payment_total" id="cf_payment_form_total" readonly>
          <input type="hidden" class="form-control" value="" name="cf_payment_amount" id="cf_payment_form_subtotal" readonly {{ if cf_payment_optional }}data-optional="true"{{ /if }}>
        </div>
        {{ if cf_payment_type != 'subs' && {payamic:getLevy gateway='stripe'} != '' && cf_stripe_levy }}
        <small class="levy-note" id="levy-note">(Credit / Debit Card payments include a processing fee of {{ payamic:getLevy gateway='stripe' }}% ({{ partial:custom-form/currency-symbol }}<span class="levy-amount" data-levy="{{ payamic:getLevy gateway='stripe' }}"></span>) on top of your total selected items)</small>
        {{ /if }}
      </div>
    {{ /if }}
  </div>
</div>
</fieldset>

<section class="credit-card-details hide" id="credit-card-details">
  <h3 class="fieldset-heading">Credit / Debit Card Details</h3>
  <fieldset>
    <div class="stripe">
      <div class="form-group no-border">
        <label for="card-element">
            Please enter your Card Number, Expiry &amp; CVC
        </label>
        <br><br>
        <div id="card-element"></div>
        <br>
      </div>
      <div class="card-errors no-error" id="card-errors">
        <div class="arrow"></div>
        <div class="error-message" id="error-message"></div>
      </div>

      <div class="kind-warning-alone">
        Please click the submit button below and wait for your payment to process. Do NOT click the button more than once in quick succession or your credit / debit card may be charged multiple times.
        {{ if cf_payment_type == 'subs' }}
        <br><br>
        <strong>NOTE: This is a recurring payment. Your Credit / Debit Card will be billed the amount specified on a recurring basis as per the details above.</strong>
        {{ /if }}
      </div>
    </div>

    <div class="payments-ssl-badge">
      <div class="image">
        <img class="img-responsive" src="/site/themes/site/partials/custom-form/img/ssl-badge.png" alt="">
      </div>
      <div class="text">
        Our website and payments are protected by the highest level encryption with SSL/HTTPS. Your data is securely and safely encrypted. Click the lock in the URL bar at the top for more information.
      </div>
    </div>
  </fieldset>
</section>
{{ /if }}

{{ if cf_mailchimp_id }}
<section class="mailchimp">
  {{ if cf_mailchimp_heading }}<h3 class="fieldset-heading">{{ cf_mailchimp_heading }}</h3>{{ /if }}
  <fieldset>
    {{ if cf_mailchimp_text }}
    <div class="mailchimp-text">
      {{ cf_mailchimp_text | nl2br }}
    </div>
    {{ /if }}

    <div class="checkbox-wrapper">
      <div class="checkbox">
        <label>
          <input class="mailchimp-group" type="checkbox" name="cf_mailchimp_signup" value="yes">
          {{ if cf_mailchimp_button }} {{ cf_mailchimp_button }}{{ else }}Subscribe to Newsletter{{ /if }}
        </label>
      </div>
    </div>

    {{ if cf_mailchimp_disclaimer }}
    <div class="mailchimp-disclaimer">
      {{ cf_mailchimp_disclaimer | markdown }}
    </div>
    {{ /if }}

  </fieldset>
</section>
{{ /if }}

{{ if show_privacy_check }}
  <div class="privacy-check">
  {{ if show_privacy_check_statement }}
    <div class="statement">{{ show_privacy_check_statement }}</div>
  {{ /if }}
  {{ if show_privacy_check_agreement }}
  <br>
    <div class="selectable-set">
      <div class="checkbox-wrapper" data-field="privacy_check_agree" data-required="true">
        <div class="checkbox">
          <label>
            <input class="privacy_check_agree-group" type="checkbox" name="privacy_check_agree_i_agree" value="Selected">
            {{ show_privacy_check_agreement }} <span class="is-required">(Required)</span></label>
        </div>
      </div>
    </div>
  {{ /if }}
  <br>
{{ /if }}

{{ if hide_recaptcha }}
{{ else }}
<div id="recaptcha">
  {{ recaptcha }}
</div>
<input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
<br>
{{ /if }}

<div class="hidden">
  <label for="website1">If you are a human and can see this field, please refrain from filling it out</label>
  <input type="text" name="website1" value="">
</div>

<button type="submit" class="btn btn-cf-submit" name="submit-form">{{ if cf_custom_submit_button }}{{ cf_custom_submit_button }} {{ else }}Submit Form {{ /if }} {{ if has_cf_payment and !gvcustomshop:gs_hide_prices }}& Process Payment{{ /if }} &nbsp; <i class="fa fa-send"></i> </button>

{{ if var_multiple AND has_last_page }}
<br><br><br>
{{ /if }}
</div>
