{{ if cf_page_duplicate:0 }}
<div class="cf-page-duplicated-page">
<h5 class="cf-page-duplicate-heading">{{ cf_page_duplicate:0:label }} <span class="duplicate-count">1</span></h5>
<input type="hidden" name="{{ cf_page_duplicate:0:name }}0_penabled" value="true">
{{ /if }}

<div class="custom-form-page-contents">
{{ form_page_fieldsets }}

  {{ if type == "section_heading_set" }}
    {{ if heading_text }}
      <h2 class="section-heading{{ if info }} has-content{{ /if }}">{{ heading_text }}</h2>
    {{ /if }}
    {{ if info }}
      <div class="section-heading-content">
      {{ info }}
        <div class="content kind-{{ kind }}">
          {{ if kind == "warning" }} <span class="icon"><i class="fa fa-warning"></i></span>{{ /if }}
        {{ text | markdown }}
        </div>
      {{ /info }}
      </div>
    {{ /if }}

  {{ elseif type == "fieldset_set" }}
    <div>
      {{ if fieldset_heading }}
      <h3 class="fieldset-heading">{{ fieldset_heading }} </h3>
      {{ /if }}
      <fieldset class="container-fluid {{ if set_border }}has-border{{ /if }} {{ if fieldset_duplicate:0 }}has-duplicates{{ /if }} clearfix">
        {{ if fieldset_duplicate:0 }}
        <h5 class="fieldset-heading-duplicate">{{ fieldset_duplicate:0:label }} <span class="duplicate-count">1</span></h5>
        <input type="hidden" name="{{ fieldset_duplicate:0:name }}_fenabled_0" value="true">
        {{ /if }}
        {{ if fieldset_hidden:0:set_hidden }}
{{ partial:custom-form/hidden }}
        {{ else }}
        <div class="row">
          {{ form_blocks }}
{{ partial:custom-form/blocks/form-blocks }}
          {{ /form_blocks }}
        </div>
        {{ /if }}
        <span class="cf-duplicate-remove hide"><i class="fa fa-close"></i></span>
        {{ if fieldset_duplicate:0 }}
      </fieldset>
      
     <div class="fieldset-duplicate-button-wrapper">
      <div class="fieldset-duplicate-button" data-max="{{ fieldset_duplicate:0:amount }}">
        <span class="pseudo-btn">Add Another {{ fieldset_duplicate:0:label }} &nbsp;<i class="fa fa-plus"></i> </span>
      </div>
      <br>
    </div>

      {{ /if }}
    </div>
  {{ /if }}{{# / sets #}}
{{ /form_page_fieldsets }}
</div><!-- /page 1 -->

{{ if cf_page_duplicate:0 }}
</div> <!-- closes duplicate -->

<div class="cf-page-duplicate-btn-wrapper">
  <div class="cf-page-duplicate-btn" data-max="{{ cf_page_duplicate:0:amount }}">
    <span class="pseudo-btn">Add Another {{ cf_page_duplicate:0:label }} &nbsp;<i class="fa fa-plus"></i> </span>
  </div>
  <span class="cf-page-duplicate-remove hide"> Remove This Camper <i class="fa fa-close"></i></span>
  <p class="note">If you are finished adding {{ cf_page_duplicate:0:label }}(s), click the 'next' button below OR use the navigation below to go to the next page in the form. </p>
</div>
{{ /if }}
