<div class="subscription-payment-section">
  <input type="hidden" id="payment_type_cc" name="cf_payment_gateway" value="stripe" data-minimum="{{ payamic:getMinimum gateway='stripe' }}">
  <input type="hidden" name="cf_subscription_price" value="">
  <div class="subscription-summary">
    <div class="kind-warning-alone">
      <strong>NOTE: This is a recurring payment. Your Credit / Debit Card will be billed the amount specified on a recurring basis as per the details you select.</strong>
    </div>
    <div class="content">
      <p>{{ cf_subscription_desc }}</p>
{{ if cf_subscription_type == "fixed" }}
{{ partial:custom-form/blocks/sub-fixed }}
{{ else }}
{{ partial:custom-form/blocks/sub-variable }}
{{ /if }}
    </div>
  </div>
</div>
