<div class="ajax-form-success {{ if !{form:success} }}hide{{ /if }}" id="form-success">
  <div class="cf-message is-success">
    <h2 class="text-success"> <i class="fa fa-check-circle"></i> {{ cf_user_success_heading }}</h2>
    {{ cf_user_success_text | markdown }}
  </div>

  <h2>Submission Details </h2>
  <p id="success-name"><strong>Name:</strong> <span id="success-out-name">{{ name }}</span></p>
  <p id="success-email"><strong>Email:</strong> <span id="success-out-email">{{ email }}</span></p>
  <p><strong>Submission Date:</strong> <span id="success-out-date">{{ cf_submission_date }}</span></p>
  {{ if cf_send_user_email }}
  <p class="text-cf-success" id="text-cf-success"><strong>If you entered an email address, your submission details have been sent to you in an email.</strong></p>
  {{ /if }}
  <div id="success-payment" class="success-payment {{ if !cf_payment_total }}hide{{ /if }}">
  {{ gvcustomform:cf_payment_gateways }}
    {{ if (show_gateways | in_array:gateway_name) }}
    <div id="success-gateway-{{ gateway_value }}" class="gateway-info{{ if cf_payment_gateway != '{ gateway_value }' }} hide{{ /if }}">
      {{ gateway_success | markdown }}
    </div>
    {{ /if }}
  {{ /gvcustomform:cf_payment_gateways }}
  </div>

  <div class="buttons">
    <a class="btn btn-cf-one" href="/">Go Home &nbsp; <i class="fa fa-angle-double-right"></i> </a>
    <a class="btn btn-cf-one" href="{{ gv_to_contact }}">Contact Us &nbsp; <i class="fa fa-angle-double-right"></i> </a>
    {{ unless cf_payment_type == "checkout" }}
      <a class="btn btn-cf-one" href="{{ url }}">Complete this Form Again &nbsp; <i class="fa fa-angle-double-right"></i> </a>
    {{ /if }}
  </div>

</div>
