{{ relate:featured_products as="posts" limit="18" }}
{{ if no_results }}
{{ else }}

<div class="list-products site-width-centered page-content-padding">
  <div class="container-fluid">
    <div class="row row-ehc">
  {{ posts }}
  {{ partial:custom-shop/product-list-inner }}
  {{ /posts }}
    </div>
  </div>
</div>

{{ /if }}
{{ /relate:featured_products }}