You requested a password reset for {global:site_name}.

Please use the link below to reset your password.

{{ reset_url }}

---
{{ partial:email/email-header var_color="{global:email_color}" var_title="{global:site_name} Password Reset" var_heading="{global:site_name} Password Reset" type="form" }}
<br />
<p>You requested a password reset for {global:site_name}.</p>

<p>Please use the link below to reset your password.</p>

<a href="{{ reset_url }}">RESET YOUR PASSWORD</a>
<br /> <br />
{{ partial:email/email-footer var_desc="You are receiving this email because <br /> you filled out a form on the {global:site_name} website." }}
