




span.stars {
  position: relative;

  &.md {
    font-size: @fsb * 1.3;
  }
  &.lg {
    font-size: @fsb * 1.6;
  }
  &.xl {
    font-size: @fsb * 1.9;
  }

  &.stars4 {
    &:before {
      content: "\f005 \f005 \f005 \f005";
      display: inline;
      font-family: FontAwesome;
      letter-spacing: 4px;
    }
  }
  &.stars5 {
    &:before {
      content: "\f005 \f005 \f005 \f005 \f005";
      display: inline;
      font-family: FontAwesome;
      letter-spacing: 4px;
    }
  }

}//stars 


span.quote-mark {
  position: relative;
  &.md {
    font-size: @fsb * 1.3;
  }
  &.lg {
    font-size: @fsb * 1.6;
  }
  &.xl {
    font-size: @fsb * 1.9;
  }

  &.color-one {
    color: @color1;
  }  
  &.color-grey {
    color: @colorg;
  }
  &.color-grey-dark {
    color: @colorg-dark;
  }
}

span.quote-left {
  margin-right: 10px;

  &:before {
    content: "\f10d";
    display: inline-block;
    font-family: FontAwesome;
    letter-spacing: 4px;
  }
}

span.quote-right {
  margin-left: 10px;

  &:before {
    content: "\f10e";
    display: inline-block;
    font-family: FontAwesome;
    letter-spacing: 4px;
    margin-left: 5px;
  }
}





// ratings

  .rating-stars {

    .half {
      display: none;
    }

    &.stars-count-none {
      display: none;
    }

    &.stars-half {
      .half {
        display: inline;
      }
    }

    &.stars-count-three {
      .four, .five {
        display: none;
      }
    }
    &.stars-count-four {
      .five {
        display: none;
      }
    }
    &.stars-count-five {
      &.stars-half {
        .half {
          display: none;
        }
      }
    }
  }





// arrows

.arrow(
  @size,
  @color,
  @direction,
  @offset,
  @border-size: 0,
  @border-color: inherit) {
  position: relative;
  z-index: 100;
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }
}

.arrow(@size, @color, @direction, @offset, @border-size: 0, @border-color: inherit) when (@direction = top) {
  @m-size: @size + (@border-size*2);

  &:after {
    bottom: 100%;
    left: @offset;
    margin-left: -@size;

    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-bottom: @size solid @color;
  }

  &:before {
    bottom: 100%;
    left: @offset;
    margin-left: -@m-size;

    border-left: @m-size solid transparent;
    border-right: @m-size solid transparent;
    border-bottom: @m-size solid;
    border-bottom-color: @border-color;
  }
}

.arrow(@size, @color, @direction, @offset, @border-size: 0, @border-color: inherit) when (@direction = bottom) {
  @m-size: @size + (@border-size*2);

  &:after {
    top: 100%;
    left: @offset;
    margin-left: -@size;

    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-top: @size solid @color;
  }

  &:before {
    top: 100%;
    left: @offset;
    margin-left: -@m-size;
    border-left: @m-size solid transparent;
    border-right: @m-size solid transparent;
    border-top: @m-size solid;
    border-top-color: @border-color;
  }
}

.arrow(@size, @color, @direction, @offset, @border-size: 0, @border-color: inherit) when (@direction = right) {
  @m-size: @size + (@border-size*2);

  &:after {
    left: 100%;
    top: @offset;
    margin-top: -@size;

    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
    border-left: @size solid @color;
  }
  &:before {
    left: 100%;
    top: @offset;
    margin-top: -@m-size;

    border-top: @m-size solid transparent;
    border-bottom: @m-size solid transparent;
    border-left: @m-size solid;
    border-left-color: @border-color;
  }
}

.arrow(@size, @color, @direction, @offset, @border-size: 0, @border-color: inherit) when (@direction = left) {
  @m-size: @size + (@border-size*2);

  &:after {
    right: 100%;
    top: @offset;
    margin-top: -@size;

    border-top: @size solid transparent;
    border-bottom: @size solid transparent;
    border-right: @size solid @color;
  }
  &:before {
    right: 100%;
    top: @offset;
    margin-top: -@m-size;

    border-top: @m-size solid transparent;
    border-bottom: @m-size solid transparent;
    border-right: @m-size solid;
    border-right-color: @border-color;
  }
}
