

.colophon {
  margin-bottom: 100px;

  .section-heading {
    color: #fff;
  }

  .block {
    display: inline-block;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    width: 12%;
  }

  .inner-heading {
    font-size: @font-size-base * 1.2;
    display: block;
    margin-bottom: 10px;
  }


  .all-colours {
    span {
      color: #fff;
      display: inline-block;
      height: 100px;
      padding: 35px 0 0;
      text-align: center;
      width: 24%;
      &.colour1 {
        background: @color1;
      }
      &.colour2 {
        background: @colord;
      }
      &.colour3 {
        background: @color2;
      }
      &.colour4 {
        background: @color3;
      }
    }
  }

  .colour-1 {
    color: @color1;
    .block {
      &.x100 {
        background: @color1;
        color: fade(#fff, 70%);
      }
      &.x70 {
        background: mix(@color1, #fff, 70%);
        color: fade(#fff, 80%);
      }
      &.x50 {
        background: mix(@color1, #fff, 50%);
        color: fade(@color1, 90%);
      }
      &.x30 {
        background: mix(@color1, #fff, 30%);
        color: fade(@color1, 80%);
      }
      &.x20 {
        background: mix(@color1, #fff, 20%);
        color: fade(@color1, 80%);
      }
      &.x10 {
        background: mix(@color1, #fff, 10%);
        color: fade(@color1, 80%);
      }
      &.x5 {
        background: mix(@color1, #fff, 5%);
        color: fade(@color1, 80%);
      }
    }
    .text70 {
      color: mix(@color1, #fff, 70%);
    }
    .text30 {
      color: mix(@color1, #fff, 30%);
    }
    .text10 {
      color: mix(@color1, #fff, 10%);
    }

    .color1-dark {
      background: @color1-dark;
      height: 80px;
      margin-bottom: 30px;
      width: 200px;
    }
  }

  .colour-2 {
    color: @colord;
    .block {
      &.x100 {
        background: @colord;
        color: fade(#fff, 30%);
      }
      &.x70 {
        background: mix(@colord, #fff, 70%);
        color: fade(#fff, 30%);
      }
      &.x50 {
        background: mix(@colord, #fff, 50%);
        color: fade(#fff, 40%);
      }
      &.x30 {
        background: mix(@colord, #fff, 30%);
        color: fade(@colord, 50%);
      }
      &.x20 {
        background: mix(@colord, #fff, 20%);
        color: fade(@colord, 50%);
      }
      &.x10 {
        background: mix(@colord, #fff, 10%);
        color: fade(@colord, 50%);
      }
      &.x5 {
        background: mix(@colord, #fff, 5%);
        color: fade(@colord, 50%);
      }
    }
    .text70 {
      color: mix(@colord, #fff, 70%);
    }
    .text30 {
      color: mix(@colord, #fff, 30%);
    }
    .text10 {
      color: mix(@colord, #fff, 10%);
    }

    .color2-dark {
      background: @color2-dark;
      height: 80px;
      margin-bottom: 30px;
      width: 200px;
    }
  }

  .colour-3 {
    color: @color2;
    .block {
      &.x100 {
        background: @color2;
        color: fade(#fff, 30%);
      }
      &.x70 {
        background: mix(@color2, #fff, 70%);
        color: fade(#fff, 30%);
      }
      &.x50 {
        background: mix(@color2, #fff, 50%);
        color: fade(#fff, 40%);
      }
      &.x30 {
        background: mix(@color2, #fff, 30%);
        color: fade(@color2, 50%);
      }
      &.x20 {
        background: mix(@color2, #fff, 20%);
        color: fade(@color2, 50%);
      }
      &.x10 {
        background: mix(@color2, #fff, 10%);
        color: fade(@color2, 50%);
      }
      &.x5 {
        background: mix(@color2, #fff, 5%);
        color: fade(@color2, 50%);
      }
    }
    .text70 {
      color: mix(@color2, #fff, 70%);
    }
    .text30 {
      color: mix(@color2, #fff, 30%);
    }
    .text10 {
      color: mix(@color2, #fff, 10%);
    }
  }


    .colour-4 {
    color: @color3;
    .block {
      &.x100 {
        background: @color3;
        color: fade(#fff, 30%);
      }
      &.x70 {
        background: mix(@color3, #fff, 70%);
        color: fade(#fff, 30%);
      }
      &.x50 {
        background: mix(@color3, #fff, 50%);
        color: fade(#fff, 40%);
      }
      &.x30 {
        background: mix(@color3, #fff, 30%);
        color: fade(@color3, 50%);
      }
      &.x20 {
        background: mix(@color3, #fff, 20%);
        color: fade(@color3, 50%);
      }
      &.x10 {
        background: mix(@color3, #fff, 10%);
        color: fade(@color3, 50%);
      }
      &.x5 {
        background: mix(@color3, #fff, 5%);
        color: fade(@color3, 50%);
      }
    }
    .text70 {
      color: mix(@color3, #fff, 70%);
    }
    .text30 {
      color: mix(@color3, #fff, 30%);
    }
    .text10 {
      color: mix(@color3, #fff, 10%);
    }
  }


} // styleguide
