
// christ where the fuck to put this? Here I guess

.highlight-block {
  position: relative;
  &.is-ib {
    display: inline-block;
  }
  h1,h2,h3,h4 {
    &.is-first {
      margin-top: 0;
    }
    &.is-alone {
      margin: 0;
    }
  }
}

.highlight-red {
  background: @color3;
  color: fade(@colorw, 90%);
  text-align: center;

  .content {
    .rwd-p(@site-width-1-bp,767px,/**/15px,20px,15px,20px,/**/15px,20px,15px,20px,/**/15px,15px,15px,15px);
  }

  .section-heading {
    background: @colorw;
    border: 2px solid @color3;
    color: @color3;
    font-weight: 600;
    margin: 0;
    padding: 15px 20px;
    text-align: center;
  }
  h1,h2,h3,h4 {
    color: @colorw;
  }

  .btn-action {
    background: @colorw;
    color: @color3;
    &:hover {
      background: @colorb2;
      color: @colorw;
    }
  }

}

.highlight-white {
  background: @colorw;
  border: 1px solid @color3;
  color: @color3;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: center;

  h1,h2,h3,h4 {
    color: @color3;
  }

  .content {
    .rwd-p(@site-width-1-bp,767px,/**/15px,20px,15px,20px,/**/15px,20px,15px,20px,/**/15px,15px,15px,15px);
  }

}


.highlight-one {
  background: @color2;
  border: 1px solid @color2;
  color: @colorw;
  text-align: center;
  padding: 10px 20px;

  h1,h2,h3,h4 {
    color: @colorw;
  }
}


.highlight-alert {
  background: mix(@colorw,@color-error,85%);
  border: 1px solid @color3;
  color: mix(@colorb,@color-error,15%);
  text-align: center;
  padding: 10px 20px;

  h1,h2,h3,h4 {
    color: mix(@colorb,@color-error,15%);
  }
}




.highlight-two {
  background: @colord;
  color: @color1;
  padding: 10px 20px;
  text-align: center;

  h1,h2,h3,h4 {
    color: @color1;
  }
  .section-heading {
    background: @colorw;
    border: 2px solid @colord;
    color: @colord;
    font-weight: 600;
    margin: 0;
    padding: 15px 20px;
    text-align: center;
  }

  .content {
    .rwd-p(@site-width-1-bp,767px,/**/15px,20px,15px,20px,/**/15px,20px,15px,20px,/**/15px,15px,15px,15px);
  }

  .line-lg {
    display: block;
    font-size: @fsb * 2;
    font-weight: 600;
  }

  &.size-large {
    font-size: @fsb * 1.5;
  }


}
