



// ##############################################################################
// ##############################################################################
// iframe stuff


.rwd-iframe-wrapper {

}


.gmap-iframe-wrapper.orient-center {
 .rwd-iframe-wrapper {
   display: inline-block;
 }
}


.rwd-iframe  {
  position: relative;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  padding-bottom: 55%;

  &.height-sm {
    padding-bottom: 20%;
  }
  &.height-md {
    padding-bottom: 40%;
  }
  &.height-lg {
    padding-bottom: 55%;
  }

}


.rwd-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.rwd-iframe-sm {
  .rwd-iframe-wrapper {
    width: 50%;
  }
}

.rwd-iframe-md {
  .rwd-iframe-wrapper {
    width: 66%;
  }
}

.rwd-iframe-lg {
  .rwd-iframe-wrapper {
    width: 100%;
  }
}


.rwd-iframe-wide {
  .rwd-iframe  {
    padding-bottom: 50%;
  }
}







// ##############################################################################
// ##############################################################################
// rwd

@media only screen and (max-width: 1250px) {

  .rwd-iframe  {

    &.height-sm {
      padding-bottom: 28%;
    }
    &.height-md {
      padding-bottom: 50%;
    }

  }


}



@media only screen and (max-width: 991px) {

  .rwd-iframe  {

    padding-bottom: 90%;

    &.height-sm {
      padding-bottom: 30%;
    }
    &.height-md {
      padding-bottom: 60%;
    }
    &.height-lg {
      padding-bottom: 90%;
    }

  }


}


@media only screen and (max-width: 767px) {

.rwd-iframe-lg, .rwd-iframe-md, .rwd-iframe-sm {
  .rwd-iframe-wrapper {
    width: 100%;
  }
}


  .rwd-iframe  {

    &.height-sm {
      padding-bottom: 40%;
    }

  }

}



@media only screen and (max-width: 550px) {


  .rwd-iframe  {

    &.height-sm {
      padding-bottom: 60%;
    }
    &.height-md {
      padding-bottom: 70%;
    }

  }


.rwd-iframe-lg {

}

}
