
// ##############################################################################
// ##############################################################################
// map stuff


.iframe-greyscale2 {
   iframe {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
	  -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
	  -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
  }
}



.iframe-greyscale iframe {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */

/*

// OR this one

  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); // Firefox 10+
  filter: gray; // IE6-9
  -webkit-filter: grayscale(99%); //Chrome 19+ & Safari 6+
  -webkit-backface-visibility: hidden;  //Fix for transition flickering

*/



}




.gmap-iframe  {
  .rwd-p(@site-width-1-bp,767px,/**/0px,0px,0px,0px,/**/0px,0px,0px,0px,/**/0px,0,0px,0);
}

.gmap-iframe, .gmap-iframe-wrapper{
  .map-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200;
  }
}


section.gmap {
  .btn {
    margin: 20px 40px;
  }
}
.gmap-link {
  display: block;
  min-height: 400px;
  position: relative;
  width: 100%;
  img {
  border: 2px solid @color1;
  }
  &:before {
  .overlay-dark;
    opacity:0;
  }
  &:hover {
    .overlay-icon {
      opacity: 1;
    }
    &:before {
      opacity: 0.3;
    }
  }
}


// map stuff



.gmap-image {
  img {
    border: 2px solid @colord;
    padding: 1px;
  }
  &:hover {
    img {
      border-color: @color1;
      opacity: 0.8;
    }
  }
}


.full-map {
  .section-heading {
    .rwd-p(1099px,767px,/**/0px,0px,0px,0px,/**/0px,0px,0px,0px,/**/0,15px,0,15px);
    text-transform: uppercase;
  }
  .gmap-image {
    height: 350px;
    margin: 1px 0 0px;
    position: relative;
    .btn {
      bottom: 20px;
      left: 20px;
      position: absolute;
    }
    &:hover {
      .btn {
        z-index: 2000;
      }

      .overlay-link {
        background: fade(#000,30%);
        opacity: 1;
      }
    }

    &.size-sm {
      height: 250px;
    }
    &.size-lg {
      height: 500px;
    }
  }
}
