


// messages




.warning-mobile-table {
  background: mix(@colorw, @color-error, 40%);
  color: @colorw;
  .rwd-display(@screen-sm-max,767px,none,none,block);
  font-size: @fsb * 0.9;
  padding: 5px 15px 4px;
}




.message-image {
  min-height: 800px;
  padding-top: 50px;
  .message {
    background: @colorw;
  }
}



.message {
  border: 1px solid #999;
  color: #666;
  margin: 20px 0;
  padding: 10px 20px 20px 110px;
  position: relative;
  .ffb;
  .heading {
    margin-top: 13px;
  }
  h1,h2,h3,h4 {
    .ffb;
  }
  .fa {
    left: 40px;
    position: absolute;
    top: 45px;
  }
  ul li {
    margin-bottom: 10px;
  }

  &.message-error {
    color: @color-error;
    border: 1px solid @color-error;
    .fa, h2, h3, h4 {
      color: @color-error;
    }
  }

  &.message-success {
    border-color: @color-success;
    color: @color-success;
    .fa {
      color: @color-success;
      margin-left: 0;
    }
  }

  &.message-warning {
    color: darken(@color-warning, 20%);
    border: 1px solid @color-warning;
  }

}






// ##############################################################################
// ##############################################################################
// rwd



@media only screen and (max-width: @site-width-1-bp) {

  .message {
    margin: 20px 15px;
  }

}//rwd



@media only screen and (max-width: 650px) {

  .message {
    padding: 10px 15px 20px 15px;
    .fa {
      left: auto;
      position: static;
      top: auto;
    }
  }

}//rwd
