




// ##############################################################################
// ##############################################################################
// mixins


.site-width {
  max-width: @site-width-1;
}
.site-width-centered, .swc {
  max-width: @site-width-1;
  margin: 0 auto;
}
.site-width-2 {
  max-width: @site-width-2;
}
.site-width-2-centered {
  max-width: @site-width-2;
  margin: 0 auto;
}


@media only screen and (min-width: @site-width-1-bp) {
.site-width-centered {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}
} //rwd









// .hover-underline(1px,@color2,6px,0,100%);
.hover-underline(@thickness,@color,@bottom,@left,@width) {
  position: relative;
  &:hover {
    &:after {
      opacity: 1;
      width: @width;
    }
  }
  &:after {
    .pseudo-item(auto,auto,auto,auto,1px,auto);
    bottom: @bottom;
    left: @left;
    border-bottom: @thickness solid @color;
    width: 0px;
    opacity: 0;
    .transition(0.5s all);
  }
  @media only screen and (max-width: 767px) {
    &:after {
      display: none;
    }
  }
}










.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &.site-width-centered {
    margin: 0 auto;
  }
}



//.bg-gradient-v(fade(@colorb,70%),fade(@colorb,5%),none);
.bg-gradient-v(@c1,@c2,@c3) {
  background: @c3;
  #gradient > .vertical(@start-color: @c1; @end-color: @c2);
}

//.bg-gradient(fade(@colorb,70%),fade(@colorb,5%),none);
.bg-gradient(@c1,@c2,@c3) {
  background: @c3;
  #gradient > .horizontal(@start-color: @c1; @end-color: @c2);
}


//.bg-pseudo(@colorw,@color2);
.bg-pseudo(@c1,@c2) {
    background: linear-gradient(90deg, @c1 50%, @c2 50%);
}



.vtop, .center-v {
top: 50%;
.translate(0,-50%);
}
.center-h {
left: 50%;
.translate(-50%,0);
}
.center-b {
left: 50%;
top: 50%;
.translate(-50%,-50%);
}





//.pseudo-item(0,0,0,0,100%,100%);
.pseudo-item(@top, @right, @bottom, @left, @height, @width) {
  bottom: @bottom;
  content: "";
  display: inline-block;
  height: @height;
  left: @left;
  position: absolute;
  right: @right;
  top: @top;
  width: @width;
}




.after-arrow-top(@arrow-color, @arrow-size, @arrow-pos, @arrow-left, @arrow-right) {
  border-bottom: @arrow-size solid @arrow-color;
  border-left: @arrow-size solid transparent;
  border-right: @arrow-size solid transparent;
  content: "";
  display: inline-block;
  left: @arrow-left;
  position: absolute;
  right: @arrow-right;
  top: @arrow-pos;
}

//.after-arrow-bottom(@colord,15px,-14px,0,auto);
.after-arrow-bottom(@arrow-color, @arrow-size, @arrow-pos, @arrow-left, @arrow-right) {
  border-top: @arrow-size solid @arrow-color;
  border-left: @arrow-size solid transparent;
  border-right: @arrow-size solid transparent;
  bottom: @arrow-pos;
  content: "";
  display: inline-block;
  left: @arrow-left;
  position: absolute;
  right: @arrow-right;
}





// rwd


@media only screen and (max-width: 991px) {



} // rwd
