


body {


  .modal-callback {
    .modal-body-content {
    
    }

  }




  .modal {
    top: 50px;
    /* Important part */
    .modal-dialog{
      overflow-y: initial !important;
      margin-left: 7%;
      width: 86%;
    }
    .modal-content {
      border: 1px solid @colord;
      border-radius: 0;
      background: none;
    }
    .modal-header {
      background: @colord;
      border: 1px solid fade(@colorw,30%);
      border-radius: 0;
      text-align: center;
      h4 {
        color: @colorw;
        padding-left: 30px;
      }
      .close {
        background: #fff;
        border-radius: 100px;
        color: #c00;
        font-size: @fsb * 1.1;
        height: 30px;
        opacity: 1;
        padding: 1px 0 0 0px;
        text-align: center;
        width: 30px;
        span {
          position: relative;
          right: 0px;
          top: 0;
        }
      }
    }
    .modal-title {
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
    }

    .modal-body {
      background: @colorw;
      max-height: 90vh;
      overflow-y: auto;
      padding: 0;
    }
    .modal-body-content {
      .rwd-p(@site-width-1-bp,767px,/**/20px,10%,30px,10%,/**/20px,6%,30px,6%,/**/15px,15px,15px,15px);
    }





    &.modal-error {
      .modal-body {
        background: #fff;
        padding: 10px;
        .modal-message {
          border: 2px solid #c00;
          color: #c00;
          padding: 15px;
          .fa-times {
            display: block;
          }
        }
      }
    }
  }

} //body






// ##############################################################################
// ##############################################################################
// specific


.modal-global-start {
  text-align: center;
  h2 {
    font-size: @fsb * 1.5;
  }
  .form {
    .form-content {

    }
    label {
      display: block;
      text-align: left;
    }
  }
}



.modal-global-contact {

  text-align: center;
}







// rwd


@media only screen and (max-width: 767px) {

  body {
    .modal {
      .modal-dialog {
        margin-left: 2%;
        width: 96%;
      }
    }
  }

} // rwd



@media only screen and (max-width: 991px) {


  body {
    .modal {
      top: 5vh;


    }
  }




} //rwd
