
// ##############################################################################
// ##############################################################################
// core

// RWD mixins FTW!
.rwd-mixin(@maxWidth; @rules) {
  @media only screen and (max-width: @maxWidth) {
      @rules();
  }
}

.rwd-mixin-2(@maxWidth; @rules) {
  @media only screen and (max-width: @maxWidth) {
      @rules();
  }
}

.rwd-mixin-3(@maxWidth; @rules) {
  @media only screen and (max-width: @maxWidth) {
      @rules();
  }
}





// ##############################################################################
// ##############################################################################
// breaker

// .rwd-breaker(@screen-sm-max,767px,40px,15px,40px);
.rwd-breaker(@rwd-w;@rwd-w-2;@value1;@value2;@value3) {
  display: @value1;
  .rwd-mixin(@rwd-w, {
    display: @value2;
  });
  .rwd-mixin-2(@rwd-w-2, {
    display: @value3;
  });
}





// ##############################################################################
// ##############################################################################
// margin

// .rwd-margin(@screen-sm-max,767px,/**/40px,15px,40px,15px,/**/15px,15px,15px,15px,/**/15px,15px,15px,15px);
.rwd-margin(@rwd-w;@rwd-w-2;@top;@right;@bottom;@left;@rwdtop;@rwdright;@rwdbottom;@rwdleft;@rwd-2-top;@rwd-2-right;@rwd-2-bottom;@rwd-2-left) {
  margin-bottom: @bottom;
  margin-left: @left;
  margin-right: @right;
  margin-top: @top;
  .rwd-mixin(@rwd-w, {
    margin-bottom: @rwdbottom;
    margin-left: @rwdleft;
    margin-right: @rwdright;
    margin-top: @rwdtop;
  });
  .rwd-mixin-2(@rwd-w-2, {
    margin-bottom: @rwd-2-bottom;
    margin-left: @rwd-2-left;
    margin-right: @rwd-2-right;
    margin-top: @rwd-2-top;
  });
}




// ##############################################################################
// ##############################################################################
// padding

// .rwd-p(@screen-sm-max,767px,40px,15px,40px,15px,15px,15px,15px,15px,15px,15px,15px,15px);
.rwd-p(@rwd-w;@rwd-w-2;@top;@right;@bottom;@left;@rwdtop;@rwdright;@rwdbottom;@rwdleft;@rwd-2-top;@rwd-2-right;@rwd-2-bottom;@rwd-2-left) {
  padding-bottom: @bottom;
  padding-left: @left;
  padding-right: @right;
  padding-top: @top;
  .rwd-mixin(@rwd-w, {
    padding-bottom: @rwdbottom;
    padding-left: @rwdleft;
    padding-right: @rwdright;
    padding-top: @rwdtop;
  });
  .rwd-mixin-2(@rwd-w-2, {
    padding-bottom: @rwd-2-bottom;
    padding-left: @rwd-2-left;
    padding-right: @rwd-2-right;
    padding-top: @rwd-2-top;
  });
}



// ##############################################################################
// ##############################################################################
// height

// .rwd-height(@screen-sm-max,767px,40px,15px,40px);
.rwd-height(@rwd-w;@rwd-w-2;@value1;@value2;@value3) {
  height: @value1;
  .rwd-mixin(@rwd-w, {
    height: @value2;
  });
  .rwd-mixin-2(@rwd-w-2, {
    height: @value3;
  });
}








// ##############################################################################
// ##############################################################################
// min height

// .rwd-min-height(@screen-sm-max,767px,40px,15px,40px);
.rwd-min-height(@rwd-w;@rwd-w-2;@value1;@value2;@value3) {
  min-height: @value1;
  .rwd-mixin(@rwd-w, {
    min-height: @value2;
  });
  .rwd-mixin-2(@rwd-w-2, {
    min-height: @value3;
  });
}


// .rwd-min-height-2(1400px,991px,767px,20vw,25vw,35vw,73vw);
.rwd-min-height-2(@rwd-w;@rwd-w-2;@rwd-w-3;@value1;@value2;@value3;@value4) {
  min-height: @value1;
  .rwd-mixin(@rwd-w, {
    min-height: @value2;
  });
  .rwd-mixin-2(@rwd-w-2, {
    min-height: @value3;
  });
  .rwd-mixin-3(@rwd-w-3, {
    min-height: @value4;
  });
}





// ##############################################################################
// ##############################################################################
// width

// .rwd-width(@screen-sm-max,767px,40px,15px,40px);
.rwd-width(@rwd-w;@rwd-w-2;@value1;@value2;@value3) {
  width: @value1;
  .rwd-mixin(@rwd-w, {
    width: @value2;
  });
  .rwd-mixin-2(@rwd-w-2, {
    width: @value3;
  });
}





// ##############################################################################
// ##############################################################################
// max-width

// .rwd-max-width(@screen-sm-max,767px,40px,15px,40px);
.rwd-max-width(@rwd-w;@rwd-w-2;@value1;@value2;@value3) {
  max-width: @value1;
  .rwd-mixin(@rwd-w, {
    max-width: @value2;
  });
  .rwd-mixin-2(@rwd-w-2, {
    max-width: @value3;
  });
}

// .rwd-max-width-2(1400px,991px,767px,20vw,25vw,35vw,73vw);
.rwd-max-width-2(@rwd-w;@rwd-w-2;@rwd-w-3;@value1;@value2;@value3;@value4) {
  max-width: @value1;
  .rwd-mixin(@rwd-w, {
    max-width: @value2;
  });
  .rwd-mixin-2(@rwd-w-2, {
    max-width: @value3;
  });
  .rwd-mixin-3(@rwd-w-3, {
    max-width: @value4;
  });
}



// ##############################################################################
// ##############################################################################
// max-width

// .rwd-min-width(@screen-sm-max,767px,40px,15px,40px);
.rwd-min-width(@rwd-w;@rwd-w-2;@value1;@value2;@value3) {
  min-width: @value1;
  .rwd-mixin(@rwd-w, {
    min-width: @value2;
  });
  .rwd-mixin-2(@rwd-w-2, {
    min-width: @value3;
  });
}






// ##############################################################################
// ##############################################################################
// display

// .rwd-display(@screen-sm-max,767px,none,block,block);
.rwd-display(@rwd-w;@rwd-w-2;@value1;@value2;@value3) {
  display: @value1;
  .rwd-mixin(@rwd-w, {
    display: @value2;
  });
  .rwd-mixin-2(@rwd-w-2, {
    display: @value3;
  });
}
