

body.submitting {
  .global-submission {
    display: block;
    opacity: 1;
  }
}

.global-submission {
  background: fade(@colorb,60%);
  bottom: 0;
  color: @color5;
  display: none;
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2000;
  .content {
    background: @colorw;
    max-width: 500px;
    position: absolute;
    padding: 20px 40px;
    .center-b;
  }
}






// ##############################################################################
// ##############################################################################

// rwd



@media only screen and (max-width: 767px) {


.global-submission {
  .content {
    max-width: 90%;
    position: relative;
    padding: 20px 15px;
    left: auto;
    top: auto;
    transform: none;
    margin-left: 5%;
    margin-top: 20vh;
    h2 {
      font-size: @fsb * 1.6;
    }
  }
}






}// rwd
