

.subscribe-embed {

}


.mc-subscribe-box {

  h4 {
    color: @colorw;
    font-size: @fsb * 1.5;
    margin: 15px 0;
  }

  .req {
    color: #800;
    margin: 0 0 5px;
  }
  label {
    color: @colord;
    font-size: @fsb * 1;
    font-weight: 200;
  }
  #mce-success-response {
    background: @colorw;
    color: @color-success;
    padding: 5px 10px;
  }
  .input-wrapper {
    position: relative;
  }
  form {
    border: 1px solid @colorw;
    position: relative;
    margin: 30px 0;
  }
  input[type="email"], input[type="text"] {
    background: @colorw;
    border: 1px solid @colord;
    border-radius: none;
    color: @colord;
    display: block;
    height: 51px;
    //padding: 4px 140px 4px 10px;
    padding: 10px 20px;
    width: 100%;
  }
  input[type="submit"] {
    background: @color1;
    border-radius: 0;
    border: 1px solid @color1;
    color: @colorw;
    font-size: @fsb * 1.2;
    height: 50px;
    letter-spacing: 2px;
    //margin-top: 10px;
    padding: 5px 20px;
    text-align: center;
    //width: 150px;
    text-transform: uppercase;

    position: absolute;
    right: 0;
    top: 0;
  }


    @media only screen and (max-width: 767px) {

        form {
          border: none;
        }
        input[type="submit"] {
          display: inline-block;
          margin: 10px 0 0;
          position: relative;
          right: auto;
          top: auto;
        }



    }


}
