
  .date-tags {
    display: inline-block;

    .tag-video {
      padding: 5px 10px;
      i {
        font-size: @fsb * 2;
        margin-left: 10px;
        vertical-align: middle;
      }
    }

          &.is-heading-text {
            .heading-icon {
              display: none;
              opacity: 0;
            }
          }

          &.is-heading-icon {
            .heading-text {
              display: none;
              opacity: 0;
            }
          }

          &.is-inline {

            margin: 0 0 5px 0;

            .heading-text {
              color: mix(@colorw,@colord,30%);
            }

            .tag-item {
              display: inline-block;
              color: mix(@colorw,@colord,50%);
              font-size: @font-size-base * 0.9;
              margin: 0 7px 0 0;
            }

            .event-date2 {
              color: @color1;
              font-size: @fsb * 1.1;
              font-weight: bold;
            }
            a {
              color: mix(@colorw,@colord,50%);;
              text-decoration: underline;
            }

          }// is inline



          &.is-block {

            margin-top: 20px;

            .tag-item {
              display: inline-block;
              float: left;
              font-size: @font-size-base * 0.9;
              margin: 0 0 5px;
              padding: 10px 20px;
              position: relative;
            }
            .tag-date {
              background: mix(@colorw, @colord, 50%);
              color: @colord;
            }
            .tag-author {
              background: mix(@colorw, @colord, 60%);
              color: @colord;
              a {
                color: @colord;
                text-decoration: underline;
              }
            }
            .tag-categories {
              background: mix(@colorw, @colord, 70%);
              color: @colord;
              a {
                color: @colord;
                text-decoration: underline;
              }
            }
            .tag-tags {
              background: mix(@colorw, @colord, 80%);
              color: @colord;
            }

          }// is block

  }//tags
