
body {
  color: @colord;
  font-weight: 300;
  p {
    line-height: 1.75;
    margin-bottom: 17px;
  }
}

a {
  color: @color1;

  &:hover {
    color: @colord;
  }
}

strong {
  font-weight: 600;
}

hr {
  background-color:mix(@colorw,@colord, 45%);
  color: mix(@colorw,@colord, 45%);
  clear: both;
  &.clear {
    background: fade(@colorw,100%);
    color: fade(@colorw,100%);
    border-color: fade(@colorw,100%);
  }
}


.text-underline {
  border-bottom: 1px solid mix(@colorw, @colord, 80%);
}
.text-caps {
  text-transform: capitalize;
}
.text-lower {
  text-transform: lowercase;
}
.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-error {
  color: @color-error;
}

.text-lg {
  font-size: 130%;
}
.text-xl {
  font-size: 150%;
}

.font-weight-100 {
  font-weight: 100;
}
.font-weight-200 {
  font-weight: 200;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-900 {
  font-weight: 900;
}



.font-colour-one {
  color: @color1 !important;
}
.font-colour-two {
  color: @color2 !important;
}
.font-colour-three {
  color: @color3 !important;
}
.font-colour-four {
  color: @color4 !important;
}
.font-colour-onedark {
  color: @color1-dark !important;
}
.font-colour-twodark {
  color: @color2-dark !important;
}
.font-colour-white {
  color: @colorw !important;
}
.font-colour-dark {
  color: @colord !important;
}
.font-colour-grey {
  color: @colorg !important;
}
.font-colour-black {
  color: @colorb !important;
}
.font-colour-warning {
  color: @color-error !important;
}
.font-colour-warningdark {
  color: @color-error-dark !important;
}



h1,h2,h3,h4,h5,h6 {
//text-transform: uppercase;
}

@h1size: 2.8;
@h2size: 2.5;
@h3size: 1.8;
@h4size: 1.4;
@h5size: 1;

@textsm: 0.9;
@textlg: 1.4;
@textxl: 1.7;

@headingssm: 0.8;
@headingslg: 1;
@headingsxl: 1;


@h1sm: @h1size * @textsm * @headingssm;
@h2sm: @h2size * @textsm * @headingssm;
@h3sm: @h3size * @textsm * @headingssm;
@h4sm: @h4size * @textsm * @headingssm;
@h5sm: @h5size * @textsm;

@h1lg: @h1size * @textlg * @headingslg;
@h2lg: @h2size * @textlg * @headingslg;
@h3lg: @h3size * @textlg * @headingslg;
@h4lg: @h4size * @textlg;
@h5lg: @h5size * @textlg;

@h1xl: @h1size * @textxl * @headingsxl;
@h2xl: @h2size * @textxl * @headingsxl;
@h3xl: @h3size * @textxl * @headingsxl;
@h4xl: @h4size * @textxl;
@h5xl: @h5size * @textxl;

@heading-size-modifier-md: 0.9;
@heading-size-modifier-sm: 0.85;


h1 {
  color: @colord;
  font-size: @fsb * @h1size;
  font-weight: 600;
  //text-transform: uppercase;
  .ffh;
  &.dashed {
    border: 2px dashed #fff;
    border-radius: 4px;
    display: inline-block;
    padding: 7px 15px;
  }
}

h2 {
  color: @color2;
  font-size: @fsb * @h2size;
  font-weight: 500;
  line-height: 1.4;
  .ffh;
  //text-transform: uppercase;
}

h3 {
  font-size: @fsb * @h3size;
  font-weight: 600;
  color: @color1;
  line-height: 1.4;
  .ffh;
  //text-transform: uppercase;
}

h4 {
  font-size: @fsb * @h4size;
  color: @color2;
  font-weight: 300;
  line-height: 1.5;
  margin: 20px 0 10px;
  //.ffh;
}
h5 {
  font-size: @fsb * @h5size;
  line-height: 1.4;
  font-weight: 300;
}

      @media only screen and (max-width: 992px) {
        
        h1 {
          font-size: (@fsb * @h1size) * @heading-size-modifier-md;
        }
        h2 {
          font-size: (@fsb * @h2size) * @heading-size-modifier-md;
        }
        h3 {
          font-size: (@fsb * @h3size) * @heading-size-modifier-md;
        }
        h4 {
          font-size: (@fsb * @h4size) * @heading-size-modifier-md;
        }
        h5 {
          font-size: (@fsb * @h5size) * @heading-size-modifier-md;
        }

      }//rwd 

      @media only screen and (max-width: 767px) {
        
        h1 {
          font-size: (@fsb * @h1size) * @heading-size-modifier-sm;
        }
        h2 {
          font-size: (@fsb * @h2size) * @heading-size-modifier-sm;
          line-height: 1.15;
        }
        h3 {
          font-size: (@fsb * @h3size) * @heading-size-modifier-sm;
          line-height: 1.2;
        }
        h4 {
          font-size: (@fsb * @h4size) * @heading-size-modifier-sm;
        }
        h5 {
          font-size: (@fsb * @h5size) * @heading-size-modifier-sm;
        }

      }//rwd 


blockquote {
  border: none;
  border-left: 5px solid mix(@colorw,@color1,0%);
  color: mix(@colorw,@color1,0%);
  font-size: @font-size-base * 1;
  margin: 10px 0 24px;
  .rwd-p((@site-width-1 - 1),767px,/**/10px,10%,10px,20px,/**/10px,10%,10px,20px,/**/10px,0,10px,20px);
  position: relative;

/*
  &:before {
    .pseudo-item(-10px,0,0,0,47px,50px);
    color: @colord;
    content: "\f10d";
	  font-family: FontAwesome;
    font-size: 50px;
    float: left;
    margin: 0 30px 10px 0;
    position: relative;
  }
*/

  &:after {

  }

  &.two {

  }

}



@media only screen and (max-width: 550px) {
  body {
    word-break: break-word;
  }







}//rwd
