
.no-pt {
  padding-top: 0;
}

.no-pb {
  padding-bottom: 0;
}

.no-mt {
  margin-top: 0;
}

.no-mb {
  margin-bottom: 0;
}

.color-override-one {
  color: @color1 !important;
}

.element-dib {
  display: inline-block;
}