
// mobile and tablet overrides 
@sw-p-t-var: 2%;
@sw-p-m-var: 4%;




// vw padding 
  .sw-p-t-0 {
    padding-top: 0vw;
  }
  .sw-p-t-1 {
    padding-top: 1vw;
  }
  .sw-p-t-2 {
    padding-top: 2vw;
  }
  .sw-p-t-3 {
    padding-top: 3vw;
  }
  .sw-p-t-4 {
    padding-top: 4vw;
  }
  .sw-p-t-5 {
    padding-top: 5vw;
  }
  .sw-p-t-6 {
    padding-top: 6vw;
  }  
  .sw-p-t-7 {
    padding-top: 7vw;
  }
  .sw-p-t-8 {
    padding-top: 8vw;
  }
  .sw-p-t-9 {
    padding-top: 9vw;
  }
  .sw-p-t-10 {
    padding-top: 10vw;
  }
  .sw-p-t-11 {
    padding-top: 11vw;
  }  
  .sw-p-t-12 {
    padding-top: 12vw;
  }
  .sw-p-t-13 {
    padding-top: 13vw;
  }
  .sw-p-t-14 {
    padding-top: 14vw;
  }
  .sw-p-t-15 {
    padding-top: 15vw;
  }
  .sw-p-t-16 {
    padding-top: 16vw;
  }  
  .sw-p-t-17 {
    padding-top: 17vw;
  }
  .sw-p-t-18 {
    padding-top: 18vw;
  }
  .sw-p-t-19 {
    padding-top: 19vw;
  }
  .sw-p-t-20 {
    padding-top: 20vw;
  }
  .sw-p-t-21 {
    padding-top: 21vw;
  }  
  .sw-p-t-22 {
    padding-top: 22vw;
  }
  .sw-p-t-23 {
    padding-top: 23vw;
  }
  .sw-p-t-24 {
    padding-top: 24vw;
  }
  .sw-p-t-25 {
    padding-top: 25vw;
  }
  .sw-p-t-26 {
    padding-top: 26vw;
  }  
  .sw-p-t-27 {
    padding-top: 27vw;
  }
  .sw-p-t-28 {
    padding-top: 28vw;
  }
  .sw-p-t-29 {
    padding-top: 29vw;
  }
  .sw-p-t-30 {
    padding-top: 30vw;
  }
  .sw-p-t-31 {
    padding-top: 31vw;
  }  
  .sw-p-t-32 {
    padding-top: 32vw;
  }
  .sw-p-t-33 {
    padding-top: 33vw;
  }
  .sw-p-t-34 {
    padding-top: 34vw;
  }
  .sw-p-t-35 {
    padding-top: 35vw;
  }
  .sw-p-t-36 {
    padding-top: 36vw;
  }
  .sw-p-t-37 {
    padding-top: 37vw;
  }
  .sw-p-t-38 {
    padding-top: 38vw;
  }
  .sw-p-t-39 {
    padding-top: 39vw;
  }
  .sw-p-t-40 {
    padding-top: 40vw;
  }
  .sw-p-t-41 {
    padding-top: 41vw;
  }  
  .sw-p-t-42 {
    padding-top: 42vw;
  }
  .sw-p-t-43 {
    padding-top: 43vw;
  }
  .sw-p-t-44 {
    padding-top: 44vw;
  }
  .sw-p-t-45 {
    padding-top: 45vw;
  }
  .sw-p-t-46 {
    padding-top: 46vw;
  }
  .sw-p-t-47 {
    padding-top: 47vw;
  }
  .sw-p-t-48 {
    padding-top: 48vw;
  }
  .sw-p-t-49 {
    padding-top: 49vw;
  }
  .sw-p-t-50 {
    padding-top: 50vw;
  }  
  .sw-p-t-51 {
    padding-top: 51vw;
  }  
  .sw-p-t-52 {
    padding-top: 52vw;
  }
  .sw-p-t-53 {
    padding-top: 53vw;
  }
  .sw-p-t-54 {
    padding-top: 54vw;
  }
  .sw-p-t-55 {
    padding-top: 55vw;
  }
  .sw-p-t-56 {
    padding-top: 56vw;
  }
  .sw-p-t-57 {
    padding-top: 57vw;
  }
  .sw-p-t-58 {
    padding-top: 58vw;
  }
  .sw-p-t-59 {
    padding-top: 59vw;
  }
  .sw-p-t-60 {
    padding-top: 60vw;
  }  
  .sw-p-t-61 {
    padding-top: 61vw;
  }  
  .sw-p-t-62 {
    padding-top: 62vw;
  }
  .sw-p-t-63 {
    padding-top: 63vw;
  }
  .sw-p-t-64 {
    padding-top: 64vw;
  }
  .sw-p-t-65 {
    padding-top: 65vw;
  }
  .sw-p-t-66 {
    padding-top: 66vw;
  }
  .sw-p-t-67 {
    padding-top: 67vw;
  }
  .sw-p-t-68 {
    padding-top: 68vw;
  }
  .sw-p-t-69 {
    padding-top: 69vw;
  }
  .sw-p-t-70 {
    padding-top: 70vw;
  }  
  .sw-p-t-71 {
    padding-top: 71vw;
  }  
  .sw-p-t-72 {
    padding-top: 72vw;
  }
  .sw-p-t-73 {
    padding-top: 73vw;
  }
  .sw-p-t-74 {
    padding-top: 74vw;
  }
  .sw-p-t-75 {
    padding-top: 75vw;
  }
  .sw-p-t-76 {
    padding-top: 76vw;
  }
  .sw-p-t-77 {
    padding-top: 77vw;
  }
  .sw-p-t-78 {
    padding-top: 78vw;
  }
  .sw-p-t-79 {
    padding-top: 79vw;
  }
  .sw-p-t-80 {
    padding-top: 80vw;
  }  
  .sw-p-t-81 {
    padding-top: 81vw;
  }  
  .sw-p-t-82 {
    padding-top: 82vw;
  }
  .sw-p-t-83 {
    padding-top: 83vw;
  }
  .sw-p-t-84 {
    padding-top: 84vw;
  }
  .sw-p-t-85 {
    padding-top: 85vw;
  }
  .sw-p-t-86 {
    padding-top: 86vw;
  }
  .sw-p-t-87 {
    padding-top: 87vw;
  }
  .sw-p-t-88 {
    padding-top: 88vw;
  }
  .sw-p-t-89 {
    padding-top: 89vw;
  }
  .sw-p-t-90 {
    padding-top: 90vw;
  }  
  .sw-p-t-91 {
    padding-top: 91vw;
  }  
  .sw-p-t-92 {
    padding-top: 92vw;
  }
  .sw-p-t-93 {
    padding-top: 93vw;
  }
  .sw-p-t-94 {
    padding-top: 94vw;
  }
  .sw-p-t-95 {
    padding-top: 95vw;
  }
  .sw-p-t-96 {
    padding-top: 96vw;
  }
  .sw-p-t-97 {
    padding-top: 97vw;
  }
  .sw-p-t-98 {
    padding-top: 98vw;
  }
  .sw-p-t-99 {
    padding-top: 99vw;
  }
  .sw-p-t-100 {
    padding-top: 100vw;
  }    




  .sw-p-b-0 {
    padding-bottom: 0vw;
  }
  .sw-p-b-1 {
    padding-bottom: 1vw;
  }
  .sw-p-b-2 {
    padding-bottom: 2vw;
  }
  .sw-p-b-3 {
    padding-bottom: 3vw;
  }
  .sw-p-b-4 {
    padding-bottom: 4vw;
  }
  .sw-p-b-5 {
    padding-bottom: 5vw;
  }
  .sw-p-b-6 {
    padding-bottom: 6vw;
  }  
  .sw-p-b-7 {
    padding-bottom: 7vw;
  }
  .sw-p-b-8 {
    padding-bottom: 8vw;
  }
  .sw-p-b-9 {
    padding-bottom: 9vw;
  }
  .sw-p-b-10 {
    padding-bottom: 10vw;
  }
  .sw-p-b-11 {
    padding-bottom: 11vw;
  }  
  .sw-p-b-12 {
    padding-bottom: 12vw;
  }
  .sw-p-b-13 {
    padding-bottom: 13vw;
  }
  .sw-p-b-14 {
    padding-bottom: 14vw;
  }
  .sw-p-b-15 {
    padding-bottom: 15vw;
  }
  .sw-p-b-16 {
    padding-bottom: 16vw;
  }  
  .sw-p-b-17 {
    padding-bottom: 17vw;
  }
  .sw-p-b-18 {
    padding-bottom: 18vw;
  }
  .sw-p-b-19 {
    padding-bottom: 19vw;
  }
  .sw-p-b-20 {
    padding-bottom: 20vw;
  }
  .sw-p-b-21 {
    padding-bottom: 21vw;
  }  
  .sw-p-b-22 {
    padding-bottom: 22vw;
  }
  .sw-p-b-23 {
    padding-bottom: 23vw;
  }
  .sw-p-b-24 {
    padding-bottom: 24vw;
  }
  .sw-p-b-25 {
    padding-bottom: 25vw;
  }
  .sw-p-b-26 {
    padding-bottom: 26vw;
  }  
  .sw-p-b-27 {
    padding-bottom: 27vw;
  }
  .sw-p-b-28 {
    padding-bottom: 28vw;
  }
  .sw-p-b-29 {
    padding-bottom: 29vw;
  }
  .sw-p-b-30 {
    padding-bottom: 30vw;
  }
  .sw-p-b-31 {
    padding-bottom: 31vw;
  }  
  .sw-p-b-32 {
    padding-bottom: 32vw;
  }
  .sw-p-b-33 {
    padding-bottom: 33vw;
  }
  .sw-p-b-34 {
    padding-bottom: 34vw;
  }
  .sw-p-b-35 {
    padding-bottom: 35vw;
  }
  .sw-p-b-36 {
    padding-bottom: 36vw;
  }
  .sw-p-b-37 {
    padding-bottom: 37vw;
  }
  .sw-p-b-38 {
    padding-bottom: 38vw;
  }
  .sw-p-b-39 {
    padding-bottom: 39vw;
  }
  .sw-p-b-40 {
    padding-bottom: 40vw;
  }
  .sw-p-b-41 {
    padding-bottom: 41vw;
  }  
  .sw-p-b-42 {
    padding-bottom: 42vw;
  }
  .sw-p-b-43 {
    padding-bottom: 43vw;
  }
  .sw-p-b-44 {
    padding-bottom: 44vw;
  }
  .sw-p-b-45 {
    padding-bottom: 45vw;
  }
  .sw-p-b-46 {
    padding-bottom: 46vw;
  }
  .sw-p-b-47 {
    padding-bottom: 47vw;
  }
  .sw-p-b-48 {
    padding-bottom: 48vw;
  }
  .sw-p-b-49 {
    padding-bottom: 49vw;
  }
  .sw-p-b-50 {
    padding-bottom: 50vw;
  }  
  .sw-p-b-51 {
    padding-bottom: 51vw;
  }  
  .sw-p-b-52 {
    padding-bottom: 52vw;
  }
  .sw-p-b-53 {
    padding-bottom: 53vw;
  }
  .sw-p-b-54 {
    padding-bottom: 54vw;
  }
  .sw-p-b-55 {
    padding-bottom: 55vw;
  }
  .sw-p-b-56 {
    padding-bottom: 56vw;
  }
  .sw-p-b-57 {
    padding-bottom: 57vw;
  }
  .sw-p-b-58 {
    padding-bottom: 58vw;
  }
  .sw-p-b-59 {
    padding-bottom: 59vw;
  }
  .sw-p-b-60 {
    padding-bottom: 60vw;
  }  
  .sw-p-b-61 {
    padding-bottom: 61vw;
  }  
  .sw-p-b-62 {
    padding-bottom: 62vw;
  }
  .sw-p-b-63 {
    padding-bottom: 63vw;
  }
  .sw-p-b-64 {
    padding-bottom: 64vw;
  }
  .sw-p-b-65 {
    padding-bottom: 65vw;
  }
  .sw-p-b-66 {
    padding-bottom: 66vw;
  }
  .sw-p-b-67 {
    padding-bottom: 67vw;
  }
  .sw-p-b-68 {
    padding-bottom: 68vw;
  }
  .sw-p-b-69 {
    padding-bottom: 69vw;
  }
  .sw-p-b-70 {
    padding-bottom: 70vw;
  }  
  .sw-p-b-71 {
    padding-bottom: 71vw;
  }  
  .sw-p-b-72 {
    padding-bottom: 72vw;
  }
  .sw-p-b-73 {
    padding-bottom: 73vw;
  }
  .sw-p-b-74 {
    padding-bottom: 74vw;
  }
  .sw-p-b-75 {
    padding-bottom: 75vw;
  }
  .sw-p-b-76 {
    padding-bottom: 76vw;
  }
  .sw-p-b-77 {
    padding-bottom: 77vw;
  }
  .sw-p-b-78 {
    padding-bottom: 78vw;
  }
  .sw-p-b-79 {
    padding-bottom: 79vw;
  }
  .sw-p-b-80 {
    padding-bottom: 80vw;
  }  
  .sw-p-b-81 {
    padding-bottom: 81vw;
  }  
  .sw-p-b-82 {
    padding-bottom: 82vw;
  }
  .sw-p-b-83 {
    padding-bottom: 83vw;
  }
  .sw-p-b-84 {
    padding-bottom: 84vw;
  }
  .sw-p-b-85 {
    padding-bottom: 85vw;
  }
  .sw-p-b-86 {
    padding-bottom: 86vw;
  }
  .sw-p-b-87 {
    padding-bottom: 87vw;
  }
  .sw-p-b-88 {
    padding-bottom: 88vw;
  }
  .sw-p-b-89 {
    padding-bottom: 89vw;
  }
  .sw-p-b-90 {
    padding-bottom: 90vw;
  }  
  .sw-p-b-91 {
    padding-bottom: 91vw;
  }  
  .sw-p-b-92 {
    padding-bottom: 92vw;
  }
  .sw-p-b-93 {
    padding-bottom: 93vw;
  }
  .sw-p-b-94 {
    padding-bottom: 94vw;
  }
  .sw-p-b-95 {
    padding-bottom: 95vw;
  }
  .sw-p-b-96 {
    padding-bottom: 96vw;
  }
  .sw-p-b-97 {
    padding-bottom: 97vw;
  }
  .sw-p-b-98 {
    padding-bottom: 98vw;
  }
  .sw-p-b-99 {
    padding-bottom: 99vw;
  }
  .sw-p-b-100 {
    padding-bottom: 100vw;
  }  















@media only screen and (max-width: 991px) {
  .sw-p-t-1 {
    padding-top: 1vw + @sw-p-t-var;
  }  
  .sw-p-t-2 {
    padding-top: 2vw + @sw-p-t-var;
  }  
  .sw-p-t-3 {
    padding-top: 3vw + @sw-p-t-var;
  }  
  .sw-p-t-4 {
    padding-top: 4vw + @sw-p-t-var;
  }  
  .sw-p-t-5 {
    padding-top: 5vw + @sw-p-t-var;
  }  
  .sw-p-t-6 {
    padding-top: 6vw + @sw-p-t-var;
  }  
  .sw-p-t-7 {
    padding-top: 7vw + @sw-p-t-var;
  }  
  .sw-p-t-8 {
    padding-top: 8vw + @sw-p-t-var;
  }  
  .sw-p-t-9 {
    padding-top: 9vw + @sw-p-t-var;
  }  
  .sw-p-t-1w {
    padding-top: 10vw + @sw-p-t-var;
  }  

  .sw-p-b-1 {
    padding-bottom: 1vw + @sw-p-t-var;
  }  
  .sw-p-b-2 {
    padding-bottom: 2vw + @sw-p-t-var;
  }  
  .sw-p-b-3 {
    padding-bottom: 3vw + @sw-p-t-var;
  }  
  .sw-p-b-4 {
    padding-bottom: 4vw + @sw-p-t-var;
  }  
  .sw-p-b-5 {
    padding-bottom: 5vw + @sw-p-t-var;
  }  
  .sw-p-b-6 {
    padding-bottom: 6vw + @sw-p-t-var;
  }  
  .sw-p-b-7 {
    padding-bottom: 7vw + @sw-p-t-var;
  }  
  .sw-p-b-8 {
    padding-bottom: 8vw + @sw-p-t-var;
  }  
  .sw-p-b-9 {
    padding-bottom: 9vw + @sw-p-t-var;
  }  
  .sw-p-b-1w {
    padding-bottom: 10vw + @sw-p-t-var;
  }    
}//rwd 







@media only screen and (max-width: 767px) {
  .sw-p-t-1 {
    padding-top: 1vw + @sw-p-m-var;
  }  
  .sw-p-t-2 {
    padding-top: 2vw + @sw-p-m-var;
  }  
  .sw-p-t-3 {
    padding-top: 3vw + @sw-p-m-var;
  }  
  .sw-p-t-4 {
    padding-top: 4vw + @sw-p-m-var;
  }  
  .sw-p-t-5 {
    padding-top: 5vw + @sw-p-m-var;
  }  
  .sw-p-t-6 {
    padding-top: 6vw + @sw-p-m-var;
  }  
  .sw-p-t-7 {
    padding-top: 7vw + @sw-p-m-var;
  }  
  .sw-p-t-8 {
    padding-top: 8vw + @sw-p-m-var;
  }  
  .sw-p-t-9 {
    padding-top: 9vw + @sw-p-m-var;
  }  
  .sw-p-t-10 {
    padding-top: 10vw + @sw-p-m-var;
  }  

  .sw-p-b-1 {
    padding-bottom: 1vw + @sw-p-m-var;
  }  
  .sw-p-b-2 {
    padding-bottom: 2vw + @sw-p-m-var;
  }  
  .sw-p-b-3 {
    padding-bottom: 3vw + @sw-p-m-var;
  }  
  .sw-p-b-4 {
    padding-bottom: 4vw + @sw-p-m-var;
  }  
  .sw-p-b-5 {
    padding-bottom: 5vw + @sw-p-m-var;
  }  
  .sw-p-b-6 {
    padding-bottom: 6vw + @sw-p-m-var;
  }  
  .sw-p-b-7 {
    padding-bottom: 7vw + @sw-p-m-var;
  }  
  .sw-p-b-8 {
    padding-bottom: 8vw + @sw-p-m-var;
  }  
  .sw-p-b-9 {
    padding-bottom: 9vw + @sw-p-m-var;
  }  
  .sw-p-b-10 {
    padding-bottom: 10vw + @sw-p-m-var;
  }    
}//rwd 

  




