.sw-w-1 {
  width: 1vw;
}  
.sw-w-2 {
  width: 2vw;
}
.sw-w-3 {
  width: 3vw;
}
.sw-w-4 {
  width: 4vw;
}
.sw-w-5 {
  width: 5vw;
}
.sw-w-6 {
  width: 6vw;
}  
.sw-w-7 {
  width: 7vw;
}
.sw-w-8 {
  width: 8vw;
}
.sw-w-9 {
  width: 9vw;
}
.sw-w-10 {
  width: 10vw;
}
.sw-w-11 {
  width: 11vw;
}  
.sw-w-12 {
  width: 12vw;
}
.sw-w-13 {
  width: 13vw;
}
.sw-w-14 {
  width: 14vw;
}
.sw-w-15 {
  width: 15vw;
}
.sw-w-16 {
  width: 16vw;
}  
.sw-w-17 {
  width: 17vw;
}
.sw-w-18 {
  width: 18vw;
}
.sw-w-19 {
  width: 19vw;
}
.sw-w-20 {
  width: 20vw;
}
.sw-w-21 {
  width: 21vw;
}  
.sw-w-22 {
  width: 22vw;
}
.sw-w-23 {
  width: 23vw;
}
.sw-w-24 {
  width: 24vw;
}
.sw-w-25 {
  width: 25vw;
}
.sw-w-26 {
  width: 26vw;
}  
.sw-w-27 {
  width: 27vw;
}
.sw-w-28 {
  width: 28vw;
}
.sw-w-29 {
  width: 29vw;
}
.sw-w-30 {
  width: 30vw;
}
.sw-w-31 {
  width: 31vw;
}  
.sw-w-32 {
  width: 32vw;
}
.sw-w-33 {
  width: 33vw;
}
.sw-w-34 {
  width: 34vw;
}
.sw-w-35 {
  width: 35vw;
}
.sw-w-36 {
  width: 36vw;
}
.sw-w-37 {
  width: 37vw;
}
.sw-w-38 {
  width: 38vw;
}
.sw-w-39 {
  width: 39vw;
}
.sw-w-40 {
  width: 40vw;
}
.sw-w-41 {
  width: 41vw;
}  
.sw-w-42 {
  width: 42vw;
}
.sw-w-43 {
  width: 43vw;
}
.sw-w-44 {
  width: 44vw;
}
.sw-w-45 {
  width: 45vw;
}
.sw-w-46 {
  width: 46vw;
}
.sw-w-47 {
  width: 47vw;
}
.sw-w-48 {
  width: 48vw;
}
.sw-w-49 {
  width: 49vw;
}
.sw-w-50 {
  width: 50vw;
}  
.sw-w-51 {
  width: 51vw;
}  
.sw-w-52 {
  width: 52vw;
}
.sw-w-53 {
  width: 53vw;
}
.sw-w-54 {
  width: 54vw;
}
.sw-w-55 {
  width: 55vw;
}
.sw-w-56 {
  width: 56vw;
}
.sw-w-57 {
  width: 57vw;
}
.sw-w-58 {
  width: 58vw;
}
.sw-w-59 {
  width: 59vw;
}
.sw-w-60 {
  width: 60vw;
}  
.sw-w-61 {
  width: 61vw;
}  
.sw-w-62 {
  width: 62vw;
}
.sw-w-63 {
  width: 63vw;
}
.sw-w-64 {
  width: 64vw;
}
.sw-w-65 {
  width: 65vw;
}
.sw-w-66 {
  width: 66vw;
}
.sw-w-67 {
  width: 67vw;
}
.sw-w-68 {
  width: 68vw;
}
.sw-w-69 {
  width: 69vw;
}
.sw-w-70 {
  width: 70vw;
}  
.sw-w-71 {
  width: 71vw;
}  
.sw-w-72 {
  width: 72vw;
}
.sw-w-73 {
  width: 73vw;
}
.sw-w-74 {
  width: 74vw;
}
.sw-w-75 {
  width: 75vw;
}
.sw-w-76 {
  width: 76vw;
}
.sw-w-77 {
  width: 77vw;
}
.sw-w-78 {
  width: 78vw;
}
.sw-w-79 {
  width: 79vw;
}
.sw-w-80 {
  width: 80vw;
}  
.sw-w-81 {
  width: 81vw;
}  
.sw-w-82 {
  width: 82vw;
}
.sw-w-83 {
  width: 83vw;
}
.sw-w-84 {
  width: 84vw;
}
.sw-w-85 {
  width: 85vw;
}
.sw-w-86 {
  width: 86vw;
}
.sw-w-87 {
  width: 87vw;
}
.sw-w-88 {
  width: 88vw;
}
.sw-w-89 {
  width: 89vw;
}
.sw-w-90 {
  width: 90vw;
}  
.sw-w-91 {
  width: 91vw;
}  
.sw-w-92 {
  width: 92vw;
}
.sw-w-93 {
  width: 93vw;
}
.sw-w-94 {
  width: 94vw;
}
.sw-w-95 {
  width: 95vw;
}
.sw-w-96 {
  width: 96vw;
}
.sw-w-97 {
  width: 97vw;
}
.sw-w-98 {
  width: 98vw;
}
.sw-w-99 {
  width: 99vw;
}
.sw-w-100 {
  width: 100vw;
}



@media only screen and (max-width: 991px) {

  .sw-w-t-1 {
    width: 1vw;
  }  
  .sw-w-t-2 {
    width: 2vw;
  }
  .sw-w-t-3 {
    width: 3vw;
  }
  .sw-w-t-4 {
    width: 4vw;
  }
  .sw-w-t-5 {
    width: 5vw;
  }
  .sw-w-t-6 {
    width: 6vw;
  }  
  .sw-w-t-7 {
    width: 7vw;
  }
  .sw-w-t-8 {
    width: 8vw;
  }
  .sw-w-t-9 {
    width: 9vw;
  }
  .sw-w-t-10 {
    width: 10vw;
  }
  .sw-w-t-11 {
    width: 11vw;
  }  
  .sw-w-t-12 {
    width: 12vw;
  }
  .sw-w-t-13 {
    width: 13vw;
  }
  .sw-w-t-14 {
    width: 14vw;
  }
  .sw-w-t-15 {
    width: 15vw;
  }
  .sw-w-t-16 {
    width: 16vw;
  }  
  .sw-w-t-17 {
    width: 17vw;
  }
  .sw-w-t-18 {
    width: 18vw;
  }
  .sw-w-t-19 {
    width: 19vw;
  }
  .sw-w-t-20 {
    width: 20vw;
  }
  .sw-w-t-21 {
    width: 21vw;
  }  
  .sw-w-t-22 {
    width: 22vw;
  }
  .sw-w-t-23 {
    width: 23vw;
  }
  .sw-w-t-24 {
    width: 24vw;
  }
  .sw-w-t-25 {
    width: 25vw;
  }
  .sw-w-t-26 {
    width: 26vw;
  }  
  .sw-w-t-27 {
    width: 27vw;
  }
  .sw-w-t-28 {
    width: 28vw;
  }
  .sw-w-t-29 {
    width: 29vw;
  }
  .sw-w-t-30 {
    width: 30vw;
  }
  .sw-w-t-31 {
    width: 31vw;
  }  
  .sw-w-t-32 {
    width: 32vw;
  }
  .sw-w-t-33 {
    width: 33vw;
  }
  .sw-w-t-34 {
    width: 34vw;
  }
  .sw-w-t-35 {
    width: 35vw;
  }
  .sw-w-t-36 {
    width: 36vw;
  }
  .sw-w-t-37 {
    width: 37vw;
  }
  .sw-w-t-38 {
    width: 38vw;
  }
  .sw-w-t-39 {
    width: 39vw;
  }
  .sw-w-t-40 {
    width: 40vw;
  }
  .sw-w-t-41 {
    width: 41vw;
  }  
  .sw-w-t-42 {
    width: 42vw;
  }
  .sw-w-t-43 {
    width: 43vw;
  }
  .sw-w-t-44 {
    width: 44vw;
  }
  .sw-w-t-45 {
    width: 45vw;
  }
  .sw-w-t-46 {
    width: 46vw;
  }
  .sw-w-t-47 {
    width: 47vw;
  }
  .sw-w-t-48 {
    width: 48vw;
  }
  .sw-w-t-49 {
    width: 49vw;
  }
  .sw-w-t-50 {
    width: 50vw;
  }  
  .sw-w-t-51 {
    width: 51vw;
  }  
  .sw-w-t-52 {
    width: 52vw;
  }
  .sw-w-t-53 {
    width: 53vw;
  }
  .sw-w-t-54 {
    width: 54vw;
  }
  .sw-w-t-55 {
    width: 55vw;
  }
  .sw-w-t-56 {
    width: 56vw;
  }
  .sw-w-t-57 {
    width: 57vw;
  }
  .sw-w-t-58 {
    width: 58vw;
  }
  .sw-w-t-59 {
    width: 59vw;
  }
  .sw-w-t-60 {
    width: 60vw;
  }  
  .sw-w-t-61 {
    width: 61vw;
  }  
  .sw-w-t-62 {
    width: 62vw;
  }
  .sw-w-t-63 {
    width: 63vw;
  }
  .sw-w-t-64 {
    width: 64vw;
  }
  .sw-w-t-65 {
    width: 65vw;
  }
  .sw-w-t-66 {
    width: 66vw;
  }
  .sw-w-t-67 {
    width: 67vw;
  }
  .sw-w-t-68 {
    width: 68vw;
  }
  .sw-w-t-69 {
    width: 69vw;
  }
  .sw-w-t-70 {
    width: 70vw;
  }  
  .sw-w-t-71 {
    width: 71vw;
  }  
  .sw-w-t-72 {
    width: 72vw;
  }
  .sw-w-t-73 {
    width: 73vw;
  }
  .sw-w-t-74 {
    width: 74vw;
  }
  .sw-w-t-75 {
    width: 75vw;
  }
  .sw-w-t-76 {
    width: 76vw;
  }
  .sw-w-t-77 {
    width: 77vw;
  }
  .sw-w-t-78 {
    width: 78vw;
  }
  .sw-w-t-79 {
    width: 79vw;
  }
  .sw-w-t-80 {
    width: 80vw;
  }  
  .sw-w-t-81 {
    width: 81vw;
  }  
  .sw-w-t-82 {
    width: 82vw;
  }
  .sw-w-t-83 {
    width: 83vw;
  }
  .sw-w-t-84 {
    width: 84vw;
  }
  .sw-w-t-85 {
    width: 85vw;
  }
  .sw-w-t-86 {
    width: 86vw;
  }
  .sw-w-t-87 {
    width: 87vw;
  }
  .sw-w-t-88 {
    width: 88vw;
  }
  .sw-w-t-89 {
    width: 89vw;
  }
  .sw-w-t-90 {
    width: 90vw;
  }  
  .sw-w-t-91 {
    width: 91vw;
  }  
  .sw-w-t-92 {
    width: 92vw;
  }
  .sw-w-t-93 {
    width: 93vw;
  }
  .sw-w-t-94 {
    width: 94vw;
  }
  .sw-w-t-95 {
    width: 95vw;
  }
  .sw-w-t-96 {
    width: 96vw;
  }
  .sw-w-t-97 {
    width: 97vw;
  }
  .sw-w-t-98 {
    width: 98vw;
  }
  .sw-w-t-99 {
    width: 99vw;
  }
  .sw-w-t-100 {
    width: 100vw;
  }


}//rwd 




@media only screen and (max-width: 767px) {

  .sw-w-m-1 {
    width: 1vw;
  }  
  .sw-w-m-2 {
    width: 2vw;
  }
  .sw-w-m-3 {
    width: 3vw;
  }
  .sw-w-m-4 {
    width: 4vw;
  }
  .sw-w-m-5 {
    width: 5vw;
  }
  .sw-w-m-6 {
    width: 6vw;
  }  
  .sw-w-m-7 {
    width: 7vw;
  }
  .sw-w-m-8 {
    width: 8vw;
  }
  .sw-w-m-9 {
    width: 9vw;
  }
  .sw-w-m-10 {
    width: 10vw;
  }
  .sw-w-m-11 {
    width: 11vw;
  }  
  .sw-w-m-12 {
    width: 12vw;
  }
  .sw-w-m-13 {
    width: 13vw;
  }
  .sw-w-m-14 {
    width: 14vw;
  }
  .sw-w-m-15 {
    width: 15vw;
  }
  .sw-w-m-16 {
    width: 16vw;
  }  
  .sw-w-m-17 {
    width: 17vw;
  }
  .sw-w-m-18 {
    width: 18vw;
  }
  .sw-w-m-19 {
    width: 19vw;
  }
  .sw-w-m-20 {
    width: 20vw;
  }
  .sw-w-m-21 {
    width: 21vw;
  }  
  .sw-w-m-22 {
    width: 22vw;
  }
  .sw-w-m-23 {
    width: 23vw;
  }
  .sw-w-m-24 {
    width: 24vw;
  }
  .sw-w-m-25 {
    width: 25vw;
  }
  .sw-w-m-26 {
    width: 26vw;
  }  
  .sw-w-m-27 {
    width: 27vw;
  }
  .sw-w-m-28 {
    width: 28vw;
  }
  .sw-w-m-29 {
    width: 29vw;
  }
  .sw-w-m-30 {
    width: 30vw;
  }
  .sw-w-m-31 {
    width: 31vw;
  }  
  .sw-w-m-32 {
    width: 32vw;
  }
  .sw-w-m-33 {
    width: 33vw;
  }
  .sw-w-m-34 {
    width: 34vw;
  }
  .sw-w-m-35 {
    width: 35vw;
  }
  .sw-w-m-36 {
    width: 36vw;
  }
  .sw-w-m-37 {
    width: 37vw;
  }
  .sw-w-m-38 {
    width: 38vw;
  }
  .sw-w-m-39 {
    width: 39vw;
  }
  .sw-w-m-40 {
    width: 40vw;
  }
  .sw-w-m-41 {
    width: 41vw;
  }  
  .sw-w-m-42 {
    width: 42vw;
  }
  .sw-w-m-43 {
    width: 43vw;
  }
  .sw-w-m-44 {
    width: 44vw;
  }
  .sw-w-m-45 {
    width: 45vw;
  }
  .sw-w-m-46 {
    width: 46vw;
  }
  .sw-w-m-47 {
    width: 47vw;
  }
  .sw-w-m-48 {
    width: 48vw;
  }
  .sw-w-m-49 {
    width: 49vw;
  }
  .sw-w-m-50 {
    width: 50vw;
  }  
  .sw-w-m-51 {
    width: 51vw;
  }  
  .sw-w-m-52 {
    width: 52vw;
  }
  .sw-w-m-53 {
    width: 53vw;
  }
  .sw-w-m-54 {
    width: 54vw;
  }
  .sw-w-m-55 {
    width: 55vw;
  }
  .sw-w-m-56 {
    width: 56vw;
  }
  .sw-w-m-57 {
    width: 57vw;
  }
  .sw-w-m-58 {
    width: 58vw;
  }
  .sw-w-m-59 {
    width: 59vw;
  }
  .sw-w-m-60 {
    width: 60vw;
  }  
  .sw-w-m-61 {
    width: 61vw;
  }  
  .sw-w-m-62 {
    width: 62vw;
  }
  .sw-w-m-63 {
    width: 63vw;
  }
  .sw-w-m-64 {
    width: 64vw;
  }
  .sw-w-m-65 {
    width: 65vw;
  }
  .sw-w-m-66 {
    width: 66vw;
  }
  .sw-w-m-67 {
    width: 67vw;
  }
  .sw-w-m-68 {
    width: 68vw;
  }
  .sw-w-m-69 {
    width: 69vw;
  }
  .sw-w-m-70 {
    width: 70vw;
  }  
  .sw-w-m-71 {
    width: 71vw;
  }  
  .sw-w-m-72 {
    width: 72vw;
  }
  .sw-w-m-73 {
    width: 73vw;
  }
  .sw-w-m-74 {
    width: 74vw;
  }
  .sw-w-m-75 {
    width: 75vw;
  }
  .sw-w-m-76 {
    width: 76vw;
  }
  .sw-w-m-77 {
    width: 77vw;
  }
  .sw-w-m-78 {
    width: 78vw;
  }
  .sw-w-m-79 {
    width: 79vw;
  }
  .sw-w-m-80 {
    width: 80vw;
  }  
  .sw-w-m-81 {
    width: 81vw;
  }  
  .sw-w-m-82 {
    width: 82vw;
  }
  .sw-w-m-83 {
    width: 83vw;
  }
  .sw-w-m-84 {
    width: 84vw;
  }
  .sw-w-m-85 {
    width: 85vw;
  }
  .sw-w-m-86 {
    width: 86vw;
  }
  .sw-w-m-87 {
    width: 87vw;
  }
  .sw-w-m-88 {
    width: 88vw;
  }
  .sw-w-m-89 {
    width: 89vw;
  }
  .sw-w-m-90 {
    width: 90vw;
  }  
  .sw-w-m-91 {
    width: 91vw;
  }  
  .sw-w-m-92 {
    width: 92vw;
  }
  .sw-w-m-93 {
    width: 93vw;
  }
  .sw-w-m-94 {
    width: 94vw;
  }
  .sw-w-m-95 {
    width: 95vw;
  }
  .sw-w-m-96 {
    width: 96vw;
  }
  .sw-w-m-97 {
    width: 97vw;
  }
  .sw-w-m-98 {
    width: 98vw;
  }
  .sw-w-m-99 {
    width: 99vw;
  }
  .sw-w-m-100 {
    width: 100vw;
  }


}//rwd 

