


.cb-slider-control {

  background: fade(@colorb,40%);
  border: none;
  color: @colorw;
  cursor: pointer;
  font-size: @fsb * 2;
  display: block;
  position: absolute;
  .center-v;
  opacity: 0.6;
  outline: none;
  padding-top: 3px;
  padding-bottom: 8px;
  z-index: 2000;
  .transition(.7s all);

  &:hover {
    background: fade(@colorb,70%);
    opacity: 1;
    outline: none;
  }
  &:focus {
    outline: none;
  }

  &.cb-left {
    left: 0;
    padding-left: 14px;
    padding-right: 12px;
    right: auto;
  }
  &.cb-right {
    padding-left: 12px;
    padding-right: 14px;
    right: 0;
  }

}//control


.gallery-slider {
  .cb-slider-control {

    background: fade(@colorb,70%);
    opacity: 1;

      &:hover {
        background: fade(@colorw,80%);
        color: @colorb;
      }

      &.cb-left {
        padding-left: 18px;
        padding-right: 14px;
      }
      &.cb-right {
        padding-left: 14px;
        padding-right: 18px;
      }

  }
}
