
@slick-dots-size: 13px;


.content-blocks {


/*  
  .block-slider {
    &.slider-has-images- {
      .slick-dots {
        li {
          button {
            &:before {
              background: currentColor;
              color: currentColor;
            }
          }
          &.slick-active {
            button {
              &:before {
                background: fade(@colorb,60%);
                opacity: 0.7;
              }
            }
          }
        }
      }
    }
  }
  */


  .slick-dots {
    position: absolute;
    bottom: 30px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0 0 10px;
    margin: 0;
    width: 100%;
    z-index: 2000;

    li {
      position: relative;
      display: inline-block;
      height: @slick-dots-size;
      width: @slick-dots-size;
      margin: 0 3px;
      padding: 0 0 5px;
      cursor: pointer;

      button {
        border: 0;
        background: transparent;
        display: block;
        height: @slick-dots-size;
        width: @slick-dots-size;
        outline: none;
        line-height: 0px;
        font-size: 0px;
        color: transparent;
        padding: 5px;
        cursor: pointer;

        &:before {
          background: fade(@colorb,60%);;
          border-radius: 100px;
          border: 1px solid fade(@colorw,40%);
          color: fade(@colorb,60%);
          opacity: .7;
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          width: @slick-dots-size;
          height: @slick-dots-size;
          line-height: @slick-dots-size;
          text-align: center;
        }

        &:hover, &:focus {
          outline: none;
          &:before {
            opacity: 1;
          }
        }

      }

      &.slick-active {
        button {
          &:before {
            //background: fade(@colorb,60%);
            background: @colorw;
            border-color: fade(@colorb,60%);
            opacity: 0.7;
          }
        }
      }

    }
  }


  .cb-slider-dots-margin-40 {
    .slick-dots {
      bottom: 40px;
    }
  }
  .cb-slider-dots-margin-60 {
    .slick-dots {
      bottom: 60px;
    }
  }
  .cb-slider-dots-margin-80 {
    .slick-dots {
      bottom: 80px;
    }
  }
  .cb-slider-dots-margin-100 {
    .slick-dots {
      bottom: 100px;
    }
  }
  .cb-slider-dots-margin-120 {
    .slick-dots {
      bottom: 120px;
    }
  }




  .slick-thumbs {

    .slick-dots {
      position: relative;
      bottom: auto;
      list-style: none;
      display: block;
      text-align: left;
      padding: 0;
      margin: 4px -3px 0;
      width: auto;

      li {
        position: relative;
        display: inline-block;
        height: 110px;
        width: 20%;
        margin: 0;
        padding: 0px;
        cursor: pointer;
        vertical-align: top;

        span {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border: 3px solid @colorw;
          display: block;
          height: 110px;
          width: 100%;
        }
      }

      @media only screen and (max-width: 767px) {
        li {
          height: 110px;
          width: 25%;
        }
      }//rwd 

    }//dots 

    

  }



}//cb 
