


// ##############################################################################
// ##############################################################################
// bg overlay

.content-blocks {
  .block-slider {

    .slide-content {
      position: relative;


    &:before {
      .overlay-base;
      opacity: 0;
      z-index: 5;
    }


    //overlay opacity overrides
    &.slide-bg-opacity-1 {
      &:before {
        opacity: .1;
      }
    }
    &.slide-bg-opacity-2 {
      &:before {
        opacity: .2;
      }
    }
    &.slide-bg-opacity-3 {
      &:before {
        opacity: .3;
      }
    }
    &.slide-bg-opacity-4 {
      &:before {
        opacity: .4;
      }
    }
    &.slide-bg-opacity-5 {
      &:before {
        opacity: .5;
      }
    }
    &.slide-bg-opacity-6 {
      &:before {
        opacity: .6;
      }
    }
    &.slide-bg-opacity-7 {
      &:before {
        opacity: .7;
      }
    }
    &.slide-bg-opacity-8 {
      &:before {
        opacity: .8;
      }
    }
    &.slide-bg-opacity-9 {
      &:before {
        opacity: .9;
      }
    }
    &.slide-bg-opacity-10, .opacity-full {
      &:before {
        opacity: 1;
      }
    }



    &.slide-bg-opacity-0, &.slide-bg-opacity-none {
      &:before {
        opacity: 0;
      }
    }


    &.slide-bg-opacity- {
      &:before {
        opacity: 1;
      }
    }

    &.has-image {
      &.slide-bg-opacity- {
        &:before {
          opacity: 0;
        }
      }
    }



  }// slide

  }//bg
}//cb
