
// slider.less

@import "slick.less";
//@import "slick-theme.less";
@import "controls.less";
@import "dots.less";
@import "slide-color.less";
@import "slide-opacity.less";

.block-slider {

  .slide-content {
    min-height: 200px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    &.slide-content-full-width-1 {
      .slide-inner {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.slide-vertical-align-1 {
      display: flex;
      align-items: center;
      justify-content: center;

      .block-text {
        max-width: 100%;
        margin-left: 0;
      }
      
    }

    &:active, &:focus {
      outline: none;
    }

    &.slide-margin-vh {
      min-height: 100vh;
    }

    &.slide-margin-,&.slide-margin-none {
      padding: 0;
    }
    &.slide-margin-xs {
      .rwd-p(@site-width-1-bp,767px,/**/40px,0px,40px,0px,/**/40px,0,40px,0,/**/20px,0,20px,0);
    }
    &.slide-margin-sm {
      .rwd-p(@site-width-1-bp,767px,/**/70px,0px,70px,0px,/**/50px,0,50px,0,/**/50px,0,50px,0);
    }
    &.slide-margin-md {
      .rwd-p(@site-width-1-bp,767px,/**/120px,0px,120px,0px,/**/70px,0,70px,0,/**/50px,0,50px,0);
    }
    &.slide-margin-lg {
      .rwd-p(@site-width-1-bp,767px,/**/200px,0px,200px,0px,/**/150px,0,150px,0,/**/80px,0,80px,0);
    }
    &.slide-margin-xl {
      .rwd-p(@site-width-1-bp,767px,/**/300px,0px,300px,0px,/**/200px,0,200px,0,/**/100px,0,100px,0);
    }





  }//content 
  .slide-inner {
    padding: 0 55px;
    position: relative;
    z-index: 10;

    &.total-results-1 {
      .rwd-p(@site-width-1-bp,767px,/**/0,55px,0,55px,/**/0,45px,0,45px,/**/0,25px,0,25px);
    }
    
    //overrides
    .page-content-padding {
      padding: 0;
    }

  }


  // Size


  &.slider-size-sm {
    max-width: 60%;
    margin-left: 15%;
  }
  &.slider-size-md {
    max-width: 80%;
    margin-left: 10%;
  }

  @media only screen and (max-width: 767px) {

    &.slider-size-sm {
      max-width: 80%;
      margin-left: 10%;
    }
    &.slider-size-md {
      max-width: 90%;
      margin-left: 5%;
    }

  }//rwd





}//cb slider




// overrides

// ===== Equal height slides OMFG YES

.slick-track {
  display: flex !important;
}

.slick-slide {
 height: inherit !important;
}


