
// colours


.content-blocks {
  .block-slider {

    .slide-content {


    // ====== SLIDE COLOURS

      &.slide-bg-color-white {
        color: @colord;
        &:before {
          background: @colorw;
        }
      }
      &.slide-bg-color-dark {
        color: @colord-text-color;
        &:before {
          background: @colord;
        }
      }
      &.slide-bg-color-black {
        color: @colorw;
        &:before {
          background: @colorb;
        }
      }
      &.slide-bg-color-grey {
        color: @colord;
        &:before {
          background: @colorg;
        }
      }
      &.slide-bg-color-warning {
        color: @colorw;
        &:before {
          background: @color-error;
        }
      }
      &.slide-bg-color-one {
        color: @color1-text-color;
        &:before {
          background: @color1;
        }
      }
      &.slide-bg-color-two {
        color: @color2-text-color;
        &:before {
          background: @color2;
        }
      }
      &.slide-bg-color-three {
        color: @color3-text-color;
        &:before {
          background: @color3;
        }
      }
      &.slide-bg-color-four {
        color: @color4-text-color;
        &:before {
          background: @color4;
        }
      }
      &.slide-bg-color-onedark {
        color: @color1-text-color;
        &:before {
          background: @color1-dark;
        }
      }
      &.slide-bg-color-twodark {
        color: @color2-text-color;
        &:before {
          background: @color2-dark;
        }
      }
      &.slide-bg-color-onelight {
        color: @color1-text-color;
        &:before {
          background: @color1-light;
        }
      }
      &.slide-bg-color-twolight {
        color: @color2-text-color;
        &:before {
          background: @color2-light;
        }
      }      

      &[class*='slide-bg-color-'] {
        &:not(.slide-bg-color-none) {
          h1,h2,h3,h4,h5,blockquote {
            color: inherit;
            border-color: inherit;
          }
          a:not(.dni):not(.btn) {
            color: inherit;
            border-color: inherit;
            text-decoration: underline;
          }
        }
      }


  }// slide



  }//block
}//cb
