{{ partial:item_header }}
{{ if segment_1 AND !toggle_nav_secondary }}
{{ partial:nav/secondary }}
{{ /if }}
{{ if !toggle_nav_tertiary }}
{{ partial:nav/tertiary }}
{{ /if }}
{{ if toggle_back }}
{{ partial:nav/back-page }}
{{ /if }}

{{ if cf_in_col }}
  <div class="site-width-centered">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">

          <div class="content-blocks">
      {{ partial:auto-layouts/auto-layout }}
          </div>

        </div>
        <div class="col-md-6">

      {{ partial:custom-form/custom-form var_in_col="cf-in-col" }}

        </div>
      </div>
    </div>
  </div>

{{ else }}
  {{ if content_blocks }}
    <div class="content-blocks">
    {{ partial:auto-layouts/auto-layout }}
    </div>
  {{ /if }}

  {{ var:pagerefer }}{{ get:referid | sanitize }} {{ /var:pagerefer }}

  {{ partial:custom-form/specific/custom-get }}

  {{ partial:custom-form/custom-form }}
{{ /if }}
