<h3 style="margin-top:20px">Membership Details</h3>
<hr />
{{ user:profile username="{email}" }}
<p><strong>Username (email):</strong> {{ email }} <br />
<strong>Name:</strong> {{ first_name }} {{ last_name }} <br />
<strong>Phone Number:</strong> {{ phone }} <br />
<strong>Membership Type:</strong> {{ membership_type | ucfirst }}</p>

<h3 style="margin-top:20px">Transaction Details</h3>
<hr />
<p><strong>Amount: ${{ amount }} <br />
<strong>Payment Description:</strong> {{ desc }} <br />
<strong>Transaction ID:</strong> {{ trans_id }} <br />
<strong>Transaction Time:</strong> {{ timestamp format="d-M-Y g:i:s a" }} <br />
<strong>Payment Method:</strong> {{ gateway | ucfirst }}</p>
{{ if gateway == 'stripe' }}
  <p><span style="color:#3CAC49;">{{ var_personalised }} Credit Card {{ gateway_vars }}{{ card }}(ending in {{ ending }}){{ /card }}{{ /gateway_vars }} has been charged for this order. </span></p>
{{ /if }}
<h3 style="margin-top:20px">Other Details</h3>
<hr />
<p><strong>Address Building:</strong> {{ address_building }} <br />
<strong>Address Street:</strong> {{ address_street }} <br />
<strong>Address Town:</strong> {{ address_town }} <br />
<strong>Address State:</strong> {{ address_state }} <br />
<strong>Address Postcode:</strong> {{ address_postcode }} <br />
<strong>Address Country:</strong> {{ address_country }}</p>
{{ /user:profile }}

<p><strong>Message / Additional Notes:</strong></p>
 {{ message | nl2br }} <br />
<br />
