<h3 style="margin-top:20px">Membership Details</h3>
<hr />

<p><strong>Username (email):</strong> {{ email }} <br />
<strong>Name:</strong> {{ first_name }} {{ last_name }} <br />
<strong>Membership Type:</strong> {{ membership_type | ucfirst }} <br />
<strong>Membership Number:</strong> {{ user_num }}</p>

<p>If you wish to change your membership type, please contact us.</p>
<p style="color:#cc0000">If the details above are NOT you, please contact us asap.</p>

<h3 style="margin-top:20px">Renewal Details</h3>
<hr />
<p><strong>Amount:</strong> ${{ amount }} <br />
<strong>Due Date:</strong>  {{ due_date format="jS F Y" }} ({{ if due_date | in_past | yesno =="yes" }}{{ due_date | days_ago }} days ago{{ else }}In {{ due_date | days_ago | add:1 }} days{{ /if }})</p>

<br />
