<h3 style="margin-top:20px">{{ var_personalised }} Details</h3>
<hr />
{{ user:profile username="{email}" }}
<p><strong>Username (email):</strong> {{ email }} <br />
<strong>Name:</strong> {{ first_name }} {{ last_name }} <br />
<strong>Membership Type:</strong> {{ membership_type | ucfirst }} <br />
<strong>Membership Number:</strong> {{ user_num }}</p>
{{ /user:profile }}
<h3 style="margin-top:20px">Transaction Details</h3>
<hr />
<p><strong>Amount:</strong> ${{ amount }} <br />
<strong>Payment Description:</strong> {{ desc }} <br />
<strong>Transaction ID:</strong> {{ trans_id }} <br />
<strong>Transaction Time:</strong> {{ timestamp format="d-M-Y g:i:s a" }} <br />
<strong>Payment Method:</strong> {{ gateway | ucfirst }}</p>
{{ if gateway == 'stripe' }}
  <p><span style="color:#3CAC49;">{{ var_personalised }} Credit Card {{ gateway_vars }}{{ card }}(ending in {{ ending }}){{ /card }}{{ /gateway_vars }} has been charged for this order. </span></p>
{{ /if }}
