{{ partial:item_header  item_heading="404 Page Not Found" }}

<div class="message-image" style="background:url('{{ theme:asset src="img/error-bg.jpg" }}') center center; background-size:cover;">
  <div class="site-width-centered">
    <div class="message message-error">
      <i class="fa fa-warning fa-2x"></i>
      <h2>Sorry, we couldn't find that page</h2>
      <p>Try heading <a href="/">home</a> or <a href="{{ gv_to_contact }}">contact us</a> and let us know the trouble you've had.</p>
    </div>
  </div>
</div>
