
.list-bookings {
  .item {
    .item-wrapper {
      border: 1px solid @colorg;
    }
    .content {
      padding: 0 15px 10px;
    }
    .title {
      color: @color1;
      font-size: @fsb * 1.5;
    }
  }
}