

.form-event-register {
  h3.info {
    span {
      color: @colord;
      font-weight: 200;
    }
  }
}


.item-expired {
  background: mix(@colorw,#c00,20%);
  color: fade(@colorw,80%);
  display: inline-block;
  font-size: @font-size-base * 0.8;
  margin: 0 0 5px;
  padding: 4px 15px 6px 40px;
  position: relative;
  .btn-icon {
    background: mix(@colorb,#c00,10%);
    color: fade(@colorw,50%);
    width: 30px;
  }
}


.event-date {
  background: @color1;
  color: @colorw;
  display: inline-block;
  font-weight: bold;
  font-size: @fsb * 1.5;
  margin-top: 30px;
  padding: 10px 20px 10px 70px;
  position: relative;
  .item-icon {
    background: mix(@colorb,@color1,50%);
    display: block;
    height: 100%;
    left: 0;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 60px;
  }
  .tag-title {
    font-weight: 100;
  }
}

.book-this {
  background: mix(@colorb,@color1,50%);
  border: 1px solid @color1;
  color: @colorw;
  display: inline-block;
  font-weight: bold;
  font-size: @fsb * 1.3;
  margin: 10px 0 0;
  padding: 10px 20px;
  text-transform: uppercase;
  &:hover, &:focus, &:active {
    background: @color1;
    color: @colorw;
  }

}

.list-events {
  .item {
    .uncover {
      color: @colorw;
      left: 25px;
      opacity: 0;
      position: absolute;
      top: 15px;
      width: 80%;
      z-index: 40;
      .transition(1s all);
      h3 {
        color: @colorw;
        margin: 0;
      }
    }


    .item-button {
      background: @color1;
      border: 1px solid @color1;
      display: block;
      float: left;
      color: @colorw;
      height: 55px;
      padding: 14px 0 0;
      text-align: center;
      width: 50%;
      &.book-item {
        background: mix(@colorb,@color1,50%);
        padding-top: 0;
      }
      &:hover {
        background: @colorw;
        color: @color1;
      }
    }


    &:hover {
      .uncover {
        opacity: 1;
      }
    }
  }
}






@media only screen and (max-width: 767px) {

  .event-date {
    font-size: @fsb * 1;
  }


  .book-this {
    font-size: @fsb * 1;
  }


  .form-event-register {
    h3.info {
      font-size: @fsb * 1.1;
    }
  }


}//rwd
