

.item-details {
  .expired {
    background: @color-error;
    color: @colorw;
    display: inline-block;
    padding: 10px 20px;
    a {
      color: @colorw;
      text-decoration: underline;
    }
  }
  .item-title {
    font-size: @fsb * 2.8;
    .ffb
  }
}



.business-directory-details{
  h1 {
    font-size: @fsb * 2.8;
    .ffb;
  }
}

.list-businesses {
  .taxonomy-nav {
    background: @colorg;
    margin: 0px 0 50px;
    padding: 20px 20px 30px;
    a {
      background: @color1;
      border-radius: 4px;
      color: @colorw;
      display: inline-block;
      margin: 0 10px 10px 0;
      padding: 6px 12px;
    }
    @media only screen and (max-width: 991px) {
      
    }
  }
  .category-heading {
    background: @colorg;
    h2 {
      color: @color1;
      
      padding: 15px 20px;
    }
  }

  .item {
    border-bottom: 1px solid @colorg;
    padding-top: 5px;
    padding-bottom: 40px;

    &.even {
      //background: mix(@colorw,@colorg,30%);
    }
  }
  .title {
    color: @color2;
    font-size: @fsb * 1.5;
    a {
      color: @color2;
    }
  }
  .link {
    //background: mix(@colorw,@color1,50%);
    border: 1px solid mix(@colorw,@color1,60%);
    border-radius: 4px;
    //color: @colorw;
    display: inline-block;
    font-size: @fsb * 0.85;
    padding: 6px 12px;
  }
}




.archive-list {

  h4 {
    .ffb;
  }

  .item {
    background: @colorw;
    border-left: 5px solid @color2;
    color: @colorb2;
    display: block;
    margin-bottom: 5px;
    padding: 3px 220px 3px 15px;
    position: relative;
    text-decoration: none;

    .btn-icon {
      background: @color2;
      color: @colorw;
      font-size: @font-size-base * 0.8;
      padding: 5px 30px 5px 10px;
      width: auto;
      .fa {
        left: auto;
        right: 0;
      }
    }

    &:hover {
      background: mix(@colorw,@colorb2,90%);

    }
  }

}








.list-one {
  padding: 10px 0 60px;

  .item {
    color: @colord;
    display: block;
    padding: 20px 0 30px;
    position: relative;
    text-decoration: none;

    .title {
      .transition(1s all);
      h2 {
        font-weight: bold;
        margin: 10px 0;
      }
    }

    .item-date, .item-author, .item-tags {
      display: inline-block;
      font-size: @fsb * 0.9;
    }
    .item-tags {
      color: mix(@colorw, @colord, 50%);
      margin: 0 0 10px;
    }

    .dot {
      color: @color3;
      opacity: 0.2;
      .transition(1s all);
    }

    .view {
      color: @color3;
      position: relative;
      .transition(1s all);
    }

    .no-cover {
      .item-date {
        background: mix(@colorw, @colord, 80%);
        color: @colord;
        margin: 0 10px 10px 0;
        padding: 4px 12px;
      }
      .item-author {
        margin: 0 10px 0 0;
      }
      .item-is-video {
        font-size: @fsb * 1.5;
        margin: 0 10px 0 0;
        position: relative;
        top: -2px;
        vertical-align: middle;
      }
    }

    .has-cover {
      .cover-image {
        float: left;
        .rwd-min-height(@screen-sm-max,767px,300px,270px,220px);
        .rwd-width(@screen-sm-max,767px,33%,33%,100%);
        position: relative;
      }
      .excerpt {
        float: left;
        margin-top: 100px;
        padding-left: 40px;
        width: 67%;
      }
      .title {
        background: fade(@colord, 50%);
        bottom: 0;
        color: #fff;
        padding: 15px 30px;
        position: absolute;
        width: 100%;
        h2 {
          color: @colorw;
        }
      }
      .item-is-video {
        color: @colorw;
        display: block;
        font-size: @fsb * 2;
        position: absolute;
        right: 20px;
        top: 10px;
      }
    }



    &:hover {
      .has-cover {
        .title {
          background: @colord;
          h2 {
            color: @colorw;
          }
        }
      }
      .no-cover {
        .title {
          h2 {
            color: @colord;
          }
        }
      }

      .dot {
        opacity: 1;
      }
      .view {
        padding-left: 10px;
        text-decoration: underline;
      }
    }
  }// item



  //first item
    .item {
      &.item-first {
        .has-cover {
          .cover-image {
            .rwd-min-height(@screen-sm-max,767px,400px,350px,220px);
            .rwd-width(@screen-sm-max,767px,50%,50%,100%);
          }
          .excerpt {
            margin-top: 130px;
            width: 50%;
          }
        }
      }
    }



}







// ##############################################################################
// ##############################################################################
// rwd



@media only screen and (max-width: @site-width-1-bp) {


} // rwd



@media only screen and (max-width: @screen-sm-max) {
  .list-one {

    .item {

      .excerpt {
        &.has-cover {
          margin-top: 20px;
        }
      }

    }//item

  }//one
} // rwd



@media only screen and (max-width: 767px) {





.archive-list {

  .item {
    padding: 3px 15px 3px 15px;
    .btn-icon {
      position: relative;
      right: auto;
      top: auto;
      width: auto;
    }

  }

}








  .list-one {

    .item {

      .cover-image {
        float: none;
      }

      .excerpt {
        &.has-cover {
          float: none;
          margin-top: 20px;
          padding: 0;
          width: 100%;
        }
      }

      &.item-first {
        .cover-image {
          float: none;
        }
        .excerpt {
          &.has-cover {
            float: none;
            margin-top: 20px;
            padding: 0;
            width: 100%;
          }
        }
      }


    }//item

  }//one
} // rwd
