


.sold-out {
  border: 1px solid @color-error;
  color: @color-error;
  padding: 5px 15px;
}


.list-news {
  padding: 30px 0;

  .item {
    border-bottom: 1px solid mix(@colorw,@colord,85%);
    margin: 0 0 30px;
    padding: 0 0 30px;

    &.is-last {
      border-bottom: none;
    }
  }

  .title {
    color: @color2;
    font-size: @fsb * 1.5;
    margin: 0 0 15px;
    a {
      color: @color2;
      &:hover {
        color: @colord;
      }
    }
  }

  .date {
    display: inline-block;
    position: relative;
    .inner {
      background: @colorw;
      color: @color1;
      display: inline-block;
      font-size: @fsb * 1.05;
      margin: 0 0 10px;
      padding: 0;
    }
    .icon {
      background: @colorw;
      color: @color1;
    }
  }

  .tags {
    color: mix(@colorb,@color3,40%);
    display: inline-block;
    margin-left: 15px;
  }

  .text {

  }

  .excerpt {

  }

  .cover-image {
    margin: 0 0 20px;
    max-width: 400px;
  }

  .link {
    background: @color1;
    border: 1px solid @color1;
    color: @colorw;
    display: inline-block;
    font-size: @fsb * 1;
    font-weight: bold;
    padding: 5px 15px;
    text-decoration: none;
    .transition(0.5s all);
    .fa {
      .transition(0.5s padding);
    }
    &:hover {
      background: @colord;
      border-color: @colord;
      color: @colorw;
      .fa {
        padding-left: 15px;
      }
    }
  }



}// list news







.list-news2 {
  header {
    padding: 50px 15px;
    text-align: center;
    h2 {
      color: @colord;
      border-bottom: 1px solid @colord;
      display: inline-block;
      font-size: @fsb * 2.6;
      margin: 0;
      padding-bottom: 5px;
    }
  }
  footer {
    background: none;
    .rwd-p(@site-width-1-bp,767px,/**/30px,15px,30px,15px,/**/30px,15px,30px,15px,/**/0px,15px,20px,15px);
    text-align: center;
    a {
      border: 1px solid @colord;
      color: @colord;
      display: inline-block;
      padding: 16px 30px 15px;
      margin-bottom: 10px;
      text-decoration: none;
      .transition(.5s padding);

      &:hover {
        background: @colord;
        border-color: @colord;
        color: @colorw;
        padding: 16px 40px 15px;
      }
    }
  }
  article {
    padding: 10px 30px;
    position: relative;
    h2 {

    }
    h3 {

    }
    .item {
      margin-bottom: 30px;
      position: relative;

      > .inner {
        border: 1px solid fade(@color1,50%);
        box-shadow: 0px 3px 10px 2px fade(@colord,20%);
        .transition(.7s transform);
      }

      &:hover {
        > .inner {
          .scale(1.01,1.01);
        }
        .cover-image {
          .inner {
            .scale(1.1,1.1);
            &:after {
              opacity: 0.5;
            }
          }
        }

        .link {
          background-color: @colord;
        }
      }
    }
    .cover-image {
      display: block;
      overflow: hidden;
      .inner {
        height: 240px;
        position: relative;
        .transition(.7s all);

        &:after {
          .overlay-dark;
          opacity: 0;
        }
      }
    }
    .content {
      background: @colorw;
    }
    .title {
      margin: 10px 0 2px;
    }
    .date {
      color: #888;
      margin-bottom: 15px;
    }
    .text {
      font-size: @fsb * 0.95;
      padding: 5px 20px 20px;
    }
    .tags {
      background: @color1;
      color: @colorw;
      padding: 10px 15px;
      text-align: center;
    }
    .link {
      background: mix(@colorb,@color1,30%) @bg1;
      color: @colorw;
      display: block;
      padding: 13px 15px 11px;
      text-align: center;

      .fa {
        position: relative;
        top: 2px;
      }

    }
    .image {


    }


  }

}
