

.detail {

}


.list-testimonials, .list-testimonials-2 {
  padding: 0;
  header {
    background: mix(@colorb, @colord, 40%) url('/site/themes/site/img/textures/bg1.png');
    margin-bottom: 20px;
    position: relative;
    .rwd-p(@site-width-1-bp,767px,/**/30px,40px,30px,40px,/**/30px,40px,30px,40px,/**/15px,15px,15px,15px);
    h2 {
      color: @colorw;
      text-align: center;
    }
  }
  footer {
    background: @colord;
    padding: 15px 15px;
    text-align: right;
    a {
      color: @colord;
      text-decoration: none;
      &:hover {
        color: @colorw;
      }
    }
  }

  article {
    .rwd-p(@site-width-1-bp,767px,/**/30px,40px,50px,40px,/**/30px,40px,50px,40px,/**/15px,15px,30px,15px);

    .work {
      .content {
        background: mix(@colorw, @colord, 95%);
        color: @colorw;
        display: inline-block;
        font-size: @fsb * 0.9;
        margin: 20px 0 0;
        padding: 10px 20px;
      }
      h2 {
        color: mix(@colorw, @colord, 60%);
        font-size: @fsb * 1;
        margin: 0 0 5px;
        padding: 4px 0 0;
        text-transform: uppercase;
        a {
          background: @colorw;
          .btn;
          border: 1px solid mix(@colorw, @colord, 93%);
          color: mix(@colorw, @colord, 40%);
          font-size: @fsb * 0.8;
          margin: -4px 10px 0 0;
          padding: 2px 6px;
          text-transform: capitalize;
          &:hover {
            background: @colord;
            border-color: @colord;
            color: @colorw;
          }
        }
      }
      .work-item {
        color: mix(@colorw, @colord, 30%);
      }

    }

    &:nth-child(even) {
      background: mix(@colorw, @colord, 95%);

      .work {
        .content {
          background: mix(@colorw, @colord, 99%);
        }
      }
    }

  }//article


}












// no fucking idea what is what here omfg but this runs the content block testimonials :/ ¯\_(ツ)_/¯

.list-testimonials {

  .item {
    blockquote {
      .rwd-max-width(@screen-sm-max,767px,90%,95%,100%);
    }
  }

// alignment

.item {

  &.align-right {
    .content {
      .rwd-max-width(@screen-sm-max,767px,90%,95%,100%);
      .rwd-p((@site-width-1 - 1),767px,/**/10px,0,10px,10%,/**/10px,0,10px,10%,/**/10px,0,10px,0px);
      text-align: right;
    }
    blockquote {
      max-width: 100%;
      padding: 0;
      &:before {
        .pseudo-item(-10px,0,0,0,47px,50px);
        color: @colord;
        content: "\f10d";
    	  font-family: FontAwesome;
        font-size: 50px;
        float: right;
        margin: 0 0px 10px 30px;
        position: relative;
      }
    }
    .cite {
      display: block;
      text-align: right;
    }
  }

}


// colours

  .item.kind-one {
    background: @color1;
    border: 1px solid @color1;
    color: @colorw;
    blockquote {
      color: @colorw;
      border-left-color: @colorw;
      &:before {
        color: @colorw;
      }
      a {
        color: @colorw;
        text-decoration: underline;
      }
    }
  } // one

    .item.kind-dark {
      background: @colord;
      border: 1px solid @colord;
      color: @colorw;
      blockquote {
        color: @colorw;
        border-left-color: @colorw;
        &:before {
          color: @colorw;
        }
        a {
          color: @colorw;
          text-decoration: underline;
        }
      }
    } // two

    .item.kind-white {
      background: @colorw;
      border: none;
      color: @colord;
      blockquote {
        color: @colord;
        border-left-color: @colord;
        &:before {
          color: @color1;
        }
        a {
          color: @color1;
          text-decoration: underline;
        }
      }
    } // three



}






// slider

.slider-testimonials {
  background: @colord;
  color: @colorw;
  padding: 0;
  position: relative;
  .item {
    min-height: 150px;
    font-size: 22px;
    text-align: center;
    padding: 60px 12% 60px 17%;
    .title {
      color: @colorw;
      display: block;
      margin-top: 20px;
    }
    .fa-stack {
      left: 5%;
      font-size: 50px;
      position: absolute;
    }
    .fa-inverse {
      color: @colord;
    }
    a {
      color: @colorw;
      font-size: @font-size-base * 1;
      margin: 0 10px;
      text-decoration: underline;
      span {
        display: inline-block;
        font-size: 17px;
        margin-left: 5px;
      }
    }
  }

  .carousel-indicators {
    bottom: -50px;
    left: 6%;
    top: auto;
    margin: 0;
    width: auto;
    z-index: 9990;
  }
  .carousel-control {
    .icon {
      position: absolute;
      .vtop;
    }
    &.left {
      padding-left: 10px;
      text-align: left;
    }
    &.right {
      padding-right: 23px;
      text-align: right;
    }
  }
}



// list



/*
  .list-testimonials {
    .item {
      padding: 20px;

      .content {
        max-width: 80%;
        padding-left: 100px;
        position: relative;
      }
      .fa-stack {
        left: 0px;
        position: absolute;
        top: 0px;
      }
      .title {
        display: block;
        font-size: @font-size-base * 1.4;
        margin-top: 20px;
      }


      &.kind-one {
        background: @color2;
        color: @colorw;

        .content {
          padding: 0 100px;
        }
        .fa-inverse {
          color: @color2;
        }

      }

      &.kind-two {
        border: 1px solid @colord;

        .fa-stack {
          color: @colord;
        }
      }

    }


    &.list-main {
        .item {
          &:nth-child(even) {
            background: @colorw;
            color: @color3;

            .content {
              padding: 0 100px;
            }
            .read-more {
              color: @color3;
            }
            .fa-inverse {
              color: @colorw;
            }
          }
        }
      }
  }


*/






@media only screen and (max-width: 991px) {


.slider-testimonials {
  .item {
    min-height: 150px;
    font-size: @fsb * 1;
    padding: 20px 25px;
    .title {

    }
    .fa-stack {
      display: none;
    }
  }
}


}//rwd




@media only screen and (max-width: 767px) {


  .list-testimonials, .list-testimonials.list-main {
    .item {
      padding-top: 0px;
      padding-bottom: 0px;
      .content {
        max-width: 100%;
        padding: 0;
      }

      &.kind-one {
        .content {
          padding: 0;
        }
      }

      &:nth-child(even) {
        .content {
          padding: 0;
        }
      }
      .fa-stack {
        display: none;
      }


    }
  }




} // rwd
