{{ partial:page-header }}

<div class="full-cart">

    {{ payamic:cart }}
      <div class="cart-header">
        <h2>Shopping Cart</h2>
      </div>
      {{ if no_items }}
      <div class="swc page-content-padding">
        <div class="cart-empty">
          <br>
          <div class="text-center">
            <p class="lead">Your shopping cart is empty. <a href="/">Go Shopping</a></p>
          </div>
          <br><br><br>
        </div>
      </div>
      {{ else }}
      <div class="swc">
        <div class="cart-inner">
        <div class="container-fluid">
          <div class="row row-headers">
            <div class="col-md-8">
              Product
            </div>
            {{ if gvcustomshop:gs_hide_prices }}
            <div class="col-md-2"></div>
            {{ /if }}
            {{ unless gvcustomshop:gs_hide_prices }}
            <div class="col-sm-2 col-md-1">
              Price
            </div>
            {{ /if }}
            <div class="col-sm-1">
              Quantity
            </div>
            {{ unless gvcustomshop:gs_hide_prices }}
            <div class="col-sm-2 col-md-1">
              Subtotal
            </div>
            {{ /if }}
            <div class="col-sm-1">
              &nbsp;
            </div>
          </div>
    
          {{ items }}
          <div class="row cart-row cart-item">
            <div class="col-sm-12 col-md-8">
              <div class="image-wrapper">
                <img class="img-responsive"
                  src="{{ get_content from='{itemid}' }}{{ assets:product_images limit='1' }}{{ glide:url width='95' height='95' fit='crop_focal' }}{{ /assets:product_images }}{{ /get_content }}">
              </div>
              <div class="cart-title-info">
                <h3 class=""><a
                    href="{{ get_content from='{itemid}' }}{{ url }}{{ /get_content }}">{{ name | ucfirst }}</a></h3>
                {{ fields }}
                {{ field_name | ucfirst }}: {{ field_value }}<br>
                {{ /fields }}
              </div>
            </div>
            <div class="col-sm-12 col-arrow">
              <div class="cart-info-arrow"></div>
            </div>
            <div class="{{ if gvcustomshop:gs_hide_prices }}col-sm-12 col-md-4{{ else }}col-sm-12 col-md-4{{ /if }} col-cart-info">
              <div class="row">
                {{ if gvcustomshop:gs_hide_prices }}
                <div class="col-md-6"></div>
                {{ /if }}
                {{ unless gvcustomshop:gs_hide_prices }}
                <div class="col-sm-3 cart-price"> <span class="cart-mobile-only">Price:</span> ${{ price format_number='2|.|' }}</div>
                {{ /if }}
                <div class="col-sm-3 cart-qty"> <span class="cart-mobile-only">Qty:</span> <input type="number" name="quantity" class="cart-quantity" value="{{ quantity }}"
                    data-id="{{ cid }}" data-qty="{{ quantity }}" required min="0"></div>
                {{ unless gvcustomshop:gs_hide_prices }}
                <div class="col-sm-3 cart-subtotal"><span class="cart-mobile-only">Subtotal:</span> $<span>{{ subtotal format_number='2|.|' }}</span></div>
                {{ /if }}
                <div class="col-sm-3 col-del">
                  <button class="cart-delete-item" data-id="{{ cid }}"><i class="fa fa-trash"></i></button>
                </div>
              </div>
            </div>
          </div>
          {{ /items }}
        
        </div>
    
      </div>
    
      <div class="cart-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              {{ unless gvcustomshop:gs_hide_prices }}
              <h4 class="cart-subtotal" id="cart-total">Subtotal: $<span>{{ total format_number='2|.|' }}</span></h4>
              <div class="note">Shipping & taxes calculated at checkout</div>
              {{ /if }}
              <a class="btn-empty" href="/!/Payamic/empty-cart">Empty Cart</a>
              
              <a class="btn-checkout"
                href="/checkout/{{ payamic:getPaymentStr amount='cart' desc='Cart Payment' item_id='cart' }}">{{ if gvcustomshop:gs_hide_prices }}Get Quote {{ else }} Checkout{{ /if }}</a>
            </div>
          </div>
        </div>
      </div>
      </div>
      {{ /if }}
    {{ /payamic:cart }}
    
    </div>
    
    
    {{#
    
      {{ items }}
      <div class="cart-item">
        <div class="image-wrapper">
          <img class="img-responsive"
            src="{{ get_content from='{itemid}' }}{{ assets:product_images limit='1' }}{{ glide:url width='65' height='65' fit='crop_focal' }}{{ /assets:product_images }}{{ /get_content }}">
        </div>
        <div class="item-details">
          <a class="cart-title" href="{{ get_content from='{itemid}' }}{{ url }}{{ /get_content }}"> {{ name | ucfirst }}</a>
          {{ fields }}
          {{ field_name | ucfirst }}: {{ field_value }}<br>
          {{ /fields }}
          <span class="cart-price">${{ subtotal format_number='2|.|' }}</span>
          <div class="cart-qty">
            <input type="number" name="quantity" class="cart-quantity" value="{{ quantity }}" data-id="{{ cid }}"
              data-qty="{{ quantity }}" required min="0">
          </div>
        </div>
      </div>
      {{ /items }}
      </div>
      {{ /if }}
      <div class="cart-footer">
        <div id="cart-total">
          <h4>Subtotal: $<span>{{ total format_number='2|.|' }}</span></h4>
        </div>
        <div class="note">Shipping & taxes calculated at checkout</div>
        <a class="btn-checkout"
          href="/checkout/{{ payamic:getPaymentStr amount='cart' desc='Cart Payment' item_id='cart' }}">Checkout</a>
      </div>
    
    #}}
    