{{ partial:referrer }}
{{ partial:page-header item_heading="Secure Online Payment" }}

  <div class="checkout">
    <div class="checkout-heading">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
              <h2>{{ if gvcustomshop:gs_hide_prices }} Get a Quote {{ else }} Checkout {{ /if }}</h2>
          </div>
        </div>
      </div>
    </div>

{{ payamic:getPaymentDetails }}
{{ if error != '' }}
<div class="swc page-content-padding">
  <div class="message message-error">
    <span class="icon"> <i class="fa fa-times fa-3x"></i> </span>
      <h3 class="heading">ERROR</h3>
      <div class="">
      {{ error }}
      </div>
  </div>
</div>
{{ elseif amount == ''}}
<div class="swc page-content-padding">
  <br><br>
  <div class="text-center">
    <p class="lead">Your shopping cart is empty. <a href="/">Go Shopping</a></p>
  </div>
  <br><br><br>
</div>
{{ else }}

    <div class="">
      <div class="checkout-ehc clearfix">
{{ partial:custom-shop/checkout/checkout-sidebar }}
        <div class="checkout-ehc-col col-checkout-form">

          <div class="checkout-form-contents">
            <a href="/cart" class="back-to-cart"> <i class="fa fa-angle-left"></i> Back to Cart</a>

  {{ get_content from="/checkout" }}
{{ partial:custom-form/custom-form var_in_col="cf-in-col" }}
  {{ /get_content }}

          </div>
        </div><!-- col checkout form -->

      </div>
    </div>

{{ /if }}
{{ /payamic:getPaymentDetails }}

</div>

