{{ partial:item_header item_heading="Payment" }}

{{ if logged_out }}
{{ else }}
<div class="user-page profile-page">
    <div class="page-content">
      <br><br>
      <div class="site-width-centered">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">

            {{ user:profile username="{email}" }}
              <p>You are logged in as {{ name }}. <br> If this is not you, please <a href="/contact">Contact Us</a> </p>
            {{ /user:profile }}

        </div>
        <div class="col-md-6 col-logout">
          <a class="btn btn-logout" href="{{ user:logout_url redirect="/" }}">Sign Out &nbsp;<i class="fa fa-sign-out"></i> </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{{ /if }}

{{ payamic:getPaymentDetails }}

<div class="user-page page-form">
  <div class="form-user form-payment">
    <div class="form-content">
      <h3 class="form-heading">

        {{ if amount == 'custom' }}
        Make a Custom Payment to OEC
        {{ else }}
        Make a Payment to OEC
        {{ /if }}

      </h3>

<form action="{{ payamic:action }}" method="POST" id="payment-form">
  {{ csrf_field }}
  <input type='hidden' name="payment" value="{{ segment_2 }}">

<fieldset>
    <div class="highlight-payment">
      <div class="js-payment-errors hidden">
        <span class="icon"> <i class="fa fa-times fa-2x"></i> </span>
        <span class="error"></span>
      </div>

      <div class="payment-reason">

        {{ if amount == 'custom' }}

        <h5><strong>PLEASE NOTE:</strong> This form is for making a manual custom payment to OEC. Please set the amount you want to pay in the amount field below and then include a detailed description of what the payment is for.</h5>

        {{ /if }}

        <i>ONLY Visa and Mastercard payments are accepted.</i>

      </div>

    </div>

</fieldset>

{{ if {payamic:getPaymentErrors} != '' }}
<div class="message message-error">
  <span class="icon"> <i class="fa fa-times fa-3x"></i> </span>
  <h3 class="heading">Error!</h3>
  <div class="">
    {{ payamic:getPaymentErrors }}
  </div>
</div>
{{ /if }}





<fieldset class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h5 class="fieldset-heading amount-heading">Your Details</h5>

      <div class="form-group">
        <label>Name</label>
    {{ if amount == 'custom' }}
        <input type="text" name="name" value="{{ old:name }}" class="form-control" required>
    {{ else }}
        <input type="text" name="name" value="{{ get:name | sanitize }}" class="form-control" required>
    {{ /if }}
      </div>

      <div class="form-group">
        <label>Email</label>
    {{ if amount == 'custom' }}
        <input type="email" name="email" value="{{ old:email }}" class="form-control" required>
      </div>
    {{ else }}
        <input type="email" name="email" value="{{ get:email | sanitize }}" class="form-control" required>
    {{ /if }}
    </div>
  </div>
</fieldset>

<fieldset class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h5 class="fieldset-heading amount-heading">Payment Details</h5>

{{ if amount == 'custom' }}

      <div class="form-group">
        <label class="" for="amount">Custom Payment Amount - in format 20.00 <span class="req">(required)</span></label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" value="{{ old:amount }}" name="amount">
        </div>
      </div>
      <small class="warning"><i>Please note:</i> this amount is not automatically set or checked by our system - whatever amount you enter is the amount that will come off your credit card. Please check that the amount is correct before submitting.</small>
      <br><br>

      <div class="form-group">
        <label class="" for="desc">Payment Description</label><br>
        <small>Please write a one line description that will easily identify your payment</small><br>
        <input type="text" class="form-control" autocomplete="off" value="{{ old:desc }}" name="desc" id="payment_desc" required>
      </div>

      <div class="form-group">
        <label class="" for="desc">Payment Notes</label><br>
        <small>Add any additional notes regarding your custom payment here</small> <br>
        <textarea class="form-control" autocomplete="off" rows="3" value="{{ old:note }}" name="note" id="payment_note"></textarea>
      </div>

{{ else }}

      <div class="form-group">
        <label class="" for="amount">Payment Amount</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" value="{{ amount }}" name="amount" readonly>
        </div>
        {{ if {payamic:getLevy gateway='stripe'} != '' }}
        <p style="color: #900;"><small>A credit card processing fee of <span class="levy">{{ payamic:getLevy gateway='stripe' }}</span>% is added to this amount</small></p>
        {{ /if }}

      </div>
      <br><br>

      <div class="form-group">
        <label class="" for="desc">Payment Description</label><br>
        <input type="text" class="form-control" value="{{ desc }}" name="desc" id="payment_desc" readonly>
      </div>

{{ /if }}

  </div>
</div>
</fieldset>

<fieldset class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="fieldset-heading">Credit Card Details</h5>

      <div class="payment-cc-note">
        <strong>You are paying $<span id="payment_form_total"></span> today for

        {{ if amount == 'custom' }}
        this custom payment.
        {{ else }}
        this payment.
        {{ /if }}

        {{ if {payamic:getLevy gateway='stripe'} != '' }}
        Includes credit card processing fee of <span class="levy">{{ payamic:getLevy gateway='stripe' }}</span>%
        {{ /if }}

        </strong>
      </div>

      <input type="hidden" class="" name="gateway" value="stripe">
        <div class="form-group">
            <label for="card-element">
                Please enter your Card Number, Expiry &amp; CVC
            </label>
            <br><br>
            <div id="card-element"></div>
            <div id="card-errors"></div>
            <br>
        </div>
      </div>
    </div>
  </fieldset>

  <p class="text-danger">Please click the button below and wait for your payment to process. Do NOT click the button more than once in quick succession or your credit card may be charged multiple times.</p>

    <br>
    <button class="btn btn-submit">Confirm Payment and Submit &nbsp; <i class="fa fa-arrow-right"></i> </button>

  </form>
</div>

</div>
</div>

{{ /payamic:getPaymentDetails }}
