{{ partial:item_header }}

<div class="page-container site-width-centered">
<div class="payment-success">

  <div class="container-fluid">
    <div class="row">

{{ payamic:get_result }}

  {{ if payment == 'empty' }}

      <div class="col-md-12">
        <h4>You do not have any payment selected.</h4>
        <a href="/pay" class="btn btn-one">Make a Custom Payment &nbsp;<i class="fa fa-arrow-circle-right"></i></a>
      </div>

      <div class="clearfix"></div>
      <br><br>

  {{ else }}

    <div class="col-md-12">

      {{ if gateway == "offline" }}
      <h2 class="text-success"><i class="fa fa-thumbs-up"></i> &nbsp; Your order was successfully processed</h2>
      {{ elseif gateway == "stripe" }}
      <h2 class="text-success"><i class="fa fa-thumbs-up"></i> &nbsp; Your payment was successfully processed</h2>
      {{ /if }}
      <h4 class="thankyou">Thank you for making a payment at {{ site_nice_url }}</h4>
      <p> <a href="javascript:window.print()" class="print-order"><small>Click Here to Print This Page &nbsp; <i class="fa fa-print"></i></small></a></p>
    </div>

      <div class="col-md-12">
        <p>
    {{ if gateway == "offline" }}
          <strong>YOU HAVE CHOSEN THE OFFLINE PAYMENT METHOD</strong><br>
          Please make payment as soon as possible to secure your order. If you have any questions or problems
          please email {{ gvcontact:gv_email }}
    {{ elseif gateway == "stripe" }}
          <strong>YOU HAVE PAID VIA CREDIT CARD</strong><br>
          Your transaction has been completed and a receipt for your purchase has been emailed to you. If you have any questions
          or problems please email {{ gvcontact:gv_email }}
    {{ /if }}
        </p>
      </div>

      <div class="col-sm-6">
        <hr>
        <h4>Transaction Details</h4>
        <p><strong>Order ID #:</strong> {{ trans_id }}<br>
        <strong>Order Date:</strong> {{ timestamp format="d F Y" }} <br>
    {{ if gateway == "offline" }}
        <strong>Payment Type: </strong>  Offline (Bank / Cheque) <br>
        <strong>Amount Payable:</strong> </p>
        <div class="highlight-block">
          <h4 class="is-first">${{ amount }}</h4>
        </div>

        <h4>For Bank Transfer / Direct Deposit</h4>
        <div class="offline-box">
          <h4>Please deposit the order amount in our bank account:</h4>
          <div class="content">
            {{ gv_offline_transfer }}
          </div>
        </div>

        <h4>For Cheque / Money Order</h4>
        <div class="offline-box">
          <h4>Please send a cheque / money order to:</h4>
          <div class="content">
            {{ gv_offline_cheque }}
          </div>
        </div>

    {{ elseif gateway == "stripe" }}
        <strong>Payment Type: </strong>  Credit Card<br>
        <strong>Amount Paid:</strong> ${{ amount }}</p>
        <p><span style="color:#3CAC49;">Your Credit Card {{ gateway_vars }}{{ card }}(ending in {{ ending }}){{ /card }}{{ /gateway_vars }} has been charged for this order. </span></p>

    {{ /if }}

        <h4>Order Details</h4>
        <p class="order-details">{{ quantity }} x {{ desc }} at ${{ price }}/each = ${{ amount }} {{ if gw_levy > 0 }} <small>including credit card processing fee of {{ gw_levy }}%</small> {{ /if }}</p>
        <p>
          <strong>Order Total</strong><br>
          ${{ amount }}{{ if gw_levy > 0 }} <small>including credit card processing fee of {{ gw_levy }}%</small> {{ /if }}
        </p>

      </div>
      <div class="col-sm-6">

        <hr>
        <h4>Your Details</h4>
        <p>
          <strong>Name:</strong> {{ name }}<br>
          <strong>Email:</strong> {{ email }} <br>
        </p>

        {{ if note }}
          <h4>Additional Information</h4>
          {{ note }}
        {{ /if }}

      </div>

  {{ /if }}
{{ /payamic:get_result }}

    </div>
  </div>
</div>

</div>
