<div class="modal fade modal-custom-form-delete" id="modal-custom-form-delete" tabindex="-1" role="dialog" aria-labelledby="modal-custom-form-delete-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"> <i class="fa fa-times"></i></span></button>
        <h4 class="modal-title" id="modal-custom-form-delete-label">Delete Form Data </h4>
      </div>
      <div class="modal-body">
        <div class="modal-body-content">

          <div class="cf-message is-error">
            <i class="fa fa-warning fa-2x"></i>
            <h4>Warning </h4>
            <p>Clicking the button below will delete all the form data you have entered so far.</p>
            <p><strong>Are you sure you want to do this?</strong></p>
          </div>

          <a href="" class="btn btn-form btn-clear" data-form-delete="#form-{{ form_name }}">Yes, Clear Form</a>

        </div>
      </div>
    </div>
  </div>
</div>
