

//


html.no-js {

.nojs-warning {
  display: block;
  opacity: 1;

  background: @color-error-dark;
  color: @colorw;
  padding: 10px 20px;

  a {
    color: @colorw;
    font-weight: bold;
    text-decoration: underline;
  }


}

.nav-burger-btn, .close-nav-burger {
  display: none;
  opacity: 0;
}

#nav-burger {
  position: relative;

  &:before {
    //display: none;
    //opacity: 0;
  }

  .nav-burger-inner {
    padding: 20px;
    min-height: auto;
  }

 .dropdown-menu {
   display: block;
   opacity: 1;
 }

    @media only screen and (min-width: 5px) {

      .animated-modal-content {
        margin-left: 0;
        width: 100%;
      }

      &:before {
        margin-left: 0;
        width: 100%;
      }

    }//rwd


}// burger

.default-header-image.heading-in-image .item-heading {
  padding: 1px 20px;
}




}//html
