

/// page fade in
//////////////////////////////

html {
 //background: #fff;
}

body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
////////////////////


.nojs-warning {
  display: none;
  opacity: 0;
}

.main-content {
  min-height: 200px;
  padding-bottom: 0;
}


// FUCKING WHAT THE FUCKING FUCK IS THIS FUCKING SHIT FFS
/*
@media only screen and (min-width: @site-width-1-bp) {

  .site-width-centered .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}//rwd
*/

.content-blocks {
  padding-bottom: 0;
  &.no-pb {
    padding-bottom: 0;
  }

  .block-set-wrapper {

  }
}

.page-template-custom-formindex {
  .content-blocks {
    
  }
}


.page-container {
  //.rwd-p(@site-width-1-bp,767px,/**/0,0px,0,0px,/**/0,30px,0,30px,/**/15px,15px,15px,15px);
  @media only screen and (max-width: 767px) {
    //padding-left: 15px;
    //padding-right: 15px;
  }

}



.page-content-padding, .page-container, .pcp {
  .rwd-p(@site-width-1-bp,767px,/**/0px,0px,0px,0px,/**/0px,30px,0px,30px,/**/0,15px,0,15px);

    // this shit overrides text block in columns etc
    @media only screen and (min-width: 5px) {
      .page-content-padding, .page-container, .pcp {
        padding: 0;
      }
    }//rwd

}

@media only screen and (max-width: 991px) {

  .container-fluid {
    .row {
      [class*='col-'] {
        .page-content-padding {
          padding: 0;
        }
      }
    }
  }


}


@media only screen and (min-width: 200px) {
  .container-override {
    padding-left: 0;
    padding-right: 0;
  }

  .site-width-centered {
    .container-fluid.container-override {
      padding-left: 0;
      padding-right: 0;
    }
  }
}//rwd


@media only screen and (min-width: @site-width-1-bp) {
  .site-width-centered {
    .container-fluid.container-swc {
      padding-left: 0;
      padding-right: 0;
    }
  }
}//rwd




header.of-page {
  background: @color1;
  color: @colorw;
  .rwd-p(@site-width-1-bp,767px,/**/30px,15px,10px,15px,/**/30px,15px,10px,15px,/**/15px,15px,15px,15px);
  text-align: center;
  h1 {
    color: @colorw;
    margin: 0 0 20px;
  }
}









// ##############################################################################
// ##############################################################################
// rwd


@media only screen and (min-width: 992px) and (max-width: 1150px) {

header.of-page {
  h1 {
    padding-top: 120px;
  }
}

}//rwd

@media only screen and (min-width: 768px) and (max-width: 991px) {

header.of-page {
  h1 {
    padding-top: 180px;
  }
}

}//rwd


@media only screen and (max-width: 767px) {


header.of-page {
  h1 {
    font-size: @fsb * 1.7;
    margin: 0;
  }
}

.hero2 {
  article {
    padding: 10px 15px 200px 15px;
    .image {
      bottom: 0;
      height: 200px;
      top: auto;
      width: 100%;
    }
  }
}




.hero3 {
  article {
    h3 {

    }
    .image {
      float: none;
      min-height: 100px;
      max-height: 2000px;
      padding: 30px 15px;
      width: 100%;
    }
    .content {
      float: none;
      padding: 15px;
      width: 100%;
      h1,h2,h3,h4,h5 {

      }
    }
  }
}






} // rwd
