
// ##############################################################################
// ##############################################################################
// bootstrap stuff

@font-family-sans-serif:  "open-sans", "Helvetica", Arial, sans-serif;
@font-family-serif:       "poynter-oldstyle-text", Georgia, "Times New Roman", Times, serif;
@font-family-base:        @font-family-sans-serif;
@font-family-headings:    "tomarik-serif", Helvetica, Arial, sans-serif;
.ffb {
  font-family: @font-family-base;
}
.ffh {
  font-family: @font-family-base;
}

//do not fuck with this number ffs 
/* > see this > don't fucking touch it > */@font-size-base: 17px;// don't fucking touch it
// This one you can fuck up tho
@cb-text-size: 1.11;
@fsb: @font-size-base;

@modal-backdrop-opacity: .7;

@screen-md: 992px; // < this controls EVERYTHING
//@screen-md-min: @screen-md;
//@grid-float-breakpoint: @screen-md-min;
// @screen-sm-max < @screen-md - 1 (i.e. 991px)

@brand-primary: @color1;
@link-color: @color1;
@link-hover-color: @colord;

// ##############################################################################
// ##############################################################################
// specific stuff


@site-width-1: 1250px;
@site-width-1-bp: (@site-width-1 + 15);
@site-width-2: 1600px;

@color1: #0D5698;//6882AA;
@color2: #C12B2E;
@color3: #E1CB59;
@color4: #4A5556;
@color5: #555;
@color6: @color1;

@colord-text-color: @colorw;
@color1-text-color: @colorw;
@color2-text-color: @colorw;
@color3-text-color: @colorw;
@color4-text-color: mix(@colorb,@color4,92%);

@color1-dark: mix(@colorb,@color1,40%);
@color2-dark: mix(@colorb,@color2,40%);
@color3-dark: mix(@colorb,@color3,30%);
@color1-light: mix(@colorw,@color1,55%);
@color2-light: mix(@colorw,@color2,45%);

@colord: #1F232E;
@colorw: #fff;
@colorg: #dedede;
@colorg-light: #EFF2F6;
@colorg-dark: mix(@colorb,@colorg,20%);
@colorg2: mix(@colorb,@colorg,30%);
@colorb: #000;
@colorb2: #1A1423;

@color-success: green;
@color-error: #c00;
@color-error-dark: mix(@colorb,@color-error,25%);
@color-warning: #c00;

@color-darklight-1: @color2; // needs to be dark if bg is light // includes: ul dots and numbers, wells


.bs1 {
  box-shadow: 5px 5px 15px rgb(0 0 0 / 15%);
}
.bgg1-130 {
  background-image: linear-gradient(130deg,@color1 10%,@color1-dark 90%);
}
.bgg2-130 {
  background-image: linear-gradient(130deg,@color2 10%,@color2-dark 90%);
}
.bgg3-130 {
  background-image: linear-gradient(130deg,@color3 10%,@color3-dark 90%);
}


//@bg1: url('/site/themes/site/img/bg-custom-1.png') 0 0;
//@bgtest: url('https://www.transparenttextures.com/patterns/az-subtle.png');
//@bgholder: @color1 url('/site/themes/site/img/textures/bg5.png') 0 0;
@bg1:none;
@bg2:none;

@site-footer-socials-color: @color3;

//== Pagination
//
//##

@site-pagination-color: @color1;

@pagination-color:                     @site-pagination-color;
@pagination-bg:                        #fff;
@pagination-border:                    @site-pagination-color;

@pagination-hover-color:               @colorw;
@pagination-hover-bg:                  mix(@colorw,@site-pagination-color,20%);
@pagination-hover-border:              mix(@colorw,@site-pagination-color,20%);

@pagination-active-color:              #fff;
@pagination-active-bg:                 @site-pagination-color;
@pagination-active-border:             @site-pagination-color;

@pagination-disabled-color:            mix(@colorw,@site-pagination-color,50%);
@pagination-disabled-bg:               #fff;
@pagination-disabled-border:           mix(@colorw,@site-pagination-color,50%);
