


@import "most-popular.less";
@import "related.less";
@import "next-prev.less";
@import "tags.less";
@import "details.less";
@import "author.less";

@import "type-1.less";
@import "type-2.less";


.list-taxonomies {
  .item {
    display: inline-block;
    margin: 0 0 7px;
    span {
      color: mix(@colorw,@colord,30%);
    }
  }
}



.sold-out {
  border: 1px solid @color-error;
  color: @color-error;
  padding: 5px 15px;
}





.list-blog {
  padding: 35px 0 200px;

  &.has-heading {
    padding-top: 0;
  }

  &.no-pb {
    padding-bottom: 0;
  }

  .list-back {
    a {

    }
  }

  .item {
    border-bottom: 1px solid mix(@colorw,@colord,85%);
    margin: 0 0 30px;
    padding: 0 0 30px;

    &.is-last {
      border-bottom: none;
      margin: 0;
    padding: 0;
    }
  }

  .title {
    color: @color2;
    margin: 0 0 5px;
    text-transform: capitalize;

  }

  .text {

  }

  .excerpt {

  }

  .cover-image {
    margin: 0 0 20px;
    max-width: 500px;
  }

  .ball {
    color: @color2;
    font-size: @fsb * 1.7;
    line-height: .5;
    position: relative;
    top: 1px;
  }

  .btn-dl-article {
    background: @color2;
    border: 1px solid @color2;
    color: @colorw;
    display: inline-block;
    font-size: @fsb * 0.9;
    padding: 3px 15px;
    text-decoration: none;
    .transition(0.5s all);
    .fa {
      .transition(0.5s padding);
    }
    &:hover {
      background: @colorw;
      color: @color2;
      .fa {
        padding-left: 15px;
      }
    }
  }









}// list blog
