


.list-next-prev.list-blog {

  background: @color1-dark;
  .rwd-p(@site-width-1-bp,767px,/**/80px,0,80px,0,/**/60px,15px,60px,15px,/**/50px,5px,25px,5px);

  .wrapper {
    background: @colorw;
    padding: 20px 15px;
  }

  .btn-next-prev {
    background: @color2;
    padding: 20px 0;

    a {
      color: @colorw;
      padding: 15px;
    }

    &.next {
      text-align: right;
    }

  }

  .item {
    margin-bottom: 0;
    padding-bottom: 15px;
  }


          // ===== RWD
          @media only screen and (max-width: 767px) {

              .wrapper {
                margin-bottom: 30px;
              }

          }//rwd



}//next prev
