
.list-related.list-blog {
  background: @colorw;
  margin: 50px 0 0;
  .rwd-p(@site-width-1-bp,767px,/**/0px,0,20px,0,/**/0px,0,20px,0,/**/0px,0,10px,0);

  .related-heading {
    background: @colord;
    margin-bottom: 40px;
    padding: 20px 15px;
    text-transform: uppercase;
    h3 {
      color: @colorw;
    }
  }

  .cover-image {
    max-width: 260px;
  }


}//related
