
.list-blog {


  &.featured {
    .blog-type-2 {
      .row {
        margin: 0;
      }
      .item-col {
        padding: 0;
      }
      .post-1 {
        border-bottom: none;
        margin: 0;
        padding: 0;
      }
    }
  }


  &.total-entries-1 {
    .blog-type-2 {
      .post-1 {
        border-bottom: none;
      }
    }
  }



  .blog-type-2 {

    .post-1 {
      border-bottom: 1px solid mix(@colorw,@colord,85%);
      margin: 0 0 30px;
      padding: 0 0 30px;

      .has-image {
        min-height: 400px;
        position: relative;
        .content {
          background: fade(@colorb,50%);
          bottom: 0;
          max-width: 70%;
          padding: 15px;
          position: absolute;

          .title {
            font-size: @fsb * 1.8;
            color: @colorw;
            a {
              color: @colorw;
            }
          }

          .article-link {
            a {
              color: @colorw;
            }
            .ball {
              color: @colorw;
            }
          }

          .excerpt {
            display: none;
          }

          .blog-tags {

            &.is-inline {

              .heading-text {
                color: @colorw;
              }
              .tag-item {
                color: @colorw;
                a {
                  color: @colorw;
                }
              }
            }
          }

          .btn-dl-article {
            background: @colorw;
            border: 1px solid @colorw;
            color: @colord;
            display: inline-block;
            font-size: @fsb * 0.9;
            padding: 3px 15px;
            text-decoration: none;
            .transition(0.5s all);
            .fa {
              .transition(0.5s padding);
            }
            &:hover {
              background: @colorw;
              color: @color2;
              .fa {
                padding-left: 15px;
              }
            }
          }



                      // ===== RWD
                      @media only screen and (max-width: 991px) {

                        max-width: 100%;
                        padding: 15px;
                        position: absolute;



                      }//rwd

        }// content in image
      }

    }// post 1


    .posts-2-3 {



          // ===== RWD
          @media only screen and (min-width: 768px) {

            margin-bottom: 30px;
            padding-bottom: 10px;

          }//rwd


          // ===== RWD
          @media only screen and (max-width: 767px) {

            .alt-item {

              border-bottom: 1px solid mix(@colorw,@colord,85%);
              margin: 0 0 30px;
              padding: 0 0 30px;

            }

          }//rwd

    }

  }


}//list blog
