<div class="masonry-grid-wrapper">
<div class="masonry-grid size-{{ var:var_size }} masonry-grid-{{ type }}-{{ gallery_number }} clearfix">
  <div class="magnific-gallery">
  <div class="grid-sizer"></div>
{{ assets:img }}
    <div class="grid-item">
      {{ if {var:var_size} == "lg" }}
      <a class="item item-size-lg" href='{{ glide:url format="" width="1600" height="1600" fit="max" }}' title="{{ if caption_filename }}{{ filename }}{{ else }}{{ caption }}{{ /if }}">
        <img class="img-responsive" src='{{ glide:url format="" width="1200" height="1200" fit="max" }}' alt="{{ if caption_filename }}{{ filename }}{{ else }}{{ caption }}{{ /if }}">
        {{ if show_captions }}
          {{ if caption_filename }}
          <span class="caption-masonry"> {{ filename }}</span>
          {{ elseif caption }}
          <span class="caption-masonry"> {{ caption }}</span>
          {{ /if }}
        {{ /if }}
      {{ elseif {var:var_size} == "md" }}
      <a class="item item-size-md" href='{{ glide:url format="" width="1600" height="1600" fit="max" }}' title="{{ if caption_filename }}{{ filename }}{{ else }}{{ caption }}{{ /if }}">
        <img class="img-responsive" src='{{ glide:url format="" width="900" height="900" fit="max" }}' alt="{{ if caption_filename }}{{ filename }}{{ else }}{{ caption }}{{ /if }}">
        {{ if show_captions }}
          {{ if caption_filename }}
          <span class="caption-masonry"> {{ filename }}</span>
          {{ elseif caption }}
          <span class="caption-masonry"> {{ caption }}</span>
          {{ /if }}
        {{ /if }}
      {{ else }}
      <a class="item" href='{{ glide:url format="" width="1600" height="1600" fit="max" }}' title="{{ if caption_filename }}{{ filename }}{{ else }}{{ caption }}{{ /if }}{{ caption }}">
        <img class="img-responsive" src='{{ glide:url format="" width="600" height="600" fit="max" }}' alt="{{ if caption_filename }}{{ filename }}{{ else }}{{ caption }}{{ /if }}">
        {{ if show_captions }}
          {{ if caption_filename }}
          <span class="caption-masonry"> {{ filename }}</span>
          {{ elseif caption }}
          <span class="caption-masonry"> {{ caption }}</span>
          {{ /if }}
        {{ /if }}
      {{ /if }}
      </a>
    </div>
{{ /assets:img }}
  </div>
</div>
</div>

