{{ var:var_size is="{size}"}}
<div class="block-gallery kind-{{ kind }} full-width-{{ gallery_full_width }}">
{{ unless gallery_full_width }}
<div class="site-width-centered">
{{ /if }}
{{ if kind == "slider" }}
{{ partial:content-blocks/blocks/gallery/gallery-slider }}
{{ elseif kind == "masonry" }}
{{ partial:content-blocks/blocks/gallery/gallery-masonry }}
{{ else }}

<div class="magnific-gallery popup-gallery {{ if var_in_col }}popup-gallery-col{{ /if }} clearfix">
{{ if image_mask !="none" or !image_mask }}
<div class="gallery-masked">




{{ assets:img }}
  {{ if {var:var_size} == "lg" }}
  <a class="item item-size-lg image-mask-{{ image_mask }}" href='{{ glide:url format="" width="1600" height="1600" fit="max" }}' title="{{ caption }}">
    <div class="image-wrapper">
      <div class="image-inner image-mask-{{ image_mask }}">
        <img class="img-responsive {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}data-src='{{ glide:url format="" width="900" height="900" fit="crop_focal" }}' src='{{ glide:url width="300" height="300" pixelate="400" fit="crop_focal" }}'{{ else }}src='{{ glide:url width="900" height="900" fit="crop_focal" }} {{ /if }} />
      </div>
    </div>
  {{ elseif {var:var_size} == "md" }}
  <a class="item item-size-md" href='{{ glide:url format="" width="1600" height="1600" fit="max" }}' title="{{ caption }}">
    <div class="image-wrapper">
      <div class="image-inner image-mask-{{ image_mask }}">
        <img class="img-responsive {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}data-src='{{ glide:url format="" width="600" height="600" fit="crop_focal" }}' src='{{ glide:url width="300" height="300" pixelate="400" fit="crop_focal" }}'{{ else }}src='{{ glide:url width="600" height="600" fit="crop_focal" }} {{ /if }} />
      </div>
    </div>
  {{ else }}
  <a class="item item-size-{{ var:var_size }} image-mask-{{ image_mask }}" href='{{ glide:url format="" width="1600" height="1600" fit="max" }}' title="{{ caption }}">
    <div class="image-wrapper">
      <div class="image-inner image-mask-{{ image_mask }}">
        <img class="img-responsive {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}data-src='{{ glide:url format="" width="450" height="450" fit="crop_focal" }}' src='{{ glide:url width="300" height="300" pixelate="400" fit="crop_focal" }}'{{ else }}src='{{ glide:url width="450" height="450" fit="crop_focal" }} {{ /if }} />
      </div>
    </div>
  {{ /if }}
  {{ if show_captions }}
    {{ if caption }}
    <span class="caption"> {{ caption }}</span>
    {{ /if }}
  {{ /if }}
  <span class="gallery-search-icon"> <i class="fa fa-search-plus fa-2x"></i></span>
</a>
{{ /assets:img }}



</div>
{{ else }}
{{ assets:img }}
  {{ if {var:var_size} == "lg" }}
  <a class="item item-size-lg" href='{{ glide:url format="" width="1600" height="1600" fit="max" }}' title="{{ caption }}">
    <div class="item-content {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}data-src='{{ glide:url format="" width="900" height="900" fit="crop_focal" }}' style="background-image: url('{{ glide:url format="" width="2" height="2" fit="crop_focal" }}')"{{ else }}style="background-image: url('{{ glide:url format="" width="900" height="900" fit="crop_focal" }}')"{{ /if }}>
      <i class="fa fa-search-plus fa-2x"></i>
    </div>
  {{ elseif {var:var_size} == "md" }}
  <a class="item item-size-md" href='{{ glide:url format="" width="1600" height="1600" fit="max" }}' title="{{ caption }}">
    <div class="item-content {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}data-src='{{ glide:url format="" width="600" height="600" fit="crop_focal" }}' style="background-image: url('{{ glide:url format="" width="2" height="2" fit="crop_focal" }}')"{{ else }}style="background-image: url('{{ glide:url format="" width="600" height="600" fit="crop_focal" }}')"{{ /if }}>
      <i class="fa fa-search-plus fa-2x"></i>
    </div>
  {{ else }}
  <a class="item item-size-{{ var:var_size }}" href='{{ glide:url format="" width="1600" height="1600" fit="max" }}' title="{{ caption }}">
    <div class="item-content {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}data-src='{{ glide:url format="" width="450" height="450" fit="crop_focal" }}' style="background-image: url('{{ glide:url format="" width="2" height="2" fit="crop_focal" }}')"{{ else }}style="background-image: url('{{ glide:url format="" width="450" height="450" fit="crop_focal" }}')"{{ /if }}>
      <i class="fa fa-search-plus fa-2x"></i>
    </div>
  {{ /if }}
  {{ if show_captions }}
    {{ if caption }}
    <span class="caption"> {{ caption }}</span>
    {{ /if }}
  {{ /if }}
</a>
{{ /assets:img }}
{{ /if }}
</div>
{{ /if }}
{{ unless gallery_full_width }}
</div>
{{ /if }}
</div>
