{{ unless gallery_full_width }}
<div class="swc">
  {{ /if }}
  <div
    class="block-slider cb-slider-{{ type }}-{{ gallery_number }} gallery-slider slider-thumbnails-{{ slider_thumbnails }}">
    {{ assets:img }}
    <div {{ if slider_thumbnails == "thumbs" }}data-thumb='{{ glide:url width="130" height="130" fit="crop_focal" }}'
      {{ /if }} class="gallery-slider-item magnific-gallery">
      {{ if {var:var_size} == "lg" }}
      <a class="item item-size-lg" href='{{ glide:url width="1600" height="1600" fit="max" }}' title="{{ caption }}"
        style="background: url('{{ glide:url width="750" height="750" fit="crop_focal" }}') center center; background-size:cover;background-repeat: no-repeat;">
        <i class="fa fa-search-plus fa-2x"></i>
        {{ elseif {var:var_size} == "md" }}
        <a class="item item-size-md" href='{{ glide:url width="1600" height="1600" fit="max" }}' title="{{ caption }}"
          style="background: url('{{ glide:url width="550" height="550" fit="crop_focal" }}') center center; background-size:cover;background-repeat: no-repeat;">
          <i class="fa fa-search-plus fa-2x"></i>
          {{ else }}
          <a class="item" href='{{ glide:url width="1600" height="1600" fit="max" }}' title="{{ caption }}"
            style="background: url('{{ glide:url width="450" height="450" fit="crop_focal" }}') center center; background-size:cover;background-repeat: no-repeat;">
            <i class="fa fa-search-plus fa-2x"></i>
            {{ /if }}
            {{ if show_captions }}
            {{ if caption }}
            <span class="caption"> {{ caption }}</span>
            {{ /if }}
            {{ /if }}
          </a>
    </div>
    {{ /assets:img }}
  </div>
  {{ if slider_thumbnails == "thumbs" }}
  <div class="slick-thumbs slick-thumbs-{{ type }}-{{ gallery_number }}">
  </div>
  {{ /if }}
  {{ if slider_thumbnails == "thumb_slider" }}
  <br>
  <div class="block-slider cb-slider-{{ type }}-{{ gallery_number }}-nav gallery-slider-nav">
    {{ assets:img }}
    <div class="item">
      <img class="img-responsive" src='{{ glide:url width="200" height="200" fit="crop_focal" }}' alt="" />
    </div>
    {{ /assets:img }}
  </div>
  {{ /if }}

  {{ unless gallery_full_width }}
</div>
{{ /if }}