{{ partial:item_header item_heading="Payment" }}

{{ payamic:getPaymentDetails }}

<div class="custom-form-wrapper color-mid tile-two payamic-checkout" id="custom-form-wrapper">
  <div class="form-header">
    <h3 class="form-heading">Make a {{ if amount == 'custom' }}Custom{{ /if }} Payment to {{ site_name }}</h3>
  </div>
  <div class="custom-form-wrapper-inner">
<form action="{{ payamic:action }}" class="custom-form" method="POST" id="payment-form">
  {{ csrf_field }}
  <input type='hidden' name="payment" value="{{ segment_2 }}">
  <input type="hidden" class="" name="gateway" value="stripe">
  <input type="hidden" class="" name="site_name" value="{{ site_name }}">

  <div class="js-payment-errors hidden">
    <div class="cf-message is-error">
      <span class="icon"> <i class="fa fa-times fa-2x"></i> </span>
      <h3 class="heading">Error!</h3>
      <span class="error"></span>
    </div>
  </div>

  <div class="payment-reason">
    <div class="kind-highlight-alone">
      {{ if amount == 'custom' }}
      <p><strong>PLEASE NOTE:</strong> This form is for making a manual custom payment to ACME. Please set the amount you want to pay in the amount field below and then include a detailed description of what the payment is for.</p>
      {{ /if }}
      <i>ONLY Visa and Mastercard payments are accepted.</i>
    </div>
  </div>

{{ if {payamic:getPaymentErrors} != '' }}
<div class="cf-message is-error">
  <span class="icon"> <i class="fa fa-times fa-2x"></i> </span>
  <h3 class="heading">Error!</h3>
  <div class="">
    {{ payamic:getPaymentErrors }}
  </div>
</div>
{{ /if }}


<h3 class="fieldset-heading">Your Details</h3>
<fieldset class="container-fluid clearfix">
  <div class="form-group">
    <label>Name</label>
{{ if amount == 'custom' }}
    <input type="text" name="name" value="{{ old:name }}" class="form-control" required>
{{ else }}
    <input type="text" name="name" value="{{ get:name | sanitize }}" class="form-control" required>
{{ /if }}
  </div>
  <div class="form-group">
    <label>Email</label>
{{ if amount == 'custom' }}
    <input type="email" name="email" value="{{ old:email }}" class="form-control" required>
{{ else }}
    <input type="email" name="email" value="{{ get:email | sanitize }}" class="form-control" required>
{{ /if }}
  </div>
</fieldset>

<h3 class="fieldset-heading">Payment Details</h3>
<fieldset class="container-fluid clearfix">

{{ if amount == 'custom' }}

  <div class="form-group">
    <label class="" for="amount">Custom Payment Amount - in format 20.00 <span class="req">(required)</span></label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control no-border" value="{{ old:amount }}" name="amount" required>
    </div>
    <br>
    <small class="kind-warning-alone"><i>Please note:</i> this amount is not automatically set or checked by our system - whatever amount you enter is the amount that will come off your credit card. Please check that the amount is correct before submitting.</small>
  </div>

  <div class="form-group">
    <label class="" for="desc">Payment Description</label><br>
    <span class="note">Please write a one line description that will easily identify your payment</span>
    <input type="text" class="form-control" autocomplete="off" value="{{ old:desc }}" name="desc" id="payment_desc" required>
  </div>

  <div class="form-group">
    <label class="" for="desc">Payment Notes</label><br>
    <span class="note">Please write a one line description that will easily identify your payment</span>
    <textarea class="form-control" autocomplete="off" rows="3" value="{{ old:note }}" name="note" id="payment_note"></textarea>
  </div>

{{ else }}

  <div class="form-group">
    <label class="" for="amount">Payment Amount</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control no-border" value="{{ amount }}" name="amount" readonly>
    </div>
    {{ if {payamic:getLevy gateway='stripe'} != '' }}
    <br>
    <small class="kind-warning-alone">A credit card processing fee of <span class="levy">{{ payamic:getLevy gateway='stripe' }}</span>% is added to this amount</small>
    {{ /if }}
  </div>

  <div class="form-group">
    <label class="" for="desc">Payment Description</label><br>
    <input type="text" class="form-control" value="{{ desc }}" name="desc" id="payment_desc" readonly>
  </div>

{{ /if }}

</fieldset>


<h3 class="fieldset-heading">Credit Card Details</h3>
<fieldset class="container-fluid clearfix">

  <div class="payment-cc-note">
    <strong>You are paying $<span id="payment_form_total"></span> today for

    {{ if amount == 'custom' }}
    this custom payment.
    {{ else }}
    this payment.
    {{ /if }}

    {{ if {payamic:getLevy gateway='stripe'} != '' }}
    Includes credit card processing fee of <span class="levy">{{ payamic:getLevy gateway='stripe' }}</span>%
    {{ /if }}

    </strong>
  </div>

  <div class="form-group no-border">
    <label for="card-element">
        Please enter your Card Number, Expiry &amp; CVC
    </label>
    <br><br>
    <div id="card-element"></div>
    <div id="card-errors"></div>
    <br>
  </div>

  <div class="kind-warning-alone">
    Please click the button below and wait for your payment to process. Do NOT click the button more than once in quick succession or your credit card may be charged multiple times.
  </div>
</fieldset>

  <button type="submit" class="btn btn-cf-submit" name="submit-form">Confirm Payment and Submit &nbsp; <i class="fa fa-send"></i> </button>
  <br><br>

  </form>
</div>
</div>
{{ /payamic:getPaymentDetails }}
