{{ partial:item_header }}
{{ partial:nav/secondary }}

<div class="content-blocks">
  {{ partial:auto-layouts/auto-layout }}
</div>

{{ if segment_2 }}
<section class="list-bookings swc">
{{ collection:bookings paginate="false" as="posts" limit="50" kind:contains="{id}" }}
{{ if no_results }}
{{ else }}
  <article class="clearfix">
  <div class="container-fluid container-swc">
    <div class="row">
	{{ posts }}
{{ partial:collection/bookings-post }}
  {{ /posts }}
    </div>
  </div>
  </article>
{{ /if }}
{{ /collection:bookings }}
</section>
{{ else }}

<br><br><br>
<section class="list-bookings swc">
  {{ collection:bookings paginate="false" as="posts" limit="50" }}
  {{ if no_results }}
  {{ else }}
  <article class="clearfix">
    <div class="container-fluid container-swc">
      <div class="row">
        {{ posts }}
        {{ partial:collection/bookings-post }}
        {{ /posts }}
      </div>
    </div>
  </article>
  {{ /if }}
  {{ /collection:bookings }}
</section>
{{ /if }}

<br><br><br><br><br><br>

