
// modal override
.modal-calendar-booking {
  .modal-body {
    .content {
      text-align: center;
    }
    .note {
      border: 1px solid @color-error;
      color: @color-error;
      display: inline-block;
      padding: 10px 20px;
    }
  }
}

@media only screen and (min-width: 992px) {

.modal-calendar-booking {
  .modal-body {
    .form {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}

}//rwd


// =========================================================
// =========================================================
// end overrides




// booking clndr

.clndr-booking-wrapper {


  .time-slot {
    .btn-book {
      background: @colorw;
      border: 1px solid @color2;
      border-radius: 5px;
      color: @color2;
      display: inline-block;
      min-width: 120px;
      margin-bottom: 7px;
      text-align: center;
      padding: 7px 10px;
      &:hover {
        background: @color2;
        color: @colorw;
      }
    }
  }



  .time-slot {
    .btn-book.is-booked, .btn-book.is-booked:hover  {
      background: @colorw;
      border-color: #ccc;
      color: #ccc;
      cursor: not-allowed;
    }
  }




  .clndr-grid {
    .day {
      &.past {
        .time-slot {
          .btn-book, .btn-book:hover  {
            background: @colorw;
            border-color: #ccc;
            color: #ccc;
            cursor: not-allowed;

          }
        }
      }
    }
  }








  #clndr-large {
    margin: 20px 0 100px;

// clndr-controls

      .clndr-controls {
        padding: 14px;
        background-color: @color2;
        color: @colorw;
        height: 61px;
        text-align: center;

        .month {
          font-size: 24px;
          font-weight: bold;
          padding-top: 1px;
          position: relative;
          right: 48px;
        }

        .jump-today {
          background: @colorw;
          border: 1px solid @colorw;
          border-radius: 100px;
          color: @color2;
          cursor: pointer;
          display: inline-block;
          font-size: 16px;
          margin-right: 10px;
          padding: 4px 12px 2px;
          position: relative;
          text-transform: uppercase;
          top: -2px;
          width: 90px;
          &:hover {
            background: @color2;
            color: @colorw;
          }
        }

        .clndr-previous-button {
          float: left;
          padding-right: 2px;
        }

        .clndr-next-button {
          float: right;
          padding-left: 2px;
        }

        .clndr-previous-button, .clndr-next-button {
          background: @colorw;
          border: 1px solid @colorw;
          border-radius: 100px;
          color: @color2;
          cursor: pointer;
          font-size: 24px;
          height: 35px;
          position: relative;
          text-align: center;
          width: 35px;
          z-index: 20;

          &:hover {
            background: @color2;
            color: @colorw;
          }
        }
      }


// grid
      .clndr-grid {
        float: left;
        margin-top: 30px;
        width: 100%;

        .days-of-the-week {
          width: 100%;

          .header-day {
            background: @color3;
            color: @colorw;
            float: left;
            font-weight: bold;
            padding: 14px;
            text-align: center;
            width: 14.2857%;
          }
        }

        .days {
          width: 100%;

          .day, .empty {

            float: left;
            width: 14.2857%;
            overflow: hidden;
            padding: 10px 0;
            position: relative;
            font-size: @fsb * 0.9;

            text-align: center;
            color: @colord;
            background-color: @colorw;
            border-bottom: 2px solid white;
            border-right: 2px solid white;

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            .day-number {
              background: @colorw;
              color: @colord;
              display: inline-block;
              font-size: @fsb * 1.5;
              height: 30px;
              margin-bottom: 20px;
              padding: 2px 4px;
              text-align: center;
            }

            &.calendar-dow-6 {
              border-right: none;
            }

            &.event {

            }

            &.past {

              background-color: @colorw;
              .day-number {
                opacity: 0.3;
              }
            }

            &.last-month {
              background: @colord;
              .day-number {
                opacity: 0.3;
              }
            }

            &.next-month {
              .day-number {
                color: mix(@colorw, @colord, 50%);
              }
            }

            &.adjacent-month {

            }
          }

          .events-list {
            font-size: @fsb * 0.85;
          }

          .view-all {
            background: @color3;
            border-radius: 100px;
            bottom: 10px;
            color: @colorw;
            display: block;
            height: 30px;
            padding: 4px 0 0 0;
            position: absolute;
            right: 10px;
            text-align: center;
            .transition(0.5s all);
            width: 30px;
            z-index: 100;
            &:hover {
              background: @colord;
              .scale(1.3,1.3);
            }
          }

          .today {
            border: 1px solid mix(@colorw,@color3,60%);
            font-weight: bold;
          }

        }
      }


  }



}// clndr wrapper











// ##############################################################################
// ##############################################################################
// rwd



@media only screen and (max-width: 1050px) {


.clndr-booking-wrapper {

  .time-slot {
    .btn-book {
      min-width: auto;
    }
  }

}// clndr wrapper



}//rwd
