

// fa overrides
html {
  .fa-fallback {
    display: none;
    opacity: 0;
  }
  &.fa-events-icons-failed {
    .fa-fallback {
      display: block;
      opacity: 1;
    }
  }
}



.clndr-wrapper {
  #clndr-large {
    margin: 20px 0 100px;

// clndr-controls

      .clndr-controls {
        padding: 14px;
        background-color: @color2;
        color: @colorw;
        height: 61px;
        text-align: center;

        .month {
          font-size: 24px;
          font-weight: bold;
          padding-top: 1px;
          position: relative;
          right: 48px;
        }

        .jump-today {
          background: @color3;
          border-radius: 100px;
          color: @colorw;
          cursor: pointer;
          display: inline-block;
          font-size: 16px;
          margin-right: 10px;
          padding: 4px 12px 2px;
          position: relative;
          text-transform: uppercase;
          top: -2px;
          width: 90px;
          &:hover {
            background: @colorw;
            color: @colord;
          }
        }

        .clndr-previous-button {
          float: left;
          padding-right: 2px;
        }

        .clndr-next-button {
          float: right;
          padding-left: 2px;
        }

        .clndr-previous-button, .clndr-next-button {
          background: @color3;
          border-radius: 100px;
          cursor: pointer;
          font-size: 24px;
          height: 35px;
          position: relative;
          text-align: center;
          width: 35px;
          z-index: 20;

          &:hover {
            background: @colorw;
            color: @colord;
          }
        }
      }


// grid
      .clndr-grid {
        float: left;
        width: 100%;

        .days-of-the-week {
          width: 100%;

          .header-day {
            background: @color3;
            color: @colorw;
            float: left;
            font-weight: bold;
            padding: 14px;
            text-align: center;
            width: 14.2857%;
          }
        }

        .days {
          width: 100%;

          .day, .empty {

            float: left;
            width: 14.2857%;
            height: 150px;
            overflow: hidden;
            padding: 35px 0 10px;
            position: relative;
            font-size: @fsb * 0.9;

            text-align: center;
            color: @colord;
            background-color: #eee;
            border-bottom: 2px solid white;
            border-right: 2px solid white;

            background-image: url('/site/themes/site/img/triangle.svg');
            background-size: cover;
            background-position: center;

            .day-number {
              background: @colorw;
              color: @colord;
              display: inline-block;
              left: 0;
              height: 30px;
              padding: 2px 4px;
              position: absolute;
              top: 0;
              text-align: center;
              width: 30px;
            }

            &.calendar-dow-6 {
              border-right: none;
            }

            &.event {

            }

            &.past {
              background-color: #eee;
              .day-number {
                opacity: 0.3;
              }
            }

            &.last-month {
              background: #eee;
              .day-number {
                opacity: 0.3;
              }
            }

            &.next-month {
              .day-number {
                color: mix(@colorw, @colord, 50%);
              }
            }

            &.adjacent-month {

            }
          }

          .events-list {
            font-size: @fsb * 0.85;
          }

          .view-all {
            background: @color3;
            border-radius: 100px;
            bottom: 10px;
            color: @colorw;
            display: block;
            height: 30px;
            padding: 4px 0 0 0;
            position: absolute;
            right: 10px;
            text-align: center;
            .transition(0.5s all);
            width: 30px;
            z-index: 100;
            &:hover {
              background: @colord;
              .scale(1.3,1.3);
            }
          }

          .today {
            background-color: @color3;
            background-image: none;
            color: @colorw;
            font-weight: bold;
          }

        }
      }


  }



}// clndr wrapper
