
@gallery-border-width: 4px;
@gallery-border-width-reverse: -@gallery-border-width;



  .popup-gallery {
    margin: (@gallery-border-width * 2) @gallery-border-width-reverse 0;

    .item, .item-alt {

      //border: @gallery-border-width solid fade(@colorw,0%);
      display: block;
      float: left;
      width: 25%;

      .item-content {

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .rwd-min-height-2(1200px,767px,530px,280px,25vw,32vw,65vw);

        margin: 0 @gallery-border-width (@gallery-border-width * 2);
        position: relative;

        &:after {
          .overlay-base;
          background: #000;
          opacity: 0;
        }

        .fa {
          position: absolute;
          .center-b;
          opacity: 0.2;
          color: @colorw;
          .transition(1s opacity);
        }

        &:hover {
          .fa {
            font-size: @font-size-base * 2;
            opacity: 1;
            z-index: 20;
          }
          &:after {
            opacity: 0.3;
          }
        }

      }//item content

      &.item-size-md {
        width: 33.33%;

        .item-content {
          .rwd-min-height-2(1200px,767px,530px,370px,25vw,32vw,65vw);
        }

      }

      &.item-size-lg {
        width: 50%;

        .item-content {
          //.rwd-min-height(767px,530px,30vw,40vw,72vw);
          .rwd-min-height-2(1200px,767px,530px,420px,32vw,38vw,73vw);
        }
      }


    }//item


        @media only screen and (max-width: 991px) {


            .item {
              position: relative;
              width: 33.33%;

              &.item-size-lg {
                width: 50%;
              }
            }



        } // rwd

        @media only screen and (max-width: 767px) {


            .item {
              width: 50%;

              &.item-size-lg,&.item-size-md {
                width: 50%;
              }
            }


        } // rwd

        @media only screen and (max-width: 530px) {


            .item {
              width: 100%;
              &.item-size-lg,&.item-size-md {
                width: 100%;
              }
            }



        } // rwd



  }//popup


//full width overrides 

.full-width-1 {
  .popup-gallery {
    .item {

      .item-content {
        //.rwd-min-height-2(991px,767px,530px,21vw,25vw,40vw,65vw);
      }//item content

      &.item-size-md {
        .item-content {
          //.rwd-min-height(767px,530px,25vw,40vw,68vw);
        }

      }

      &.item-size-lg {
        .item-content {
          .rwd-min-height(767px,530px,30vw,40vw,72vw);
        }
      }

    }
  }//popup
}//full width 












// ===== GALLERY IN COLUMNS


  .popup-gallery-col {

    margin-left: -12px;
    margin-right: -12px;

    .item {
      width: 50%;
      .item-content {
        height: 250px;
      }

      &.item-size-xs {
        width: 33.33%;
        .item-content {
          height: 200px;
          min-height: 200px;
        }
      }

      &.item-size-md {
        width: 50%;
        .item-content {
          height: 250px;
        }
      }

      &.item-size-lg {
        width: 100%;
        .item-content {
          height: 350px;
        }
      }
    }//item



            @media only screen and (max-width: 1150px) {

                .item {
                  width: 50%;
                  .item-content {
                    height: 220px;
                  }

                  &.item-size-md {
                    width: 50%;
                    .item-content {
                      height: 220px;
                    }
                  }
                  &.item-size-lg {
                    width: 100%;
                    .item-content {
                      height: 350px;
                    }
                  }
                }


            } // rwd

            @media only screen and (max-width: 900px) {

                .item {
                  width: 100%;

                  .item-content {
                    height: 300px;
                  }

                  &.item-size-md {
                    width: 100%;

                    .item-content {
                      height: 300px;
                    }

                  }
                  &.item-size-lg {
                    width: 100%;

                    .item-content {
                      height: 350px;
                    }
                  }
                }

            } // rwd

            @media only screen and (max-width: 767px) {

                .item {
                  width: 50%;
                  .item-content {
                    height: 250px;
                  }

                  &.item-size-md {
                    width: 50%;
                    .item-content {
                      height: 250px;
                    }

                  }
                  &.item-size-lg {
                    width: 100%;
                    .item-content {
                      height: 400px;
                    }

                  }
                }

            } // rwd

            @media only screen and (max-width: 530px) {

                .item {
                  width: 100%;

                  .item-content {
                    height: 280px;
                  }

                  &.item-size-lg,&.item-size-md {
                    width: 100%;
                    .item-content {
                      height: 280px;
                    }
                  }
                }

            } // rwd


  }//popup col







@media only screen and (max-width: 479px) {

  body {
    .popup-gallery {
      text-align: center;
    }
  }

} // rwd
