// BASIC



.masonry-css-grid {

    display: flex;
    flex-wrap: wrap;
    margin: 1vmin;

  .item {
    height: 30vh;
    flex-grow: 1;
    margin: 1vmin;
  }

  .item:last-child {
    // There's no science in using "10" here. In all my testing, this delivered the best results.
    flex-grow: 10;
  }

  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }


  &.size-sm {
    .item {
      height: 20vh;
    }
  }
  &.size-md {
    .item {
      height: 35vh;
    }
  }
  &.size-lg {
    .item {
      height: 60vh;
    }
  }


  @media (min-width: @site-width-1-bp) {
    margin: -.5vmin;
  }



  // ADVANCED

  // Portrait

  @media (max-aspect-ratio: 1/1) {
    .item {
      height: 30vh;
    }
  }

  // Short screens

  @media (max-height: 480px) {
    .item {
      height: 80vh;
    }
  }

  // Smaller screens in portrait

  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {

      flex-direction: row;

    .item {
      height: auto;
      width: 100%;
    }
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }


}
