
@masonry-border-width: 4px;

.full-width-1 {
  .masonry-grid-wrapper {
    padding: 0 @masonry-border-width;
  }
}

.full-width- {
  .masonry-grid-wrapper {
    padding: 0 (@masonry-border-width / 2);

      @media (min-width: @site-width-1-bp) {
        margin: auto -@masonry-border-width;
      }
  }
}


.masonry-grid {

  /* ---- grid-item ---- */

  .grid-sizer, .grid-item {
  //  margin: 0 1% 20px 1%;
    border: @masonry-border-width solid @colorw;
  }

  .gutter-sizer {

  }

  .grid-item {
    float: left;
  }

  &.size-sm {
    .grid-sizer, .grid-item {
//      width: 23%;
      width: 25%;
    }
  }
  &.size-md {
    .grid-sizer, .grid-item {
//      width: 31.3%;
      width: 33.33%;
    }
  }
  &.size-lg {
    .grid-sizer, .grid-item {
//      width: 48%;
      width: 50%;
    }
  }



  // rwd



  @media only screen and (max-width: 991px) {

    &.size-sm{
      .grid-sizer,
      .grid-item {
        width: 33.33%;
      }
    }
    &.size-md, &.size-lg {
      .grid-sizer,
      .grid-item {
        width: 50%;
      }
    }

  }//



  @media only screen and (max-width: 600px) {

    &.size-sm, &.size-md, &.size-lg {
      .grid-sizer,
      .grid-item {
        width: 100%;
      }
    }
  }


}//
