.modal-global-search {
  .modal-body {

    h4 {
      color: @colord;
    }

  }
}

.nav-search-button {
  background: none;
  border: none;
  color: @color1;
}

  .site-search-button {
    background: @color1;
    border: 1px solid @colorw;
    font-weight: 600;
    border-radius: 4px;
    color: @colorw;
    padding: 6px 15px;
  }


.site-search-top {
  float: right;
  min-width: 50%;
  max-width: 70%;
  .rwd-p((@site-width-1 - 1),767px,/**/28px,0,0,0,/**/28px,15px,0,0,/**/28px,0,0,0);
  position: relative;

      @media only screen and (max-width: 991px) {

        display: none;
        opacity: 0;

      }//rwd


  form {
    position: relative;
  }

  .btn-site-search {
    background: @color2;
    border: 1px solid @color2;
    color: @colorw;
    height: 40px;
    
    position: absolute;
    right: 0;
    top: 0;
    text-transform: uppercase;
    &:hover, &:active, &:focus {
      color: @colorw;
    }
  }

  input.search {
    height: 40px;
  }



}// site search top





.btn-site-search {
  background: @color2;
  border: 1px solid @color2;
  color: @colorw;
  position: relative;
  text-transform: uppercase;
  &:hover, &:active, &:focus {
    color: @colorw;
  }
}

.search-giant-bar {
  border: 1px solid @colord;
}



.site-search {
  padding: 5px;

  .input-text-wrap {
    position: relative;
    &:hover {
      .input-text {
        border-color: @colord;
      }
      button {
        background: @colord;
      }
    }
  }
  .input-text-wrap {
    margin: 40px 0;
    max-width: 100%;

  }
  .input-text {
    border: 2px solid @color1;
    border-right: 30px solid @color1;
    border-radius: 3px;
    color: @colord;
    padding: 10px;
    right: 0;

    display: block;
      height: 50px;
      width: 100%;
  }

/*
  button {
    background: @color1;
    border: none;
    border-radius: 3px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    i {
      color: #fff
    }
    &:hover {
      background: @colord;
    }
  }
*/

  &.results-search-box {
    .input-text-wrap {
      margin: 10px 0;
      max-width: 80%;
    }

  }

}




.site-search-results {
//  .rwd-p(1300px,40px,40px,80px,40px,40px,20px,80px,20px);
  .results-found {
    padding: 20px 0;
  }
  .item {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding: 0 0 20px;
    a {

      .title {
        color: @color2;
        font-size: @fsb * 1.4;
        margin: 0 0 3px;
      }

      &:hover {
        text-decoration: none;
        .title {
          color: @color1;
        }
        code {
          color: #444;
        }
        .summary {
          color: #444;
        }

      }




    }

    .summary {
      color: #888;
      display: block;

      h1,h2,h3,h4,h5,p,strong {
        color: #888;
        display: inline;
        font-size: @fsb * 1.1;
        font-weight: 400;
      }
    }
  }
}





@media only screen and (max-width: @site-width-1-bp) {

.btn-site-search {

}



}  // rwd



@media only screen and (max-width: 991px) {

.btn-site-search {
  margin-top: 20px;
}


// end
} // end max width 979



@media only screen and (max-width: 767px) {



} // RWD
