

.slider {
  position: relative;

  .carousel {
    &:focus, &:active {
      outline: none;
      border: none;
    }
  }

  .carousel-inner {
    &:focus, &:active {
      outline: none;
      border: none;
    }
  }

  .carousel-indicators {
    bottom: 10px;
    left: 20px;
    top: auto;
    margin: 0;
    width: auto;
    z-index: 200;
    li {
      background: @colorw;
      border: 1px solid #000;

      &:focus, &:active {
        outline: none;
        border: none;
      }
    }
    &:focus, &:active {
      outline: none;
      border: none;
    }
  }
  .slider-controls {
    background: @color1;
    border-radius: 200px;
    color: @colord;
    height: 40px;
    padding-top: 8px;
    position: absolute;
    text-align: center;
    width: 40px;
    .vtop;

    &.left {
      left: -10px;
      padding-right: 2px;
    }
    &.right {
      padding-left: 4px;
      right: -10px;
    }

    &:focus, &:active {
      outline: none;
      border: none;
    }
  }


  .carousel-control {
    opacity: 0.1;
    .transition(.5s all);

    width: 5%;

    &:hover {
      opacity: 0.5;
    }
  }

  .slider-control-btn {
    font-size: @fsb * 0.95;
    position: absolute;
    .vtop;

    &.control-left {
      left: 20px;
    }
    &.control-right {
      right: 20px;
    }
  }

        @media only screen and (max-width: 767px) {

          .carousel-control {
            width: 15px;
          }

          .slider-control-btn {
            font-size: @fsb * 0.8;

            &.control-left {
              left: 10px;
            }
            &.control-right {
              right: 10px;
            }
          }
        }

}


// slider core

.slider-gallery {
  .slider-size {
    .rwd-height(@screen-sm-max,767px,300px,300px,250px);
    &.size-lg {
      .rwd-height(@screen-sm-max,767px,550px,350px,250px);
    }
  }
}



.slider-gallery-col {
  .slider-size {
    height: 350px;
    &.size-lg {
      height: 450px;
    }

        @media only screen and (max-width: 1250px) {
          &.size-lg {
            height: 350px;
          }
        }//rwd

        @media only screen and (max-width: 991px) {
          height: 300px;
          &.size-lg {
            height: 330px;
          }
        }//rwd

        @media only screen and (max-width: 767px) {
          height: 330px;
          &.size-lg {
            height: 450px;
          }
        }//rwd

        @media only screen and (max-width: 550px) {
          &.size-lg {
            height: 300px;
          }
        }//rwd
  }
}





.slider-page {
  .slider-size {
    .rwd-height(@screen-sm-max,767px,300px,200px,200px);
  }

  &.size-sm {
    .slider-size {
      .rwd-height(@screen-sm-max,767px,200px,150px,150px);
    }
  }
  &.size-md {
    .slider-size {
      .rwd-height(@screen-sm-max,767px,300px,200px,200px);
    }
  }
  &.size-lg {
    .slider-size {
      .rwd-height(@screen-sm-max,767px,370px,250px,200px);
    }
  }

  } //slider




// slider specific

.slider-page {
  .item {
    .content {

      .page-heading {

      }
    }
  }

  } //slider
