<br>
<label class="">{{ if address_text }}{{ address_text }}{{ else }}Address{{ /if }}</label>
{{ if is_required }}
<span class="is-required">(All address fields are required except Building Name)</span>
{{ /if }}
<hr class="address-label-hr">
{{ partial:custom-form/blocks/instructions }}
<div class="form-group">
    <label class="smaller">Building / Property Name</label>
  <input type="text" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}_building{{ if fieldset_duplicate:0 }}_0{{ /if }}" value="" class="form-control">
</div>
<div class="form-group">
    <label class="smaller">Street / Road Name and Number</label>
  <input type="text" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}_street{{ if fieldset_duplicate:0 }}_0{{ /if }}" value="" class="form-control" {{ if is_required }} data-required="true" required{{ /if }}>
</div>
<div class="form-group">
  <label class="smaller">Town / City</label>
  <input type="text" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}_town{{ if fieldset_duplicate:0 }}_0{{ /if }}" value="" class="form-control" {{ if is_required }} data-required="true" required{{ /if }}>
</div>
<div class="row">
<div class="col-md-6">
  <div class="form-group">
    <label class="smaller">State / Locality / County</label>
    <input type="text" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}_state{{ if fieldset_duplicate:0 }}_0{{ /if }}" value="" class="form-control" {{ if is_required }} data-required="true" required{{ /if }}>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label class="smaller">Postcode / Zip</label>
    <input type="text" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}_postcode{{ if fieldset_duplicate:0 }}_0{{ /if }}" value="" class="form-control" {{ if is_required }} data-required="true" required{{ /if }}>
  </div>
</div>
</div>
<label class="smaller" for="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name }}_country{{ if fieldset_duplicate:0 }}_0{{ /if }}">Country</label>
<select id="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name }}_country{{ if fieldset_duplicate:0 }}_0{{ /if }}" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}_country{{ if fieldset_duplicate:0 }}_0{{ /if }}" class="form-control">
  <option value="" {{ if country_preselect == "Please Select" }}selected="selected"{{ /if }}>Please Select</option>
  {{ gvcustomform:cf_countries }}
    <option value="{{ value }}"  {{ if country_preselect == value }}selected="selected"{{ /if }}>{{ value }}</option>
  {{ /gvcustomform:cf_countries }}
</select> <br>
