<div class="site-width-centered page-content-padding">
{{ break }}
<div class="break-set clearfix">
  <div class="item" style="margin-top:{{ above }}px;padding-bottom:{{ below }}px;{{ if border }}border-top:2px dashed #ccc; {{ if border_width }}width:{{ border_width }}%{{ /if }}{{ /if }}"></div>
</div>
{{ /break }}
</div>
