{{ if image }}
<div class="info-set kind-{{ kind }}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        {{ if kind == "warning" }} <span class="icon"><i class="fa fa-warning"></i></span>{{ /if }}
        {{ info | markdown }}
      </div>
      <div class="col-md-5">
        <img class="img-responsive" src='{{ glide:image format="" width="700" height="500" fit="" }}' alt="" />
      </div>
    </div>
  </div>
</div>
{{ else }}
<div class="info-set kind-{{ kind }}">
  {{ if kind == "warning" }} <span class="icon"><i class="fa fa-warning"></i></span>{{ /if }}
  {{ info | markdown }}
</div>
{{ /if }}
