<label for="">{{ field_label }}</label>
{{ if is_required }}
<span class="is-required">(Required)</span>
{{ /if }}
{{ partial:custom-form/blocks/instructions }}

{{ if kind == "text" }}
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label class="smaller">Day (DD)</label>
      <input type="text" maxlength="2" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}_day{{ if fieldset_duplicate:0 }}_0{{ /if }}" value="" class="form-control" {{ if is_required }} data-required="true" required{{ /if }}>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="smaller">Month (MM)</label>
      <input type="text" maxlength="2" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}_month{{ if fieldset_duplicate:0 }}_0{{ /if }}" value="" class="form-control" {{ if is_required }} data-required="true" required{{ /if }}>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="smaller">Year (YYYY)</label>
      <input type="text" maxlength="4" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}_year{{ if fieldset_duplicate:0 }}_0{{ /if }}" value="" class="form-control" {{ if is_required }} data-required="true" required{{ /if }}>
    </div>
  </div>
</div>
{{ else }}

<div class="form-group">
  <label class="smaller">Select Date</label>
  <input type="date" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" value="" class="form-control" {{ if is_required }} data-required="true" required{{ /if }}>
</div>

{{ /if }}
