
{{ if type == "text_set" }}
{{ partial:custom-form/blocks/text }}

{{ else }}

<div class="col-md-12">
  {{ if type == "textarea_set" }}
  {{ partial:custom-form/blocks/textarea }}

  {{ elseif type == "hidden_textarea_set" }}
  {{ partial:custom-form/blocks/hidden }}

  {{ elseif type == "selectable_set" }}
    <div class="selectable-set">
  {{ partial:custom-form/blocks/selectable var_type="{options_type}" }}
    </div>

  {{ elseif type == "payment_single_set" && cf_payment_type != 'subs' }}
    <div class="payment-option-set payment-set">
  {{ partial:custom-form/blocks/payment-single }}
    </div>

  {{ elseif type == "payment_multiple_set" && cf_payment_type != 'subs' }}
    <div class="payment-multiple-set payment-set">
  {{ partial:custom-form/blocks/payment-multiple }}
    </div>

  {{ elseif type == "date_set" }}
  {{ partial:custom-form/blocks/date }}

  {{ elseif type == "address_set" }}
  {{ partial:custom-form/blocks/address }}

  {{ elseif type == "upload_set" }}
  {{ partial:custom-form/blocks/upload }}

  {{ elseif type == "info_set" }}
  {{ partial:custom-form/blocks/content }}

  {{ elseif type == "break_set" }}
  {{ partial:custom-form/blocks/break }}

  {{ /if }}
</div>

{{ /if }}
