
<div class="reveal-field hidden-textarea clearfix">
  <label>{{ field_label }} {{ if is_required }} <span class="is-required">(Required)</span>{{ /if }}</label> <br>
  {{ partial:custom-form/blocks/instructions }}
  <input class="do-reveal" type="radio" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}_question" data-hidden-toggle="Yes" value="Yes" {{ if field_hidden_default == "show" }}checked{{ /if }}>
  <label for="">Yes</label>
  &nbsp;&nbsp;&nbsp;
  <input class="" type="radio" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}_question" value="No" data-hidden-toggle="No" {{ if field_hidden_default != "show" }}checked{{ /if }}>
  <label for="">No</label>
  <div class="reveal-if-active">

    <div class="form-group no-border">
      <label class="smaller">{{ field_text }}</label>
      <textarea class="form-control" autocomplete="off" rows="5" value="" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" id="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}"{{ if is_required }} data-required="true" required{{ /if }}></textarea>
    </div>

  </div>
</div>
