{{ field_instructions }}
{{ if info }}
<div class="field-instructions kind-{{ kind }}">
  <div class="field-instructions-normal">
    {{ if kind == "warning" }} <span class="icon"><i class="fa fa-warning"></i></span>{{ /if }}
    {{ info | markdown }}
  </div>
</div>
{{ /if }}
{{ /field_instructions }}

{{ field_detail_instructions }}
{{ if info }}
<div class="field-instructions field-instructions-detail kind-{{ kind }}">
  <button class="btn btn-instructions-detail" type="button" data-toggle="collapse" data-target="#{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name }}_instructions_detail{{ if fieldset_duplicate:0 }}_0{{ /if }}" aria-expanded="false" aria-controls="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name }}_instructions_detail{{ if fieldset_duplicate:0 }}_0{{ /if }}">
    {{ if kind == "warning" OR kind == "highlight" }} <span class="icon"><i class="fa fa-warning"></i></span>{{ /if }}
    Read Detailed Instructions &nbsp;<i class="fa fa-angle-down"></i>
  </button>
  <div class="collapse" id="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name }}_instructions_detail{{ if fieldset_duplicate:0 }}_0{{ /if }}">
    <div class="content">
      {{ if kind == "warning" }} <span class="icon"><i class="fa fa-warning"></i></span>{{ /if }}
      {{ info | markdown }}
      <span class="close" data-toggle="collapse" data-target="#{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name }}_instructions_detail{{ if fieldset_duplicate:0 }}_0{{ /if }}"> <i class="fa fa-times"></i> </span>
      <div class="arrow"></div>
    </div>
  </div>
</div>
{{ /if }}
{{ /field_detail_instructions }}
