{{ if options_type == "text_field" }}

<div class="{{ options_type }}-wrapper purchase-single purchase-custom-text">
  <label>{{ field_label }} {{ if is_required }} <span class="is-required">(Required)</span>{{ /if }}</label>
{{ partial:custom-form/blocks/instructions }}
  <small>(Enter amount in decimals e.g. 20.00 = {{ partial:custom-form/currency-symbol }}20)</small> <br>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">{{ partial:custom-form/currency-symbol }}</div>
      <input type="number" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" placeholder="Custom Amount" class="form-control add-price" data-summary="true" data-label="{{ field_label }}" min="0" {{ if is_required }} data-required="true" required{{ /if }}>
    </div>
  </div>
</div>

{{ elseif options_type == "preset" }}

<div class="preset-wrapper purchase-single purchase-custom-text">
  <label>{{ field_label }} </label>
{{ partial:custom-form/blocks/instructions }}
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">{{ partial:custom-form/currency-symbol }}</div>
      <input type="text" readonly value="{{ preset_value }}" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" class="form-control add-price" data-summary="true" data-label="{{ preset_value_name }}" min="0" required>
    </div>
  </div>
</div>

{{ else }}
<div class="{{ options_type }}-wrapper purchase-single" {{ if options_type == "checkbox" }}data-field="{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name }}{{ if fieldset_duplicate:0 }}_0{{ /if }}"{{ if is_required }} data-required="true"{{ /if }}{{ /if }}>
  <label>{{ field_label }} {{ if is_required }} <span class="is-required">(Required)</span>{{ /if }}</label>
{{ partial:custom-form/blocks/instructions }}

  {{ field_options }}
  {{ if type == "options_set" }}

    {{ if price_inv == "0" }}
    <div class="price-unavailable">
      <span class="psuedo">
        <label for=""><span class="show-unavailable"><i class="fa fa-ban"></i> Unavailable -</span> {{ option_text }} <span class="option-price">{{ if is_free }}FREE{{ else }}{{ partial:custom-form/currency-symbol }}{{ add_price }}{{ /if }}</span>{{ if show_inv }} <span class="option-inv">{{ price_inv }} Available</span> {{ /if }} {{ if option_instructions }}<small class="option-instructions">{{ option_instructions }}</small>{{ /if }}</label>
      </span>
    </div>
    {{ else }}
      {{ unless hide_option }}
      <div class="{{ options_type }} has-price">
        <label>
          <input class="add-price {{ if options_type == 'checkbox' }}{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name }}{{ if fieldset_duplicate:0 }}_0{{ /if }}-group{{ /if }}" type="{{ options_type }}" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}{{ if options_type == 'checkbox' }}_{{ option_value | underscored }}{{ /if }}" value="{{ option_value }}" {{ if !is_free }}data-price="{{ add_price }}"{{ /if }} {{ if add_price > 0 OR is_free }}data-summary="true"{{ /if }} data-label="{{ field_label }} - {{ option_value }}" {{ if is_checked }}checked {{ /if }} {{ if options_type == "radio" AND is_required }} data-required="true" required {{ /if }}>
          {{ option_text }} {{ if is_free }}<span class="option-price">FREE</span>{{ elseif add_price > 0 }}<span class="option-price">{{ partial:custom-form/currency-symbol }}{{ add_price }}</span>{{ /if }} {{ if show_inv }} <span class="option-inv">{{ price_inv }} Available</span> {{ /if }} {{ if option_instructions }}<small class="option-instructions">{{ option_instructions }}</small>{{ /if }}
        </label>
      </div>
      {{ /if }}
    {{ /if }}

  {{ elseif type == "options_other_set" }}

    <div class="option-other-wrapper reveal-field">

      <div class="{{ options_type }} option-other">
        <input class="add-price {{ if options_type == 'checkbox' }}{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name }}{{ if fieldset_duplicate:0 }}_0{{ /if }}-group{{ /if }} do-reveal" type="{{ options_type }}" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}{{ if options_type == 'checkbox' }}_other{{ /if }}" id="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}{{ if options_type == 'checkbox' }}_other{{ /if }}" data-hidden-toggle="Yes" value="{{ if options_type == 'checkbox' }}Selected{{ else }}Other{{ /if }}" data-price="{{ add_price }}" data-summary="true" data-label="{{ field_label }}" {{ if is_checked }}checked {{ /if }} data-other-required="true" {{ if options_type == "radio" AND is_required }} data-required="true" required {{ /if }}>
        <label for="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}{{ if options_type == 'checkbox' }}_other{{ /if }}">{{ option_text }} {{ if option_other_instructions }}<small class="option-instructions">{{ option_other_instructions }}</small>{{ /if }}</label>

        <div class="reveal-if-active">
          <div class="option-other-fields container-fluid">
            <div class="row">
              <div class="col-md-6">
                <small>&nbsp;</small>
                <div class="form-group">
                  <input type="text" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}_other_value" placeholder="Other Description" class="form-control" data-other-required-input="true" {{ if options_type == "radio" AND is_required }} data-required="true" required{{ /if }}>
                </div>
              </div>
              <div class="col-md-6">
                <small>(Enter amount in decimals e.g. 20.00 = {{ partial:custom-form/currency-symbol }}20)</small>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">{{ partial:custom-form/currency-symbol }}</div>
                    <input type="number" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}_other_amount" min="0" placeholder="Other Amount" class="form-control add-price" data-summary="true" data-other-required-input="true" {{ if options_type == "radio" AND is_required }} data-required="true" required{{ /if }}>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>

  {{ /if }}
  {{ /field_options }}
</div>
{{ /if }}
