<div class="purchase-multiple-wrapper">
  <label>{{ field_label }} {{ if is_required }} <span class="is-required">(Required)</span>{{ /if }}</label>
{{ partial:custom-form/blocks/instructions }}

  {{ if price_inv == "0" }}
  <span class="radio has-price price-unavailable">
    <label for=""><span class="show-unavailable"><i class="fa fa-ban"></i> Unavailable -</span> {{ option_text }} <span class="option-price">{{ if is_free }}FREE{{ else }}{{ partial:custom-form/currency-symbol }}{{ add_price }}{{ /if }}</span> {{ if option_instructions }}<small class="option-instructions">{{ option_instructions }}</small>{{ /if }}</label>
  </span>
  {{ else }}
  <div class="purchase-multiple has-price">

    <div class="quantity-wrap clearfix">
      <div class="form-group">
        <span class="btn btn-quantity btn-minus">-</span>
        <input type="number" class="form-control purchase-quantity add-price-qty" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}_qty{{ if fieldset_duplicate:0 }}_0{{ /if }}" value="0" step="1" pattern="[0-9]*" min="" {{ if max_quantity != '' }}max="{{ max_quantity }}"{{ /if }}>
        <span class="btn btn-quantity btn-plus">+</span>
      </div>
    </div>

    <input class="add-price" type="hidden" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" value="" data-price="{{ add_price }}" data-summary="true" data-label="{{ field_label }}" {{ if is_required }} data-required="true" required {{ /if }}>
    {{ option_text }} <span class="option-price">X {{ partial:custom-form/currency-symbol }}{{ add_price }} = {{ partial:custom-form/currency-symbol }}<span class="multiple-total"></span> </span> {{ if show_inv }} <span class="option-inv">{{ price_inv }} Available</span> {{ /if }} {{ if option_instructions }} <small class="option-instructions">{{ option_instructions }}</small>{{ /if }}

  </div>
  {{ /if }}
</div>
