<div class="{{ options_type }}-wrapper">
  <label>{{ field_label }} {{ if is_required }} <span class="is-required">(Required)</span>{{ /if }}</label>
{{ partial:custom-form/blocks/instructions }}

  {{ field_options }}
  {{ if type == "options_set" }}
    {{ unless hide_option }}
    <div class="{{ options_type }}">
      <label>
        <input class="" type="{{ options_type }}" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" value="{{ option_value }}" {{ if is_checked }}checked {{ /if }} {{ if is_required }} data-required="true" required {{ /if }}>
        {{ option_text }} {{ if option_instructions }}<small class="option-instructions">{{ option_instructions }}</small>{{ /if }}
      </label>
    </div>
    {{ /if }}

  {{ elseif type == "options_other_set" }}
    {{ unless hide_option }}
    <div class="option-other-wrapper reveal-field">
      <div class="{{ options_type }} option-other">
        <input class="do-reveal" id="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" type="{{ options_type }}" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" data-hidden-toggle="Yes" value="Other" {{ if is_checked }}checked {{ /if }} data-other-required="true" {{ if is_required }} data-required="true" required {{ /if }}>
        <label for="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}">{{ option_text }} {{ if option_other_instructions }}<small class="option-instructions">({{ option_other_instructions }})</small>{{ /if }}</label>
        <div class="reveal-if-active">
          <div class="form-group option-other-fields">
            <input type="text" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}_other_value" value="" placeholder="Enter custom details" class="form-control" data-other-required-input="true" {{ if is_required }} data-required="true" required{{ /if }}>
          </div>
        </div>
      </div>
    </div>
    {{ /if }}
  {{ /if }}
  {{ /field_options }}
</div>
