<label>{{ field_label }} {{ if is_required }} <span class="is-required">(Required)</span>{{ /if }}</label>
{{ partial:custom-form/blocks/instructions }}
<div class="select-wrapper {{ field_options }}{{ if type =='options_other_set' }}option-other-wrapper{{ /if }}{{ /field_options }}">
  <select class="form-control {{ field_options }}{{ if type =='options_other_set' }}reveal-select{{ /if }}{{ /field_options }}" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" {{ if is_required }} data-required="true" required {{ field_options }}{{ if type =='options_other_set' }}data-other-required="true"{{ /if }}{{ /field_options }}{{ /if }}>
    <option value="">Choose an option...</option>
    {{ field_options }}
    {{ if type == "options_set" }}
      {{ unless hide_option }}
      <option value="{{ option_value }}"{{ if is_checked }} selected{{ /if }}>{{ option_text }} {{ if option_instructions }}<small class="option-instructions">{{ option_instructions }}</small>{{ /if }}</option>
      {{ /if }}
    {{ elseif type == "options_other_set" }}
    <option class="select-reveal" id="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" value="Other"{{ if is_checked }} selected{{ /if }}>{{ option_text }} {{ if option_other_instructions }}<small class="option-instructions">{{ option_other_instructions }}</small>{{ /if }}</option>
    {{ /if }}
    {{ /field_options }}
  </select>
  {{ field_options }}
    {{ if type == "options_other_set" }}
  <div class="reveal-if-selected hide" id="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}_other_value">
    <div class="form-group option-other-fields">
      <input type="text" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}_other_value" value="" placeholder="Enter custom details" class="form-control" data-other-required-input="true" {{ if is_required }} data-required="true" required{{ /if }}>
    </div>
  </div>
    {{ /if }}
  {{ /field_options }}
</div>
