<div class="payment-option-set payment-set">
  <div class="radio-wrapper">
    <label>{{ cf_subscription_heading }} <span class="is-required">(Required)</span></label>
{{ if cf_payment_optional }}
      <div class="radio">
        <label>
          <input class="" name="cf_subscription_quantity" value="0" data-required="true" required="" type="radio">
          No Donation
        </label>
      </div>
{{ /if }}

{{ if cf_subscription_quantities }}
{{ cf_subscription_quantities }}
    <div class="radio">
      <label>
        <input class="" name="cf_subscription_quantity" value="{{ value }}" data-required="true" required="" type="radio">
        {{ plan_name }} <span class="option-price">{{ partial:custom-form/currency-symbol }}{{ cf_subscription_ids:0:price | *:value }} </span> {{ if show_inv }} <span class="option-inv">{{ price_inv }} Available</span> {{ /if }} {{ if desc }}<small class="option-instructions">{{ desc }}</small>{{ /if }}
      </label>
    </div>
{{ /cf_subscription_quantities }}
{{ /if }}

  {{ if cf_subscription_other }}

    <div class="option-other-wrapper subscription-other reveal-field">
      <div class="radio option-other">
        <input class="do-reveal" id="subscription_quantity_other" name="cf_subscription_quantity" data-hidden-toggle="Yes" value="Other" data-other-required="true" data-required="true" required="" type="radio">
        <label for="subscription_quantity_other">Other</label>
        <div class="reveal-if-active">
          <div class="form-group option-other-fields">
            <small>(Enter amount in decimals e.g. 20.00 = {{ partial:custom-form/currency-symbol }}20)</small>
            <div class="input-group">
              <div class="input-group-addon">{{ partial:custom-form/currency-symbol }}</div>
              <input name="cf_subscription_quantity_custom" value="" placeholder="Enter custom details" class="form-control" data-other-required-input="true" data-required="true" type="number" min="{{ cf_subscription_ids:0 }}{{ price }}{{ /cf_subscription_ids:0 }}" step="{{ cf_subscription_ids:0 }}{{ price }}{{ /cf_subscription_ids:0 }}">
            </div>
          </div>
        </div>
      </div>
  </div>
  {{ /if }}
  </div>
</div>

<div class="selectable-set">
  <label>Please select your desired frequency of this recurring payment</label>
  <div class="select-wrapper">
    <select class="form-control" name="cf_subscription_id">
{{ cf_subscription_ids }}
      <option value="{{ plan }}" data-price="{{ price }}">{{ frequency_name }}</option>
{{ /cf_subscription_ids }}
    </select>
  </div>
</div>
