  <input type="hidden" name="cf_subscription_quantity" value="1">
{{ if (cf_subscription_ids|length) == 1 }}
  The price of this subscription is {{ partial:custom-form/currency-symbol }}{{ cf_subscription_ids:0 }}{{ price }} and it is billed {{ frequency_name }}{{ /cf_subscription_ids:0 }}.<br>
  <input type="hidden" name="cf_subscription_id" {{ cf_subscription_ids:0 }}value="{{ plan }}" data-price="{{ price }}"{{ /cf_subscription_ids:0 }}>
{{ else }}
  <div class="payment-option-set payment-set">
    <div class="radio-wrapper purchase-single">
    <label>{{ cf_subscription_heading }} <span class="is-required">(Required)</span></label>
    {{ cf_subscription_ids }}
    <div class="radio">
      <label>
      <input type="radio" name="cf_subscription_id" value="{{ plan }}" data-price="{{ price }}">
      {{ plan_name }} <span class="option-price">{{ partial:custom-form/currency-symbol }}{{ price }} {{ frequency_name }}</span> {{ if show_inv }} <span class="option-inv">{{ price_inv }} Available</span> {{ /if }} {{ if desc }}<small class="option-instructions">{{ desc }}</small>{{ /if }}
      </label>
    </div>
    {{ /cf_subscription_ids }}
    </div>
  </div>
{{ /if }}
