<div class="{{ if show_columns }}{{ show_columns }}{{ else }}col-md-12{{ /if }} cf-block-column">
{{ if is_hidden }}
  <input type="hidden" value="{{ readonly_fieldvalue }}" readonly name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" class="form-control" id="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}">
{{ else }}
  <div class="form-group">
    <label>{{ field_label }} {{ if is_required }} <span class="is-required">(Required{{ if required_option == "url" }} - format must be http://example.com{{ elseif required_option == "number" }} - only numbers can be input{{ /if }})</span>{{ /if }}</label>
{{ partial:custom-form/blocks/instructions }}
  {{ if is_readonly }}
    <input type="text" value="{{ readonly_fieldvalue }}" readonly name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" class="form-control" id="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}">
  {{ else }}
    <input {{ if required_option != "none" }}type="{{ required_option }}"{{ else }}type="text"{{ /if }} name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" class="form-control" id="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" {{ if match_field }}equalTo="#{{ match_field }}"{{ /if }} {{ if is_required }} data-required="true" required{{ /if }} {{ partial:custom-form/name-email-prefill }}>
  {{ /if }}
  </div>
{{ /if }}
</div>