<div class="form-group">
  <label>{{ field_label }} {{if is_required }} <span class="is-required">(Required)</span>{{ /if }}</label>
  {{ partial:custom-form/blocks/instructions }}
  <textarea class="form-control" autocomplete="off" rows="5"
    name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}"
    id="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}"
    {{ if is_required }} data-required="true" required{{ /if }}></textarea>
</div>