<div class="upload-set">
  <div class="content">
    <label>{{ field_label }} {{if is_required }} <span class="is-required">(Required)</span>{{ /if }}</label>
{{ partial:custom-form/blocks/instructions }}
  <span class="divider"></span>
    <label class="file-upload" for="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}">
        <input id="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" name="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}" type="file" data-form-no-save="true" style="display:none"
        onchange="$('#{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}_display').html(this.files[0].name)">
        <span class="btn">Choose File</span>
    </label>
    <span class='label label-info' id="{{ if cf_page_duplicate:0 }}{{ cf_page_duplicate:0:name }}0_{{ /if }}{{ if fieldset_duplicate:0 }}{{ fieldset_duplicate:0:name }}_{{ /if }}{{ field_name | underscored }}{{ if fieldset_duplicate:0 }}_0{{ /if }}_display"></span>

  </div>
</div>
