<div class="block-hero-wrapper" {{ if jump }} id="{{ jump }}" {{ /if }}>
  <div class="block-hero style-image orient-{{ orient }} size-{{ size }} {{ unless kind =="none" }}kind-{{ kind }}{{ /if }} padding-{{ default_padding }} hide-image-{{ hide_image }} mobile-align-{{ mobile_align }} v-align-cols container-fluid">
    <div class="swc">
      <div class="row{{ if vertical_align }} is-col-row{{ /if }}">
      {{ if orient == "left" }}
        {{ if reverse_columns }}
        <div class="col-item col-image {{ if size =="md" }}col-md-6 col-md-push-6{{ elseif size=="sm" }}col-md-5 col-md-push-7{{ elseif size=="xs" }}col-md-3 col-md-push-9{{ else }}col-md-7 col-md-push-5{{ /if }}">
        {{ else }}
        <div class="col-item col-image {{ if size =="md" }}col-md-6{{ elseif size=="sm" }}col-md-5{{ elseif size=="xs" }}col-md-3{{ else
          }}col-md-7{{ /if }}">
        {{ /if  }}
  {{ partial:content-blocks/blocks/hero/hero-col-image }}
        </div>
        {{ if reverse_columns }}
        <div class="col-item {{ if size =="md" }}col-md-6 col-md-pull-6{{ elseif size=="sm" }}col-md-7 col-md-pull-5{{ elseif size=="xs" }}col-md-9 col-md-pull-3{{ else }}col-md-5 col-md-pull-7{{ /if }}">
        {{ else }}
        <div class="col-item {{ if size =="md" }}col-md-6{{ elseif size=="sm" }}col-md-7{{ elseif size=="xs" }}col-md-9{{ else }}col-md-5{{ /if }}">
        {{ /if }}
  {{ partial:content-blocks/blocks/hero/hero-col-content }}
        </div>
      {{ else }}
        <div class="col-item {{ if size =="md" }}col-md-6{{ elseif size=="sm" }}col-md-7{{ elseif size=="xs" }}col-md-9{{ else }}col-md-5{{ /if }}">
  {{ partial:content-blocks/blocks/hero/hero-col-content }}
        </div>
        <div class="col-item col-image {{ if size =="md" }}col-md-6{{ elseif size=="sm" }}col-md-5{{ elseif size=="xs" }}col-md-3{{ else }}col-md-7{{ /if }}">
  {{ partial:content-blocks/blocks/hero/hero-col-image }}
        </div>
      {{ /if }}
      </div>
      {{ if link }}
      <a href="{{ link }}" class="overlay-link"></a>
      {{ /if }}
    </div>
  </div>
</div>