<div class="container-fluid container-cb block-cols">
  <div class="row">
    {{ col_sets }}
    <div class="{{ if total_results > 1 }}col-xs-6 col-sm-12 col-md-6{{ else }}col-md-8{{ /if }} col-item">
      <div class="col-content">
        {{ if type == "column_set" }}
        {{ partial:content-blocks/blocks/text }}
        {{ /if }}
      </div>
    </div>
    {{ /col_sets }}
  </div>
</div>