<div class="content">
  <div class="hero-sets">
    {{ hero_sets }}
    {{ if type == "hero_text_set" }}
    {{ partial:content-blocks/blocks/text var_nopt="true" }}
    {{ elseif type == "hero_button_set" }}
    {{ partial:content-blocks/blocks/button }}
    {{ elseif type == "hero_col_set" }}
    {{ partial:content-blocks/blocks/hero/hero-content-cols }}
    {{ elseif type == "hero_accordion_set" }}
    {{ partial:content-blocks/blocks/accordion var_cb_count="{index}" }}
    {{ elseif type == "hero_break_set" }}
    {{ partial:content-blocks/blocks/break }}
    {{ /if }}
    {{ /hero_sets }}
  </div>
</div>