{{ if hero_images | count > 1 and hero_run_slider}}
<div class="cb-hero-image-slider-wrapper image-mask-{{ image_mask }}">
  <div class="cb-hero-slider cb-hero-image-slider cb-hero-slider-set-{{ hero_slider_number }}">
    {{ hero_images }}
    <div class="hero-slider-set lazyload" style="background-image: url('{{ glide:img format="" width=" 1000"
      height="700" fit="{hero_image_crop}" }}')">
    </div>
    {{ /hero_images }}
  </div>
  {{ if show_arrow }}
  <div class="arrow"></div>
  {{ /if }}
</div>
{{ else }}
<div class="hero-image-images" {{ if hero_image_style }}style="{{ hero_image_style }}"{{ /if }}>
  {{ hero_images }}
  <img class="img-responsive image-mask-{{ image_mask }} lazyload" src='{{ glide:img width="300" height="300" pixelate="400" fit="crop_focal" }}'
    data-src='{{ glide:img width="900" height="900" fit="{hero_image_crop}" }}' />
  {{ /hero_images }}
</div>
{{ /if }}