
<div class="block-hero-wrapper"{{ if jump }} id="{{ jump }}"{{ /if }}>
  <div class="block-hero style-full orient-{{ orient }} size-{{ size }} mobile-size-{{ mobile_size }} kind-{{ kind }} hide-image-{{ hide_image }} padding-{{ default_padding }}  gradient-{{ bg_gradient }} clearfix">
    <div class="content{{ if not_full_width AND orient == 'right' }} swc{{ else }} full-width{{ /if }}">
      <div class="hero-sets">
        {{ hero_sets }}
          {{ if type == "hero_text_set" }}
            {{ partial:content-blocks/blocks/text var_nopt="true" }}
          {{ elseif type == "hero_button_set" }}
            {{ partial:content-blocks/blocks/button }}
          {{ elseif type == "hero_col_set" }}
            {{ partial:content-blocks/blocks/hero/hero-content-cols }}
          {{ elseif type == "hero_accordion_set" }}
            {{ partial:content-blocks/blocks/accordion var_cb_count="{index}" }}
          {{ elseif type == "hero_break_set" }}
            {{ partial:content-blocks/blocks/break }}
          {{ /if }}
        {{ /hero_sets }}
      </div>
    </div>

{{ if hero_images | count > 1 }}
  <div class="cb-hero-slider-wrapper">
    <div class="cb-hero-slider cb-hero-slider-set-{{ hero_slider_number }}">
  {{ hero_images }}
    <div class="hero-slider-set lazyload" 
    style="background-image: url('{{ glide:img format="" width="1000" height="700" fit="crop_focal" }}')">
    </div>
  {{ /hero_images }}
    </div>
    {{ if show_arrow }}
    <div class="arrow"></div>
    {{ /if }}
  </div>
  {{ else }}
  {{ hero_images }}
      {{ if size == "lg" }}
    <div class="image lazyload" 
      data-src="{{ glide:img format="" width='{{ if image_width }}{image_width}{{ else }}1100{{ /if }}' height='1100' fit='crop_focal' }}"
      style="background-image: url('{{ glide:img format="" width="1" height="1" fit="crop_focal" }}')">
      {{ if show_arrow }}
      <div class="arrow"></div>
      {{ /if }}
    </div>
      {{ elseif size == "md" }}
    <div class="image lazyload"
      data-src="{{ glide:img format="" width='{{ if image_width }}{image_width}{{ else }}800{{ /if }}' height='800' fit='crop_focal' }}"
      style="background-image: url('{{ glide:img format="" width="1" height="1" fit="crop_focal" }}')">
      {{ if show_arrow }}
      <div class="arrow"></div>
      {{ /if }}
    </div>
      {{ else }}
    <div class="image lazyload"
      data-src="{{ glide:img format="" width='{{ if image_width }}{image_width}{{ else }}650{{ /if }}' height='650' fit='crop_focal' }}"
      style="background-image: url('{{ glide:img format="" width="1" height="1" fit="crop_focal" }}')">
      {{ if show_arrow }}
      <div class="arrow"></div>
      {{ /if }}
    </div>
      {{ /if }}
  {{ /hero_images }}
{{ /if }}

    {{ if link }}
      <a href="{{ link }}" class="overlay-link"></a>
    {{ /if }}
  </div>
</div>