

.content-blocks {

    .bg-texture {
      background-position: left top;
      background-repeat: repeat;
      left: 0; 
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 8;//colour / image block :before is 5

      &.bg-texture-opacity-1 {
        opacity: .1
      }
      &.bg-texture-opacity-2 {
        opacity: .2
      }
      &.bg-texture-opacity-4 {
        opacity: .4
      }
      &.bg-texture-opacity-5 {
        opacity: .5
      }
      &.bg-texture-opacity-6 {
        opacity: .6
      }
      &.bg-texture-opacity-7 {
        opacity: .7
      }
      &.bg-texture-opacity-8 {
        opacity: .8
      }
      &.bg-texture-opacity-9 {
        opacity: .9
      }
      &.bg-texture-opacity-10, .bg-texture-opacity-full {
        opacity: 1
      }
      &.bg-texture-opacity-0, &.bg-texture-opacity-none {
        opacity: 0
      }

    }// texture 
}//cb 