

// block settings
.content-blocks {

  .block-set-wrapper {
    position: relative;
    z-index: 1;

    .block-set-bg {

      &:before {
        .overlay-base;
        opacity: .7;
        z-index: 5;
      }

// ==== margins

      &.bg-margin-,&.bg-margin-none {
        padding: 0;
        clear: both;
      }
      &.bg-margin-xs {
        padding: 30px 0;
      }
      &.bg-margin-sm {
        padding: 70px 0;
      }
      &.bg-margin-md {
        padding: 100px 0;
      }
      &.bg-margin-lg {
        padding: 200px 0;
      }
      &.bg-margin-xl {
        padding: 300px 0;
      }


      @media only screen and (max-width: 767px) {
            &.bg-margin-sm {
              padding: 40px 0;
            }
            &.bg-margin-md {
              padding: 60px 0;
            }
            &.bg-margin-lg {
              padding: 100px 0;
            }
            &.bg-margin-xl {
              padding: 130px 0;
            }
      }//rwd

      @media only screen and (max-width: 992px) {
            &.bg-margin-sm {
              padding: 60px 0;
            }
            &.bg-margin-md {
              padding: 80px 0;
            }
            &.bg-margin-lg {
              padding: 120px 0;
            }
            &.bg-margin-xl {
              padding: 160px 0;
            }
      }//rwd




    }//bg

  }//wrapper


  .block-sets {
    position: relative;
    z-index: 20;
  }




// video background

  .cb-video-background {
    background: #000;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
    width: 100%;
    height: 56.25vw;
    pointer-events: none;
    overflow: hidden;
    
    iframe {
      width: 100vw;
      height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      //height: 46.875vw;
      min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }
    .bg-image {
      background-position: center;
      background-size: cover;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    }

}//cb
