




// ##############################################################################
// ##############################################################################
// bg overlay

.content-blocks {
  .block-set-wrapper {

    .block-set-bg {
      position: relative;



    }//bg




  //===== CUSTOM COLOUR
    .block-set-bg-custom-color {
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 5;
    }




// ===== NORMAL COLOURS


    &.bg-color-white {
      .block-set-bg {
        color: @colord;
        &:before {
          background: @colorw;
        }
        ol, ul {
          &:not(.slick-dots) {
            li {
              &:before {
                color: @colord;
              }
            }
          }
        }//ul
        ul {
          &:not(.slick-dots) {
            li {
              &:before {
                background: @colord;
              }
              // ul indented
              ul {
                li {
                  &:before {
                    background: @colord;
                  }
                }
              }
            }
          }
        }//ul
      }// block set bg 
      &.gradient-1 {
        .block-set-bg {
          background: @colorw;
          .bg-gradient(fade(@colorw,35%),fade(@colorw,100%),none);
        }
      }
      &.has-bg-image {
        .block-set-bg {
          &:before {
            background: @colorw;
          }
        }
      }
    }//white

    &.bg-color-dark {
      .block-set-bg {
        color: @colord-text-color;
        &:before {
          background: @colord;
        }
        ol, ul {
          &:not(.slick-dots) {
            li {
              &:before {
                color: @colord-text-color;
              }
            }
          }
        }//ul
        ul {
          &:not(.slick-dots) {
            li {
              &:before {
                background: @colord-text-color;
              }
              // ul indented
              ul {
                li {
                  &:before {
                    background: @colord-text-color;
                  }
                }
              }
            }
          }
        }//ul
      }// block set bg 
      &.gradient-1 {
        .block-set-bg {
          background: @colord;
          .bg-gradient(fade(@colord,35%),fade(@colord,100%),none);
        }
      }
      &.has-bg-image {
        .block-set-bg {
          &:before {
            background: @colord;
          }
        }
      }
    }//dark

    &.bg-color-black {
      .block-set-bg {
        color: @colorw;
        &:before {
          background: @colorb;
        }
        ol, ul {
          &:not(.slick-dots) {
            li {
              &:before {
                color: @colorw;
              }
            }
          }
        }//ul
        ul {
          &:not(.slick-dots) {
            li {
              &:before {
                background: @colorw;
              }
              // ul indented
              ul {
                li {
                  &:before {
                    background: @colorw;
                  }
                }
              }
            }
          }
        }//ul
      }// block set bg 
      &.gradient-1 {
        .block-set-bg {
          background: @colorb;
          .bg-gradient(fade(@colorb,35%),fade(@colorb,100%),none);
        }
      }
      &.has-bg-image {
        .block-set-bg {
          &:before {
            background: @colorb;
          }
        }
      }
    }//black

    &.bg-color-grey {
      .block-set-bg {
        color: @colord;
        &:before {
          background: @colorg;
        }
        ol, ul {
          &:not(.slick-dots) {
            li {
              &:before {
                color: @colord;
              }
            }
          }
        }//ul
        ul {
          &:not(.slick-dots) {
            li {
              &:before {
                background: @colord;
              }
              // ul indented
              ul {
                li {
                  &:before {
                    background: @colord;
                  }
                }
              }
            }
          }
        }//ul
      }// block set bg 
      &.gradient-1 {
        .block-set-bg {
          background: @colorg;
          .bg-gradient(fade(@colorg,35%),fade(@colorg,100%),none);
        }
      }
      &.has-bg-image {
        .block-set-bg {
          &:before {
            background: @colorg;
          }
        }
      }
    }//grey

    &.bg-color-warning {
      .block-set-bg {
        color: @colorw;
        &:before {
          background: @color-error-dark;
        }
        ol, ul {
          &:not(.slick-dots) {
            li {
              &:before {
                color: @colorw;
              }
            }
          }
        }//ul
        ul {
          &:not(.slick-dots) {
            li {
              &:before {
                background: @colorw;
              }
              // ul indented
              ul {
                li {
                  &:before {
                    background: @colorw;
                  }
                }
              }
            }
          }
        }//ul
      }// block set bg 
      &.gradient-1 {
        .block-set-bg {
          background: @color-error-dark;
          .bg-gradient(fade(@color-error-dark,35%),fade(@color-error-dark,100%),none);
        }
      }
      &.has-bg-image {
        .block-set-bg {
          &:before {
            background: @color-error-dark;
          }
        }
      }
    }//warning

    &.bg-color-one {
      .block-set-bg {
        color: @color1-text-color;
        &:before {
          background: @color1;
        }
        ol, ul {
          &:not(.slick-dots) {
            li {
              &:before {
                color: @color1-text-color;
              }
            }
          }
        }//ul
        ul {
          &:not(.slick-dots) {
            li {
              &:before {
                background: @color1-text-color;
              }
              // ul indented
              ul {
                li {
                  &:before {
                    background: @color1-text-color;
                  }
                }
              }
            }
          }
        }//ul
      }// block set bg 
      &.gradient-1 {
        .block-set-bg {
          background-color: @color1;
          .bgg1-130;
        }
      }
      &.has-bg-image {
        .block-set-bg {
          &:before {
            background: @color1;
          }
        }
      }
    }//one

    &.bg-color-two {
      .block-set-bg {
        color: @color2-text-color;
        &:before {
          background: @color2;
        }
        ol, ul {
          &:not(.slick-dots) {
            li {
              &:before {
                color: @color2-text-color;
              }
            }
          }
        }//ul
        ul {
          &:not(.slick-dots) {
            li {
              &:before {
                background: @color2-text-color;
              }
              // ul indented
              ul {
                li {
                  &:before {
                    background: @color2-text-color;
                  }
                }
              }
            }
          }
        }//ul
      }// block set bg 
      &.gradient-1 {
        .block-set-bg {
          background-color: @color2;
          .bgg2-130;
        }
      }
      &.has-bg-image {
        .block-set-bg {
          &:before {
            background: @color2;
          }
        }
      }
    }//two

    &.bg-color-three {
      .block-set-bg {
        color: @color3-text-color;
        &:before {
          background: @color3;
        }
        ol, ul {
          &:not(.slick-dots) {
            li {
              &:before {
                color: @color3-text-color;
              }
            }
          }
        }//ul
        ul {
          &:not(.slick-dots) {
            li {
              &:before {
                background: @color3-text-color;
              }
              // ul indented
              ul {
                li {
                  &:before {
                    background: @color3-text-color;
                  }
                }
              }
            }
          }
        }//ul
      }// block set bg 
      &.gradient-1 {
        .block-set-bg {
          background-color: @color3;
          .bgg3-130;
        }
      }
      &.has-bg-image {
        .block-set-bg {
          &:before {
            background: @color3;
          }
        }
      }
    }//two
    
    &.bg-color-four {
      .block-set-bg {
        color: @color4-text-color;
        &:before {
          background: @color4;
        }
        ol, ul {
          &:not(.slick-dots) {
            li {
              &:before {
                color: @color4-text-color;
              }
            }
          }
        }//ul
        ul {
          &:not(.slick-dots) {
            li {
              &:before {
                background: @color4-text-color;
              }
              // ul indented
              ul {
                li {
                  &:before {
                    background: @color4-text-color;
                  }
                }
              }
            }
          }
        }//ul
      }// block set bg 
      &.gradient-1 {
        .block-set-bg {
          background: @color4;
          .bg-gradient(fade(@color4,35%),fade(@color4,100%),none);
        }
      }
      &.has-bg-image {
        .block-set-bg {
          &:before {
            background: @color4;
          }
        }
      }
    }//two    

    &.bg-color-onedark {
      .block-set-bg {
        color: @color1-text-color;
        &:before {
          background: @color1-dark;
        }
        ol, ul {
          &:not(.slick-dots) {
            li {
              &:before {
                color: @color1-text-color;
              }
            }
          }
        }//ul
        ul {
          &:not(.slick-dots) {
            li {
              &:before {
                background: @color1-text-color;
              }
              // ul indented
              ul {
                li {
                  &:before {
                    background: @color1-text-color;
                  }
                }
              }
            }
          }
        }//ul
      }// block set bg 
      &.gradient-1 {
        .block-set-bg {
          background: @color1-dark;
          .bg-gradient(fade(@color1-dark,35%),fade(@color1-dark,100%),none);
        }
      }
      &.has-bg-image {
        .block-set-bg {
          &:before {
            background: @color1-dark;
          }
        }
      }
    }//

    &.bg-color-twodark {
      .block-set-bg {
        color: @color2-text-color;
        &:before {
          background: @color2-dark;
        }
        ol, ul {
          &:not(.slick-dots) {
            li {
              &:before {
                color: @color2-text-color;
              }
            }
          }
        }//ul
        ul {
          &:not(.slick-dots) {
            li {
              &:before {
                background: @color2-text-color;
              }
              // ul indented
              ul {
                li {
                  &:before {
                    background: @color2-text-color;
                  }
                }
              }
            }
          }
        }//ul
      }// block set bg 
      &.gradient-1 {
        .block-set-bg {
          background: @color2-dark;
          .bg-gradient(fade(@color2-dark,35%),fade(@color2-dark,100%),none);
        }
      }
      &.has-bg-image {
        .block-set-bg {
          &:before {
            background: @color2-dark;
          }
        }
      }
    }//
    &.bg-color-onelight {
      .block-set-bg {
        color: @color1-text-color;
        &:before {
          background: @color1-light;
        }
        ol, ul {
          &:not(.slick-dots) {
            li {
              &:before {
                color: @color1-text-color;
              }
            }
          }
        }//ul
        ul {
          &:not(.slick-dots) {
            li {
              &:before {
                background: @color1-text-color;
              }
              // ul indented
              ul {
                li {
                  &:before {
                    background: @color1-text-color;
                  }
                }
              }
            }
          }
        }//ul
      }// block set bg 
      &.gradient-1 {
        .block-set-bg {
          background: @color1-light;
          .bg-gradient(fade(@color1-light,35%),fade(@color1-light,100%),none);
        }
      }
      &.has-bg-image {
        .block-set-bg {
          &:before {
            background: @color1-light;
          }
        }
      }
    }//

    &.bg-color-twolight {
      .block-set-bg {
        color: @color2-text-color;
        &:before {
          background: @color2-light;
        }
        ol, ul {
          &:not(.slick-dots) {
            li {
              &:before {
                color: @color1-text-color;
              }
            }
          }
        }//ul
        ul {
          &:not(.slick-dots) {
            li {
              &:before {
                background: @color1-text-color;
              }
              // ul indented
              ul {
                li {
                  &:before {
                    background: @color1-text-color;
                  }
                }
              }
            }
          }
        }//ul      
      }// block set bg 
      &.gradient-1 {
        .block-set-bg {
          background: @color2-light;
          .bg-gradient(fade(@color2-light,35%),fade(@color2-light,100%),none);
        }
      }
      &.has-bg-image {
        .block-set-bg {
          &:before {
            background: @color2-light;
          }
        }
      }
    }//


    &.bg-color-, &.bg-color-none {
      .block-set-bg {
        color: inherit;
      }
      &.gradient-1 {
        .block-set-bg {
          background: none;
        }
      }
      &.has-bg-image {
        .block-set-bg {
          &:before {
            background: none;
          }
        }
      }
    }//none


    &[class*='bg-color-'] {
      &:not(.bg-color-none) {
        color: inherit;
        h1,h2,h3,h4,h5,blockquote {
          color: inherit;
          border-color: inherit;
        }
        a:not(.dni):not(.btn) {
          color: inherit;
          border-color: inherit;
        }

      }//
    }//






  }
}//cb
