


// ##############################################################################
// ##############################################################################
// bg overlay

.content-blocks {
  .block-set-wrapper {

    &.has-bg-image {
      .block-set-bg {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    &.has-bg-image, &.has-bg-video {
      .block-set-bg {
        &:before {
          .overlay-base;
          opacity: 0;
          z-index: 5;
        }
      }
    }

    &.has-bg-custom {
      .block-set-bg-custom-color {
        opacity: .5;
      }
    }


    //overlay opacity overrides
    &.opacity-1 {
      .block-set-bg-custom-color {
        opacity: .1
      }
      .block-set-bg {
        &:before {
          opacity: .1;
        }
      }
    }
    &.opacity-2 {
      .block-set-bg-custom-color {
        opacity: .2
      }
      .block-set-bg {
        &:before {
          opacity: .2;
        }
      }
    }
    &.opacity-3 {
      .block-set-bg-custom-color {
        opacity: .3
      }
      .block-set-bg {
        &:before {
          opacity: .3;
        }
      }
    }
    &.opacity-4 {
      .block-set-bg-custom-color {
        opacity: .4
      }
      .block-set-bg {
        &:before {
          opacity: .4;
        }
      }
    }
    &.opacity-5 {
      .block-set-bg-custom-color {
        opacity: .5
      }
      .block-set-bg {
        &:before {
          opacity: .5;
        }
      }
    }
    &.opacity-6 {
      .block-set-bg-custom-color {
        opacity: .6
      }
      .block-set-bg {
        &:before {
          opacity: .6;
        }
      }
    }
    &.opacity-7 {
      .block-set-bg-custom-color {
        opacity: .7
      }
      .block-set-bg {
        &:before {
          opacity: .7;
        }
      }
    }
    &.opacity-8 {
      .block-set-bg-custom-color {
        opacity: .8
      }
      .block-set-bg {
        &:before {
          opacity: .8;
        }
      }
    }
    &.opacity-9 {
      .block-set-bg-custom-color {
        opacity: .9
      }
      .block-set-bg {
        &:before {
          opacity: .9;
        }
      }
    }
    &.opacity-10, .opacity-full {
      .block-set-bg-custom-color {
        opacity: 1
      }
      .block-set-bg {
        &:before {
          opacity: 1;
        }
      }
    }



    &.opacity-0, &.opacity-none {
      .block-set-bg-custom-color {
        opacity: 0
      }
      .block-set-bg {
        &:before {
          opacity: 0;
        }
      }
    }


    &.opacity- {
      .block-set-bg-custom-color {
        opacity: 1
      }
      .block-set-bg {
        &:before {
          opacity: 1;
        }
      }
    }


    &.has-bg-image, &.has-bg-video {
      &.opacity- {
        .block-set-bg {
          &:before {
            opacity: 0;
          }
        }
      }
    }



    &.has-bg-custom {
      .block-set-bg {
        &:before {
          display: none;
          opacity: 0;
        }
      }
    }




  }//bg
}//cb
