

@bg-override-white: @colorw;
@bg-override-dark: @colord;

.content-blocks {
  .block-set-wrapper {





    &[class*='bg-color-'] {


      .block-gallery {
        .popup-gallery {
          .item, .item-alt {
            border-color: fade(@colorw,0%);
          }
        }
      }//gallery




  }// ALL BG COLOURS





  }//wrapper
}//cb
