
.svg-border {
  position: absolute;
  width: 100%;
  height: 70px;
  z-index: 22;

  &.svg-bottom {
    bottom: 0;
    svg {
      bottom: 0;
      position: absolute;
    }
  }
  &.svg-top {
    top: 0;
    svg {
      top: 0;
      position: absolute;
    }
  }

  &.color-white {
    color: @colorw;
  }//white
  &.color-dark {
    color: @colord;
  }
  &.color-black {
    color: @colorb;
  }
  &.color-grey {
    color: @colorg;
  }
  &.color-warning {
    color: @color-error-dark;
  }
  &.color-one {
    color: @color1;
  }//one 
  &.color-two {
    color: @color2;
  }
  &.color-three {
    color: @color3;
  }//     
  &.color-four {
    color: @color4;
  }//one 
  &.color-onedark {
    color: @color1-dark;
  }
  &.color-twodark {
    color: @color2-dark;
  }
  &.color-onelight {
    color: @color1-light;
  }
  &.color-twolight {
    color: @color2-light;
  }


  @media only screen and (max-width: 900px) {
    overflow: hidden;
    svg {
      width: 150%;
    }
  }

  @media only screen and (max-width: 700px) {
    overflow: hidden;
    svg {
      width: 200%;
    }
  }

}
  