{{ global:site_name }}
---
{{ partial:email/email-header var_color="{global:email_color}" var_title="{global:site_name} Registration" var_heading="New Registration" type="register-admin" var_desc="There has been a new {global:site_name} registration." }}

{{ partial:email/custom-members/register var_type="admin" var_personalised="Their" }}

{{ if gateway == 'offline' }}
<div style="border:1px solid green;color:green;padding:10px;">
  <h3>NOTE: this registration used the Offline payment option - their membership status is marked 'pending' until their offline payment is confirmed. Once you have confirmed payment, please edit the user profile member status field.</h3>
</div>
<br />
{{ /if }}

{{ partial:email/email-footer var_desc="You are receiving this email because <br /> someone has made a payment to {global:site_name}" }}
