Your membership renewal for Custom Forms is due. To view the details, see the HTML view of this email.
---
{{ partial:email/email-header var_color="78BC61" var_title="Custom Forms Membership Renewal Due" var_heading="Membership Renewal Due" type="register" var_desc="" }}

<br />
{{ if due_date | in_past | yesno =="yes" }}
<div class="email-message" style="border: 1px solid #cc0000;color:#cc0000;padding: 10px;">
  <h2 style="color:#cc0000">Your Custom Forms Membership has expired.<h2>
<p>If you wish to keep your membership going, please contact us or use the link below to renew.</p>
</div>
{{ elseif due_date | days_ago < "5" }}
<div class="email-message">
  <h2>URGENT! Only 5 days remaining<h2>
<h3>Your Custom Forms Membership fees are due.</h3>
<p>We thanks you for your continued support. Please use the link below to renew your membership.</p>
</div>
{{ else }}
<div class="email-message">
  <h2>Your Custom Forms Membership fees are due</h2>
<p>We thanks you for your continued support. Please use the link below to renew your membership.</p>
</div>
{{ /if }}

{{ partial:email/custom-members/reminder var_type="" var_personalised="Your" }}

<a href="https://cf.gsld.com.au/members/renew/{{ id }}">Click here to renew your membership ></a>
<br /><br />
<p><strong>NOTE:</strong> Paying now increases your membership from the due date, not the day you pay, there is no loss of days. </p>
<br /><br />
{{ partial:email/email-footer var_desc="You are receiving this email because <br> you updated your Custom Forms membership." }}
