{{ global:site_name }}
---
{{ partial:email/email-header var_color="{global:email_color}" var_title="{global:site_name} Renewal" var_heading="Membership Renewal" type="register-admin" var_desc="There has been an {global:site_name} membership renewal." }}

{{ partial:email/custom-members/renewal var_type="admin" var_personalised="Their" }}

{{ if gateway == 'offline' }}
<div style="border:1px solid green;color:green;padding:10px;">
  <h3>NOTE: this renewal used the Offline payment option - their membership status is marked 'pending' until their offline payment is confirmed. Once you have confirmed payment, please edit the user profile member status field.</h3>
</div>
{{ /if }}

<br>
{{ partial:email/email-footer var_desc="You are receiving this email because <br> someone has made a payment to {global:site_name}" }}
