Your payment to {{ global:site_name }} was successful. To view the details, see the HTML view of this email.
---
{{ partial:email/email-header var_color="{global:email_color}" var_title="{global:site_name} Membership Renewal" var_heading="Membership Renewal Successful" type="renewal" var_desc="" }}

<div class="email-message">
  {{ gvcustommembers:renew_message }}
</div>

{{ partial:email/custom-members/renewal var_type="" var_personalised="Your" }}

{{ if gateway == 'offline' }}
  <div style="border:1px solid green;color:green;padding:10px;">
    <p><strong>You have opted to pay your renewal via an Offline method. Please note your membership status will be marked as 'pending' until your offline payment is confirmed.</strong></p>
    <strong>Please make payment for your total amount shown above and using your last name and your membership number shown in your profile for reference.</strong>
    <h4>Bank Details</h4>
    <strong>{{ gvcustomform:cf_gateway_offline_bank }}</strong><br>
    <strong>Account Name:</strong> {{ gvcustomform:cf_gateway_offline_bank_account_name }} <br>
    <strong>BSB:</strong> {{ gvcustomform:cf_gateway_offline_bank_bsb }} <br>
    <strong>Account Number:</strong> {{ gvcustomform:cf_gateway_offline_bank_account }}
    <h4>Cheque</h4>
    <strong>Send a cheque to:</strong> <br>
    <strong>{{ gvcustomform:cf_gateway_offline_cheque }} </strong> <br>
    <strong>{{ gvcustomform:cf_gateway_offline_cheque_address }}</strong> <br>
  </div>
{{ /if }}

<br>
{{ partial:email/email-footer var_desc="You are receiving this email because <br> you updated your {global:site_name} membership." }}
