You have successfully filled out a form on the Club Badge Australia website. The details are below.

{{ partial src="custom-form/forms/{form_name}-subheader-text" }}

{{ partial src="custom-form/forms/{form_name}-text" var_dest="success" }}
---
{{ partial:email/email-header var_color="#0D5698" var_title="Club Badge Australia Form Submission" var_heading="Club Badge Australia" type="form" }}
{{ partial src="custom-form/forms/{form_name}-subheader-html" }}
<br>
{{ partial src="custom-form/forms/{form_name}-html" var_dest="success" }}
<br><br>
{{ partial:email/email-footer var_desc="You are receiving this email because <br> you filled out a form on the Club Badge Australia website." }}
