You requested a password reset for Club Badge Australia.

Please use the link below to reset your password.

{{ reset_url }}

---
{{ partial:email/email-header var_color="#0D5698" var_title="Club Badge Australia Password Reset" var_heading="Club Badge Australia Password Reset" type="form" }}
<br />
<p>You requested a password reset for Club Badge Australia.</p>

<p>Please use the link below to reset your password.</p>

<a href="{{ reset_url }}">RESET YOUR PASSWORD</a>
<br /> <br />
{{ partial:email/email-footer var_desc="You are receiving this email because <br /> you filled out a form on the Club Badge Australia website." }}
