Club Badge Australia
---
{{ partial:email/email-header var_color="#0D5698" var_title="Club Badge Australia Registration" var_heading="New Registration" type="register-admin" var_desc="There has been a new Club Badge Australia registration." }}

{{ partial:email/custom-members/register var_type="admin" var_personalised="Their" }}

{{ if gateway == 'offline' }}
<div style="border:1px solid green;color:green;padding:10px;">
  <h3>NOTE: this registration used the Offline payment option - their membership status is marked 'pending' until their offline payment is confirmed. Once you have confirmed payment, please edit the user profile member status field.</h3>
</div>
<br />
{{ /if }}

{{ partial:email/email-footer var_desc="You are receiving this email because <br /> someone has made a payment to Club Badge Australia" }}
