Your payment to Club Badge Australia was successful. To view the details, see the HTML view of this email.
---
{{ partial:email/email-header var_color="#0D5698" var_title="Club Badge Australia Membership Renewal" var_heading="Membership Renewal Successful" type="renewal" var_desc="" }}

<div class="email-message">
  {{ gvcustommembers:renew_message }}
</div>

{{ partial:email/custom-members/renewal var_type="" var_personalised="Your" }}

{{ if gateway == 'offline' }}
  <div style="border:1px solid green;color:green;padding:10px;">
    <p><strong>You have opted to pay your renewal via an Offline method. Please note your membership status will be marked as 'pending' until your offline payment is confirmed.</strong></p>
    <strong>Please make payment for your total amount shown above and using your last name and your membership number shown in your profile for reference.</strong>
    <h4>Bank Details</h4>
    <strong>NAB</strong><br>
    <strong>Account Name:</strong> ACME <br>
    <strong>BSB:</strong>  <br>
    <strong>Account Number:</strong> 
    <h4>Cheque</h4>
    <strong>Send a cheque to:</strong> <br>
    <strong> </strong> <br>
    <strong></strong> <br>
  </div>
{{ /if }}

<br>
{{ partial:email/email-footer var_desc="You are receiving this email because <br> you updated your Club Badge Australia membership." }}
