Your membership renewal for Club Badge Australia is due. To view the details, see the HTML view of this email.
---
{{ partial:email/email-header var_color="#0D5698" var_title="Club Badge Australia Membership Renewal Due" var_heading="Membership Renewal Due" type="register" var_desc="" }}

<br />
{{ if due_date | in_past | yesno =="yes" }}
<div class="email-message" style="border: 1px solid #cc0000;color:#cc0000;padding: 10px;">
  {{ gvcustommembers:expiry_message }}
</div>
{{ elseif due_date | days_ago < "5" }}
<div class="email-message">
  {{ gvcustommembers:reminder5_message }}
</div>
{{ else }}
<div class="email-message">
  {{ gvcustommembers:reminder_message }}
</div>
{{ /if }}

{{ partial:email/custom-members/reminder var_type="" var_personalised="Your" }}

<a href="https://www.clubbadge.com.au/{{ id }}">Click here to renew your membership ></a>
<br /><br />
<p><strong>NOTE:</strong> Paying now increases your membership from the due date, not the day you pay, there is no loss of days. </p>
<br /><br />
{{ partial:email/email-footer var_desc="You are receiving this email because <br> you updated your Club Badge Australia membership." }}
