
.product-details {
  padding: 40px 0 150px;

  .shop-crumbs {
    margin: 0 0 10px;
    .divider {
      color: @cs-colorg-dark;
      display: inline-block;
      margin: 0 6px;
    }
  }

  .product-title {
    font-size: @fsb * 2.1;
    margin: 5px 0 20px;
  }

  .display-price {
    font-size: @fsb * 1.3;
  }
  .tax-text {
    color: @color1;
    font-size: @fsb * 0.9;
  }
  .price-strike {
    text-decoration: line-through;
  }
  .availability {
    background: @colorw;
    border: 1px solid @cs-color2;
    display: inline-block;
    margin: 10px 0 0;
    padding: 0;
    .text {  
      display: inline-block;
      padding: 5px 10px;
    }
    .stock {
      color: @colorw;
      font-weight: 600;
      padding: 5px 15px;
    }
    .in-stock {
      background: @color-success;
    }
    .no-stock {
      background: @color-error;
    }
  }
  .short-description {
    margin: 10px 0 0;
  }
  .order-instructions {
    margin: 8px 0;
    font-weight: 500;
  }
  .sku {
    color: @colorg2;
    font-size: @fsb * 0.85;
    margin: 5px 0;
  }
  .product-files {
    border: 1px solid @colorg2;
    //display: inline-block;
    margin: 20px 0 0;
    padding: 10px 20px;
  }



  .product-slideshow {
    .block-slider {
      border: 1px solid @colorg;
      padding: 10px;
    }

    .block-gallery .gallery-slider .item {
      &.item-size-lg {
        height: 430px;
      }
    }

    .slick-thumbs {
      margin: 15px 0 0;
      li {
        border: 1px solid @colorg;
        min-height: 117px;
        margin: 0 5px 5px 0;
        padding: 2px;
      }
      .slick-dots {
        margin: 4px 0 0;
      }
    }
  }



  .slider-product-images {
    .gallery-slider-item {
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        //text-align: center;

        &:after {
          //background: @color1-dark;
        }

        img {
 //         display: inline-block;
        }

        &:hover {
          &:after {
            opacity: 0.2;
          }
        }

      }
    }
  }


  
  .product-info-tabs {
    margin: 60px 0 50px;

    .nav-tabs {
      border: none;
       li {
         a {
           background: @colord;
           border-radius: 0;
           border: 1px solid @colord;
           color: @colorw;
           font-size: @fsb * 1.3;
           font-weight: bold;
           padding: 13px 20px;
         }
         &.active {
           a {
             background: @colorw;
             border-bottom-color: transparent;
             color: @color1;
           }
         }
       }
    }

    .nav-tab-wrapper {
      border-bottom: 1px solid @colord;
    }

    .tab-content {
      padding: 40px 0;
    }


      @media only screen and (max-width: 767px) {

        margin: 40px 0;

        .nav-tabs {
          li {
            a {
              font-size: @fsb * 1;
              margin: 0 4px 4px 0;
              padding: 10px 15px;
            }
            &.active {
              a {
                background: @colorw;
                border-bottom-color: @colord;
                color: @color1;
              }
            }
          }
        }

      }

  }//tabs


  .related-products {
    background: @colorg;
    padding: 20px 0 50px;

    .section-heading {
      text-align: center;
      margin: 0;
      font-size: @fsb * (@h2size * 0.85);
      padding: 30px 15px;
      text-transform: uppercase;
    }
  }






}//deets 