

.list-products {

  .col-item {
    margin: 30px 0 0;

    .item-wrapper {  
      background: @colorw;
      border: 1px solid @color2;
      display: flex;
      flex-direction: column; 
      text-align: center;
      height: 100%;
    }
    .item-link {
      display: block;
      position: relative;
    }

    .product-title {
      color: @color2-dark;
      font-size: @fsb * 1.4;
      font-weight: 400;
      margin: 0;
      background: @colorw;
      display: flex;
      flex: 1;
      //background: @color2;
      align-items: center;
      justify-content: center;
      padding: 15px;
      a {
        color: @colord;
      }
    }

    .image-wrapper {
      
      &.image-crop-crop_focal {
        //min-height: 320px;
      }
      &.image-crop-max {
        text-align: center;
        display: flex;
        padding: 10px;
        min-height: 230px;
        align-items: center;
        justify-content: center;
      }
      img {
        display: inline-block;
      }
    }

    .price-strike {
      text-decoration: line-through;
    }

    .display-price {
      font-size: @fsb * 1.2;
      //font-weight: bold;
      padding: 0 10px 25px;
    }

    .product-excerpt {
      padding: 0 0 15px;
    }

    .product-buttons {

      .btn {
        background: @color1;
        border: none;
        border-radius: 0;
        color: @colorw;
        display: block;
        float: left;
        padding: 10px 5px;
        font-weight: bold;
        vertical-align: middle;
        width: 50%;
        text-align: center;
      }
      .view-product-button {
        background: @color1-dark;
      }

      &.global-hide-add-cart-1, &.product-hide-add-cart-1 {
        .btn {
          float: none;
          width: 100%;
        }
      }

    }

  }//item 


      @media only screen and (min-width: 768px) {
        padding: 0 15px;
      }



}// products




.product-sort-button {
  float: right;
  position: relative;

  button {
    background: @colord;
    border: 1px solid @colord;
    border-radius: 4px;
    color: @colorw;
    padding: 6px 15px;
  }

  .dropdown-menu {
    background: @colorw;
    border: 1px solid @colorg;
    left: auto;
    right: 0;
    min-width: 200px;
    padding: 10px 10px;
    a {
      display: block;
      padding: 4px 10px;
    }
  }

}










