
<div class="form-content">
<form method="post" action="/formmail.php" name="Contact Form"  id="contact-form" class="submit-overlay">
  <input type="hidden" name="recipients" value="{{ gv_form_contact }},gsldforms-&*&-gmail.com" />
  <input type="hidden" name="mail_options" value="CharSet=UTF-8,TemplateMissing=n/a,KeepLines,Exclude=realname;submit,FromAddr={{ gv_form_name }} Website <workflow-&*&-gsld.com.au>,FromLineStyle=NameRouteAddr,HTMLTemplate=fm-workflow-callback.html" />
  <input type="hidden" name="required" value="name:Please enter your full name,phone:Please enter your phone number" />
  <input type="hidden" name="good_url" value="/success" />
  <input type="hidden" name="bad_url" value="/fmbadhandler.php" />
  <input type="hidden" name="bad_template" value="/fm-error.html" />
  <input type="hidden" name="this_form" value="/contact" />

  <input type="hidden" name="derive_fields" value="subject = name,imgverify=g-recaptcha-response" />

  <div class="container-fluid container-swc">
    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <label class="" for="name">Full Name <span class="req">(required)</span></label>
            <input type="text" class="form-control" maxlength="255" name="name" id="name" required  data-validation-required-message="Please Enter Your Full Name">
        </div>

      </div>
      <div class="col-md-6">

        <div class="form-group">
          <label class="" for="phone">Contact Phone Number</label>
            <input type="text" class="form-control" autocomplete="off" maxlength="100" name="phone" id="phone">
        </div>

      </div>
      <div class="col-md-12">

        <div class="hidden">
          <label for="field_hp_1">If you are a human and can see this field, please refrain from filling it out</label>
          <input type="text" autocomplete="off" name="field_hp_1" value="fieldhp1" class="input-xlarge">
          <label for="field_hp_2">If you are a human and can see this field, please refrain from filling it out</label>
          <input type="text" autocomplete="off" name="field_hp_2" value="" class="input-xlarge">
        </div>

        <br>
        <div class="g-recaptcha" data-sitekey="6LeET3gUAAAAANFZk5mFzFwEKo5QIprlwFgKI6VG"></div>
        <br>

        <button type="submit" class="btn btn-submit" name="submit">Submit Form &nbsp;&nbsp;<i class="fa fa-send"></i></button>
        <br><br>

      </div>


      </div>
    </div>
  </div>

  </form>
</div>
