
{{ form:set is="event" }}
 {{ if {form:success} }}

  {{ form:submission }}

    {{ if payment_type == "stripe" }}

        <script type="text/javascript">
          window.location.replace("{{ payamic:getPaymentUrl amount='{amount}' desc='Event registration from {name}' item_id='{title}' }}?email={{ email }}&name={{ name }}")
        </script>

    {{ else }}

      <div class="message message-success text-success">
        <i class="fa fa-check-circle fa-3x"></i>
        <h2 class="text-success">Submission Successful</h2>
      </div>

    {{ /if }}

  {{ /form:submission }}

{{ else }}

{{ form:create attr="class:pre-payment-form form-validate|id:form-event" }}

  {{ if errors }}
    <div class="message message-error">
      <span class="icon"> <i class="fa fa-times fa-3x"></i> </span>
      <h3 class="heading">Error!</h3>
      <div class="">
        {{ errors }}
            {{ value }}<br>
        {{ /errors }}
      </div>
    </div>
  {{ /if }}

  <fieldset class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="fieldset-heading">
          Your Details
      </div>
      <div class="col-md-12">
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" name="name" value="{{ old:name }}" class="form-control" required>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" value="{{ old:email }}" class="form-control" required>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
            <label for="phone">Contact Number</label>
            <input type="text" name="phone" value="{{ old:phone }}" class="form-control" required>
        </div>
      </div>

      <div class="col-md-12">
        <h4>Address</h4>
      </div>
      <div class="col-md-12">
        <div class="form-group">
            <label>Street / Road Name and Number</label>
            <input type="text" name="address" value="{{ old:address }}" class="form-control" required>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
            <label>Town</label>
            <input type="text" name="town" value="{{ old:town }}" class="form-control" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="" for="state">State</label>
          <select name="state" class="form-control" required>
            <option value="">Please select...</option>
            <option value="act">ACT</option>
            <option value="nsw">NSW</option>
            <option value="nt">NT</option>
            <option value="qld">QLD</option>
            <option value="sa">SA</option>
            <option value="tas">TAS</option>
            <option selected value="vic">VIC</option>
            <option value="wa">WA</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
            <label>Postcode</label>
            <input type="number" name="postcode" value="{{ old:postcode }}" class="form-control" required>
        </div>
      </div>

    </div>
  </fieldset>

<fieldset class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="fieldset-heading">Event Tickets</h3>
      <label>Enter purchase quantity</label> <br>
      {{ event_prices }}
      <div class="product-prices {{ if last }}is-last{{ /if }}">
        <div class="quantity-wrap clearfix">
          <div class="form-group">
            <span class="btn btn-quantity btn-minus">-</span>
            <input type="text" name="{{ price_name | slugify }}" value="{{ if first }}1{{ else }}0{{ /if }}" data-price="{{ price }}" min="0" class="form-control product-quantity has-price add-to-item-details" {{ if first }}required{{ /if }}>
            <span class="btn btn-quantity btn-plus">+</span>
          </div>
          <br>
        </div>
        <label for="" class="has-qty-price-label">x {{ price_name }} - ${{ price }} {{ if price_note }}<small>({{ price_note }})</small>{{ /if }}</label>
      </div>
      {{ /event_prices }}
    </div>
  </div>
</fieldset>

<fieldset class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="fieldset-heading">Additional Notes</h3>

      <div class="form-group">
        <label class="" for="message">Add any additional notes about your purchase here
        </label>
          <textarea class="form-control" autocomplete="off" rows="4" value="{{ old:message }}" name="message" id="message"></textarea>
      </div>

    </div>
  </div>
</fieldset>

<fieldset class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="fieldset-heading">Payment Type & Amount</h3>

      <div class="radio-wrapper">
        <label for="">Select Payment Type</label>
        <div class="radio">
          <label>
            <input type="radio" class="" name="payment_type" required value="stripe" data-levy="{{ payamic:getLevy gateway='stripe' }}" checked>
            <strong>Credit Card</strong>

            {{ if {payamic:getLevy gateway='stripe'} != '' }}
            <small class="note">(Please Note: this payment option incurs a fee of {{ payamic:getLevy gateway='stripe' }}% or $<span class="levy-amount" data-levy="{{ payamic:getLevy gateway='stripe' }}"></span> on top of this purchase)</small>
            {{ /if }}

          </label>
        </div>

      </div>

      <br>
      <div class="form-group">
        <label class="" for="amount">Total Amount Due</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" value="" name="total" id="pre_payment_form_total" readonly>
          <input type="hidden" class="form-control" value="" name="amount" id="pre_payment_form_subtotal" readonly>
        </div>
      </div>

</div>
</fieldset>

<div class="hidden">
  <label for="website1">If you are a human and can see this field, please refrain from filling it out</label>
  <input type="text" name="website1" value="">

  <input type='hidden' name="event_name" value="{{ title }}">
  <input type='hidden' name="event_shortname" value="{{ title | slugify }}">
  <input type='hidden' name="submission_id" value="{{ now format="YmdGis" }}">
  <input type='hidden' name="submission_date" value="{{ now }}">

  <input type="hidden" name="item_details" class="add-to-formset" value="">

</div>

<fieldset class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="fieldset-heading">Anti Spam Security</h3>
      {{ recaptcha }}
    </div>
  </div>
</fieldset>

<button type="submit" class="btn btn-submit" name="submit">Submit Form & Go To Secure Payment Gateway &nbsp; <i class="fa fa-send"></i> </button>
<br><br>

    {{ /form:create }}

    {{ /if }}
{{ /form:set }}
