<div class="form-content">
<form method="post" action="/formmail.php" name="Sponsor Form"  id="contact-form" class="submit-overlay">
  <input type="hidden" name="recipients" value="{{ gv_form_contact }},gsldforms-&*&-gmail.com" />
  <input type="hidden" name="mail_options" value="CharSet=UTF-8,TemplateMissing=n/a,KeepLines,Exclude=realname;submit,FromAddr={{ gv_form_name }} Website <workflow-&*&-gsld.com.au>,FromLineStyle=NameRouteAddr,HTMLTemplate=fm-workflow-contact.html" />
  <input type="hidden" name="required" value="email:Please enter your email address,name:Please enter your full name,message:Please enter your message" />
  <input type="hidden" name="good_url" value="/success" />
  <input type="hidden" name="bad_url" value="/fmbadhandler.php" />
  <input type="hidden" name="bad_template" value="/fm-error.html" />
  <input type="hidden" name="this_form" value="/annual-get-together/sponsors" />

  <input type="hidden" name="derive_fields" value="replyto = email,subject = name" />

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6">
    <div class="form-group">
      <label class="" for="name">Full Name <span class="req">(required)</span></label>
        <input type="text" class="form-control" maxlength="255" name="name" id="name" required  data-validation-required-message="Please Enter Your Full Name">
    </div>
      </div>
      <div class="col-sm-6">
    <div class="form-group">
      <label class="" for="email">Email Address <span class="req">(required)</span></label>
        <input type="email" class="form-control" autocomplete="off" maxlength="400" name="email" id="email" required>
    </div>
      </div>

      <div class="col-sm-6">
    <div class="form-group">
      <label class="" for="phone">Contact Phone Number</label>
        <input type="text" class="form-control" autocomplete="off" maxlength="100" name="phone" id="phone">
    </div>
      </div>

      <div class="col-sm-6">
        &nbsp;
      </div>

      <div class="col-sm-12">
        <br>
        <p>SPONSOR REGISTRATION FIELDS TO GO HERE</p>
        <br>
      </div>

      <div class="col-sm-12">
    <div class="form-group">
      <label class="" for="message">Further Information / Notes <span class="req">(required)</span>
      </label>
        <textarea class="form-control" autocomplete="off" rows="6" name="message" id="message" required></textarea>
    </div>


    <div class="hidden">
      <label for="field_hp_1">If you are a human and can see this field, please refrain from filling it out</label>
      <input type="text" autocomplete="off" name="field_hp_1" value="fieldhp1" class="input-xlarge">
      <label for="field_hp_2">If you are a human and can see this field, please refrain from filling it out</label>
      <input type="text" autocomplete="off" name="field_hp_2" value="" class="input-xlarge">
    </div>

    <button type="submit" class="btn btn-submit" name="submit">Submit Form &nbsp;&nbsp;<i class="fa fa-send"></i></button>
    <br><br>

    </div>

    </div>
  </div>

  </form>
</div>
