{{ partial:item_header }}

  <div class="content-blocks">
    {{ partial:auto-layouts/auto-layout }}
  </div>
  <br><br>

<div class="site-width-centered page-content-padding">
<section class="list-news">
{{ collection:news paginate="true" as="posts" limit="15" }}
{{ if no_results }}
  <br><br>
  <div class="page-content-padding">
    <p class="text-center lead"> No current news items.</p>
  </div>
  <br><br><br><br>
{{ else }}
  <article class="clearfix">

	{{ posts }}
{{ partial:collection/news-post }}
	{{ /posts }}

  </article>
  {{ partial:nav/pagination }}
{{ /if }}
{{ /collection:news }}
</section>

</div>
