{{ partial:item_header }}

<div class="site-width-centered">
  <br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">

<section class="list-news">
  {{ collection:news paginate="false" as="posts" limit="10" }}
  {{ if no_results }}
  <br><br>
  <div class="page-content-padding">
    <p class="text-center lead"> No current news items.</p>
  </div>
  <br><br><br><br>
  {{ else }}
  <h2>Latest News</h2>
  <article class="clearfix">

    {{ posts }}
    {{ partial:collection/news-post var_in_col="true" }}
    {{ /posts }}

  </article>
  {{ /if }}
  {{ /collection:news }}
</section>

    </div>
    <div class="col-md-6">
      
<section class="list-news">
  {{ collection:events paginate="false" as="posts" limit="10" show_past="no" show_future="yes" sort="date:asc" }}
  {{ if no_results }}
  <br><br>
  <div class="page-content-padding">
    <p class="text-center lead"> There are no current events.</p>
  </div>
  <br><br><br><br>
  {{ else }}
  <h2>Coming Events </h2>
  <article class="clearfix">

    {{ posts }}
    {{ partial:collection/event var_in_col="true" }}
    {{ /posts }}

  </article>
  {{ partial:nav/pagination }}
  {{ /if }}
  {{ /collection:events }}
</section>

    </div>
  </div>
  </div>

</div>


<br><br><br><br><br><br>
