{{ if redirect_do }}
  {{ redirect to="{redirect_to}" }}
{{ else }}
<div class="item-details">
{{ partial:item_header item_heading="News Article" }}
{{ partial:nav/back var_link="{gv_to_news}" var_text="All News" }}

<div class="page-container site-width-centered clearfix">

<h1 class="item-title">{{ title }}</h1>
<hr>
  <div class="date-tags">
  {{ partial:tags }}
  </div>
</div>

<div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
</div>

<br><br><br>


</div>
{{ /if }}
