<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
{{ if environment == 'dev' AND gv_offline }}
{{ else }}
<link rel="stylesheet" href="https://use.typekit.net/aeq6wqr.css">
<script src="https://use.fontawesome.com/f1af4f2b55.js"></script>
{{ /if}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ theme:css }}?v1.3" rel="stylesheet">
<link rel="shortcut icon" href="{{ theme:asset src='img/favicon.png' }}">
<title>{{ title }} | {{ if seo_title }}{{ seo_title }}{{ else }}{{ gvseo:seo_title }}{{ /if }}</title>
<meta name="description" content="{{ if seo_description }}{{ seo_description }}{{ else }}{{ gvseo:seo_description }}{{ /if }}">
<meta name="keywords" content="{{ if seo_keywords }}{{ seo_keywords }}{{ else }}{{ gvseo:seo_keywords }}{{ /if }}">
<meta name="author" content="{{ site_author_url }}">
{{ if page_noindex or environment != 'live' }}
<meta name="robots" content="noindex,nofollow">
{{ /if }}
{{ if environment == 'live' && !segment_1 }}
{{ partial:schemas/local-business }}
{{ /if }}
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![/if]-->
{{ if environment == 'dev' AND gv_offline }}
{{ else }}
{{ recaptcha:head }}
{{ /if }}
{{ partial:js/js-error }}
</head>
<body class="page-{{ segment_1 or 'home' }} class-override-{{ page_class_override }} page-template-{{ template | slugify }} {{ if {payamic:getCartCount} > 0 }}cart-has-items{{ /if }} at-top">
<noscript>
  <div class="nojs-warning">
    You appear to have Javascript turned off. This website will not function very well without javascript enabled. You may want to consider turning it on to use our site.
    <a href="#nav-burger">Go to Menu</a>
  </div>
</noscript>
<script>document.body.className += ' fade-out';</script>
{{ partial:header }}
<div class="main-content sticky-content">
{{ template_content }}
</div>
{{ partial:footer }}
{{ partial:modals/search }}

<div class="global-submission">
  <div class="content">
    <span class="icon"><i class="fa fa-refresh fa-spin fa-3x"></i></span>
    <h2>Please Wait, Processing Submission.</h2>
    <p>Do not refresh or leave this page until loading complete.</p>
  </div>
</div>

{{ partial:nav/nav-burger }}
{{ unless gvcustomshop:gs_kill_shop }}
{{ partial:custom-shop/cart-popout }}
{{ /if }}

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ theme:js src='jquery.min.js' }}"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>if (typeof ($.fn.modal) === 'undefined') { document.write('<script src="{{ theme:js src='bootstrap.min.js' }}"><\/script>') }</script>
<script src="https://cdn.jsdelivr.net/gh/gsld-au/cdn/animated-modal-min.js"></script>
<script>if (typeof ($.fn.animatedModal) === 'undefined') { document.write('<script src="{{ theme:js src='animated-modal.min.js' }}"><\/script>') }</script>
{{ partial:js/main-js }}
{{ partial:analytics/index }}

  </body>
</html>
