<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

<link rel="stylesheet" href="https://use.typekit.net/cmv4hga.css">
<script src="https://use.fontawesome.com/e8f88fa122.js"></script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }} | {{ if seo_title }}{{ seo_title }}{{ else }}{{ gvseo:seo_title }}{{ /if }}</title>
<meta name="description" content="{{ if seo_description }}{{ seo_description }}{{ else }}{{ gvseo:seo_description }}{{ /if }}">
<meta name="keywords" content="{{ if seo_keywords }}{{ seo_keywords }}{{ else }}{{ gvseo:seo_keywords }}{{ /if }}">
<meta name="author" content="{{ site_author_url }}">
<link href="{{ theme:css }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ theme:asset src='img/favicon.png' }}">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![/if]-->
</head>
<body class="page-{{ segment_1 or 'home' }} at-top">

<div class="main-content">
{{ template_content }}
</div>

<div class="global-redirect-overlay">
  <div class="content">
    <span class="icon"><i class="fa fa-refresh fa-spin fa-3x"></i></span>
    <h2>Please Wait, Processing.</h2>
    <p>Do not refresh or leave this page until loading complete.</p>
  </div>
</div>

<script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','{{ ga_code }}','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

  </body>
</html>
