<script type="text/javascript">
  function doCartMsg(success, msg) {
    $('.cart-toast').removeClass('hidden error success').addClass(success ? 'success' : 'error');
    $('#cart-message').html(msg);
    setTimeout(function() {
      $('.cart-toast').addClass('hidden').removeClass('error success');
      $('#cart-message').html('');
    }, 6000);
  }

  function cartSuccess(result) {
    if (result.result == 'success') {
      $('.js-cs-btn-cart-popout .total').html(result.total.toFixed(2));
      $('.js-cs-btn-cart-popout .num-items').toggleClass('hide', result.num_items == 0).html(result.num_items);
      doCartMsg(true, 'Item successfully added to your cart - <a href="/cart">View Cart</a>');
      // Update our sidebar cart
      $.get('/cart-inline', function(result) {
        $('#cs-cart-popout .cart-contents').html(result);
      });
      $('body').addClass('cart-has-items');
    } else {
      $('.js-cs-btn-cart-popout').removeClass('success').addClass('error');
      doCartMsg(false, result.error);
    }
    $('.js-cs-btn-cart-popout i').removeClass('fa-icon-refresh').addClass('fa-shopping-cart');
  }

  function cartFail(result) {
    $('.js-cs-btn-cart-popout').removeClass('success').addClass('error');
    if (typeof result.responseJSON.exception != 'undefined' && result.responseJSON.exception == 'TokenMismatchException') {
      doCartMsg(false, 'There was an error adding this item to your cart. This form has timed out. Please refresh the page and try again.');
    } else {
      doCartMsg(false, 'There was an error adding this item to your cart');
    }
    $('.js-cs-btn-cart-popout i').removeClass('fa-icon-refresh').addClass('fa-shopping-cart');
  }

  // Handle our add-to-cart forms
  $('.add-to-cart-form').submit(function(e) {
    // Don't submit our form as we're handling it via Ajax
    e.preventDefault();
    $('#cart-btn i').removeClass('fa-shopping-cart').addClass('fa-icon-refresh');
    // Do the ajax love
    $.post('/!/Payamic/add-to-cart', $(this).serialize(), cartSuccess).fail(cartFail);
  });
  
  // Handle our add-to-cart buttons
  $('.add-to-cart').click(function(e) {
    // Don't follow our link as we're handling it via Ajax
    e.preventDefault();
    $('#cart-btn i').removeClass('fa-shopping-cart').addClass('fa-icon-refresh');
    // Do the ajax love
    $.post($(this).attr('href') + '&_token={{ csrf_token }}', cartSuccess).fail(cartFail);
  });

  // Handle our buy now buttons
  $('.buy-now').click(function(e) {
    // Check if we already have an href and ignore
    $('#cart-btn i').removeClass('fa-shopping-cart').addClass('fa-icon-refresh');
    // Parse the bits of the form and build our link
    var form = $(this).parents('form');
    var arr = form.serializeArray();
    var str = '';
    arr.forEach(function(item, key) {
      if (item.name != '_token' && item.name != 'name' && item.name != 'itemid' && item.name != 'price') {
        str += item.name + '=' + item.value + '&';
      }
    });
    $(this).attr('href', $(this).attr('href') + '?' + str.substr(0, str.length - 1));
  });

  // Handle our cart toast close button
  $('.cart-toast .close-toast').click(function(e) {
    e.preventDefault();
    // Just hide it... our timer should clean it up
    $('.cart-toast').addClass('hidden');
  });

  // Handle our product options price update
  $('.product-options select').change(function(e) {
    // Recalculate our price
    var item = $(this).parents('.product-info');
    calcItemPrice(item);
  });

  function calcItemPrice(item) {
    // Get our base price
    var price = parseFloat(item.find('.display-price span.amount').data('price'));
    // Find and add any option adjustments
    item.find('.product-options option:selected').each(function() {
      if ($(this).data('price')) {
        price += parseFloat($(this).data('price'));
      }
    });
    // Output our new price
    item.find('.display-price span.amount').html(price.toFixed(2));
  }

  $(document).ready(function() {
    // Update the prices for any items on this page in case they have defaults or preselections
    $('.product-info').each(function() {
      calcItemPrice($(this));
    });
  });
</script>
