<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>if (typeof ($.fn.validate) === 'undefined') { document.write('<script src="/site/themes/site/partials/custom-form/js/libs/jquery.validate.min.js"><\/script>') }</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js"></script>
<script>if (typeof ($.fn.validate) === 'undefined') { document.write('/site/themes/site/partials/custom-form/js/libs/additional-methods.min.js"><\/script>') }</script>
<script type="text/javascript" src="/site/themes/site/partials/custom-form/js/libs/gsld-additional-methods.js"></script>
<script src="/site/themes/site/partials/custom-form/js/libs/form-saver.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  var stripe = Stripe('{{ payamic:getStripePubKey }}');
  var elements = stripe.elements();

  // Check we have a card element on our page
  if ($('#card-element').length > 0) {
    // Create an instance of the card Element
    var card = elements.create('card', {
      iconStyle: 'solid',
      style: {
        base: {
          iconColor: '#008dc8',
          color: '#000',
          fontWeight: 500,
          fontSize: '15px',
          fontSmoothing: 'antialiased',

          ':-webkit-autofill': {
            color: '#008dc8',
          },
          '::placeholder': {
            color: '#008dc8',
          },
        },
        invalid: {
          iconColor: '#c00',
          color: '#c00',
        },
      },
    });

    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#card-element');
    card.addEventListener('change', function(event) {
      $('#card-errors').toggleClass('no-error', !event.error).find('.error-message').html(event.error ? event.error.message : '');
    });
  }

  function ccToggle() {
    if ($('input[name=payment_gateway]:checked').val() == 'stripe') {
      $('#levy-note').removeClass('hide');
      $('#credit-card-details').removeClass('hide');
    } else {
      $('#levy-note').addClass('hide');
      $('#credit-card-details').addClass('hide');
    }
  }

  function calcPayment() {
    var shipping_amount = 0;
    var voucher_amount = 0;
    var total = parseFloat($('.payment-form input[name=amount]').val());
    // Handle our shipping
    var shipping = $('input[name=shipping_option]:checked');
    if (shipping.length == 0) {
      $('#summary_shipping').html('Shipping: (Please select)');
      $('.shipping-row .cart-totals-item').html('<span class="shipping-option">Please select a shipping option</span>');
    } else {
      shipping_amount = parseFloat(shipping.data('price'));
      $('#summary_shipping').html('Shipping: ' + shipping.data('name') + ' = $' + shipping_amount.toFixed(2));
      $('.shipping-row .cart-totals-item').html(shipping.data('name') + ' = $' + shipping_amount.toFixed(2));
    }
    total = total + shipping_amount;
    // Handle our voucher
    var voucher = $('input[name=voucher]');
    if (voucher.data('type') == 'amount') {
      voucher_amount = parseFloat(voucher.data('amount'));
      $('#summary_voucher').html('Voucher: ' + voucher.val().toUpperCase() + ' = -$' + voucher_amount.toFixed(2));
      $('.voucher-row .cart-totals-item').html(voucher.val().toUpperCase() + ' = -$' + voucher_amount.toFixed(2));
    } else if (voucher.data('type') == 'percentage') {
      voucher_amount = total * parseFloat(voucher.data('amount')) / 100;
      $('#summary_voucher').html('Voucher: ' + voucher.val().toUpperCase() + ' @ ' + voucher.data('amount') + '% = -$' + voucher_amount.toFixed(2));
      $('.voucher-row .cart-totals-item').html(voucher.val().toUpperCase() + ' @ ' + voucher.data('amount') + '% = -$' + voucher_amount.toFixed(2));
    } else {
      $('#summary_voucher').html('');
      $('.voucher-row .cart-totals-item').html('(none)');
    }
    total = total - voucher_amount;
    // Update our totals and summary
    var levy = $('.payment-form input[name=payment_gateway]:checked').data('levy');
    levy = (isNaN(levy) ? 0 : levy / 100 * total);
    $('.levy-amount').html(levy.toFixed(2));
    $('.levy-row .cart-totals-item span').html(levy.toFixed(2));
    $('#payment_form_total').val((total + levy).toFixed(2));
    $('#payment_form_subtotal').val(total.toFixed(2));
    $('#form-total-progress').html((total + levy).toFixed(2));
    $('.cart-total-price span').html((total + levy).toFixed(2));
    // Check if we need to hide/display our CC entry fields
    if ($('.payment-form input[name=payment_gateway]:checked').val() == 'stripe') {
      if ($('#payment_form_subtotal').data('optional') == true && total <= 0) {
        $('#credit-card-details').addClass('hide');
      } else {
        $('#credit-card-details').removeClass('hide');
      }
    }
  }

  $(document).ready(function() {
    // Handle our payment gateway toggling
    $('.payment-form input[name=payment_gateway]').on('change', function() {
      calcPayment();
      ccToggle();
    });
    // Handle our shipping toggling
    $('input[name=shipping_option]').on('change', function() {
      calcPayment();
    });
    // Handle our voucher button
    $('#voucher-apply').on('click', function(e) {
      // Don't do anything with our button
      e.preventDefault();
      // Validate the entered voucher
      $('#voucher-error').html('');
      $('#voucher').data('amount', 0).data('type', '');
      $(this).prop('disabled', true).html('<i class="fa fa-refresh fa-spin"></i>');
      $.get('/!/Payamic/voucher', {voucher: $('#voucher').val()}, function(res) {
        if (res.result == 'success') {
          var amount = res.type == 'amount' ? '$' + res.amount : res.amount + '%';
          $('#voucher-error').html('Voucher is valid - ' + amount + ' off');
          $('#voucher').data('amount', res.amount).data('type', res.type);
          $('#voucher').attr('name', 'voucher');
        } else {
          $('#voucher-error').html('This voucher is not valid at this time');
          $('#voucher').attr('name', '');
        }
        $('#voucher-apply').prop('disabled', false).html('Apply Voucher');
        calcPayment();
      }).fail(function(e) {
        $('#voucher-error').html('There was an error validating this voucher.');
        $('#voucher-apply').prop('disabled', false).html('Apply Voucher');
        $('#voucher').attr('name', '');
        calcPayment();
      });
    });
    // Show/hide our CC stuff
    ccToggle();
    // Run an initial payment calc incase there are existing values
    calcPayment();
  });

  function handle_form_submission() {
    $('#payment_summary').val($('#total_amount_summary').html());
    // Submit our form
    $('.payment-form')[0].submit();
  }

  function handle_stripe_payment_submission() {
//      console.log('Creating Stripe Token');
    // Process the card details
    stripe.createToken(card).then(function(result) {
//        console.log(result);
      if (result.error) {
        // Inform the customer that there was an error.
        $('#card-errors').html(result.error.message);
        // Hide our loading popup
        $('html, body').animate({scrollTop: $('#card-errors').offset().top - 50}, 400);
        $('body').removeClass('submitting');
      } else {
        // Add our Stripe Token hidden element
        $('.payment-form').append('<input type="hidden" name="stripe_token" value="' + result.token.id + '">');
        handle_form_submission();
      }
    });
  }

  formValidator = $('.form-validate').validate({
    highlight: function(label) {
      $(label).closest('.form-group').addClass('has-error');
    },
    invalidHandler: function(event, validator) {
      var errors = validator.numberOfInvalids();
      if (errors && $('.tab-pane').length > 0) {
        $('a[href="#' + $(validator.errorList[0].element).parents('.tab-pane')[0].id + '"]').first().tab('show');
      }
    },
{{ if environment == "live" OR gvcustomform:gv_form_tabs_validate == "true" }}
    ignore: "",
{{ else }}
    ignore: "*",
{{ /if }}
    rules: {
      payment_total: {
        required: true,
        min: function() {
          if ($('#payment_form_subtotal').data('optional') == true && $('#payment_form_total').val() == 0) {
            return 0;
          } else {
            var minimum = $('input[name=payment_gateway]:checked').data('minimum');
            if (typeof minimum == 'undefined') {
              minimum = $('input[type=hidden][name=payment_gateway]').data('minimum');
            }
            return (!isNaN(minimum) ? parseFloat(minimum) : 1);
          }
        }
      }
    },
    errorPlacement: function(error, element) {
      if ( element.is(":radio") ) {
          error.prependTo( element.parent() );
      }
      else { // This is the default behavior of the script for all fields
          error.insertAfter( element );
      }
    },
    submitHandler: function(form, e) {
      // Stop our form submitting until we have processed the card via stripe
      e.preventDefault();
      $('body').addClass('submitting');
      // Check if we have a Stripe payment to process
      if ($('input[name=payment_gateway]:checked').val() == 'stripe' || $('input[type=hidden][name=payment_gateway]').val() == 'stripe') {
        // Check if we have a price
        if ($('#payment_form_subtotal').val() > 0) {
          handle_stripe_payment_submission();
        } else {
          handle_form_submission();
        }
      } else {
        handle_form_submission();
      }
    }
  });

  // Set up our form saver
  var saverOpts = {
    saveMessage: 'Your Form Data Has Been Saved!',
    deleteMessage: 'Your Form Data Has Been Deleted!',
    saveClass: 'form-data-saved',
    deleteClass: 'form-data-deleted',
    callbackSave: function ( btn, form ) {
      // Set a time out to clear our "saved" message
      setTimeout(function() {
        $('.form-save-status').html('');
      }, 5000);
    },
    callbackDelete: function ( btn, form ) {
      // Set a time out to clear our "deleted" message
      setTimeout(function() {
        $('.form-save-status').html('');
      }, 5000);
    }
  };
  formSaver.init(saverOpts);
  // Save our fields on change
  $(".custom-form").on('change', ':input', function() {
    formSaver.saveForm(null, '#' + $(this).parents('form').attr('id'), saverOpts);
  });

  // Handle the auto-save-off toggling
  $('#form_save_off').click(function() {
    // Delete data and disable our formSaver
    console.log('Disabling formSaver');
    formSaver.deleteForm($('[data-form-delete]')[0], '#' + $('.custom-form').attr('id'), { deleteClear: false });
    formSaver.destroy();
    formSaver = null;
    $(this).attr('disabled', 'disabled');
    $('label[for=form_save_off]').html('Please refresh this page to re-enable form data saving');
  });
  
</script>
