{{ if redirect_do }}
  {{ redirect to="{redirect_to}" }}
{{ else }}

{{ partial:item_header }}
{{ partial:nav/page-menu }}
{{ partial:nav/back }}

  {{ if toggle_page_nav }}
  <div class="page-nav-wrapper">

    <nav class="page-nav">
{{ partial:nav/page-nav }}
    </nav>
    <div class="page-nav-content">
      <div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
      </div>
    </div>

  </div>
  {{ else }}
    <div class="content-blocks">
    {{ partial:auto-layouts/auto-layout }}
    </div>
  {{ /if }}

{{ partial:page/page-margin-bottom }}

{{ /if }}
