{{ partial:item_header }}
<div class="page-container site-width-centered">
	<br><br><br><br>
  <h1>Search Results</h1>

	<div class="form form-search" id="form">
		<div class="form-content">
		<form role="search" action="/search" method="GET">
			<div class="container-fluid container-override">
				<div class="row">
					<div class="col-md-8">
						<input type="text" name="q" value="{{ get:q | sanitize }}" class="form-control giant search" placeholder="Search for...">
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-site-search" name="submit">
							Search &nbsp;&nbsp;<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

  <br><br>
  <div class="content site-search-results">
    {{ search:results }}
      {{ if no_results }}
        <h3>No results found. Try again with a different term?</h3>
      {{ else }}

      <div class="item">
        <a href="{{ url }}">

          <h3 class="title">{{ title }}</h3>
          <code>{{ site_url }}{{ url }}</code>
          <div class="summary">
            {{ content_blocks:0 }}
              {{ if type == "content_set" || type == "text_image_set" }}
                {{ if text }}
                  {{ text | markdown | strip_tags | safe_truncate:300:... }}
                {{ /if }}
              {{ /if }}
            {{ /content_blocks:0 }}
          </div>

        </a>
      </div>

      {{ /if }}
    {{ /search:results }}
  </div>
</div>

<br><br><br><br><br><br><br><br><br>

