

// ##############################################################################
// ##############################################################################
// breadcrumbs


.nav-breadcrumbs {
  background: @color5;
 .rwd-p(1200px,767px,4px,15px,6px,15px,4px,15px,6px,15px,4px,15px,6px,15px);
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      font-size: @font-size-base * 0.8;
      a {
        color: fade(@colorw,70%);
      }
      &.current {
        color: fade(@colorw,90%);
      }
    }
  }
  .divider {
    color: fade(@colorw,40%);
    margin: 0 5px;
  }
}
