
.site-logo-burger {
  display: block;
  width: 150px;
  padding: 20px 20px 0px 10%;
}

  @media only screen and (min-width: 992px) {
    body.at-top {
      .nav-burger-btn {
        top: 60px;
      }
    }
  }//

  @media only screen and (min-width: 550px) {
    .nav-burger-btn {
      top: 18px;
    }
  }


@nav-burger-color: @color1;
@nav-burger-bg: fade(@colorb,50%);
@nav-burger-content-bg: @colorw; // < this is the actual nav mobile bg colour 
@nav-burger-dd-color: @color1;
@nav-burger-dd-bg: @colorg;

.nav-burger-btn, .close-nav-burger {

  display: none;
  opacity: 0;

  cursor: pointer;
  position: fixed;
  right: 0;
  top: 5px;
  z-index: 1040;
  padding: 10px 10px 30px 30px;
  img {
    // SVG color convert https://codepen.io/sosuke/pen/Pjoqqp
    //white
    //filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(1deg) brightness(100%) contrast(100%);
    width: 48px;
  }
}

@media only screen and (max-width: 991px) {
  body.off-top {
    .nav-burger-btn{
      img {
        //filter: invert(54%) sepia(3%) saturate(891%) hue-rotate(240deg) brightness(90%) contrast(83%);
      }
    }
  }
}

.close-nav-burger {
  img {
    //filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(358deg) brightness(101%) contrast(100%);
  }
}

@media only screen and (max-width: @nav-primary-breakpoint) {
  .nav-burger-btn, .close-nav-burger {
    display: block;
    opacity: 1;
  }
}


#nav-burger {
  background: @nav-burger-bg;
  .animated-modal-content {
    border-radius: 0;
    border: none;
    box-shadow: none;
    position: relative;
    z-index: 50;
  }

  &:before {
    .pseudo-item(0,0,0,0,100%,100%);
    background: @nav-burger-content-bg;
    z-index: 20;
  }


      @media only screen and (min-width: 992px) {

        .animated-modal-content {
          margin-left: 20%;
          width: 80%;
        }

          &:before {
            margin-left: 20%;
            width: 80%;
          }


      }//rwd

}// burger


.nav-burger-inner {

  padding: 20px 8% 50px 8%;
  min-height: 50vh;

  z-index: 9985;
  a {
    color: @nav-burger-color;
    font-size: @font-size-base * 1.4;
    display: block;
    padding: 5px 20px;
  }

  .dropdown {
    .dropdown-menu {

      position: relative;
      top: auto;
      float: none;

      background: none;
      box-shadow: none;
      left: auto;
      min-width: 100%;
      max-width: 100%;
      right: auto;
      li {
        a {
          background: @nav-burger-dd-bg;
          border-bottom: 1px dashed fade(@nav-burger-dd-color,17%);
          color: @nav-burger-dd-color;
          font-size: @font-size-base * 1;
          font-weight: 400;
          padding: 10px 20px;
          position: relative;
          white-space: normal;

          span.hover {
            border-bottom: 1px solid mix(@colorw,@nav-burger-dd-bg,50%);
            display: block;
            height: 1px;
            left: 20px;
            margin-top: 3px;
            opacity: 0;
            position: absolute;
            right: 20px;
            width: 10%;
            .transition(.7s all);
          }

          &.last {
            border: none;
          }
          .btn-icon {

            display: none;

          }

          &:hover {
            background: none;
            color: inherit;
          }
        }
        &:first-child {
          a {

          }
        }
      }
    }

    &.open {
      background: @nav-burger-dd-bg;
      color: @nav-burger-dd-color;
      z-index: 1;
    }
    &.open a, &.open a:hover, &.open a:active, &.open a:focus {
      background: @nav-burger-dd-bg;
      border-color: @nav-burger-dd-bg;
      color: @nav-burger-dd-color;
    }
  }

}//nav burger




// ##############################################################################
// ##############################################################################
// rwd



@media only screen and (max-width: 767px) {


  .nav-burger {
    bottom: 0;
    height: auto;
    padding: 20px 10px 15px;
    overflow-y: scroll;
  }

}//rwd



@media only screen and (max-width: 600px) {


  .nav-burger {
//    padding-top: 75px;
  }

}//rwd
