

@nav-primary-breakpoint: 991px;

@nav-dd-border: 0;
@nav-dd-bg: @colorw;
@nav-dd-color: @colord;
@nav-dd-color-parent: @color1;
@nav-dd-hover-bg: @colorw;
@nav-dd-hover-color: @color1;
@nav-dd-border-color: @colorw;
@nav-dd-font-weight: normal;
@nav-dd-font-size: @font-size-base * 1;


@media only screen and (max-width: @nav-primary-breakpoint) {
  .nav-primary {
    display: none;
    opacity: 0;
    height: 0;
  }
}

.nav-primary .navbar-nav>li>a {
  &.nav-cta-button {
    background: @colorw;
    border: 1px solid @colorw;
    color: @color1;
    margin-left: 10px;
    padding: 6px 12px;

    &:hover {
      
    }
  }
  &.nav-cta-button2 {
    background: @color5;
    border: 1px solid @color5;
    color: @colorw;
    margin-left: 10px;
    padding: 6px 12px;

    &:hover {
      background: @colorw;
      border-color: @color5;
      color: @color5;
    }
  }
}


.nav-primary-wrapper {
  position: relative;
}

.nav-primary {
// overrides
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0 auto;
  width: 100%;
  z-index: 1030;

// styles
  //background: @color1;
  padding: 0;
  //position: relative;

  //background: fade(@colord,20%);
  //border-top: 1px solid @colorg;
  border: none;
  background: @color1;
  //position: absolute;
  //left: 0;
  //top: 0;
  //width: 100%;

  .site-width-centered {
    position: relative;
  }

  .navbar-collapse {
    padding: 0;
  }


  &.not-nav-scroll {
    .navbar-nav {
      > li {
        &.contact-details {
          background: @color1 @bg1;
          padding: 0 15px;
          .phone {
            border: none;
            display: inline-block;
            color: @colorw;
            font-size: @fsb * 1.4;
            font-weight: bold;
            padding: 25px 10px;
          }
          .contact {
            background: @colorw;
            border: none;
            border-radius: 50px;
            color: @color1;
            display: inline-block;
            margin: 0;
            position: relative;
            top: -1px;

            &:hover, &:active, &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

  .navbar-nav {
    float: none;
    margin: 0;
    padding: 0;
    
    //center align with these
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    > li {
      float: none;
      display: inline-block;

      > a {
        border: none;
        border-bottom: 3px solid fade(@colorw,0%);
        border-right: 1px solid #eee;
        color: @colorw;
        font-size: @fsb * 1;
        font-weight: 600;
        margin-right: 0;
        padding: 30px 24px;
        .transition(.7s all);

        //text-transform: uppercase;

        span.hover1 {
          border-bottom: 1px solid mix(@colorw,@color1,70%);
          display: block;
          height: 1px;
          margin-top: 3px;
          opacity: 0;
          position: absolute;
          width: 10%;

          .center-h;

          .transition(.7s all);
        }

        &:hover, &:active, &:focus {
          background: none;
          border-bottom-color: @colorw;
          color: @colorw;

          span.hover1 {
            opacity: 1;
            width: 60%;
          }

        }
        &.active {
          background: none;
          border-bottom-color: @colorw;
          color: @colorw;
          font-weight: bold;
        }

        @media only screen and (max-width: 1100px) {
          padding: 30px 17px;
        }


        &.nav-home-link {
          border-left: 1px solid @colorw;
        }


      } // a
    }
    .dropdown {
      .dropdown-menu {
        background: @nav-dd-bg @bg2;
        border: 3px solid @nav-dd-border-color;
        border-bottom-width: 10px;
        box-shadow: none;
        left: auto;
        min-width: 300px;
        max-width: 450px;
        padding: 0;
        right: 0;
        z-index: 500;
        li {
          a {
            background: none;
            border-bottom: 1px dashed fade(@nav-dd-color,17%);
            color: @nav-dd-color;
            font-size: @nav-dd-font-size;
            font-weight: @nav-dd-font-weight;
            padding: 10px 20px;
            position: relative;
            white-space: normal;

            span.hover {
              border-bottom: 1px solid mix(@colorw,@nav-dd-hover-color,70%);
              display: block;
              height: 1px;
              left: 20px;
              margin-top: 3px;
              opacity: 0;
              position: absolute;
              right: 20px;
              width: 10%;
              .transition(.7s all);
            }

            &.last {
              border: none;
            }
            .btn-icon {

              display: none;

            }

            &:hover {
              background: @nav-dd-hover-bg;
              border-color: fade(@nav-dd-color,17%);
              color: @nav-dd-hover-color;
              font-weight: bold;
              span.hover {
                opacity: 1;
                width: 80%;
              }
              .btn-icon {

              }
            }
          }
          &:first-child {
            a {

            }
          }
        }

        &.ul-1 {
          left: 0;
          right: auto;
        }
      }//dropdown menu

      &.open {
        background: @nav-dd-border-color;
        color: @nav-dd-color-parent;
        z-index: 1;
      }
      &.open a, &.open a:hover, &.open a:active, &.open a:focus {
        background: @nav-dd-border-color;
        border-color: @nav-dd-border-color;
        color: @nav-dd-color-parent;

        span.hover1 {
          display: none;
          opacity: 0;
        }
      }
      &.open:before {
        // top, right, bottom, left, height, width
        .pseudo-item(-@nav-dd-border, auto, auto, auto, @nav-dd-border, 100%);
        border-top: @nav-dd-border solid @nav-dd-border-color;
        left: 0;
      }
    }
  }

  .navbar-toggle {
    background: @color1;
    border: 1px solid @colorw;
    border-radius: 0;
    margin: 0;
    padding: 15px;
    position: fixed;
    right: 2px;
    top: 2px;
    z-index: 9999;
    .icon-bar {
      background: @colorw;
    }
    &:hover {
      background: @colorw;
      .icon-bar {
        background: @color1;
      }
    }
    .nav-instructions {
      display: none;
      font-size: 13px;
      left: -100px;
      position: absolute;
      top: 15px;
    }
  }



    // affix stuff
    &.affix-top {

    }

    &.affix {

      .transition(.4s all);

      .navbar-nav {
        float: none;
        > li {
          > a {

          }
        }
      }
    }

} // nav primary








// ##############################################################################
// ##############################################################################
// RWD



@media only screen and (max-width: 991px) {
  .nav-primary {
   border-bottom: none;
   min-height: 0;
   height: 0;


  } // nav
} // rwd
