

// ##############################################################################
// ##############################################################################
// mobile

@nav-mobile-color: @colorw;
@nav-mobile-bg: @color1;
@nav-mobile-dd-color: @colorw;
@nav-mobile-dd-bg: mix(@colorb,@color1,30%);

.nav-mobile {
  background: @nav-mobile-bg;
  padding: 20px 10px 10%;
  min-height: 50vh;

  z-index: 9985;
  a {
    color: @nav-mobile-color;
    font-size: @font-size-base * 1.4;
    display: block;
    padding: 5px 20px;
    text-transform: uppercase;
  }
  .nav-close {
    background: #fff;
    border-radius: 100px;
    bottom: 75px;
    color: @colord;
    cursor: pointer;
    height: 30px;
    padding-top: 2px;
    position: absolute;
    right: 15px;
    text-align: center;
    width: 30px;
  }
  .nav-close-top {
    border: 1px solid @colorw;
    border-radius: 200px;
    color: @colorw;
    cursor: pointer;
    height: 40px;
    padding-top: 6px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 12px;
    width: 40px;
  }

  .dropdown {
    .dropdown-menu {

      position: relative;
      top: auto;
      float: none;

      background: none;
      box-shadow: none;
      left: auto;
      min-width: 100%;
      max-width: 100%;
      right: auto;
      li {
        a {
          background: @nav-mobile-dd-bg;
          border-bottom: 1px dashed fade(@nav-mobile-dd-color,17%);
          color: @nav-mobile-dd-color;
          font-size: @font-size-base * .9;
          font-weight: 400;
          padding: 10px 20px;
          position: relative;
          white-space: normal;

          span.hover {
            border-bottom: 1px solid mix(@colorw,@nav-mobile-dd-bg,50%);
            display: block;
            height: 1px;
            left: 20px;
            margin-top: 3px;
            opacity: 0;
            position: absolute;
            right: 20px;
            width: 10%;
            .transition(.7s all);
          }

          &.last {
            border: none;
          }
          .btn-icon {

            display: none;

          }

          &:hover {
            background: none;
            color: inherit;
          }
        }
        &:first-child {
          a {

          }
        }
      }
    }

    &.open {
      background: @nav-mobile-dd-bg;
      color: @nav-mobile-dd-color;
      z-index: 1;
    }
    &.open a, &.open a:hover, &.open a:active, &.open a:focus {
      background: @nav-mobile-dd-bg;
      border-color: @nav-mobile-dd-bg;
      color: @nav-mobile-dd-color;
    }
  }

}//nav mobile




// ##############################################################################
// ##############################################################################
// rwd



@media only screen and (max-width: 767px) {


  .nav-mobile {
    bottom: 0;
    height: auto;
    padding: 20px 10px 15px;
    overflow-y: scroll;
  }

}//rwd



@media only screen and (max-width: 600px) {


  .nav-mobile {
//    padding-top: 75px;
  }

}//rwd
