

.page-nav-wrapper {
  position: relative;
  .rwd-p(@site-width-1-bp,@screen-sm-max,/**/1px,0,0,22%,/**/1px,0,0,27%,/**/1px,0,0,0);
}

.btn-page-nav {
  background: @colorw;
  color: @color1;
  margin: 0 15px 10px;

  display: none;


    @media only screen and (max-width: 991px) {
      display: block;
    }//

}

.navbar-collapse {
  border: none;
  box-shadow: none;
}

.page-nav {
  background: @color1;
  border: none;
  left: 0;
  height: 100%;
  min-height: 400px;
  padding: 40px 0 30px;
  position: absolute;
  top: 0;
  .rwd-width(1100px,@screen-sm-max,20%,25%,100%);

      @media only screen and (max-width: @screen-sm-max) {

        height: auto;
        min-height: 2px;
        left: auto;
        padding: 15px 0 5px;
        position: relative;
        top: auto;

      }//

  a {
    border: 1px solid @colorw;
    color: @colorw;
    display: block;
    font-size: @font-size-base * 0.9;
    margin: 0 0 10px;
    padding: 6px 10px;
    text-align: left;
    .transition(.6s all);

    &:hover {
      background: @colorw;
      border-color: @colorw;
      color: @color1;
    }
  }
}

.page-nav-content {

}
