
.nav-tertiary {
  background: @colorw;
  border-bottom: 1px solid @color1;
  padding: 4px 10px 4px;
  text-align: center;
  
  li {
    display: inline-block;
  }
  a {
    background: none;
    border: none;
    color: @color2;
    display: inline-block;
    font-size: @font-size-base * 1;
    padding: 5px;
    text-transform: capitalize;
    .transition(.5s background);


    &.active, &.active:hover {
      background: none;
      border-color: @colord;
      color: @color1;
    }
    &:hover {
      background: none;
      border-color: @colord;
      color: @colord;
      text-decoration: none;
    }
  }
}
