
@nav-secondary-color: @color1;

.section-navigation {
  padding: 0;
}

.btn-section-navigation {
  background: @colord;
  color: @colorw;
  margin: 10px 15px;

  display: none;

  &:hover, &:active, &:focus {
    color: @colorw;
  }

    @media only screen and (max-width: 991px) {
      display: block;
    }//

}



// ##############################################################################
// ##############################################################################
// second


.nav-secondary {
  background: @nav-secondary-color;
  //border-bottom: 3px solid @colord;
  border-radius: 0;
  margin: 0;
  .rwd-p(@site-width-1-bp,767px,/**/0,0px,0,0px,/**/0,15px,0,15px,/**/0,15px,0,15px);
  min-height: 1px;
  text-align: center;
  
  li {
    display: inline-block;
  }
  .parent-no-link {
    color: @colorw;
    display: inline-block;
    margin: 0 20px 6px 0;
    padding: 13px 1px 8px;
  }
  a {
    background: none;
    border-bottom: 1px solid @nav-secondary-color;
    color: @colorw;
    display: inline-block;
    font-size: @font-size-base * 1;
    font-weight: 400;
    margin: 0 20px 6px 0;
    padding: 13px 1px 8px;
    text-transform: capitalize;
    text-decoration: none;
    .transition(.5s all);

    //.hover-underline(1px,fade(@color1,50%),7px,0,100%);

    &:hover, &:active, &:focus {
      background: none;
      border-color: @colorw;
      color: @colorw;
    }
    &.active {
      background: none;
      border-color: @colorw;
      color: @colorw;
      font-weight: 600;
      text-decoration: none;
    }
  }

      @media only screen and (max-width: 767px) {

        padding: 5px 5px 0;
        .parent-no-link {
          margin: 0 5px 5px 0;
          padding: 4px 10px;
        }
        a {
          border-radius: 4px;
          margin: 0 5px 5px 0;
          padding: 4px 10px;
        }

      }//rwd 

}// nav 


