



.nav-mini {
  background: mix(@colorb, @colord, 40%);
  padding-right: 10px;
  ul {
    float: right;
  }
  li {
    display: inline-block;
  }
  a {
    color: fade(@colorw,70%);
    font-size: @fsb * 0.9;
    display: block;
    padding: 10px 10px;
  }
}

@media only screen and (max-width: @screen-sm-max) {

  .nav-mini {
    display: none;
    opacity: 0;
  }

}//rwd




.nav-section {
  a {
    background: @colord;
    border: 1px solid @colord;
    border-radius: 4px;
    color: @colorw;
    display: block;
    font-size: @font-size-base * 1.2;
    margin: 0 0 10px;
    padding: 5px 15px;
    text-decoration: none;
    &:hover {
      background: @colorw;
      color: @colord;
    }
  }
}




// nav scroll
.nav-scroll {
  background: @colorw;

  height: auto;
  left: 0;
  min-height: 0;
  opacity: 0;
  padding: 0;
  position: fixed;
  top: -10px;
  text-align: center;
  .transition(1s opacity);

  padding-bottom: 0;

  .navbar-nav {
    background: none;
    float: none;
    text-align: center;
    > li {
      display: inline-block;
      float: none;
      > a {
        border: none;
        color: @colord;
        height: auto;
        font-size: @fsb * 1;
        padding-bottom: 10px;
        padding-top: 15px;

        &:hover, &:active, &:focus {
          color: @color1;

        }
        &.active {
          background: none;
          color: @color1;
          font-weight: bold;
        }

      }
    }
  }
}

body.at-top {
  .nav-scroll {
    height: 0;
    min-height: 0;
    position: absolute;
    left: -9999px;
  }
}

body.off-top {
  .nav-scroll {
    height: auto;
    opacity: 1;
  }
}

html.no-js {
  body {
    .nav-scroll {
      display: none;
      min-height: 0;
      height: 0;
    }
  }
}




.nav-pagination {
  margin: 40px auto;
  text-align: center;
}




// ##############################################################################
// ##############################################################################
// third















// ##############################################################################
// ##############################################################################
// RWD




@media only screen and (max-width: 767px) {



} // rwd
