
.cs-cart-popout {

  .cart-empty {
    padding: 50px 15px;
    text-align: center;
  }

  .cart-inner {
    padding: 15px;
    max-height: 400px;
    overflow: scroll;

    .cart-item {
      border-bottom: 1px dashed @cs-colorg;
      margin: 0 0 15px;
      position: relative;
      padding: 0 0 15px 75px;

    }
    .cart-title {
      color: @colord;
      display: block;
      font-weight: bold;
      margin: 0 0 5px;
    }
    .cart-price {
      font-size: @fsb * 0.85;
      font-weight: 400;
    }
    .cart-qty {
      display: inline-block;
      float: right;
      input {
        background: @cs-colorg;
        border: 1px solid @cs-color2-light;
        color: @cs-color2-dark;
        font-weight: bold;
        padding: 6px;
        text-align: center;
        width: 50px;
      }
    }
    .cart-delete-item {
      background: none;
      border: none;
      margin: 0 0 0 5px;
      padding: 0;
    }

    .image-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      img {
        border: 1px solid @colorg;
        border-radius: 5px;
      }
    }



  }

  .cart-header {
    background: @cs-color2;
    border-bottom: 1px solid mix(@colorb,@colorg,10%);
    padding: 40px 15px;
    text-align: center;
    h4 {
      color: @colorw;
      font-size: @fsb * 0.9;
      font-weight: bold;
      margin: 0;
      text-transform: uppercase;
      .ffb;
    }
  }

  .cart-footer {
    border-top: 1px solid mix(@colorb,@colorg,10%);
    padding: 5% 15px;
    text-align: center;

    .view-full-cart {
      //display: block;
    }
    
    .btn-checkout {
      background: @color1;
      color: @colorw;
      display: inline-block;
      font-weight: 600;
      margin: 20px 0 0;
      padding: 10px 20px;
      text-transform: uppercase;
    }
  }


       @media (max-width: 767px) {

        .cart-inner {
          max-height: 200px;
        }

      }

}//cs cart
