

@media only screen and (max-width: 991px) {
  body.off-top {
    .cs-btn-cart-popout {
      position: fixed;
      top: 15px;
      right: 75px;
      z-index: 3500;
      color: @color1;
    }
  }
}//rwd 



.cs-header-buttons {

    @media only screen and (min-width: 600px) {
      position: absolute;
      right: 65px;
      top: 48px;
      z-index: 2005;
    }
  
    @media only screen and (max-width: 991px) {
      padding: 0 15px 15px;
      top: 18px;
    }
    @media only screen and (max-width: 559px) {
      top: auto;
    }    
}


//full cart styles

.full-cart {
  .cart-header {
    background: @cf-color2;
    margin-bottom: 30px;
    padding: 20px 0;
    text-align: center;

    h2 {
      color: @colorw;
      font-size: @fsb * 1.6;
      margin: 0;
      text-align: center;
    }
  }

  .cart-mobile-only {
    display: none;
    opacity: 0;
  }


  .cart-inner {

    .item-row {
      margin: 0 0 20px;
    }
    .image-wrapper {
      display: inline-block;
    }
    .cart-title-info {
      display: inline-block;
      margin: 0 0 0 10px;
      vertical-align: top;
      h3 {
        font-size: @fsb * 1.2;
        margin: 0;
        vertical-align: top;
        a {
          color: @cs-color2-dark;
        }
      }
    }
    .cart-qty {
      input {
        background: @cs-colorg;
        border: 1px solid @cs-color2-light;
        color: @cs-color2-dark;
        font-weight: bold;
        padding: 10px 5px;
        text-align: center;
        width: 100%;
      }
    }
    .col-arrow {
      display: none;
      opacity: 0;
    }
    .row-headers {
      background: @cs-colorg;
      color: @cs-color2-dark;
      font-weight: 600;
      margin: 0 0 40px;
      padding: 10px;
    }
    .cart-row {
      border-bottom: 1px solid @cs-colorg;
      margin: 0 0 30px;
      padding: 0 0 20px;
    }
    .cart-price {
      font-weight: 600;
    }
    .cart-subtotal {
      font-weight: 600;
    }
    .col-del {
      text-align: right;
    }
    .cart-delete-item {
      border: none; 
      background: none;
      color: @color2-light;
      display: inline-block;
      vertical-align: top;
    }


  }//inner 

  .cart-footer {
    padding: 40px 0 150px;
    text-align: right;
    .cart-subtotal {
      font-size: @fsb * 1.5;
    }
    .btn-checkout {
      background: @color1;
      color: @colorw;
      display: inline-block;
      font-size: @fsb * 1.15;
      font-weight: 600;
      margin: 20px 0 0 30px;
      padding: 10px 20px;
      text-transform: uppercase;
    }
    .btn-empty {
      color: @color-error;
    }
  }






      @media only screen and (max-width: 991px) {
        .cart-inner {
          .row-headers {
            display: none;
          }
          .cart-qty {
            input {
              padding: 5px 5px;
              width: auto;
              display: inline-block;
              max-width: 110px;
            }
          }
          .cart-title-info {
            margin: 10px 0;
          }
          .col-cart-info {
            border: 2px solid @cs-colorg;
            background: @colorw;
            padding: 10px 15px;
            position: relative;
            z-index: 110;
          }

        .col-arrow {
          display: block;
          opacity: 1;
          margin-top: 10px;
        }
        .cart-info-arrow {
          background-color: @cs-colorg;
          width: 25px;
          height: 10px;
          position: absolute;
          top: -8px;
          z-index: 105;
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
        }

        .cart-mobile-only {
          display: inline-block;
          opacity: 1;
          font-weight: 300;
          margin-right: 7px;
        }

      }

    }//rwd 

}


/*
.css-table {
  display: table;
  width: 100%;
  
  > * {
    display: table-row;
  }

  .cell {
    display: table-cell;
  }

  header {
    font-weight: bold;
  }

}

*/
