
//  cart


.cart-toast {
  background: @cs-color2;
  border-radius: 6px;
  bottom: 20px;
  color: @colorw;
  font-size: @fsb * 1.1;
  //font-weight: bold;
  left: 20px;
  padding: 20px;
  position: fixed;
  z-index: 3500;
  max-width: 85%;

  a {
    color: @colorw;
    font-weight: bold;
    text-decoration: underline;
  }

  .close-toast {
    background: @cs-color2-dark;
    border-radius: 50px;
    //border: 1px solid @cs-color2-dark;
    color: @colorw;
    height: 30px;
    position: absolute;
    right: -10px;
    top: -10px;
    text-align: center;
    width: 30px;
  }


}

.add-to-cart-form {
  //border: 1px solid @colorg;
  //display: inline-block;
  margin: 10px 0 0;
  //padding: 5px 30px 25px;

  .qty {
    margin: 0 0 20px;
    input {
      background: @cs-colorg;
      border: 1px solid @cs-color2-light;
      color: @cs-color2-dark;
      font-weight: bold;
      margin: 0 0 0 20px;
      padding: 6px;
      text-align: center;
      width: 80px;
    }
    
  }

  .product-options {
    border-top: 1px solid @colorg;
    border-bottom: 1px solid @colorg;
    margin: 0 0 15px;
    padding: 10px 0 20px;
    .section-heading {
      font-size: @fsb * 1.1;
      margin: 0 0 5px;
    }
    .options-set {
      display: inline-block;
      margin: 0 10px 10px 0;
    }
    select {
      padding: 5px 20px;
      max-width: 40vw;
    }
    @media only screen and (max-width: 768px) {
      select {
        max-width: 90vw;
      }
    }
  }

  .btn-add-to-cart, .btn-product-subscribe {
    background: @color1;
    border: none;
    color: @colorw;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    
    &:hover {
      background: @colord;
    }
  }
  .btn-buy-now {
    margin: 0 0 0 10px;
    text-decoration: underline;
  }
  .btn-product-subscribe {
    background: @color2;
  }
}

