
@cs-cart-popout-color: @colord;
@cs-cart-popout-bg: fade(@colorb,40%);
@cs-cart-popout-content-bg: @colorw;


.cs-btn-cart-popout {
  color: @cs-cart-popout-color;
  font-size: @fsb * 1.6;
  margin-left: 10px;
  position: relative;
  .num-items {
    background: @cs-color2;
    border-radius: 100px;
    color: @colorw;
    height: 22px;
    text-align: center;
    position: absolute;
    font-size: @fsb * 0.9;
    font-weight: bold;
    right: -10px;
    width: 22px;
    top: -3px;
  }
  &:hover {
    color: @color2;
  }
}

.close-cs-cart-popout {

  cursor: pointer;
  position: fixed;
  right: 0;
  top: 15px;
  z-index: 1040;
  padding: 10px 10px 30px 30px;
  img {
    // SVG color convert https://codepen.io/sosuke/pen/Pjoqqp
    //white
    //filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(1deg) brightness(100%) contrast(100%);
    width: 48px;
  }
}
.close-cs-cart-popout {
  img {
    // white 
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(1deg) brightness(100%) contrast(100%);
    //filter: invert(55%) sepia(39%) saturate(538%) hue-rotate(106deg) brightness(99%) contrast(85%);
  }
}


#cs-cart-popout {
  background: @cs-cart-popout-bg;
  .animated-modal-content {
    border-radius: 0;
    border: none;
    box-shadow: none;
    position: relative;
    z-index: 50;
  }

  &:before {
    .pseudo-item(0,0,0,0,100%,100%);
    background: @cs-cart-popout-content-bg;
    z-index: 20;
  }


      @media only screen and (min-width: 992px) {

        .animated-modal-content {
          margin-left: 50%;
          width: 50%;
        }

          &:before {
            margin-left: 50%;
            width: 50%;
          }


      }//rwd


      @media only screen and (min-width: 1200px) {

        .animated-modal-content {
          margin-left: 70%;
          width: 30%;
        }

          &:before {
            margin-left: 70%;
            width: 30%;
          }


      }//rwd
}// 






.cs-cart-popout-inner {

  padding: 20px 80px 50px 10px;
  min-height: 50vh;

  z-index: 9985;
  a {
    color: @cs-cart-popout-color;
    font-size: @font-size-base * 1.4;
    display: block;
    padding: 5px 20px;
  }

  
}// inner




// ##############################################################################
// ##############################################################################
// rwd



@media only screen and (max-width: 767px) {


  .cs-cart-popout {
    bottom: 0;
    height: auto;
    overflow-y: scroll;
  }

}//rwd



@media only screen and (max-width: 600px) {


  .cs-cart-popout {
//    padding-top: 75px;
  }

}//rwd
