
@checkout-col-collapse: 1350px;


  body {
    &.cart-has-items {
      .cart-has-items-checkout {
        display: block;
        opacity: 1;
      }
    }
    &.page-checkout {
      .cart-has-items-checkout {
        display: none;
        opacity: 0;
      }
    }
  }
  .cart-has-items-checkout {

    display: none;
    opacity: 0;

    background: @cs-color2;
    border: 1px solid @cs-color2-dark;
    border-radius: 7px;
    bottom: 15px;
    color: @colorw;
    font-weight: 600;
    padding: 7px 15px;
    position: fixed;
    right: 15px;
    text-transform: uppercase;
    z-index: 1950;

    .animate-this(2s,2s,10);
    .pulse;

    &:hover {
      color: @colorw;
    }
  }

  .cart-items-hide-wrapper {
    display: none;
  }
  @media (min-width: @checkout-col-collapse) {
    .cart-items-hide-wrapper {
      display: block;
    }
    .cart-items-btn {
      display: none;
      opacity: 0;
    }
  }
// checkout

.checkout {

  .col-checkout-form {
    padding: 0 15px;
  }

  .col-checkout-info {
    background: @cs-colorg-light;
  }

   @media (min-width: @checkout-col-collapse) {

    .checkout-ehc {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }

    .checkout-ehc-col {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
    }

    .col-checkout-form {
      margin: 30px 0 200px;

      flex: 3;
    }
    .col-checkout-info {
      order: 2;
      flex: 2;
    }

  }//rwd 

   @media (min-width: 1500px) {
    .col-checkout-form {
      padding: 0 30px 0 12%;
    }
  }

  .checkout-heading {
    background: @cf-color2;
    padding: 20px 0;
    h2 {
      color: @colorw;
      font-size: @fsb * 1.6;
      margin: 0;
      text-align: center;
    }
  }

  .cart-items-btn {
    background: @cs-color1;
    border: 1px solid @cs-color1;
    color: @colorw;
    margin: 0 0 25px;
    padding: 7px 15px;
  }

  .cart-info {
    padding: 50px 4%;
    margin: 0 0 30px;

    .cart-items {
      margin-bottom: 15px;
      font-size: @fsb * 0.95;
      padding: 20px 0 0;
    }
    .cart-item {
     //border-bottom: 1px solid @cs-colorg;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .item-details {
      min-height: 67px;
      position: relative;
      padding: 0 0 0 90px;
    }
    .image-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: 67px;
      img {
        border: 1px solid @cs-colorg;
        border-radius: 5px;
      }
      .cart-item-qty {
        background: @cs-color1;
        border-radius: 100px;
        color: @cs-color1-color;
        height: 25px;
        font-weight: bold;
        position: absolute;
        top: -10px;
        right: -10px;
        width: 25px;
        text-align: center;
      }
    }
    .cart-title {
      color: @colord;
      display: block;
      font-size: @fsb * 0.95;
      font-weight: bold;
      margin: 0 0 5px;
    }
    .item-subtotal {
      font-weight: 400;
      text-align: right;
    }

    .checkout-cart-totals {
      border: 1px solid @cs-color2;
      padding: 10px;
    }

    .cart-totals-heading {
      font-weight: 400;;
    }
    .cart-totals-item {
      text-align: right;
    }

    .totals-row {
      display: flex;
      flex-direction: row;
    }
    .totals-last {
      margin-left: auto;
    }

    .shipping-option {
      font-size: @fsb * 0.9;
    }
    .shipping-row {
      margin-top: 10px;
    }
    .cart-totals {
      border-top: 1px solid @cs-colorg;
      margin-top: 15px;
      padding-top: 15px;
    }
    .cart-total {
      font-size: @fsb * 1.2;
      font-weight: 600;
    }
    .cart-total-price {
      font-size: @fsb * 1.5;
      font-weight: 600;
      text-align: right;
    }
  }






  // checkout form 

  .checkout-form-contents {

    .btn-voucher {
      background: @cs-color1;
      color: @cs-color1-color;
      cursor: pointer;
      display: inline-block;
      padding: 8px 15px;
      &:hover {

      }
    }


  }


  @media (min-width: 992px) {

    .back-to-cart {
      padding-left: 30px;
    }

  }





}// checkout 