

.nav-primary .navbar-nav .dropdown.yamm-fw .dropdown-menu {
  background: @colorw;
  border-bottom: 1px solid @colorg;
  max-width: 100%;
}


.cs-mega-menu {
  position: relative;
  z-index: 2500;

  .cs-mm-item, .cs-mm-child.all-primary-1 {
    > h2, > a {
      display: block;
      font-size: @fsb * 1.2;
      font-weight: bold;
      margin: 0 0 5px;
      padding: 4px;
      .ffb;
      text-transform: uppercase;
    }
    h2 {
      border-bottom: 1px solid @colorg;
    }
  }
  .cs-mm-item {
    padding-bottom: 30px;
  }

  .cs-mm-child {
    a {
      display: block;
      font-size: @fsb * 1;
      padding: 4px;
    }
  }

}