

@cs-color1: @color1;
@cs-color2: @color1;
@cs-color2-dark: mix(@colorb,@cs-color2,40%);
@cs-color2-light: mix(@colorw,@cs-color2,30%);
@cs-color3: @color3;
@cs-colord: @colord;
@cs-colorg: @colorg;
@cs-colorg-light: @colorg-light;
@cs-colorg-dark: @colorg-dark;

@cs-color1-color: @colorw;
@cs-color2-color: @colorw;
@cs-color3-color: @colorw;
@cs-colord-color: @colorw;
@cs-colorg-color: @colord;


@import "checkout.less";
@import "cart.less";
@import "cart-styles.less";
@import "cart-popout.less";
@import "cart-popout-styles.less";
@import "products/list.less";
@import "products/detail.less";
@import "product-categories.less";
@import "cs-mega-menu.less";
@import "random.less";
