


.detail-categories {
  .category-title {
    text-align: center;
    h1 {
      text-transform: capitalize;
    }
  }
  .category-crumbs {
    margin: 0 0 10px;
    text-align: center;
    .divider {
      color: @cs-colorg-dark;
      display: inline-block;
      margin: 0 6px;
    }
  }

}//details 





.list-categories {

  .col-item {

      .image-wrapper {
        &.image-crop-crop_focal {
          //min-height: 320px;
        }
        &.image-crop-max {
        }
      }

          
    .item-wrapper {  
      border: none;
      //height: 100%;
      //display: flex;           
      //flex-direction: column;  
      .transition(.6s all);
      
      &:hover {
        text-decoration: none;
        .category-title {
          background: @colord;
        }
      }
    }
  }
  .category-title {
    background: @color2;
    color: @colorw;
    font-size: @fsb * 1.5;
    font-weight: 400;
    margin: 0;
    display: flex;
    padding: 15px;
    flex: 1;
    align-items: center;
    justify-content: center;
    .transition(.6s all);
    a {
      color: @colorw;
    }
  }
}
