
.shipping-global-message {
  background: @color2;
  color: @colorw;
  font-size: @fsb * 1.1;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
}

.shop-off-message {
  border: 1px dashed #800;
  color: #800;
  margin: 20px 0;
  padding: 10px 20px;
  .lead;

  :last-child {
    margin-bottom: 0;
  }
}
