<footer class="footer-global">
{{ gvfooter }}

  <div class="content-blocks">
    {{ partial:content-blocks/blocks/content-blocks }}
  </div>

{{ /gvfooter }}
</footer>

<div class="footer-copyright">
  <div class="site-width-centered">
    &copy; {{ now format="Y" }} All Content Copyright {{ site_name }}
    <div class="meta-links"> <span class="divider first">|</span>
      <a href="{{ gv_to_privacy }}">Privacy</a> <span class="divider">|</span>
      <a href="{{ gv_to_terms }}">Terms &amp; Conditions</a> <span class="divider">|</span>
      <a href="{{ gv_to_sitemap }}">Sitemap</a> <span class="divider">|</span>
      <a class="site-author" href="{{ site_author_url }}">Website Design{{ unless gvcustomshop:gs_kill_shop }}, Ecommerce Store{{ /if }} & Local SEO by {{ site_author_name }}</a>  <a class="site-author" href="/great-south-land-design-local-business-directory.html">- a GSLD company</a>
    </div>
  </div>
{{ unless gvcustomshop:gs_kill_shop }}
  <div class="site-width-centered">
    <div class="shop-terms">
      <a href="{{ gv_to_terms }}">Shop & Ecommerce Terms &amp; Conditions</a> <span class="divider">|</span>
      <a href="{{ gv_to_shop_returns }}">Returns Policy</a>
    </div>
  </div>
{{ /if }}
</div>

