<div class="site-width-centered" id="site-width-centered-marker"></div>
<header class="global clearfix" id="top">
  <div class="top-bar">
    <div class="contacts swc">
      <a class="text-lg no-td" href="tel:{{ gvcontact:gv_phone regex_replace=' |' }}"
        onclick="gtag('event', 'clicks', { event_category: 'Phone Number', event_action: 'Clicked'});"> <i class="fa fa-phone"></i> &nbsp;&nbsp; {{ gvcontact:gv_phone }}</a>
      <a class="no-td" href="mailto:{{ gvcontact:gv_email }}"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; {{ gvcontact:gv_email }}</a>
      <div class="markdown-br"></div>
    </div>
  </div>
  <div class="swc">
    <div class="nav-primary-wrapper">
      {{ partial:nav/nav-primary }}
    </div>
  </div>
  {{#
  <a href="/" class="site-logo3">
    <span class="alt"><img class="img-responsive" src='{{ theme:asset src="{gv_site_logo}" }}'
        alt="{{ site_name }}"></span>
  </a>
  #}}
  <a class="nav-burger-btn" id="nav-burger-btn" href="#nav-burger">
    <img class="img-responsive" src='{{ theme:asset src="img/icon-burger-thick.svg" }}' alt="Open Menu">
  </a>

</header>