
{{ if header_sets }}
<div class="header-slider show-header-bg-{{ header_bg_angle:0:show_header_bg }}">
{{ partial:item-header/slider }}
</div>
{{ elseif page_img AND page_img_as_header }}
  <div class="default-header-image {{ if gv_item_heading_in_image }}heading-in-image{{ /if }}">
    <figure class="image">
      {{ assets:page_img }}
      <div class="item bg-opacity-{{ gv_default_header_bg_opacity }}"
        style="background:url('{{ glide:url format=""  width="1400" height="320" fit="crop_focal" }}') center center; background-size:cover;">
        <div class="break-top cbbt-{{ gv_default_header_height }} cbbtt-{{ gv_default_header_tablet_height }} cbbtm-{{ gv_default_header_mobile_height }}">
        </div>
        {{ if gv_item_heading_in_image && item_heading }}
        {{ partial:item-header/heading var_swc="false" }}
        {{ /if }}
      </div>
      {{ /assets:page_img }}
    </figure>
  </div>
{{ elseif gv_header_bg }}
  {{ if no_gv_bg }}
    {{ if item_heading }}
    <div class="item-header-block no-image">
      {{ partial:item-header/heading }}
    </div>
    {{ /if }}
  {{ else }}
  <div class="default-header-image {{ if gv_item_heading_in_image }}heading-in-image{{ /if }}">
    <header class="">
        <figure class="image">
        {{ assets:gv_header_bg }}
           <div class="item bg-opacity-{{ gv_default_header_bg_opacity }}" style="background:url('{{ glide:url format="" width="1400" height="320" fit="crop_focal" }}') center center; background-size:cover;">
          <div class="break-top cbbt-{{ gv_default_header_height }} cbbtt-{{ gv_default_header_tablet_height }} cbbtm-{{ gv_default_header_mobile_height }}">
          </div>
          {{ if gv_item_heading_in_image && item_heading }}
            {{ partial:item-header/heading var_swc="false" }}
          {{ /if }}
           </div>
        {{ /assets:gv_header_bg }}
        </figure>
    </header>
  </div>
  {{ /if }}

{{ else }}

<div class="item-header-block no-item-header">
{{ if item_heading }}
{{ partial:item-header/heading }}
{{ /if }}
</div>

{{ /if }}
