<div class="date-tags is-inline is-heading-text {{ if var_white }}is-white{{ /if}}">
{{ if var_no_date }}
{{ else }}
<div class="tag-item tag-date event-date2">
  <span class="inner">
    <span class="icon heading-icon"><i class="fa fa-calendar"></i> &nbsp;</span>
    {{ date format="l jS F, Y" }} {{ if toggle_end_date }}- {{ end_date format="l jS F, Y" }}{{ /if }}
  </span>
</div>
{{ /if }}
{{ author }}
{{ if first }}
<div class="tag-item tag-author">
  <span class="heading-text">Author: &nbsp;</span>
{{ /if }}
  <a class="tag" href="{{ var_gv_to }}/author/{{ slug }}">{{ title }}{{ if !last }}, {{ /if }}</a>
{{ if last }}
</div>
{{ /if }}
{{ /author }}
{{ categories }}
{{ if first }}
<div class="tag-item tag-categories">
  <span class="heading-text">Category: &nbsp;</span>
{{ /if }}
  <a class="tag" href="{{ var_gv_to }}/category/{{ slug }}">{{ title }}{{ if !last }}, {{ /if }}</a>
{{ if last }}
</div>
{{ /if }}
{{ /categories }}
{{ tags }}
{{ if first }}
<div class="tag-item tag-tags">
  <span class="heading-text">Tags: &nbsp;</span>
{{ /if }}
  <a class="tag" href="{{ var_gv_to }}/tag/{{ slug }}">{{ title }}{{ if !last }}, {{ /if }}</a>
{{ if last }}
</div>
{{ /if }}
{{ /tags }}
{{ if is_video }}<a href="{{ url }}"><div class="tag-item tag-video"><i class="fa fa-youtube-play"></i></div></a>{{ /if }}
</div>
