{{ partial:item_header }}
{{ partial:nav/secondary }}

{{ partial:nav/back var_link="{{ gv_to_newsletter_archive }}" var_text="Newsletter" }}

<div class="page-container site-width-centered">
  <div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
  </div>

{{ collection:newsletters show_past="yes" limit="200" paginate="true" }}
  {{ entries }}
    {{ if first }}
    <div class="archive-list">
      <h3>Archived Newsletters</h3>
    {{ endif }}

    <a class="item" target="_blank" href="{{ file }}"><span class="title">{{ title }}</span>  <span class="btn-icon post">View Archived Newsletter <i class="fa fa-download"></i> </span></a>

    {{ if last }}
    </div>
    <nav class="nav-pagination">
    {{ partial:nav/pagination use_context="true" }}
    </nav>
    {{ endif }}
  {{ /entries }}
{{ /collection:newsletters }}

</div>
