{{ partial:item_header }}
{{ partial:nav/secondary }}

<div class="page-container site-width-centered">
  <div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
  </div>
  <br>
  <div class="list-one">
  {{ collection:newsletters as="posts" limit="1" }}
    {{ posts }}
   <a target="_blank" class="btn btn-action" href="{{ item_file }}"> <span class="title">Download The Latest Newsletter ({{ title }}) </span> &nbsp; <i class="fa fa-download"></i></a>
    {{ /posts }}
  {{ /collection:newsletters }}
  </div>

  <div class="archive-list">
    <h2>Older Newsletters</h2>
    {{ collection:newsletters as="posts" group_by_date="Y" offset="1" limit="30" }}
      {{ date_groups }}
        <h4>{{ date_group }}</h4>
        {{ posts }}
          <a class="item" target="_blank" href="{{ item_file }}"><span class="title">{{ title }}</span>  <span class="btn-icon post">View Archived Newsletter <i class="fa fa-download"></i> </span></a>
        {{ /posts }}
      {{ /date_groups }}
    {{ /collection:newsletters }}
    <hr>

{{#
    <p>For older newsletters visit the newsletter archive page:</p>
    <p><a href="{{ gv_to_newsletter_archive }}" class="btn btn-one">Newsletter Archive Page &nbsp; <i class="fa fa-angle-double-right"></i> </a></p>
#}}

  </div>

</div>
