{{ partial:item_header item_heading="Styleguide" }}

<br><br>

<div class="site-width-centered">
<br><br>
<h1>About this website</h1>
<p>This website was proudly designed, developed and loved into creation <strong>in the amazing Great Southland of Australia</strong> by an Aussie web design studio:</p>

<h2>{{ site_author_name }}</h2>

<p>100% Handmade and hand-coded, painstakingly stitched together with Html, LESS CSS, Javascript, Responsive Web Design, the <strong>absolutely amazing Statamic CMS</strong>, Bootstrap framework, Typekit, Font Awesome, Atom editor, Codekit, iTerm, Serif Affinity Designer & Photo, several 13" & 16" Macbook Pro's with multiple monitors and all of the upgrades - AND exceptional home roasted coffee thanks to a Behmor 1600 from CoffeeSnobs.</p>

<p><strong>Love this site and want a website just as amazing? <a class="" target="_blank" href="{{ site_author_url }}/contact">Contact Us... </a></strong></p>

</div>

<div class="site-width-centered">
<br><br>
<h1>Colours</h1>
</div>
<hr>

<div class="page-container colophon site-width-centered">

      <section >
        <div class="all-colours">
          <span class="colour1">Color 1</span>
          <span class="colour2">Color 2</span>
          <span class="colour3">Color 3</span>
          <span class="colour4">Color 4</span>
        </div>
        <div class="colour-1">
          <br><br>
          <strong class="inner-heading">Colour 1</strong>
          <span class="block x100">100%</span>
          <span class="block x70">70%</span>
          <span class="block x50">50%</span>
          <span class="block x30">30%</span>
          <span class="block x20">20%</span>
          <span class="block x10">10%</span>
          <span class="block x5">5%</span>

          <p>Colour 1 at 100%</p>
          <p class="text70">Colour 1 at 70%</p>
          <p class="text30">Colour 1 at 30%</p>
          <p class="text10">Colour 1 at 10%</p>

          <p>Colour 1 - Dark</p>
          <div class="color1-dark"></div>
        </div>


        <div class="colour-2">
          <strong class="inner-heading">Colour 2</strong>
          <span class="block x100">100%</span>
          <span class="block x70">70%</span>
          <span class="block x50">50%</span>
          <span class="block x30">30%</span>
          <span class="block x20">20%</span>
          <span class="block x10">10%</span>
          <span class="block x5">5%</span>

          <p>Colour 2 at 100%</p>
          <p class="text70">Colour 2 at 70%</p>
          <p class="text30">Colour 2 at 30%</p>
          <p class="text10">Colour 2 at 10%</p>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <p>Colour 2 - Dark</p>
                <div class="color2-dark"></div>
              </div>
              <div class="col-md-4">
                <p>Colour 2 - Light</p>
                <div class="color2-light"></div>
              </div>
            </div>
          </div>

        </div>

        <div class="colour-3">
          <strong class="inner-heading">Colour 3</strong>
          <span class="block x100">100%</span>
          <span class="block x70">70%</span>
          <span class="block x50">50%</span>
          <span class="block x30">30%</span>
          <span class="block x20">20%</span>
          <span class="block x10">10%</span>
          <span class="block x5">5%</span>

          <p>Colour 3 at 100%</p>
          <p class="text70">Colour 3 at 70%</p>
          <p class="text30">Colour 3 at 30%</p>
          <p class="text10">Colour 3 at 10%</p>
        </div>

        <div class="colour-4">
          <strong class="inner-heading">Colour 4</strong>
          <span class="block x100">100%</span>
          <span class="block x70">70%</span>
          <span class="block x50">50%</span>
          <span class="block x30">30%</span>
          <span class="block x20">20%</span>
          <span class="block x10">10%</span>
          <span class="block x5">5%</span>
          <br><br>
          <p>Colour 4 at 100%</p>
          <p class="text70">Colour 4 at 70%</p>
          <p class="text30">Colour 4 at 30%</p>
          <p class="text10">Colour 4 at 10%</p>
        </div>


      </section>

</div>



<div class="site-width-centered">
<br><br>
<h1>Content Blocks</h1>
</div>
<hr>


<div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
</div>
