{{ partial:item_header }}
{{ partial:nav/page-menu }}
{{ partial:nav/back }}

{{ if cf_in_col }}
  <div class="site-width-centered">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">

          <div class="content-blocks">
      {{ partial:auto-layouts/auto-layout }}
          </div>

        </div>
        <div class="col-md-7">

      {{ partial:custom-form/custom-form var_in_col="cf-in-col" }}

        </div>
      </div>
    </div>
  </div>

{{ else }}
  <div class="site-width-centered">
    <div class="content-blocks">
    {{ partial:auto-layouts/auto-layout }}
    </div>
  </div>
  {{ partial:custom-form/custom-form }}
{{ /if }}

{{ if map_embed }}
  <section class="full-map" id="map">
  <div class="rwd-iframe-lg gmap-iframe">
    <div class="rwd-iframe-wrapper">
      <div class="rwd-iframe {{ if gv_maps_greyscale }}iframe-greyscale2{{ /if }}">
        <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
  {{ map_embed }}
      </div>
    </div>
  </div>
  </section>
{{ /if }}

{{ partial:page/page-margin-bottom }}
