{{ partial:item_header }}

<nav class="nav-secondary" role="navigation" id="nav-secondary">
  <div class="site-width-centered">
    <ul class="list-reset">
      <li><a href="{{ parent:url }}">{{ parent:title }} &nbsp;<i class="fa fa-angle-right"></i> </a></li>
      {{ nav from="/products" toggle_hidden:isnt="true" scope="tag" max_depth="2" }}
      <li class="">
        <a href="{{ url }}" {{ if is_current || is_parent }} class="active" {{ /if }}>{{ title }}</a>
      </li>
      {{ /nav }}
    </ul>
  </div>
</nav>


<div class="content-blocks">
  {{ partial:auto-layouts/auto-layout }}
</div>


