{{ if redirect_do }}
{{ redirect to="{redirect_to}" }}
{{ else }}

{{ partial:item_header }}
{{ partial:nav/back }}
{{ partial:nav/page-menu }}

{{ if content_blocks }}
<div class="content-blocks">
  {{ partial:auto-layouts/auto-layout }}
</div>
{{ else }}
<br><br><br>
{{ /if }}

<div class="swc page-content-padding">
  <div class="page-menu">
    {{ nav:exists from="{url}" }}
        {{ if page_menu_kind == "tags" }}
        {{ nav from="{url}" toggle_hidden:isnt="true" max_depth="2" }}
          <a class="btn btn-tags" href="{{ url }}">{{ title }}</a>
        {{ /nav }}

        {{ elseif page_menu_kind == "rabbit-holes" }}

        <div class="content-blocks">
          <div class="block-rabbit-holes block-size-md color-one style-one type-inset bg-color-none bg-opacity-">
            <div class="site-width-centered page-content-padding">
              <div class="container-fluid">
                <div class="row">
                  {{ nav from="{url}" toggle_hidden:isnt="true" max_depth="2" }}
                  
                  <a href="{{ url }}" class="{{ if total_results == 1 }}col-sm-4 col-md-3 col-sm-offset-4
              {{ elseif total_results == 2 }} col-sm-4 col-md-3 {{ if first }}col-sm-offset-2 col-md-offset-3{{ /if }}
              {{ elseif total_results == 3 }} col-sm-4 col-md-3 {{ if first }}col-md-offset-1{{ /if }}
              {{ else }} col-sm-4 col-md-3 {{ /if }} item">

                    <div class="content">
                      <div class="image lazyload" data-src="{{ glide:page_img format="" width="650" height="450" fit="crop_focal" }}">
                      </div>
                      <div class="inner-content">
                        <h2><span class="text1">{{ title }}</span></h2>
                      </div>
                    </div>
                  </a>
                  {{ /nav }}
                </div>
              </div>
            </div>
          </div>
        </div>

        {{ /if }}        
    </nav>
    {{ /nav:exists }}
  </div>
</div>

{{ partial:page/page-margin-bottom }}

{{ /if }}