
{{ partial:item_header }}
{{ partial:nav/page-menu }}
{{ partial:nav/back }}

<div class="secure-page">

{{ if !logged_in }}
<div class="page-container site-width-centered">
  <div class="not-logged-in-message">
    {{ gv_secure_message | markdown }}
  </div>

  <section class="form-secure-login">
    <h2 class="form-heading">Please login to continue</h2>

    {{ user:login_form attr="class:form|id:form-login" redirect="{url}" }}

      {{ if errors }}
      <div class="message message-error">
        <i class="fa fa-times fa-3x"></i>
        <h3 class="heading">
          {{ errors }}
            {{ value }}<br>
          {{ /errors }}
        </h3>
      </div>
      {{ /if }}

        <div class="form-group">
          <label class="" for="username">Username <span class="req">(required)</span></label>
            <input type="text" class="form-control" maxlength="255" name="username" value="{{ old:username }}" id="username" required  data-validation-required-message="Please Enter Your Username">
        {{ if field_errors:username }}
          <small class="error">{{ field_errors:username }}</small>
        {{ /if }}
        </div>
        <div class="form-group">
          <label class="" for="password"> Password <span class="req">(required)</span></label>
            <input type="password" class="form-control" maxlength="255" type="password" name="password" value="" id="password" required  data-validation-required-message="Please Enter Your Password">
      {{ if field_errors:password }}
        <small class="error">{{ field_errors:password }}</small>
      {{ /if }}
        </div>
        <button type="submit" class="btn btn-submit" name="submit">LOGIN &nbsp;&nbsp;<i class="fa fa-sign-in"></i></button>

    {{ /user:login_form }}
    <br>
    <p>If you have forgotten your login details, please <a href="{{ gv_to_contact }}">contact us</a></p>
    <br><br><br>
  </section>

</div>

{{ else }}

<div class="logged-in-message">
  <div class="site-width-centered">
    You are logged in as {{ user:profile }}{{ first_name }}{{ /user:profile }}. If you are finished you may <a href="{{ user:logout_url redirect='/' }}">sign out</a>.
  </div>
</div>

<div class="">
  <div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
  </div>
</div>
{{ /if }}

</div>
