{{ partial:item_header item_heading="Sitemap" }}

<div class="page-content-padding site-width-centered">
<br><br><br>
  <nav class="nav-sitemap">
  <ul class="list-reset">
    <li><a href="/">Home</a></li>
     {{ nav from="/" toggle_hidden:isnt="true" scope="tag" max_depth="2" }}
        <li class="">
           <a href="{{ url }}">{{ title }}</a>
              {{ if children }}
                 <ul>{{ *recursive children* }}</ul>
              {{ /if }}
        </li>
     {{ /nav }}
  </ul>
  </nav>

<br><br><br><br>
</div>
