{{ partial:item_header item_heading="Article Archives" }}
{{ partial:collection/blog/back var_archives="true" }}
<div class="site-width-centered">
<div class="container-fluid container-swc">
<div class="row">
  <div class="col-md-9">

    <section class="list-blog">

{{ if segment_3 }}

  {{ collection:blog group_by_date="Y M" limit="200" }}

    {{ date_groups }}
    <a href="{{ gvblog:gv_to_blog }}/{{ date_group format='Y' }}/{{ date_group format='m' }}">{{ date_group format="F Y" }}</a> <br>
    {{ /date_groups }}

  {{ /collection:blog }}

{{ else }}

  {{ collection:blog group_by_date="Y" limit="200" }}
    {{ date_groups }}
      <a href="{{ gvblog:gv_to_blog }}/{{ date_group }}">{{ date_group }}</a> <br>
    {{ /date_groups }}
  {{ /collection:blog }}

{{ /if }}
    </section>

  </div>
  <div class="col-md-3">
{{ partial:collection/blog/sidebar var_tax="true" }}
  </div>
</div>
</div>
</div>
