{{ partial:item_header item_heading="All Authors" }}
{{ partial:collection/blog/back }}
<div class="site-width-centered">
<div class="container-fluid container-swc">
<div class="row">
  <div class="col-md-9">

    <section class="list-blog">
  {{ taxonomy:author from="blog" paginate="true" as="posts" limit="{gvblog:gv_blog_author_quantity}" sort="" }}
  {{ if no_results }}
    <p>No current Authors.</p>
  {{ else }}
    <article class="clearfix">

    {{ posts }}
  {{ partial:collection/blog/authors }}
    {{ /posts }}

    {{ partial:nav/pagination }}
  {{ /if }}
  {{ /taxonomy:author }}
    </section>

  </div>
  <div class="col-md-3">
{{ partial:collection/blog/sidebar var_tax="true" }}
  </div>

</div>
</div>
</div>
