{{ partial:item_header }}

<div class="site-width-centered">
  <br>
<div class="container-fluid container-swc">
<div class="row">
  <div class="col-md-9">

  <h3>Latest Articles</h3>
  <hr>
    <section class="list-blog has-heading">
    {{ collection:blog paginate="true" as="posts" limit="{gvblog:gv_blog_posts_quantity}" }}
    {{ if no_results }}
      <p>No current items.</p>
    {{ else }}
      <article class="clearfix">

    {{ partial:collection/blog/post }}

      </article>
      {{ partial:nav/pagination }}
    {{ /if }}
    {{ /collection:blog }}
    </section>

  </div>
  <div class="col-md-3">
  {{ partial:collection/blog/sidebar var_tax="true" }}
  </div>

</div>
</div>
</div>
