{{ partial:item_header }}
{{ partial:nav/secondary }}

<div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
</div>
{{ partial:collection/blog/back }}
<div class="site-width-centered">
<div class="container-fluid container-swc">
<div class="row">
  <div class="col-md-9">

    <section class="list-blog">
{{ relate:page_entries as="posts" }}
    {{ if no_results }}
      <p>No current items.</p>
    {{ else }}
      <article class="clearfix">

    {{ partial:collection/blog/post }}

      </article>
    {{ /if }}
{{ /relate:page_entries }}
    </section>

  </div>
  <div class="col-md-3">
{{ partial:collection/blog/sidebar var_tax="true" }}
  </div>
</div>
</div>
</div>
