{{ if redirect_do }}
  {{ redirect to="{redirect_to}" }}
{{ else }}
<div class="item-details">
{{ partial:item_header }}
{{ if show_title }}
<div class="swc page-content-padding blog-title">
  <h1>{{ title }} </h1>
</div>
<br>
{{ /if }}
{{ partial:nav/back var_link="{gvblog:gv_to_blog}" var_text="All Posts" }}

<div class="blog-tags-wrapper">
  <div class="site-width-centered clearfix">
{{ partial:collection/blog/post/blog-tags var_white="true" }}
  </div>
</div>

{{ if item_file }}
<div class="page-container site-width-centered clearfix">
  <br>
  {{ assets:item_file }}
  <a class="btn btn-one" target="_blank" href="{{ url }}"> Download Article &nbsp;&nbsp;<i class="fa fa-download"></i></a>
  {{ /assets:item_file }}
</div>
{{ /if }}

{{ if show_cover_img_post }}
  <div class="swc page-content-padding show-cover-image">
    <br>
    <img class="img-responsive" src='{{ glide:cover_img:0 width="700" height="500" fit="resize" }}' alt="{{ title }}" />
  </div>
{{ /if }}

<div class="content-blocks">
{{ partial:auto-layouts/auto-layout }}
</div>

{{ relate:item_related as="posts" scope="post" limit="50" }}
{{ if no_results }}
{{ else }}
<div class="list-blog list-related">
  <div class="related-heading">
    <h3 class="swc">Related Posts</h3>
  </div>
  <div class="swc">
	  <div class="container-fluid container-swc">
      <div class="row">
        <div class="col-sm-9">
          <article class="clearfix">
        {{ partial:collection/blog/post/one cover_img="{post:cover_img:0}" author="{post:author}" categories="{post:categories}" tags="{post:tags}" excerpt="{post:excerpt}" is_video="{post:is_video}" }}
          </article>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
  </div>
</div>
{{ /if }}
{{ /relate:item_related }}

<div class="list-blog list-next-prev">
<div class="swc">
  <div class="container-fluid container-swc">
    <div class="row">
{{ collection:previous in="blog" as="posts" scope="post" limit="1" sort="date:asc" }}
	{{ if no_results }}
  {{ else }}
    <div class="col-sm-6">
      {{ posts }}
      <div class="btn-next-prev">
        <a href="{{ url }}" class=""><i class="fa fa-angle-left"></i>&nbsp; Last Post</a>
      </div>
      {{ /posts }}
      <article class="wrapper clearfix">
    {{ partial:collection/blog/post/one var_next_prev="true" cover_img="{post:cover_img:0}" author="{post:author}" categories="{post:categories}" tags="{post:tags}" excerpt="{post:excerpt}" is_video="{post:is_video}" }}
      </article>
    </div>
  {{ /if }}
{{ /collection:previous }}
{{ collection:next in="blog" as="posts" scope="post" limit="1" sort="date:asc" }}
	{{ if no_results }}
  {{ else }}
      <div class="col-sm-6">
        {{ posts }}
        <div class="btn-next-prev next">
          <a href="{{ url }}" class="">Next Post &nbsp;<i class="fa fa-angle-right"></i> </a>
        </div>
        {{ /posts }}
        <article class="wrapper clearfix">
  {{ partial:collection/blog/post/one var_next_prev="true" cover_img="{post:cover_img:0}" author="{post:author}" categories="{post:categories}" tags="{post:tags}" excerpt="{post:excerpt}" is_video="{post:is_video}" }}
        </article>
      </div>
    {{ /if }}
	{{ /collection:next }}
    </div>
  </div>
</div>
<br><br><br><br><br>
</div>

</div>
{{ /if }}
