{{ partial:item_header item_heading="All {segment_2|deslugify|title}" }}
{{ partial:collection/blog/back }}
<div class="site-width-centered">
  <div class="container-fluid container-swc">
    <div class="row">
      <div class="col-md-7">
        <div class="list-taxonomies">
        {{ taxonomy use="{segment_2}" collection="blog" as="posts" sort="title" }}
          {{ if no_results }}

          {{ else }}

          <h3>All {{ segment_2|deslugify|title }}</h3>
          <hr>
          {{ posts }}
          <a class="item" href="{{ gvblog:gv_to_blog }}{{ if segment_2 == 'tags' }}/tag{{ else }}/category{{ /if }}/{{ slug }}"> <span>View all articles in </span> {{ title | deslugify | title }} &nbsp;<i class="fa fa-angle-right"></i> </a> <br>
          {{ /posts }}

          {{ /if }}
        {{ /taxonomy }}
        </div>
      </div>
      <div class="col-md-5">
{{ partial:collection/blog/sidebar var_tax="true" }}
      </div>
    </div>
  </div>
</div>
