<div class="blog-tags is-inline is-heading-text {{ if var_white }}is-white{{ /if}}">
<div class="tag-item tag-date">
  <span class="inner">
    <span class="icon heading-icon"><i class="fa fa-calendar"></i> &nbsp;</span>
    {{ date format="l jS F, Y" }}
  </span>
</div>
{{ author }}
{{ if first }}
<div class="tag-item tag-author">
  <span class="heading-icon"><i class="fa fa-user"></i>&nbsp;</span>
  <span class="heading-text">Author:</span>
{{ /if }}
  <a class="tag" href="{{ gvblog:gv_to_blog }}/author/{{ slug }}">{{ title }}{{ if !last }}, {{ /if }}</a>
{{ if last }}
</div>
{{ /if }}
{{ /author }}
{{ categories }}
{{ if first }}
<div class="tag-item tag-categories">
  <span class="heading-icon"><i class="fa fa-archive"></i>&nbsp;</span>
  <span class="heading-text">Categories:</span>
{{ /if }}
  <a class="tag" href="{{ gvblog:gv_to_blog }}/category/{{ slug }}">{{ title }}{{ if !last }}, {{ /if }}</a>
{{ if last }}
</div>
{{ /if }}
{{ /categories }}
{{ tags }}
{{ if first }}
<div class="tag-item tag-tags">
  <span class="heading-icon"><i class="fa fa-tags"></i>&nbsp;</span>
  <span class="heading-text">Topic(s):</span>
{{ /if }}
  <a class="tag" href="{{ gvblog:gv_to_blog }}/tag/{{ slug }}">{{ title }}{{ if !last }}, {{ /if }}</a>
{{ if last }}
</div>
{{ /if }}
{{ /tags }}
{{ if is_video }}<a href="{{ url }}"><div class="tag-item tag-video"><i class="fa fa-youtube-play"></i></div></a>{{ /if }}
</div>
