<div class="cover-image">
  {{ if item_file }}
    <img class="img-responsive" src='{{ glide:cover_img:0 format="" width="700" height="500" fit="{gvblog:gv_blog_img_resize}" }}' alt="{{ title }}" />
  {{ else }}
  <a href="{{ url }}">
    <img class="img-responsive" src='{{ glide:cover_img:0 format="" width="700" height="500" fit="{gvblog:gv_blog_img_resize}" }}' alt="{{ title }}" />
  </a>
  {{ /if }}
</div>
