
{{ posts }}
<div class="item {{ if last }}is-last{{ /if }}">
  <div class="row">
  {{ if cover_img }}
    <div class="{{ if var_next_prev }}col-sm-12 col-md-6 col-lg-4{{ else }}col-sm-4{{ /if }} col-image">
  {{ partial:collection/blog/post/image-one }}
    </div>
    <div class="{{ if var_next_prev }}col-sm-12 col-md-6 col-lg-8{{ else }}col-sm-8{{ /if }} col-content">
  {{ partial:collection/blog/post/text-one }}
    </div>

  {{ else }}

    <div class="col-md-12 no-image">
  {{ partial:collection/blog/post/text-one }}
    </div>

  {{ /if }}

  </div>
</div>

{{ /posts }}
