<div class="content">
  <div class="text">
    <h3 class="title">{{ if !item_file }} <a href="{{ url }}">{{ title }}</a>{{ else }}{{ title }}{{ /if }}</h3>
{{ partial:collection/blog/post/blog-tags }}
    <p class="excerpt">{{ excerpt | safe_truncate:200:... }}</p>
  </div>
{{ if item_file }}
  {{ assets:item_file }}
  <a class="btn-dl-article" target="_blank" href="{{ url }}"> Download Article &nbsp;&nbsp;<i class="fa fa-download"></i></a>
  {{ /assets:item_file }}
{{ else }}
  <div class="article-link">
    <span class="ball">•</span>
    <a class="" href="{{ url }}">Read More &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
  </div>
{{ /if }}
</div>
