<div class="blog-type-2">
{{ posts }}
{{ if index == "1" }}

  <div class="row">
    <div class="col-sm-12">
      <div class="post-1">
{{ if cover_img }}
        <div class="has-image" style="background:url('{{ glide src="{cover_img:0}" format="" width="1100" height="600" fit="crop_focal" }}') center center; background-size:cover;">
          {{ partial:collection/blog/post/text-one var_in_image="true" }}
        </div>
{{ else }}
  {{ partial:collection/blog/post/text-one }}
{{ /if }}
      </div>
    </div>
  </div>

{{ elseif index == "2" }}

  <div class="row posts-2-3">
    <div class="col-sm-6">
      <div class="alt-item">
    {{ if cover_img }}
      {{ partial:collection/blog/post/image-one }}
    {{ /if }}
      {{ partial:collection/blog/post/text-one }}
      </div>
    </div>
{{ if total_results =="2" }}
  </div>
{{ /if }}
{{ elseif index == "3" }}
    <div class="col-sm-6">
      <div class="alt-item">
    {{ if cover_img }}
      {{ partial:collection/blog/post/image-one }}
    {{ /if }}
      {{ partial:collection/blog/post/text-one }}
      </div>
    </div>
  </div>
  {{ if total_results > 3 }}
  <div class="hidden-xs">
  <hr>
  <br>
  </div>
  {{ /if }}

{{ else }}

<div class="item {{ if last }}is-last{{ /if }}">
  <div class="row">

  {{ if cover_img }}
    <div class="col-sm-4 col-image">
  {{ partial:collection/blog/post/image-one }}
    </div>
    <div class="col-sm-8 col-content">
  {{ partial:collection/blog/post/text-one }}
    </div>

  {{ else }}

    <div class="col-md-12 no-image">
  {{ partial:collection/blog/post/text-one }}
    </div>

  {{ /if }}

  </div>
</div>


{{ /if }}
{{ /posts }}
</div>
