<h3>Contact Details</h3><hr />
<strong>Name:</strong> {{ name }}<br />
<strong>Email:</strong> {{ email }}<br />
{{ if var_dest == 'workflow' }}<br /><br />
<h3>Submission Details</h3><hr />
<strong>Phone:</strong> {{ phone }}<br />
<strong>Message:</strong><br />
{{ message | nl2br }}<br /><br />
<strong>Form Name:</strong> {{ form_name }}<br />
<strong>Submission Date:</strong> {{ submission_date }}<br />
{{ /if }}
