
@btn-action-color: @colorw;
@btn-action-bg: @color2;
@btn-action-hover: @color2;
@btn-action-bg-hover: @colorw;

.btn-action {
  background: @btn-action-bg;
  border: 1px solid @btn-action-bg;
  border-radius: 0;
  color: @btn-action-color;
  font-size: @font-size-base * 1.3;
  .ffh;
  margin: 0 10px 20px 0;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  .transition(0.5s background);

  .fa {
    .transition(0.5s all);
  }

  .btn-icon {
    background: @btn-action-bg;
    color: @colorw;
    width: 40px;
  }

  &.has-icon {
    padding: 10px 60px 8px 20px;
  }

  &:after {
    .pseudo-item(-5px, -5px, -5px, -5px, auto, auto);
    border: 1px dashed @btn-action-bg;
  }

  &:hover, &:active, &:focus {
    background: @btn-action-bg-hover;
    border-color: @btn-action-bg-hover;
    color: @btn-action-hover;
    text-decoration: none;

    .fa {
      margin-left: -5px;
    }

    .btn-icon {
      background: @color3;
      color: @colorw;
      padding-left: 20px;
    }
  }



      &.size-md {
      font-size: @font-size-base * 1.15;
      padding: 15px 40px;
    }

    &.size-lg {
      font-size: @font-size-base * 1.7;
      padding: 20px 40px;
      min-width: 75%;
      margin-right: 0;
      text-align: center;
    }
    

}
