


.back-wrapper {
  background: @colord;
  .rwd-p(@site-width-1-bp,767px,/**/10px,0px,5px,0px,/**/10px,25px,5px,25px,/**/10px,15px,5px,15px);
  text-align: left;
  &.align-center {
    text-align: center;
  }
}

.btn-back {
  background: none;
  border: none;
  border-radius: 0;
  color: mix(@colorw, @colord, 80%);
  font-size: @font-size-base * 0.8;
  margin: 0 10px 5px 0;
  padding: 4px 0;
  position: relative;
  text-transform: uppercase;


  &:hover, &:active, &:focus {

    background-color: none;
    color: mix(@colorw, @colord, 100%);
    text-decoration: none;

  }
}
