

.btn.btn-no-link {
  cursor: default;
}


.btn-tags {
  background: @color2;
  border: 1px solid @color2;
  border-radius: 200px;
  color: @color3-text-color;
  font-size: @fsb * 1.1;
  margin: 0 10px 25px 0;
  padding: 8px 20px;
  &:hover {
    background: none;
    color: @color2;
  }
}





.btn-close {
  background: @colorw;
  border: 1px solid @color-error;
  border-radius: 200px;
  color: @color-error;
  margin: 0 0 10px 10px;
  &:hover {
    background: @color-error;
    color: @colorw;
  }
}





.btn-add-cart {
  background: @color1;
  border: 1px solid @color1;
  border-radius: 0;
  color: @colord;
  font-size: @font-size-base * 0.8;
  font-weight: 600;
  height: 35px;
  margin: 0 10px 10px 0;
  padding: 6px 30px 5px 10px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  .transition(.7s background);

  .btn-icon.post {
    background: @color1;
    color: @colord;
    width: 25px;
  }

  &:hover, &:active, &:focus {
    background: @colorw;
    border-color: @colord;
    color: @colord;
    text-decoration: none;
    .btn-icon {
      background: @colord;
      color: #fff;
    }
  }

}




.btn-pseudo {
  .btn-one;
}




.btn-list {
  margin: 30px 0 0;
  .btn-list-heading {
    background: #ddd;
    color: #333;
    display: inline-block;
    margin: 0;
    padding: 8px 20px;
  }
  .content {
    padding-top: 10px;
  }
  a {
    background: @color2;
    color: #333;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 9px 60px 9px;
    position: relative;
    .transition(0.6s all);
    &:hover {
      background: #333;
      color: #fff;
    }
  }
}




.btn-icon {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  width: 40px;

  .fa {
    position: absolute;
    .center-b;
  }

  &.pre {
    left: 0;
  }
  &.post {
    right: 0;
    width: 40px;
  }
}





// buttons






.btn-round {
  background: @color2;
  border: 1px solid @color2;
  border-radius: 100px;
  color: @colorw;
  font-size: @font-size-base * 0.8;
  margin: 0 10px 10px 0;
  padding: 4px 15px;
  position: relative;
  text-transform: uppercase;
  .transition(.7s background);

  .btn-icon {
    background: none;
    color: @colorw;
    width: 30px;
  }

  &.has-icon {
    padding: 4px 25px 4px 15px;
  }

  &:hover, &:active, &:focus {
    background: @color1;
    border-color: @color1;
    color: @colorw;
    text-decoration: none;
    .btn-icon {
      color: @colorw;
    }
  }

}
