
@btn-dark-color: @colord-text-color;
@btn-dark-color-alt: @colord;
@btn-dark-hover: @colorw;
@btn-dark-bg: @colord;
@btn-dark-bg-hover: @colord;


.btn-dark {
  background: @btn-dark-bg;
  border: 1px solid @btn-dark-color-alt;
  border-left: 10px solid @btn-dark-color-alt;
  border-radius: 0;
//  box-shadow: 1px 1px 3px 0 mix(@colorb,@btn-dark-color,1%);
  color: @btn-dark-color;
  font-size: @font-size-base * 0.9;
  font-weight: 600;
  margin: 0 10px 10px 0;
  padding: 12px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  .transition(.5s all);

  .fa {
    .transition(.5s margin);
  }

  &:hover, &:active, &:focus {
    background: @btn-dark-bg-hover;
    border-color: @btn-dark-hover;
    border-left-width: 8px;
    color: @btn-dark-hover;
    text-decoration: none;
    .fa {
      margin-left: -5px;
    }
  }


    &.outline {
      background: none;
      border: 1px solid @btn-dark-bg;
      color: @btn-dark-color-alt;

      &:hover {
        background: @btn-dark-bg;
        border: 1px solid @btn-dark-bg;
        color: @btn-dark-color;
      }
    }

    &.solid {
      background: @btn-dark-bg;
      border: 1px solid @btn-dark-bg;
      color: @btn-dark-color;

      &:hover {
        background: none;
        border: 1px solid @btn-dark-bg;
        color: @btn-dark-color-alt;        
      }
    }

    &.size-md {
      font-size: @font-size-base * 1.15;
      padding: 15px 30px 15px 35px;
    }

    &.size-lg {
      font-size: @font-size-base * 1.7;
      padding: 20px 35px 20px 40px;
      min-width: 75%;
      margin-right: 0;
      text-align: center;
    }

}
