
.header-btns {
  position: fixed;
  right: 5px;
  top: 5px;
  z-index: 1050;
  .transition(1s all);

  display: none;
  opacity: 0;

  .phone {
    font-size: @fsb * 1.3;
    font-weight: bold;
  }

    @media only screen and (max-width: 991px) {

      display: block;
      opacity: 1;

    }//rwd


}




.btn-global-top {
  background: @color1;
  border-radius: 200px;
  border: none;
  box-shadow: none;
  color: @colorw;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  height: 32px;
  margin: 0 0 4px 3px;
  padding: 1px 0 0 1px;
  text-align: center;
  vertical-align: top;
  width: 32px;
  .transition(.5s background);

  &:hover, &:active, &:focus {

  }

  &.facebook {
    font-size: 16px;
    padding-top: 4px;
  }
  &.search {
    padding-top: 0px;
    .fa {
      position: relative;
      top: -1px;
    }
  }
  &.cart {
    padding-top: 6px;
    .fa {
      margin-left: -2px;
    }
  }




  &.nav {
    display: none;
    opacity: 0;
    z-index: 9995;

  }
}


@media only screen and (min-width: 992px) {

body.off-top {
  .header-btns {
    background: none;
    padding: 4px;
    right: 0;
    top: 45px;
    width: 48px;
  }
}

} // rwd




//


.global-btn {
  background: @color2;
  border: 1px solid @color2;
  bottom: 5px;
  border-radius: 200px;
  color: @colorw;
  font-size: 22px;
  height: 35px;
  padding-top: 1px;
  position: fixed;
  text-align: center;
  width: 35px;
  z-index: 1050;

  &.back {
    padding-right: 2px;
    right: 48px;
  }

  &.top {
    right: 5px;
  }

  &:hover, &:active, &:focus {
    background: @color1;
    border: 1px solid @color1;
    color: @colorw;
  }
}




// ##############################################################################
// ##############################################################################
// rwd



@media only screen and (max-width: @site-width-1) {

.btn-global-top {

}

} // rwd



@media only screen and (min-width: (@screen-sm-max + 1)) {
  .header-btns {
//    top: 70px;
  }
}


@media only screen and (max-width: @screen-sm-max) {

  body.off-top {
    .header-btns {
      top: 10px;
    }
  }

.btn-global-top {

  &.nav {
    display: inline-block;
    height: 50px;
    opacity: 1;
    right: 15px;
    width: 50px;
  }

}

.header-btns {
  top: 10px;
}


} // rwd

@media only screen and (max-width: 767px) {



}//rwd

@media only screen and (max-width: 650px) {



}
