
@btn-one-color: @color1-text-color;
@btn-one-color-alt: @color1;
@btn-one-hover: @colorw;
@btn-one-bg: @color1;
@btn-one-bg-hover: @color1;


.btn-one {
  background-color: @btn-one-bg;
  background-image: linear-gradient(130deg,@color1 10%,@color1-dark 90%);
  box-shadow: 5px 5px 15px rgb(0 0 0 / 15%);
  border: 1px solid @btn-one-color-alt;
  //border-left: 10px solid @btn-one-color-alt;
  border-radius: 6px;
//  box-shadow: 1px 1px 3px 0 mix(@colorb,@btn-one-color,1%);
  color: @btn-one-color;
  font-size: @font-size-base * 0.9;
  font-weight: 600;
  margin: 0 10px 10px 0;
  padding: 12px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  .transition(.5s all);

  .fa {
    .transition(.5s margin);
  }

  &:hover, &:active, &:focus {
    background: @btn-one-bg-hover;
    border-color: @btn-one-hover;
    //border-left-width: 8px;
    color: @btn-one-hover;
    text-decoration: none;
    .fa {
      
    }
  }


    &.outline {
      background: none;
      border: 1px solid @btn-one-bg;
      box-shadow: 5px 5px 15px rgb(0 0 0 / 15%);
      color: @btn-one-color-alt;

      &:hover {
        background: @btn-one-bg;
        border: 1px solid @btn-one-bg;
        box-shadow: 5px 5px 15px rgb(0 0 0 / 15%);
        color: @btn-one-color;
      }
    }

    &.solid {
      background-color: @btn-one-bg;
      background-image: linear-gradient(130deg,@color1 10%,@color1-dark 90%);
      border: 1px solid @btn-one-bg;
      color: @btn-one-color;

      &:hover {
        background: none;
        border: 1px solid @btn-one-bg;
        color: @btn-one-color-alt;        
      }
    }

    &.size-md {
      font-size: @font-size-base * 1.15;
      padding: 15px 30px 15px 35px;
    }

    &.size-lg {
      font-size: @font-size-base * 1.7;
      padding: 20px 35px 20px 40px;
      min-width: 75%;
      margin-right: 0;
      text-align: center;
    }

}
