
@btn-two-color: @color2-text-color;
@btn-two-color-alt: @color2;
@btn-two-hover: @colorw;
@btn-two-bg: @color2;
@btn-two-bg-hover: @color2;


.btn-two {
  background-color: @btn-two-bg;
  background-image: linear-gradient(130deg,@color2 10%,@color2-dark 90%);
  box-shadow: 5px 5px 15px rgb(0 0 0 / 15%);
  border: 1px solid @btn-two-color-alt;
  border-left: 10px solid @btn-two-color-alt;
  border-radius: 3px;
//  box-shadow: 1px 1px 3px 0 mix(@colorb,@btn-two-color,1%);
  color: @btn-two-color;
  font-size: @font-size-base * 0.9;
  font-weight: 600;
  margin: 0 10px 10px 0;
  padding: 12px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  .transition(.5s all);

  .fa {
    .transition(.5s margin);
  }

  &:hover, &:active, &:focus {
    background: @btn-two-bg-hover;
    border-color: @btn-two-hover;
    border-left-width: 8px;
    color: @btn-two-hover;
    text-decoration: none;
    .fa {
      
    }
  }


    &.outline {
      background: none;
      border: 1px solid @btn-two-bg;
      box-shadow: 5px 5px 15px rgb(0 0 0 / 15%);
      color: @btn-two-color-alt;

      &:hover {
        background: @btn-two-bg;
        border: 1px solid @btn-two-bg;
        color: @btn-two-color;
      }
    }

    &.solid {
      background-color: @btn-two-bg;
      background-image: linear-gradient(130deg,@color2 10%,@color2-dark 90%);
      box-shadow: 5px 5px 15px rgb(0 0 0 / 15%);
      border: 1px solid @btn-two-bg;
      color: @btn-two-color;

      &:hover {
        background: none;
        border: 1px solid @btn-two-bg;
        color: @btn-two-color-alt;        
      }
    }

    &.size-md {
      font-size: @font-size-base * 1.15;
      padding: 15px 30px 15px 35px;
    }

    &.size-lg {
      font-size: @font-size-base * 1.7;
      padding: 20px 35px 20px 40px;
      min-width: 75%;
      margin-right: 0;
      text-align: center;
    }

}
