
// white

@btn-white-color: @colorw;
@btn-white-color-alt: @colord;
@btn-white-hover: @colord;
@btn-white-bg: @colorw;
@btn-white-bg-hover: @colorw;

.btn-white {
  //background: @btn-white-bg;
  background: none;
  border: 1px solid @btn-white-bg;
  border-radius: 6px;
  //box-shadow: 1px 1px 3px 0 mix(@colorb,@btn-white-color,20%);
  color: @btn-white-color;
  font-size: @font-size-base * 0.9;
  font-weight: 600;
  margin: 0 10px 10px 0;
  padding: 12px 20px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  .transition(.5s all);

  .fa {
    .transition(.5s margin);
  }

  &:hover, &:active, &:focus {
    background: @btn-white-bg-hover;
    //border-color: @btn-white-hover;
    //border-left-width: 15px;
    color: @btn-white-hover;
    text-decoration: none;

      .fa {
       margin-left: -5px;
      }
  }


    &.outline {
      background: none;
      border: 1px solid @btn-white-bg;
      color: @btn-white-color;

      &:hover {
        background: @btn-white-bg;
        border: 1px solid @btn-white-bg;
        color: @btn-white-color-alt;
      }
    }

    &.solid {
      background: @btn-white-bg;
      border: 1px solid @btn-white-bg;
      color: @btn-white-color-alt;

      &:hover {
        background: none;
        border: 1px solid @btn-white-bg;
        color: @btn-white-color;        
      }
    }


    &.size-md {
      font-size: @font-size-base * 1.15;
      padding: 15px 30px 15px 35px;
    }

    &.size-lg {
      font-size: @font-size-base * 1.7;
      padding: 20px 35px 20px 40px;
      min-width: 75%;
      margin-right: 0;
      text-align: center;
    }

    


}//btn
