<div class="site-width-centered page-content-padding">
  <div class="block-accordion">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {{ accordion }}
      <div class="panel color-{{ btn_color }} style-{{ btn_style }}">
        <div class="panel-heading" role="tab" id="accordion-{{ var_cb_count }}-heading-{{ index }}">
          <h3 class="panel-title">
            <button class="accordion-heading" type="button" data-toggle="collapse" data-target="#accordion-{{ var_cb_count }}-{{ index }}" aria-expanded="false" aria-controls="accordion-{{ var_cb_count }}-{{ index }}">
              <span class="text">{{ heading }}</span>
              {{#<span class="excerpt">{{ text | safe_truncate:80:... }}</span>#}}
              <span class="icon"><i class="fa fa-angle-double-down"></i></span>
            </button>
          </h3>
        </div>
        <div id="accordion-{{ var_cb_count }}-{{ index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-{{ var_cb_count }}-heading-{{ index }}">
          <div class="panel-body">
            {{ text|markdown }}
              <button class="close" type="button" data-toggle="collapse" data-target="#accordion-{{ var_cb_count }}-{{ index }}" aria-expanded="false" aria-controls="accordion-{{ var_cb_count }}-{{ index }}"><i class="fa fa-times"></i></button>
          </div>
        </div>
      </div>
      {{ /accordion }}
    </div>
  </div>
</div>
