<div class="site-width-centered page-content-padding">
  <div class="block-audio has-border-{{ has_border }} border-color-{{ border_color }}">
  {{ audio_sets }}
    <article>
      {{ if heading }}
        <h3 class="heading">{{ heading }}</h3>
      {{ /if }}
      {{ if description }}
        {{ description | markdown }}
      {{ /if }}
      <audio id="player" controls>
        <source src="{{ file }}" type="audio/mp3" />
      </audio>
    </article>
  {{ /audio_sets }}
  </div>
</div>
