{{ if break_bg_color }}
<div class="block-break-bg bg-color-{{ break_bg_color }}">
{{ /if }}
{{ unless break_full_width }}
  <div class="site-width-centered page-content-padding">
{{ /if }}
    <div class="block-break border-align-{{ border_settings:0:border_align }} clearfix">
      <div class="item break-top cbbt-{{ break_above }} cbbtt-{{ tablet_break_above }} cbbtm-{{ mobile_break_above }}">
      </div>
      {{ if border_settings:0:break_border }}
        {{ border_settings }}
      <div class="break-border" style="border-color:#{{ border_color }};border-style:{{ border_style }}; border-width:{{ border_thickness }}px;width:{{ border_width }}%"></div>
        {{ /border_settings }}
      {{ /if }}
      <div class="item break-bottom cbbb-{{ break_below }} cbbbt-{{ tablet_break_below }} cbbbm-{{ mobile_break_below }}">
      </div>
    </div>
{{ unless break_full_width }}
  </div>
{{ /if }}
{{ if break_bg_color }}
</div>
{{ /if }}
