<div class="site-width-centered page-content-padding">
  <div class="block-cta">
    <div class="align-{{ align }} mobile-align-override-{{ mobile_align_override }}">
    {{ cta }}
      {{ if link }}
    <a {{ if new_window }}target="blank" {{ /if }}rel="pagescroll" href="{{ link }}" class="btn btn-{{ kind }} {{ style }} size-{{ size }}">{{ text }} &nbsp;&nbsp; <span class="icon"><i class="fa fa-angle-right"></i></span></a>
      {{ else }}
      <span class="btn btn-{{ kind }} {{ style }} size-{{ size }} btn-no-link">{{ text }}</span>
      {{ /if }}
      {{ if is_block }} <br> {{ /if }}
    {{ /cta }}
    </div>
  </div>
</div>
