<div class="block-collection-embed">
{{ collection from="{collection_embed}" paginate="false" as="posts" limit="{entries_amount}" }}
{{ if no_results }}
{{ else }}
<div class="site-width-centered page-container">
  {{ if section_heading }}
  <br>
  <h2 class="collection-section-heading">{{ section_heading }}</h2>
  {{ /if }}
<section class="list-{{ collection_embed }} no-pb total-entries-{{ entries_amount }}">
    <article class="clearfix">
  {{ partial:collection/blog/post }}
    </article>
{{ if link }}
<div class="collection-link text-left">
  <a href="{{ link }}" class="btn btn-one">{{ button_text }} &nbsp;&nbsp;<i class="fa fa-angle-right"></i></a>
  <br><br> <br>
</div>
{{ /if }}
</section>
</div>

{{ /if }}
{{ /collection }}
</div>
