<div class="block-cols-wrapper">
  <div class="{{ if col_full_width }}col-full-width{{ else }}swc{{ /if }}">
    <div class="block-cols col-equal-height-{{ col_equal_height }} col-vertical-align-{{ col_vertical_align }} col-add-margins-{{ add_col_margin }} col-margin-bottom-{{ add_col_margin_bottom }}">
      <div class="row is-col-row">

        {{ col_sets }}
        
        {{ if col_settings }}
        <div
          class="{{ if !col_settings:0:col_width_settings }}{{ if total_results == 2 }}col-sm-6 col-md-6{{ elseif total_results == 3 }}col-sm-6 col-md-4{{ elseif total_results == 4 }}col-sm-6 col-md-3{{ elseif total_results == 5 }}col-sm-5ths{{ else }}col-md-8{{ /if }}{{ /if }} {{ col_settings }}{{ if col_width_settings }}{{ col_width_settings }}col-{{ col_breakpoint }}-{{ col_width }} col-{{ col_breakpoint }}-offset-{{ col_offset }} {{ /col_width_settings }}{{ /if }} {{ if col_bg_color }} has-bg{{ /if }}{{ if col_bg_image }} has-bg-image lazyload{{ /if }} {{ if col_footer }}has-col-footer {{ /if }} {{ if col_border_mobile }} show-border-mobile{{ /if }} col-bg-color-{{ col_bg_color }} col-bg-opacity-{{ col_bg_opacity }} col-remove-padding-{{ col_remove_padding }} {{ /col_settings }} col-item"
          {{ if col_settings:0:col_bg_image }}
          data-src="{{ glide:col_settings:0:col_bg_image format="" width="900" height="900" fit="crop_focal" }}"
          style="background-image: url('{{ glide:col_settings:0:col_bg_image format="" width="1" height="1" fit="crop_focal" }}')"
        {{ /if }}>

        {{ elseif col_widths }}
          {{ if col_widths == "blank"}}
            <div class="{{ if total_results == 2 }}col-sm-6 col-md-6{{ elseif total_results == 3 }}col-sm-6 col-md-6 col-lg-4{{ elseif total_results == 4 }}col-sm-6 col-md-3{{ elseif total_results == 5 }}col-sm-5ths{{ else }}col-md-8{{ /if }} no-settings col-item">
          {{ elseif col_widths == "even" }}
            <div class="col-md-6 col-widths no-settings col-item">
          {{ elseif col_widths == "threeseven" }}
            <div class="{{ if first }}col-md-4{{ else }}col-md-8{{ /if }} col-widths no-settings col-item">
          {{ elseif col_widths == "foursix" }}
            <div class="{{ if first }}col-md-5{{ else }}col-md-7{{ /if }} col-widths no-settings col-item">
          {{ elseif col_widths == "seventhree" }}
            <div class="{{ if first }}col-md-8{{ else }}col-md-4{{ /if }} col-widths no-settings col-item">
          {{ elseif col_widths == "sixfour" }}
            <div class="{{ if first }}col-md-7{{ else }}col-md-5{{ /if }} col-widths no-settings col-item">
          {{ /if }}
        {{ else }}
          <div class="{{ if total_results == 2 }}col-sm-6 col-md-6{{ elseif total_results == 3 }}col-sm-6 col-md-6 col-lg-4{{ elseif total_results == 4 }}col-sm-6 col-md-3{{ elseif total_results == 5 }}col-sm-5ths{{ else }}col-md-8{{ /if }} no-settings col-item">
        {{ /if }}

            <div
              class="col-content{{ if col_settings }}{{ col_settings }}{{ col_margin_settings }} has-margin swc-left-margin-{{ swc_left_margin }} col-margin-right-{{ right }} col-margin-left-{{ left }} col-margin-right-t-{{ right_t }} col-margin-left-t-{{ left_t }} col-margin-right-m-{{ right_m }} col-margin-left-m-{{ left_m }} {{ /col_margin_settings }}{{ /col_settings }}{{ /if }}">
              {{ column_content_sets }}

              {{ if type == "col_text_set" }}
              {{ partial:content-blocks/blocks/text var_nopt="true" }}

              {{ elseif type == "col_read_more_set" }}
              {{ partial:content-blocks/blocks/read-more var_cb_count="{var:cb_set_number}-{index}" }}

              {{ elseif type == "col_text_image_set" }}
              {{ partial:content-blocks/blocks/text-image }}

              {{ elseif type == "col_media_set" }}
              {{ partial:content-blocks/blocks/media }}

              {{ elseif type == "col_download_set" }}
              {{ partial:content-blocks/blocks/download }}

              {{ elseif type == "col_link_set" }}
              {{ partial:content-blocks/blocks/link }}

              {{ elseif type == "col_rabbit_holes_set" }}
              {{ partial:content-blocks/blocks/rabbit-holes var_in_col="true" }}

              {{ elseif type == "col_slider_set" }}
              {{ partial:content-blocks/blocks/slider var_in_col="true" }}

              {{ elseif type == "col_image_set" }}
              {{ partial:content-blocks/blocks/image }}

              {{ elseif type == "col_gallery_set" }}
              {{ partial:content-blocks/blocks/gallery/gallery var_in_col="true" var_cb_count="{count}-{index}" }}

              {{ elseif type == "col_full_image_set" }}
              {{ partial:content-blocks/blocks/full-image }}

              {{ elseif type == "col_hero_set" }}
              {{ partial:content-blocks/blocks/hero/hero }}

              {{ elseif type == "col_button_set" }}
              {{ partial:content-blocks/blocks/button }}

              {{ elseif type == "col_video_set" }}
              {{ partial:content-blocks/blocks/video }}

              {{ elseif type == "col_map_set" }}
              {{ partial:content-blocks/blocks/map var_in_col="true" }}

              {{ elseif type == "col_info_set" }}
              {{ partial:content-blocks/blocks/table }}

              {{ elseif type == "col_table_set" }}
              {{ partial:content-blocks/blocks/table var_is_table="true" }}

              {{ elseif type == "col_accordion_set" }}
              {{ partial:content-blocks/blocks/accordion var_cb_count="{var:cb_set_number}-{index}" }}

              {{ elseif type == "col_scroll_set" }}
              <div class="block-scroll" id="{{ scroll }}"></div>

              {{ elseif type == "col_html_set" }}
              <div class="block-html-embed {{ html_class }}">
                {{ html_embed }}
              </div>

              {{ elseif type == "col_break_set" }}
              {{ partial:content-blocks/blocks/break }}

              {{ /if }}

              {{ /column_content_sets }}
              {{ if col_settings:0:col_link }}
              <a href="{{ col_settings:0:col_link }}" class="overlay-link"></a>
              {{ /if }}
            </div>
            {{ if col_settings:0:col_footer }}
              {{ col_settings }}
              {{ col_footer }}
              <div
                class="col-footer footer-bg-color-{{ col_footer_bg }} has-arrow-{{ col_footer_arrow }} {{ if col_footer_image }}has-image {{ /if }} kind-{{ col_footer_style }}">
                {{ if col_footer_image }}
                <div class="footer-image" style="clip-path:{{ col_footer_image_clip }}">
                  <img class="img-responsive lazyload" src='{{ glide:col_footer_image format="" width="120" height="120" pixelate="400" }}'
                    data-src='{{ glide:col_footer_image format="" width="120" height="120" fit="crop_focal" }}' alt="">
                </div>
                {{ /if }}
                {{ if col_footer_text }}
                <div class="footer-text">
                  {{ col_footer_text | markdown }}
                </div>
                {{ /if }}
                {{ if col_footer_arrow != "none" }}
                <div class="arrow size-{{ col_footer_arrow }} color-{{ col_footer_arrow_color }}"></div>
                {{ /if }}
              </div>
              {{ /col_footer }}
              {{ /col_settings }}
            {{ /if }}
          </div><!-- col item -->
          {{ /col_sets }}

        </div>
      </div>
    </div>

  </div>