{{ if content_blocks:0 }}
{{ content_blocks }}
{{ if environment =="live" AND block_set_hide }}
{{ else }}
  {{ if type == "content_block_set" }}
    {{ var:cb_set_number is="{index}" }}
    <div class="block-set-wrapper {{ if first }}is-first{{ /if }} {{ if block_bg_settings }}{{ block_bg_settings }} {{ if block_bg_video }}has-bg-video {{ /if }} {{ if bg_image }}has-bg-image {{ /if }} {{ if bg_texture }}has-bg-texture{{ /if }} bg-color-{{ bg_color }} gradient-{{ bg_gradient }} opacity-{{ bg_opacity }}{{ if bg_color_custom }} has-bg-custom{{ /if }} {{ /block_bg_settings }}{{ /if }}"
    {{ if block_bg_settings:0:block_bg_clip_path }}{{ block_bg_settings:0:block_bg_clip_path }} style="clip-path: {{ clip_path }}; margin-top: {{ clip_path_top_margin }};  margin-bottom: {{ clip_path_bottom_margin }}; z-index: {{ clip_path_z_index }}"{{ /block_bg_settings:0:block_bg_clip_path }}{{ /if }} {{ if block_bg_settings:0:block_overrides }} style="{{ block_bg_settings:0:block_overrides }}" {{ /if }} >
    {{ if block_bg_settings }}
      {{ block_bg_settings }}

        {{ if block_bg_video }}
        {{ block_bg_video }}
        <div class="cb-video-background">
          <div class="vimeo-bg-wrapper">
            {{ if video_bg_image }}
            <div class="bg-image" style="background-image: url('{{ glide:video_bg_image width="1200" height="900" fit="crop_focal" }}')">
            </div>
            {{ /if }}
            <div class="video-bg-load" id="{{ video_id }}">
            </div>
          </div>
        </div>
        {{ /block_bg_video }}
        {{ /if }}

        {{ if bg_color_custom }}
          <div class="block-set-bg-custom-color" style="background-color:#{{ bg_color_custom }}"></div>
        {{ /if }}
        {{ if bg_image }}
          {{ assets:bg_image }}
            <div class="block-set-bg bg-margin-{{ bg_margin }} lazyload" 
            data-src="{{ glide:url format="" width="1900" height="1200" fit="crop_focal" }}" style="background-image: url('{{ glide:url format="" width="1" height="1" fit="crop_focal" }}')">
          {{ /assets:bg_image }}
        {{ else }}
          <div class="block-set-bg bg-no-image bg-margin-{{ bg_margin }}">
        {{ /if }}
        {{ if bg_texture }}
          {{ bg_texture }}
            <div class="bg-texture bg-texture-opacity-{{ bg_texture_opacity }} lazyload" 
            data-src="{{ glide:bg_texture_image format="" }}" style="background-image: url('{{ glide:bg_texture_image format="" width="1" height="1" fit="crop_focal" }}')">            
            </div>
          {{ /bg_texture }}
        {{ /if }}
      {{ /block_bg_settings }}
    {{ /if }}
    <div class="block-sets">
    {{ block_sets }}
      {{ if type == "content_set" }}
      {{ partial:content-blocks/blocks/text }}

      {{ elseif type == "redactor_set" }}
      {{ partial:content-blocks/blocks/redactor }}

      {{ elseif type == "read_more_set" }}
      {{ partial:content-blocks/blocks/read-more var_cb_count="{var:cb_set_number}-{index}" }}

      {{ elseif type == "text_image_set" }}
      {{ partial:content-blocks/blocks/text-image }}

      {{ elseif type == "media_set" }}
      {{ partial:content-blocks/blocks/media }}

      {{ elseif type == "download_set" }}
      {{ partial:content-blocks/blocks/download }}

      {{ elseif type == "link_set" }}
      {{ partial:content-blocks/blocks/link }}

      {{ elseif type == "rabbit_holes_set" }}
      {{ partial:content-blocks/blocks/rabbit-holes }}

      {{ elseif type == "image_set" }}
      {{ partial:content-blocks/blocks/image }}

      {{ elseif type == "gallery_set" }}
      {{ partial:content-blocks/blocks/gallery/gallery }}

      {{ elseif type == "full_image_set" }}
      {{ partial:content-blocks/blocks/full-image }}

      {{ elseif type == "hero_set" }}
      {{ partial:content-blocks/blocks/hero/hero }}

      {{ elseif type == "button_set" }}
      {{ partial:content-blocks/blocks/button }}

      {{ elseif type == "video_set" }}
      {{ partial:content-blocks/blocks/video }}

      {{ elseif type == "map_set" }}
      {{ partial:content-blocks/blocks/map }}

      {{ elseif type == "slider_set" }}
      {{ partial:content-blocks/blocks/slider }}

      {{ elseif type == "col_set" }}
      {{ partial:content-blocks/blocks/cols }}

      {{ elseif type == "info_set" }}
      {{ partial:content-blocks/blocks/table }}

      {{ elseif type == "table_set" }}
      {{ partial:content-blocks/blocks/table var_is_table="true" }}

      {{ elseif type == "accordion_set" }}
      {{ partial:content-blocks/blocks/accordion var_cb_count="{var:cb_set_number}-{index}" }}

      {{ elseif type == "audio_set" }}
      {{ partial:content-blocks/blocks/audio }}

      {{ elseif type == "testimonials_set" }}
      {{ relate:testimonial }}
        {{ partial:content-blocks/blocks/testimonial }}
      {{ /relate:testimonial }}

      {{ elseif type == "scroll_set" }}
      <div class="block-scroll" id="{{ scroll }}"></div>

      {{ elseif type == "collection_set" }}
      {{ partial:content-blocks/blocks/collection }}

      {{ elseif type == "html_set" }}
      <div class="block-html-embed align-{{ html_align }} {{ html_class }}">
        {{ html_embed }}
      </div>

      {{ elseif type == "break_set" }}
      {{ partial:content-blocks/blocks/break }}

      {{ /if }}
    {{ /block_sets }}
    </div>
    {{ if block_bg_settings }}
    </div>
    {{ /if }}
    {{ if block_bg_settings:0:block_bg_clip_svg }}
      {{ block_bg_settings }}
        {{ block_bg_clip_svg }}
        {{ if clip_svg }}
        <img class="clip-svg-image clip-svg-position-{{ clip_svg_position }} sw-w-{{ clip_svg_width }} sw-w-t-{{ clip_svg_width_tablet }} sw-w-m-{{ clip_svg_width_mobile }}" src="{{ clip_svg }}" style="top:{{ clip_svg_top }};right:{{ clip_svg_right }};bottom:{{ clip_svg_bottom }};left:{{ clip_svg_left }};{{ clip_svg_filter }}{{ clip_svg_filter_css }};z-index:{{ clip_svg_zindex }}">
        {{ else }}
        <div class="clip-svg-wrapper clip-svg-position-{{ clip_svg_position }} sw-w-{{ clip_svg_width }} sw-w-t-{{ clip_svg_width_tablet }} sw-w-m-{{ clip_svg_width_mobile }}" style="top:{{ clip_svg_top }};right:{{ clip_svg_right }};bottom:{{ clip_svg_bottom }};left:{{ clip_svg_left }};{{ clip_svg_filter_css }}">
        {{ clip_svg_code }}
        </div>
        {{ /if }}
        {{ /block_bg_clip_svg }}
      {{ /block_bg_settings }}
    {{ /if }}
    {{ if svg_border_mask }}
    {{ svg_border_mask }}
      {{ partial:content-blocks/blocks/settings/borders/index }}
    {{ /svg_border_mask }}
    {{ /if }}
    </div>
  {{ /if }}
{{ /if }}
{{ /content_blocks }}
{{ /if }}
