<div class="site-width-centered page-content-padding">
  <div class="block-downloads align-{{ align }}">
    {{ downloads }}
    {{ assets:file }}
    <a class="{{ if kind != 'none' }}btn btn-{{ kind }}{{ /if }}" target="_blank" href="{{ url }}"><i
        class="fa fa-file"></i>&nbsp;&nbsp; {{ if type == "download_multiple_set" }} {{ filename | title | deslugify }}
      {{ else }} {{ text }} {{ /if }} ({{ size }})</a><br>
    {{ /assets:file }}
    {{ /downloads }}
  </div>
</div>
