
<div class="block-full-image size-{{ size }} {{ if !custom }} bg-{{ bg }}{{ /if }} opacity-{{ bg_opacity }} clearfix">
{{ if size == "full" }}
<div class="image" style="background: #333 url('{{ glide:file format="" width="1400" height="1000" fit="crop_focal" }}') center center; background-size:cover;">
{{ elseif size == "xl" }}
<div class="image" style="background: #333 url('{{ glide:file format="" width="1400" height="700" fit="crop_focal" }}') center center; background-size:cover;">
{{ elseif size == "lg" }}
<div class="image" style="background: #333 url('{{ glide:file format="" width="1400" height="400" fit="crop_focal" }}') center center; background-size:cover;">
{{ elseif size == "md" }}
<div class="image" style="background: #333 url('{{ glide:file format="" width="1400" height="250" fit="crop_focal" }}') center center; background-size:cover;">
{{ else }}
  <div class="image" style="background: #333 url('{{ glide:file format="" width="1400" height="150" fit="crop_focal" }}') center center; background-size:cover;">
{{ /if }}

  <div class="overlay"{{ if custom }}style="background-color: #{{ custom }}"{{ /if }}></div>
</div>

{{ if text }}
  <div>
    <div class="content"><h1 class="site-width-centered page-content-padding">{{ text }}</h1></div>
  </div>
{{ /if }}
</div>
