{{ unless show_full_width }}
<div class="site-width-centered page-content-padding">
{{ /if }}
{{ if svg_settings AND svg_settings:0:is_svg }}
<div class="block-image is-svg align-{{ align }}">
  {{ if link }}
  <a href="{{ link }}">
  {{ /if }}
  {{ assets:file }}
  <figure class="svg-wrapper" {{ if svg_settings:0:max_width }}style="max-width:{{ svg_settings:0:max_width }};"
    {{ /if }}>
    <img class="svg-image img-responsive" src='{{ url }}' height='{{ svg_settings:0:svg_height }}'
      width='{{ svg_settings:0:svg_width }}' alt=""
      style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px;{{ if svg_settings:0:svg_filter }}filter: {{ svg_settings:0:svg_filter }}{{ /if }}">
  </figure>
  {{ /assets:file }}
  {{ if link }}
  </a>
  {{ /if }}
</div>
{{ else }}

  {{ if toggle_lightbox }}
  <div class="magnific-gallery image-lightbox clearfix">
    {{ /if }}
    {{ assets:file }}
    <figure
      class="block-image align-{{ align }} size-{{ img_size }} orient-{{ orient }} action-{{ action }} run-lazyload-{{ run_lazyload }} stacked-{{ toggle_stacked }} captions-{{ show_captions }} {{ if total_results > 1 }}has-multiple{{ /if }}{{ if show_border }}has-border{{ /if }}">
      {{ if toggle_lightbox }}
      <a class="item" href='{{ glide:url format="" width="2200" height="2200" fit="max" }}' title="{{ file:caption }}">
        <span class="icon"><i class="fa fa-search-plus fa-2x"></i></span>
        {{ elseif link }}
        <a href="{{ link }}">
          {{ /if }}

          {{ if orient == "pt" }}

          {{ if exact_size }}
          <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }} src='{{ glide:url format="" width="{exact_size}" height="" pixelate="400" }}' data-src='{{ glide:url format="" width="{exact_size}" height="" }}' {{ else }}src='{{ glide:url format="" width="{exact_size}" height="" }}'{{ /if }} alt="{{ title }}"
            style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
          {{ else }}
            {{ if img_size == "lg" }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }} 
              data-src='{{ glide:url format="" width="700" height="900" fit="{action}" }}' 
              {{ else }}src='{{ glide:url format="" width="700" height="900" fit="{action}" }}'{{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
            {{ elseif img_size == "xl" }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}
              src='{{ glide:url format="" width="900" height="1150" pixelate="400" }}'
              data-src='{{ glide:url format="" width="900" height="1150" fit="{action}" }}'
              {{ else }}src='{{ glide:url format="" width="900" height="1150" fit="{action}" }}' {{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
            {{ elseif img_size == "md" }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }} 
              src='{{ glide:url format="" width="450" height="550" pixelate="400" }}' 
              data-src='{{ glide:url format="" width="450" height="550" fit="{action}" }}' 
              {{ else }}src='{{ glide:url format="" width="450" height="550" fit="{action}" }}'{{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
            {{ elseif img_size == "original" }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }} 
              src='{{ glide:url format="" pixelate="400" }}' 
              data-src='{{ glide:url format="" }}' 
              {{ else }}src='{{ glide:url format="" }}'{{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
              {{ else }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }} 
              src='{{ glide:url format="" width="180" height="252" pixelate="400" }}' 
              data-src='{{ glide:url format="" width="180" height="252" fit="{action}" }}' 
              {{ else }}src='{{ glide:url format="" width="180" height="252" fit="{action}" }}'{{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
            {{ /if }}
          {{ /if }}

          {{ elseif orient == "ls" }}

          {{ if exact_size }}
          <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }} 
            src='{{ glide:url format="" width="{exact_size}" height="" pixelate="400" }}' 
            data-src='{{ glide:url format="" width="{exact_size}" height="" }}' 
            {{ else }}src='{{ glide:url format="" width="{exact_size}" height="" }}'{{ /if }} alt="{{ title }}"
            style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
          {{ else }}
            {{ if img_size == "lg" }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }} 
              src='{{ glide:url format="" width="1000" height="714" pixelate="400" }}' 
              data-src='{{ glide:url format="" width="1000" height="714" fit="{action}" }}' 
              {{ else }}src='{{ glide:url format="" width="1000" height="714" fit="{action}" }}'{{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
            {{ elseif img_size == "xl" }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}
              src='{{ glide:url format="" width="1320" height="1000" pixelate="400" }}'
              data-src='{{ glide:url format="" width="1320" height="1000" fit="{action}" }}'
              {{ else }}src='{{ glide:url format="" width="1320" height="1000" fit="{action}" }}' {{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
            {{ elseif img_size == "md" }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }} 
              src='{{ glide:url format="" width="600" height="430" pixelate="400" }}' 
              data-src='{{ glide:url format="" width="600" height="430" fit="{action}" }}' 
              {{ else }}src='{{ glide:url format="" width="600" height="430" fit="{action}" }}'{{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
            {{ elseif img_size == "original" }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }} 
              src='{{ glide:url format="" pixelate="400" }}' 
              data-src='{{ glide:url format="" }}' 
              {{ else }}src='{{ glide:url format="" }}'{{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
            {{ else }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }} 
              src='{{ glide:url format="" width="300" height="214" pixelate="400" }}' 
              data-src='{{ glide:url format="" width="300" height="214" fit="{action}" }}' 
              {{ else }}src='{{ glide:url format="" width="300" height="214" fit="{action}" }}'{{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
            {{ /if }}
          {{ /if }}

          {{ elseif orient == "sq" }}

          {{ if exact_size }}
          <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}
            src='{{ glide:url format="" width="{exact_size}" height="" pixelate="400" }}'
            data-src='{{ glide:url format="" width="{exact_size}" height="" }}'
            {{ else }}src='{{ glide:url format="" width="{exact_size}" height="" }}' {{ /if }} alt="{{ title }}"
            style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
          {{ else }}
            {{ if img_size == "lg" }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}
              src='{{ glide:url format="" width="1000" height="1000" pixelate="400" }}'
              data-src='{{ glide:url format="" width="1000" height="1000" fit="{action}" }}'
              {{ else }}src='{{ glide:url format="" width="1000" height="1000" fit="{action}" }}' {{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
            {{ elseif img_size == "xl" }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}
              src='{{ glide:url format="" width="1320" height="1320" pixelate="400" }}'
              data-src='{{ glide:url format="" width="1320" height="1320" fit="{action}" }}'
              {{ else }}src='{{ glide:url format="" width="1320" height="1320" fit="{action}" }}' {{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
            {{ elseif img_size == "md" }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}
              src='{{ glide:url format="" width="600" height="600" pixelate="400" }}'
              data-src='{{ glide:url format="" width="600" height="600" fit="{action}" }}'
              {{ else }}src='{{ glide:url format="" width="600" height="600" fit="{action}" }}' {{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
            {{ elseif img_size == "original" }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}
              src='{{ glide:url format="" pixelate="400" }}' data-src='{{ glide:url format="" }}'
              {{ else }}src='{{ glide:url format="" }}' {{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
            {{ else }}
            <img class="img-responsive image-mask-{{ image_mask }} {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}
              src='{{ glide:url format="" width="300" height="300" pixelate="400" }}'
              data-src='{{ glide:url format="" width="300" height="300" fit="{action}" }}'
              {{ else }}src='{{ glide:url format="" width="300" height="300" fit="{action}" }}' {{ /if }} alt="{{ title }}"
              style="margin-top:{{ px_above }}px; margin-bottom:{{ px_below }}px; " />
            {{ /if }}
          {{ /if }}

          {{ /if }}

          {{ if show_captions }}
          {{ if caption }}
          <figcaption> {{ caption }}</figcaption>
          {{ elseif local_caption }}
          <figcaption> {{ local_caption }}</figcaption>
          {{ /if }}
          {{ /if }}
          {{ if toggle_lightbox OR link }}
        </a>
        {{ /if }}
    </figure>
    {{ /assets:file }}
    {{ if toggle_lightbox }}
  </div>
  {{ /if }}

{{ /if }}
{{ unless show_full_width }}
</div>
{{ /if }}