<div class="site-width-centered page-content-padding">
<div class="block-links align-{{ align }}">
<div class="content">
{{ links }}
<a class="{{ if kind != 'none' }}btn btn-{{ kind }}{{ /if }}" {{ if new_window }}target="_blank"{{ /if }} href="{{ link }}"><i class="fa fa-link"></i>&nbsp;&nbsp; {{ text }} </a> <br>
{{ /links }}
</div>
</div>
</div>
