{{ if size == "full" }}
<div class="block-map">
  {{ if caption }}
  <h4 class="map-caption">{{ caption }}</h4>
  {{ /if }}
  <div class="gmap-iframe-wrapper block-map rwd-iframe-lg orient-{{ orient }}">
    <div class="rwd-iframe-wrapper">
      <div class="rwd-iframe height-{{ map_height }} {{ if gv_maps_greyscale or map_color == "grey" }}iframe-greyscale2{{ /if }}">
      <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
      {{ link }}
      </div>
    </div>
  </div>
</div>
{{ else }}
  {{ if !var_in_col }}
  <div class="site-width-centered page-content-padding">
  {{ /if }}
    <div class="block-map">
      {{ if caption }}
      <h4 class="map-caption">{{ caption }}</h4>
      {{ /if }}
      <div class="gmap-iframe-wrapper block-map rwd-iframe-{{ size }} orient-{{ orient }}">
        <div class="rwd-iframe-wrapper">
          <div class="rwd-iframe height-{{ map_height }} {{ if gv_maps_greyscale }}iframe-greyscale2{{ /if }}">
          <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
          {{ link }}
          </div>
        </div>
      </div>
    </div>
  {{ if !var_in_col }}
  </div>
  {{ /if }}
{{ /if }}
