<div class="block-media-wrapper {{ if media_bg_settings }}{{ media_bg_settings }}overlay-{{ bg_overlay }} gradient-{{ bg_gradient }} opacity-{{ bg_opacity }}{{ /media_bg_settings }}{{ /if }}">
{{ if media_bg_settings }}
  {{ media_bg_settings }}
    {{ if bg_image }}
      {{ assets:bg_image }}
        <div class="block-media-bg bg-margin-{{ bg_margin }} {{ if col_bg_settings:0:bg_heading }}has-bg-heading{{ /if}}" style="background: url('{{ glide:url format="" width="1500" height="1000" fit="crop_focal" }}') center center; background-size:cover;">
      {{ /assets:bg_image }}
    {{ else }}
      <div class="block-media-bg bg-no-image bg-margin-{{ bg_margin }} {{ if col_bg_settings:0:bg_heading }}has-bg-heading{{ /if}}">
    {{ /if }}
  {{ /media_bg_settings }}
{{ /if }}

  <div class="site-width-centered page-content-padding">
    <div class="block-media">

        {{ if media_bg_settings:0:bg_heading }}
            <div class="bg-heading">
            {{ media_bg_settings:0:bg_heading | markdown }}
            </div>
        {{ /if }}

        {{ media_sets }}
          <div class="media-set-content">

            {{ if  type == "media_text_set" }}
              {{ partial:content-blocks/blocks/text }}

            {{ elseif type == "media_col_set" }}
              {{ partial:content-blocks/blocks/cols }}

            {{ elseif type == "media_read_more_set" }}
              {{ partial:content-blocks/blocks/read-more }}

            {{ elseif type == "media_button_set" }}
              {{ partial:content-blocks/blocks/button }}

            {{ elseif type == "media_break_set" }}
              {{ partial:content-blocks/blocks/break }}

            {{ elseif type == "media_image_set" }}
              {{ partial:content-blocks/blocks/image }}

            {{ elseif type == "media_gallery_set" }}
              {{ partial:content-blocks/blocks/gallery/gallery }}

            {{ elseif type == "media_video_set" }}
              {{ partial:content-blocks/blocks/video }}

            {{ elseif type == "media_map_set" }}
              {{ partial:content-blocks/blocks/map }}

            {{ elseif type == "media_info_set" }}
              {{ partial:content-blocks/blocks/table }}

            {{ /if }}

        </div>
        {{ /media_sets }}

    </div>
  </div>
{{ if media_bg_settings }}
</div>
{{ /if }}

</div>
