<div class="block-rabbit-holes-2 block-size-{{ rabbit_hole_size }}">
  <div class="clearfix">
  {{ rabbit_hole_sets }}
    <a href="{{ link }}" class="item total-{{ total_results }}">
      <div class="content">
        <div class="image" style="background: #333 url('{{ glide:file format="" width="650" height="450" fit="crop_focal" }}') center center; background-size:cover;">
          {{ if text }}<h2>{{ text }}</h2>{{ /if }}
        </div>
      </div>
    </a>
  {{ /rabbit_hole_sets }}
  </div>
</div>
