<div
  class="block-rabbit-holes block-size-{{ rabbit_hole_size }} image-size-{{ image_size }} color-{{ btn_color }} style-{{ style }} type-{{ block_type }} bg-color-{{ block_bg_color }} bg-opacity-{{ block_bg_opacity }}">
  {{ unless block_type == "full" }} <div class="site-width-centered page-content-padding">{{ /if }}
    <div class="container-fluid">
      <div class="row">
        {{ rabbit_hole_sets }}
        {{ if var_in_col }}
        <a href="{{ link }}" class="{{ if custom_widths }}
              {{ custom_widths }}col-{{ col_breakpoint }}-{{ col_width }} {{ /custom_widths }} 
              {{ else }}
                {{ if total_results == 1 }}col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3
                {{ else }} col-sm-12 col-md-6
                {{ /if }}
            {{ /if }} {{ if icon }} has-icon{{ /if }} item">
          {{ else }}
          {{ if rabbit_hole_size == "sm" }}
          <a href="{{ link }}" class="{{ if custom_widths }}
            {{ custom_widths }}col-{{ col_breakpoint }}-{{ col_width }} {{ /custom_widths }} 
            {{ else }}
              {{ if total_results == 1 }}col-sm-4 col-md-3 col-sm-offset-4
              {{ elseif total_results == 2 }} col-sm-4 col-md-3 {{ if first }}col-sm-offset-2 col-md-offset-3{{ /if }}
              {{ elseif total_results == 3 }} col-sm-4 col-md-3 {{ if first }}col-md-offset-1{{ /if }}
              {{ else }} col-sm-4 col-md-3 {{ /if }}
            {{ /if }} {{ if icon }} has-icon{{ /if }} item">
          {{ elseif rabbit_hole_size == "lg" }}
            <a href="{{ link }}" class="{{ if custom_widths }}
                {{ custom_widths }}col-{{ col_breakpoint }}-{{ col_width }} {{ /custom_widths }} 
                {{ else }}
                  {{ if total_results == 1 }}col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3
                  {{ else }} col-sm-6
                  {{ /if }}
              {{ /if }} {{ if icon }} has-icon{{ /if }} item">
          {{ else }}
            <a href="{{ link }}" class="{{ if custom_widths }}
                {{ custom_widths }}col-{{ col_breakpoint }}-{{ col_width }} {{ /custom_widths }} 
                {{ elseif block_type == "full" }}
                  {{ if total_results == 2 }}col-sm-6 col-md-6
                  {{ elseif total_results == 4 }}col-sm-6 col-md-6 col-lg-3
                  {{ else }}col-sm-6 col-md-6 col-lg-4{{ /if }} 
                {{ else }}
                  {{ if total_results == 1 }}col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3
                  {{ elseif total_results == 2 }} col-sm-6 col-md-6
                  {{ else }} col-sm-6 col-md-4
                  {{ /if }}
              {{ /if }} {{ if icon }} has-icon{{ /if }} item">

              {{ /if }}
            {{ /if }}
              <div class="content">
                <div class="image lazyload"
                  data-src="{{ glide:file format="" width='650' height='450' fit='crop_focal' }}"
                  style="background-image: url('{{ glide:file format="" width="1" height="1" fit="crop_focal" }}')">
                </div>

                <div class="inner-content">
                  {{ if text }}<h2><span class="text1">{{ text }}</span> {{ if style == "four" OR style =="two" }}<span
                      class="divider"></span>{{ /if }}{{ if text2 }} <br> <span
                      class="text2">{{ text2 }}</span>{{ /if }}
                  </h2>{{ /if }}
                  {{ if icon }}
                  <span class="custom-icon"> <img src="{{ icon }}" alt=""> </span>
                  {{ /if }}
                </div>
              </div>
            </a>
            {{ /rabbit_hole_sets }}
      </div>
    </div>
    {{ unless block_type == "full" }}</div>{{ /if }}
</div>