<div class="site-width-centered page-content-padding">
  <div class="block-read-more btn-align-{{ btn_align }} color-{{ btn_color }} style-{{ btn_style }} width-{{ btn_width }}">
    <div class="btn-wrapper">
      <button class="btn" type="button" data-toggle="collapse" data-target="#read-more-{{ var_cb_count }}" aria-expanded="false" aria-controls="read-more-{{ var_cb_count }}">
        {{ heading }}
        <span class="icon-open">&nbsp;<i class="fa fa-angle-down"></i></span>
      </button>
    </div>
    <div class="collapse" id="read-more-{{ var_cb_count }}">
      <div class="read-more-inner">
  {{ read_more_sets }}

  {{ if type == "read_more_text_set" }}
  {{ partial:content-blocks/blocks/text var_nopt="true" }}

  {{ elseif type == "read_more_col_set" }}
  {{ partial:content-blocks/blocks/cols }}

  {{ elseif type == "read_more_download_set" }}
  {{ partial:content-blocks/blocks/download }}

  {{ elseif type == "read_more_link_set" }}
  {{ partial:content-blocks/blocks/link }}

  {{ elseif type == "read_more_rabbit_holes_set" }}
  {{ partial:content-blocks/blocks/rabbit-holes }}

  {{ elseif type == "read_more_image_set" }}
  {{ partial:content-blocks/blocks/image }}

  {{ elseif type == "read_more_gallery_set" }}
  {{ partial:content-blocks/blocks/gallery/gallery }}

  {{ elseif type == "read_more_full_image_set" }}
  {{ partial:content-blocks/blocks/full-image }}

  {{ elseif type == "read_more_button_set" }}
  {{ partial:content-blocks/blocks/button }}

  {{ elseif type == "read_more_video_set" }}
  {{ partial:content-blocks/blocks/video }}

  {{ elseif type == "read_more_map_set" }}
  {{ partial:content-blocks/blocks/map }}

  {{ elseif type == "read_more_info_set" }}
  {{ partial:content-blocks/blocks/table }}

  {{ elseif type == "read_more_table_set" }}
  {{ partial:content-blocks/blocks/table var_is_table="true" }}

  {{ elseif type == "read_more_accordion_set" }}
  {{ partial:content-blocks/blocks/accordion var_cb_count="{index}" }}

  {{ elseif type == "read_more_html_set" }}
  <div class="block-html-embed {{ html_class }}">
    {{ html_embed }}
  </div>

  {{ elseif type == "read_more_break_set" }}
  {{ partial:content-blocks/blocks/break }}

    {{ /if }}

  {{ /read_more_sets }}
        <span class="close" data-toggle="collapse" data-target="#read-more-{{ var_cb_count }}"> <i class="fa fa-times"></i> </span>
      </div>
    </div>
  </div>
</div>
