{{ unless slider_size =="full" }}
<div class="swc page-container">
  {{ /if }}
  <div class="block-slider cb-slider-{{ type }}-{{ slider_number }} slider-size-{{ slider_size }} slider-has-images-{{ slider_has_images }}">
    {{ slider_sets }}
    <div
      class="slide-content slide-margin-{{ slide_margin }} slide-bg-color-{{ slide_bg_color }} slide-bg-opacity-{{ slide_bg_opacity }} {{ if file }} has-image{{ /if }} {{ if slide_content_sets }} has-content{{ /if }}"
      style="background-image:url('{{ glide src="{file}" format="" width="1400" height="{{ if image_height }}{image_height}{{ else }}1000{{ /if }}"
      fit="crop_focal" }}')">
      <div class="slide-inner total-results-{{ total_results }}">
        {{ slide_content_sets }}

        {{ if type == "slider_text_set" }}
        {{ partial:content-blocks/blocks/text }}

        {{ elseif type == "slider_button_set" }}
        {{ partial:content-blocks/blocks/button }}

        {{ elseif type == "slider_image_set" }}
        {{ partial:content-blocks/blocks/image }}

        {{ elseif type == "slider_col_set" }}
        {{ partial:content-blocks/blocks/cols }}

        {{ elseif type == "slider_break_set" }}
        {{ partial:content-blocks/blocks/break }}

        {{ /if }}
        {{ /slide_content_sets }}
      </div>
      {{ if slide_link }}
      <a href="{{ slide_link }}" class="overlay-link"></a>
      {{ /if }}
    </div>
    {{ /slider_sets }}
  </div>
  {{ unless slider_size =="full" }}
</div>
{{ /if }}