<div class="site-width-centered page-content-padding">
{{ if var_is_table }}

<div class="block-table table-size-{{ info_size }} table-align-{{ info_align }} table-color-{{ info_color }}">
  {{ if heading }}
<h4 class="block-section-heading"><span>{{ heading }}</span></h4>
  {{ /if }}
<div class="warning-mobile-table">NOTE: You may need to scroll the table below left/right for more information</div>
<div class="table-responsive">
  <table class="table table-bordered">
  {{ table_data }}
    {{ if first && headers }}
      <thead>
        <tr>
          {{ cells }}
            <th>{{ value|markdown }}</th>
          {{ /cells }}
        </tr>
      </thead>
      <tbody>
    {{ /if }}
    {{ if !first && headers || !headers }}
      {{ if first }}
        <tbody>
      {{ /if }}
        <tr>
          {{ cells }}
            <td{{ if highlight && first }} class="highlight"{{ /if }}>{{ value|markdown }}</td>
          {{ /cells }}
        </tr>
      {{ if last }}
        </tbody>
      {{ /if }}
    {{ /if }}
  {{ /table_data }}
</table>
</div>
</div>

{{ else }}

<div class="block-info table-size-{{ info_size }} table-align-{{ info_align }} table-color-{{ info_color }}">
  {{ if heading }}
  <h4 class="block-section-heading"><span>{{ heading }}</span></h4>
  {{ /if }}
  <div class="warning-mobile-table">NOTE: You may need to scroll the table below left/right for more information</div>
  <div class="table-responsive">
    <table class="table">
      {{ info }}
      
      <tr {{ if headers && first }}class="tr-header" {{ /if }}>
      {{ col_sets }}
        <td class="{{ if highlight && first }}highlight-col{{ /if }}" {{ if column_width }}width="{{ column_width }}%"{{ /if }}> 
        {{ column_content_sets }}
        
        {{ if type == "col_text_set" }}
        {{ partial:content-blocks/blocks/text var_nopt="true" }}
        
        {{ elseif type == "col_image_set" }}
        {{ partial:content-blocks/blocks/image }}
        
        {{ elseif type == "col_button_set" }}
        {{ partial:content-blocks/blocks/button }}
        
        {{ /if }}
        {{ /column_content_sets }}
        </td>
      {{ /col_sets }}
      </tr>
      {{ /info }}
    </table>
  </div>
</div>

{{ /if }}
</div>