{{ if total_results == 1 }}
  <div class="list-testimonials">
 <div class="item kind-{{ kind }} align-{{ align }}">

<article class="one">
  <div class="site-width-centered">
    <div class="content">
      <blockquote>
        {{ content }}
      </blockquote>
      <span class="cite"><strong>{{ title }}</strong> {{ if organisation }}<em> - {{ organisation }}</em> {{ /if }}</span>
      &nbsp;&nbsp;
      {{ if stars }}
      <span class="rating-stars stars-count-{{ stars }}{{ if stars_half }} stars-half{{ /if }}">
        <span class="one"><i class="fa fa-star"></i></span>
        <span class="two"><i class="fa fa-star"></i></span>
        <span class="three"><i class="fa fa-star"></i></span>
        <span class="four"><i class="fa fa-star"></i></span>
        <span class="five"><i class="fa fa-star"></i></span>
        <span class="half"><i class="fa fa-star-half-o"></i></span>
      </span>
      {{ /if }}
    </div>
  </div>
</article>

</div>
</div>
{{ else }}
  {{ if first }}

  <section class="testimonials slider-testimonials">
    <div id="slider-testimonials" class="carousel slide" data-ride="carousel" data-interval="4000">
      <div class="carousel-inner">

  {{ /if }}

   <div class="item{{ if index == 1 }} active{{ /if }}">
    <div class="content">
       <span class="fa-stack fa-lg fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-quote-left fa-stack-1x fa-inverse"></i>
      </span>
      <span class="text">
         {{ content strip_tags="img|a|p|h1|h2|h3|h4|h5" safe_truncate="300" ensure_right="..." }} <a class="read-more" href="{{ url }}">Read Full Story &nbsp;<i class="fa fa-angle-double-right"></i> </a>
      </span>
      <span class="title">{{ title }}</span>
      {{ if img }}
      <div class="item-image" style="background: url('') center center; background-size:cover;"></div>
      {{ /if }}
    </div>
  </div>

  {{ if last }}

      </div>
      <a class="left carousel-control" href="#slider-testimonials" role="button" data-slide="prev">
      <span class="icon"><i class="fa fa-chevron-left"></i></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#slider-testimonials" role="button" data-slide="next">
        <span class="icon"><i class="fa fa-chevron-right"></i></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
  </section>

  {{ /if }}

{{ /if }}
