<div class="site-width-centered page-content-padding">
<div class="block-text-image side-{{ text_image_side }} text-image-align-{{ text_image_align }} clearfix">

  <div class="image">
    {{ text_image_image }}
    {{ partial:content-blocks/blocks/image }}
    {{ /text_image_image }}
  </div>
  <div class="content">
    {{ text_image_content }}
    {{ partial:content-blocks/blocks/text }}
    {{ /text_image_content }}
  </div>

</div>
</div>
