
<div class="{{ if text_block_settings:0:text_block_full_width }}full-width-text-block {{ else }}site-width-centered page-content-padding{{ /if }}">
  <div {{ if text_block_settings }}{{ text_block_settings }}class="block-text align-{{ align }} text-width-full-{{ text_width_full }} text-block-page-full-{{ text_block_full_width }} {{ if text_align_override }}{{ text_align_override }}align-override-{{ align_breakpoint }}-{{ align_override }} {{ /text_align_override }}{{ /if }} kind-{{ kind }} text-bg-color-{{ text_bg_color }} text-bg-opacity-{{ text_bg_opacity }} text-color-{{ text_color }} text-size-{{ text_size }} text-{{ text_transform }} font-weight-{{ text_weight }} text-font-{{ text_font }} {{ if text_color_custom }} has-custom-color{{ /if }} {{ if text_margin_settings }}{{ text_margin_settings }} has-margin text-margin-right-{{ right }} text-margin-left-{{ left }} text-margin-right-t-{{ right_t }} text-margin-left-t-{{ left_t }} text-margin-right-m-{{ right_m }} text-margin-left-m-{{ left_m }} {{ /text_margin_settings }}{{ /if }} default-margin-{{ text_default_margin }} default-margin-bottom-{{ text_default_margin_bottom }} {{ if text_footer }} has-text-footer{{ /if }} {{ if var_nopt}}no-pt{{ /if }}"
    style="{{ if text_color_custom }}color:#{{ text_color_custom }}{{ /if }} {{ if text_custom_styles }} {{ text_custom_styles }}{{ /if }}" {{ /text_block_settings }}{{ else }} class="block-text align-{{ align }} kind-{{ kind }} default-margin-{{ text_default_margin }} default-margin-bottom-{{ text_default_margin_bottom }} {{ if var_nopt}}no-pt{{ /if }}"{{ /if }}>
    {{ if text_block_settings:0:text_heading }}
    <h2 class="text-heading">{{ text_block_settings:0:text_heading }}</h2>
    {{ /if }}
    {{ if text }}
    <div
      {{ if text_block_settings }}{{ text_block_settings }}class="text-content {{ if text_bg_color !='none' }}has-bg-color{{ /if }} text-display-ib-{{ text_inline_block }} {{ if text_border_settings }}{{ text_border_settings }} has-border border-style-{{ text_border_style }} text-border-color-{{ text_border_color }} border-top-{{ text_border_top }} border-right-{{ text_border_right }} border-bottom-{{ text_border_bottom }} border-left-{{ text_border_left }} {{ /text_border_settings }}{{ /if }}"
      style="{{ if text_color !='none' }}color: inherit{{ /if }} {{ if text_inner_custom_styles }} {{ text_inner_custom_styles }}{{ /if }}" {{ /text_block_settings }}>{{ else }}
      class="text-content">{{ /if }}
{{#
      {{ if text_block_settings:0:text_svg_bg }}
      <div class="text-svg-bg-wrapper">
{{ partial:content-blocks/blocks/settings/backgrounds/index }}
      </div>
      {{ /if }}
#}}
      {{ if text_bg_color !='none' }}
      <div class="text-content-inner {{ if text_block_settings:0:text_block_full_width }}swc {{ /if }}">
        {{ text|markdown }}
      </div>
      {{ else }}
      {{ text|markdown }}
      {{ /if }}
    </div>
    {{ /if }}
    {{ if text_block_settings:0:text_footer }}
    {{ text_block_settings }}
    {{ text_footer }}
    <div class="text-footer footer-bg-color-{{ text_footer_bg }} has-arrow-{{ text_footer_arrow }} {{ if text_footer_image }}has-image {{ /if }} kind-{{ text_footer_style }}">
      {{ if text_footer_image }}
      <div class="footer-image" style="{{ text_footer_image_clip }}">
        <img class="img-responsive lazyload" 
        src='{{ glide:text_footer_image format="" width="120" height="120" pixelate="400" }}'
        data-src='{{ glide:text_footer_image format="" width="120" height="120" fit="crop_focal" }}' alt="">
      </div>
      {{ /if }}
      {{ if text_footer_text }}
        <div class="footer-text">
        {{ text_footer_text | markdown }}
        </div>
      {{ /if }}
      {{ if text_footer_arrow != "none" }}
      <div class="arrow size-{{ text_footer_arrow }} color-{{ text_footer_arrow_color }}"></div>
      {{ /if }}
    </div>
    {{ /text_footer }}
    {{ /text_block_settings }}
    {{ /if }}
  </div>
</div>