<div class="site-width-centered page-content-padding">
<div class="block-video rwd-iframe-{{ size }} align-{{ align }}">
<div class="rwd-iframe-wrapper">
<div class="rwd-iframe">

{{ if video_embed | is_embeddable }}
{{ if kind =="youtube" }}
  <iframe src="{{ video_embed | embed_url }}?rel=0{{ if mute }}&mute=1{{ /if }}{{ if start }}&start={{ start }}{{ /if }}{{ if end }}&end={{ end }}{{ /if }}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
{{ elseif kind == "vimeo" }}
  <iframe src="{{ video_embed | embed_url }}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
{{ /if }}
{{ else }}
  <video src="{{ video_embed | embed_url }}"></video>
{{ /if }}

</div>
</div>
</div>
</div>
