{{ if show_page_auto_content }}
<br><br>
{{ /if }}
<div class="page-container site-width-centered auto-layout-col clearfix">
  <div class="block-set-wrapper swc">
    <div class="block-sets">
      <div class="block-cols-wrapper">
        <div class="block-cols">
          <div class="row is-col-row">
            {{ if auto_content }}

              {{ if auto_col_widths == "even"}}
                <div class="col-md-6 col-item">
              {{ elseif auto_col_widths == "threeseven" }}
                <div class="col-md-4 col-item">
              {{ elseif auto_col_widths == "foursix" }}
                <div class="col-md-5 col-item">
              {{ elseif auto_col_widths == "seventhree" }}
                <div class="col-md-8 col-item">
              {{ elseif auto_col_widths == "sixfour" }}
                <div class="col-md-7 col-item">
              {{ /if }}

              <div class="col-content">
                <div class="block-text align-{{ auto_content_alignment }} kind-normal default-margin- default-margin-bottom-1 no-pt">
                  <div class="text-content">
                    <div class="text-content-inner">
                      {{ auto_content | markdown }}
                    </div>
                  </div>
                </div>
              </div>

            </div>
              {{ if auto_col_widths == "even"}}
                <div class="col-md-6 col-item">
              {{ elseif auto_col_widths == "threeseven" }}
                <div class="col-md-8 col-item">
              {{ elseif auto_col_widths == "foursix" }}
                <div class="col-md-7 col-item">
              {{ elseif auto_col_widths == "seventhree" }}
                <div class="col-md-4 col-item">
              {{ elseif auto_col_widths == "sixfour" }}
                <div class="col-md-5 col-item">
              {{ /if }}

              <div class="col-content">
              {{ if auto_image_text and auto_image_text_placement == "above" }}
                {{ auto_image_text | markdown }}
                <br>
              {{ /if }}
              {{ if auto_image_style == "gallery" }}
                {{ partial:auto-layouts/images-gallery }}
              {{ else }}
                {{ partial:auto-layouts/images-stacked }}
              {{ /if }}
              {{ if auto_image_text and auto_image_text_placement == "below" }}
                <br>
                {{ auto_image_text | markdown }}
              {{ /if }}
              </div>

            </div>
            {{ else }}
            <div class="col-md-7">
              {{ if auto_image_text and auto_image_text_placement == "above" }}
              {{ auto_image_text | markdown }}
              <br>
              {{ /if }}
              {{ if auto_image_style == "gallery" }}
              {{ partial:auto-layouts/images-gallery }}
              {{ else }}
              {{ partial:auto-layouts/images-stacked }}
              {{ /if }}
              {{ if auto_image_text and auto_image_text_placement == "below" }}
              <br>
              {{ auto_image_text | markdown }}
              {{ /if }}
            </div>
            {{ /if }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>