{{ if show_page_auto_content }}
<br><br>
{{ /if }}
<div class="page-container site-width-centered auto-layout-col clearfix">
  <div class="block-set-wrapper">
    <div class="block-sets">
      {{ if auto_content }}
        <div class="block-text align-{{ auto_content_alignment }} kind-normal default-margin- default-margin-bottom-1 no-pt">
          <div class="text-content">
            <div class="text-content-inner">
              {{ auto_content | markdown }}
            </div>
          </div>
        </div>
      {{ /if }}
      <br><br>
      {{ if auto_image_text and auto_image_text_placement == "above" }}
      {{ auto_image_text | markdown }}
      <br>
      {{ /if }}
      {{ partial:auto-layouts/images-gallery }}
      {{ if auto_image_text and auto_image_text_placement == "below" }}
      <br>
      {{ auto_image_text | markdown }}
      {{ /if }}

    </div>
  </div>
</div>