<div class="page-container site-width-centered auto-layout-excerpt clearfix">
  <div class="container-fluid container-swc">
    <div class="row">
      {{ if excerpt }}
      <div class="col-md-7">
        {{ excerpt | markdown }}
      </div>
      <div class="col-md-5">
        {{ if cover_img }}
        <img class="img-responsive" src='{{ glide:cover_img format="" width="700" height="500" fit="" }}'
          alt="{{ title }}" />
        {{ /if }}
      </div>
      {{ else }}
      {{ if cover_img }}
      <div class="col-md-12">
        <img class="img-responsive" src='{{ glide:cover_img format="" width="900" height="800" fit="" }}'
          alt="{{ title }}" />
      </div>
      {{ /if }}
      {{ /if }}
    </div>
  </div>
</div>