{{ var:var_size is="{auto_image_size}"}}
  {{ assets:auto_images }}
    <figure
      class="block-image auto-layout-image auto-image-size-{{ auto_image_size }} align-{{ align }} size-{{ img_size }} orient-{{ orient }} action-{{ action }} run-lazyload-{{ run_lazyload }} stacked-{{ toggle_stacked }} captions-{{ show_captions }} {{ if total_results > 1 }}has-multiple{{ /if }}{{ if show_border }}has-border{{ /if }}">
      {{ if {var:var_size} == "lg" }}
      <img class="img-responsive lazyload" 
        src='{{ glide:url format="" width="1000" height="714" pixelate="400" }}'
        data-src='{{ glide:url format="" width="1000" height="714" fit="" }}' />
      {{ elseif {var:var_size} == "md" }}
      <img class="img-responsive lazyload" 
        src='{{ glide:url format="" width="600" height="430" pixelate="400" }}'
        data-src='{{ glide:url format="" width="600" height="430" fit="" }}' />
      {{ else }}
      <img class="img-responsive lazyload" 
        src='{{ glide:url format="" width="300" height="214" pixelate="400" }}'
        data-src='{{ glide:url format="" width="300" height="214" fit="" }}' />
      {{ /if }}
      {{ if caption }}
      <figcaption>{{ caption }}</figcaption>
      {{ /if }}
    </figure>
    <br>
  {{ /assets:auto_images }}