{{ var:var_size is="{auto_image_size}"}}
<div class="block-gallery kind-standard {{ if item_layout == "gallery" }}auto-gallery-margin{{ /if }}">
  <div class="magnific-gallery popup-gallery {{ if item_layout == "col" }}popup-gallery-col{{ /if }} clearfix">
  {{ assets:auto_images }}
    {{ if {var:var_size} == "lg" }}
    <a class="item item-size-lg" href='{{ glide:url format="" width="1600" height="1600" fit="max" }}' title="{{ caption }}">
      <div class="item-content {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}data-src='{{ glide:url format="" width="900" height="900" fit="crop_focal" }}' style="background-image: url('{{ glide:url format="" width="2" height="2" fit="crop_focal" }}')"{{ else }}style="background-image: url('{{ glide:url format="" width="900" height="900" fit="crop_focal" }}')"{{ /if }}>
        <i class="fa fa-search-plus fa-2x"></i>
      </div>
    {{ elseif {var:var_size} == "md" }}
    <a class="item item-size-md" href='{{ glide:url format="" width="1600" height="1600" fit="max" }}' title="{{ caption }}">
      <div class="item-content {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}data-src='{{ glide:url format="" width="600" height="600" fit="crop_focal" }}' style="background-image: url('{{ glide:url format="" width="2" height="2" fit="crop_focal" }}')"{{ else }}style="background-image: url('{{ glide:url format="" width="600" height="600" fit="crop_focal" }}')"{{ /if }}>
        <i class="fa fa-search-plus fa-2x"></i>
      </div>
    {{ else }}
    <a class="item" href='{{ glide:url format="" width="1600" height="1600" fit="max" }}' title="{{ caption }}">
      <div class="item-content {{ if run_lazyload }}lazyload{{ /if }}" {{ if run_lazyload }}data-src='{{ glide:url format="" width="450" height="450" fit="crop_focal" }}' style="background-image: url('{{ glide:url format="" width="2" height="2" fit="crop_focal" }}')"{{ else }}style="background-image: url('{{ glide:url format="" width="450" height="450" fit="crop_focal" }}')"{{ /if }}>
        <i class="fa fa-search-plus fa-2x"></i>
      </div>
    {{ /if }}
    {{ if show_captions }}
      {{ if caption }}
      <span class="caption"> {{ caption }}</span>
      {{ /if }}
    {{ /if }}
  </a>
  {{ /assets:auto_images }}
  </div>
</div>
