{{ partial:item_header }}
{{ partial:nav/secondary }}


<section class="testimonials list-testimonials-2">
{{ relate:page_testimonials }}
  <article class="one">
    <div class="site-width-centered">
      <blockquote>
        {{ content }}
      </blockquote>
      <span class="cite">{{ person }} - {{ if position }}<em>{{ position }},</em> {{ /if }}<strong>{{ title }}</strong></span>
      &nbsp;&nbsp;
  {{ if stars }}
      <span class="rating-stars stars-count-{{ stars }}">
        <span class="one"><i class="fa fa-star"></i></span>
        <span class="two"><i class="fa fa-star"></i></span>
        <span class="three"><i class="fa fa-star"></i></span>
        <span class="four"><i class="fa fa-star"></i></span>
        <span class="five"><i class="fa fa-star"></i></span>
        <span class="half"><i class="fa fa-star-half-o"></i></span>
      </span>
  {{ /if }}
    </div>
    {{ work }}
      {{ if first }}
      <div class="work">
        <div class="site-width-centered">
					<div class="content">
	          <h2>{{ if website }}<a target="_blank" href="{{ website }}">View website <i class="fa fa-angle-double-right"></i></a> {{ /if }} Work completed for this client:</h2>
	    {{ /if }}
	          <span class="work-item">{{ title }}{{ unless last }}, {{ /if }}</span>
	    {{ if last }}
					</div>
        </div>
      </div>
      {{ /if }}
    {{ /work }}
  </article>
{{ /relate:page_testimonials }}
</section>
