{{ if redirect_do }}
  {{ redirect to="{redirect_to}" }}
{{ else }}
<div class="item-details">
{{ partial:item_header }}
{{ partial:nav/back :var_link="{gv_to_testimonials}" :var_text="All Testimonials" }}

<div class="page-container site-width-centered">
  <div class="detail-testimonial">

    <div class="content">
    {{ content }}
    </div>

    <h3>{{ title }}</h3>

    {{ if cover_img }}
    <div class="content-blocks">
      <figure class="block-image clearfix">
        <div class="magnific-gallery image-lightbox clearfix">
          <a class="item" href='{{ glide:cover_img format="" width="1200" height="1200" fit="max" }}' title="{{ cover_img:caption }}">
            <span class="icon"><i class="fa fa-search-plus fa-2x"></i></span>
            <img class="img-responsive" src='{{ glide:cover_img format="" width="600" height="450" fit="crop_focal" }}' alt="{{ cover_img:caption }}" />
          </a>
        </div>
      </figure>
    </div>
    {{ /if }}
  </div>
</div>

<div class="site-width-centered related-next">
	<hr>
	<div class="content">
	  {{ relate:item_related }}
    {{ if no_results }}
    {{ else }}
		{{ if first }}<h4 class="section-title">Related Posts</h4>{{ /if }}
	    <a href="{{ url }}">{{ title }}</a> {{ unless last }}<span class="divider">|</span> {{ /if }}
    {{ /if }}
	  {{ /relate:item_related }}
		<div class="prev-next">
			{{ collection:next in="events" as="posts" limit="1" sort="date:asc" }}
				{{ if no_results }}{{ /if }}
				{{ posts }}
						<a class="next" href="{{ url }}"><i class="fa fa-arrow-circle-right fa-3x"></i></a>
				{{ /posts }}
			{{ /collection:next }}
			{{ collection:previous in="events" as="posts" limit="1" sort="date:asc" }}
				{{ if no_results }}{{ /if }}
				{{ posts }}
						<a class="prev" href="{{ url }}"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
				{{ /posts }}
			{{ /collection:previous }}
		</div>
</div>
</div>


</div>
{{ /if }}
