{{ if "{{ gvcustomform:cf_email_logo }}" != "" }}
  <img src="{{ global:site_url }}{{ gvcustomform:cf_email_logo }}" width="{{ gvcustomform:cf_email_logo_width }}" height="auto" alt="">
  <br />
{{ else }}
  <h1>{{ site_name }}</h1>
{{ /if }}
