<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--[if !mso]><!-- -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!--<![endif]-->


<title>{{ var_title }}</title>


<style type="text/css">

@media only screen and (max-width: 640px)  {

.deviceWidth { width: 440px !important; padding: 0; }

.hideForMobile { display: none !important; }

.removePaddingForMobile { padding: 0 !important; }
.navPaddingForMobile { padding: 20px !important; }
.titlePaddingForMobile { padding: 15px 20px 0 20px !important; }
.textPaddingForMobile { padding: 15px 20px 15px 20px !important; }
.whiteBackgroundForMobile { background-color: #ffffff !important; }

}


@media only screen and (max-width: 479px) {

.deviceWidth { width: 280px !important; padding: 0; }

.hideForMobile { display: none !important; }

.removePaddingForMobile { padding: 0 !important; }
.navPaddingForMobile { padding: 20px !important; }
.titlePaddingForMobile { padding: 15px 20px 0 20px !important; }
.textPaddingForMobile { padding: 15px 20px 15px 20px !important; }
.whiteBackgroundForMobile { background-color: #ffffff !important; }

}


.ReadMsgBody { width: 100%; background-color: #fff; }
.ExternalClass { width: 100%; background-color: #fff; }

body {
width: 100%;
margin: 0;
padding: 0;
background-color: #fff;
font-family: Arial, sans-serif;
mso-line-height-rule: exactly;
-webkit-font-smoothing: antialiased;
-ms-text-size-adjust: none !important;
}

table { border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; }
table td { border-collapse: collapse; mso-table-lspace: 0; mso-table-rspace: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; }




.nav {
font-family: Arial, sans-serif;
font-size: 14px;
color: #272727;
font-weight: normal;
line-height: 14px;
mso-line-height-rule: exactly;
text-align: center;
vertical-align: top;
}

.nav a { color: #272727; text-decoration: none; }


.heading {
font-family: Arial, sans-serif;
font-size: 26px;
color: {{ var_color }};
font-weight: bold;
line-height: 26px;
mso-line-height-rule: exactly;
text-align: center;
vertical-align: top;
}

.heading a { color: {{ var_color }}; text-decoration: none; }


.title {
font-family: Arial, sans-serif;
font-size: 20px;
color: {{ var_color }};
font-weight: bold;
line-height: 24px;
mso-line-height-rule: exactly;
text-align: left;
vertical-align: top;
}

.title a { color: {{ var_color }}; text-decoration: none; }


.rssTitle {
font-family: Arial, sans-serif;
font-size: 16px;
color: {{ var_color }};
font-weight: bold;
line-height: 20px;
mso-line-height-rule: exactly;
text-align: left;
vertical-align: top;
}

.rssTitle a { color: {{ var_color }}; text-decoration: none; }


.bodyText { color: {{ var_color }}; }
.bodyText a { color: {{ var_color }}; font-weight: bold; }

.bodyText, .bodyText a {
font-family: Arial, sans-serif;
font-size: 14px;
line-height: 20px;
mso-line-height-rule: exactly;
vertical-align: top;
text-decoration: none;
}


.footerText {
font-family: Arial, sans-serif;
font-size: 12px;
color: #999999;
font-weight: bold;
line-height: 18px;
mso-line-height-rule: exactly;
text-align: center;
vertical-align: top;
}

.footerText a { color: #999999; text-decoration: none; }




.button1 { background-color: {{ var_color }}; }

.button1 a {
display: block;
border: 0;
padding: 10px;
font-family: Arial, sans-serif;
font-size: 14px;
color: #ffffff;
font-weight: bold;
line-height: 16px;
text-decoration: none;
text-align: center;
background: {{ var_color }};
border: 1px solid {{ var_color }};
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}


.button2 { background-color: #999999; }

.button2 a {
display: block;
border: 0;
padding: 10px;
font-family: Arial, sans-serif;
font-size: 14px;
color: #ffffff;
font-weight: bold;
line-height: 16px;
text-decoration: none;
text-align: center;
background: #999999;
border: 1px solid #999999;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}

.button1, .button2 {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
word-break: break-word;
word-wrap: break-word;
}

@media only screen and (max-width: 480px){
    #templateColumns{
        width:100% !important;
    }

    .templateColumnContainer{
        display:block !important;
        width:100% !important;
    }

    .columnImage{
        height:auto !important;
        max-width:480px !important;
        width:100% !important;
    }

    .leftColumnContent{
        font-size:16px !important;
        line-height:125% !important;
    }

    .rightColumnContent{
        font-size:16px !important;
        line-height:125% !important;
    }
}

</style>

<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml><![endif]-->

</head>


<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="width:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-color:#fff;font-family:Arial, sans-serif;mso-line-height-rule:exactly;-webkit-font-smoothing:antialiased;-ms-text-size-adjust:none !important;" >

    <!-- Start: Wrapper -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="border-spacing:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >
        <tr>
            <td width="100%" valign="top" bgcolor="#fff" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >

              <!-- Start: Preheader -->
                <div style="font-family:Arial, sans-serif;font-size:1px;color:#fff;line-height:1px;mso-line-height-rule:exactly;display:none;max-width:0px;max-height:0px;opacity:0;overflow:hidden;mso-hide:all;" >
                  {{ var_title }}
                </div>
                <!-- End: Preheader -->

                <!-- Start: Header -->
                <table border="0" cellpadding="0" cellspacing="0" align="center"  class="deviceWidth" style="width:582px;height:87px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;border-spacing:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >
                    <tr>
                        <td align="left" valign="bottom" style="width:201px;text-align:left;vertical-align:bottom;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >



                            <!-- Start: Logo -->
                            <table border="0" cellpadding="0" cellspacing="0" align="left"  class="deviceWidth" style="border-spacing:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >
                                <tr>
                                    <td align="left" valign="bottom" style="color:{{ var_color }};text-align:center;vertical-align:bottom;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >

                                      {{ partial:email/output/email-logo }}

                                    </td>
                                </tr>
                            </table>
                            <!-- End: Logo -->


                            <!--[if (gte mso 9)|(IE)]></td><td style="width:5px;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" ><![endif]-->


                            <!-- Start: Separator table -->
                            <table border="0" cellspacing="0" cellpadding="0" align="left"  class="deviceWidth" style="width:5px;border-spacing:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >
                                <tr>
                                    <td bgcolor="#fff" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >&nbsp;</td>
                                </tr>
                            </table>
                            <!-- End: Separator table -->


                            <!--[if (gte mso 9)|(IE)]></td><td align="right" valign="top" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" ><![endif]-->


                            <table border="0" cellspacing="0" cellpadding="0" align="right" class="deviceWidth" style="border-spacing:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >
                                <tr>
                                    <td style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >

                                        <!-- Start: Nav 3 -->
                                        <table border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth" style="border-spacing:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >
                                            <tr>
                                                <td align="center" valign="top"  class="nav navPaddingForMobile whiteBackgroundForMobile" style="padding-top:45px;padding-bottom:15px;padding-right:0;padding-left:20px;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;font-family:Arial, sans-serif;font-size:14px;color:#272727;font-weight:normal;line-height:14px;mso-line-height-rule:exactly;text-align:center;vertical-align:top;" >



                                                </td>
                                            </tr>
                                        </table>
                                        <!-- End: Nav 3 -->

                                    </td>
                                </tr>
                            </table>

                            <!--[if (gte mso 9)|(IE)]></td><td style="width:5px;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" ><![endif]-->


                            <!-- Start: Separator table -->
                            <table border="0" cellspacing="0" cellpadding="0" align="right"  class="deviceWidth" style="width:5px;border-spacing:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >
                                <tr>
                                    <td bgcolor="#fff" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >&nbsp;</td>
                                </tr>
                            </table>
                            <!-- End: Separator table -->

                        </td>
                    </tr>
                </table>
                <!-- End: Header -->

                <!-- Start: Main content container -->
                <table border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" style="width:580px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;border-spacing:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >
                    <tr>
                        <td align="center" bgcolor="{{ var_color }}" style="border-top: 1px solid {{ var_color }}; border-left-width:0;border-left-style:solid;border-left-color:{{ var_color }};border-right-width:0;border-right-style:solid;border-right-color:{{ var_color }};border-bottom-width:15px;border-bottom-style:solid;border-bottom-color:{{ var_color }};border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >

                            <table border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="{{ var_color }}"  class="deviceWidth" style="width:580px;border-spacing:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >
                                <tr>
                                    <td align="center" valign="top" bgcolor="{{ var_color }}"  class="heading" style="padding-top:20px;padding-bottom:20px;padding-right:15px;padding-left:15px;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;font-family:Arial, sans-serif;font-size:26px;color:{{ var_color }};font-weight:bold;line-height:26px;mso-line-height-rule:exactly;text-align:center;vertical-align:top;" >

                                        <span style="color:#fff;text-decoration:none;" >

                                          {{ var_heading }}

                                        </span>

                                    </td>
                                </tr>
                                {{ if var_desc }}
                                <tr>
                                  <td align="center" valign="top" bgcolor="{{ var_color }}"  class="bodyText" style="padding-top:0;padding-bottom:15px;padding-right:15px;padding-left:15px;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;color:#007446;font-family:Arial, sans-serif;font-size:14px;line-height:20px;mso-line-height-rule:exactly;vertical-align:top;text-decoration:none;" >
                                 <span style="color:#fff;font-weight:bold;font-family:Arial, sans-serif;font-size:14px;line-height:20px;mso-line-height-rule:exactly;vertical-align:top;text-decoration:none;" >
                                {{ var_desc }}
                                 </span>
                                  </td>
                                </tr>
                                {{ /if }}

                            </table>


                            <!-- Start: Mock RSS section -->
                            <table border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff"  class="deviceWidth" style="width:580px;border-spacing:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >
                                <tr>
                                    <td align="center" valign="top"  class="removePaddingForMobile" style="padding-top:5px;padding-bottom:5px;padding-right:0;padding-left:0;border-top-width:1px;border-top-style:solid;border-top-color:{{ var_color }};border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >


                                        <table border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" style="width:560px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;border-spacing:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >

                                            <tr>
                                                <td align="left" valign="top"  class="bodyText textPaddingForMobile" style="padding-top:5px;padding-bottom:5px;padding-right:0;padding-left:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;color:#333333;font-family:Arial, sans-serif;font-size:14px;line-height:20px;mso-line-height-rule:exactly;vertical-align:top;text-decoration:none;" >
