
                                                </td>
                                            </tr>
                                        </table>




                                    </td>
                                </tr>
                            </table>
                            <!-- End: Mock RSS section -->

                        </td>
                    </tr>
                </table>
                <!-- End: Main content container -->


                <!-- Start: Footer section -->
                <table border="0" cellpadding="0" cellspacing="0" align="center"  class="deviceWidth" style="width:580px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;border-spacing:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >
                    <tr>
                        <td align="center" valign="top"  class="removePaddingForMobile whiteBackgroundForMobile" style="padding-top:25px;padding-bottom:25px;padding-right:0;padding-left:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >

                            <!-- Start: Footer contact details and unsubscribe link -->
                            <table border="0" cellspacing="0" cellpadding="0" align="center"  class="deviceWidth" style="width:410px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;border-spacing:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;" >
                                <tr>
                                    <td align="center" valign="top" class="footerText" style="border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;font-family:Arial, sans-serif;font-size:12px;color:#999999;font-weight:bold;line-height:18px;mso-line-height-rule:exactly;text-align:center;vertical-align:top;" >


                        
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top"  class="footerText" style="padding-top:15px;padding-bottom:0;padding-right:0;padding-left:0;border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;font-family:Arial, sans-serif;font-size:12px;color:#999999;font-weight:bold;line-height:18px;mso-line-height-rule:exactly;text-align:center;vertical-align:top;" >

                                    {{ var_desc }}

                                    </td>
                                </tr>

                            </table>
                            <!-- End: Footer contact details and unsubscribe link -->

                        </td>
                    </tr>
                </table>

                <!-- End: Footer section -->

            </td>
        </tr>
    </table>
    <!-- End: Wrapper -->

    <div style="display:none;white-space:nowrap;font-style:normal;font-variant:normal;font-weight:normal;font-size:15px;font-family:courier;line-height:0;" >
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div>

</body>

</html>
