<h3 style="margin-top:20px">Your Details</h3>
<hr />

<p><strong>Name:</strong> {{ first_name }} {{ last_name }} <br />
<strong>Email:</strong> {{ email }}</p>

<h3 style="margin-top:20px">Transaction Details</h3>
<hr />
<p><strong>Amount: {{ amount }} <br />
<strong>Desc:</strong> {{ desc }} <br />
<strong>Transaction ID:</strong> {{ trans_id }} <br />
<strong>Transaction Time:</strong> {{ timestamp format="d-M-Y g:i:s a" }} <br />
<strong>Payment Method:</strong> {{ gateway | ucfirst }}</p>
{{ if gateway == 'stripe' }}
  <p><span style="color:#3CAC49;">{{ var_personalised }} Credit Card {{ gateway_vars }}{{ card }}(ending in {{ ending }}){{ /card }}{{ /gateway_vars }} has been charged for this order. </span></p>
{{ /if }}
