


.content-blocks {
.block-rabbit-holes {



// colours
  &.style-one {

    &.color-dark {
      .item {
        h2 {
          background: fade(@colord,90%);
          color: @colorw;
        }
        &:hover {
          h2 {
            background: @colorw;
            color: @colord;
          }
        }
      }
    }
    &.color-grey {
      .item {
        h2 {
          background: fade(@colorg,90%);
          color: @colord;
        }
        &:hover {
          h2 {
            background: @colord;
            color: @colorg;
          }
        }
      }
    }
    &.color-white {
      .item {
        h2 {
          background: fade(@colorw,90%);
          color: @colord;
        }
        &:hover {
          h2 {
            background: @colord;
            color: @colorw;
          }
        }
      }
    }
    &.color-black {
      .item {
        h2 {
          background: fade(@colorb,90%);
          color: @colorw;
        }
        &:hover {
          h2 {
            background: @colorw;
            color: @colorb;
          }
        }
      }
    }
    &.color-error {
      .item {
        h2 {
          background: fade(@color-error-dark,90%);
          color: @colorw;
        }
        &:hover {
          h2 {
            background: @colorw;
            color: @color-error-dark;
          }
        }
      }
    }
    &.color-one {
      .item {
        h2 {
          background: fade(@color1,90%);
          color: @color1-text-color;
        }
        &:hover {
          h2 {
            background: @color1-text-color;
            color: @color1;
          }
        }
      }
    }
    &.color-two {
      .item {
        h2 {
          background: fade(@color2,100%);
          color: @color2-text-color;
        }
        &:hover {
          h2 {
            background: @color2-text-color;
            color: @color2;
          }
        }
      }
    }
    &.color-three {
      .item {
        h2 {
          background: fade(@color3,90%);
          color: @color3-text-color;
        }
        &:hover {
          h2 {
            background: @color3-text-color;
            color: @color3;
          }
        }
      }
    }
    &.color-four {
      .item {
        h2 {
          background: fade(@color4,90%);
          color: @color4-text-color;
        }
        &:hover {
          h2 {
            background: @color4-text-color;
            color: @color4;
          }
        }
      }
    }
    &.color-onedark {
      .item {
        h2 {
          background: fade(@color1-dark,90%);
          color: @color1-text-color;
        }
        &:hover {
          h2 {
            background: @color1-text-color;
            color: @color1-dark;
          }
        }
      }
    }
    &.color-twodark {
      .item {
        h2 {
          background: fade(@color2-dark,90%);
          color: @color2-text-color;
        }
        &:hover {
          h2 {
            background: @color2-text-color;
            color: @color2-dark;
          }
        }
      }
    }
    &.color-onelight {
      .item {
        h2 {
          background: fade(@color1-light,90%);
          color: @color1-text-color;
        }
        &:hover {
          h2 {
            background: @color1-text-color;
            color: @color1-light;
          }
        }
      }
    }
    &.color-twolight {
      .item {
        h2 {
          background: fade(@color2-light,90%);
          color: @color2-text-color;
        }
        &:hover {
          h2 {
            background: @color2-text-color;
            color: @color2-light;
          }
        }
      }
    }



  }//style

// colours
  &.style-two {

    &.color-dark {
      .item {
        h2 {
          background: @colord;
          color: @colorw;
        }
        &:hover {
          h2 {
            background: @colorw;
            color: @colord;
          }
        }
      }
    }
    &.color-grey {
      .item {
        h2 {
          background: @colorg;
          color: @colord;
        }
        &:hover {
          h2 {
            background: @colord;
            color: @colorg;
          }
        }
      }
    }
    &.color-white {
      .item {
        h2 {
          background: @colorw;
          color: @colord;
        }
        &:hover {
          h2 {
            background: @colord;
            color: @colorw;
          }
        }
      }
    }
    &.color-black {
      .item {
        h2 {
          background: @colorb;
          color: @colorw;
        }
        &:hover {
          h2 {
            background: @colorw;
            color: @colorb;
          }
        }
      }
    }
    &.color-error {
      .item {
        h2 {
          background: @color-error-dark;
          color: @colorw;
        }
        &:hover {
          h2 {
            background: @colorw;
            color: @color-error-dark;
          }
        }
      }
    }
    &.color-one {
      .item {
        h2 {
          background: @color1;
          color: @color1-text-color;
        }
        &:hover {
          h2 {
            background: @color1-text-color;
            color: @color1;
          }
        }
      }
    }
    &.color-two {
      .item {
        h2 {
          background: @color2;
          color: @color2-text-color;
        }
        &:hover {
          h2 {
            background: @color2-text-color;
            color: @color2;
          }
        }
      }
    }
    &.color-three {
      .item {
        h2 {
          background: @color3;
          color: @color3-text-color;
        }
        &:hover {
          h2 {
            background: @color3-text-color;
            color: @color3;
          }
        }
      }
    }
    &.color-four {
      .item {
        h2 {
          background: @color4;
          color: @color4-text-color;
        }
        &:hover {
          h2 {
            background: @color4-text-color;
            color: @color4;
          }
        }
      }
    }
    &.color-onedark {
      .item {
        h2 {
          background: @color1-dark;
          color: @color1-text-color;
        }
        &:hover {
          h2 {
            background: @color1-text-color;
            color: @color1-dark;
          }
        }
      }
    }
    &.color-twodark {
      .item {
        h2 {
          background: @color2-dark;
          color: @color2-text-color;
        }
        &:hover {
          h2 {
            background: @color2-text-color;
            color: @color2-dark;
          }
        }
      }
    }


  }//style





  &.style-three {

    &.color-dark {
      .item {
        h2 {
          border-color: @colord;
          color: @colord;
        }
      }
    }
    &.color-grey {
      .item {
        h2 {
          border-color: @colorg;
          color: @colorg;
        }
      }
    }
    &.color-white {
      .item {
        h2 {
          border-color: @colorw;
          color: @colorw;
        }
      }
    }
    &.color-black {
      .item {
        h2 {
          border-color: @colorb;
          color: @colorb;
        }
      }
    }
    &.color-error {
      .item {
        h2 {
          border-color: @color-error-dark;
          color: @color-error-dark;
        }
      }
    }
    &.color-one {
      .item {
        h2 {
          border-color: @color1;
          color: @color1;
        }
      }
    }
    &.color-two {
      .item {
        h2 {
          border-color: @color2;
          color: @color2;
        }
      }
    }
    &.color-three {
      .item {
        h2 {
          border-color: @color3;
          color: @color3;
        }
      }
    }
    &.color-four {
      .item {
        h2 {
          border-color: @color4;
          color: @color4;
        }
      }
    }
    &.color-onedark {
      .item {
        h2 {
          border-color: @color1-dark;
          color: @color1-dark;
        }
      }
    }
    &.color-twodark {
      .item {
        h2 {
          border-color: @color2-dark;
          color: @color2-dark;
        }
      }
    }
    &.color-onelight {
      .item {
        h2 {
          border-color: @color1-light;
          color: @color1-light;
        }
      }
    }
    &.color-twolight {
      .item {
        h2 {
          border-color: @color2-light;
          color: @color2-light;
        }
      }
    }


  }//style






}
}//cb
