


// ##############################################################################
// ##############################################################################
// bg overlay

.content-blocks {
.block-rabbit-holes {

  .item {
    .image {
      &:before {
        .overlay-base;
        opacity: 0;
        z-index: 5;
      }
    }
  }


    &.bg-color-dark {
      .image {
        &:before {
          background: @colord;
        }
      }
    }
    &.bg-color-grey {
      .image {
        &:before {
          background: @colorg;
        }
      }
    }
    &.bg-color-white {
      .image {
        &:before {
          background: @colorw;
        }
      }
    }
    &.bg-color-black {
      .image {
        &:before {
          background: @colorb;
        }
      }
    }

    &.bg-color-one {
      .image {
        &:before {
          background: @color1;
        }
      }
    }
    &.bg-color-two {
      .image {
        &:before {
          background: @color2;
        }
      }
    }
    &.bg-color-three {
      .image {
        &:before {
          background: @color3;
        }
      }
    }
    &.bg-color-four {
      .image {
        &:before {
          background: @color4;
        }
      }
    }
    &.bg-color-onedark {
      .image {
        &:before {
          background: @color1-dark;
        }
      }
    }
    &.bg-color-twodark {
      .image {
        &:before {
          background: @color2-dark;
        }
      }
    }
    &.bg-color-onelight {
      .image {
        &:before {
          background: @color1-light;
        }
      }
    }
    &.bg-color-twolight {
      .image {
        &:before {
          background: @color2-light;
        }
      }
    }



    //overlay opacity overrides
    &.bg-opacity-1 {
      .image {
        &:before {
          opacity: .1;
        }
      }
    }
    &.bg-opacity-2 {
      .image {
        &:before {
          opacity: .2;
        }
      }
    }
    &.bg-opacity-3 {
      .image {
        &:before {
          opacity: .3;
        }
      }
    }
    &.bg-opacity-4 {
      .image {
        &:before {
          opacity: .4;
        }
      }
    }
    &.bg-opacity-5 {
      .image {
        &:before {
          opacity: .5;
        }
      }
    }
    &.bg-opacity-6 {
      .image {
        &:before {
          opacity: .6;
        }
      }
    }
    &.bg-opacity-7 {
      .image {
        &:before {
          opacity: .7;
        }
      }
    }
    &.bg-opacity-8 {
      .image {
        &:before {
          opacity: .8;
        }
      }
    }
    &.bg-opacity-9 {
      .image {
        &:before {
          opacity: .9;
        }
      }
    }
    &.bg-opacity-10, .opacity-full {
      .image {
        &:before {
          opacity: 1;
        }
      }
    }



    &.bg-opacity-0, &.bg-opacity-none {
      .image {
        &:before {
          opacity: 0;
        }
      }
    }


    &.bg-opacity- {
      .image {
        &:before {
          opacity: 1;
        }
      }
    }





  }//
}//cb
