
@import "overlay.less";
@import "colors.less";
@import "styles.less";


.content-blocks {
.block-rabbit-holes {

  padding-top: 30px;

// ICONS
.item {
  .custom-icon {
    display: block;
    position: absolute;
    .center-b;
    width: 130px;
    z-index: 15;

    top: 40%;

    img[src*="svg"] {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }
  }

  &.has-icon {
    .image {
      &:after {

      }
    }
  }
}

&.block-size-sm {
  .item {
    .custom-icon {
      width: 100px;
      top: 37%;
    }
  }
}






//row container override
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }


  &.block-size-sm {

    .item {
      .rwd-min-height-2(1400px,991px,767px,14vw,16vw,20vw,65vw);
      .image {
        .rwd-min-height-2(1400px,991px,767px,14vw,16vw,20vw,65vw);
      }
      h2 {
        font-size: @fsb * 1.25;
      }
    }
    &.style-four {
      .item {
        h2 {
          .text2 {
            font-size: @fsb * 0.9;
          }
        }
      }
    }

    &.style-two {
      .item {
        .rwd-min-height-2(1400px,991px,767px,15vw,21vw,27vw,65vw);
        .image {
          .rwd-min-height-2(1400px,991px,767px,15vw,21vw,27vw,65vw);
        }
      }
    }

  }//size

  &.block-size-md {

    .item {
      .rwd-min-height-2(1400px,991px,767px,19vw,23vw,30vw,73vw);
      .image {
        .rwd-min-height-2(1400px,991px,767px,19vw,23vw,30vw,73vw);
      }
      h2 {
        font-size: @fsb * 1.5;
      }
    }


    &.style-two {
      .item {
        .rwd-min-height-2(1400px,991px,767px,20vw,27vw,33vw,73vw);
        .image {
          .rwd-min-height-2(1400px,991px,767px,20vw,27vw,33vw,73vw);
        }
      }
    }


    &.image-size-lg {
      .item {
        .rwd-min-height-2(1400px,991px,767px,26vw,30vw,38vw,78vw);
        .image {
          .rwd-min-height-2(1400px,991px,767px,26vw,30vw,38vw,78vw);
        }
      }

      &.style-two {
        .item {
          .rwd-min-height-2(1400px,991px,767px,27vw,34vw,42vw,85vw);
          .image {
            .rwd-min-height-2(1400px,991px,767px,27vw,34vw,42vw,85vw);
          }
        }
      }
    }


  }//size


  &.block-size-lg {

    .item {
      .rwd-min-height-2(1400px,991px,767px,25vw,28vw,30vw,73vw);
      .image {
        .rwd-min-height-2(1400px,991px,767px,25vw,28vw,30vw,73vw);
      }
      h2 {
        font-size: @fsb * 1.5;
      }
    }
    &.style-two {
      .item {
        .rwd-min-height-2(1400px,991px,767px,28vw,33vw,35vw,73vw);
        .image {
          .rwd-min-height-2(1400px,991px,767px,28vw,33vw,35vw,73vw);
        }
      }
    }


    &.image-size-lg {
      .item {
        .rwd-min-height-2(1400px,991px,767px,35vw,38vw,38vw,78vw);
        .image {
          .rwd-min-height-2(1400px,991px,767px,35vw,38vw,38vw,78vw);
        }
      }

      &.style-two {
        .item {
          .rwd-min-height-2(1400px,991px,767px,32vw,36vw,42vw,85vw);
          .image {
            .rwd-min-height-2(1400px,991px,767px,32vw,36vw,42vw,85vw);
          }
        }
      }
    }


  }//size

  

  .item {

    display: block;
    margin-bottom: 30px;
    .transition(all 0.6);

    .content {
      position: relative;
      overflow: hidden;
    }

    .image {
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      .transition(.7s all);
      z-index: 3;

    }

    h2 {
      font-weight: 400;
      margin: 0;
      position: absolute;
      text-align: center;
      .transition(all 0.4s);
      z-index: 20;

      .rwd-width(@screen-sm-max,767px,80%,85%,90%);

      .text2 {
        font-size: @fsb * 1;
        .ffb;
      }
    }

    .item-icon {
      bottom: 0;
      color: @colorw;
      .center-h;
      opacity: 0;
      margin-top: -20px;
      position: absolute;
      z-index: 20;
      .transition(all 0.5s);
    }

    &:hover {
      .image {
        //image scale
        .scale(1.2,1.2);
      }
      .item-icon {
        //bottom: 10%;
        //opacity: 1;
        display: none;
      }
    }

  }//item






// type
    &.type-full {
      .row {
        margin: 0;
      }
      .item {
        margin-bottom: 0;
        padding: 0;

        .content {
          position: absolute;
          height: 100%;
          width: 100%;
          overflow: hidden;
        }
      .image {
        height: 100%;
        position: absolute;
        width: 100%;
      }
    }
  }







//size

  &.block-size-sm {

    &.style-two {
      .item {
        h2 {
          font-size: @fsb * 1.25;
          padding: 15px 15px 10px;
        }

        &:hover {
          h2 {
            padding: 20px 15px 20px;
          }
        }

      }
    }// style two

  }//sm




}//rabbit holes

} //.content-blocks




// ##############################################################################
// ##############################################################################
// rwd





@media only screen and (max-width: 992px) {

.content-blocks {
  .block-rabbit-holes {

    &.block-size-sm {

      &.style-two {
        .item {
          //min-height: 270px;
          .image {
            //min-height: 270px;
          }
        }
      }

    }//size
    &.block-size-md {

      .item {
        //min-height: 300px;
        .image {
          //min-height: 300px;
        }
        h2 {
          font-size: @fsb * 1.15;
        }
      }

      &.style-two {
        .item {
          //min-height: 300px;
          .image {
            //min-height: 300px;
          }
        }
      }

    }//size

  }

}// blocks
}// rwd





@media only screen and (max-width: 650px) {

.content-blocks {

.block-rabbit-holes {
  .item {

  }
}


/*

  .block-rabbit-holes {
    .item {
      margin-left: 0;
      margin-right: 0;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(odd) {
        margin-right: 0;
      }
    }
  }

*/

}// blocks

}// rwd





@media only screen and (max-width: 599px) {

.content-blocks {






} // end blocks
} // rwd
