
.content-blocks {

.block-rabbit-holes-2 {

  .item {
    float: left;
    margin: 0;
    position: relative;
    text-transform: uppercase;

    .content {
      overflow: hidden;
    }

    .image {
      position: relative;
      .rwd-height(@screen-sm-max,650px,400px,250px,320px);
      .transition(.6s all);
      h2 {
        color: @colorw;
        font-weight: bold;
        font-size: @fsb * 2.2;
        margin: 0;
        position: absolute;
        text-align: center;
        .center-b;
        z-index: 10;
      }
      &:after {
        .overlay-light;
        opacity: 0;
        z-index: 5;
      }
    }


    &.total-1 {

      @media only screen and (min-width: 651px) {
        margin-left: 25%;
      }//rwd


      .rwd-width(@screen-sm-max,650px,50%,50%,100%);
    }
    &.total-2 {
      .rwd-width(@screen-sm-max,650px,50%,50%,100%);
    }
    &.total-3 {
      .rwd-width(@screen-sm-max,650px,33.33%,50%,100%);
    }
    &.total-4 {
      .rwd-width(@screen-sm-max,650px,25%,50%,100%);
    }
    &.total-5 {
      .rwd-width(@screen-sm-max,650px,20%,50%,100%);
    }

    &:hover {
      .image {
        &:after {
          opacity: 0.3;
        }
        .scale(1.1,1.1);
      }

    }
  }//item



    &.block-size-sm {

      .item {
        .image {
          .rwd-height(@screen-sm-max,650px,280px,220px,220px);
        }
        h2 {
          font-size: @fsb * 1.8;
        }
      }

    }// size sm


  }
}// cb
