



.content-blocks {
.block-rabbit-holes {





//style


    &.style-one {
      .item {
        h2 {
          background: fade(@colorb, 90%);
          color: @colorw;
          font-size: @fsb * 1.5;
          font-weight: 400;
          padding: 20px 20px;
          position: absolute;
          .ffb;
          .center-b;
        }

        &:hover {
          h2 {
            background: @color1;
            color: @colorw;
            padding: 30px 20px 30px;
          }
        }

      }
    }// style two

    &.style-two {
      .item {
        h2 {
          background: @colord;
          bottom: 0;
          color: @colorw;
          font-size: @fsb * 1.5;
          font-weight: 400;
          padding: 20px 20px;
          width: 100%;
          .ffb;
        }

        &:hover {
          h2 {
            background: @color3;
            color: @colord;
            padding: 30px 20px 30px;
          }
        }

      }
    }// style two

    &.style-three {
      .item {
        h2 {
          background: none;
          border: 1px solid @colorw;
          color: @colorw;
          font-size: @fsb * 1.5;
          font-weight: 400;
          padding: 20px;
          text-transform: uppercase;
          .center-b;
          .ffb;
        }

        &:hover {
          h2 {

          }
        }

      }
    }// style


    &.style-four {
      .item {
        h2 {
          background: none;
          color: @colorw;
          font-size: @fsb * 1.5;
          font-weight: 400;
          padding: 20px 20px;
          text-align: left;
          .center-v;
          .ffb;

          .divider {
            border-bottom: 2px solid;
            border-color: inherit;
            display: inline-block;
            width: 100%;
          }
        }

        &:hover {
          h2 {

          }
        }

      }
    }// style




  }
}//cb
