You have successfully filled out a form on the {{ global:site_name }} website. The details are below.

{{ partial src="custom-form/forms/{form_name}-subheader-text" }}

{{ partial src="custom-form/forms/{form_name}-text" var_dest="success" }}
---
{{ partial:email/email-header var_color="{global:email_color}" var_title="{global:site_name} Form Submission" var_heading="{global:site_name}" type="form" }}
{{ partial src="custom-form/forms/{form_name}-subheader-html" }}
<br>
{{ partial src="custom-form/forms/{form_name}-html" var_dest="success" }}
<br><br>
{{ partial:email/email-footer var_desc="You are receiving this email because <br> you filled out a form on the {global:site_name} website." }}
