Someone has filled out a form on the {{ global:site_name }} website. The details are below.

{{ if gvcustomform:cf_show_csv }}
# CSV Output:
=====
{{ partial src="custom-form/forms/{form_name}-csv" }}
=====
{{ /if }}

{{ partial src="custom-form/forms/{form_name}-text" var_dest="workflow" }}
---
{{ partial:email/email-header var_color="{global:email_color}" var_title="{global:site_name} Form Submission" var_heading="{global:site_name}" type="form" var_desc="{form_name|upper|deslugify}" }}
{{ if gvcustomform:cf_show_csv }}
<h3>CSV Output:</h3>
<hr>
{{ partial src="custom-form/forms/{form_name}-csv" }}
<hr>
{{ /if }}
<br>
{{ partial src="custom-form/forms/{form_name}-html" var_dest="workflow" }}
<br><br>
{{ partial:email/email-footer var_desc="You are receiving this email because <br> you are listed as a ({global:site_name}) administrator" }}
